<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="CSI ANALYSIS">


    </kt-portlet-header>
    <kt-portlet-body>


        <div>
            <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
        </div>
        <br>
        <div class="general-container">
            <!-- <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)='export()'>Chart Export</button> -->
            <!-- <br> -->
            <div class="general-container-header">
                <h2>Grapical View</h2>
                <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)='export()'>Chart Export</button>
                <!-- <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" -->
                    <!-- (click)='export()'>Chart Export</button> -->
            </div>
        
            <br>
            <div class="general-container-body">

            <ejs-accumulationchart #chart id="chart-container" [tooltip]='tooltip' [title]='title'
                (pointClick)='pointClick($event)'>
                <e-accumulation-series-collection>
                    <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' [dataLabel]='datalabel'
                        radius="90%"></e-accumulation-series>
                </e-accumulation-series-collection>
            </ejs-accumulationchart>
            <label id="lbl"></label>
            </div>
            <br>
        </div>
    </kt-portlet-body>
</kt-portlet>