<!--begin::Body-->
<div class="col-11 card login col-lg-4 col-md-4 col-xl-4 col-sm-6 pull-right" *ngIf="login">
	<div class="kt-login__body">
		<!--begin::Signin-->
		<div class="kt-login__form ">
			<div class="kt-login__title"> 	
				<img src="./assets/media/bg/logosheader.png" alt="Logo">
				<br>
				<h4 class="mt-5 signinheader">Sign In</h4>
			</div>

			<kt-auth-notice></kt-auth-notice>
			<p style="color: red;"> {{error_msg}}</p>

			<!--begin::Form-->
			<form class="kt-form fp-forgot-pw text-center" [formGroup]="loginForm" autocomplete="off">

				<div class="form-group">
					<!-- <mat-form-field> -->
						<!-- new class added for label -->
						<!-- <div class="row"> -->
						<!-- <mat-label class="title_name">{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label> -->
						<!-- </div> -->
						<!-- <div class=" input-group mt-2"> -->
							<input  class="col-lg-12 login-email" type="email" formControlName="email" autocomplete="off" id="form-size" placeholder="Email">
						<!-- </div> -->
						<!-- placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" -->
						<mat-error *ngIf="isControlHasError('email','required')">
							<strong class="d-block text-left ml-2">{{ 'AUTH.VALIDATION.VALID_ADDRESS' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('email','pattern')">
							<strong class="d-block text-left ml-2">{{ 'AUTH.VALIDATION.INVALID_EMAIL' | translate }}</strong>
						</mat-error>
						<!-- <mat-error *ngIf="isControlHasError('email','minlength')">
									<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
								</mat-error> -->
						<!-- <mat-error *ngIf="isControlHasError('email','maxlength')">
									<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
								</mat-error> -->
					<!-- </mat-form-field> -->
				</div>
				<br>
				<div class="form-group">
					<!-- <mat-form-field class="pb-0"> -->
						<!-- Class added for  password show / hide -->
						<!-- <div class="row"> -->
						<!-- <mat-label class="title_name">{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label> -->
						<!-- </div> -->
						<!-- <div class="form-group"> -->
							<div class="input-group mb-3">
								<input [type]="fieldTextType ? 'text' : 'password'"  type="password"
									id="form-password"  class="col-lg-12 login-email" formControlName="password" placeholder="Password"
									autocomplete="off" />
								<!-- <div class="input-group-append eye-fa"> -->
									<!-- placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}" -->
									<div class="input-group-append">
									<i  class="fa eyes-fa login-eye" [ngClass]="{
											'fa-eye-slash': !fieldTextType,
											'fa-eye': fieldTextType
										  }" (click)="toggleFieldTextType()"></i>
										</div>
								</div>
							<!-- </div> -->
						<!-- </div> -->
						<mat-error *ngIf="isControlHasError('password','required')">
							<strong class="d-block text-left ml-2">{{ 'AUTH.VALIDATION.ENTER_PASSWORD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','password')">
							<strong class="d-block text-left ml-2">{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','minlength')">
							<strong class="d-block text-left ml-2">{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 6</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','maxlength')">
							<strong class="d-block text-left ml-2">{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>

					<!-- </mat-form-field> -->

				</div>

				<!--begin::Action-->
				<div class="row kt-login__actions my-2">
					<!-- <p class="link-forgot"><input type="checkbox" value="Remember me" style="font-weight: 400;
								color: #74788d;">Remember me</p> -->
					<p class="ml-auto"><a href="javascript:;" (click)="loginclick()"
							class="forgot_color">Forgot password?</a>
					</p>
					<!-- [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light signin-btn': loading}" -->
				</div>
				<!--class added for btn center-->
				<div class="text-center  mb-0">
					<button class="login-btn-submit textinc"  id="kt_login_signin_submit" [ngClass]="loaderclass"
						[disabled]="!loginForm.valid" (click)="submit()"
						>Sign
						In</button>
					
				</div>
				<div class="custom-footer">
					<p class="ftrlgntext">
						<!-- &copy; &nbsp; {{today | date:'yyyy'}}  -->
						<b class="footer-kaspon">Kaspon Techworks Private Limited. </b> All rights reserved. </p>
				</div>

				<!--end::Action-->
			</form>
			<!--end::Form-->
		</div>

		<!--end::Signin-->

	</div>
</div>

<!--begin::Body-->
<div class="col-11 card fogot-pw col-lg-4 col-md-4 col-xl-4 col-sm-6 pull-right" *ngIf="forgot">
	<div class="kt-login__body">
		<!--begin::Signin-->
		<div class="kt-login__form">
			<div class="kt-login__title">
				<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
			</div>

			<kt-auth-notice></kt-auth-notice>
			<div class="para">
				<p>Enter your e-mail address below to reset your password.</p>
			</div>
			<form class="kt-form fp-forgot-pw" [formGroup]="forgotPasswordForm" autocomplete="off">
				<div class="form-group">
					<!-- <mat-form-field> -->
						<!-- <div class="row"> -->
						<!-- <mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label> -->
						<!-- </div> -->
						<!-- <div class=" mt-2"> -->
							<input  class="col-lg-12 login-email" placeholder="Email" type="email" formControlName="email" autocomplete="off">
						<!-- </div> -->
						<!-- placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" -->
						<mat-error *ngIf="isControlHasError1('email','required')">
							<strong>{{ 'AUTH.VALIDATION.ENTER_EMAIL' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError1('email','pattern')">
							<strong>{{ 'AUTH.VALIDATION.INVALID_EMAIL' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError1('email','minLength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError1('email','maxLength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
						</mat-error>
					<!-- </mat-form-field> -->
				</div>
				<p style="color: red;"> {{error_msgs}}</p>
				<!--begin::Action-->
				<div class="kt-login__actions">
					<button (click)="forgotclick()" id="kt_login_signup_cancel"  
						class="btn-elevate  login-btn-back">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
					<button [disabled]="!forgotPasswordForm.valid" (click)="submits()" id="kt_login_signin_submit" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
						class="btn btn-outline-success custom-btn btn-sm btn-pill">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
				</div>
				<!--end::Action-->
			</form>
		</div>
	</div>
</div>




<div class="kt-grid__item d-none" >
	<div class="kt-login__info">
		<div class="kt-login__copyright">
			Copyright&nbsp;<a href="http://kaspontech.com" target="_blank" class="kt-link"><b class="footer-kaspon">
					Kaspon Techworks Private
					Limited </b></a>&nbsp;&copy;&nbsp;{{today | date:'yyyy'}}.&nbsp;
			All rights reserved.
		</div>
	</div>
</div>
<!--end::Body-->
<!--map script-->
	<!-- <script src="//maps.google.com/maps/api/js?v=3&sensor=false&libraries=adsense&key=AIzaSyCpGuMQiiTlZFrdJlhu4mvy4Ao_s9z4VkQ"></script> 
	<link rel="stylesheet" href="assets/js/leaflet-0.7.5/leaflet.css">
	<script src="assets/js/maps_tracking.js"></script> 
	<script src="assets/js/leaflet-0.7.5/leaflet.js"></script>
	<script src="assets/js/leaflet-plugins/google.js"></script>
	<script src="assets/js/leaflet-plugins/bing.js"></script>
	<link rel="stylesheet" href="assets/sass/styles_map.css">
	<script src="assets/js/maps.js"></script>  -->


