<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="Battery Age Report">


  </kt-portlet-header>
  <kt-portlet-body>


    <div>

      <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
    </div>
    <br>
    <div class="general-container">
      <div class="general-container-header">
        <h2>Grapical View</h2>
        <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
          (click)='export()'>Chart Export</button>
      </div>
      <br>
      <div class="general-container-body">
        <!-- <ejs-chart [title]='title' #chartid id="chart-container" [primaryXAxis]="primaryXAxis"
        [primaryYAxis]='primaryYAxis' [tooltip]='tooltip' (tooltipRender)="ontooltipRender($event)">
        <e-series-collection> -->
        <ejs-chart [title]='title' #chartid id="chart-container" [primaryXAxis]="primaryXAxis"
          [primaryYAxis]='primaryYAxis' >
          <e-series-collection>
            <!-- <e-series [dataSource]="chartData" type="Column" xName=Months yName="y" name=x fill='cornflowerblue' [marker]='marker'>
                    </e-series> -->
                    <!-- <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percent0_6" name="pecentage 0 To 6"
               [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percent7_12" name="pecentage 7 To 12"
              [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percent13_18" name="pecentage 13 To 18"
              [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percent19_24" name="pecentage 19 To 24"
              [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percent25_30" name="pecentage 25 To 30"
              [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percent31_36" name="pecentage 31 To 36"
              [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Line" xName="BatteryAge" yName="percentAbove36" name="pecentage Above 36"
            [marker]='marker'>
          </e-series> -->
                    <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=0_6 name="0 To 6 Months"
              fill='cornflowerblue' [marker]='marker' >
            </e-series>
            <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=7_12 name="7 To 12 Months"
              fill='brown' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=13_18 name="13 To 18 Months"
              fill='lavender' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=19_24 name="19 To 24 Months"
              fill='orange' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=25_30 name="25 To 30 Months"
              fill='Green' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=31_36 name="31 To 36 Months"
              fill='coral' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData" type="Column" xName="BatteryAge" yName=Above36 name="Above 36 Months"
              fill='Red' [marker]='marker'>
            </e-series>


          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
    <br>
    <br>
    <div class="general-container">
      <div class="general-container-header">
        <h2>Grid View</h2>
        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='export_table()'>Table
          Export</button>
      </div>

      <br>
      <br>
      <div class="general-container-body">
        <div class="table-responsive" #epltable>
          <table id="datatable" class="table table-striped table-bordered table-sm row-border hover datatable">
            <thead>
              <tr>
                <th style="width: 30%;" class="kt-footer kt-container max-tables">Battery Age</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">0 To 6 Months</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">7 To 12 Months</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">13 To 18 Months</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">19 To 24 Months</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">25 To 30 Months</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">31 To 36 Months</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">More Than 36 Months</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>