<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.SPARE' | translate}}">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <!-- <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right"
                (click)="openBulk(bulksparemaster)">{{'SPAREMASTER.BULK_SPARE' | translate}}
            </button> -->

            <!-- modal box for add -->
            <button class="btn btn-circle btn-sm btn-outline-dark btn-pill custom-btn"
            (click)="openLarge(bulkupload)">{{'USER.BULKUP' | translate}} </button>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right ml-2"
                (click)="openLarge(addsparemaster)">{{'SPAREMASTER.ADD_SPARE' | translate}}
            </button>
        </ng-container>
    </kt-portlet-header>
    <!-- portlet body begins -->
    <kt-portlet-body>


        <br>
        <!-- To Display the spares -->
        <div class="card-block table-responsive">
            <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <tr>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th style="width: 10%;" class="kt-footer kt-container"> {{'SPAREMASTER.SPARE_NAME' | translate}}
                        </th>
                        <th style="width: 10%;" class="kt-footer kt-container"> {{'SPAREMASTER.SPARE_CODE' | translate}}
                        </th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.PRO' | translate}}</th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.SUB_PRO' | translate}}
                        </th>

                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>

                    </tr>
                    <!-- columns for  table -->

                </thead>
                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of sparemasterdetails; let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.spare_name}} </td>
                        <td><a class="button" (click)="editspare(item);openLarge(view_spare);" data-placement="bottom"
                                ngbTooltip="View Details">{{item.spare_code}}</a></td>
                        <td>{{item.product.product_name}} </td>
                        <td>{{item.subproduct.subproduct_name}} </td>


                        <td class="datatable-center">
                            <!-- icons for edit and delete -->
                            <button style="padding:0px;" class="btn btn-base">
                                <i class="fa fa-edit" aria-hidden="true"
                                    (click)="editspare(item);openLarge(edit_spare)"></i>
                            </button>
                            <button style="padding:0px;" class='btn   btn-base' (click)="trashspare(item)">
                                <i class="fa fa-trash trash" aria-hidden="true"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="color: red;">{{errors}}</p>
        </div>
    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>

<!--Modal box to add the spare details-->
<ng-template #addsparemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.ADD_SPARE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="form_body" [formGroup]="Addsparemaster" novalidate=""
            class="custom-forms ng-untouched ng-pristine ng-valid">

            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_CODE' | translate}}: </label>
              </div>
                    <div class="col-lg-7">
                    <input placeholder="Enter Spare Code" type="text" class="form-control" formControlName="spare_code">
                    <div *ngIf="add.spare_code.errors && (add.spare_code.dirty || add.spare_code.touched)"
                        class="m-b-10 error">
                        <div *ngIf="add.spare_code.errors.required" style="color:red">
                            {{'SPAREMASTER.SPARE_CODE' | translate}}
                            {{'USER.REQ' | translate}}
                        </div>
                        <div *ngIf="!Addsparemaster.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SPAREMASTER.SPARE_CODE' | translate}}
                        </div>
                    </div>
                </div>
               
            </div>
            <br>

            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_NAME' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <input placeholder="Enter Spare" type="text" class="form-control" formControlName="spare_name">
                    <div *ngIf="add.spare_name.errors && (add.spare_name.dirty || add.spare_name.touched)"
                        class="m-b-10 error">
                        <div *ngIf="add.spare_name.errors.required" style="color:red">
                            {{'SPAREMASTER.SPARE_NAME' | translate}}
                            {{'USER.REQ' | translate}}
                        </div>
                        <div *ngIf="add.spare_name.errors.maxLength" style="color:red">
                            {{'SPAREMASTER.SPARE_NAME' | translate}}
                            {{'SPAREMASTER.MAX' | translate}}
                        </div>
                        <div *ngIf="!Addsparemaster.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SPAREMASTER.SPARE_NAME' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.PRO' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <select class="form-control" formControlName="product_id"
                        (change)="onChangeProduct($event.target.value)" name="product_id" id="product_id">
                        <option value="null">Select Product
                        </option>

                        <option *ngFor="let items of product_details" [value]=items.product_id>
                            {{items.product_name}}
                        </option>
                    </select>
                    <div *ngIf="add.product_id.errors && (add.product_id.dirty || add.product_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="add.product_id.errors.required" style="color:red">{{'SPAREMASTER.PRO' | translate}}
                            {{'USER.REQ' | translate}}
                        </div>
                    </div>
                </div>
              
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label">{{'SPAREMASTER.SUB_PRO' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <!-- <div> -->
                        <select class="form-control" formControlName="subproduct_id" name="subproduct_id"
                            id="subproduct_id">
                            <option value="null">Select Sub Product
                            </option>

                            <option *ngFor="let items of subproduct_details" [value]=items.product_sub_id>
                                {{items.product_sub_name}}
                            </option>
                        </select>
                        <div *ngIf="add.subproduct_id.errors && (add.subproduct_id.dirty || add.subproduct_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="add.subproduct_id.errors.required" style="color:red">
                                {{'SPAREMASTER.SUB_PRO' | translate}}
                                {{'USER.REQ' | translate}}
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>

            <br>
<div class="row">
    <div class="col-lg-5">
        <label class="control-label"> {{'SPAREMASTER.SPAREMODEL' | translate}}: </label>
    </div>
    <div class="col-lg-7">

        <input placeholder="Enter Spare Model" type="text" class="form-control" formControlName="spare_model">
        <div *ngIf="add.spare_code.errors && (add.spare_model.dirty || add.spare_model.touched)"
            class="m-b-10 error">
            <div *ngIf="add.spare_model.errors.required" style="color:red">
                {{'SPAREMASTER.SPAREMODEL' | translate}}
                {{'USER.REQ' | translate}}
            </div>
            <div *ngIf="!Addsparemaster.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                {{'SPAREMASTER.SPAREMODEL' | translate}}
            </div>
        </div>
    </div>
</div>
<!-- <br> -->
        </form>
        <p *ngIf="errors" style="color: red;">{{errors}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <!-- button for submit -->
            <button type="button"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit" (click)="addspare(myInput)"
                data-ktwizard-type="action-submit" [disabled]="!Addsparemaster.valid">{{'NEW_SUBSCRIPTION.SUB' |
                translate}}</button>
            <br>
        </div>
    </div>
</ng-template>


<!-- modal box for bulk upload -->
<ng-template #bulksparemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.UPLOAD_SPARELIST' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-5 nopadding">
                <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
                    href="assets/sample_templates/Inventory_management.xlsx">{{'SPAREMASTER.SAMPLE' | translate}}</a>

            </div>
            <div class="col-sm-7 nopadding">
                <div class="custom-file mb-3">
                    <input type="hidden" value="" name="file-upload">
                    <!-- <span>{{Filename}}</span> -->
                    <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)"
                        name="filename">
                    <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                    <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                    <p style="color: red;">{{error}}</p>
                </div>

            </div>

            <div style="color: red;" *ngFor="let number of bulk;  let i=index">
                {{i+1}}. {{number}}

            </div>
            <div class="col-sm-9" style="display:none">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="input-group input-large">
                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn default btn-file">
                            <span class="fileinput-new" id="span-button"> {{'SPAREMASTER.SELECT' | translate}} </span>

                            <input type="hidden" value="" name="file-upload">
                            <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)"> </span>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <!-- {{disabled}} -->
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
            {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [disabled]=disabled
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
            (click)="filesubmit(myInput)">{{'SPAREMASTER.UPLOAD' | translate}}</button>


    </div>

</ng-template>


<!-- modal box for spaer image -->
<ng-template #spareimagemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Spare Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <p>showing spare image</p> -->
        <div class="text-center">
            <img src={{httplink}}{{spareImage}} />
        </div>
    </div>

</ng-template>
<!-- modal box for edit the spare details -->
<ng-template #edit_spare let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.EDIT_SPARE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Editsparemaster">
            <div class="row" style="display:none">
                <!-- label for SpareID-->
                <label class="control-label col-lg-5"> Spare id </label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" formControlName="spare_master_id" readonly="">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_CODE' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <input placeholder="Enter Spare Code" type="text" class="form-control" formControlName="spare_code">
                    <div *ngIf="log.spare_code.errors && (log.spare_code.dirty || log.spare_code.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.spare_code.errors.required" style="color:red">
                            {{'SPAREMASTER.SPARE_CODE' | translate}}
                            {{'USER.REQ' | translate}} </div>
                        <div *ngIf="!Editsparemaster.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SPAREMASTER.SPARE_CODE' | translate}}
                        </div>
                    </div>
                </div>
              
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_NAME' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <input placeholder="Enter Spare" type="text" class="form-control" formControlName="spare_name">
                    <div *ngIf="log.spare_name.errors && (log.spare_name.dirty || log.spare_name.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.spare_name.errors.required" style="color:red">
                            {{'SPAREMASTER.SPARE_NAME' | translate}}
                            {{'USER.REQ' | translate}} </div>
                        <div *ngIf="!Editsparemaster.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SPAREMASTER.SPARE_NAME' | translate}}
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
         
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.PRO' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <select class="form-control" formControlName="product_id"
                        (change)="onChangeProductEdit($event.target.value)">
                        <option disabled=" ">Select Product
                        </option>

                        <option *ngFor="let items of product_details" [value]=items.product_id>
                            {{items.product_name}}
                        </option>
                    </select>
                    <div *ngIf="log.product_id.errors && (log.product_id.dirty || log.product_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.product_id.errors.required" style="color:red">{{'SPAREMASTER.PRO' | translate}}
                            {{'USER.REQ' | translate}} </div>


                    </div>
                </div>
             
            </div>
            <br>


            <div class="row">
                <div class="col-lg-5">
                    <!-- <div class="control-label"> -->
                        <label class="control-label">{{'SPAREMASTER.SUB_PRO' | translate}} :</label>
                    </div>
                    <div class="col-lg-7">
                    <!-- <div> -->
                        <select class="form-control" formControlName="subproduct_id" name="subproduct_id"
                            id="subproduct_id">
                            <option value="null">Select Sub Product
                            </option>
                            <option *ngFor="let items of subproduct_details" [value]=items.product_sub_id>
                                {{items.product_sub_name}}
                            </option>
                        </select>
                        <div *ngIf="log.subproduct_id.errors && (log.subproduct_id.dirty || log.subproduct_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.subproduct_id.errors.required" style="color:red">
                                {{'SPAREMASTER.SUB_PRO' | translate}}
                                {{'USER.REQ' | translate}} </div>
                        </div>
                    <!-- </div> -->

                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.SPAREMODEL' | translate}}: </label>
                </div>
                <div class="col-lg-7">
                    <input placeholder="Enter Spare Model" type="text" class="form-control" formControlName="spare_model">
                    <div *ngIf="log.spare_model.errors && (log.spare_model.dirty || log.spare_model.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.spare_code.errors.required" style="color:red">
                            {{'SPAREMASTER.SPAREMODEL' | translate}}
                            {{'USER.REQ' | translate}} </div>
                        <div *ngIf="!Editsparemaster.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SPAREMASTER.SPAREMODEL' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
        </form>
        <p *ngIf="errors" style="color: red;">{{errors}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
                {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
                [disabled]="Editsparemaster.invalid" (click)="editsparemaster()"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}"
                data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>
    </div>
</ng-template>
<!-- modal box for view the spare details -->
<ng-template #view_spare let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.VIEW_SPARE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
  

        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Editsparemaster">
        
            <div class="row">
                <div class="col-lg-5">
                    <!-- label for package plan -->
                    <label class="control-label"> {{'SPAREMASTER.SPARE_CODE' | translate}}: </label>
                </div>

                <div class="col-lg-7">
        
                    <input type="text" class="form-control b-none" formControlName="spare_code" readonly
                        placeholder="Enter Spare Code">

                        <div class="">{{Editsparemaster.spare_code}}</div>
                </div>
                <!-- </div>
            <br> -->
                <!-- <div class="row"> -->
               
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <!-- label for from range user -->
                    <label class="control-label"> {{'SPAREMASTER.SPARE_NAME' | translate}}: </label>                    
                </div>
                <div class="col-lg-7">                 
                    <input placeholder="Enter Spare Name" type="text" class="form-control  b-none" formControlName="spare_name"
                        readonly>

                    <!-- </div> -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.PRO' | translate}}: </label>
                  
                </div>

                <div class="col-lg-7">
                    <div>

                        <select class="form-control forselect" formControlName="product_id" disabled>
                            <option disabled="">Select Product
                            </option>

                            <option *ngFor="let items of product_details" [value]=items.product_id>
                                {{items.product_name}}
                            </option>
                        </select>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <div class="control-label">
                        <!-- label for discount percent -->
                        <label>{{'SPAREMASTER.SUB_PRO' | translate}} :</label>
                    </div>
                </div>
                    <div class="col-lg-7">
                        <div>
                            <select class="form-control forselect" formControlName="subproduct_id" name="product_sub_id"
                                id="subproduct_id" disabled>
                                <option disabled="">Select Sub Product
                                </option>

                                <option *ngFor="let items of subproduct_details" [value]=items.product_sub_id>
                                    {{items.product_sub_name}}
                                </option>
                            </select>

                        </div>

                        <div class=""></div>
                    </div>
               
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'SPAREMASTER.SPAREMODEL' | translate}}: </label>
                  
                </div>
                <div class="col-lg-7">
                    <div>
                        <input placeholder="Enter Spare Model" type="text" class="form-control b-none" formControlName="spare_model"
                        readonly>

                    </div>
                </div>
            </div>
        </form>
        <!-- end form group -->

    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
                {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>

        </div>
    </div>
</ng-template>

<!-- Dialog for bulk upload for sparemaster-->
<ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{'USER.UPLOAD' | translate}} {{'MENU.SPARE' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-5 nopadding">
          <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
            href="assets/sample_templates/sparemaster.xlsx">{{'USER.SAMPLE' | translate}}</a>
  
        </div>
        <div class="col-sm-7 nopadding">
          <div class="custom-file mb-3">
             
            <input type="hidden" value="" name="file-upload">
            <input type="file" class="custom-file-input" id="fileUploader" (change)="fileUpload($event)"
              name="fileUploader" #fileUploader />
            <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
            <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
            <p style="color: red;">{{error}}</p>
          </div>
          <p style="color:red">{{errors}}</p>
  
        </div>
      </div>
      
    </div>
    <div style="color: red;" *ngFor="let number of bulk;  let i=index">
      {{i+1}}. {{number}}
  
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-red  btn-pill btn-sm custom-btn"
        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-outline-success  btn-pill btn-sm custom-btn"
      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
        (click)="bulkfilesubmit(myInput)">{{'USER.UPLOAD' | translate}}</button>
    </div>
  </ng-template>