
  
 
  
  
  .ngx-org {
    &-horizontal {
      padding: 1em 0;
    }
  
    &-vertical {
      padding: 0 1em;
    }
  
    &-border {
      border: 1px solid blue;
    }
  
    &-box {
      padding: 0.5em 1em;
      border-radius: .2em;
      box-shadow: 0.05em 0.05em 0.2em 0.05em blue;
    }
  
    &-connector {
      &-horizontal {
        width: 1em;
      }
  
      &-vertical {
        height: 1em;
      }
    }
  }
  .ngx-org {
    &-image {
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      margin-right: 0.5em;
      background-color:blue;
      border-radius: 50%;
      padding: 0.25em;
    }
  
   
  }
  
 
  
  
  .ngx-org {
    &-horizontal {
      padding: 1em 0;
    }
  
    &-vertical {
      padding: 0 1em;
    }
  
    &-border {
      border: 1px solid blue;
    }
  
    &-box {
      padding: 0.5em 1em;
      border-radius: .2em;
      box-shadow: 0.05em 0.05em 0.2em 0.05em blue;
    }
  
    &-connector {
      &-horizontal {
        width: 1em;
      }
  
      &-vertical {
        height: 1em;
      }
    }
  }
  .ngx-org-box[_ngcontent-wqv-c16] {
    cursor: pointer;
    display: inline;
    align-items: center;
}