<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header [title]="">
      <!--heading for portlet-->
  </kt-portlet-header>
  <!-- portlet body begins -->
  <kt-portlet-body>
<ngx-org-chart [nodes]="getorgnode" direction="vertical" (click)="openLarge(edit_location)" (itemClick)="test($event)">
  <div contenteditable="true">
  </div>
</ngx-org-chart>
</kt-portlet-body>
  <!-- ends portlet body -->
</kt-portlet>
<ng-template #edit_location let-c="close" let-d="dismiss">
<div class="modal-header">
  <!-- title for renew -->
  <h4 class="modal-title">Edit Location</h4>
  <!-- icon for close -->
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- body begin -->
<div class="modal-body">
  <kt-portlet [class]="'kt-portlet--height-fluid'">
    <!-- begin body for portlet-->
    <kt-portlet-body>
      <div class="kt-section">
        <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                  [formGroup]="Edit_node" (ngSubmit)="editform(data)">
                
        <div class="form-body">
         <!-- empty row -->
          <div class="row" style="display:none">
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> Node Id</label>
            <div class="col-lg-8">
                <input type="hidden" class="form-control" name="hidden_node_id" formControlName="id"
                    id="hidden_node_id" readonly="">
            </div>
          </div>
          <br>
           <input type="hidden" class="form-control" name="hidden_node_id" formControlName="parent_id"
                     readonly="" id="hidden_node_id" >
           <input type="hidden" class="form-control" name="hidden_node_id" formControlName="country_id"
           readonly="" id="hidden_node_id" >
           <input type="hidden" class="form-control" name="hidden_node_id" formControlName="state_id"
           readonly="" id="hidden_node_id" >
            <input type="hidden" class="form-control" name="hidden_node_id" formControlName="city_id"
                     readonly="" id="hidden_node_id" >
                     <input type="hidden" class="form-control" name="hidden_node_id" formControlName="location_id"
                     readonly="" id="hidden_node_id" >
          <input type="hidden" class="form-control" name="hidden_node_id" formControlName="level"
                     readonly="" id="hidden_node_id" >
          
            <div class="row" *ngIf="edit_data.level ==1">
            <!-- label for CompanyID-->
            <!-- div *ngIf='country_id!=101'>Am parent</div>
            <div>Am not a parent</div> -->

            <label class="control-label col-lg-4"> Country</label>
            <div class="col-lg-8">
              
              <select formControlName="country_id" class="form-control"
                (change)="onChangeCountry($event.target.value)">
                <option value="">Select Country</option>
                <option *ngFor="let items of country" [value]=items.country_id >
                  {{items.country_name}}</option>

              </select>
            </div>
          </div>
        <br>

          <div class="row" *ngIf="edit_data.level ==2">
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> State</label>
            <div class="col-lg-8">
              <select formControlName="state_id" class="form-control" (change)="onChangestate($event.target.value)">
              <option value="">Select State</option>
              <option *ngFor="let items of states" [value]=items.state_id>
              {{items.state_name}}</option>

              </select>
            </div>
          </div>
          <br>
          
          <div class="row" *ngIf="edit_data.level ==3" >
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> District</label>
            <div class="col-lg-8">
              <select formControlName="city_id" class="form-control" (change)="onChangecity($event.target.value)">
                <option value="">Select District</option>
                <option *ngFor="let items of cities" [value]=items.city_id>
                  {{items.city_name}}</option>

              </select>
            </div>
          </div>           
          <br>
           
          <div class="row" *ngIf="edit_data.level ==4" >
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> Location</label>
            <div class="col-lg-8">
              <select formControlName="location_id" class="form-control">
                <option value="">Select Location</option>
                <option *ngFor="let items of locations" [value]=items.location_id>
                  {{items.location_name}}</option>

              </select>
            </div>
          </div>           
          <br>
        </div>
        
                  <!-- form actions begin -->
        <div class="form-actions" class="text-center">
            <div class="row">
                <!-- column for submit button -->
                <div class="col-md-12" style="margin-left: 6% !important;">
                    <div class="col-md-12">
                        <!-- button for update -->
                        <button type="submit" class="btn btn-primary">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
                       <!-- button for close -->
                        <button type="button" class="btn btn-secondary"
                            (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- form actions end -->
      </form>
        <!-- end form group -->
    </div>
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->
    </kt-portlet-body>
    <!-- end body for portlet-->
  </kt-portlet>
</div>
</ng-template>