<kt-portlet [class]="'kt-portlet--height-fluid'">

    <kt-portlet-header title="Billing Details">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn kt-font-bold btn-sm btn-pill pull-right"
                (click)="open2(content2)">Bulk
                Upload</button>
        </ng-container>
    </kt-portlet-header>
    <br>
    <div class="portlet box dark">



        <div class="kt-section__content overall-padding">

            <ngb-tabset [justify]="currentJustify" #t="ngbTabset">
                <!-- Tab-1 for setcharges -->
                <ngb-tab id="tab-selectbyid1" title="Set Charges">
                    <!--Title for tab-1 -->
                    <ng-template ngbTabContent>
                        <!-- Create a form group -->
                        <!-- begin form-group -->
                        <form id="form_body" [formGroup]="Setcharges" (ngSubmit)="submitform()" novalidate=""
                            class="custom-forms ng-untouched ng-pristine ng-valid">
                            <div class="row">
                                <!-- empty column -->
                                <div class="col-md-0" style="display:none;">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <!-- column for bulk upload -->
                                <div class="col-md-12 ">



                                </div>
                            </div>


                            <br>
                            <!-- started the form -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label">Company Name:</label>
                                </div>
                                <!-- empty column -->
                                <div class="col-lg-8">
                                    <div class="col-md-1" style="display:none;">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <!-- Dropdown list -->
                                        <select formControlName="company" class="form-control">
                                            <option value="" selected="empty" disabled="">--Select Company--</option>
                                            <option value="company1">Whirlpool</option>
                                            <option value="company2">Jeeves</option>
                                            <option value="company3">Easy home</option>
                                        </select>
                                        <!-- conditions for errors -->
                                        <div *ngIf="log.company.errors && (log.company.dirty || log.company.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.company.errors.required" style="color:red">company name is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label">Priority Level:</label>
                                </div>
                                <!-- empty column -->
                                <div class="col-lg-8">
                                    <div class="col-md-1" style="display:none;">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <!-- Dropdown for priority -->
                                        <select class="form-control" id="priority" name="priority"
                                            formControlName="priority">
                                            <option value="" selected="empty" disabled="">--Select Priority--</option>
                                            <option value="P1">P1</option>
                                            <option value="P2">P2</option>
                                            <option value="P3">P3</option>
                                            <option value="P4">P4</option>
                                        </select>
                                        <!-- conditions for errors -->
                                        <div *ngIf="log.priority.errors && (log.priority.dirty || log.priority.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.priority.errors.required" style="color:red">priority is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Product category -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label">Product Category:</label>
                                </div>
                                <!-- empty column -->
                                <div class="col-lg-8">
                                    <div class="col-md-1" style="display:none;">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <!-- Onchange function for  subproduct -->
                                        <select formControlName="product" class="form-control"
                                            (change)="changeproduct($event)">
                                            <option value="" selected="empty" disabled="">--Select Product--</option>
                                            <!-- <option value="empty" selected disabled>No Product-Category Available</option> -->
                                            <!-- Dropdown for product -->
                                            <option *ngFor="let product of product1" id="product" value="{{product}}">
                                                {{product}}</option>
                                        </select>
                                        <!-- conditions for errors -->
                                        <div *ngIf="log.product.errors && (log.product.dirty || log.product.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.product.errors.required" style="color:red">product is
                                                required
                                            </div>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="isSubmitted && product.errors?.required">
                                            <sup>*</sup>Please select your product..
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label">Sub-Category</label>
                                </div>
                                <!-- empty column -->
                                <div class="col-lg-8">
                                    <div class="col-md-1" style="display:none;">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <!-- onchange function for view available -->
                                        <select formControlName="category" class="form-control"
                                            (change)="changecategory($event)">
                                            <!-- Dropdown list for sub-product -->
                                            <option value="" selected="empty" disabled="">--Select sub-product--
                                            </option>


                                            <option *ngFor="let category of category1" id="category"
                                                value="{{category}}">
                                                {{category}}</option>
                                        </select>
                                        <!-- conditions for errors -->
                                        <div *ngIf="log.category.errors && (log.category.dirty || log.category.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.category.errors.required" style="color:red">category is
                                                required
                                            </div>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="isSubmitted && category.errors?.required">
                                            <sup>*</sup>Please select your sub-product..
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label">Per-Call Charges within SLA:</label>
                                </div>
                                <!-- empty column -->
                                <div class="col-lg-8">
                                    <div class="col-md-1" style="display:none;">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="float" class="form-control" id="sla_amt" formControlName="sla_amt"
                                            name="sla_amt" maxlength="4" placeholder="Enter Digits Only">

                                        <!-- conditions for errors -->
                                        <div *ngIf="log.sla_amt.errors && (log.sla_amt.dirty || log.sla_amt.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.sla_amt.errors.required" style="color:red">SLA amount is
                                                required</div>

                                            <div *ngIf="log.sla_amt.errors.pattern" style="color:red">SLA amount is
                                                must be digits only</div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label">Per-Call Charges for Elapsed SLA:</label>
                                </div>
                                <!-- empty column -->
                                <div class="col-lg-8">
                                    <div class="col-md-1" style="display:none;">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="float" class="form-control" id="elapsed_amt"
                                            formControlName="elapsed_amt" name="elapsed_amt" maxlength="4"
                                            placeholder="Enter Digits Only">
                                        <!-- conditions for errors -->
                                        <div *ngIf="log.elapsed_amt.errors && (log.elapsed_amt.dirty || log.elapsed_amt.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.elapsed_amt.errors.required" style="color:red">Elapsed SLA
                                                amount is
                                                required</div>

                                            <div *ngIf="log.elapsed_amt.errors.pattern" style="color:red">Elapsed SLA
                                                amount is
                                                must be digits only</div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <!-- begin form-action -->

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <button type="reset" id="submit"
                                                class="btn btn-outline-info  btn-pill btn-sm custom-btn">Reset</button>
                                            <button class="btn btn-outline-success btn-pill btn-sm ml-2 custom-btn"
                                                [disabled]=!Setcharges.valid
                                                data-ktwizard-type="action-submit">Submit</button>




                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end form-actions -->
                        </form>
                        <!-- end form-group -->
                    </ng-template>
                </ngb-tab>
                <!-- Tab-2 for views available -->
                <ngb-tab id="tab-selectbyid2">
                    <ng-template ngbTabTitle>
                        View Available </ng-template>
                    <!--Title for second tab -->
                    <ng-template ngbTabContent>
                        <div class="tab-pane active" id="assigned">
                            <div class="col-lg-2 pull-right mb-2 pl-1">
                                <!-- onchange function for view company products -->
                                <select class="form-control pr-2 ml-2" id="list_company" name="list_company"
                                    (change)="changelist_company($event)">
                                    <!-- Dropdownlist -->
                                    <option value="" selected="empty" disabled="">Select Category</option>
                                    <option *ngFor="let listcompany of list_company1" id="list_company"
                                        value="{{listcompany}}">
                                        {{listcompany}}</option>

                                </select>
                            </div>
                            <!-- space for table and dropdownlist -->
                            <span class="clearfix"></span>
                            <!-- table -->
                            <!-- <div class="table-responsive"> -->

                            <table datatable="ng" [dtOptions]="dtOptions"
                                class="table table-striped table-bordered table-sm row-border hover datatable_pack">
                                <thead>
                                    <!-- Table title -->
                                    <tr style="text-align:center">
                                        <th style="text-align:center" colspan="2">Billing Details</th>
                                        <th style="text-align:center" colspan="4">Charges Within SLA</th>
                                        <th style="text-align:center" colspan="5">Charges for Elapsed SLA</th>

                                    </tr>
                                    <!-- Table sub-title -->
                                    <tr>
                                        <th style="text-align:center;width:100px">Product-Category</th>
                                        <th style="text-align:center">Sub-Category</th>
                                        <th style="text-align:center">P1</th>
                                        <th style="text-align:center">P2</th>
                                        <th style="text-align:center">P3</th>
                                        <th style="text-align:center">P4</th>
                                        <th style="text-align:center">P1</th>
                                        <th style="text-align:center">P2</th>
                                        <th style="text-align:center">P3</th>
                                        <th style="text-align:center">P4</th>
                                        <th style="text-align:center">Action</th>
                                    </tr>

                                </thead>





                                <tbody id="alrdy_existing" name="alrdy_existing">
                                    <!-- if select Jeeves company -->

                                    <tr *ngIf="selectedcompany=='Jeeves'||selectedcompany=='All'">

                                        <td style="text-align:center" id="product" name="product">Washing Machine</td>
                                        <td style="text-align:center" id="catogery" name="catogery">Top Load234@#$@#
                                        </td>
                                        <td style="text-align:center" id="p1" name="p1">0</td>
                                        <td style="text-align:center" id="p2" name="p2">50</td>
                                        <td style="text-align:center" id="p3" name="p3">0</td>
                                        <td style="text-align:center" id="p4" name="p4">0</td>
                                        <td style="text-align:center" id="pp1" name="pp1">0</td>
                                        <td style="text-align:center" id="pp2" name="pp2">10</td>
                                        <td style="text-align:center" id="pp3" name="pp3">0</td>
                                        <td style="text-align:center" id="pp4" name="pp4">0</td>
                                        <td style="text-align:center">
                                            <!-- Dialog box for edit button -->
                                            <button style="padding:0px;" class="btn btn-icon btn-sm"
                                                (click)="openLarge(content6)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                    <!-- if select Easy home company -->
                                    <tr *ngIf="selectedcompany=='Easy home'||selectedcompany=='All'">

                                        <td style="text-align:center" id="product" name="product">Washing Machine</td>
                                        <td style="text-align:center" id="catogery" name="catogery">Front Loader
                                        </td>
                                        <td style="text-align:center" id="p1" name="p1">15</td>
                                        <td style="text-align:center" id="p2" name="p2">10</td>
                                        <td style="text-align:center" id="p3" name="p3">10</td>
                                        <td style="text-align:center" id="p4" name="p4">12</td>
                                        <td style="text-align:center" id="pp1" name="pp1">25</td>
                                        <td style="text-align:center" id="pp2" name="pp2">12</td>
                                        <td style="text-align:center" id="pp3" name="pp3">12</td>
                                        <td style="text-align:center" id="pp4" name="pp4">15</td>
                                        <td style="text-align:center">
                                            <!-- Dialog box for edit button -->
                                            <button style="padding:0px;" class="btn btn-icon"
                                                (click)="openLarge(content6)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                    <!-- if select Easy home company -->
                                    <tr *ngIf="selectedcompany=='Easy home'||selectedcompany=='All'">

                                        <td style="text-align:center" id="product" name="product">Washing Machine</td>
                                        <td style="text-align:center" id="catogery" name="catogery">Top Loader
                                        </td>
                                        <td style="text-align:center" id="p1" name="p1">0</td>
                                        <td style="text-align:center" id="p2" name="p2">5345</td>
                                        <td style="text-align:center" id="p3" name="p3">0</td>
                                        <td style="text-align:center" id="p4" name="p4">0</td>
                                        <td style="text-align:center" id="pp1" name="pp1">0</td>
                                        <td style="text-align:center" id="pp2" name="pp2">6767</td>
                                        <td style="text-align:center" id="pp3" name="pp3">0</td>
                                        <td style="text-align:center" id="pp4" name="pp4">0</td>
                                        <td style="text-align:center">
                                            <!-- Dialog box for edit button -->
                                            <button style="padding:0px;" class="btn btn-icon"
                                                (click)="openLarge(content6)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                    <!-- if select whirlpool company -->
                                    <tr *ngIf="selectedcompany=='Whirlpool'||selectedcompany=='All'">

                                        <td style="text-align:center" id="product" name="product">REFRIGERATORS</td>
                                        <td style="text-align:center" id="catogery" name="catogery">SINGLE DOOR</td>
                                        <td style="text-align:center" id="p1" name="p1">0</td>
                                        <td style="text-align:center" id="p2" name="p2">120</td>
                                        <td style="text-align:center" id="p3" name="p3">0</td>
                                        <td style="text-align:center" id="p4" name="p4">0</td>
                                        <td style="text-align:center" id="pp1" name="pp1">0</td>
                                        <td style="text-align:center" id="pp2" name="pp2">140</td>
                                        <td style="text-align:center" id="pp3" name="pp3">0</td>
                                        <td style="text-align:center" id="pp4" name="pp4">0</td>
                                        <td style="text-align:center">
                                            <!-- Dialog box for edit button -->
                                            <button style="padding:0px;" class="btn btn-icon"
                                                (click)="openLarge(content6)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                    <!-- if select Jeeves company -->
                                    <tr *ngIf="selectedcompany=='Jeeves'||selectedcompany=='All'">

                                        <td style="text-align:center" id="product" name="product">Television</td>
                                        <td style="text-align:center" id="catogery" name="catogery">LED TV</td>
                                        <td style="text-align:center" id="p1" name="p1">150</td>
                                        <td style="text-align:center" id="p2" name="p2">0</td>
                                        <td style="text-align:center" id="p3" name="p3">0</td>
                                        <td style="text-align:center" id="p4" name="p4">0</td>
                                        <td style="text-align:center" id="pp1" name="pp1">100</td>
                                        <td style="text-align:center" id="pp2" name="pp2">0</td>
                                        <td style="text-align:center" id="pp3" name="pp3">0</td>
                                        <td style="text-align:center" id="pp4" name="pp4">0</td>
                                        <td style="text-align:center">
                                            <!-- Dialog box for edit button -->
                                            <button style="padding:0px;" class="btn btn-icon"
                                                (click)="openLarge(content6)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                    <!-- if select Jeeves company -->
                                    <tr *ngIf="selectedcompany=='Jeeves'||selectedcompany=='All'">

                                        <td style="text-align:center" id="product" name="product">Television</td>
                                        <td style="text-align:center" id="catogery" name="catogery">Plasma TV</td>
                                        <td style="text-align:center" id="p1" name="p1">5656</td>
                                        <td style="text-align:center" id="p2" name="p2">0</td>
                                        <td style="text-align:center" id="p3" name="p3">0</td>
                                        <td style="text-align:center" id="p4" name="p4">0</td>
                                        <td style="text-align:center" id="pp1" name="pp1">5656</td>
                                        <td style="text-align:center" id="pp2" name="pp2">0</td>
                                        <td style="text-align:center" id="pp3" name="pp3">0</td>
                                        <td style="text-align:center" id="pp4" name="pp4">0</td>
                                        <td style="text-align:center">
                                            <!-- Dialog box for edit button -->
                                            <button style="padding:0px;" class="btn btn-icon"
                                                (click)="openLarge(content6)">
                                                <i class="fa fa-edit" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- </div> -->
                        </div>


                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
        <!-- </kt-material-preview> -->
    </div>
</kt-portlet>

<!-- Dialog for Edit -->
<ng-template #content6 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Update SLA Charges</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="custom-forms" id="update_form" method="POST" novalidate="novalidate">
            <div class="form-wizard">
                <div class="form-body">
                    <div class="row" style="display:none">
                        <div class="col-md-3">
                            <label class="control-label">Company ID</label>
                        </div>
                        <div class=" form-group col-md-5">
                            <input type="text" class="form-control" id="comp_id" name="comp_id" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" style="text-align:left">Product Category:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="p_name" name="p_name" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" style="text-align:left">Sub Category:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="c_name" name="c_name" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <table style="border:0px !important">
                            <thead>
                                <tr style="text-align:center">
                                    <th style="text-align:center" colspan="4">Charges Within SLA</th>
                                    <th colspan="4">Charges for Elapsed SLA</th>

                                </tr>
                                <tr>
                                    <th colspan="4">&nbsp;</th>
                                    <th colspan="4">&nbsp;</th>

                                </tr>
                                <tr>
                                    <th style="text-align:center">P1</th>
                                    <th style="text-align:center">P2</th>
                                    <th style="text-align:center">P3</th>
                                    <th style="text-align:center">P4</th>
                                    <th style="text-align:center">P1</th>
                                    <th style="text-align:center">P2</th>
                                    <th style="text-align:center">P3</th>
                                    <th style="text-align:center">P4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" id="sla_P1" name="sla_P1"></td>
                                    <td><input type="text" class="form-control" id="sla_P2" name="sla_P2"></td>
                                    <td><input type="text" class="form-control" id="sla_P3" name="sla_P3"></td>
                                    <td><input type="text" class="form-control" id="sla_P4" name="sla_P4"></td>


                                    <td><input type="text" class="form-control" id="elap_P1" name="elap_P1"></td>

                                    <td><input type="text" class="form-control" id="elap_P2" name="elap_P2"></td>

                                    <td><input type="text" class="form-control" id="elap_P3" name="elap_P3"></td>
                                    <td><input type="text" class="form-control" id="elap_P4" name="elap_P4"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
            (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn"></button>


    </div>
</ng-template>
<!-- Dialog for bulk upload -->

<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{'USER.BULKUP' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div class="row">
        <div class="col-sm-5 nopadding">
          <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
            href="assets/sample_templates/bulk_quiz .xlsx">{{'PRODUCTMASTER.SAMPLE' | translate}}
          </a>
  
        </div>
        <div class="col-sm-7 nopadding">
          <div class="custom-file mb-3">
            <input type="hidden" value="" name="file-upload">
            <!-- <span>{{Filename}}</span> -->
            <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)" name="filename">
            <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
            <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
            <p style="color: red;">{{error}}</p>
          </div>
        </div>
        <div class="col-sm-9" style="display:none;">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="input-group input-large">
              <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                <span class="fileinput-filename"></span>
              </div>
              <span class="input-group-addon btn default btn-file">
                <span class="fileinput-new" id="span-button">{{'PRODUCTMASTER.SELECT' | translate}} </span>
  
                <input type="hidden" value="" name="file-upload">
                <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)"> </span>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-red  btn-pill btn-sm custom-btn"
        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-outline-success  btn-pill btn-sm custom-btn"
        (click)="filesubmit(myInput)">{{'USER.UPLOAD' | translate}}</button>
  
  
    </div>
  
  </ng-template>
  