<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="Complaint Summary">


    </kt-portlet-header>
    <kt-portlet-body>


        <div>
            <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
        </div>
        <div class="general-container">
            <div class="general-container-header">
                <h2>Grid View</h2>
                <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='exportToExcel()'>Table Export</button>
            </div>
            <br>
            <br>
            <div class="general-container-body">
                <div class="table-responsive" #epltable>
                    <table id="datatables"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <tr>
                                <th style="width: 100px;" class="tablewidth kt-footer kt-container">State</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Complaints Received</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Complaints Closed</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Complaints Open</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Closing Complaints for TAT1</th>

                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Percentage for Closing Complaints TAT1</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Closing Complaints for TAT2</th>

                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Percentage for Closing Complaints TAT2</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Closing Complaints for Beyond TAT</th>

                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Percentage for Closing Complaints Beyond TAT</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Complaints Pending Within TAT 1</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Complaints Pending Within TAT 2</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Complaints Pending Beyond TAT</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of Complaints Reject</th>
                            </tr>
                              
                            <!-- <tr>
                                <th rowspan="0">State</th>
                                <th rowspan="0">No of Complaints Received</th>
                                <th rowspan="0">No Of Complaints Closed</th>
                                <th rowspan="0">No Of Complaints Open</th>
       
                               <th colspan="3">TAT % for Closing Complaints</th>
                                <th colspan="3">Pending Complaints</th>
                                <th rowspan="0">No Of Complaints Reject</th>
                            </tr>
                            <tr>
                                <th>TAT 1</th>
                                <th>TAT 2</th>
                                <th>Beyond TAT</th>
                                <th>Complaints Pending Within TAT 1</th>
                                <th>Complaints Pending Within TAT 2</th>
                                <th>Complaints Pending Beyond TAT</th>
                            </tr> -->

                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>
