<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="FTR Report">


    </kt-portlet-header>
    <kt-portlet-body>


        <div>

            <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
        </div>
        <br>
        <div class="general-container">
            <div class="general-container-header">
                <h2>Grid View</h2>
                <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                    (click)='export_ftrdata()'>Table Export</button>
            </div>
            <br>
            <br>
            <div class="general-container-body">
                <div class="table-responsive" #epltable>
                    <table id="datatables"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <tr>
                                <th style="width: 50px;" class="tablewidth kt-footer kt-container">S.No</th>
                                <th style="width: 90px;" class="tablewidth kt-footer kt-container">Ticket Id</th>
                                <th style="width:  130px;" class="tablewidth kt-footer kt-container">Customer Name</th>
                                <th style="width:  80px;" class="tablewidth kt-footer kt-container">Site Id</th>
                                <th style="width: 162px;" class="tablewidth kt-footer kt-container">Site Address</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">End User Organization name</th>
                                <th style="width:  120px;" class="tablewidth kt-footer kt-container">End User Name</th>
                                <th style="width:  120px;" class="tablewidth kt-footer kt-container">Contact Number</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Assigned By</th>
                                <th style="width: 162px;" class="tablewidth kt-footer kt-container">Source</th>
                                <th style="width: 162px;" class="tablewidth kt-footer kt-container">Destination</th>
                                <th style="width:  120px;" class="tablewidth kt-footer kt-container">Mode of travel</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Location Type</th>
                                <th style="width:  80px;" class="tablewidth kt-footer kt-container">Sys AH</th>
                                <th style="width:  80px;" class="tablewidth kt-footer kt-container">Voltage</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">No Of KM</th>
                                <th style="width:  80px;" class="tablewidth kt-footer kt-container">Claim Amount</th>
                                <!-- <th style="width:  60px;" class="tablewidth kt-footer kt-container">Expense</th> -->
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container">Total</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Ticket Status</th>
                                <th style="width:  100px;" class="tablewidth kt-footer kt-container">Completed Date</th>
                               

                            </tr>

                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>