<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title=" {{'NEWTCKT.SUMREPORT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body class="portlet__body">
        <form [formGroup]="filterSummary">
            <div class="row">

                <div class="col-md-3">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="from_date" [(ngModel)]="from"
                            placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="to_date" [(ngModel)]="to"
                            placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-3">
                    <select formControlName="product_id" class="form-control" #product>
                        <option value="null">--ALL Products--</option>
                        <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <!--<div><strong>Technician:</strong></div> -->
                    <select formControlName="service_id" #service class="form-control">
                        <option value="null">--ALL Services--</option>
                        <option *ngFor="let as_data of service_group" value="{{as_data.work_type_id}}">
                            {{as_data.work_type}}</option>

                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <select formControlName="status" class="form-control">
                        <option value="">--ALL --</option>
                        <option value="1">Open</option>
                        <option value="2">Completed</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
                <div class="col-md-3">

                    <select formControlName="visit_count" class="form-control">
                        <option value="null">--ALL Values--</option>
                        <option value="1">
                            <3 </option>
                        <option value="1"> >3 </option>
                    </select>

                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn "
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                        [disabled]="!filterSummary.valid" (click)="filterSummaryF()">{{'NEW_SUBSCRIPTION.SUB' |
                        translate}}</button>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right"
                        (click)="exportAsXLSX()">
                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                </div>

            </div>

        </form>
        <br>

        <div class="kt-section__content">
            <div></div>
            <!-- <button class="btn btn-success" (click)="rerender()">rerender</button> -->
            <table *ngIf="showTable" datatable [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.TCKID' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_NAME' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.PRODUCT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'SPARE.MODEL' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_ACCEPDT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_REQDT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_STDT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_CLDT' | translate}}
                        </th>

                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.TCKTSTS' | translate}}
                        </th>
                        <!-- <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.DATEOFINVOICE' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CRD' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.DOC' | translate}}
                        </th>

                        <th style="width: 15%;" class="kt-footer kt-container datatable-center">
                            {{'NEWTCKT.REMARK' | translate}}
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of summary_report; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.ticket_id}}</td>
                        <td>{{item.customer_name}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.accept_data}}</td>
                        <td>{{item.customer_requested_date}}</td>                 
                        <td>{{item.start_date}}</td>
                        <td>{{item.date_of_completion}}</td>
                        <td>{{item.status.status_name}}</td>                        
                        <!-- <td class="datatable-center" *ngIf="item.date_of_invoice == null">-</td>
                        <td class="datatable-center" *ngIf="item.date_of_invoice == ''">{{item.date_of_invoice}}</td>
                        <td>{{item.customer_requested_date}}</td>
                        <td class="datatable-center" *ngIf="item.date_of_completion == null">-</td>
                        <td class="datatable-center" *ngIf="item.date_of_completion == ''">{{item.date_of_completion}}
                        </td>
                        <td class="datatable-center" *ngIf="item.remarks == null">-</td>
                        <td class="datatable-center" *ngIf="item.remarks == ''">{{item.remarks}}</td> -->
                    </tr>
                </tbody>
            </table>

        </div>


    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>