<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'IMPRESTSPARE.TITLE' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->
    <kt-portlet-body>

        <div>
            <div class="kt-section__content ">

                <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab1>
                    <!-- tab for new spare -->
                    <ngb-tab title="{{'IMPRESTSPARE.NEWSP' | translate}}" id="tab-selectbyid1">
                        <ng-template ngbTabContent>
                            <kt-portlet-body class="portlet__body">

                                <div>
                                    <div class="kt-section__content">
                                        <div>

                                        </div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTableImprest"
                                            class="table table-striped table-bordered table-sm row-border hover">
                                            <!-- <table class="table table-striped table-bordered table-sm row-border hover datatable"> -->
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>
                                                    <th style="width: 20%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'IMPRESTSPARE.TECHID' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'IMPRESTSPARE.TECHN' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container datatable-center">
                                                        {{'IMPRESTSPARE.SPARE' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.ACTION' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let items of spare_transfer; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a  class="button"  data-placement="bottom" ngbTooltip="View Details"
                                                            (click)="techDetails(items.technician_id,tech_details)">{{items.technician_id}}</a>
                                                    </td>
                                                    <td>{{items.technician_name}}
                                                    </td>
                                                    <td class="datatable-center">
                                                          
                                                        <a
                                                        style="cursor: pointer;" class="button"  data-placement="bottom" ngbTooltip="View Spare" (click)="spareDetails(items,spare_required);">
                                                        {{'RAISETCKT.VIEW' | translate}}
                                                        <!-- <i
                                                                class="fa fa-eye" 
                                                                aria-hidden="true"></i> -->
                                                            </a></td>
                                                    <td class="datatable-center">
                                                        <a (click)="imprestSpareApprove(items.imprest_spare_id)"><i
                                                            data-placement="bottom" ngbTooltip="Accept Spare"  class="far fa-check-circle"
                                                                style="font-size:22px; cursor: pointer;color:#0abb87;padding-right: 10px;"
                                                                aria-hidden="true"></i></a>
                                                        <a (click)="imprestSpareReject(items.imprest_spare_id)"><i class="fas fa-ban"
                                                            data-placement="bottom" ngbTooltip="Reject Spare"  style="font-size:21px; cursor: pointer;color:#dc3545"
                                                                aria-hidden="true"></i></a>
                                                        <!--  <button
                                                                (click)="openmodal(UnAssign_tickt_table);available_technicians(item.ticket_id)">{{'NEWTCKT.ASSIGN' | translate}}
                                                            </button> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>

                    <!-- tab for approved spare -->
                    <ngb-tab title="{{'IMPRESTSPARE.APPROVED' | translate}}" id="tab-selectbyid2"
                        (tabChange)="fetchNews($event)" #tab2>
                        <ng-template ngbTabContent>
                            <kt-portlet-body>

                                <div class="kt-section__content">
                                    <div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTable"
                                            class="table table-striped table-bordered table-sm row-border hover">
                                            <!-- <table class="table table-striped table-bordered table-sm row-border hover datatable"> -->
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>
                                                    <th style="width: 20%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'IMPRESTSPARE.TECHID' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'IMPRESTSPARE.TECHN' | translate}}
                                                    </th>
                                                    <th style="width: 10%;" class="kt-footer kt-container datatable-center">
                                                        {{'IMPRESTSPARE.SPARE' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let items of accepted_spare_transfer; let i = index">

                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details" class="button"
                                                            (click)="techDetails(items.technician_id,tech_details)">{{items.technician_id}}</a>
                                                    </td>
                                                    <td>{{items.technician_name}}
                                                    </td>
                                                    <td class="datatable-center"><a class="button"
                                                        data-placement="bottom" ngbTooltip="View Spare" (click)="spareDetails(items,spare_required);">
                                                        {{'RAISETCKT.VIEW' | translate}}
                                                        <!-- <i
                                                                class="fa fa-eye" style="cursor: pointer;"
                                                                aria-hidden="true"></i> -->
                                                            </a></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>

    </kt-portlet-body>
    <!-- end body for portlet-->
</kt-portlet>




<ng-template #spare_required let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <!-- button for close -->
                <table datatable="ng"  *ngIf="showTableSpare" [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover">
                    <thead>
                        <tr>
                            <th class="max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
                            <th>{{'TRANSFERSPARE.SPARECODE' | translate}}</th>
                            <th>{{'TRANSFERSPARE.REQUESTQUANTITY' | translate}}</th>
                            <th>{{'TRANSFERSPARE.LOCATION' | translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- values from the api.For loop to populate the datas -->
                        <tr *ngFor="let spare of spare_required_details;let i=index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>{{spare.spare_code}}</td>
                            <td>{{spare.request_quantity}}</td>
                            <td>{{spare.spare_location.spare_location}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #tech_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" 
                    for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
                <div class="col-sm-7 txt_clr">{{technician_data.technician_code}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" 
                    for="inputPassword3">{{'IMPRESTSPARE.NAME' | translate}}:</label>
                <div class="col-sm-7 txt_clr">{{technician_data.full_name}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                    for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                <div class="col-sm-7 txt_clr">{{technician_data.skill_level}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                    for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                <div class="col-sm-7 txt_clr">{{technician_data.contact_number}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                    for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                    <div class="col-lg-7 txt_clr overflow-details"
                   >{{technician_data.location}}</div>
            </div>
            <div class="row form-group">
                <label  class="col-sm-5 control-label popupcolor"
                    for="inputPassword3">{{'RAISETCKT.PRODUCT' | translate}}:</label>
                <div class="col-sm-7 txt_clr">{{technician_data.product}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor"
                    for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' | translate}}:</label>
                <div class="col-sm-7 txt_clr">{{technician_data.sub_product}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor"
                    for="inputPassword3">{{'COMTICK.TECH_TYP' | translate}}:</label>
                <!-- <div class="col-sm-7 control-label">
                    {{technician_data.technician_type}}</div> -->
                    <div class="txt_clr" *ngIf="technician_data.technician_type ==  1">Inhouse Technician</div>
                    <div class="txt_clr" *ngIf="technician_data.technician_type ==  2">Partner Service Engineer</div>
            </div>
        </form>
    </div>
</ng-template>