.back_clr{
    float:left;
    background-color: #ffffff;
    border: 15px solid #f2f3f8 ;
    border-bottom: 4px solid #f2f3f8 ;
}
.body{
    background-color: #f2f3f8;
}
.right_crt,.left_crt{
    // width:50%;
    float:left;
}
.txt_size{
    font-size: 16px;
    font-weight: 600!important;
    // text-transform: uppercase!important;
    color: #666;
}
// .back_clr1{
//     float:left;
//     background-color: #ffffff;
//     border: 15px solid #f4f4fc ;
// }
.align-right {
    text-align: right;
    border: 0;
    // margin-left: -2rem !important;

  }
//   .drop_left{
//     margin-left: -2rem !important;
//   }
.export-btn{
    color: #009dc7 !important;
    border-color: #009dc7 !important;
    background-color: #fff;
}
.export-btn:hover{
    background-color: #009dc7 !important;
    border-color: #009dc7 !important;
    color: #fff !important;
}