@import "sass/pages/wizard/wizard-4";
.kt-wizard-v4__nav-label-title{
    color: #5d78ff;
}
.btn-artz{
    padding: 15px 10px;
   // background-color: #ccffff;
}
.renew {
    margin-right: 5px;
    color : #33ECFF;
  }
.block{
    margin-right: 5px;
    color : #FF3336;

}
.exist-users{
    font-size: 20px;
}
.btn-width{
    padding: 15px 20px;
}
.btn-unblock{
    color : rgb(151, 5, 54);
}