<kt-portlet [class]="'kt-portlet--height-fluid'">
	<kt-portlet-header title="Competitor Report">


	</kt-portlet-header>
	<kt-portlet-body>


		<div>

			<kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
		</div>
		<br>
		<!-- <div>
      	<button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='export()'>Chart Export</button>
      	<br>
      	   <ejs-chart  [title]='title' #chartid id="chart-container" [primaryXAxis]="primaryXAxis" [primaryYAxis]='primaryYAxis'  [tooltip]='tooltip' >
                <e-series-collection>
                  <e-series [dataSource]="chartData" type="Column" xName=Months yName="y" name=x fill='cornflowerblue' [marker]='marker'>
                    </e-series>
                     <e-series [dataSource]="chartData" type="Column" xName="Months" yName=25_30 name="25 To 30 Months" fill='cornflowerblue' [marker]='marker'>
                    </e-series>
                      <e-series [dataSource]="chartData" type="Column" xName="Months" yName=31_36 name="31 To 36 Months" fill='coral' [marker]='marker'>
                    </e-series>

                    
                </e-series-collection>
            </ejs-chart>
      </div> -->
		<div class="general-container">
			<div class="general-container-header">
				<h2>Grid View</h2>
				<button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
					(click)='exportToExcel()'>Table Export</button>
			</div>
			<br>


			<br>
			<div class="general-container-body">
				<div class="table-responsive" #epltable>
					<table id="datatables" datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
						class="table table-striped table-bordered table-sm row-border hover datatable">
						<thead>
							<tr>
								<th style="width: 30px;" class="tablewidth kt-footer kt-container">S.No</th>
								<th style="width: 110px;" class="tablewidth kt-footer kt-container">Date Of Entry</th>
								<th style="width: 80px;" class="tablewidth kt-footer kt-container">Battery make</th>
								<th style="width: 50px;" class="tablewidth kt-footer kt-container">Battery rating</th>
								<th style="width: 110px;" class="tablewidth kt-footer kt-container">Manufacturing date
								</th>
								<th style="width: 90px;" class="tablewidth kt-footer kt-container">I&c date</th>
								<th style="width: 60px;" class="tablewidth kt-footer kt-container">Sys ah</th>
								<th style="width: 80px;" class="tablewidth kt-footer kt-container">Application</th>
								<th style="width: 50px;" class="tablewidth kt-footer kt-container">Batter\cell</th>
								<th style="width: 80px;" class="tablewidth kt-footer kt-container">Source of charging
								</th>
								<th style="width: 50px;" class="tablewidth kt-footer kt-container">Rating of source</th>
								<th style="width: 60px;" class="tablewidth kt-footer kt-container">System voltage</th>
								<th style="width: 80px;" class="tablewidth kt-footer kt-container">Number of battery
									banks</th>
								<th style="width: 80px;" class="tablewidth kt-footer kt-container">Number of batteries
									per bank</th>
								<th style="width: 90px;" class="tablewidth kt-footer kt-container">Mn.Ah</th>
								<th style="width: 50px;" class="tablewidth kt-footer kt-container">Load on battery</th>
								<th style="width: 100px;" class="tablewidth kt-footer kt-container">Capture complaint if
									any</th>
								<th style="width: 80px;" class="tablewidth kt-footer kt-container">Quantity failed in
									batteries</th>
								<th style="width: 70px;" class="tablewidth kt-footer kt-container">Image</th>

							</tr>

						</thead>
						<tbody>
							<tr *ngFor="let items of competitor_data; let i = index">
								<td class="datatable-center">{{i+1}}</td>
								<td>{{items.DateOfEntry}}</td>
								<td>{{items.Batterymake}}</td>
								<td>{{items.BatteryRating}}</td>
								<td>{{items.ManufacturingDate}}</td>
								<td>{{items.InCDate}}</td>
								<td>{{items.SYSAH}}</td>
								<td>{{items.Application}}</td>
								<td>{{items.battery_cell}}</td>
								<td>{{items.source_charging}}</td>
								<td>{{items.rating_charging}}</td>
								<td>{{items.system_voltage}}</td>
								<td>{{items.no_of_bc_bank}}</td>
								<td>{{items.no_of_bc_per_bank}}</td>
								<td>{{items.mn_ah}}</td>
								<td>{{items.load_battery}}</td>
								<td>{{items.capture_complaints}}</td>
								<td>{{items.failed_quantity}}</td>
								<!-- <td>{{items.image}}</td> -->
								<td class="datatable-center">
									<div
										*ngIf="items.image == '' || items.image == 'null'||items.image == undefined;else elseBlock">
										-
									</div>
									<ng-template #elseBlock>
										<button class="btn btn-base" (click)="downloadimage(items.image)">
											<a style="cursor: pointer;"><i class="fas fa-download"
													style="color:#242fb7;cursor: pointer;" aria-hidden="true"></i></a>
											<!-- <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i> -->
										</button>
									</ng-template>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>