<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header>
        <!--heading for portlet-->
    </kt-portlet-header>
    <kt-portlet-body>
        <!-- body begin -->
        <div class="container" style="margin-top: 5%">
            <!-- create form group -->
            <form id="form_body" [formGroup]="Manage" (ngSubmit)="submitform()" novalidate=""
                class="ng-untouched ng-pristine ng-valid">
                <!-- Start first table -->
                <table class="table table-striped table-bordered" datatable="ng">
                    <thead>
                        <!-- columns of the table -->
                        <tr>
                            <th>Package</th>
                            <th>Plan</th>
                            <th>Amount</th>
                            <th>Discount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--ngfor using the push array  -->
                        <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                            <td>
                                <input formControlName="package" class="form-control" type="text" />
                            </td>
                            <td>
                                <select formControlName="plan" class="form-control">
                                    <option> monthly</option>
                                    <option>Quaterly</option>
                                    <option>Half Yearly</option>
                                    <option>Anually</option>
                                </select>
                            </td>
                            <!-- <td>
                                <input formControlName="user" class="form-control" type="text" />
                            </td> -->
                            <td>
                                <input formControlName="amount" class="form-control" type="number" />
                            </td>
                            <td>
                                <select formControlName="discount" class="form-control"
                                    ng-show="(membertype == 'Value')">
                                    <option>Value </option>
                                    <option>In Percentage</option>
                                </select>
                                <input type="text" class="form-control" id="disc" name="discount"
                                    placeholder="In Value">
                            </td>
                            <td>
                                <i class="fa fa-plus-circle" style="font-size:20px;color:blue" aria-hidden="true"
                                    (click)="addRow()"></i><br>
                                <i class="fa fa-trash" id="remove" style="font-size:22px;color:red" aria-hidden="true"
                                    (click)="deleteRow(index)"></i>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <!-- form action contain submit button -->
                <div class="form-actions">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button mat-raised-button color="primary"
                                class="btn btn-success btn-md kt-font-bold kt-font-transform-u" [disabled]=!Manage.valid
                                data-ktwizard-type="action-submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <!-- second table begin -->
                <table class="table table-striped table-bordered">
                    <thead>
                        <!-- columns for second table -->
                        <tr>
                            <th>S.No</th>
                            <th>Package</th>
                            <th>Plan</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- take the values from input -->
                        <tr>
                            <td>1</td>
                            <td>{{package}}</td>
                            <td>{{plan}}</td>
                            <td>{{amount}}</td>
                            <td>
                                <!-- icons for edit and delete -->
                                <i class="fa fa-trash" style="font-size:22px;color:red" aria-hidden="true"
                                    (click)="deleterow(index)"></i>
                                <i class="fa fa-edit" style="font-size:21px;color:blue" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>