@import "sass/pages/wizard/wizard-4";
// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -700px;
//     margin-left: 5px;
// }
body {
    color: white;
}
.btn{
align-content: center;
}
h3{
    color:#5d78ff;

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}


