<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'TRANSFERSPARE.TITLE' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->
    <kt-portlet-body>


        <div>
            <div class="kt-section__content ">

                <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab1>
                    <!-- tab for  New spares -->
                    <ngb-tab title="{{'TRANSFERSPARE.SPARETRANSFER' | translate}}" id="tab-selectbyid1">
                        <ng-template ngbTabContent>
                            <kt-portlet-body class="portlet__body">

                                <div>
                                    <div class="kt-section__content">
                                        <div>

                                        </div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTable"
                                            class="table table-striped table-bordered table-sm row-border hover">
                                            <!-- <table class="table table-striped table-bordered table-sm row-border hover datatable"> -->
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>
                                                    <th style="width: 15%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 25%;" class="kt-footer kt-container">
                                                        {{'TRANSFERSPARE.FROMT' | translate}}
                                                    </th>
                                                    <th style="width: 25%;" class="kt-footer kt-container">
                                                        {{'TRANSFERSPARE.TOT' | translate}}
                                                    </th>
                                                    <th style="width: 20%;"
                                                        class="kt-footer kt-container datatable-center">
                                                        {{'TRANSFERSPARE.SPARE' | translate}}
                                                    </th>
                                                    <th style="width: 15%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.ACTION' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let items of spare_transfer; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details"
                                                            class="button"
                                                            (click)="techDetails(items.from_tech_id,tech_details)">{{items.from_tech_id}}</a>
                                                    </td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details"
                                                            class="button"
                                                            (click)="techDetails(items.to_tech_id,tech_details)">{{items.to_tech_id}}</a>
                                                    </td>
                                                    <td class="datatable-center"><a
                                                            (click)="spareDetails(items,spare_required);"
                                                            data-placement="bottom" ngbTooltip="View Spare">
                                                            <!-- <i
                                                                class="fa fa-eye" style="cursor: pointer;"
                                                                aria-hidden="true"></i> -->
                                                                {{'RAISETCKT.VIEW' | translate}}
                                                            </a></td>
                                                    <td class="datatable-center">
                                                        <a (click)="spareApprove(items.spare_transfer_id)"
                                                            data-placement="bottom" ngbTooltip="Accept Spare"><i
                                                                class="far fa-check-circle"
                                                                style="font-size:22px;cursor: pointer; color:#0abb87;padding-right: 10px;"
                                                                aria-hidden="true"></i></a>
                                                        <a (click)="spareReject(items.spare_transfer_id)"
                                                            data-placement="bottom" ngbTooltip="Reject Spare"><i
                                                                class="fas fa-ban"
                                                                style="font-size:21px; cursor: pointer;color:#dc3545"
                                                                aria-hidden="true"></i></a>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>

                    <!-- tab for Approved sparres -->
                    <ngb-tab title="{{'TRANSFERSPARE.APPROVED' | translate}}" id="tab-selectbyid2"
                        (tabChange)="fetchNews($event)" #tab2>
                        <ng-template ngbTabContent>
                            <kt-portlet-body>

                                <div class="kt-section__content">
                                    <div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTableAccept"
                                            class="table table-striped table-bordered table-sm row-border hover">
                                            <!-- <table class="table table-striped table-bordered table-sm row-border hover datatable"> -->
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>
                                                    <th style="width: 15%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 25%;" class="kt-footer kt-container">
                                                        {{'TRANSFERSPARE.FROMT' | translate}}
                                                    </th>
                                                    <th style="width: 25%;" class="kt-footer kt-container">
                                                        {{'TRANSFERSPARE.TOT' | translate}}
                                                    </th>
                                                    <th style="width: 20%;"
                                                        class="kt-footer kt-container datatable-center">
                                                        {{'TRANSFERSPARE.SPARE' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let items of accepted_spare_transfer; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details"
                                                            class="button"
                                                            (click)="techDetails(items.from_tech_id,tech_details)">{{items.from_tech_id}}</a>
                                                    </td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details"
                                                            class="button"
                                                            (click)="techDetails(items.to_tech_id,tech_details)">{{items.to_tech_id}}</a>
                                                    </td>
                                                    <td class="datatable-center"><a data-placement="bottom"
                                                            ngbTooltip="View Spare"
                                                            (click)="spareDetails(items,spare_required);">
                                                            {{'RAISETCKT.VIEW' | translate}}
                                                            <!-- <i
                                                                class="fa fa-eye" style="cursor: pointer;"
                                                                aria-hidden="true"></i> -->
                                                            </a></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>

                    <!-- tab for Rejected spares -->
                    <ngb-tab title="{{'TRANSFERSPARE.REJECT' | translate}}" id="tab-selectbyid3"
                        (tabChange)="fetchNews($event)" #tab3>
                        <ng-template ngbTabContent>
                            <kt-portlet-body>

                                <div>
                                    <div class="kt-section__content">
                                        <div>
                                        </div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTableReject"
                                            class="table table-striped table-bordered table-sm row-border hover">
                                            <!-- <table class="table table-striped table-bordered table-sm row-border hover datatable"> -->
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>
                                                    <th style="width: 15%;" class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 25%;" class="kt-footer kt-container">
                                                        {{'TRANSFERSPARE.FROMT' | translate}}
                                                    </th>
                                                    <th style="width: 25%;" class="kt-footer kt-container">
                                                        {{'TRANSFERSPARE.TOT' | translate}}
                                                    </th>
                                                    <th style="width: 20%;"
                                                        class="kt-footer kt-container datatable-center">
                                                        {{'TRANSFERSPARE.SPARE' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of rejected_spare_transfer; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details"
                                                            style="cursor: pointer;" class="button"
                                                            (click)="techDetails(item.from_tech_id,tech_details)">{{item.from_tech_id}}</a>
                                                    </td>
                                                    <td><a data-placement="bottom" ngbTooltip="View Details"
                                                            style="cursor: pointer;" class="button"
                                                            (click)="techDetails(item.to_tech_id,tech_details)">{{item.to_tech_id}}</a>
                                                    </td>
                                                    <td class="datatable-center"><a style="cursor: pointer;"
                                                            (click)="spareDetails(item,spare_required);">
                                                            {{'RAISETCKT.VIEW' | translate}}
                                                            <!-- <i
                                                                class="fa fa-eye" style="cursor: pointer"
                                                                aria-hidden="true"></i> -->
                                                            </a></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>

                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>

    </kt-portlet-body>
    <!-- end body for portlet-->
</kt-portlet>


<ng-template #spare_required let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <!-- button for close -->
                <table *ngIf="showTableModal" datatable="ng" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <tr>
                            <th class="max-tables"> {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                            <th>{{'TRANSFERSPARE.SPARECODE' | translate}}</th>
                            <th>{{'TRANSFERSPARE.SPAREQUANTITY' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- values from the api.For loop to populate the datas -->
                        <tr *ngFor="let spare of spare_required_details;let i=index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>{{spare.spare_code}}</td>
                            <td>{{spare.spare_quantity}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #tech_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' |
                    translate}}:</label>
                <div class="col-sm-7 control-label">{{technician_data.technician_code}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.TCH_NAME' | translate}}:</label>
                <div class="col-sm-7 control-label">{{technician_data.full_name}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                    for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                <div class="col-sm-7 control-label">{{technician_data.skill_level}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                    for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                <div class="col-sm-7 control-label">{{technician_data.contact_number}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                    for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                <div class="col-lg-7 control-label overflow-details">{{technician_data.location}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'RAISETCKT.PRODUCT' |
                    translate}}:</label>
                <div class="col-sm-7 control-label">{{technician_data.product}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' |
                    translate}}:</label>
                <div class="col-sm-7 control-label">{{technician_data.sub_product}}</div>
            </div>
            <div class="row form-group">
                <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'COMTICK.TECH_TYP' | translate}}</label>
                <!-- <div class="col-sm-7 control-label">{{technician_data.technician_type}}</div> -->
                <div *ngIf="technician_data.technician_type ==  1">Inhouse Technician</div>
                <div *ngIf="technician_data.technician_type ==  2">Partner Service Engineer</div> 
            </div>
        </form>
    </div>
</ng-template>