:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}
.kt-notification__item-details{
	flex-direction:row !important;
}
.kt-notification__item-icon{
	display:flex;
	align-items: center;
	margin-right:20px;
}
.kt-notification__item-time{
	display:flex;
	align-items: center;
}
.dropdown-menu.dropdown-menu-lg{
	width:400px;
}
.dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-top-unround.dropdown-menu-lg.show{
	transform: translate(-320px, 39px) !important;
}
.kt-notification__item-title{
	width:65%;
}