<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="  {{'KNBS.TITLE' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <kt-portlet-body>

        <!-- <div class="container mt-0"> -->
        <div class="kt-section__content">
            <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
                <!-- tab for Work-in-progress Tickets -->
                <ngb-tab title="Knowledge Base" id="tab-selectbyid1">
                    <ng-template ngbTabContent>
                        <kt-portlet-body class="portlet__body">
                            <!-- <div class="container mt-0"> -->
                            <div class="kt-section__content">
                                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST"
                                    novalidate="novalidate" [formGroup]="ProductLocation" style="margin-right: -8px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-lg-2 pull-right">
                                                <select formControlName="product_sub_id" class="form-control" #sub_pro
                                                    (change)="onChangeLocation(sub_pro.value)">
                                                    <option value=''>
                                                        {{'SPARE.SLCTSUBPRO' | translate}}
                                                    </option>
                                                    <option *ngFor="let product of subproduct"
                                                        value="{{product.product_sub_id}}">
                                                        {{product.product_sub_name}}</option>

                                                </select>
                                            </div>
                                            <div class="col-lg-2 pull-right">
                                                <select formControlName="product_id" class="form-control" #product
                                                    (change)="onChangeLocation(product.value);onChangeProduct($event.target.value)">
                                                    <option value=''>{{'SPARE.SLCTPRO'|translate}}
                                                    </option>
                                                    <option *ngFor="let product of products"
                                                        value="{{product.product_id}}">
                                                        {{product.product_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <!-- <div class="container mt-0" style="padding: 2px"> -->
                                <div class="kt-section__content">
                                    <div class="table-responsive">
                                        <table id="knowledgebase" datatable="ng" *ngIf="showTables"
                                            [dtOptions]="dtOptions"
                                            class="table table-striped table-bordered table-sm row-border hover datatable">
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>
                                                    <th class=" kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                                                    <th class="table-width kt-footer kt-container">
                                                        {{'IMPRESTSPARE.TECHID'|translate}}</th>
                                                    <th class="table-width kt-footer kt-container">
                                                        {{'KNBS.KN_BASE'|translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container">
                                                        {{'KNBS.PRO'|translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container">
                                                        {{'KNBS.SUBPRO' | translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container">
                                                        {{'KNBS.PRBDESC' | translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container">
                                                        {{'KNBS.SOL' | translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container datatable-center">
                                                        {{'KNBS.IMG' | translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container datatable-center">
                                                        {{'KNBS.VID' | translate}}
                                                    </th>
                                                    <th class="table-width kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.ACTION' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let items of knowledges; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td>
                                                        <p *ngIf="items.technician_code == null;else">
                                                            -
                                                        </p>
                                                        {{items.technician_code}}
                                                    </td>
                                                    <td>{{items.knowledge_type}}</td>
                                                    <td>{{items.product.product_name}}</td>
                                                    <td>{{items.sub_product.product_sub_name}}</td>
                                                    <td>{{items.problem_desc}}</td>
                                                    <td>{{items.solution}}</td>
                                                    <td class="datatable-center"
                                                        *ngIf="items.upload_image == '' || items.upload_image == 'null'||items.upload_image == undefined ">
                                                        -
                                                    </td>
                                                    <td *ngIf="items.upload_image !=''" class="datatable-center">
                                                        <button class="btn btn-base"
                                                            (click)="openmodal(ImageView,items.upload_image)">
                                                            <i class="fas fa-image" style="font-size:21px;color:gray;"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td class="datatable-center"
                                                        *ngIf="items.upload_video == '' || items.upload_video == 'null'||items.upload_video == undefined ">
                                                        -
                                                    </td>
                                                    <td *ngIf="items.upload_video != '' " class="datatable-center">
                                                        <button class="btn btn-base"
                                                            (click)="openmodal(VideoView,items.upload_video)">
                                                            <i class="fas fa-video" style="font-size:21px;color:gray;"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td class="datatable-center"> <i class="fa fa-edit"
                                                            (click)="editKnowledgebase(items,EditKnowBase)"
                                                            style="font-size:21px;" aria-hidden="true"></i>
                                                        &nbsp;
                                                        <i class="fa fa-trash trash" style="font-size:18px; color:red;"
                                                            aria-hidden="true"
                                                            (click)="delete_knowledge(items.knowledge_id)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </kt-portlet-body>
                    </ng-template>
                </ngb-tab>

                <!-- tab for Assigned Tickets -->
                <ngb-tab title="{{'KNBS.AWAPL' | translate}}" id="tab-selectbyid2">
                    <ng-template ngbTabContent>
                        <kt-portlet-body class="portlet__body">
                            <div class="kt-section__content">
                                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST"
                                    novalidate="novalidate" [formGroup]="ProductLocation">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-2 pull-right">
                                                <select formControlName="product_sub_id" class="form-control" #sub_pro
                                                    (change)="onChangeLocation(sub_pro.value)">
                                                    <option value=''>{{'SPARE.SLCTSUBPRO' | translate}}
                                                    </option>
                                                    <option *ngFor="let product of subproduct"
                                                        value="{{product.product_sub_id}}">
                                                        {{product.product_sub_name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-2 pull-right">
                                                <select formControlName="product_id" class="form-control" #product
                                                    (change)="onChangeLocation(product.value);onChangeProduct($event.target.value)">
                                                    <option value=''>{{'SPARE.SLCTPRO'|translate}}
                                                    </option>
                                                    <option *ngFor="let product of products"
                                                        value="{{product.product_id}}">
                                                        {{product.product_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br>
                            </div>
                            <br>
                            <div class="kt-section__content">
                                <div class="table-responsive">
                                    <table id="knowledgebaseapp" datatable="ng" *ngIf="showTable"
                                        [dtOptions]="dtOptions"
                                        class="table table-striped table-bordered table-sm row-border hover datatable">

                                        <thead>
                                            <!-- columns for  table -->
                                            <tr>
                                                <th style="width:13%" class="kt-footer kt-container max-tables">
                                                    {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                                                <th style="width:13%" class="tablewidth kt-footer kt-container">
                                                    {{'IMPRESTSPARE.TECHID'|translate}}</th>

                                                <th style="width:13%" class="tablewidth kt-footer kt-container">
                                                    {{'KNBS.PRO'|translate}}
                                                </th>
                                                <th style="width:13%" class="tablewidth kt-footer kt-container">
                                                    {{'KNBS.SUBPRO' | translate}}
                                                </th>
                                                <th style="width:13%" class="tablewidth kt-footer kt-container">
                                                    {{'KNBS.PRBDESC' | translate}} </th>
                                                <th style="width:13%" class="tablewidth kt-footer kt-container">
                                                    {{'KNBS.SOL' | translate}}
                                                </th>
                                                <th style="width:13%"
                                                    class="tablewidth kt-footer kt-container datatable-center">
                                                    {{'KNBS.IMG' | translate}}
                                                </th>
                                                <th style="width:13%"
                                                    class="tablewidth kt-footer kt-container datatable-center">
                                                    {{'KNBS.VID' | translate}}
                                                </th>
                                                <th style="width:13%"
                                                    class="tablewidth kt-footer kt-container max-tables">
                                                    {{'NEW_SUBSCRIPTION.ACTION' | translate}}
                                                </th>
                                            </tr>
                                        <tbody>
                                            <tr *ngFor="let item of knowledgesapp; let i = index">
                                                <td class="datatable-center">{{i+1}}</td>
                                                <td>
                                                    <p *ngIf="item.technician_code == null;else">-</p>
                                                    {{item.technician_code}}
                                                </td>
                                                <td>{{item.product.product_name}}</td>
                                                <td>{{item.sub_product.product_sub_name}}</td>
                                                <td>{{item.problem_desc}}</td>
                                                <td>{{item.solution}}</td>
                                                <td class="datatable-center"
                                                    *ngIf="item.upload_image == '' || item.upload_image == 'null'||item.upload_image == undefined ">
                                                    -
                                                </td>
                                                <td *ngIf="item.upload_image !=''" class="datatable-center">
                                                    <button class="btn btn-base"
                                                        (click)="openmodal(ImageView,item.upload_image)"> <i
                                                            class="fas fa-image" style="font-size:21px;color:gray"
                                                            aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td class="datatable-center"
                                                    *ngIf="item.upload_video == '' || item.upload_video == 'null'||item.upload_video == undefined ">
                                                    -
                                                </td>
                                                <td *ngIf="item.upload_video != '' " class="datatable-center">
                                                    <button class="btn btn-base"
                                                        (click)="openmodal(VideoView,item.upload_video)"> <i
                                                            class="fas fa-video" style="font-size:21px;color:gray;"
                                                            aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td class="datatable-center">
                                                    <button class="btn btn-base"
                                                        (click)="approve_knowledgebase(item.knowledge_id)">
                                                        <i class="fa fa-check-circle"
                                                            style="font-size:21px;color:#0abb87;"
                                                            aria-hidden="true"></i></button>&nbsp;
                                                    <i class="fa fa-ban" style="font-size:18px; color:#dc3545;"
                                                        aria-hidden="true"
                                                        (click)="reject_knowledgebase(item.knowledge_id)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </kt-portlet-body>
                    </ng-template>
                </ngb-tab>
                <!-- tab for Accepted Tickets -->
                <ngb-tab title="{{'KNBS.ADD_BAS' | translate}}" id="tab-selectbyid3">
                    <ng-template ngbTabContent>
                        <kt-portlet-body>
                            <form id="form_body" [formGroup]="RadioGroupForm" novalidate=""
                                class="ng-untouched ng-pristine ng-valid">
                                <div class="row">
                                    <mat-radio-group aria-label="Select an option" formControlName="knowledge_type"
                                        style="margin-left: 1%;">
                                        <!--radio button-->
                                        <mat-radio-button value="Product" class="radio" (change)="onchangeradio($event)"
                                            checked>
                                            Product-Base
                                        </mat-radio-button>
                                        <mat-radio-button value="2" class="radio" (change)="onchangeradio($event)">
                                            Generic
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </form>
                            <br>
                            <!-- <div class="row"> -->
                            <div *ngIf="isChecked || radiochange_value == 2 ; else elseBlock">
                                <form id="form_body" [formGroup]="AddknowledgeFormGeneric" novalidate=""
                                    class="ng-untouched ng-pristine ng-valid">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'KNBS.PRBDESC' | translate}}:</div>
                                            <div class="col-lg-8">
                                                <textarea type="text" class="form-control"
                                                    formControlName="problem_desc" name="problem_desc" rows="5"
                                                    placeholder="Enter Description" [(ngModel)]="role" [maxlength]="maxChars"></textarea>
                                                  <span class="pull-right">{{role.length}}/{{maxChars}}</span>

                                                <div *ngIf="log3.problem_desc.errors && (log3.problem_desc.dirty || log3.problem_desc.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log3.problem_desc.errors.required" style="color:red">
                                                        {{'RAISETCKT.PROBLEM' | translate}}{{'RAISETCKT.REQ' |
                                                        translate}}
                                                    </div>
                                                    <div *ngIf="log3.problem_desc.errors.maxlength" style="color:red">
                                                        {{'RAISETCKT.PROBLEM' | translate}}
                                                        {{'NEW_SUBSCRIPTION.PRBLMDESC' | translate}}</div>
                                                    <div *ngIf="!AddknowledgeForm.hasError('whitespace')"
                                                        style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'KNBS.SOL' | translate}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'KNBS.SOL'| translate}}:</div>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" formControlName="solution"
                                                    name="solution" placeholder="Enter solution" />
                                                <div *ngIf="log3.solution.errors && (log3.solution.dirty || log3.solution.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log3.solution.errors.required" style="color:red">
                                                        {{'KNBS.SOL' | translate}}{{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                    <div *ngIf="!AddknowledgeForm.hasError('whitespace')"
                                                        style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'KNBS.SOL' | translate}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'PRODUCTMASTER.IMAGE'| translate}}:</div>
                                            <div class="form-group col-lg-8 mb-0">
                                                <div class="custom-file mb-3">
                                                    <input type="hidden" value="" name="file-upload">
                                                    <input type="file" name="file" accept="image/*"
                                                        formControlName="upload_image"
                                                        (change)="fileChangeEvents($event)" class="fileInputProfile" />
                                                    <label *ngIf="!ByDefault" class="custom-file-label"
                                                        for="customFile">Choose file</label>
                                                    <label *ngIf="ByDefault" class="custom-file-label"
                                                        for="customFile">{{name}}</label>
                                                </div>
                                                <p  *ngIf="message" style="color: red">{{message}}</p>
                                                <p  *ngIf="load"style="color: red;">{{load}}</p>
                                                <p  *ngIf="imageError" style="color: red">{{imageError}}</p>
                                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                        <a class="RemoveColor pull-right" (click)="removeImage()"
                                                        *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                                    <div class="img-space">
                                                        <img *ngIf="cardImageBase64" [src]="cardImageBase64" />

                                                    </div>
                                                </ng-container>

                                              
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'PRODUCTMASTER.VIDEO_UP'| translate}}:</div>
                                            <div class="col-lg-8">
                                                <div class="custom-file ">
                                                    <input type="file" class="custom-file-input" id="upload_video"
                                                        formControlName="upload_video"
                                                        (change)="fileChangeVideo($event)" name="upload_video"
                                                        accept="video/*">
                                                    <label *ngIf="!ByDefault1" class="custom-file-label"
                                                        for="customFile">Choose file</label>
                                                    <label *ngIf="ByDefault1" class="custom-file-label"
                                                        for="customFile">{{video_name}}</label>
                                                </div>
                                                <p style="color: red;">{{video_validation}}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div *ngIf="error" style="color:red">{{error}}
                                        </div>
                                        <div class="text-center mt-2">
                                            <button type="button"
                                                class="btn  btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                                                [disabled]="AddknowledgeFormGeneric.invalid"
                                                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                                                (click)="add_generic()">{{'USER.ADDO'|translate}}</button>
                                            <button type="reset"
                                                class="btn  btn-outline-primary btn-sm btn-pill custom-btn ml-2"
                                                (click)="knowledge_reset()">{{'RAISETCKT.RESET'|translate}}</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!-- </div> -->
                            <ng-template #elseBlock>
                                <form id="form_body" [formGroup]="AddknowledgeForm" novalidate=""
                                    class="ng-untouched ng-pristine ng-valid">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'RAISETCKT.PRODUCT_CATEGORY' | translate}}:
                                            </div>
                                            <div class="col-lg-8">
                                                <select formControlName="product_id" class="form-control"
                                                    (change)="onChangeProduct($event.target.value)">
                                                    <option value="null">
                                                        {{'RAISETCKT.SELECT_PROD' | translate}}
                                                    </option>
                                                    <option *ngFor="let items of products" value="{{items.product_id}}">
                                                        {{items.product_name}}</option>
                                                </select>
                                                <div *ngIf="log.product_id.errors && (log.product_id.dirty || log.product_id.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log.product_id.errors.required" style="color:red">
                                                        {{'RAISETCKT.PRODUCT_CATEGORY' | translate}}
                                                        {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'CUSTOMER.SUBC' | translate}}:</div>
                                            <div class="col-lg-8">
                                                <select formControlName="product_sub_id" class="form-control">
                                                    <option value="null">
                                                        {{'RAISETCKT.SELECT_SUBPROD' | translate}}
                                                    </option>
                                                    <option *ngFor="let items of subproduct"
                                                        value="{{items.product_sub_id}}">
                                                        {{items.product_sub_name}}</option>
                                                </select>
                                                <div *ngIf="log.product_sub_id.errors && (log.product_sub_id.dirty || log.product_sub_id.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log.product_sub_id.errors.required" style="color:red">
                                                        {{'RAISETCKT.SUB_CATEGORY' | translate}}
                                                        {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'KNBS.PRBDESC' | translate}}:</div>
                                            <div class="col-lg-8">
                                                <textarea type="text" class="form-control" rows="5" cols="50"
                                                    formControlName="problem_desc" name="product_desc"
                                                    placeholder="Enter Description"[(ngModel)]="role" [maxlength]="maxChars"></textarea>
                                                    <span class="pull-right">{{role.length}}/{{maxChars}}</span>
                                                <div *ngIf="log.problem_desc.errors && (log.problem_desc.dirty || log.problem_desc.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="!AddknowledgeForm.hasError('whitespace')"
                                                        style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'RAISETCKT.PROBLEM' | translate}}
                                                    </div>
                                                    <div *ngIf="log.problem_desc.errors.required" style="color:red">
                                                        {{'RAISETCKT.PROBLEM' | translate}}{{'RAISETCKT.REQ' |
                                                        translate}}
                                                    </div>
                                                    <div *ngIf="log.problem_desc.errors.maxlength" style="color:red">
                                                        {{'RAISETCKT.PROBLEM' | translate}}
                                                        {{'NEW_SUBSCRIPTION.PRBLMDESC' | translate}}</div>

                                                </div>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'KNBS.SOL' | translate}}:</div>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" formControlName="solution"
                                                    name="solution" placeholder="Enter solution" />

                                                <div *ngIf="log.solution.errors && (log.solution.dirty || log.solution.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="!AddknowledgeForm.hasError('whitespace')"
                                                        style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'KNBS.SOL' | translate}}
                                                    </div>
                                                    <div *ngIf="log.solution.errors.required" style="color:red">
                                                        {{'KNBS.SOL' | translate}}{{'RAISETCKT.REQ' | translate}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'PRODUCTMASTER.IMAGE'| translate}}:</div>
                                                <div class="form-group col-lg-8 mb-0">
                                                    <div class="custom-file mb-3">
                                                        <input type="hidden" value="" name="file-upload">
                                                        <input type="file" name="file" accept="image/*"
                                                            formControlName="upload_image"
                                                            (change)="fileChangeEvents($event)" class="fileInputProfile" />
                                                        <label *ngIf="!ByDefault" class="custom-file-label"
                                                            for="customFile">Choose file</label>
                                                        <label *ngIf="ByDefault" class="custom-file-label"
                                                            for="customFile">{{name}}</label>
                                                    </div>
                                                    <p *ngIf="message" style="color: red">{{message}}</p>
                                                    <p *ngIf="load" style="color: red;">{{load}}</p>
                                                    <p *ngIf="imageError" style="color: red">{{imageError}}</p>
                                                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                            <a class="RemoveColor pull-right" (click)="removeImage()"
                                                            *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                                        <div class="img-space">
                                                            <img *ngIf="cardImageBase64" [src]="cardImageBase64" />

                                                        </div>
                                                    </ng-container>
    
                                                  
                                                </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 control-label">
                                                {{'PRODUCTMASTER.VIDEO_UP'| translate}}:</div>
                                            <div class="col-lg-8">
                                                <div class="custom-file ">
                                                    <input type="file" class="custom-file-input" id="upload_video"
                                                        formControlName="upload_video"
                                                        (change)="fileChangeVideo($event)" name="upload_video"
                                                        accept="video/*">
                                                    <label *ngIf="!ByDefault1" class="custom-file-label"
                                                        for="customFile">Choose file</label>
                                                    <label *ngIf="ByDefault1" class="custom-file-label"
                                                        for="customFile">{{video_name}}</label>
                                                </div>
                                                <p style="color: red;">{{video_validation}}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div *ngIf="error" style="color:red">{{error}}
                                        </div>
                                        <div class="text-center mt-2">
                                            <button type="button"
                                                class="btn  btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                                                [disabled]="AddknowledgeForm.invalid"
                                                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAd}"
                                                (click)="add_knowledgebase()">{{'USER.ADDO'|translate}}</button>
                                            <button type="reset"
                                                class="btn  btn-outline-primary btn-sm btn-pill custom-btn ml-2"
                                                (click)="knowledge_reset()">{{'RAISETCKT.RESET'|translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </kt-portlet-body>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <!-- </div> -->
    </kt-portlet-body>
</kt-portlet>

<ng-template #EditKnowBase let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'KNBS.UB_KNO' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="editknowledgeForm">
            <!-- <br> -->
            <div *ngIf="knowledge_type == 'Product'">
                <div class="row">
                    <div class="col-lg-5 control-label">
                        {{'RAISETCKT.PRODUCT_CATEGORY' | translate}}:</div>
                    <div class="col-lg-7">
                        <select formControlName="product_id" class="form-control"
                            (change)="onChangeProduct($event.target.value)">
                            <option value="">{{'RAISETCKT.SELECT_PROD' | translate}}
                            </option>
                            <option *ngFor="let items of products" value="{{items.product_id}}">
                                {{items.product_name}}</option>
                        </select>

                        <div *ngIf="log.product_id.errors && (log.product_id.dirty || log.product_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log2.product_id.errors.required" style="color:red">
                                {{'RAISETCKT.PRODUCT_CATEGORY' | translate}} {{'RAISETCKT.REQ' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-5 control-label">
                        {{'KNBS.SUBPRO' | translate}}:</div>
                    <div class="col-lg-7">
                        <select formControlName="product_sub_id" class="form-control">
                            <option value=''>{{'RAISETCKT.SELECT_SUBPROD' | translate}}
                            </option>
                            <option *ngFor="let items of subproduct" value="{{items.product_sub_id}}">
                                {{items.product_sub_name}}</option>
                        </select>
                        <div
                            *ngIf="log2.product_sub_id.errors && (log2.product_sub_id.dirty || log2.product_sub_id.touched)">
                            <div *ngIf="log2.product_sub_id.errors.required" style="color:red">
                                {{'KNBS.SUBPRO' | translate}} {{'RAISETCKT.REQ' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5 control-label">
                    {{'KNBS.PRBDESC' | translate}}:</div>
                <div class="col-lg-7">
                    <textarea placeholder="{{'RAISETCKT.ENTR_DES' | translate}}" rows="5" cols="50" type="text"
                        class="form-control" formControlName="problem_desc" name="product_desc"></textarea>
                    <div *ngIf="log2.problem_desc.errors && (log2.problem_desc.dirty || log2.problem_desc.touched)">
                        <div *ngIf="!editknowledgeForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'KNBS.PRBDESC' | translate}}
                        </div>
                        <div *ngIf="log2.problem_desc.errors.required" style="color:red">
                            {{'RAISETCKT.PROBLEM' | translate}}{{'RAISETCKT.REQ' | translate}}
                        </div>
                        <div *ngIf="log2.problem_desc.errors.maxlength" style="color:red">
                            {{'RAISETCKT.PROBLEM' | translate}}
                            {{'NEW_SUBSCRIPTION.PRBLMDESC' | translate}}</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5 control-label">
                    {{'KNBS.SOL' | translate}}:</div>
                <div class="col-lg-7">
                    <input placeholder="Enter Solution" type="text" class="form-control" formControlName="solution"
                        name="solution" />
                    <div *ngIf="log2.solution.errors && (log2.solution.dirty || log2.solution.touched)">
                        <div *ngIf="log2.solution.errors.required" style="color:red">
                            {{'KNBS.SOL' | translate}}{{'RAISETCKT.REQ' | translate}}
                        </div>
                        <div *ngIf="!editknowledgeForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'KNBS.SOL' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5 control-label">
                    {{'PRODUCTMASTER.IMAGE'| translate}}:</div>
                    <div class="form-group col-lg-7 mb-0">
                        <div class="custom-file mb-3">
                            <input type="hidden" value="" name="file-upload">
                            <input type="file" name="file" accept="image/*"
                                formControlName="upload_image"
                                (change)="fileChangeEvents($event)" class="fileInputProfile" />
                            <label *ngIf="!ByDefault" class="custom-file-label"
                                for="customFile">Choose file</label>
                            <label *ngIf="ByDefault" class="custom-file-label"
                                for="customFile">{{name}}</label>
                        </div>
                        <p *ngIf="imageError" style="color: red;">{{imageError}}</p>
                        <p *ngIf="message" style="color: red">{{message}}</p>
                        <p *ngIf="load" style="color: red;">{{load}}</p>
                        <p *ngIf="imaisImageSavedgeError" style="color: red">{{imaisImageSavedgeError}}</p>
                        <ng-container *ngIf="isImageSaved">
                                <a class="RemoveColor pull-right" (click)="removeImage()" *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                            <div class="img-space">
                                <img *ngIf="spare_image" [src]="spare_image"/>
                                <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                            </div>
                        </ng-container>

                        <!-- <a class="btn btn-outline-red btn-pill custom-btn mt-2" (click)="removeImage()"
                            *ngIf="isImageSaved">Remove</a> -->
                    </div>
                <!-- <div class="col-lg-7 ">
                    <div class="col-lg-12">
                        <input type="file" class="custom-file-input" id="upload_image" formControlName="upload_image"
                            (change)="fileChangeEvent($event)" name="filename" accept="image/*">
                        <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                        <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filenames}}</label>
                        <p style="color: red;">{{image_validation}}</p>
                    </div>
                    <image-cropper *ngIf="cropped_img==true" id="img_crop" [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [resizeToWidth]="220" format="png"
                        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                    <div>
                        <button *ngIf="buttonmainedit" type="submit" class="close closecolor danger"
                            (click)="imageClear()">
                            <span>&times;</span>
                        </button>
                        <img [src]="imageChangedEvent" />
                    </div>
                    <div *ngIf="error" style="color:red">{{error}}
                    </div>
                </div> -->
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5 control-label">
                    {{'PRODUCTMASTER.VIDEO_UP'| translate}}:</div>
                <div class="col-lg-7">
                    <div class="col-lg-12">
                        <input type="file" class="custom-file-input" id="upload_video" formControlName="upload_video"
                            (change)="fileChangeVideo($event)" name="upload_video" accept="video/*">
                        <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                        <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{video_name}}</label>
                        <p style="color: red;">{{video_validation}}</p>
                    </div>
                </div>
            </div>
            <br>
          
        </form>
    </div>
      <!-- form actions begin -->
      <div class="modal-footer">
        <div class="form-actions" class="text-center">
            <div class="row datatable-center">
                <!-- column for submit button -->
                <div class="col-lg-12">
                    <!-- button for close -->
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn "
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <!-- button for update -->
                    <button type="button"
                        class="btn  btn-outline-success btn-sm btn-pill custom-btn  ml-2 disabledsubmit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpdate}"
                        [disabled]="editknowledgeForm.invalid"
                        (click)="updateKnowledge()">{{'PACKAGE_PLAN.UPDATE' |
                        translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- form actions end -->
</ng-template>

<ng-template #ImageView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'KNBS.IMVW' | translate}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body datatable-center">
        <img class="image_size" src={{httplink}}{{image_or_video}}>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
            (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    </div>
</ng-template>

<ng-template #VideoView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'KNBS.VIVW' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body datatable-center">
        <video id="my_video_1" loop muted autoplay oncanplay="this.play()" class="video-js vjs-default-skin"
            width="640px" height="267px" controls preload="none"
            data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
            <source src={{httplink}}{{image_or_video}} type='video/mp4' />
        </video>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
            (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    </div>
</ng-template>