.portlet__body{
    padding: 8px;
}
.fa fa-trash{
    border-color: none;
}
.right{
    float: right !important;
    margin-left: 5px;
}
.text-right{
    text-align: right;
}
.center{
  text-align: center;
}
.image_size{
    max-width: 50%;
}
.table-width{
    width:20%;
}
// .disabledsubmit{
//     cursor:not-allowed;
//     pointer-events: all !important;
// }
.disabledsubmit{
    cursor:not-allowed;
     pointer-events: all !important;
}
.txt_clr{
    color: #000;
}
.closecolor{
    color:#e7505a;
    opacity:1;
    margin-right: 18rem;
}
.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 50%;
    width: 50%;
    padding: 10px;
    min-height:175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}
.RemoveColor{
    color:#dc3545;
    width:50%;
    position: relative;
    // top: -185px;
    top:-10px;
    right:8px;
}
textarea{
    resize: none;
}
.RemoveColor{
    color:#dc3545;
    width:50%;
    position: relative;
    // top: -185px;
    top:-10px;
    right:8px;
}