<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.COM' | translate}}">
        <ng-container ktPortletTools>

            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold"
                (click)="openLarge(add)">{{'USER.ADDO' | translate}} </button>
        </ng-container>
    </kt-portlet-header>
    <br>
    <kt-portlet-body>


        <br>

        <table datatable="ng" *ngIf="showTables" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">

            <thead>

                <tr>
                    <th class="kt-footer kt-container datatable-center max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        Location type</th>
                    <th style="width: 20%;" class="kt-footer kt-container ">
                       Ah Range </th>
                        <th style="width:30%;" class="kt-footer kt-container ">
                       Number To be replaced                                                        </th>

                              <th style="width: 15%;" class="kt-footer kt-container ">
Voltage</th>
                        <th style="width: 15%;" class="kt-footer kt-container ">
                           Amount  </th>
                    <th class="kt-footer kt-container  datatable-center max-tables">{{'NEW_SUBSCRIPTION.ACTION'|
                        translate}}
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of compensate;let i=index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>{{item.location_type.location_type}} </td>
                    <td>{{item.ah_range}} </td>
                    <td>{{item.number_bc_replaced}} </td>
                    <td>{{item.voltage}} </td>
                    <td>{{item.amount}} </td>
                   
                    <td width="100" class="datatable-center">
                        <button style="padding:0px;" class="btn btn-base" (click)="editcompensatemodal(item,edit);">
                            <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button style="padding:0px" class="btn btn-base" (click)="detele(item.compensation_id)">
                            <i class="fa fa-trash trash"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </kt-portlet-body>
</kt-portlet>

<!--Modal box to add the  compensate-->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
       
        <h4 class="modal-title">{{'COM.ADD' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
           <form id="form_body" [formGroup]="AddCompensate" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
            <div class="row">
                <label class="control-label col-lg-4">Voltage :</label>

                <div class="col-lg-8">
                    <!-- <input type="text" class="form-control" formControlName="voltage"
                    placeholder="Enter Voltage"> -->
                    <select class="form-control" formControlName="voltage" name="voltage" id="voltage" (change)="onChangevoltage($event.target.value)">
                        <option value="null" disabled>Select Voltage</option>
                        <option value="2v">2v</option>
                        <option value="12v">12v</option>
                    </select>
                    <div *ngIf="log.voltage.errors && (log.voltage.dirty || log.voltage.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log.voltage.errors.required" style="color:red">
                        voltage {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                      
                </div>
            
                </div>
            </div>
            <br>                               
                <div class="row">
                    <label class="control-label col-lg-4">Location type :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="location_type_id" name="location_type_id" id="location_type_id">
                            <option value="null" disabled>Select Location</option>
                            <option *ngFor="let items of location_type; let i=index" [value]=items.location_type_id>
                                {{items.location_type}}
                            </option>
                        </select>
                        <div *ngIf="log.location_type_id.errors && (log.location_type_id.dirty || log.location_type_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.location_type_id.errors.required" style="color:red">
                             Location Type {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Range :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="ah_range" name="ah_range" id="ah_range">
                            <option value="null">Select  Range</option>
                            <option *ngFor="let items of range; let i=index" [value]=items.range>
                                {{items.range}}
                            </option>
                          
                        </select>
                        <!-- <input type="text" class="form-control" formControlName="ah_range"
                        placeholder="Enter Ah Range"> -->
                        <div *ngIf="log.ah_range.errors && (log.ah_range.dirty || log.ah_range.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.ah_range.errors.required" style="color:red">
                            Range {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                       
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Number to be replaced :</label>

                    <div class="col-lg-8">
                        <!-- <input type="text" class="form-control" formControlName="number_bc_replaced"
                        placeholder="Enter Replaced Range"> -->
                        <select class="form-control" formControlName="number_bc_replaced" name="number_bc_replaced" id="number_bc_replaced">
                            <option value="null">Select Replaced Range</option>
                            <option *ngFor="let items of replaced; let i=index" [value]=items.replaced>
                                {{items.replaced}}
                            </option>
                            <!-- <option value="0">0</option>
                            <option value="1-2">1-2</option>
                            <option value="3-4">3-4</option>
                            <option value="4+">4+</option> -->
                        </select>
                        <div *ngIf="log.number_bc_replaced.errors && (log.number_bc_replaced.dirty || log.number_bc_replaced.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.number_bc_replaced.errors.required" style="color:red">
                            Number to be replaced  {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                       
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Amount :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="amount"
                        placeholder="Enter Amount" (keypress)="numberOnly($event)">
                      
                        <div *ngIf="log.amount.errors && (log.amount.dirty || log.amount.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.amount.errors.required" style="color:red">
                            amount  {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                
                    </div>
                </div>
                <br>
              
               
            </form> 
         </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="addcompensate()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!AddCompensate.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>

<!--Modal box to add the segment-->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
       
        <h4 class="modal-title">{{'COM.EDIT' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="EditCompensate" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
         
                <div class="row">
                    <label class="control-label col-lg-4">Voltage:</label>

                    <div class="col-lg-8">
                        <!-- <input type="text" class="form-control" formControlName="voltage"
                        placeholder="Enter Voltage"> -->
                        <select class="form-control" formControlName="voltage" name="voltage" id="voltage" (change)="onChangevoltageEdit($event.target.value)">
                            <option value="" disabled>Select voltage</option>
                            <option value="2v">2v</option>
                            <option value="12v">12v</option>
                        </select>
                        <div *ngIf="logs.voltage.errors && (logs.voltage.dirty || logs.voltage.touched)"
                        class="m-b-10 error">
                        <div *ngIf="logs.voltage.errors.required" style="color:red">
                            voltage {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Location type :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="location_type_id" name="location_type_id" id="location_type_id" disabled>
                            <option value="" disabled>Select location</option>
                            <option *ngFor="let items of location_type; let i=index" [value]=items.location_type_id>
                                {{items.location_type}}
                            </option>
                        </select>
                        <div *ngIf="logs.location_type_id.errors && (logs.location_type_id.dirty || logs.location_type_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="logs.location_type_id.errors.required" style="color:red">
                             Location Type {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Range :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="ah_range" name="ah_range" id="ah_range">
                            <option value="null" >Select  Range</option>
                            <option *ngFor="let items of range; let i=index" [value]=items.range>
                                {{items.range}}
                            </option>
                          
                        </select>
                        <!-- <input type="text" class="form-control" formControlName="ah_range"
                        placeholder="Enter Ah Range"> -->
                        <div *ngIf="logs.ah_range.errors && (logs.ah_range.dirty || logs.ah_range.touched)"
                        class="m-b-10 error">
                        <div *ngIf="logs.ah_range.errors.required" style="color:red">
                            Range {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                       
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Number to be replaced :</label>

                    <div class="col-lg-8">
                        <!-- <input type="text" class="form-control" formControlName="number_bc_replaced"
                        placeholder="Enter Replaced Range"> -->
                        <select class="form-control" formControlName="number_bc_replaced" name="number_bc_replaced" id="number_bc_replaced">
                            <option value="" >Select Replaced Range</option>
                            <option *ngFor="let items of replaced; let i=index" [value]=items.replaced>
                                {{items.replaced}}
                            </option>
                            <!-- <option value="0">0</option>
                            <option value="1-2">1-2</option>
                            <option value="3-4">3-4</option>
                            <option value="4+">4+</option> -->
                        </select>
                        <div *ngIf="logs.number_bc_replaced.errors && (logs.number_bc_replaced.dirty || logs.number_bc_replaced.touched)"
                        class="m-b-10 error">
                        <div *ngIf="logs.number_bc_replaced.errors.required" style="color:red">
                            Number to be replaced  {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                       
                
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">Amount :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="amount"
                        placeholder="Enter Amount" (keypress)="numberOnly($event)">
                      
                        <div *ngIf="logs.amount.errors && (logs.amount.dirty || logs.amount.touched)"
                        class="m-b-10 error">
                        <div *ngIf="logs.amount.errors.required" style="color:red">
                            amount  {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          
                    </div>
                
                    </div>
                </div>
                <br>
              
               
            </form> 
         </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="edit_compensate()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!EditCompensate.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>
