<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="Dashboard">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
        </ng-container>
    </kt-portlet-header>
    <!-- begin body for portlet-->
    <kt-portlet-body class="body">
        <div class="row">
            <!-- Current Tickets Statistics starts -->
            <div class="col-lg-6 back_clr">
                <div class="modal-header p-3">
                    <p class="col-lg-8 txt_size ">CURRENT TICKETS</p>
                    <div class=" col-lg-4 align-right">
                        <div ngbDropdown class="d-inline-block">
                            <button ngbDropdownToggle class="btn btn-pill export-btn btn-sm " id="dropdownMenuButton"><i
                                    class="fas fa-file-export"></i>Export</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <button ngbDropdownItem> <a (click)='exportTicketPNG()'>Export as
                                        Image</a></button>
                                <button ngbDropdownItem><a (click)='exportTicketPDF()'>Export as
                                        Pdf</a></button>
                            </div>
                        </div>
                        <button (click)='printTicket()' class="btn btn-pill btn-outline-brand btn-sm  ml-2 d-none"><i
                                class="fas fa-print"></i>Print</button>
                    </div>
                </div>
                <br>

                <div class="control-section col-lg-6 left_crt">
                    <ejs-accumulationchart #chart id="chart-container" [tooltip]='tooltip' [title]='fresh'>
                        <e-accumulation-series-collection>
                            <e-accumulation-series [dataSource]='piedataticket' xName='x' yName='y'
                                [dataLabel]='datalabel'>
                            </e-accumulation-series>
                        </e-accumulation-series-collection>
                    </ejs-accumulationchart>
                </div>
                <div class="control-section col-lg-6 right_crt">
                    <ejs-accumulationchart #chart6 id="chart-container1" [tooltip]='tooltip' [title]='carryforward'>
                        <e-accumulation-series-collection>
                            <e-accumulation-series [dataSource]='piedata' xName='x' yName='y'
                                [dataLabel]='datalabelticket'>
                            </e-accumulation-series>
                        </e-accumulation-series-collection>
                    </ejs-accumulationchart>
                </div>
            </div>
            <!-- end -->


            <!-- Ticket Distribution Statistics starts -->
            <div class="col-lg-6 back_clr">
                <div class="modal-header p-3">
                    <p class="col-lg-8 txt_size ">TICKET DISTRIBUTION</p>
                    <div class=" col-lg-4 align-right">
                        <div ngbDropdown class="d-inline-block">
                            <button ngbDropdownToggle class="btn btn-pill export-btn btn-sm  "
                                id="dropdownMenuButton"><i class="fas fa-file-export"></i>Export</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <button ngbDropdownItem> <a (click)='exportTicketSparePNG()'>Export as
                                        Image</a></button>
                                <button ngbDropdownItem><a (click)='exportTicketSparePDF()'>Export as
                                        Pdf</a></button>
                            </div>
                        </div>
                        <button (click)='printTricketSpare()'
                            class="btn btn-pill btn-outline-brand btn-sm ml-2 d-none"><i
                                class="fas fa-print"></i>Print</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-7">
                    </div>
                    <div class="col-lg-5 align-right">
                        <select class="form-control" (change)="onchangeDay($event.target.value,1)">
                            <option value="Today">Today</option>
                            <option selected value="This Week">This week</option>
                            <option value="This Month">This Month</option>
                            <option value="This Year">This Year</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="control-section">
                    <ejs-chart id="chart-container2" #chart1 [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                        (pointRender)='pointRender($event)' [tooltip]='tooltip' [palettes]='palette'>
                        <e-series-collection>
                            <e-series [dataSource]='ticket_distribution' type='Column' xName='label' yName='value'
                                tooltipMappingName='x'>
                            </e-series>
                        </e-series-collection>
                    </ejs-chart>
                </div>
            </div>
            <!-- end -->
        </div>
        <br>

        <!-- C-SAT INSIGHTS(IN PERCENTAGE) Statistics Starts -->
        <div class="row">
            <div class="col-lg-6 back_clr">
                <div class="modal-header p-3">
                    <p class="col-lg-8 txt_size ">C-SAT INSIGHTS(IN PERCENTAGE)</p>
                    <div class=" col-lg-4 align-right">
                        <div ngbDropdown class="d-inline-block">
                            <button ngbDropdownToggle class="btn btn-pill export-btn btn-sm " id="dropdownMenuButton"><i
                                    class="fas fa-file-export"></i>Export</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <button ngbDropdownItem> <a (click)='exportCsatPNG()'>Export as
                                        Image</a></button>
                                <button ngbDropdownItem><a (click)='exportCsatPDF()'>Export as
                                        Pdf</a></button>
                            </div>
                        </div>
                        <button (click)='printCsat()' class="btn btn-pill btn-outline-brand btn-sm  ml-2 d-none"><i
                                class="fas fa-print"></i>Print</button>
                    </div>
                </div>
                <br>
                <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                    [formGroup]="CSatGroup">
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <select formControlName="product_id" class="form-control"
                                (change)="onchangeDay($event.target.value,2)">
                                <option value="">Select Product</option>
                                <option *ngFor="let items of product" [value]=items.product_id>
                                    {{items.product_name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select formControlName="datetime_value" class="form-control "
                                (change)="onchangeDay($event.target.value,2)">
                                <option value="Today">Today</option>
                                <option selected value="This Week">This week</option>
                                <option value="This Month">This Month</option>
                                <option value="This Year">This Year</option>
                            </select>
                        </div>
                    </div>
                </form>
                <br>

                <div class="row">
                    <div class="control-section col-lg-6 ">
                        <ejs-accumulationchart #chart2 id="chart-container3" [tooltip]='tooltip'>

                            <e-accumulation-series-collection>

                                <!-- </e-accumulation-series-collection>
                            <e-accumulation-series-collection> -->
                                <e-accumulation-series [dataSource]='csat_data' xName='target_label'
                                    yName='target_value' [dataLabel]='csatdatalabel'>
                                </e-accumulation-series>
                                <e-accumulation-series [dataSource]='csat_data' xName='actual_label'
                                    yName='actual_value' [dataLabel]='csatdatalabel' [emptyPointSettings]='empty'>
                                </e-accumulation-series>



                            </e-accumulation-series-collection>
                        </ejs-accumulationchart>

                    </div>

                    <div class="control-section col-lg-6 ">
                        <ejs-chart id="chart-container4" [tooltip]='tooltip' [primaryXAxis]='primaryXAxis1'
                            [primaryYAxis]='primaryYAxis1'>
                            <e-series-collection>
                                <e-series [dataSource]='csat_data1' type='Column' xName='label' yName='actual_value'
                                    name='actual_value'>
                                </e-series>
                                <e-series [dataSource]='csat_data1' type='Column' xName='label' yName='target_value'
                                    name='target_value'>
                                </e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </div>
                </div>

                <!-- </div> -->
            </div>
            <!-- end -->

            <!--  TICKET INSIGHTS Statistics Starts -->
            <div class="col-lg-6  back_clr">
                <div class="modal-header p-3">
                    <p class="col-lg-8 txt_size ">TICKET INSIGHTS</p>
                    <div class=" col-lg-4 align-right">
                        <div ngbDropdown class="d-inline-block">
                            <button ngbDropdownToggle class="btn btn-pill export-btn btn-sm " id="dropdownMenuButton"><i
                                    class="fas fa-file-export"></i>Export</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <button ngbDropdownItem> <a (click)='exportInsightPNG()'>Export as
                                        Image</a></button>
                                <button ngbDropdownItem><a (click)='exportInsightPDF()'>Export as
                                        Pdf</a></button>
                            </div>
                        </div>
                        <button (click)='printInsight()' class="btn btn-pill btn-outline-brand btn-sm ml-2 d-none"><i
                                class="fas fa-print"></i>Print</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-7">
                    </div>
                    <div class="col-lg-5 align-right">
                        <select class="form-control " (change)="onchangeDay($event.target.value,3)">
                            <option value="Today">Today</option>
                            <option selected value="This Week">This week</option>
                            <option value="This Month">This Month</option>
                            <option value="This Year">This Year</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="control-section">

                    <div align="center">
                        <ejs-chart style="display:block;" align="center" id="chart-container5"
                            [primaryXAxis]="primaryXAxis5" [primaryYAxis]="primaryYAxis5" [title]="title"
                            [tooltip]="tooltip">
                            <e-series-collection>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="12M/15M Warranty" name="12M/15M Warranty" [marker]="marker1">
                                </e-series>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="24M/27M Warranty" name="24M/27M Warranty" [marker]="marker1">

                                </e-series>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="30M/33M Warranty" name="30M/33M Warranty" [marker]="marker1">

                                </e-series>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="36M/39M Warranty" name="36M/39M Warranty" [marker]="marker1">

                                </e-series>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="48M/51M Warranty" name="48M/51M Warranty" [marker]="marker1">

                                </e-series>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="60M/63M Warranty" name="60M/63M Warranty" [marker]="marker1">

                                </e-series>
                                <e-series [dataSource]="LinechartComprehensiveData" type="Column" xName="product"
                                    yName="72M/75M Warranty" name="72M/75M Warranty" [marker]="marker1">

                                </e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </div>


                    <!-- 
                    <div *ngFor="let item of LinechartDemandData; index as i;">
                        <ejs-chart id="chart-container5" #chart3 [tooltip]='tooltip' [primaryXAxis]='primaryXAxis5'
                            [primaryYAxis]='primaryYAxis5'>
                            <e-series-collection>
                                <e-series [dataSource]='LinechartLabourData' type='StackingColumn' xName='product'
                                    yName='{{item}}' name='{{item}}' [marker]='marker'></e-series>
                                <e-series [dataSource]='LinechartLabourData' type='Column' xName='product'
                                    yName='24M/27M Warranty' name='24M/27M Warranty' [marker]='marker'></e-series>
                            </e-series-collection> -->
                    <!-- type='Spline'  -->
                    <!-- </ejs-chart> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- End -->
        </div>
               
    </kt-portlet-body>
</kt-portlet>
<br>












<!-- </div> -->
<!-- <div *ngFor="let item2 of LinechartDemandData;let i=index">
        <div *ngFor="let item1 of LinechartLabourData;let j=index">

    <div *ngIf='item1[i]== item2'>
            {{item1}}
        </div> 
    </div>
</div> -->