:host {
	::ng-deep {
		// override default version style
		.kt-header__topbar {
			> :last-child:not([role="tooltip"]) {
				.kt-header__topbar-item {
					margin-right: 0 !important;
				}
			}
			.kt-header__topbar-item {
				margin-right: 0.36rem !important;
			}
		}
	}
}



select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .show {display:block !important;}
  #myDropdown{
      display:none;
  }
  
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    // margin-top:10%;
    transition: all 1s ease;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -15px;
    top: 42px;
  }
  
  .myprofile-icon i{
    font-size:25px !important;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:12px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  .dropdown a i{
      font-size:15px;
      margin-right:6px;
  }
  //profile dropdown icon removing border
  .profile-dropdown{
    border:none;
  }
  .custom-icons{
    font-size: 15px !important;
    color:#c8cad5;
  }
  .logout-overall{
    // margin-top:12px;
    padding-top:11px;
  }
  //notification user color change
  .kt-head__title{
    color:black !important;
  }
  .user-notifications .dropdown-menu{
    left:-92px !important;
  }
  .user-notifications .custon-iconic{
    font-size:14px !important;
  }
  .custon-iconic{
    font-size:12px !important;
  }

  @media screen and (max-width:1028px){
    .logout-overall{
      padding-top:18px;
    }
  }