<div class="modal-body">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
        <!-- begin body for portlet-->
        <kt-portlet-header class="col-lg-12" title="{{'MENU.SITE' | translate}}">

        </kt-portlet-header>

        <kt-portlet-body>
            <form id="form_body" [formGroup]="EditSite" class="ng-untouched ng-pristine ng-valid "
                (ngSubmit)="submit()">
                <div class="kt-section">
                    <div class="row " style="display: none;">
                        <div class="col-lg-5">
                            <label class="control-label"> {{'SITE.SITE_ID' | translate}} :</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" name="hidden_site_id" formControlName="site_id"
                                placeholder="Enter Site Id" id="hidden_site_id" readonly="">
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-5">
                            <label class="control-label">{{'SITE.COPY' | translate}} : </label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" formControlName="copyright_info"
                                placeholder="Enter Site Id" placeholder="Enter Copyright ">
                            <div *ngIf="log.copyright_info.errors && (log.copyright_info.dirty || log.copyright_info.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.copyright_info.errors.required" style="color:red">
                                    {{'SITE.COPYR' | translate}} </div>
                                    <div *ngIf="!EditSite.hasError('whitespace')" style="color:red">
                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                        {{'SITE.COPY' | translate}}
                                      </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-5">
                            <label class="control-label ">{{'SITE.NOTIFY' | translate}} <span>(in
                                    secs):</span></label>
                        </div>
                        <div class="col-lg-7">
                            <input  class="form-control" type="text"  (keypress)="numberOnly($event)" maxlength="2" formControlName="notification_elapse_time"
                                placeholder="Enter Notification">
                            <div *ngIf="log.notification_elapse_time.errors && (log.notification_elapse_time.dirty || log.notification_elapse_time.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.notification_elapse_time.errors.required" style="color:red">
                                    {{'SITE.NOTIFYE' | translate}} </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-5">
                            <label class="control-label">{{'SITE.TECHRADIUS' | translate}}<span>(in kms)</span>:
                            </label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" (keypress)="numberOnly($event)" maxlength="3" class="form-control" formControlName="technician_radius"
                                placeholder="Enter Radius">
                            <div *ngIf="log.technician_radius.errors && (log.technician_radius.dirty || log.technician_radius.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.technician_radius.errors.required" style="color:red">
                                    {{'SITE.TECH' | translate}} </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-5">
                            <label class="control-label">{{'SITE.PREFIX' | translate}}<span></span>: </label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" formControlName="customer_prefix"
                                placeholder="Enter Code Prefix" onKeyPress="if(this.value.length==6) return false;">
                            <div *ngIf="log.customer_prefix.errors && (log.customer_prefix.dirty || log.customer_prefix.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.customer_prefix.errors.required" style="color:red">
                                    {{'SITE.EPREFIX' | translate}} </div>
                                <div *ngIf="log.customer_prefix.errors.maxlength" style="color:red">
                                    {{'SITE.PREFIX' | translate}} {{'NEW_SUBSCRIPTION.MUST' | translate}}</div>
                                <div *ngIf="log.customer_prefix.errors.minlength" style="color:red">
                                    {{'SITE.PREFIX' | translate}} {{'SITE.DIGI' | translate}} </div>
                                <div *ngIf="log.customer_prefix.errors.pattern" style="color:red">
                                    {{'SITE.PREFIX' | translate}} {{'SITE.MUST' | translate}}  </div>
                                    <div *ngIf="!EditSite.hasError('whitespace')" style="color:red">
                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                        {{'SITE.PREFIX' | translate}}
                                      </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-5">
                            <label class="control-label ">{{'SITE.TECHASSIGNTYPE' | translate}}<span>(in kms)</span>:
                            </label>
                        </div>
                        <div class="col-lg-7">
                            <select formControlName="technician_assign_type" class="form-control">
                                <option value="" selected="empty" disabled="">--{{'SITE.SELECT' | translate}}--</option>
                                <option value="manual"> Manual</option>
                                <option value="automatic"> Automatic</option>
                            </select>
                            <div *ngIf="log.technician_assign_type.errors && (log.technician_assign_type.dirty || log.technician_assign_type.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.technician_assign_type.errors.required" style="color:red">
                                    {{'SITE.TECHAR' | translate}} </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-5">
                            <label class="control-label">{{'SITE.LOGO' | translate}}<span></span>: </label>
                        </div>
                        <div class="form-group col-lg-7">
                            <div class="custom-file mb-3">
                                <input type="hidden" value="" name="file-upload">
                                <input type="file" name="file" accept="image/*"
                                    formControlName="company_logo"
                                    (change)="fileChangeEvents($event)" class="fileInputProfile" />
                                <label *ngIf="!ByDefault" class="custom-file-label"
                                    for="customFile">{{'SITE.FILE' | translate}}</label>
                                <label *ngIf="ByDefault" class="custom-file-label"
                                    for="customFile">{{Filename}}</label>
                            </div>
                            <p style="color: red">{{message}}</p>
                            <p style="color: red;">{{load}}</p>
                            <p style="color: red">{{imageError}}</p>
                            <ng-container *ngIf="isImageSaved">
                                <div class="img-space"><img *ngIf="image"[src]="image"/>
                                    <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                                </div>
                            </ng-container>

                            <a class="btn btn-danger" (click)="removeImage()"
                                *ngIf="isImageSaved"> {{'SITE.REMOVE' | translate}}</a>
                        </div>
                        
                    </div>
                    <br>
                    <p style="color: red;">{{error}}</p>
                   
                    <button color="primary" (click)="editsite()"
                        class="pull-right btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
                        [disabled]="EditSite.invalid">{{'SITE.SAVE' | translate}}</button>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>