<kt-portlet [class]="'kt-portlet--height-fluid'">

  <!-- portlet body begins -->


  <kt-portlet-header title="Organization Structure">
    <!--heading for portlet-->
    <ng-container ktPortletTools>

      <button class="btn btn-outline-dark custom-btn btn-sm  btn-pill pull-right"
        (click)="openBulk(bulkorganization)">{{'ORG_STR.BULK' | translate}}
      </button>
      <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right ml-2" (click)="openLarge(add_nodes)">Add
      </button>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body class="page_response">
    <div class="kt-container ">
      <ngx-org-chart *ngIf="showTable" class="mt-1 org-overall" [nodes]="getorgnode" direction="vertical"
        (itemClick)="openeditmodal(edit)" (itemClick)="test($event)" (itemClick)="add($event)" #div>
      </ngx-org-chart>
      <p style="color: red;">{{geterror}}</p>

    </div>

    <ng-template #edit let-c="close" let-d="dismiss">
      <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">Update Organization Structure</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- body begin -->
      <div class="modal-body">

        <!-- <div class="kt-section"> -->
        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
          [formGroup]="Edit_org_form" (ngSubmit)="editorgform(edit_data)">
          <!-- <div class="form-body"> -->


          <!-- empty row -->
          <div class="row" style="display:none">
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> Node Id</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" name="hidden_node_id" formControlName="node_id"
                id="hidden_node_id" readonly="" placeholder="Enter Node Id">
            </div>
          </div>
          <!-- <br> -->
          <div class="row">
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> Node Name :</label>
            <div class="col-lg-8">
              <input type="text" placeholder="Enter Node Name" class="form-control" formControlName="node_name">
              <div *ngIf="e.node_name.errors && (e.node_name.dirty || e.node_name.touched)" class="m-b-10 error">
                <div *ngIf="e.node_name.errors.required" style="color:red">Node Name is required
                </div>
                <div *ngIf="!Edit_org_form.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                  Node Name
                </div>
              </div>
              <!-- <div *ngIf="e.node_name.errors"  class="invalid-feedback">
                      <div *ngIf="e.node_name.errors.required">Parent id is required</div>
                  </div> -->
            </div>
          </div>
          <!-- <br> -->
          <div class="row" style="display:none">
            <!-- label for CompanyID-->
            <label class="control-label col-lg-4"> parent id</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" name="hidden_parent_id" formControlName="parent_id"
                placeholder="Enter Parent Id" id="hidden_parent_id" readonly="">
            </div>
          </div>
          <!-- <br> -->

          <!-- </div> -->

          <!-- form actions end -->
          <br>
          <p style="color: red;">{{errors}}</p>
        </form>
        <!-- end form group -->
        <!-- </div> -->

        <!-- end body for portlet-->

      </div>

      <div class="modal-footer">

        <!-- form actions begin -->
        <div class="form-actions" class="text-center">
          <div class="row">
            <!-- column for submit button -->
            <!-- <div class="col-md-12"> -->
            <!-- button for close -->
            <!-- <button typ e="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                           (click)="c('Close click')">{{'PACKAGE_PLAN.CANCEL' | translate}}</button> -->
            <!-- button for delete -->
            <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn ml-2"
              (click)="trash(items)">{{'ORG_STR.DEL' | translate}}</button>
            <!-- button for update -->
            <button type="submit" class="btn btn-outline-success btn-sm  btn-pill  ml-2 custom-btn disabledsubmit"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpdate}"
              [disabled]="!Edit_org_form.valid" (click)="submit(myInput)">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>


            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>

    </ng-template>


    <ng-template #add_nodes let-c="close" let-d="dismiss">
      <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">Add</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- body begin -->
      <div class="modal-body">
        <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
        <!-- begin body for portlet-->
        <!-- <kt-portlet-body> -->
        <!-- <div class="kt-section"> -->
        <!-- Form group for renewal license -->
        <form id="form_body" [formGroup]="AddNodes" (ngSubmit)="submit(data)" novalidate=""
          class="custom-forms ng-untouched ng-pristine ng-valid">

          <div class="row">
            <!-- label for package plan -->
            <label class="control-label col-lg-4">Parent : </label>
            <div class="col-lg-8">
              <!-- select dropdown from master using id -->
              <select formControlName="parent_id" class="form-control" name="parent_id" id="parent_id" tabindex="1">
                <option value="" [selected]="true" disabled>--Select Parent--
                </option>
                <option *ngFor="let items of getaddnodes" [value]=items.node_id>
                  {{items.node_name}}</option>
              </select>
              <div *ngIf="f.parent_id.errors && (f.parent_id.dirty || f.parent_id.touched)" class="m-b-10 error">
                <div *ngIf="f.parent_id.errors.required" style="color:red">Parent id is required
                </div>
              </div>
              <!-- <div *ngIf="f.parent_id.errors"  class="invalid-feedback">
                    <div *ngIf="f.parent_id.errors.required">Parent id is required</div>
                </div> -->
            </div>
          </div>
          <br>
          <div class="row">
            <!-- label for package plan -->
            <label class="control-label col-lg-4">Node Name :</label>
            <div class="col-lg-8">
              <input type="text" formControlName="node_name" class="form-control" placeholder="Enter Node Name">
              <div *ngIf="f.node_name.errors && (f.node_name.dirty || f.node_name.touched)" class="m-b-10 error">
                <div *ngIf="f.node_name.errors.required" style="color:red">Node Name is required
                </div>
                <div *ngIf="!AddNodes.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                  Node Name
                </div>
              </div>
              <!-- <div *ngIf="f.node_name.errors"  class="invalid-feedback">
                    <div *ngIf="f.node_name.errors.required">Parent id is required</div>
                </div> -->
            </div>
          </div>
          <p style="color: red;">{{errors}}</p>
        </form>
        <!-- end form group -->
        <!-- </div> -->
        <!-- <div class="kt-separator kt-separator--dashed"></div> -->

        <br>
        <!-- <p style="color: red;">* All Fields are mandatory.</p> -->
        <!-- </kt-portlet-body> -->
        <!-- end body for portlet-->
        <!-- </kt-portlet> -->
      </div>
      <div class="modal-footer">

        <div class="text-center">
          <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
            {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
          <!-- button for submit -->
          <button class="btn btn-outline-success btn-pill btn-sm ml-2 custom-btn disabledsubmit"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
            (click)="addnode(myInput)" [disabled]="!AddNodes.valid"
            data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>
      </div>
    </ng-template>

    <!-- Dialog for bulk upload for organization-->
    <ng-template #bulkorganization let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{'ORG_STR.BULKORG' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5 nopadding">
            <a class="btn purple-sharp btn-circle btn-outline sample-temp"
              href="assets/sample_templates/Organization_Strucure.xlsx">{{'ORG_STR.SAMPLE' | translate}}</a>
          </div>
          <div class="col-sm-7 nopadding">
            <div class="custom-file mb-3">
              <input type="hidden" value="" name="file-upload">
              <!-- <span>{{Filename}}</span> -->
              <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)"
                name="filename">
              <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
              <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
              <p style="color: red;">{{error}}</p>
            </div>
          </div>
          <div style="color: red;" *ngFor="let number of bulk;  let i=index">
            {{i+1}}. {{number}}

          </div>
          <div class="col-sm-9" style="display:none">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="input-group input-large">
                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                  <div class="" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>
                    <input type="hidden" value="" name="file-upload">
                    <input #file type="file" name="" class="ml-4" id="file-upload" (change)="fileUpload($event)">
                    <span class="fileinput-filename"></span>

                    <span class="input-group-addon btn default btn-file">
                      <span style="display:none" class="fileinput-new" id="span-button">
                        {{'ORG_STR.SELECT' | translate}}</span>
                      <!-- <br> -->

                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
          {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpload}"
          (click)="filesubmit()">{{'ORG_STR.UPLOAD' | translate}}</button>
      </div>

    </ng-template>


  </kt-portlet-body>




  <!-- ends portlet body -->
</kt-portlet>