
  .kt-heading {
    margin: 0px;
    margin-top: -15px;
    margin-left: 10px;
    font-size: 1.5rem;
}
 
 
  
  .ngx-org {
    &-horizontal {
      padding: 1em 0;
    }
  
    &-vertical {
      padding: 0 1em;
    }
  
    &-border {
      border: 1px solid #5d78ff;
    }
  
    &-box {
      padding: 0.5em 1em;
      border-radius: .2em;
      box-shadow: 0.05em 0.05em 0.2em 0.05em #5d78ff;
    }
  
    &-connector {
      &-horizontal {
        width: 1em;
      }
  
      &-vertical {
        height: 1em;
      }
    }
  }
  .ngx-org {
    &-image {
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      margin-right: 0.5em;
      background-color:#5d78ff;
      border-radius: 50%;
      padding: 0.25em;
    }
  
   
  }
  
 
  
  
  .ngx-org {
    &-horizontal {
      padding: 1em 0;
    }
  
    &-vertical {
      padding: 0 1em;
    }
  
    &-border {
      border: 1px solid #a9a9a9;
    }
  
    &-box {
      // padding: 0.5em 1em; old value of the tree
      padding: 0.5em 0.8em;
      border-radius: .2em;
      box-shadow: 0.05em 0.05em 0.2em 0.05em #ccc;
      // box-shadow: 0.05em 0.05em 0.2em 0.05em #5d78ff;
    }
  
    &-connector {
      &-horizontal {
        width: 1em;
      }
  
      &-vertical {
        height: 1em;
      }
    }
  }
  .ngx-org-box[_ngcontent-wqv-c16] {
    cursor: pointer;
    display: inline;
    align-items: center;
}
.div{
  color: #0000;
}
.ngx-org-title{
  display:none;
}
.ngx-org-name{
  color:#2F4F4F;
  text-transform:capitalize;
}
// button.btn.btn-info.pull-right.width {
//   margin-right: 1%;
// }


// ngx-chart-node.ngx-org-vertical {
//   margin-left: 5%;
// }
// button.btn.btn-secondary {
//   margin-left: 1%;
// }
button.btn.btn-info.pull-right.width {
  margin-right: 3px;
}
.kt-separator {
  margin-top: 10px;
}
#file-upload:focus{
  outline:none !important;
}
.sample-temp:hover{
  text-decoration: underline;
  cursor:pointer;
  color:#3498db;
}
.disabledsubmit{
  cursor: not-allowed;
}
.page_response{
  // width: 500px;
  overflow-y: scroll;
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  cursor: not-allowed !important;
  }
  .org-overall{
    display: grid; 
  }