<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title=" {{'NEWTCKT.SUMREPORT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body class="portlet__body">
        <form [formGroup]="filterSummary">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="from_date"  [(ngModel)]="from"
                            placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker"  (dateSelect)="dateChange($event)" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="to_date" [minDate]="minDate2" [maxDate]="maxDate2"  [(ngModel)]="to"
                            placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-2" *ngIf="region_wise=='Yes'">
                    <select formControlName="region" class="form-control">
                        <option value="" selected>--Select Region--</option>
                        <option value="3"> North </option>
                        <option value="2"> South </option>
                        <option value="4"> East </option>
                        <option value="5"> West </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select formControlName="status" class="form-control">
                        <option value="" disabled selected>-- Status--</option>
                        <option value="1">Open</option>
                        <option value="2">Completed</option>
                        <option value="3">Closed</option>
                        <option value="4">ALL</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select formControlName="segment_id" class="form-control" (change)="summarysegment()" >
                        <option value="" disabled selected>--Select segment--</option>
                        <option *ngFor="let seg of segments" value="{{seg.segment_id}}">
                            {{seg.segment_name}}</option>
                    </select>
                    <!-- <select formControlName="segment_id" class="form-control" (click)="filterSegmentF()">
                        <option value="" disabled selected>--Select  segment--</option>
                        <option *ngFor="let seg of segments" value="{{seg.segment_id}}">
                            {{seg.segment_name}}</option>
                    </select> -->

                </div>
                <div class="col-md-2">
                    <select formControlName="setr_details" class="form-control" (change)="summarysegment()">
                        <option value="" disabled selected>-- select setr details--</option>
                        <option value="1">With Setr</option>
                        <option value="2">Without Setr</option>
                    </select>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn "
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                        (click)="filterSummaryF()" [disabled]="filterSummary.invalid">{{'NEW_SUBSCRIPTION.SUB' |
                        translate}}</button>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEX}"
                        (click)="exportAsXLSX()">
                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                </div>
              <div *ngIf="excelerror" style="color:red ;  margin-left: 52%;">{{excelerror}}</div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col-md-3">
                    <select formControlName="state_id"  class="form-control">
                        <option value="" selected>--Select State--</option>
                        <option *ngFor="let as_data of states" value="{{as_data.state_id}}">
                            {{as_data.state_name}}</option>

                    </select>
                   
                </div>
               
               
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn "
                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                    (click)="filterSummaryF()" [disabled]="filterSummary.invalid">{{'NEW_SUBSCRIPTION.SUB' |
                    translate}}</button>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right"
                        (click)="exportAsXLSX()">
                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                </div>

            </div> -->

        </form>
        <br>
        <!-- <br>
<form [formGroup]="filterSegment">
    <div class="row">
        <div class="col-md-3">
            <select formControlName="segment_id" class="form-control">
                <option value="" selected>--ALL segment--</option>
                <option *ngFor="let seg of segments" value="{{seg.segment_id}}">
                    {{seg.segment_name}}</option>
            </select>
        </div>
        <div class="col-md-3">
          
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 "
            (click)="filterSegmentF()">
            {{'TRAININGSCORE.EXCEL' | translate}}</button>
        </div>
    </div>
</form> -->
        <br>
        <div class="kt-section__content">
            <div class="table-responsive">
            <!-- <button class="btn btn-success" (click)="rerender()">rerender</button> -->
            <table id="datatables" class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.TCKID' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_NAME' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.PRODUCT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'SPARE.MODEL' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_ACCEPDT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_REQDT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_STDT' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.CUS_CLDT' | translate}}
                        </th>

                        <th style="width: 15%;" class="kt-footer kt-container">
                            {{'NEWTCKT.TCKTSTS' | translate}}
                        </th>

                    </tr>
                </thead>
                <tbody *ngIf="summary_report?.length != 0">
                    <tr *ngFor="let item of summary_report; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.ticket_id}}</td>
                        <td>{{item.customer_name}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.customer_requested_date}}</td>
                        <td>{{item.accept_date}}</td>
                        <td>{{item.start_date}}</td>
                        <td>{{item.date_of_completion}}</td>
                        <td>{{item.status}}</td>

                    </tr>
                </tbody>
                <tbody *ngIf="summary_report?.length == 0">
                    <!-- <tr colspan="3" style="text-align: center;">No records found -->
                    <div colspan="3" style="text-align: end;">No records found</div>
                    <!-- </tr> -->
                  </tbody>
            </table>
        </div>
        </div>


    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>