<kt-portlet [class]="'kt-portlet--height-fluid'">
   <kt-portlet-header title="SLA Mapping">
      <!--heading for portlet-->

   </kt-portlet-header>
   <!-- begin body for portlet-->
   <kt-portlet-body>
      <!-- <div class="kt-section"> -->
      <!-- <div class="kt-section__content"> -->

      <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab="ngbTabset">
         <ngb-tab id="tab-selectbyid1" title="SLA Mapping">
            <ng-template ngbTabContent>
               <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">
                  <div class="row">
                     <div class="col-md-0" style="display:none;">
                        <div class="form-group">

                        </div>
                     </div>
                     <div class="col-md-12 ">



                     </div>
                  </div>

                  <kt-portlet>
                     <kt-portlet-body style="border: 1px solid gray">

                        <!--begin: Wizard -->
                        <div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2"
                           data-ktwizard-state="step-first">
                           <div class="kt-grid__item kt-wizard-v2__aside">
                              <!--begin: Form Wizard Nav -->
                              <div class="kt-wizard-v2__nav">
                                 <div class="kt-wizard-v2__nav-items">
                                    <div class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step"
                                       data-ktwizard-state="current">
                                       <div class="kt-wizard-v2__nav-body">

                                          <div class="kt-wizard-v2__nav-label">
                                             <div class="kt-wizard-v2__nav-label-title">
                                                <li id="company1">
                                                   <div id="image">

                                                      <span class="helper">
                                                      </span>

                                                      <div>

                                                         <a (click)="getproduct()">
                                                            <div class="img-space">
                                                               <img src={{httplink}}{{organization_logo}} class="reimg"
                                                               (click)=" goToBottom()" />
                                                       </div>
                                                            <!-- <div style="float:left;"> -->
                                                            <!-- <img [src]="'http://'+organization_logo" class="reimg"
                                                               (click)=" goToBottom()"> -->
                                                            <p> {{organization_name}}</p>
                                                            <!-- </div> -->
                                                         </a>
                                                         <!-- <p style="color: red;">{{error}}</p> -->
                                                      </div>
                                                   </div>

                                                   <!-- for dynamic content -->

                                                </li>
                                             </div>

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!--end: Form Wizard Nav -->

                           </div>

                           <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                              <div class="demo">
                                 <!--begin: Form Wizard Form-->
                                 <form class="kt-form  mt-4" id="kt_form">
                                    <!--begin: Form Wizard Step 1-->
                                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content"
                                       data-ktwizard-state="current">
                                       <div class="kt-heading kt-heading--md name_size mb-0">Product Category</div>
                                       <div class="kt-form__section kt-form__section--first">
                                          <div class="kt-wizard-v2__form">
                                             <div class="tab-content tab-height" id="product_append">
                                                <div class="tab-pane product_append company5 active" id="">
                                                   <!-- <p class="main-category">Product Category</p> -->
                                                   <div class="row ">
                                                      <div *ngFor="let item of product_data"
                                                         class=" ml-5 mt-2 img_view">
                                                         <div class="col-lg-12 nothings front" style="cursor: pointer;">

                                                            <a
                                                               (click)="getsubimage_details(item.product_id);onchangeproduct(item.product_id)">
                                                               <div class="col-lg-12" class="image_one"
                                                                  style="float:left;">
                                                                  <!-- Image triggered to sub product -->
                                                                  <img src={{httplink}}{{item.product_image}}
                                                                     (click)=" goToBottom()">
                                                               </div>
                                                            </a>
                                                            <div class="caption catg-title2"
                                                               style="background: #09bbff;">
                                                               <p> {{item.product_name}}</p>
                                                            </div>
                                                         </div>
                                                      </div>

                                                      <br>
                                                   </div>
                                                  
                                                   <br>

                                                   <div class="kt-heading kt-heading--md col-lg-2 sub_size">
                                                      SubProduct
                                                   </div>
                                                   <div class="row ">
                                                      <div class="col-lg-12">
                                                         <!-- <div class="col-lg-12 nothings front"> -->
                                                         <div *ngIf="!subproduct_data" class="ml-3 ">
                                                            <p class="msg_size">No SubProduct Available </p>
                                                         </div>
                                                         <div *ngIf="show" class="col-lg-8">
                                                            <div *ngIf="sub_data_value">
                                                               <p class="msg_size">{{sub_data_value}} </p>
                                                            </div>
                                                            <div *ngFor="let item of subproduct_data"
                                                               style="float:left;" class="ml-3 mt-3">
                                                               <a
                                                                  (click)="onchangesubproduct(item.product_sub_id,item.product_sub_name)">
                                                                  <div class="col-lg-12">
                                                                     <!-- display logo -->
                                                                     <img src={{httplink}}{{item.product_sub_image}}
                                                                        (click)="show">
                                                                  </div>
                                                               </a>
                                                               <div class="caption catg-title2 newclass">

                                                                  <p> {{item.product_sub_name}}</p>
                                                               </div>
                                                            </div>
                                                            <!-- </div> -->
                                                         </div>
                                                      </div>
                                                   </div>

                                                </div>


                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- <div style="width: 100%"> -->

                                    <div
                                       class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                       data-ktwizard-type="action-prev">
                                       Previous
                                    </div>
                                    <div (click)="onSubmit()"
                                       class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                       data-ktwizard-type="action-submit">
                                       Submit
                                    </div>
                                    <p style="color: red;text-align: center;">{{error}}</p>
                                    <div
                                       class="btn btn-outline-brand btn-sm btn-pill  kt-font-bold kt-font-transform-u pull-right mb-5 mr-5"
                                       data-ktwizard-type="action-next" (click)="update_sla(upload_sla)"
                                       [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingNext}">
                                       Next Step
                                    </div>

                                    <!-- </div> -->
                                    <!--end: Form Actions -->
                                 </form>
                                 <!--end: Form Wizard Form-->
                              </div>
                           </div>
                        </div>
                        <!--end: Wizard -->

                     </kt-portlet-body>
                  </kt-portlet>






               </form>
            </ng-template>
         </ngb-tab>
         <ngb-tab id="tab-selectbyid2" title="Last Update">

            <ng-template ngbTabContent>

               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">

                     </div>
                  </div>
                  <div class="col-md-6 pull-right">

                  </div>

               </div>

               <span class="clearfix"></span>
               <div class="table-responsive">
                  <table *ngIf="showTables" datatable="ng" [dtOptions]="dtOptions" 
                     class="table table-striped table-bordered table-sm row-border hover datatable">
                     <thead>
                        <!-- columns for  table -->
                        <tr>
                           <th style="width: 15%;" class="kt-footer kt-container max-tables">S.No</th>
                           <th style="width: 16%;" class="kt-footer kt-container">Priority Level </th>
                           <th style="width: 16%;" class="kt-footer kt-container">Product Category </th>
                           <th style="width: 16%;" class="kt-footer kt-container">Sub Category </th>
                           <th style="width: 16%;" class="kt-footer kt-container">Last Update </th>
                           <th style="width: 15%;" class="kt-footer kt-container max-tables">Actions</th>
                        </tr>
                     </thead>

                     <tbody>
                        <!-- values from the api.For loop to populate the datas -->
                        <tr *ngFor="let item of sla_data; let i=index">
                           <td class="datatable-center">{{i+1}}</td>
                           <td>{{item.priority}}</td>
                           <td>{{item.product_name}}</td>
                           <td>{{item.subproduct_name}}</td>
                           <td>{{item.updated_at}}</td>
                           <td class="datatable-center">
                              <span>
                                 <button style="padding:0px" class="btn btn-base" id="4"
                                    (click)="sla_edit_data(item.sla_mapping_id,edit_sla)"><i
                                       class="fa fa-edit"></i></button>
                              </span>
                              <span>
                                 <button style="padding:0px" class="btn base"
                                    (click)="detele_sla(item.sla_mapping_id)"><i class="fa fa-trash trash"></i></button>
                              </span>
                           </td>
                        </tr>

                     </tbody>
                  </table>
                  <p style="color: red;">{{error}}</p>
               </div>


            </ng-template>
         </ngb-tab>
      </ngb-tabset>

      <!-- </div> -->
      <!-- </div> -->
   </kt-portlet-body>
</kt-portlet>
<ng-template #edit_sla let-c="close" let-d="dismiss">
   <!-- <div class="modal-content"> -->
   <div class="modal-header">
      <h4 class="modal-title">Update SLA</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form class="form-horizontal" id="view_prioritys" method="POST" novalidate="novalidate" [formGroup]="EditSla">

         <div class="form-body">
            <div class="row">
               <label class="control-label col-lg-3">Product :</label>

               <div class="col-lg-3">{{product_id}}
               </div>
            </div>
            <br>
            <div class="row">
               <label class="control-label col-lg-3">Subproduct :</label>

               <div class="col-lg-3">{{subproduct_id}}
               </div>
            </div>
            <br>
            <div class="row">
               <label class="control-label col-lg-3">Response Time :</label>

               <div class="col-lg-3">

                  <select formControlName=response_day selected="response_day" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && log.response_day.errors }">
                     <!-- <select class="form-control" id="r_day" name="r_day"> -->
                     <option value="" disabled>Day</option>
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>

                  </select>
                  <div *ngIf="submitted && log.response_day.errors" class="invalid-feedback">
                     <div *ngIf="log.response_day.errors.required">response_day is required</div>
                  </div>
               </div>
               <br>
               <div class="col-lg-3">
                  <select formControlName="response_time" selected="response_time" class="form-control">
                     <option value="" disabled>Hrs</option>
                     <option value="00">00</option>
                     <option value="01">01</option>
                     <option value="02">02</option>
                     <option value="03">03</option>
                     <option value="04">04</option>
                     <option value="05">05</option>
                     <option value="06">06</option>
                     <option value="07">07</option>
                     <option value="08">08</option>
                     <option value="09">09</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                  </select>
                  <div *ngIf="log.response_time.errors && (log.response_time.dirty || log.response_time.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.response_time.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
               <div class="col-lg-3">
                  <select formControlName="response_miniute" selected="response_miniute" class="form-control">
                     <option value="" disabled>Mins</option>
                     <option value="00">00</option>
                     <option value="01">01</option>
                     <option value="02">02</option>
                     <option value="03">03</option>
                     <option value="04">04</option>
                     <option value="05">05</option>
                     <option value="06">06</option>
                     <option value="07">07</option>
                     <option value="08">08</option>
                     <option value="09">09</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     <option value="13">13</option>
                     <option value="14">14</option>
                     <option value="15">15</option>
                     <option value="16">16</option>
                     <option value="17">17</option>
                     <option value="18">18</option>
                     <option value="19">19</option>
                     <option value="20">20</option>
                     <option value="21">21</option>
                     <option value="22">22</option>
                     <option value="23">23</option>
                     <option value="24">24</option>
                     <option value="25">25</option>
                     <option value="26">26</option>
                     <option value="27">27</option>
                     <option value="28">28</option>
                     <option value="29">29</option>
                     <option value="30">30</option>
                     <option value="31">31</option>
                     <option value="32">32</option>
                     <option value="33">33</option>
                     <option value="34">34</option>
                     <option value="35">35</option>
                     <option value="36">36</option>
                     <option value="37">37</option>
                     <option value="38">38</option>
                     <option value="39">39</option>
                     <option value="40">40</option>
                     <option value="41">41</option>
                     <option value="42">42</option>
                     <option value="43">43</option>
                     <option value="44">44</option>
                     <option value="45">45</option>
                     <option value="46">46</option>
                     <option value="47">47</option>
                     <option value="48">48</option>
                     <option value="49">49</option>
                     <option value="50">50</option>
                     <option value="51">51</option>
                     <option value="52">52</option>
                     <option value="53">53</option>
                     <option value="54">54</option>
                     <option value="55">55</option>
                     <option value="56">56</option>
                     <option value="57">57</option>
                     <option value="58">58</option>
                     <option value="59">59</option>
                  </select>
                  <div
                     *ngIf="log.response_miniute.errors && (log.response_miniute.dirty || log.response_miniute.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.response_miniute.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
            </div>
            <br>
            <div class="row">
               <label class="control-label col-lg-3">Resolution Time :</label>
               <div class="col-lg-3">
                  <select formControlName="resolution_day" selected="resolution_day" class="form-control">
                     <!-- <select class="form-control" id="r_day_level" name="res_day_1"> -->
                     <option value="" disabled>Day</option>
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>

                  </select>
                  <div *ngIf="log.resolution_day.errors && (log.resolution_day.dirty || log.resolution_day.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.resolution_day.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
               <div class="col-lg-3">
                  <select formControlName="resolution_time" selected="resolution_time" class="form-control">
                     <option value="" disabled>Hrs</option>
                     <option value="00">00</option>
                     <option value="01">01</option>
                     <option value="02">02</option>
                     <option value="03">03</option>
                     <option value="04">04</option>
                     <option value="05">05</option>
                     <option value="06">06</option>
                     <option value="07">07</option>
                     <option value="08">08</option>
                     <option value="09">09</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                  </select>
                  <div *ngIf="log.resolution_time.errors && (log.resolution_time.dirty || log.resolution_time.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.resolution_time.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
               <div class="col-lg-3">
                  <select formControlName="resolution_miniute" selected="resolution_miniute" class="form-control">
                     <option value="" disabled>Mins</option>
                     <option value="00">00</option>
                     <option value="01">01</option>
                     <option value="02">02</option>
                     <option value="03">03</option>
                     <option value="04">04</option>
                     <option value="05">05</option>
                     <option value="06">06</option>
                     <option value="07">07</option>
                     <option value="08">08</option>
                     <option value="09">09</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     <option value="13">13</option>
                     <option value="14">14</option>
                     <option value="15">15</option>
                     <option value="16">16</option>
                     <option value="17">17</option>
                     <option value="18">18</option>
                     <option value="19">19</option>
                     <option value="20">20</option>
                     <option value="21">21</option>
                     <option value="22">22</option>
                     <option value="23">23</option>
                     <option value="24">24</option>
                     <option value="25">25</option>
                     <option value="26">26</option>
                     <option value="27">27</option>
                     <option value="28">28</option>
                     <option value="29">29</option>
                     <option value="30">30</option>
                     <option value="31">31</option>
                     <option value="32">32</option>
                     <option value="33">33</option>
                     <option value="34">34</option>
                     <option value="35">35</option>
                     <option value="36">36</option>
                     <option value="37">37</option>
                     <option value="38">38</option>
                     <option value="39">39</option>
                     <option value="40">40</option>
                     <option value="41">41</option>
                     <option value="42">42</option>
                     <option value="43">43</option>
                     <option value="44">44</option>
                     <option value="45">45</option>
                     <option value="46">46</option>
                     <option value="47">47</option>
                     <option value="48">48</option>
                     <option value="49">49</option>
                     <option value="50">50</option>
                     <option value="51">51</option>
                     <option value="52">52</option>
                     <option value="53">53</option>
                     <option value="54">54</option>
                     <option value="55">55</option>
                     <option value="56">56</option>
                     <option value="57">57</option>
                     <option value="58">58</option>
                     <option value="59">59</option>
                  </select>
                  <div
                     *ngIf="log.resolution_miniute.errors && (log.resolution_miniute.dirty || log.resolution_miniute.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.resolution_miniute.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
            </div>
            <br>
            <div class="row">
               <label class="control-label col-lg-3">Acceptance Time :</label>
               <div class="col-lg-3">
                  <select formControlName="acceptance_day" selected="acceptance_day" class="form-control">
                     <option value="" disabled>Day</option>
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>

                  </select>
                  <div *ngIf="log.acceptance_day.errors && (log.acceptance_day.dirty || log.acceptance_day.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.acceptance_day.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
               <div class="col-lg-3">
                  <select formControlName="acceptance_time" selected="acceptance_time" class="form-control">
                     <option value="" disabled>Hrs</option>
                     <option value="00">00</option>
                     <option value="01">01</option>
                     <option value="02">02</option>
                     <option value="03">03</option>
                     <option value="04">04</option>
                     <option value="05">05</option>
                     <option value="06">06</option>
                     <option value="07">07</option>
                     <option value="08">08</option>
                     <option value="09">09</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                  </select>
                  <div *ngIf="log.acceptance_time.errors && (log.acceptance_time.dirty || log.acceptance_time.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.acceptance_time.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
               <div class="col-lg-3">
                  <select formControlName="acceptance_miniute" selected="acceptance_miniute" class="form-control">
                     <option value="" disabled>Mins</option>
                     <option value="00">00</option>
                     <option value="01">01</option>
                     <option value="02">02</option>
                     <option value="03">03</option>
                     <option value="04">04</option>
                     <option value="05">05</option>
                     <option value="06">06</option>
                     <option value="07">07</option>
                     <option value="08">08</option>
                     <option value="09">09</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     <option value="13">13</option>
                     <option value="14">14</option>
                     <option value="15">15</option>
                     <option value="16">16</option>
                     <option value="17">17</option>
                     <option value="18">18</option>
                     <option value="19">19</option>
                     <option value="20">20</option>
                     <option value="21">21</option>
                     <option value="22">22</option>
                     <option value="23">23</option>
                     <option value="24">24</option>
                     <option value="25">25</option>
                     <option value="26">26</option>
                     <option value="27">27</option>
                     <option value="28">28</option>
                     <option value="29">29</option>
                     <option value="30">30</option>
                     <option value="31">31</option>
                     <option value="32">32</option>
                     <option value="33">33</option>
                     <option value="34">34</option>
                     <option value="35">35</option>
                     <option value="36">36</option>
                     <option value="37">37</option>
                     <option value="38">38</option>
                     <option value="39">39</option>
                     <option value="40">40</option>
                     <option value="41">41</option>
                     <option value="42">42</option>
                     <option value="43">43</option>
                     <option value="44">44</option>
                     <option value="45">45</option>
                     <option value="46">46</option>
                     <option value="47">47</option>
                     <option value="48">48</option>
                     <option value="49">49</option>
                     <option value="50">50</option>
                     <option value="51">51</option>
                     <option value="52">52</option>
                     <option value="53">53</option>
                     <option value="54">54</option>
                     <option value="55">55</option>
                     <option value="56">56</option>
                     <option value="57">57</option>
                     <option value="58">58</option>
                     <option value="59">59</option>
                  </select>
                  <div
                     *ngIf="log.acceptance_miniute.errors && (log.acceptance_miniute.dirty || log.acceptance_miniute.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.acceptance_miniute.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
               <br>
            </div>
            <br>
            <div class="row">
               <label class="control-label col-lg-3">SLA Complaince Target (in %) :</label>
               <div class="col-lg-9">
                  <select formControlName="SLA_Compliance_Target" selected="SLA_Compliance_Target" class="form-control">
                     <option selected="empty" disabled>Selecty SLA Target</option>
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     <option value="13">13</option>
                     <option value="14">14</option>
                     <option value="15">15</option>
                     <option value="16">16</option>
                     <option value="17">17</option>
                     <option value="18">18</option>
                     <option value="19">19</option>
                     <option value="20">20</option>
                     <option value="21">21</option>
                     <option value="22">22</option>
                     <option value="23">23</option>
                     <option value="24">24</option>
                     <option value="25">25</option>
                     <option value="26">26</option>
                     <option value="27">27</option>
                     <option value="28">28</option>
                     <option value="29">29</option>
                     <option value="30">30</option>
                     <option value="31">31</option>
                     <option value="32">32</option>
                     <option value="33">33</option>
                     <option value="34">34</option>
                     <option value="35">35</option>
                     <option value="36">36</option>
                     <option value="37">37</option>
                     <option value="38">38</option>
                     <option value="39">39</option>
                     <option value="40">40</option>
                     <option value="41">41</option>
                     <option value="42">42</option>
                     <option value="43">43</option>
                     <option value="44">44</option>
                     <option value="45">45</option>
                     <option value="46">46</option>
                     <option value="47">47</option>
                     <option value="48">48</option>
                     <option value="49">49</option>
                     <option value="50">50</option>
                     <option value="51">51</option>
                     <option value="52">52</option>
                     <option value="53">53</option>
                     <option value="54">54</option>
                     <option value="55">55</option>
                     <option value="56">56</option>
                     <option value="57">57</option>
                     <option value="58">58</option>
                     <option value="59">59</option>
                     <option value="60">60</option>
                     <option value="61">61</option>
                     <option value="62">62</option>
                     <option value="63">63</option>
                     <option value="64">64</option>
                     <option value="65">65</option>
                     <option value="66">66</option>
                     <option value="67">67</option>
                     <option value="68">68</option>
                     <option value="69">69</option>
                     <option value="70">70</option>
                     <option value="71">71</option>
                     <option value="72">72</option>
                     <option value="73">73</option>
                     <option value="74">74</option>
                     <option value="75">75</option>
                     <option value="76">76</option>
                     <option value="77">77</option>
                     <option value="78">78</option>
                     <option value="79">79</option>
                     <option value="80">80</option>
                     <option value="81">81</option>
                     <option value="82">82</option>
                     <option value="83">83</option>
                     <option value="84">84</option>
                     <option value="85">85</option>
                     <option value="86">86</option>
                     <option value="87">87</option>
                     <option value="88">88</option>
                     <option value="89">89</option>
                     <option value="90">90</option>
                     <option value="91">91</option>
                     <option value="92">92</option>
                     <option value="93">93</option>
                     <option value="94">94</option>
                     <option value="95">95</option>
                     <option value="96">96</option>
                     <option value="97">97</option>
                     <option value="98">98</option>
                     <option value="99">99</option>
                     <option value="100">100</option>
                  </select>
                  <div
                     *ngIf="log.SLA_Compliance_Target.errors && (log.SLA_Compliance_Target.dirty || log.SLA_Compliance_Target.touched)"
                     class="m-b-10 error">
                     <div *ngIf="log.SLA_Compliance_Target.errors.required" style="color:red">Field is requied</div>
                  </div>
               </div>
            </div>
            <br>
            <span class="clearfix"></span>

         </div>
      </form>
   </div>
   <p style="color: red;">{{error}}</p>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
         (click)="c('Close click')">Cancel</button>
      <button (click)="sla_edit()" class="btn btn-outline-success btn-sm btn-pill custom-btn"
         [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}">Submit</button>
      <input type="hidden" id="hidden_ref_id" value="4">
      <input type="hidden" id="hidden_com_id" value="company5">
   </div>
   <!-- </div> -->
</ng-template>
<ng-template #upload_sla let-c="close" let-d="dismiss">
   <!-- <div class="modal-content"> -->
      <div class="modal-header">
         <h4 class="modal-title">SLA Upate</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
         <form class="form-horizontal" id="view_prioritys" method="POST" novalidate="novalidate" [formGroup]="UpdateSla">
   
            <div class="form-body">
               <div class="row">
                  <label class="control-label col-lg-3">Product :</label>
   
                  <div class="col-lg-3">{{product_name}}
                  </div>
               </div>
               <br>
               <div class="row">
                  <label class="control-label col-lg-3">Subproduct :</label>
   
                  <div class="col-lg-3">{{sub_name}}
                  </div>
               </div>
               <br>
               <div class="row">
   
                  <label class="control-label col-lg-3"> Priority :</label>
                  <div class="col-lg-9">
   
                     <select formControlName="priority" class="form-control">
   
                        <option value="" [selected]="true" disabled="">Select your content type</option>
                        <option value="P1"> P1</option>
                        <option value="P2"> P2</option>
                        <option value="P3"> P3</option>
                        <option value="P4"> P4</option>
   
                     </select>
                     <div
                        *ngIf="UpdateSlalog.priority.errors && (UpdateSlalog.priority.dirty || UpdateSlalog.priority.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.priority.errors.required" style="color:red">Content type is required</div>
                     </div>
                     <!-- error controls -->
                  </div>
               </div>
               <br>
               <div class="row">
                  <label class="control-label col-lg-3">Response Time :</label>
   
                  <div class="col-lg-3">
   
                     <select formControlName=response_day selected="response_day" class="form-control">
                        <!-- <select class="form-control" id="r_day" name="r_day"> -->
                        <option value="" [selected]="true" disabled="">Day</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
   
                     </select>
                     <div
                        *ngIf="UpdateSlalog.response_day.errors && (UpdateSlalog.response_day.dirty || UpdateSlalog.response_day.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.response_day.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
                  <div class="col-lg-3">
                     <select formControlName="response_time" selected="response_time" class="form-control">
                        <option  value="" [selected]="true" disabled="">Hrs</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.response_time.errors && (UpdateSlalog.response_time.dirty || UpdateSlalog.response_time.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.response_time.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
                  <div class="col-lg-3">
                     <select formControlName="response_miniute" selected="response_miniute" class="form-control">
                       <option value="" [selected]="true" disabled="">Mins</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.response_miniute.errors && (UpdateSlalog.response_miniute.dirty || UpdateSlalog.response_miniute.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.response_miniute.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
               </div>
               <br>
               <div class="row">
                  <label class="control-label col-lg-3">Resolution Time :</label>
                  <div class="col-lg-3">
                     <select formControlName="resolution_day" selected="resolution_day" class="form-control">
                        <option value="" [selected]="true" disabled="">Day</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
   
                     </select>
                     <div
                        *ngIf="UpdateSlalog.resolution_day.errors && (UpdateSlalog.resolution_day.dirty || UpdateSlalog.resolution_day.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.resolution_day.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
                  <div class="col-lg-3">
                     <select formControlName="resolution_time" selected="resolution_time" class="form-control">
                        <option value="" [selected]="true" disabled="">Hrs</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.resolution_time.errors && (UpdateSlalog.resolution_time.dirty || UpdateSlalog.resolution_time.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.resolution_time.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
                  <div class="col-lg-3">
                     <select formControlName="resolution_miniute" selected="resolution_miniute" class="form-control">
                        <option  value="" [selected]="true" disabled="">Mins</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.resolution_miniute.errors && (UpdateSlalog.resolution_miniute.dirty || UpdateSlalog.resolution_miniute.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.resolution_miniute.errors.required" style="color:red">Field is requied
                        </div>
                     </div>
                  </div>
                  <br>
               </div>
               <br>
               <div class="row">
                  <label class="control-label col-lg-3">Acceptance Time :</label>
                  <div class="col-lg-3">
                     <select formControlName="acceptance_day" selected="acceptance_day" class="form-control">
                        <option  value="" [selected]="true" disabled="">Day</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
   
                     </select>
                     <div
                        *ngIf="UpdateSlalog.acceptance_day.errors && (UpdateSlalog.acceptance_day.dirty || UpdateSlalog.acceptance_day.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.acceptance_day.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
                  <div class="col-lg-3">
                     <select formControlName="acceptance_time" selected="acceptance_time" class="form-control">
                        <option  value="" [selected]="true" disabled="">Hrs</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.acceptance_time.errors && (UpdateSlalog.acceptance_time.dirty || UpdateSlalog.acceptance_time.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.acceptance_time.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
                  <div class="col-lg-3">
                     <select formControlName="acceptance_miniute" selected="acceptance_miniute" class="form-control">
                        <option  value="" [selected]="true" disabled="">Mins</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.acceptance_time.errors && (UpdateSlalog.acceptance_time.dirty || UpdateSlalog.acceptance_time.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.acceptance_time.errors.required" style="color:red">Field is requied</div>
                     </div>
                  </div>
                  <br>
               </div>
               <br>
               <div class="row">
                  <label class="control-label col-lg-3">SLA Complaince Target (in %) :</label>
                  <div class="col-lg-9">
                     <select formControlName="SLA_Compliance_Target" selected="SLA_Compliance_Target" class="form-control">
                        <option [selected]="true" disabled="">Select SLA Target</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="72">72</option>
                        <option value="73">73</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="78">78</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                        <option value="100">100</option>
                     </select>
                     <div
                        *ngIf="UpdateSlalog.SLA_Compliance_Target.errors && (UpdateSlalog.SLA_Compliance_Target.dirty || UpdateSlalog.SLA_Compliance_Target.touched)"
                        class="m-b-10 error">
                        <div *ngIf="UpdateSlalog.SLA_Compliance_Target.errors.required" style="color:red">Field is requied
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <span class="clearfix"></span>
   
            </div>
         </form>
      </div>
      <p style="color: red;">{{error}}</p>
      <div class="modal-footer">
         <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
            (click)="c('Close click')">Cancel</button>
         <button (click)="sla_update()" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSubmit}"
            [disabled]="!UpdateSla.valid">Submit</button>
         <input type="hidden" id="hidden_ref_id" value="4">
         <input type="hidden" id="hidden_com_id" value="company5">
      </div>
   <!-- </div> -->
</ng-template>