<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="Mom">
        <ng-container ktPortletTools>

            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold"
                (click)="openLarge(add_mom,1)">{{'USER.ADDO' | translate}} </button>
        </ng-container>

    </kt-portlet-header>
    <kt-portlet-body>
        <br>
        <table datatable="ng" *ngIf="showTables" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">

            <thead>

                <tr>
                    <th class="kt-footer kt-container datatable-center max-tables">
                        S.No</th>
                    <th style="width:20%" class="kt-footer kt-container">
                        Date</th>
                    <th style="width:20%" class="kt-footer kt-container">
                        Meeting type</th>
                    <th style="width:20%" class="kt-footer kt-container">
                        Customer Name </th>
                    <th style="width:20%" class="kt-footer kt-container">
                        Note Taker
                    </th>
                    <th style="width:20%" class="kt-footer kt-container">
                        From/To Time
                    </th>
                    <th style="width:20%" class="kt-footer kt-container max-tables">
                        MOM pdf
                    </th>
                    <th class="kt-footer kt-container max-tables">
                        Action
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of mom_details;let i=index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>{{item.date}} </td>
                    <td>{{item.meeting_type}} </td>
                    <td>{{item.customer.customer_name}} </td>
                    <td>{{item.note_taker}} </td>
                    <td>{{item.from_time}}/{{item.to_time}} </td>
                    <td class="datatable-center"> <button style="padding:0px;" class="btn btn-base"
                            (click)="get_mom_pdf(item.mom_id);">
                            <i class="fa fa-download" aria-hidden="true"></i></button> </td>

                    <td class="datatable-center"> <button style="padding:0px;" class="btn btn-base"
                            (click)="editmom(item);openLarge(EditMom,2);">
                            <i class="fa fa-edit" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
        </table>
    </kt-portlet-body>
</kt-portlet>

<ng-template #add_mom let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Create MOM</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>

            <!-- <div class="container mt-0"> -->
            <div class="kt-section__content">
                <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
                    <!-- tab for Work-in-progress Tickets -->
                    <ngb-tab title="Details" id="tab-selectbyid1">
                        <ng-template ngbTabContent>
                            <kt-portlet-body class="portlet__body">
                                <!-- <div class="container mt-0"> -->
                                <div class="kt-section__content">
                                    <form class="form-horizontal" action="#" method="POST" novalidate="novalidate"
                                        [formGroup]="DetailsGroup">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label class="control-label">MOM Date:
                                                </label>
                                                <div class="input-group">
                                                    <!-- [maxDate]="maxDate" -->
                                                    <input type="text"   ngbDatepicker
                                                        #d="ngbDatepicker" formControlName="date" class="form-control"
                                                        placeholder="Enter MOM Date"  [maxDate]="maxDate">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" (click)="d.toggle()"
                                                            type="button">
                                                            <i class="la la-calendar"></i>
                                                        </button>
                                                    </div>
                                                    <div *ngIf="log1.date.errors && (log1.date.dirty || log1.date.touched)"
                                                        class="m-b-10 error w-100">
                                                        <div *ngIf="log1.date.errors.required" style="color:red">
                                                            Date {{'RAISETCKT.REQ' | translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Meeting type:
                                                </label>
                                                <input type="text" class="form-control" placeholder="Enter meeting type"
                                                    formControlName="meeting_type" />
                                                <div *ngIf="log1.meeting_type.errors && (log1.meeting_type.dirty || log1.meeting_type.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log1.meeting_type.errors.required" style="color:red">
                                                        Meeting type {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label class="control-label">Customer Name:
                                                </label>
                                                <ng-multiselect-dropdown style="width: 284px;"
                                                    [placeholder]="'Select customer name'" [data]="CustomerName"
                                                    formControlName="customer_name" [settings]="customername_settings"
                                                    [disabled]="false" (onFilterChange)="onFilterChange($event)"
                                                    (onDropDownClose)="onDropDownClose($event)"
                                                    (onSelect)="onItemSelect($event)">                                         
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="log1.customer_name.errors && (log1.customer_name.dirty || log1.customer_name.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log1.customer_name.errors.required" style="color:red">
                                                        Customer Name {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Customer Id:
                                                </label>
                                                <ng-multiselect-dropdown style="width: 284px;"
                                                    [placeholder]="'Select site id'" [data]="sitedetails"
                                                    formControlName="site_id" [settings]="siteid_settings"
                                                    [disabled]="false" (onFilterChange)="onFilterChange($event)"
                                                    (onDropDownClose)="onDropDownClose($event)"
                                                    (onSelect)="onSiteIdSelect($event)">
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="log1.customer_code.errors && (log1.customer_code.dirty || log1.customer_code.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log1.customer_code.errors.required" style="color:red">
                                                        Customer Code {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label class="control-label">Note Taker:
                                                </label>
                                                <input type="text" class="form-control" name="note_taker"
                                                    placeholder="Enter Name" formControlName="note_taker"
                                                    id="note_taker" maxlength="48" />

                                                <div *ngIf="log1.note_taker.errors && (log1.note_taker.dirty || log1.note_taker.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log1.note_taker.errors.required" style="color:red">
                                                        Note Taker {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">From Time:
                                                </label>
                                                <!-- <input type="type" class="form-control" name="from_time"
                                                        placeholder="Enter From Time" formControlName="from_time"
                                                        id="from_time" maxlength="48" /> -->
                                                <select formControlName="from_time" class="form-control">
                                                    <option value="null">--Select From Time-- </option>
                                                    <option value="1:00">1:00</option>
                                                    <option value="2:00">2:00</option>
                                                    <option value="3:00">3:00</option>
                                                    <option value="4:00">4:00</option>
                                                    <option value="5:00">5:00</option>
                                                    <option value="6:00">6:00</option>
                                                    <option value="7:00">7:00</option>
                                                    <option value="8:00">8:00</option>
                                                    <option value="9:00">9:00</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="12:00">12:00</option>
                                                </select>
                                                <!-- <select formControlName="accept_reason" class="form-control">
                                                    <option value="">--Select From Time-- </option>
                                                    <option value="AM">AM</option>
                                                    <option value="PM">PM</option>
                                                </select> -->
                                                <div *ngIf="log1.from_time.errors && (log1.from_time.dirty || log1.from_time.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log1.from_time.errors.required" style="color:red">
                                                        From Time {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <label class="control-label">AM/PM:
                                                        </label>
                                                        <select formControlName="from_am_pm" class="form-control">
                                                            <option value="null">--Select From Time-- </option>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                        <div *ngIf="log1.from_am_pm.errors && (log1.from_am_pm.dirty || log1.from_am_pm.touched)"
                                                            class="m-b-10 error">
                                                            <div *ngIf="log1.from_am_pm.errors.required" style="color:red">
                                                                AM/PM: {{'RAISETCKT.REQ' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="col-md-6">
                                                <label class="control-label">To Time:
                                                </label>
                                                <!-- <input type="type" class="form-control" name="to_time"
                                                        placeholder="Enter To Time" formControlName="to_time"
                                                        id="to_time" maxlength="48" /> -->
                                                <!-- <input type="time" class="form-control" name="to_time"
                                                        placeholder="Enter Name" formControlName="to_time"
                                                        id="to_time" maxlength="48" /> -->
                                                <select formControlName="to_time" class="form-control">
                                                    <option value="null">--Select To Time-- </option>
                                                    <option value="1:00">1:00</option>
                                                    <option value="2:00">2:00</option>
                                                    <option value="3:00">3:00</option>
                                                    <option value="4:00">4:00</option>
                                                    <option value="5:00">5:00</option>
                                                    <option value="6:00">6:00</option>
                                                    <option value="7:00">7:00</option>
                                                    <option value="8:00">8:00</option>
                                                    <option value="9:00">9:00</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="12:00">12:00</option>
                                                </select>
                                                <div *ngIf="log1.to_time.errors && (log1.to_time.dirty || log1.to_time.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log1.to_time.errors.required" style="color:red">
                                                        To time {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-7"></div>-->
                                         

                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <label class="control-label">AM/PM:
                                                        </label>
                                                        <select formControlName="to_am_pm" class="form-control">
                                                            <option value="null">--Select From Time-- </option>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                        <div *ngIf="log1.to_am_pm.errors && (log1.to_am_pm.dirty || log1.to_am_pm.touched)"
                                                            class="m-b-10 error">
                                                            <div *ngIf="log1.to_am_pm.errors.required" style="color:red">
                                                                AM/PM: {{'RAISETCKT.REQ' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </form>
                                    <br>
                                    <div class="text-center">
                                        <!-- <div class="row"> -->
                                        <div *ngIf="error" style="color:red">{{error}}
                                        </div>
                                        <!-- <div class=""> -->
                                        <!-- <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                                          (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button> -->
                                        <button
                                            class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                                            [disabled]="DetailsGroup.invalid"
                                            (click)="validation();nextTab('tab-selectbyid2')">{{'USER.NEXT_STEP' |
                                          translate}}</button>
                                        <!-- </div> -->
                                        <!-- </div> -->

                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>


                    <!-- tab for Accepted Tickets -->
                    <ngb-tab title="Participant List" id="tab-selectbyid2">
                        <ng-template ngbTabContent>
                            <kt-portlet-body>
                                <!-- <form id="form_body" [formGroup]="RadioGroupForm" novalidate=""
                                class="ng-untouched ng-pristine ng-valid"> -->
                                <!-- <div class="col-md-6"> -->
                                <form [formGroup]="ParticipantListGroup">
                                    <div class="row" formArrayName="participant_name">
                                        <ng-container
                                            *ngFor="let section of getSections(ParticipantListGroup); let i = index"
                                            [formGroupName]="i">
                                            <label class="control-label col-md-4 col-sm-4">Participant Name {{i+1}}:
                                            </label>
                                            <input class="col-sm-5 col-md-5 form-control" type="text" autocomplete="off"
                                                placeholder="Enter Participant name"
                                                formControlName="participant_name">
                                            <div class="form-group ml-2"
                                                *ngIf="getSections(ParticipantListGroup).length > 1">
                                                <button class=" btn btn-md edit_icon1 pull-right p-0 ml-3 mt-2"
                                                    style="color: red;" (click)="removeSection(i)"> <i
                                                        class="fa fa-times"></i>
                                                </button>
                                                <!-- <input type="button" (click)="removeSection(i)"
                                              class="btn btn-outline-danger btn-md btn-error " value="Remove" name=""> -->
                                            </div>
                                        </ng-container>
                                        <div class="">
                                            <!-- <button class="btn btn-md ml-3 mt-2 edit_icon p-0" [disabled]="!AddButton"
                                            (click)="addPackageRow()">
                                            <i class="fa fa-plus "></i></button> -->
                                            <button class="btn btn-md ml-3 mt-2 edit_icon p-0"
                                                (click)="addPackageRow()">
                                                <i class="fa fa-plus "></i></button>
                                        </div>
                                        <!-- <div class="form-group col-md-4"></div>
                                        <div class="form-group col-md-8">
                                          <p *ngIf="serial_empty" style="color:red">{{serial_empty}}</p>
                                          <div *ngIf="multiserial_validation" style="color:red">{{multiserial_validation}}
                                          </div>
                                          <div *ngIf="serial_pattern_validation" style="color:red">{{serial_pattern_validation}}
                                          </div>
                                          <div *ngIf="valid_empty_serial_no" style="color:red">{{valid_empty_serial_no}}
                                          </div>
                                          <div *ngIf="save_validation" style="color:red">{{save_validation}}
                                          </div>
                                          <div *ngIf="serial_valida_success" style="color:green">
                                            {{serial_valida_success}}
                                          </div>
                                          <div *ngIf="serial_validation " style="color:red">
                                            {{serial_validation }}
                                          </div>
                                          <p style="color: red;">{{duplicate}} </p>
                                          <p style="color: red;">{{error}} </p>
                                        </div> -->
                                    </div>
                                    <!-- <div class="col-md-12 text-center">                                       
                                        <button [disabled]=!form.valid type="submit" class="btn btn-outline-primary"
                                          (click)="saveserial(form.value.serial_no)">Save</button>
                                      </div> -->
                                </form>
                                <br>
                                <div class="text-center">
                                    <!-- <div class="row"> -->
                                    <div *ngIf="error" style="color:red">{{error}}
                                    </div>
                                    <div class="">
                                        <button class="btn btn-outline-info  btn-pill btn-sm custom-btn"
                                            data-ktwizard-type="action-prev" (click)="nextTab('tab-selectbyid1')">
                                            {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                                        </button>
                                        <button
                                            class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit ml-2"
                                            (click)="participant_submit(1);">{{'USER.NEXT_STEP' | translate}}</button>


                                    </div>
                                    <!-- </div> -->

                                </div>
                                <!-- <br> -->
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>
                    <!-- tab for Assigned Tickets -->
                    <ngb-tab title="MOM Points" id="tab-selectbyid3">
                        <ng-template ngbTabContent>
                            <kt-portlet-body>
                                <!-- <div class="kt-section__content"> -->
                                <!-- <form class="form-horizontal" action="#" method="POST"
                                    novalidate="novalidate" [formGroup]="MomPointsGroup"> -->
                                <form [formGroup]="MomPointsGroup">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <label class="control-label col-md-3 col-sm-2 mb-0 mompoints">MOM Points:
                                        </label>
                                        <label class="control-label col-md-3 col-sm-2 mb-0 mompoints1">Scope:
                                        </label>
                                        <label class="control-label col-md-3 col-sm-2 mb-0 mompoints1   ">Target Date:
                                        </label>
                                    </div>
                                    <div class="row p-2" formArrayName="mom_points">
                                        <ng-container
                                            *ngFor="let section of getMomPointSections(MomPointsGroup); let i = index"
                                            [formGroupName]="i">
                                            <div class="row mb-4">
                                                <div class="col-md-1 centerloops">{{i+1}}</div>
                                                <input class="col-sm-4 col-md-3 form-control mr-2" type="text"
                                                    autocomplete="off" placeholder="Enter MOM points"
                                                    formControlName="discussion_point">

                                                <input class="col-sm-4 col-md-3 form-control mr-2" type="text"
                                                    autocomplete="off" placeholder="Enter Scope"
                                                    formControlName="scope">

                                                <!-- <input class="col-sm-4 col-md-3 form-control mr-2" type="text"
                                                    autocomplete="off" placeholder="Enter target date"
                                                    formControlName="target_date"> -->
                                                    <!-- <input class="col-sm-4 col-md-3 form-control mr-2" type="text" ngbDatepicker 
                                                    #s="ngbDatepicker" formControlName="target_date" 
                                                    placeholder="Enter target date">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" (click)="s.toggle()"
                                                        type="button">
                                                        <i class="la la-calendar"></i>
                                                    </button>
                                                </div> -->
                                                <mat-form-field>
                                                    <!-- <mat-placeholder>Start DateTime</mat-placeholder> -->
                                                    <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                                                    <mat-datetimepicker #datetimePicker type="date" openOnFocus="true" timeInterval="5">
                                                    </mat-datetimepicker>
                                                    <input matInput formControlName="target_date" [matDatetimepicker]="datetimePicker" required
                                                      autocomplete="false">
                                                  </mat-form-field>
                                                <div class="" *ngIf="getMomPointSections(MomPointsGroup).length > 1">
                                                    <button class=" btn btn-md edit_icon1 pull-right p-0 ml-3 mt-2"
                                                        style="color: red;" (click)="remove_mom_points(i)"> <i
                                                            class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </ng-container>
                                        <div class="">
                                            <button class="btn btn-md  mt-2 edit_icon p-0"
                                                (click)="add_momponits_Row()">
                                                <i class="fa fa-plus "></i></button>
                                        </div>

                                    </div>
                                    <br>
                                </form>
                                <div class="text-center">
                                    <!-- <div class="row"> -->
                                    <div *ngIf="error" style="color:red">{{error}}
                                    </div>
                                    <!-- <div class=""> -->
                                    <button class="btn btn-outline-info  btn-pill btn-sm custom-btn"
                                        data-ktwizard-type="action-prev" (click)="nextTab('tab-selectbyid2')">
                                        {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                                    </button>
                                    <button
                                        class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit ml-2"
                                        (click)="mom_submit(1)">Submit</button>


                                    <!-- </div> -->
                                    <!-- </div> -->

                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>

        </kt-portlet-body>
    </div>
</ng-template>




<ng-template #EditMom let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Edit MOM</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>

            <!-- <div class="container mt-0"> -->
            <div class="kt-section__content">
                <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
                    <!-- tab for Work-in-progress Tickets -->
                    <ngb-tab title="Details" id="tab-selectbyid1">
                        <ng-template ngbTabContent>
                            <kt-portlet-body class="portlet__body">
                                <!-- <div class="container mt-0"> -->
                                <div class="kt-section__content">
                                    <form class="form-horizontal" action="#" method="POST" novalidate="novalidate"
                                        [formGroup]="EditDetailsGroup">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">MOM Date:
                                                </label>
                                                <div class="input-group">
                                                    <!-- [maxDate]="maxDate" -->
                                                    <input type="text"  ngbDatepicker 
                                                        #d="ngbDatepicker" formControlName="date" class="form-control"
                                                        placeholder="Enter MOM Date">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" (click)="d.toggle()"
                                                            type="button">
                                                            <i class="la la-calendar"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div *ngIf="log2.date.errors && (log2.date.dirty || log2.date.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.date.errors.required" style="color:red">
                                                        Date {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label col-md-5 col-sm-5">Meeting type:
                                                </label>
                                                <input type="text" class="form-control" placeholder="Enter meeting type"
                                                    formControlName="meeting_type" />
                                                <div *ngIf="log2.meeting_type.errors && (log2.meeting_type.dirty || log2.meeting_type.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.meeting_type.errors.required" style="color:red">
                                                        Meeting type {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                             
                                            </div>

                                        </div> -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Customer Name:
                                                </label>
                                                <ng-multiselect-dropdown style="width: 284px;"
                                                    [placeholder]="'Select customer name'" [data]="CustomerName"
                                                    formControlName="customer_name" [settings]="customername_settings"
                                                    [disabled]="false" (onFilterChange)="onFilterChange($event)"
                                                    (onDropDownClose)="onDropDownClose($event)"
                                                    (onSelect)="onItemSelect($event)">
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="log2.customer_name.errors && (log2.customer_name.dirty || log2.customer_name.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.customer_name.errors.required" style="color:red">
                                                        Customer Name {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Customer Id:
                                                </label>
                                                <ng-multiselect-dropdown style="width: 284px;"
                                                    [placeholder]="'Select site id'" [data]="sitedetails"
                                                    formControlName="site_id" [settings]="siteid_settings"
                                                    [disabled]="false" (onFilterChange)="onFilterChange($event)"
                                                    (onDropDownClose)="onDropDownClose($event)"
                                                    (onSelect)="onSiteIdSelect($event)">
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="log2.customer_code.errors && (log2.customer_code.dirty || log2.customer_code.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.customer_code.errors.required" style="color:red">
                                                        Customer Code {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Note Taker:
                                                </label>

                                                <input type="text" class="form-control" name="note_taker"
                                                    placeholder="Enter Name" formControlName="note_taker"
                                                    id="note_taker" maxlength="48" />
                                                <div *ngIf="log2.note_taker.errors && (log2.note_taker.dirty || log2.note_taker.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.note_taker.errors.required" style="color:red">
                                                        Note Taker {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <label class="control-label">From Time:
                                                </label>
                                                <!-- <input type="text" class="form-control" name="from_time"
                                                    placeholder="Enter from_time" formControlName="from_time"
                                                    id="from_time" maxlength="48" /> -->
                                                <select formControlName="from_time" class="form-control">
                                                    <option value="null">--Select From Time-- </option>
                                                    <option value="1:00">1:00</option>
                                                    <option value="2:00">2:00</option>
                                                    <option value="3:00">3:00</option>
                                                    <option value="4:00">4:00</option>
                                                    <option value="5:00">5:00</option>
                                                    <option value="6:00">6:00</option>
                                                    <option value="7:00">7:00</option>
                                                    <option value="8:00">8:00</option>
                                                    <option value="9:00">9:00</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="12:00">12:00</option>
                                                </select>
                                                <div *ngIf="log2.from_time.errors && (log2.from_time.dirty || log2.from_time.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.from_time.errors.required" style="color:red">
                                                        From Time {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">AM/PM:
                                                </label>
                                                <select formControlName="from_am_pm" class="form-control">
                                                    <option value="null">--Select From Time-- </option>
                                                    <option value="AM">AM</option>
                                                    <option value="PM">PM</option>
                                                </select>
                                                <div *ngIf="log2.from_am_pm.errors && (log2.from_am_pm.dirty || log2.from_am_pm.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.from_am_pm.errors.required" style="color:red">
                                                        AM/PM {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">To Time:
                                                </label>
                                                <!-- <input type="text" class="form-control" name="to_time"
                                                    placeholder="Enter Name" formControlName="to_time" id="to_time"
                                                    maxlength="48" /> -->
                                                <select formControlName="to_time" class="form-control">
                                                    <option value="null">--Select From Time-- </option>
                                                    <option value="1:00">1:00</option>
                                                    <option value="2:00">2:00</option>
                                                    <option value="3:00">3:00</option>
                                                    <option value="4:00">4:00</option>
                                                    <option value="5:00">5:00</option>
                                                    <option value="6:00">6:00</option>
                                                    <option value="7:00">7:00</option>
                                                    <option value="8:00">8:00</option>
                                                    <option value="9:00">9:00</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="12:00">12:00</option>
                                                </select>
                                                <div *ngIf="log2.to_time.errors && (log2.to_time.dirty || log2.to_time.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.to_time.errors.required" style="color:red">
                                                        To time {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">AM/PM:
                                                </label>

                                                <select formControlName="to_am_pm" class="form-control">
                                                    <option value="null">--Select To Time-- </option>
                                                    <option value="AM">AM</option>
                                                    <option value="PM">PM</option>
                                                </select>
                                                <div *ngIf="log2.to_am_pm.errors && (log2.to_am_pm.dirty || log2.to_am_pm.touched)"
                                                    class="m-b-10 error">
                                                    <div *ngIf="log2.to_am_pm.errors.required" style="color:red">
                                                        AM/PM {{'RAISETCKT.REQ' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <div class="text-center">
                                        <!-- <div class="row"> -->
                                        <div *ngIf="error" style="color:red">{{error}}
                                        </div>
                                        <div class="">
                                            <!-- <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                                          (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button> -->
                                            <button
                                                class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                                                (click)="edit_validation();nextTab('tab-selectbyid2')">{{'USER.NEXT_STEP' |
                                          translate}}</button>
                                        </div>
                                        <!-- </div> -->

                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>


                    <!-- tab for Accepted Tickets -->
                    <ngb-tab title="Participant List" id="tab-selectbyid2">
                        <ng-template ngbTabContent>
                            <kt-portlet-body>
                                <form [formGroup]="EditParticipantListGroup">
                                    <div class="row" formArrayName="participant_name">
                                        <ng-container
                                            *ngFor="let section of getSections_edit(EditParticipantListGroup); let i = index"
                                            [formGroupName]="i">
                                            <label class="control-label col-md-4 col-sm-4">Participant Name {{i+1}}:
                                            </label>
                                            <input class="col-sm-5 col-md-5 form-control" type="text" autocomplete="off"
                                                placeholder="Enter Participant name"
                                                formControlName="participant_name">
                                            <div class="form-group ml-2"
                                                *ngIf="getSections_edit(EditParticipantListGroup).length > 1">
                                                <button class=" btn btn-md edit_icon1 pull-right p-0 ml-3 mt-2"
                                                    style="color: red;" (click)="edit_removeSection(i)"> <i
                                                        class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </ng-container>
                                        <div class="">
                                            <button class="btn btn-md ml-3 mt-2 edit_icon p-0"
                                                (click)="editPackageRow()">
                                                <i class="fa fa-plus "></i></button>
                                        </div>
                                        <!-- <div class="form-group col-md-4"></div>
                                        <div class="form-group col-md-8">
                                          <p *ngIf="serial_empty" style="color:red">{{serial_empty}}</p>
                                          <div *ngIf="multiserial_validation" style="color:red">{{multiserial_validation}}
                                          </div>
                                          <div *ngIf="serial_pattern_validation" style="color:red">{{serial_pattern_validation}}
                                          </div>
                                          <div *ngIf="valid_empty_serial_no" style="color:red">{{valid_empty_serial_no}}
                                          </div>
                                          <div *ngIf="save_validation" style="color:red">{{save_validation}}
                                          </div>
                                          <div *ngIf="serial_valida_success" style="color:green">
                                            {{serial_valida_success}}
                                          </div>
                                          <div *ngIf="serial_validation " style="color:red">
                                            {{serial_validation }}
                                          </div>
                                          <p style="color: red;">{{duplicate}} </p>
                                          <p style="color: red;">{{error}} </p>
                                        </div> -->
                                    </div>
                                    <!-- <div class="col-md-12 text-center">                                       
                                        <button [disabled]=!form.valid type="submit" class="btn btn-outline-primary"
                                          (click)="saveserial(form.value.serial_no)">Save</button>
                                      </div> -->
                                </form>
                                <div class="text-center">

                                    <!-- <div class="row"> -->
                                    <div *ngIf="error" style="color:red">{{error}}
                                    </div>
                                    <div class="">
                                        <button class="btn btn-outline-info  btn-pill btn-sm custom-btn"
                                            data-ktwizard-type="action-prev" (click)="nextTab('tab-selectbyid1')">
                                            {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                                        </button>
                                        <button
                                            class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit ml-2"
                                            (click)="participant_submit(2);">{{'USER.NEXT_STEP' | translate}}</button>


                                    </div>
                                    <!-- </div> -->

                                </div>
                                <!-- <br> -->
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>
                    <!-- tab for Assigned Tickets -->
                    <ngb-tab title="MOM Points" id="tab-selectbyid3">
                        <ng-template ngbTabContent>
                            <kt-portlet-body class="portlet__body">
                                <div class="kt-section__content">
                                    <!-- <form class="form-horizontal" action="#" method="POST"
                                    novalidate="novalidate" [formGroup]="MomPointsGroup"> -->
                                    <form [formGroup]="EditMomPointsGroup">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <label class="control-label  col-md-3 col-sm-2 mb-0 mompoint">Mom Points:
                                            </label>
                                            <label class="control-label  col-md-3 col-sm-2 mb-0 mompoints">Scope:
                                            </label>
                                            <label class="control-label col-md-3 col-sm-2 mb-0 mompoints">Target Date:
                                            </label>
                                        </div>
                                        <div class="row p-2" formArrayName="mom_points">
                                            <ng-container
                                                *ngFor="let section of getMomPointSections_edit(EditMomPointsGroup); let i = index"
                                                [formGroupName]="i">
                                                <div class="row mb-4">
                                                    <div class="col-md-1 centerloops">{{i+1}}</div>
                                                    <input class="col-sm-4 col-md-3 form-control mr-2" type="text"
                                                        autocomplete="off" placeholder="Enter MOM points"
                                                        formControlName="discussion_point">

                                                    <input class="col-sm-4 col-md-3 form-control mr-2" type="text"
                                                        autocomplete="off" placeholder="Enter Scope"
                                                        formControlName="scope">

                                                    <!-- <input class="col-sm-4 col-md-3 form-control mr-2" type="text"
                                                        autocomplete="off" placeholder="Enter target date"
                                                        formControlName="target_date"> -->
                                                    <!-- <input class="col-sm-4 col-md-3 form-control mr-2" type="text" ngbDatepicker 
                                                        #s="ngbDatepicker" formControlName="target_date" 
                                                        placeholder="Enter target date">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" (click)="s.toggle()"
                                                            type="button">
                                                            <i class="la la-calendar"></i>
                                                        </button>
                                                    </div> -->
                                                    <!-- <mat-form-field>
                                                        <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                                                        <mat-datetimepicker #datetimePicker type="date" openOnFocus="true" timeInterval="5">
                                                        </mat-datetimepicker>
                                                        <input matInput formControlName="target_date" [matDatetimepicker]="datetimePicker" required
                                                          autocomplete="false">
                                                      </mat-form-field> -->
                                                      <mat-form-field>
                                                        <!-- <mat-placeholder>Start DateTime</mat-placeholder> -->
                                                        <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                                                        <mat-datetimepicker #datetimePicker type="date" openOnFocus="true" timeInterval="5">
                                                        </mat-datetimepicker>
                                                        <input matInput formControlName="target_date" [matDatetimepicker]="datetimePicker" required
                                                          autocomplete="false">
                                                      </mat-form-field>
                                                    <div class=""
                                                        *ngIf="getMomPointSections_edit(EditMomPointsGroup).length > 1">
                                                        <button class="btn btn-md edit_icon1 pull-right p-0 ml-3 mt-2"
                                                            style="color: red;" (click)="edit_remove_mom_points(i)"> <i
                                                                class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <div *ngIf="error" style="color:red">{{error}}
                                            </div>
                                            <div class="">
                                                <button class="btn btn-md marginplus edit_icon p-0"
                                                    (click)="edit_momponits_Row()">
                                                    <i class="fa fa-plus "></i></button>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                </div>
                                <br>
                                <div class="text-center">
                                    <!-- <div class="row"> -->
                                    <div *ngIf="error" style="color:red">{{error}}
                                    </div>
                                    <div class="">
                                        <button class="btn btn-outline-info  btn-pill btn-sm custom-btn"
                                            data-ktwizard-type="action-prev" (click)="nextTab('tab-selectbyid2')">
                                            {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                                        </button>
                                        <button
                                            class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit ml-2"
                                            (click)="mom_submit(2)">Submit</button>


                                    </div>
                                    <!-- </div> -->

                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>

        </kt-portlet-body>
    </div>
</ng-template>