.centerloops{
    display:flex;
    justify-content:center;
    align-items: center;
}
.for_Plus{
    position: absolute;
    right:0px;
}
.mompoints{
    margin-left:-26px !important;
}
.mompoints1{
    margin-left:-35px !important;
}
.marginplus{
    margin-top:7px;
}