<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="Dashboard">
    <!--heading for portlet-->
    <ng-container ktPortletTools>
      <!-- <button class="btn btn-outline-info btn-pill pull-right" (click)="Opento(content2)">{{'NEW_SUBSCRIPTION.CREATE' | translate}}
        </button> -->
    </ng-container>
  </kt-portlet-header>

  <!-- begin body for portlet-->
  <kt-portlet-body>
    <div>
        <div class="col-lg-12">
      <div class="row">
       
            <div class="col-lg-4  body_size">
                <div class="kt-space-20"></div>
                <kt-portlet>
                  <kt-portlet-body [class]="'kt-portlet__body'" style="border: 1px solid #bcb9ba;">
                    <div class="row col-lg-12">
                      <h4 class="title">TECHNICIAN</h4>
                    </div>
                    <!-- <br> -->
                    <div class="row col-lg-12">
                      <div class="tool col-lg-3 col-sm-4 col-xs-2">
                        <i class="fas fa-user mt-3"></i>
                      </div>
                      <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                          <div class="counter-box"> 
                        <!-- <div class="col-md-8 sub"> -->
                        <!-- SUBSCRIBED: 4 -->
                        REGISTERED
                        <mat-divider></mat-divider>
                        <span class="counter">{{user_count.technician}}</span>
                        </div>
                      </div>
                    </div>
                  </kt-portlet-body>
                </kt-portlet>
              </div>
              <div class="col-lg-4 body_size">
                  <div class="kt-space-20"></div>
                  <kt-portlet >
                    <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                      <div class="row col-lg-12">
                        <h4 class="title">MANAGER</h4>
                      </div>
                      <!-- <br> -->
                      <div class="row col-lg-12">
                        <div class="man col-lg-3 col-sm-4 col-xs-2">
                          <i class="fas fa-user-tie mt-3"></i>                     
                        </div>
                        <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                          <!-- <div class="col-md-6"> -->
                          REGISTERED
                          <mat-divider></mat-divider>
                          {{user_count.manager}}
                        </div>
                      </div>
                    </kt-portlet-body>
                  </kt-portlet>
                </div>

                <div class="col-lg-4 body_size">
                    <div class="kt-space-20"></div>
                    <kt-portlet>
                      <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                        <div class="row col-lg-12">
                          <h4 class="title">SERVICE DESK</h4>
                        </div>
                        <!-- <br> -->
                        <div class="row col-lg-12">
                          <div class="service col-lg-3 col-sm-4 col-xs-2">
                            <i class="fas fa-headset mt-3"></i>
                          </div>
                          <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                            <!-- <div class="col-md-6"> -->
                            <!-- SUBSCRIBED: 21 -->
                            REGISTERED
                            <mat-divider></mat-divider>
                            {{user_count.service_desk}}
                            <!-- </div> -->
                          </div>
                        </div>
                      </kt-portlet-body>
                    </kt-portlet>
                  </div>
       
        </div>
      </div>
      <div class="col-lg-12 ">
       <div class="row">
          <div class="col-lg-4 body_size">
              <div class="kt-space-20"></div>
              <kt-portlet>
                <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                  <div class="row col-lg-12">
                    <h4 class="title">CALL COORDINATOR</h4>
                  </div>
                  <!-- <br> -->
                  <div class="row col-lg-12">
                    <div class="call col-lg-3 col-sm-4 col-xs-2">
                      <i class="fas fa-headset mt-3"></i>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                      <!-- <div class="col-md-6"> -->
                      REGISTERED
                      <mat-divider></mat-divider>
                      {{user_count.callcoordinator}}
                    </div>
                  </div>
                </kt-portlet-body>
              </kt-portlet>
            </div>
        <div class="col-lg-4 body_size ">
          <div class="kt-space-20"></div>
          <kt-portlet>
            <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
              <div class="row col-lg-12">
                <h4 class="title">CUSTOMER</h4>
              </div>
              <!-- <br> -->
              <div class="row col-lg-12">
                <div class="fivdiv col-lg-3 col-sm-4 col-xs-2">
                  <i class="fas fa-user mt-3"></i>
                </div>
                <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                  <!-- <div class="col-md-6"> -->
                  REGISTERED
                  <mat-divider></mat-divider>
                  {{user_count.customer}}
                </div>
              </div>
            </kt-portlet-body>
          </kt-portlet>
        </div>

        <div class="col-lg-4 body_size ">
            <div class="kt-space-20"></div>
            <kt-portlet>
              <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                <div class="row col-lg-12">
                  <h4 class="title">CONTRACT TYPE</h4>
                </div>
                <!-- <br> -->
                <div class="row col-lg-12">
                  <div class="sixdiv col-lg-3 col-sm-4 col-xs-2">
                    <i class="fas fa-file-contract mt-3"></i>
                  </div>
                  <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                    <!-- <div class="col-md-6"> -->
                    REGISTERED
                    <mat-divider></mat-divider>
                    {{user_count.contract_type}}
                  </div>
                </div>
              </kt-portlet-body>
            </kt-portlet>
          </div>
      </div>
      </div>

      <div class="col-lg-12 ">
          <div class="row">
             <div class="col-lg-4 body_size">
                 <div class="kt-space-20"></div>
                 <kt-portlet>
                   <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                     <div class="row col-lg-12">
                       <h4 class="title">PRODUCT</h4>
                     </div>
                     <!-- <br> -->
                     <div class="row col-lg-12">
                       <div class="tendiv col-lg-3 col-sm-4 col-xs-2">
                         <i class="fas fa-car-battery mt-3"></i>
                       </div>
                       <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                         <!-- <div class="col-md-6"> -->
                         REGISTERED
                         <mat-divider></mat-divider>
                         <div class="myanimate">{{user_count.product}}</div>
                       </div>
                     </div>
                   </kt-portlet-body>
                 </kt-portlet>
               </div>
           <div class="col-lg-4 body_size ">
             <div class="kt-space-20"></div>
             <kt-portlet>
               <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                 <div class="row col-lg-12">
                   <h4 class="title">SUB PRODUCT</h4>
                 </div>
                 <!-- <br> -->
                 <div class="row col-lg-12">
                   <div class="ninediv col-lg-3 col-sm-4 col-xs-2">
                     <i class="fas fa-toolbox mt-3"></i>
                   </div>
                   <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                     <!-- <div class="col-md-6"> -->
                     REGISTERED
                     <mat-divider></mat-divider>
                     {{user_count.subproduct}}
                   </div>
                 </div>
               </kt-portlet-body>
             </kt-portlet>
           </div>
   
           <div class="col-lg-4 body_size ">
               <div class="kt-space-20"></div>
               <kt-portlet>
                 <kt-portlet-body [class]="'kt-portlet__body'" style="padding:25px;border: 1px solid #bcb9ba;">
                   <div class="row col-lg-12">
                     <h4 class="title">ITEMS CODE</h4>
                   </div>
                   <!-- <br> -->
                   <div class="row col-lg-12">
                     <div class="lastdiv col-lg-3 col-sm-4 col-xs-2">
                       <i class="fas fa-cube mt-3"></i>
                     </div>
                     <div class="col-lg-9 col-sm-8 col-xs-10 sub">
                        <div class="counter-box"> 
                       <!-- <div class="col-md-6"> -->
                       REGISTERED
                       <mat-divider></mat-divider>
                       <span class="counter">{{user_count.item_code}}</span> 
                      </div>
                     </div>
                   </div>
                 </kt-portlet-body>
               </kt-portlet>
             </div>
         </div>
         </div>
      <!-- <div class="col-lg-12">
        <div class="control-section">
          <div class="col-lg-12">
            <div class="col-lg-6" style="display: none;">
          
            </div>
            <div class="col-lg-6">
              <select  (change)="onChangetypes($event.target.value)">
                <option value="Overall Revenue">Overall Revenue</option>
                <option value="Kaspon Appliances">Kaspon Appliances</option>
                <option value="Samples">Samples</option>
                <option value="Easy Homes">Easy Homes</option>
                <option value="Kaspon techworks">Kaspon Techworks</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-2">  
               <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)="drop()">Month to date
          </button></div>
             <div class="col-lg-2">
              <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)="drop1()"> Quater to date
              </button>
              </div>
            <div class="col-lg-2">
              <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"(click)="drop2()"> Year to date
                </button>
                
              </div>
          </div>
          <div *ngIf="btn==1" align="center">
            <ejs-chart style="display:block;" [chartArea]="chartArea" [width]="width" align="center" id="chart1"
              [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [title]="title3" [tooltip]="tooltip1"
              (load)="load3($event)">
              <e-series-collection>
                <e-series [dataSource]="data8" type="StackingLine" xName="x" yName="y" name="Previous Year" width="2"
                  [marker]="marker" dashArray="5,1">
                </e-series>
                <e-series [dataSource]="data5" type="StackingLine" xName="x" yName="y" name="Current Year" width="2"
                  [marker]="marker" dashArray="5,1">
                </e-series>
              </e-series-collection>
            </ejs-chart>
          </div>
          <div *ngIf="btn==2" align="center">
            <ejs-chart style="display:block;" [chartArea]="chartArea" [width]="width" align="center" id="chart2"
              [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [title]="title3" [tooltip]="tooltip1"
              (load)="load3($event)">
              <e-series-collection>
                <e-series [dataSource]="data7" type="StackingLine" xName="x" yName="y" name="Previous Year" width="2"
                  [marker]="marker" dashArray="5,1">
                </e-series>
                <e-series [dataSource]="data6" type="StackingLine" xName="x" yName="y" name="Current Year" width="2"
                  [marker]="marker" dashArray="5,1">
                </e-series>
              </e-series-collection>
            </ejs-chart>
          </div>
          <div  *ngIf="btn==3" align="center">
            <ejs-chart style="display:block;" [chartArea]="chartArea" [width]="width" align="center" id="chart3"
              [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [title]="title3" [tooltip]="tooltip1"
              (load)="load3($event)">
              <e-series-collection>
                <e-series [dataSource]="data3" type="StackingLine" xName="x" yName="y" name="Previous Year" width="2"
                  [marker]="marker" dashArray="5,1">
                </e-series>
                <e-series [dataSource]="data4" type="StackingLine" xName="x" yName="y" name="Current Year" width="2"
                  [marker]="marker" dashArray="5,1">
                </e-series>
              </e-series-collection>
            </ejs-chart>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-lg-12">
        <div class="col-lg-12">
          <div class="col-lg-6" style="display: none;">
        
          </div>
          <div class="col-lg-6">
            <select  (change)="onChangetype($event.target.value)">
              <option value="Overall Revenue">Overall Revenue</option>
              <option value="Kaspon Appliances">Kaspon Appliances</option>
              <option value="Samples">Samples</option>
              <option value="Easy Homes">Easy Homes</option>
              <option value="Kaspon techworks">Kaspon Techworks</option>
            </select>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-4">
          <ejs-accumulationchart id="container" style="display:block;  width: 92%" [legendSettings]="legendSettings"
            [tooltip]="tooltip" [title]="title" (load)="load($event)">
            <e-accumulation-series-collection>
              <e-accumulation-series name="Technician" [dataSource]="data" xName="x" yName="y" [startAngle]="startAngle"
                [endAngle]="endAngle" innerRadius="40%" radius="70%" [dataLabel]="dataLabel" explode="true"
                explodeOffset="10%" [explodeIndex]="3">
              </e-accumulation-series>
            </e-accumulation-series-collection>
          </ejs-accumulationchart>

        </div>
        <div class="col-lg-4">
          <ejs-accumulationchart id="container1" #pie style="display:block;  width: 92%"
            [legendSettings]="legendSettings1" [tooltip]="tooltip" [title]="title1" (load)="load1($event)">
            <e-accumulation-series-collection>
              <e-accumulation-series name="Service Desk" [dataSource]="data1" xName="x" yName="y" [startAngle]="startAngle1"
                [endAngle]="endAngle1" innerRadius="40%" radius="70%" [dataLabel]="dataLabel1" explode="true"
                explodeOffset="10%" [explodeIndex]="3">
              </e-accumulation-series>
            </e-accumulation-series-collection>
          </ejs-accumulationchart>

        </div>
        <div class="col-lg-4">
          <ejs-accumulationchart id="container2" #pie style="display:block;  width: 92%"
            [legendSettings]="legendSettings2" [tooltip]="tooltip" [title]="title2" (load)="load2($event)">
            <e-accumulation-series-collection>
              <e-accumulation-series name="Totla Calls" [dataSource]="data2" xName="x" yName="y" [startAngle]="startAngle2"
                [endAngle]="endAngle2" innerRadius="40%" radius="70%" [dataLabel]="dataLabel2" explode="true"
                explodeOffset="10%" [explodeIndex]="3">
              </e-accumulation-series>
            </e-accumulation-series-collection>
          </ejs-accumulationchart>
        </div>
      </div>
      </div> -->
    </div>



    
<script>
    $(document).ready(function() {
  
  $('.counter').each(function () {
  $(this).prop('Counter',0).animate({
  Counter: $(this).text()
  }, {
  duration: 4000,
  easing: 'swing',
  step: function (now) {
  $(this).text(Math.ceil(now));
  }
  });
  });
  
  });
  </script>

  </kt-portlet-body>
</kt-portlet>


