
.tool{
    border: 1px solid #32c5d2;
    background: #32c5d2!important;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}
.service{
    border: 1px solid #e7505a;
    background: #e7505a!important;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}
.call{
    background: #3598dc!important;
    border: 1px solid #3598dc;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}
.man{    
    background:#8E44AD!important;
    border: 1px solid #8E44AD;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}
.fivdiv{
    background-color:#233e8b;
    border: 1px solid #233e8b;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}
.sixdiv{
    background-color:#1eae98;
    border: 1px solid #1eae98;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    
}
.ninediv{
    background-color:#28b5b5;
    border: 1px solid #28b5b5;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    
}
.tendiv{
    background-color:#77acf1;
    border: 1px solid #77acf1;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    
}
.lastdiv{
    background-color:#194350;
    border: 1px solid #194350;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    
}
.title{
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 20px;
}
.sub{
    font-size: 14px;
    // font-weight: bold;
}
.kt-portlet{
    box-shadow: 0px 0px 10px 0px #b2a9a9 !important;
}
hr{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.kt-portlet.kt-portlet--height-fluid-half{
   height:auto;
}


// .counter {
//     width: 100px;
//     font: 800 40px system-ui;
//     overflow: hidden;
//   }
//   .numbers {
//     width: auto;
//     display: flex;
//     animation: countNumber 4s infinite alternate;
//     animation-timing-function: steps(10);
//   }
//   .numbers div {
//     text-align: center;
//     flex: 0 0 100px;
//   }
  
  @keyframes countNumber {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -1000px;
    }
  }
// span{
//     font-weight: bold;
// }

// media queries for responsive screen

@media  screen and (min-width: 250px) and (max-width: 359px) {   
    .tool,.service,.call,.man{
        width: 4rem !important;
        float: left;
        text-align: center;
        display: inline-block;
        font-size: 19px;
       }
       .sub{
           font-size: 11px;
           width: 8rem !important;
       }
     }
// Extra small devices (portrait phones, less than 576px)
@media  screen and (min-width: 360px) and (max-width: 576px) {   
.tool,.service,.call,.man{
    width: 5rem !important;
    float: left;
    text-align: center;
    display: inline-block;
   }
   .sub{
       font-size: 14px;
       width: 12rem !important;
   }
//    .body_size{
//     max-width: 100% !important;
//  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767px) { 
    .tool,.service,.call,.man{
        max-width: 5rem !important;
        float: left;
        text-align: center;
        display: inline-block;
       }
       .sub{
           font-size: 14px;
       }
       .body_size{
        max-width: 50% !important;
   }
    }
   
 
 // Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991px) { 
    .tool,.service,.call,.man{
        max-width: 5rem !important;
        float: left;
        text-align: center;
        display: inline-block;
       }
       .sub{
           font-size: 14px;
       }
       .body_size{
        max-width: 50% !important;
}
 }
 // Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1023px) {  
    .tool,.service,.call,.man{
        width: 50px !important;
        float: left;
        text-align: center;
       }
       .sub{
           font-size: 12px;
       }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .tool,.service,.call,.man{
        max-width: 4rem !important;
        float: left;
        text-align: center;
}
    .title{
        font-size: 14px;
   }
   .sub{
        font-size: 14px;
}
    .body_size{
        max-width: 50% !important;
}
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) and (max-width: 1455px) { 
    .tool,.service,.call,.man{
        max-width: 4rem !important;
        float: left;
        text-align: center;
       }
       .sub{
           font-size: 14px;
       }
       .title{
        font-size: 14px;
       }
       .body_size{
        max-width: 50% !important;
}
 }
 @media screen and (min-width: 1456px) and (max-width: 1920px) { 
    .tool,.service,.call,.man{
        max-width: 4rem !important;
        float: left;
        text-align: center;
       }
       .sub{
           font-size: 14px;
       }
 }
 .control-section {
    min-height: 450px;
  }
  .control-fluid {
    padding: 0px !important;
}


