<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'NEWTCKT.TECHREPORT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>
        <form [formGroup]="filterTechnician">
            <div class="row">

                <div class="col-md-12"></div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="from_date" [(ngModel)]="from"
                            placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker"
                            required>
                        <div class="input-group-append">

                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="to_date" [(ngModel)]="to"
                            placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker"
                            required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-2">
                    <!--                 <div><strong>Technician:</strong></div>
 -->
                    <select formControlName="technician_code" class="form-control" #location name="technician_code">
                        <option value="">--ALL Technicians--</option>
                        <option *ngFor="let tech of alltech" value="{{tech.employee_code}}">
                            {{tech.full_name}}</option>
                    </select>

                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-success btn-pill btn-sm custom-btn "
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                        (click)="filterTechF()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill  ml-2" (click)="exportAsXLSX()">
                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                </div>
            </div>



        </form>
        <br>

        <div class="kt-section__content">
            <div>
                <!-- <div class="table-responsive"> -->
                <!-- *ngIf="showTable" -->
                <table *ngIf="showTable" datatable="ng" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <!-- columns for  table -->
                        <tr>
                            <th class="kt-footer kt-container max-tables"> {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                            <th style="width: 10%;" class="kt-footer kt-container">
                                {{'NEWTCKT.TCKID' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.TCH_NAME' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.CUS_NAME' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.CALLTYPE' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.PRODUCT' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.SUBPRODUCT' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.RAIS_TM' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of technician_report; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>
                                <a class="button" (click)="ticketDetails(items.ticket_id,ticket_details)"
                                    data-placement="bottom" ngbTooltip="View Details">
                                    {{items.ticket_id}}
                                </a>
                            </td>
                            <td>{{items.technician_name}}
                            </td>
                            <td>{{items.customer_name}}
                            </td>
                            <td>{{items.call_type}} </td>
                            <td>{{items.product}}</td>
                            <td>
                                {{items.sub_product}}
                            </td>
                            <td>{{items.raised_date_time}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
        </div>


    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>

<!-- View for Ticket id -->
<ng-template #ticket_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'RAISETCKT.TICKET_ID' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{ticket_data.ticket_id}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{ticket_data.customer_code}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;text-transform: capitalize;">
                    {{ticket_data.customer_name}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'NEWTCKT.LOC' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;"> {{ticket_data.location}}</div>
            </div>

            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{ticket_data.priority}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{ticket_data.contract_type}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{ticket_data.model}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'MANAGECONT.SERIALNO' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{ticket_data.serial_no}}</div>
            </div>

        </form>
    </div>
</ng-template>