
                        <div class="modal-body">
                            <kt-portlet [class]="'kt-portlet--height-fluid'">
                            <!-- begin body for portlet-->
                            <kt-portlet-body>
                            <div class="kt-section">
                            <form id="form_body" [formGroup]="changepassword"
                            class="ng-untouched ng-pristine ng-valid">
                            <br>
                            <div class="row">
                                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}</label>
                                <div class="col-lg-8">
                                <input type="text" formControlName="email" class="form-control" name="email" id="email" maxlength="48" />
                                        <!-- error controls -->
                                <div *ngIf="log.email.errors && (log.email.dirty || log.email.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.email.errors.required" style="color:red">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                                {{'USER.REQ' | translate}} </div> </div>   
                                </div></div> 
                                <br>
                                <div class="row">
                                    <label class="control-label col-lg-4">{{'USER.ROLE' | translate}}</label>
                                    <div class="col-lg-8">
                                    <input type="text" formControlName="role_name" class="form-control" name="role_name" id="role_name" maxlength="48" disabled/>
                                            <!-- error controls -->
                                    <div *ngIf="log.role_name.errors && (log.role_name.dirty || log.role_name.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="log.role_name.errors.required" style="color:red">{{'USER.ROLE' | translate}}
                                    {{'USER.REQ' | translate}} </div> </div>   
                            </div> </div>
                            <br>
                            <div class="row">
                                <label class="control-label col-lg-4">Old Password</label>
                                <div class="col-lg-8">
                                <input type="password" formControlName="old_password" class="form-control" name="old_password" id="old_password" maxlength="48"/>
                                        <!-- error controls -->
                                <!-- <div *ngIf="log.role_name.errors && (log.role_name.dirty || log.role_name.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.role_name.errors.required" style="color:red">{{'USER.ROLE' | translate}}
                                {{'USER.REQ' | translate}} </div> </div>    -->
                        </div> </div>
                        <br>
                        <div class="row">
                                <label class="control-label col-lg-4">New Password</label>
                                <div class="col-lg-8">
                                <input type="password" formControlName="new_password" class="form-control" name="new_password" id="new_password" maxlength="48"/>
                                        <!-- error controls -->
                                <!-- <div *ngIf="log.role_name.errors && (log.role_name.dirty || log.role_name.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.role_name.errors.required" style="color:red">{{'USER.ROLE' | translate}}
                                {{'USER.REQ' | translate}} </div> </div>    -->
                        </div> </div> 
                                <!-- <mat-form-field>
                                        <mat-label>New Password</mat-label>
                                
                                        <input matInput type="new_password"
                                                formControlName="new_password" autocomplete="off" />
                                        <mat-error *ngIf="isControlHasError('password','required')">
                                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                        </mat-error>
                                        <mat-error *ngIf="isControlHasError('password','password')">
                                                <strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
                                        </mat-error>
                                        <mat-error *ngIf="isControlHasError('password','minlength')">
                                                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                                        </mat-error>
                                        <mat-error *ngIf="isControlHasError('password','maxlength')">
                                                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                                        </mat-error>								
                                </mat-form-field> -->
                        <br>
                        <div class="row">
                                <label class="control-label col-lg-4">Confirm Password</label>
                                <div class="col-lg-8">
                                <input type="password" formControlName="confirm_password" class="form-control" name="confirm_password" id="confirm_password" maxlength="48"/>
                                        <!-- error controls -->
                                <!-- <div *ngIf="log.role_name.errors && (log.role_name.dirty || log.role_name.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.role_name.errors.required" style="color:red">{{'USER.ROLE' | translate}}
                                {{'USER.REQ' | translate}} </div> </div>    -->
                        </div> </div>
                        <br>
                        <button class="btn green btn-outline btn-circle pull-right" type="button" (click)="change_password()" id="password_enter">Submit</button>
                            <!-- <button color="primary" (click)="change_password()"
                            class="btn-profile" class="pull-right" >Submit</button> -->
                            </form>
                            </div>
                            </kt-portlet-body>
                            </kt-portlet>
                            </div>
                