// .form-control{
//     width: 35%;
// }
// .kt-heading.kt-heading--md.product-head {
//     margin-top: -13px;
//     margin-left: 9px;
// }
// button.btn.btn-info.pull-right {
//     margin-top: -53px;
//     margin-right: 11px;
// }
.kt-separator {
    height: 0;
    margin: 0px;
    margin-top: -7px;
}/*
.form-control{
    width: 18%;
    display: inline-block;
    float: right;
    // margin-top: 2px;
}*/
// button {
//     background: #5d78ff;
//     color: #fff;
//     border: 1px solid;
//     border-radius: 4px;
// }
.portlet__body{
    padding: 8px;
}
#cust_data{
    margin-right: -7px;
}
.button{
    cursor: pointer;
}
.color_text{
    color: #646c9a;
}
.tablewidth{
    width:13%;
}
// .tablewidthtwenty{
//     width:25%;
// }
.mat-form-field-infix{
    padding-top:0px !important;
}
.disabledsubmit{
    cursor: not-allowed;
}
.preferred_Label{
    display:flex;
    align-items: center;
}

.unassignedaction{
    text-align: center;
}
.Checkfont{
    font-size:14px;
}
.assignImage{
    position: relative;
    top: 3px;
}
.textcentercheckbox{
    text-align:center;
}
#problem_desc{
    resize:none;
}
.txt_clr{
    color:black;
}