<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title=" {{'NEWTCKT.SPAREREPORT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>
        <form [formGroup]="filterSpare">
            <div class="row">

                <div class="col-md-12"></div>

                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="from_date" [(ngModel)]="from"
                            placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="to_date" [(ngModel)]="to"
                            placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-2">
                    <select formControlName="product_id" class="form-control" #product>
                        <option value="">ALL Products</option>
                        <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select formControlName="location_id" class="form-control" #location>
                        <option value="">ALL Locations</option>
                        <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <!--                 <div><strong>Technician:</strong></div>
 -->
                    <select formControlName="technician_code" class="form-control" #location name="technician_code">
                        <option value="">ALL Technicians</option>
                        <option *ngFor="let tech of alltech" value="{{tech.employee_code}}">
                            {{tech.full_name}}</option>
                    </select>

                </div>

                <div class="">
                    <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn"
                        style="margin-left:10px;margin-top: 0px;"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                        (click)="filterSpareF()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right"
                        (click)="exportAsXLSX()">
                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                </div>
            </div>



        </form>
        <br>

        <div class="kt-section__content">
            <div>
                <table *ngIf="showmodelTable" datatable="ng" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <!-- columns for  table -->
                        <tr>
                        

                            <th style="width: 10%;" class="kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                            </th>
                            <th style="width: 12%;" class="kt-footer kt-container">
                                {{'SPARE.TCTID' | translate}}
                            </th>
                            <th style="width: 12%;" class="kt-footer kt-container">
                                {{'SPARE.TECHID' | translate}}
                            </th>
                            <th style="width: 12%;" class="kt-footer kt-container datatable-center">
                                {{'SPARE.SPAREREQ' | translate}}
                            </th>
                            <th style="width: 12%;" class="kt-footer kt-container">
                                {{'SPARE.CONTRACT' | translate}}
                            </th>
                            <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                {{'SPARE.AMT' | translate}}
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of spare_report; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>
                                <a class="button" (click)="ticketDetails(item.ticket_id,ticket_details)"
                                    style="color: #242fb7" data-placement="bottom"
                                    ngbTooltip="View Details">{{item.ticket_id}}</a>
                            </td>
                            <td><a class="button"
                                    (click)="get_technician_details(item.ticket_id,item.technician_id,view_techniciandetails);"
                                    style="color: #242fb7">{{item.technician_id}}</a>
                            </td>
                            <td class="datatable-center"><a style="color: #242fb7" (click)="spareDetails(item,spare_required);">
                                    {{'RAISETCKT.VIEW' | translate}}
                                <!-- <i
                                        class="fa fa-eye icon-green" aria-hidden="true"></i> -->
                                    </a></td>
                            <td>{{item.warranty_type}}
                            </td>
                            <td *ngIf="item.ammount == null">0
                            </td>
                            <td class="datatable-center" *ngIf="item.ammount != null">{{item.ammount}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <ng-template #spare_required let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table datatable="ng" *ngIf="showTableModal" [dtOptions]="dtOptions"
                                    class="table table-striped table-bordered table-sm row-border hover">
                                    <thead>
                                        <tr>
                                            <th class="max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                                            <th>{{'SPARE.SPARECODE' | translate}}</th>
                                            <th>{{'SPARE.MODEL' | translate}}</th>
                                            <th>{{'SPARE.PRODUCT' | translate}}</th>
                                            <th>{{'SPARE.SUBPRODUCT' | translate}}</th>
                                            <th>{{'SPARE.SPAREREQUIRED' | translate}}</th>
                                            <th>{{'SPARE.SPARELOCATION' | translate}}</th>
                                            <th>{{'SPARE.CHARGABLE' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let spare of spare_request_details;let i=index">
                                            <td class="datatable-center">{{i+1}}</td>
                                            <td>{{spare.spare_code}}</td>
                                            <td>{{spare.model}}</td>
                                            <td>{{spare.product}}</td>
                                            <td>{{spare.sub_product}}</td>
                                            <td>{{spare.spare_quantity}}</td>
                                            <td>{{spare.spare_location.spare_location}}</td>
                                            <td *ngIf="spare.chargeable == 1">Yes</td>
                                            <td *ngIf="spare.chargeable == 0">No</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- button for close -->
                        <!-- <table class="table table-hover ">
                  <thead>
                     <tr><td>{{'TRANSFERSPARE.SPARECODE' | translate}}</td>
                     <td>{{'TRANSFERSPARE.SPARELOCATION' | translate}}</td>
                  </tr></thead>
                  <tbody> 
                    values from the api.For loop to populate the datas
                    <tr *ngFor="let spare of spare_request_details;let i=index">
                       <td>{{spare.spare_code}}</td>
                        <td>{{spare.spare_location.spare_location}}</td>
                    </tr>
                </tbody>
               </table> -->

                    </div>
                </div>
            </div>
        </ng-template>
    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>
<!-- view ticket details -->
<ng-template #ticket_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'RAISETCKT.TICKET_ID' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.ticket_id}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.customer_code}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;text-transform: capitalize;">
                    {{ticket_data.customer_name}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'NEWTCKT.LOC' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;"> {{ticket_data.location}}</div>
            </div>

            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.priority}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.contract_type}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.model}}</div>
            </div>

        </form>
    </div>
</ng-template>
<!-- view_ticketdetails -->
<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.technician_code}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputPassword3">{{'NEWTCKT.TCH_NAME' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;text-transform: capitalize;">
                    {{technicians_details.full_name}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.contact_number}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.skill_level}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.contract_type}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.model}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
              <!-- <div class="col-sm-7 control-label overflow-details">{{technicians_details.technician_type}}</div> -->
              <div class="txt_clr" *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
              <div  class="txt_clr" *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div>
            </div>

        </form>

    </div>
</ng-template>