<kt-portlet [class]="'kt-portlet--height-fluid'">

    <kt-portlet-header title="	{{'REIM.TITLE' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->
    <kt-portlet-body>
        <div class="row">
            <div class="col-lg-11">
        
            </div>
            <div class="col-lg-1 pull-right">
                <button class=" btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2" (click)="exportAsXLSX()">
                    Export</button>
            </div>
           
        </div>
            <br>

        <!-- <div class="kt-separator kt-separator"></div> -->
        <!-- <div class="container mt-0"> -->
        <div class="kt-section__content">

            <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab>
                <!-- tab for New sparres -->
                <ngb-tab title="{{'REIM.NEWC' | translate}}" id="tab-selectbyid1">
                    <ng-template ngbTabContent>
                        <kt-portlet-body class="portlet__body">
                            <!-- <div class="container mt-0 "> -->
                            <div class="kt-section__content">
                                <table *ngIf="ShowtableDate" datatable="ng" [dtOptions]="dtOptions"
                                    class="table table-striped table-bordered table-sm row-border hover datatable">
                                    <thead>
                                        <!-- columns for  table -->
                                        <tr>
                                            <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                                {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container">
                                                {{'REIM.TECHID' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container">
                                                {{'REIM.TECHN' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container">
                                                {{'REIM.START' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container">
                                                {{'REIM.END' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container">
                                                {{'REIM.CLAIMAMT' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container">
                                                Other Expenses
                                            </th>
                                            <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                                {{'REIM.VIEW' | translate}}
                                            </th>
                                            <th style="width: 11%;" class="kt-footer kt-container max-tables">
                                                {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of reimbursment_data; let i = index">
                                            <td class="datatable-center">{{i+1}}</td>
                                            <td><a data-placement="bottom" ngbTooltip="View Details"
                                                    style="cursor: pointer;" class="button"
                                                    (click)="techDetails(item.technician_id,tech_details)">{{item.technician_id}}</a>
                                            </td>
                                            <td>{{item.technician_name}}</td>
                                            <td>{{item.start_date}}</td>
                                            <td>{{item.end_date}}</td>
                                            <td>{{item.claim_ammount}}</td>
                                            <td>{{item.other_expenses}}</td>
                                            <td class="datatable-center">
                                                <!--  <a [routerLink]="['/reimbursmentform']" (click)="viewForm(item,'hi');">Form</a> -->
                                                <!--                                                                  <a [routerLink]="['/reimbursmentform']"  (click)="viewForm(item)">Form</a>
                                                                                        -->

                                                <!--                                                           <kt-reimbursmentform [formData]="item" > </kt-reimbursmentform>
                                                                                        -->
                                                <!--                                                             <kt-reimbursmentform id="item"></kt-reimbursmentform>
                                                                                        --> <a style="cursor: pointer;" class="button"
                                                    (click)="openspare(view_form);viewForm(item.technician_id,item.start_date,item.end_date);">
                                                    {{'RAISETCKT.VIEW' | translate}}
                                                    <!-- <i
                                                        class="fa fa-eye" style="cursor: pointer;"
                                                        aria-hidden="true"></i> -->
                                                    </a>
                                            </td>
                                            <td class="datatable-center">
                                                <a (click)="reimbursmentApprove(item.reimburse_request_id)"><i
                                                        class="far fa-check-circle"
                                                        style="font-size:22px;cursor: pointer; color:#0abb87;padding-right: 10px;"
                                                        aria-hidden="true"></i></a>
                                                <a (click)="reimbursmenteReject(item.reimburse_request_id)"><i
                                                        class="fas fa-ban"
                                                        style="font-size:21px; cursor: pointer;color:#dc3545"
                                                        aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- </div> -->
                        </kt-portlet-body>
                    </ng-template>
                </ngb-tab>

                <!-- tab for approved sparres -->
                <ngb-tab title="{{'REIM.APPROVED' | translate}}" id="tab-selectbyid2">
                    <ng-template ngbTabContent>
                        <kt-portlet-body>
                            <!-- <div class="kt-section__content"> -->
                            <div>
                                <table datatable="ng" [dtOptions]="dtOptions" *ngIf="showtableApprove"
                                    class="table table-striped table-bordered table-sm row-border hover datatable">
                                    <thead>
                                        <!-- columns for  table -->
                                        <tr>
                                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                                {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.TECHID' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.TECHN' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.START' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.END' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.CLAIMAMT' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                                {{'REIM.VIEW' | translate}}
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of accepted_reimbursment; let i = index">
                                            <td class="datatable-center">{{i+1}}</td>
                                            <td><a data-placement="bottom" ngbTooltip="View Details"
                                                    style="cursor: pointer;" class="button"
                                                    (click)="techDetails(item.technician_id,tech_details)">{{item.technician_id}}</a>
                                            </td>
                                            <td>{{item.technician_name}}</td>
                                            <td>{{item.start_date}}</td>
                                            <td>{{item.end_date}}</td>
                                            <td>{{item.claim_ammount}}</td>
                                            <td class="datatable-center">
                                                <!--                                                             <a [routerLink]="['/reimbursmentform']" (click)="viewForm(item,'hi');">Form</a>
                                                                        -->
                                                <!--                                                             <kt-reimbursmentform [data]="item"> </kt-reimbursmentform>
                                                                                         -->
                                                <a style="cursor: pointer;" class="button"
                                                    (click)="openspare(view_form);viewForm(item.technician_id,item.start_date,item.end_date);">
                                                    {{'RAISETCKT.VIEW' | translate}}
                                                    <!-- <i
                                                        class="fa fa-eye" style="cursor: pointer;"
                                                        aria-hidden="true"></i> -->
                                                    </a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- </div> -->
                        </kt-portlet-body>
                    </ng-template>
                </ngb-tab>

                <!-- tab for rejected spares -->
                <ngb-tab title="{{'REIM.REJECT' | translate}}" id="tab-selectbyid3">
                    <ng-template ngbTabContent>
                        <kt-portlet-body class="portlet__body">
                            <!-- <div class="container mt-0"> -->
                            <div class="kt-section__content">
                                <div>
                                </div>
                                <table datatable="ng" [dtOptions]="dtOptions" *ngIf="showtableReject"
                                    class="table table-striped table-bordered table-sm row-border hover datatable">
                                    <thead>
                                        <!-- columns for  table -->
                                        <tr>
                                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                                {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.TECHID' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.TECHN' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.START' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.END' | translate}}
                                            </th>
                                            <th style="width: 14%;" class="kt-footer kt-container">
                                                {{'REIM.CLAIMAMT' | translate}}
                                            </th>
                                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                                {{'REIM.VIEW' | translate}}
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of rejected_reimbursment; let i = index">
                                            <td class="datatable-center">{{i+1}}</td>
                                            <td><a data-placement="bottom" ngbTooltip="View Details"
                                                    style="cursor: pointer;" class="button"
                                                    (click)="techDetails(item.technician_id,tech_details)">{{item.technician_id}}</a>
                                            </td>
                                            <td>{{item.technician_name}}</td>
                                            <td>{{item.start_date}}</td>
                                            <td>{{item.end_date}}</td>
                                            <td>{{item.claim_ammount}}</td>
                                            <td class="datatable-center">
                                                <!--                                                             <a target="_blank" [routerLink]="['/reimbursmentform']" (click)="viewForm(item);">Form</a>
 -->
                                                <!--                                                             <kt-reimbursmentform id="item"></kt-reimbursmentform>
 --> <a style="cursor: pointer;" class="button" (click)="viewForm(item.technician_id,item.start_date,item.end_date);openspare(view_form);">
        {{'RAISETCKT.VIEW' | translate}}
    <!-- <i
                                                        class="fa fa-eye" style="cursor: pointer;"
                                                        aria-hidden="true"></i> -->
                                                    </a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- </div> -->
                        </kt-portlet-body>
                    </ng-template>

                </ngb-tab>
            </ngb-tabset>
        </div>
        <!-- </div> -->

        <ng-template #tech_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' |
                            translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.technician_code}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'IMPRESTSPARE.NAME' |
                            translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">
                            {{technician_data.full_name}}</div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.skill_level}}</div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.contact_number}}
                        </div>
                    </div>
                    <!-- <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.location}}</div>
                    </div> -->
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'RAISETCKT.PRODUCT' |
                            translate}}
                            :</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.product}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' |
                            translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.sub_product}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'COMTICK.TECH_TYP' | translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_data.technician_type}}</div>
                        <!-- <div *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
                        <div *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div> -->
                    </div>
                </form>
                
            </div>
        </ng-template>
        <ng-template #view_form let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'REIM.REMADE' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-11">
                
                    </div>
                    <div class="col-lg-1 pull-right">
                        <button class=" btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2" (click)="exportAsXLSX_ticket()">
                            Export</button>
                    </div>
                   
                </div>
                    <br>

                <div class="row">
                    <!-- <div class="form-group"> -->
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <label class="control-label col-md-8" for=""
                            style="font-weight: bold;">{{'TRAININGSCORE.TECHN'|translate}}:</label>
                        <div style="float:right;" class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            {{tech}}
                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <label class=" control-label col-md-5" for=""
                            style="font-weight: bold;">{{'TRAININGSCORE.FROMDATE'|translate}}:</label>
                        <div style="float:right;" class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                            {{start}}
                        </div>
                    </div>

                    <div class="form-group col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <label class="control-label col-md-5" for=""
                            style="float:left;font-weight: bold;">{{'TRAININGSCORE.TODATE'|translate}}:</label>
                        <div style="float:right;" class=" col-md-7 col-lg-7 col-sm-7 col-xs-7">
                            {{end}}
                        </div>
                    </div>
                </div>
                <!-- </div> -->

                <div class="kt-section__content">
                    <div class="table-responsive">
                        <!-- <div class="row"> -->
                        <!-- <div class="col-lg-12"> -->
                        <!-- <div class="kt-section__content"> -->
                        <table  *ngIf="showTable" datatable="ng" [dtOptions]="dtOptions1"
                            class="table table-striped table-bordered table-sm row-border hover datatable">
                            <thead>
                                <!-- columns for  table -->
                                <tr>
                                    <th class="kt-footer kt-container max-tables">
                                        {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                                    </th>
                                    <th style="width: 15%;" class="kt-footer kt-container">
                                        {{'RAISETCKT.TICKET_ID' | translate}}
                                    </th>
                                    <th style="width: 15%;" class="kt-footer kt-container">
                                        {{'RAISETCKT.SOURCE' | translate}}
                                    </th>
                                    <th style="width: 15%;" class="kt-footer kt-container">
                                        Destination
                                    </th>
                                    <th style="width: 19%;" class="kt-footer kt-container">
                                        {{'RAISETCKT.MODEOFTRAVEL' | translate}}
                                    </th>
                                    <th style="width: 14%;" class="kt-footer kt-container">
                                        {{'CONFIG.LOCTYPE' | translate}}
                                    </th>
                                    <th style="width: 12%;" class="kt-footer kt-container">
                                        {{'RAISETCKT.SYSAH' | translate}}
                                    </th>
                                    <th class="kt-footer kt-container max-tables">
                                        {{'RAISETCKT.VOLTAGE' | translate}}
                                    </th>
                                    <th style="width: 14%;" class="kt-footer kt-container">
                                        {{'RAISETCKT.NOOFKM' | translate}}
                                    </th>
                                    <th style="width: 12%;" class="kt-footer kt-container">
                                        {{'RAISETCKT.CLAIMS' | translate}}
                                    </th>                                
                                                                    <!-- <th class="kt-footer kt-container max-tables">
                                        {{'RAISETCKT.VIEW' | translate}}
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of reimbursement_view_form; let i = index">
                                    <td class="datatable-center">{{i+1}}</td>
                                    <td>{{item.ticket_id}}
                                    </td>
                                    <td>{{item.source}}</td>
                                    <td>{{item.destination}}</td>
                                    <td>{{item.mode_of_travel}}</td>
                                    <td>{{item.location_type}}</td>
                                    <td>{{item.sys_ah}}</td>
                                    <td>{{item.voltage}}</td>
                                    <td>{{item.no_of_km_travelled}}</td>
                                    <td>{{item.travelling_charges}}</td>

                                    <!-- <td class="datatable-center"> <a style="cursor: pointer;" class="button"
                                            (click)="openspare(view_attachment);">
                                            {{'RAISETCKT.VIEW' | translate}}
                                     
                                            </a></td> -->
                                    <ng-template #view_attachment let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                            <!-- title for renew -->
                                            <h4 class="modal-title">{{'MANAGECONT.IMAGE' | translate}}</h4>
                                            <!-- icon for close -->
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- body begin -->
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <div class="col-sm-6 control-label" style="float: right;">
                                                        <img src="{{item.attachment}}">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                        <!-- </div> -->
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </ng-template>


    </kt-portlet-body>
    <!-- end body for portlet-->
</kt-portlet>