<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="{{'MENU.AMCCON' | translate}}">
    <!--heading for portlet-->
  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body>
    <div class="kt-section">
      <div class="kt-section__content">
        <!-- form group for user -->
        <form id="form_body" [formGroup]="RenewCustomerInfo" novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div class="kt-section__content">
            <h2>{{'RAISETCKT.CUS_INFO' | translate}}</h2>
            <br>
            <div class="row">
              <label style="margin-left:1%;">{{'RAISETCKT.SELECT_OPT' | translate}}</label>
              <mat-radio-group aria-label="Select an option" formControlName="lable_type" style="margin-left: 1%;">
                <!--radio button-->
                <mat-radio-button value="1" class="radio" (change)="onchangeradio($event)" checked
                  (click)="amc_ticket_reset()">
                  {{'NEW_SUBSCRIPTION.CONTACT_NO' | translate}}
                </mat-radio-button>
                <mat-radio-button value="2" class="radio" (change)="onchangeradio($event)" (click)="amc_ticket_reset()">
                  {{'CUSTOMER.CUSID' | translate}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" *ngIf="radiochange_value == 2 ; else elseBlock" style="width: 100%;">
                <!-- <div  style="width: 100%;"> -->
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <label class="control-label">{{'RAISETCKT.CUSID' | translate}}
                    </label>
                  </div>
                  <div class="col-lg-6 input-group">
                    <input style="margin-left: 0px;width: 50%;margin-right: 0px;" type="text"
                      formControlName="customer_code" class="form-control"
                      placeholder="{{'RAISETCKT.CUSID' | translate}}" (change)="passcustomercode($event.target.value)"
                      [(ngModel)]='customer_code' name="customer_code" id="customer_code" maxlength="48" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary"
                        (click)="get_customer_contract_details(customer_code,2)">{{'RAISETCKT.GO' | translate}}</button>
                    </span>
                    <!-- error controls -->
                    <div *ngIf="log.customer_code.errors && (log.customer_code.dirty || log.customer_code.touched)"
                      class="m-b-10 error">
                      <div *ngIf="log.customer_code.errors.required" style="color:red">
                        {{'RAISETCKT.CUSID' | translate}} {{'RAISETCKT.REQ' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="col-md-6">
                  <!-- label for contact number -->
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <label class="control-label ">{{'RAISETCKT.CONNUMBER' | translate}}: </label>
                    </div>
                    <div class="col-lg-6 input-group">
                      <input type="text" class="form-control" placeholder="{{'RAISETCKT.CONNUMBER' | translate}}"
                        formControlName="contact_number" style="margin-left: 0px;width: 50%;margin-right: 0px;"
                        (change)="passcontact_no($event.target.value)" name="contact_number"
                        [(ngModel)]='contact_number' onKeyPress="if(this.value.length==10) return false;" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                          (click)="get_customer_contract_details(contact_number,1)">{{'RAISETCKT.GO' |
                          translate}}</button>
                      </span>
                      <!-- error controls -->
                      <div *ngIf="log.contact_number.errors && (log.contact_number.dirty || log.contact_number.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.contact_number.errors.required" style="color:red">
                          {{'RAISETCKT.CONNUMBER' | translate}}
                          {{'RAISETCKT.REQ' | translate}} </div>

                        <div *ngIf="log.contact_number.errors.pattern" style="color:red">
                          {{'NEW_SUBSCRIPTION.VALID' | translate}}
                          {{'RAISETCKT.CONNUMBER' | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div *ngIf="contract_error " style="color:red">
              {{contract_error }}
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-4">
                    {{'RAISETCKT.CUSID' | translate}}
                  </label>
                  <div class="col-sm-4 col-md-6">
                    <input type="text" placeholder="{{'RAISETCKT.CUSID' | translate}}" formControlName="customer_code"
                      class="form-control" style="margin-left:0%;width: 100%;" name="customer_code" id="customer_code"
                      maxlength="48" readonly />
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <!-- label for organization name -->
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.NAME' | translate}}
                  </label>
                  <div class="col-sm-4 col-md-6">
                    <input type="text" placeholder="{{'RAISETCKT.NAME' | translate}}" formControlName="customer_name"
                      class="form-control" name="customer_name" id="customer_name" maxlength="48" readonly />
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <!-- label for organization name -->
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-3">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                  </label>
                  <div class="col-sm-4 col-md-6">
                    <input type="text" placeholder="{{'NEW_SUBSCRIPTION.EMAIL' | translate}}" formControlName="email_id"
                      class="form-control" name="email_id" id="email_id" maxlength="48" readonly />

                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-6">
                <!-- label for Alternate contact number -->
                <div class="row">
                  <label class="control-label col-md-2 col-lg-4">
                    {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                  <div class="col-lg-4 col-lg-6">
                    <input class="form-control" placeholder="{{'RAISETCKT.CONALTNUMBER' | translate}}"
                      formControlName="alternate_contact_number" type="text" id="alternate_contact_number"
                      name="alternate_contact_number" readonly />
                  </div>
                </div>
              </div>
            </div>
            <br>
            <h2>Address</h2>
            <mat-divider></mat-divider>
            <br>
            <div class="row">
              <!-- label for plotnumber -->
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-3"> {{'RAISETCKT.DOPLO' | translate}}:
                  </label>
                  <div class="col-sm-4 col-md-6">
                    <input type="text" class="form-control" formControlName="plot_number"
                      placeholder="{{'RAISETCKT.DOPLO' | translate}}" maxlength="32" readonly />
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-6">
                <!-- label for street -->
                <div class="row">
                  <label class="control-label col-md-4 col-lg-4">{{'RAISETCKT.STRS' | translate}}:
                  </label>
                  <div class="col-lg-6 col-lg-6">
                    <input type="text" class="form-control" formControlName="street"
                      placeholder="{{'RAISETCKT.STRS' | translate}}" readonly />
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <!-- label for Landmark -->
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-3"> {{'RAISETCKT.LAND' | translate}}:
                  </label>
                  <div class="col-sm-4 col-md-6">
                    <input type="text" class="form-control" formControlName="landmark"
                      placeholder="{{'RAISETCKT.LAND' | translate}}" readonly />
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-6">
                <!-- label for Country -->
                <div class="row">
                  <label class="control-label col-md-4 col-lg-4">{{'RAISETCKT.COUNTRY' | translate}}:
                  </label>
                  <div class="col-md-4 col-lg-6">
                    <select formControlName="country_id" class="form-control"
                      (change)="onChangeCountry($event.target.value)" disabled>
                      <option value="null">--{{'RAISETCKT.SELECT_CON' | translate}}--</option>
                      <option *ngFor="let items of country" [value]=items.country_id>
                        {{items.country_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <!-- label for State-->
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.STATE' | translate}}:
                  </label>
                  <div class="col-sm-6 col-md-6">
                    <select formControlName="state_id" class="form-control"
                      (change)="onChangeState($event.target.value)" disabled>
                      <option value="null">--{{'RAISETCKT.SELECT_STATE' | translate}}--</option>
                      <option *ngFor="let items of states" [value]=items.state_id>
                        {{items.state_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-6">
                <!-- label for City-->
                <div class="row">
                  <label class="control-label col-md-2 col-lg-4">{{'RAISETCKT.CITY' | translate}}:
                  </label>
                  <div class="col-md-6 col-lg-6">
                    <select formControlName="city_id" class="form-control" disabled
                      (change)="onChangecity($event.target.value)">
                      <option value="null">--{{'RAISETCKT.SELECT_CITY' | translate}}--</option>
                      <option *ngFor="let items of cities" [value]=items.city_id>
                        {{items.city_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <!-- label for Location-->
                <div class="row">
                  <label class="control-label col-sm-2 col-lg-4">{{'RAISETCKT.LOCATION' | translate}}:
                  </label>
                  <div class="col-md-6 col-lg-6">
                    <select formControlName="location_id" class="form-control" disabled>
                      <option value="null">--{{'RAISETCKT.SELECT_LOC' | translate}}-- </option>
                      <option *ngFor="let items of locations" [value]=items.location_id>
                        {{items.location_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <label class="control-label col-md-4 col-sm-4"> {{'RAISETCKT.POSCODE' | translate}}:
                  </label>
                  <div class="col-sm-4 col-md-6">
                    <input type="text" placeholder="{{'RAISETCKT.POSCODE' | translate}}" formControlName="post_code"
                      class="form-control" name="post_code" id="post_code" readonly />
                  </div>
                </div>
              </div>
              <br>
            </div>
            <br>
          </div>
          <div *ngIf="errors" style="color:red">
            {{errors}}
          </div>
          <div *ngIf="contract_details != null">
            <div style="margin-top: 2%;margin-left: 0;" *ngIf="!isShow">
              <div class="kt-section__content">
                <table id="contract" datatable="ng" [dtOptions]="dtOptions"
                  class="table table-striped table-bordered table-sm row-border hover datatable">
                  <thead>
                    <!-- columns for table -->
                    <tr>
                      <th style="width: 13%;" class="kt-footer kt-container max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                      <th style="width: 13%;" class="kt-footer kt-container">
                        {{'RAISETCKT.PRODUCT' | translate}}</th>
                      <th style="width: 13%;" class="kt-footer kt-container">
                        {{'RAISETCKT.SUBPRODUCT' | translate}}
                      </th>
                      <th style="width: 15%;" class="kt-footer kt-container">
                        {{'RAISETCKT.SERIAL_NO' | translate}}
                      </th>
                      <th style="width: 13%;" class="kt-footer kt-container">
                        {{'RAISETCKT.CONRCT_TYP' | translate}}
                      </th>
                      <th style="width: 13%;" class="kt-footer kt-container">
                        {{'RAISETCKT.EXP_DATE' | translate}}</th>
                      <th style="width: 13%;" class="kt-footer kt-container datatable-center">
                        {{'RAISETCKT.ACTIONS' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of contract_detail;let i=index">
                      <td class="datatable-center">{{i+1}}</td>
                      <td>{{item.product.product_name}} </td>
                      <td>{{item.sub_product.product_sub_name}}</td>
                      <td>{{item.serial_no}} </td>
                      <td>{{item.contract.amc_type}} </td>
                      <td [ngClass]="{'contractexpired': item.expiry_day === 'Contract Expired'}">{{item.expiry_day}}
                      </td>
                      <td class="center" width="100">
                        <button class="btn btn-base" type="button"
                          class="btn btn-outline-info btn-sm btn-pill custom-btn p-1"
                          (click)="openLarge(renew_contract_modal);get_contract_info(item.contract_id,'renew')">
                          {{'RAISETCKT.RENCON' | translate}}</button>&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="customer_error" style="color:red">
                  {{customer_error}}
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-outline-info btn-sm btn-pill custom-btn "
              (click)="amc_ticket_reset()">{{'RAISETCKT.RESET' | translate}}</button>
            <button type="button" class="btn btn-outline-primary btn-sm btn-pill custom-btn ml-2"
              (click)="openLarge(CreateNewContract)">{{'AMC.NW_CON' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>

<!--Modal box for Raise Ticket-->

<ng-template #renew_contract_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Renew Contract </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_body" [formGroup]="RenewCustomerInfo" novalidate="" class="ng-untouched ng-pristine ng-valid">
      <div class="container" style="margin-top: 2%">
        <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
          <ngb-tab title="Customer Info" id="tab-selectbyid1">
            <ng-template ngbTabContent>
              <h2>Customer info</h2>
              <mat-divider></mat-divider>
              <br>
              <div class="row">
                <!-- label for organization name -->
                <div class="col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.CUSID' | translate}}
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" formControlName="customer_code" class="form-control"
                        placeholder="{{'RAISETCKT.CUSID' | translate}}" maxlength="32" readonly />
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <!-- label for Name -->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">
                      {{'RAISETCKT.NAME' | translate}}: </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" formControlName="customer_name" class="form-control"
                        placeholder="{{'RAISETCKT.NAME' | translate}}" readonly />
                      <!-- error controls -->
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for organization name -->
                <div class="col-md-6">

                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.EMAIL_ID' | translate}}
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" formControlName="email_id" class="form-control"
                        placeholder="{{'RAISETCKT.EMAIL_ID' | translate}}" readonly />
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <!-- label for Alternate contact number -->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">
                      {{'RAISETCKT.CONNUMBER' | translate}}: </label>
                    <div class="col-sm-5 col-md-7">
                      <input class="form-control" formControlName="contact_number" type="text"
                        placeholder="{{'RAISETCKT.CONNUMBER' | translate}}" readonly />
                      <!-- error controls -->
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <!-- label for Alternate contact number -->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">
                      {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                    <div class="col-sm-5 col-md-7">
                      <input class="form-control" formControlName="alternate_contact_number" type="text"
                        id="alternate_contact_number" name="alternate_contact_number"
                        onKeyPress="if(this.value.length==10) return false;"
                        placeholder="{{'NEW_SUBSCRIPTION.CONALT_NUMBER' | translate}}" />
                      <!-- error controls -->
                      <div
                        *ngIf="log.alternate_contact_number.errors && (log.alternate_contact_number.dirty || log.alternate_contact_number.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.alternate_contact_number.errors.maxlength" style="color:red">
                          {{'RAISETCKT.CONALTNUMBER' | translate}}
                          {{'RAISETCKT.DIGI' | translate}}</div>
                        <div *ngIf="log.alternate_contact_number.errors.minlength" style="color:red">
                          {{'RAISETCKT.CONALTNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}
                        </div>
                        <div *ngIf="log.alternate_contact_number.errors.pattern" style="color:red">
                          {{'NEW_SUBSCRIPTION.VALID' | translate}}
                          {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h2>Address</h2>
              <mat-divider></mat-divider>
              <br>
              <div class="row">
                <!-- label for plotnumber -->
                <div class="col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">
                      {{'RAISETCKT.DOPLO' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" class="form-control" formControlName="plot_number"
                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />
                      <!-- error controls -->
                      <div *ngIf="log.plot_number.errors && (log.plot_number.dirty || log.plot_number.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.plot_number.errors.required" style="color:red">
                          {{'RAISETCKT.DOPLO' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                        <!-- <div *ngIf="log.plot_number.errors.pattern" style="color:red">
                          {{'RAISETCKT.DOPLO' | translate}}
                          is invalid
                        </div> -->
                        <div *ngIf="log.plot_number.errors.pattern" style="color:red">Plot number Should be valid
                          (Alphabets,Numbers, (-/@#.,)) </div>
                        <div *ngIf="!RenewCustomerInfo.hasError('whitespace')" style="color:red">
                          {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.DOPLO' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <!-- label for street -->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.STRS' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" class="form-control" formControlName="street"
                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />
                      <!-- error controls -->
                      <div *ngIf="log.street.errors && (log.street.dirty || log.street.touched)" class="m-b-10 error">
                        <div *ngIf="log.street.errors.required" style="color:red">
                          {{'RAISETCKT.STRS' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                        <div *ngIf="!RenewCustomerInfo.hasError('whitespace')" style="color:red">
                          {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.STRS' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for Landmark -->
                <div class="col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">
                      {{'RAISETCKT.LAND' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" class="form-control" formControlName="landmark"
                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}" />
                      <!-- error controls -->
                      <div *ngIf="log.landmark.errors && (log.landmark.dirty || log.landmark.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.landmark.errors.required" style="color:red">
                          {{'RAISETCKT.LAND' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <!-- label for Country -->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.COUNTRY' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <select formControlName="country_id" class="form-control"
                        (change)="onChangeCountry($event.target.value)">
                        <option value="">--{{'RAISETCKT.SELECT_CON' | translate}}--</option>
                        <option *ngFor="let items of country" [value]=items.country_id>
                          {{items.country_name}}</option>
                      </select>
                      <div *ngIf="log.country_id.errors && (log.country_id.dirty || log.country_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.country_id.errors.required" style="color:red">
                          {{'RAISETCKT.COUNTRY' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for State-->
                <div class="col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.STATE' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <select formControlName="state_id" class="form-control"
                        (change)="onChangeState($event.target.value)">
                        <option value="">--{{'RAISETCKT.SELECT_STATE' | translate}}-- </option>
                        <option *ngFor="let items of states" [value]=items.state_id>
                          {{items.state_name}}</option>
                      </select>
                      <!-- error controls -->
                      <div *ngIf="log.state_id.errors && (log.state_id.dirty || log.state_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.state_id.errors.required" style="color:red">
                          {{'RAISETCKT.STATE' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <!-- label for City-->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.CITY' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <select formControlName="city_id" class="form-control"
                        (change)="onChangecity($event.target.value)">
                        <option value="">--{{'RAISETCKT.SELECT_CITY' | translate}}-- </option>
                        <option *ngFor="let items of cities" [value]=items.city_id>
                          {{items.city_name}}</option>
                      </select>
                      <div *ngIf="log.city_id.errors && (log.city_id.dirty || log.city_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.city_id.errors.required" style="color:red">
                          {{'RAISETCKT.CITY' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <!-- label for Location-->
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.LOCATION' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <select formControlName="location_id" class="form-control">
                        <option value="">--{{'RAISETCKT.SELECT_LOC' | translate}}-- </option>
                        <option *ngFor="let items of locations" [value]=items.location_id>
                          {{items.location_name}}</option>
                      </select>
                      <div *ngIf="log.location_id.errors && (log.location_id.dirty || log.location_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.location_id.errors.required" style="color:red">
                          {{'RAISETCKT.LOCATION' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4 col-sm-4">
                      {{'RAISETCKT.POSCODE' | translate}}:
                    </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" formControlName="post_code" class="form-control" name="post_code"
                        id="post_code" onKeyPress="if(this.value.length==6) return false;"
                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}" />
                      <!-- error controls -->
                      <div *ngIf="log.post_code.errors && (log.post_code.dirty || log.post_code.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.post_code.errors.required" style="color:red">
                          {{'RAISETCKT.POSCODE' | translate}}:
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                        <div *ngIf="log.post_code.errors.maxlength" style="color:red">
                          {{'RAISETCKT.POSCODE' | translate}}
                          {{'RAISETCKT.DIGI' | translate}}</div>
                        <div *ngIf="log.post_code.errors.minlength" style="color:red">
                          {{'RAISETCKT.POSCODE' | translate}}
                          {{'RAISETCKT.MUST' | translate}}
                        </div>
                        <div *ngIf="log.post_code.errors.pattern" style="color:red">
                          {{'RAISETCKT.POSCODE' | translate}}{{'USER.POSCODE' | translate}}</div>
                      </div>

                    </div>
                  </div>
                </div>
                <br>
              </div>
              <br>
              <mat-divider></mat-divider>
              <br>
              <div class="kt-form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <button class="btn btn-outline-info btn-sm btn-pill custom-btn disabledsubmit"
                        data-ktwizard-type="action-next" [disabled]="!RenewCustomerInfo.valid"
                        (click)="customer_address_validation()">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- tab for technician -->
          <ngb-tab title="Product Info" id="tab-selectbyid2">
            <ng-template ngbTabContent>
              <h2>Provide product Info</h2>
              <form id="form_body" [formGroup]="RenewProductInfo" novalidate=""
                class="ng-untouched ng-pristine ng-valid">
                <mat-divider></mat-divider>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.PRODUCT_CATEGORY' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <select formControlName="product_id" class="form-control"
                          (change)="onChangeProduct($event.target.value)" disabled>
                          <option value="">--Select product--</option>
                          <option *ngFor="let items of product" [value]=items.product_id>
                            {{items.product_name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.SUB_CATEGORY' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <select formControlName="product_sub_id" class="form-control" disabled>
                          <option value="">--Select Sub product--</option>
                          <option *ngFor="let item of subproduct" [value]=item.product_sub_id>
                            {{item.product_sub_name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">
                        {{'RAISETCKT.MODEL_NO' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <input type="text" formControlName="model_no" class="form-control" readonly />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">
                        {{'RAISETCKT.SERIAL_NO' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <input type="text" class="form-control" formControlName="serial_no" readonly />
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6" style="display:none">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">
                        {{'RAISETCKT.PREDATM' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <input type="text" class="form-control" formControlName="cust_preference_date"
                          style="width: 73%;float: left;" placeholder="{{'RAISETCKT.PREDATM' | translate}}"
                          [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">

                        <div class="input-group-append">
                          <button class="btn btn-primary" (click)="d.toggle()" type="button">
                            <i class="la la-calendar"></i>
                          </button>
                        </div>
                        <div
                          *ngIf="log3.cust_preference_date.errors && (log3.cust_preference_date.dirty || log3.cust_preference_date.touched)"
                          class="m-b-10 error">
                          <div *ngIf="log3.cust_preference_date.errors.required" style="color:red">
                            {{'RAISETCKT.PREDATM' | translate}}
                            {{'RAISETCKT.REQ' | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.QUN' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <input type="text" class="form-control" formControlName="quantity"
                          placeholder="{{'RAISETCKT.QUN' | translate}}" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <select formControlName="contract_type" (change)="onchangeContractType($event.target.value)"
                          class="form-control">
                          <option value="null">--Select Contract Type-- </option>
                          <option *ngFor="let items of contrac_type" [value]=items.amc_id>
                            {{items.amc_type}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="control-label col-md-4 col-sm-4">
                        {{'RAISETCKT.CONTRACT_PER' | translate}}:
                      </label>
                      <div class="col-sm-5 col-md-7">
                        <input type="text" class="form-control" formControlName="contract_period" readonly />
                      </div>
                      <div
                        *ngIf="log3.contract_period.errors && (log3.contract_period.dirty || log3.contract_period.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log3.contract_period.errors.required" style="color:red">
                          {{'RAISETCKT.CONPER' | translate}}
                          {{'RAISETCKT.REQ' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div class="kt-form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="button" class="btn btn-outline-info  btn-pill btn-sm custom-btn ml-2"
                          data-ktwizard-type="action-prev" (click)="tab.select('tab-selectbyid1')">{{'NEW_SUBSCRIPTION.PREVIOUS' |
                          translate}}</button>
                        <button class="btn btn-outline-info  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
                          data-ktwizard-type="action-next" [disabled]="!RenewProductInfo.valid"
                          (click)="product_validation()">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Confirm Details" id="tab-selectbyid3">
            <ng-template ngbTabContent>
              <kt-portlet-body>
                <form id="form_body" [formGroup]="RenewCustomerInfo" novalidate=""
                  class="ng-untouched ng-pristine ng-valid">
                  <div class="container" style="margin-top: 2%">
                    <div class="kt-section__content">
                      <h2>Customer Details</h2>
                      <mat-divider></mat-divider>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.TICKET_ID' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input class="form-control" formControlName="ticket_id"
                                placeholder="{{'RAISETCKT.TICKET_ID' | translate}}" maxlength="32" readonly />
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.NAME' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input class="form-control" formControlName="customer_name"
                                placeholder="{{'RAISETCKT.NAME' | translate}}" maxlength="32" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.EMAIL_ID' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input class="form-control" formControlName="email_id"
                                placeholder="{{'RAISETCKT.EMAIL_ID' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.CONTACT_NO' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" class="form-control" formControlName="contact_number"
                                placeholder="{{'RAISETCKT.CONTACT_NO' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </form>
                <h2>Product info</h2>
                <form id="form_body" [formGroup]="RenewProductInfo" novalidate=""
                  class="ng-untouched ng-pristine ng-valid">
                  <mat-divider></mat-divider>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.PRODUCT_CATEGORY' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <select formControlName="product_id" class="form-control"
                            (change)="onChangeProduct($event.target.value)" disabled>
                            <option value="null">--Select product--</option>
                            <option *ngFor="let items of product" [value]=items.product_id>
                              {{items.product_name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.SUB_CATEGORY' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <select formControlName="product_sub_id" class="form-control" disabled>
                            <option value="null">--Select Sub product--</option>
                            <option *ngFor="let item of subproduct" [value]=item.product_sub_id>
                              {{item.product_sub_name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.MODEL_NO' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <input type="text" class="form-control" formControlName="model_no"
                            placeholder="{{'RAISETCKT.MODEL_NO' | translate}}" maxlength="32" readonly />
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.CONTRACT_TYPE' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <select formControlName="contract_type" class="form-control" disabled>
                            <option value="">--Select Contract Type-- </option>
                            <option *ngFor="let items of contrac_type" [value]=items.amc_id>
                              {{items.amc_type}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div class="kt-form-actions modal-footer">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="button" class="btn btn-outline-primary  btn-pill btn-sm custom-btn ml-2"
                          data-ktwizard-type="action-prev" (click)="tab.select('tab-selectbyid2')">{{'NEW_SUBSCRIPTION.PREVIOUS' |
                          translate}}</button>
                        <button type="button" class="btn btn-outline-success  btn-pill btn-sm custom-btn ml-2"
                          (click)="renewal_ticket()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #CreateNewContract let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create New Contract </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container" style="margin-top: 2%">
      <div class="kt-section__content">
        <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
          <ngb-tab title="Customer Info" id="tab-selectbyid1">
            <ng-template ngbTabContent>
              <kt-portlet-body>
                <form id="form_body" [formGroup]="ReCustomerInfo" novalidate=""
                  class="ng-untouched ng-pristine ng-valid">
                  <div class="kt-section__content">
                    <h2>Customer info</h2>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="container" style="margin-top: 2%">
                      <div class="row">
                        <label style="margin-left:1%;">{{'RAISETCKT.SELECT_OPT' | translate}}</label>
                        <mat-radio-group aria-label="Select an option" formControlName="lable_type"
                          style="margin-left: 1%;">
                          <!--radio button-->
                          <mat-radio-button value="1" class="radio" (change)="onchangeradio($event)" checked
                            (click)="amc_ticket_reset()">
                            {{'NEW_SUBSCRIPTION.CONTACT_NO' | translate}}
                          </mat-radio-button>
                          <mat-radio-button value="2" class="radio" (change)="onchangeradio($event)"
                            (click)="amc_ticket_reset()">
                            {{'CUSTOMER.CUSID' | translate}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6" *ngIf="radiochange_value == 2 ; else elseBlock" style="width: 100%;">
                          <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <label class="control-label  ">{{'RAISETCKT.CUSID' | translate}}
                              </label>
                            </div>
                            <div class="col-lg-8 input-group">
                              <input style="margin-left: 0px;width: 50%;margin-right: 0px;" type="text"
                                formControlName="customer_code" class="form-control"
                                (change)="passcustomercode($event.target.value)" name="customer_code" id="customer_code"
                                maxlength="48" placeholder="{{'RAISETCKT.ECUSID' | translate}}" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"
                                  (click)="get_customer_contract_details(customer_code,2)">{{'RAISETCKT.GO' |
                                  translate}}</button>
                              </span>
                              <!-- error controls -->
                              <div
                                *ngIf="log1.customer_code.errors && (log1.customer_code.dirty || log1.customer_code.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log1.customer_code.errors.required" style="color:red">
                                  {{'RAISETCKT.CUSID' | translate}} {{'RAISETCKT.REQ' | translate}}
                                </div>
                                <div *ngIf="!ReCustomerInfo.hasError('whitespace')" style="color:red">
                                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.CUSID' | translate}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ng-template #elseBlock>
                          <div class="col-md-6">
                            <!-- label for contact number -->
                            <div class="row">
                              <div class="col-md-4 col-sm-4">
                                <label class="control-label ">
                                  {{'RAISETCKT.CONNUMBER' | translate}}: </label>
                              </div>
                              <div class="col-lg-8 input-group">
                                <input type="text" class="form-control" formControlName="contact_number"
                                  placeholder="{{'NEW_SUBSCRIPTION.ENTER_CONTACT' | translate}}"
                                  (change)="passcontact_no($event.target.value)" name="contact_number"
                                  [(ngModel)]='contact_number' onKeyPress="if(this.value.length==10) return false;" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-primary"
                                    (click)="get_customer_contract_details(contact_number,1)">{{'RAISETCKT.GO' |
                                    translate}}</button>
                                </span>
                                <!-- error controls -->
                              </div>
                            </div>

                            <div
                              *ngIf="log1.contact_number.errors && (log1.contact_number.dirty || log1.contact_number.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.contact_number.errors.required" style="color:red">
                                {{'RAISETCKT.CONNUMBER' | translate}}
                                {{'RAISETCKT.REQ' | translate}} </div>
                              <div *ngIf="log1.contact_number.errors.maxlength" style="color:red">
                                {{'RAISETCKT.CONNUMBER' | translate}}
                                {{'RAISETCKT.DIGI' | translate}}</div>
                              <div *ngIf="log1.contact_number.errors.minlength" style="color:red">
                                {{'RAISETCKT.CONNUMBER' | translate}}
                                {{'RAISETCKT.DIGI' | translate}}</div>
                              <div *ngIf="log1.contact_number.errors.pattern" style="color:red">
                                {{'NEW_SUBSCRIPTION.VALID' | translate}}
                                {{'RAISETCKT.CONNUMBER' | translate}}</div>
                              <!-- <div *ngIf="!ReCustomerInfo.hasError('whitespace')" style="color:red">
                                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}}  {{'RAISETCKT.CONNUMBER' | translate}}
                                </div> -->
                            </div>
                          </div>
                        </ng-template>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.CUSID' | translate}}
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" formControlName="customer_code" class="form-control"
                                placeholder="Enter {{'RAISETCKT.CUSID' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.EMAIL_ID' | translate}}
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" formControlName="email_id" class="form-control"
                                placeholder="Enter {{'RAISETCKT.EMAIL_ID' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.NAME' | translate}}: </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" formControlName="customer_name" class="form-control"
                                placeholder="Enter {{'RAISETCKT.NAME' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" class="form-control" formControlName="alternate_number"
                                placeholder="{{'NEW_SUBSCRIPTION.CONALT_NUMBER' | translate}}"
                                onKeyPress="if(this.value.length==10) return false;" />
                              <div
                                *ngIf="log1.alternate_number.errors && (log1.alternate_number.dirty || log1.alternate_number.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log1.alternate_number.errors.maxlength" style="color:red">
                                  {{'RAISETCKT.CONALTNUMBER' | translate}}
                                  {{'RAISETCKT.DIGI' | translate}}</div>
                                <div *ngIf="log1.alternate_number.errors.minlength" style="color:red">
                                  {{'RAISETCKT.CONALTNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
                                <div *ngIf="log1.alternate_number.errors.pattern" style="color:red">
                                  {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.CONNUMBER' | translate}}: </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" class="form-control" formControlName="contact_number"
                                placeholder="{{'RAISETCKT.CONNUMBER' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <h2>Address</h2>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'RAISETCKT.DOPLO' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <input type="text" class="form-control" formControlName="plot_number"
                              placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />
                            <div *ngIf="log1.plot_number.errors && (log1.plot_number.dirty || log1.plot_number.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.plot_number.errors.required" style="color:red">
                                {{'RAISETCKT.DOPLO' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                              <div *ngIf="log1.plot_number.errors.pattern" style="color:red">
                                {{'RAISETCKT.DOPLO' | translate}}
                                is invalid
                              </div>
                              <div *ngIf="!ReCustomerInfo.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.DOPLO' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.STRS' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <input type="text" class="form-control" formControlName="street"
                              placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />
                            <div *ngIf="log1.street.errors && (log1.street.dirty || log1.street.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.street.errors.required" style="color:red">
                                {{'RAISETCKT.STRS' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                              <div *ngIf="!ReCustomerInfo.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.STRS' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'RAISETCKT.LAND' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <input type="text" class="form-control" formControlName="landmark"
                              placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.COUNTRY' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <select formControlName="country_id" class="form-control"
                              (change)="onChangeCountry($event.target.value)">
                              <option value="null">--Select Country--</option>
                              <option *ngFor="let items of country" [value]=items.country_id>
                                {{items.country_name}}</option>
                            </select>
                            <div *ngIf="log1.country_id.errors && (log1.country_id.dirty || log1.country_id.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.country_id.errors.required" style="color:red">
                                {{'RAISETCKT.COUNTRY' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.STATE' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <select formControlName="state_id" class="form-control"
                              (change)="onChangeState($event.target.value)">
                              <option value="null">--Select State-- </option>
                              <option *ngFor="let items of states" [value]=items.state_id>
                                {{items.state_name}}</option>
                            </select>
                            <div *ngIf="log1.state_id.errors && (log1.state_id.dirty || log1.state_id.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.state_id.errors.required" style="color:red">
                                {{'RAISETCKT.STATE' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.CITY' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <select formControlName="city_id" class="form-control"
                              (change)="onChangecity($event.target.value)">
                              <option value="null">--Select District-- </option>
                              <option *ngFor="let items of cities" [value]=items.city_id>
                                {{items.city_name}}</option>
                            </select>
                            <div *ngIf="log1.city_id.errors && (log1.city_id.dirty || log1.city_id.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.city_id.errors.required" style="color:red">
                                {{'RAISETCKT.CITY' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.LOCATION' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <select formControlName="location_id" class="form-control">
                              <option value="null">--Select Location-- </option>
                              <option *ngFor="let items of locations" [value]=items.location_id>
                                {{items.location_name}}</option>
                            </select>
                            <div *ngIf="log1.location_id.errors && (log1.location_id.dirty || log1.location_id.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.location_id.errors.required" style="color:red">
                                {{'RAISETCKT.LOCATION' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'RAISETCKT.POSCODE' | translate}}:
                          </label>
                          <div class="col-sm-5 col-md-7">
                            <input type="text" formControlName="post_code" class="form-control" name="post_code"
                              id="post_code" onKeyPress="if(this.value.length==6) return false;"
                              placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}" />
                            <div *ngIf="log1.post_code.errors && (log1.post_code.dirty || log1.post_code.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log1.post_code.errors.required" style="color:red">
                                {{'RAISETCKT.POSCODE' | translate}}
                                {{'RAISETCKT.REQ' | translate}} </div>
                              <div *ngIf="log1.post_code.errors.maxlength" style="color:red">
                                {{'RAISETCKT.POSCODE' | translate}}
                                {{'RAISETCKT.DIGI' | translate}}</div>
                              <div *ngIf="log1.post_code.errors.minlength" style="color:red">
                                {{'RAISETCKT.POSCODE' | translate}}{{'RAISETCKT.MUST' | translate}}
                              </div>
                              <div *ngIf="log1.post_code.errors.pattern" style="color:red">
                                {{'RAISETCKT.POSCODE' | translate}}
                                {{'RAISETCKT.CONNUMBER' | translate}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="kt-form-actions">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="text-center">
                            <button class="btn btn-outline-info  btn-pill btn-sm custom-btn disabledsubmit"
                              data-ktwizard-type="action-next" (click)="customer_address_validationn()"
                              [disabled]="!ReCustomerInfo.valid">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>
          <!-- tab for technician -->
          <ngb-tab title="Product Info" id="tab-selectbyid2">
            <ng-template ngbTabContent>
              <kt-portlet-body>
                <form id="form_body" [formGroup]="ReProductInfo" novalidate=""
                  class="ng-untouched ng-pristine ng-valid">
                  <div class="kt-section__content">
                    <h2>Provide product Info</h2>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.PRODUCT_CATEGORY' | translate}}:
                          </label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <select formControlName="product_id" class="form-control"
                              (change)="onChangeProduct($event.target.value)">
                              <option value="null">--Select product--</option>
                              <option *ngFor="let items of product" [value]=items.product_id>
                                {{items.product_name}}</option>
                            </select>
                            <div *ngIf="log2.product_id.errors && (log2.product_id.dirty || log2.product_id.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log2.product_id.errors.required" style="color:red">
                                {{'RAISETCKT.PRODUCT_CATEGORY' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.SUB_CATEGORY' | translate}}:
                          </label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <!-- <div class="col-lg-6"> -->
                            <select formControlName="product_sub_id" class="form-control">
                              <option value="null">--Select Sub product--</option>
                              <option *ngFor="let item of subproduct" [value]=item.product_sub_id>
                                {{item.product_sub_name}}</option>
                            </select>
                            <div
                              *ngIf="log2.product_sub_id.errors && (log2.product_sub_id.dirty || log2.product_sub_id.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log2.product_sub_id.errors.required" style="color:red">

                                {{'RAISETCKT.SUB_CATEGORY' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'RAISETCKT.MODEL_NO' | translate}}:</label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <input type="text" formControlName="model_no" class="form-control" name="model_no"
                              id="model_no" placeholder="{{'RAISETCKT.ENTER_MODAL' | translate}}" />
                            <div *ngIf="log2.model_no.errors && (log2.model_no.dirty || log2.model_no.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log2.model_no.errors.required" style="color:red">
                                {{'RAISETCKT.MODEL_NO' | translate}} {{'RAISETCKT.REQ' | translate}}
                              </div>
                              <div *ngIf="!ReProductInfo.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.MODEL_NO' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <form [formGroup]="form">
                          <div class="row" formArrayName="serial_no">
                            <ng-container *ngFor="let section of getSections(form); let i = index" [formGroupName]="i">
                              <label class="control-label col-md-4 col-sm-4">{{'AMC.TAB_SERIAL' | translate}} {{i+1}}:
                              </label>
                              <input class="col-sm-5 col-md-5 form-control" type="text" autocomplete="off"
                                placeholder="{{'RAISETCKT.ENTER_SERIAL' | translate}}" formControlName="serial_no"
                                (change)="onchangeserial_no()">
                              <div class="form-group ml-2" *ngIf="getSections(form).length > 1">
                                <button class=" btn btn-md edit_icon1 pull-right p-0 ml-3 mt-2" style="color: red;"
                                  (click)="removeSection(i)"> <i class="fa fa-times"></i>
                                </button>
                                <!-- <input type="button" (click)="removeSection(i)"
                                  class="btn btn-outline-danger btn-md btn-error " value="Remove" name=""> -->
                              </div>
                            </ng-container>
                            <div class="">
                              <button class="btn btn-md ml-3 mt-2 edit_icon p-0" [disabled]="!AddButton"
                                (click)="addPackageRow()">
                                <i class="fa fa-plus "></i></button>
                            </div>
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-8 mb-0">
                              <p *ngIf="serial_empty" style="color:red">{{serial_empty}}</p>
                              <div *ngIf="multiserial_validation" style="color:red">{{multiserial_validation}}
                              </div>
                              <div *ngIf="serial_pattern_validation" style="color:red">{{serial_pattern_validation}}
                              </div>
                              <div *ngIf="valid_empty_serial_no" style="color:red">{{valid_empty_serial_no}}
                              </div>
                              <div *ngIf="save_validation" style="color:red">{{save_validation}}
                              </div>
                              <div *ngIf="serial_valida_success" style="color:green">
                                {{serial_valida_success}}
                              </div>
                              <div *ngIf="serial_validation " style="color:red">
                                {{serial_validation }}
                              </div>
                              <p style="color: red;">{{duplicate}} </p>
                              <p style="color: red;">{{error}} </p>
                            </div>
                          </div>
                          <div class="col-md-9 text-center ml-3">
                            <!-- <input type="button" (click)="addPackageRow()" [disabled]="!AddButton"
                              class="btn btn-md btn-outline-success ml-2 " value="Add" name=""> -->
                            <!-- <input type="button" (click)="saveserial()"  class="btn btn-outline-primary ml-2" value="Save" name=""> -->
                            <button [disabled]=!form.valid type="submit" class="btn btn-outline-primary btn-pill custom-btn"
                              (click)="saveserial(form.value.serial_no)">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'RAISETCKT.PREDATM' | translate}}:
                          </label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <input type="text" class="form-control" style="width: 73%;float: left;"
                              formControlName="cust_preference_date" placeholder="{{'RAISETCKT.PREDATM' | translate}}"
                              [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                              </button>
                            </div>
                            <div
                              *ngIf="log2.cust_preference_date.errors && (log2.cust_preference_date.dirty || log2.cust_preference_date.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log2.cust_preference_date.errors.required" style="color:red">
                                {{'RAISETCKT.PREDATM' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:
                          </label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <select formControlName="contract_type" (change)="onchangeContractType($event.target.value)"
                              class="form-control">
                              <option value="null">--Select Contract Type-- </option>
                              <option *ngFor="let items of contrac_type" [value]=items.amc_id>
                                {{items.amc_type}}</option>
                            </select>
                            <div
                              *ngIf="log2.contract_type.errors && (log2.contract_type.dirty || log2.contract_type.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log2.contract_type.errors.required" style="color:red">
                                {{'RAISETCKT.CONTRACT_TYPE' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'RAISETCKT.CONTRACT_PER' | translate}}:
                          </label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <select formControlName="contract_period" class="form-control" disabled>
                              <option value="null">--Select Contract Type-- </option>
                              <option *ngFor="let items of contrac_type" [value]=items.amc_id>
                                {{items.duration}}</option>
                            </select>
                            <div
                              *ngIf="log2.contract_period.errors && (log2.contract_period.dirty || log2.contract_period.touched)"
                              class="m-b-10 error">
                              <div *ngIf="log2.contract_period.errors.required" style="color:red">
                                {{'RAISETCKT.CONPER' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-6">
                        <div class="row">
                          <label class="control-label col-md-4 col-sm-4">
                            {{'AMC.PRIORITY' | translate}}:
                          </label>
                          <div class="col-sm-8 col-md-8 pl-0">
                            <select formControlName="priority" class="form-control">
                              <option value="null">--Select priority Type-- </option>
                              <option value="p1">p1</option>
                              <option value="p2">p2</option>
                              <option value="p3">p3</option>
                              <option value="p4">p4</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="text-center">
                      <button type="button" class="btn btn-outline-info  btn-pill btn-sm custom-btn ml-2 "
                        data-ktwizard-type="action-prev" (click)="tab.select('tab-selectbyid1')">{{'NEW_SUBSCRIPTION.PREVIOUS' |
                        translate}}</button>
                      <button class="btn btn-outline-info  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
                        data-ktwizard-type="action-next" (click)="product_validationn()"
                        [disabled]="!ReProductInfo.valid">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
                    </div>
                  </div>
                </form>
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Confirm Details" id="tab-selectbyid3">
            <ng-template ngbTabContent>
              <kt-portlet-body>
                <form id="form_body" [formGroup]="ReCustomerInfo" novalidate=""
                  class="ng-untouched ng-pristine ng-valid">
                  <div class="container" style="margin-top: 2%">
                    <div class="kt-section__content">
                      <h2>Customer Details</h2>
                      <mat-divider></mat-divider>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.TICKET_ID' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input class="form-control" formControlName="ticket_id"
                                placeholder="Enter {{'RAISETCKT.TICKET_ID' | translate}}" maxlength="32" readonly />
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.NAME' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input class="form-control" formControlName="customer_name"
                                placeholder="Enter {{'RAISETCKT.NAME' | translate}}" maxlength="32" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.EMAIL_ID' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input class="form-control" formControlName="email_id"
                                placeholder="Enter {{'RAISETCKT.EMAIL_ID' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <div class="row">
                            <label class="control-label col-md-4 col-sm-4">
                              {{'RAISETCKT.CONTACT_NO' | translate}}:
                            </label>
                            <div class="col-sm-5 col-md-7">
                              <input type="text" class="form-control" formControlName="contact_number"
                                placeholder="Enter {{'RAISETCKT.CONTACT_NO' | translate}}" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </form>
                <h2>Product info</h2>
                <form id="form_body" [formGroup]="ReProductInfo" novalidate=""
                  class="ng-untouched ng-pristine ng-valid">
                  <mat-divider></mat-divider>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.PRODUCT_CATEGORY' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <select formControlName="product_id" class="form-control"
                            (change)="onChangeProduct($event.target.value)" disabled>
                            <option value="">--Select product--</option>
                            <option *ngFor="let items of product" [value]=items.product_id>
                              {{items.product_name}}</option>

                          </select>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.SUB_CATEGORY' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <select formControlName="product_sub_id" class="form-control" disabled>
                            <option value="">--Select Sub product--</option>
                            <option *ngFor="let item of subproduct" [value]=item.product_sub_id>
                              {{item.product_sub_name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.MODEL_NO' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <input type="text" class="form-control" formControlName="model_no"
                            placeholder="Enter {{'RAISETCKT.MODEL_NO' | translate}}" maxlength="32" readonly />
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="row" *ngFor="let items of arr_serial;let i=index">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.SERIAL_NO' | translate}} {{i+1}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <input class="form-control" value={{items}} readonly />
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="control-label col-md-4 col-sm-4">
                          {{'RAISETCKT.CONTRACT_TYPE' | translate}}:
                        </label>
                        <div class="col-sm-5 col-md-7">
                          <select formControlName="contract_type" class="form-control" disabled>
                            <option value="null">--Select Contract Type-- </option>
                            <option *ngFor="let items of contrac_type" [value]=items.amc_id>
                              {{items.amc_type}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </form>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div *ngIf="api_response" style="color:red">
                  {{api_response }}
                </div>
                <div class="kt-form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="button" class="btn  btn-outline-primary btn-sm btn-pill custom-btn "
                          data-ktwizard-type="action-prev" (click)="tab.select('tab-selectbyid2')">{{'NEW_SUBSCRIPTION.PREVIOUS' |
                          translate}}</button>
                        <button class="btn btn-outline-success  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
                          [disabled]="!ReCustomerInfo.valid"
                          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                          (click)="create_new_customer()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</ng-template>