.center{
    text-align: center;
}
.disabledsubmit{
    cursor: not-allowed;
}
.contractexpired{
    color: red;
    font-weight: bold;
}
.edit_icon1{
    color: red;
}
.edit_icon{
    color: green;
    // margin-right: 0;
    // margin-left: -4px;
    //   margin-left:35px;
}