@import "sass/pages/wizard/wizard-4";

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  @media screen and (max-width:1399px) {
    .subscription-tab a.kt-wizard-v4__nav-item {
      flex: 0 0 calc(33% - 0.25rem) !important;
    }
  }
  [ng-reflect-image-changed-event="[object Event]"] {
    display: block !important;
}
[ng-reflect-image-changed-event] {
  display: none;
}
.subscription-confirm {
  width: 530px;
}
