<kt-portlet>
	<kt-portlet-body>
		<!--begin: Wizard -->
		<div #wizard class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
			<!--begin: Form Wizard Nav -->
			<div class="kt-wizard-v4__nav">
				<div class="kt-wizard-v4__nav-items">
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step"
						data-ktwizard-state="current">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								1
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									{{'NEW_SUBSCRIPTION.COMPANY_INFO' | translate}}
								</div>
								<!-- <div class="kt-wizard-v4__nav-label-desc">
									Create Custom Account
								</div> -->
							</div>
						</div>
					</a>
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								2
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									{{'NEW_SUBSCRIPTION.ADDRESS' | translate}}
								</div>
								<!-- <div class="kt-wizard-v4__nav-label-desc">
									Setup Your Address
								</div> -->

							</div>
						</div>
					</a>
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								3
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									{{'NEW_SUBSCRIPTION.CONFIRM_DETAILS' | translate}}

								</div>

							</div>
						</div>
					</a>

				</div>

				<!--end: Form Wizard Nav -->

				<div class="kt-portlet">
					<div class="kt-portlet__body kt-portlet__body--fit">
						<div class="kt-grid">
							<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
								<!--begin: Form Wizard Form-->
								<form class="kt-form" [formGroup]="companydetailsform" (ngSubmit)="submitform()"
									novalidate="" class="ng-untouched ng-pristine ng-valid">
									<!--begin: Form Wizard Step 1-->
									<div class="kt-wizard-v4__content" data-ktwizard-type="step-content"
										data-ktwizard-state="current">
										<div class="kt-heading kt-heading--md">

											{{'NEW_SUBSCRIPTION.ENTER' | translate}}
										</div>
										<div class="kt-form__section kt-form__section--first">
											<div class="kt-wizard-v4__form">
												<div class="row">
													<label class="control-label col-lg-4">
														{{'NEW_SUBSCRIPTION.NAME' | translate}} </label>
													<div class="col-lg-8">
														<input type="text" formControlName="company_name"
															class="form-control" name="com_name" id="com_name">
														<div *ngIf="log.company_name.errors && (log.company_name.dirty || log.company_name.touched)"
															class="m-b-10 error">
															<div *ngIf="log.company_name.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.NAME' | translate}}
																{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.LOGO' | translate}}</label>
													<div class="col-lg-8">
														<input type="file" class="form-control"
															(change)="fileChangeEvent($event)"
															formControlName="company_logo" name="com_logo"
															id="com_logo">
														<div *ngIf="selectedfile==false">
															<button mat-raised-button
																(click)="upload_img()">{{'NEW_SUBSCRIPTION.OK' | translate}}</button>
														</div>
														<div *ngIf="log.company_logo.errors && (log.company_logo.dirty || log.company_logo.touched)"
															class="m-b-10 error">
															<div *ngIf="log.company_logo.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.LOGO' | translate}}
																{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
														</div>
														<!-- <image-cropper *ngIf="cropped_img==true" id="img_crop"
															[imageChangedEvent]="imageChangedEvent"
															[maintainAspectRatio]="true" [aspectRatio]="2 / 1"
															[resizeToWidth]="128" format="png"
															(imageCropped)="imageCropped($event)"
															(imageLoaded)="imageLoaded()"
															(cropperReady)="cropperReady()"
															(loadImageFailed)="loadImageFailed()">
														</image-cropper> -->

														<img [src]="croppedImage" />

													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.LICENCE' | translate}}
													</label>
													<div class="col-lg-8">
														<input type="text" formControlName="no_of_license"
															class="form-control" name="no_license" id="no_license">
														<div *ngIf="log.no_of_license.errors && (log.no_of_license.dirty || log.no_of_license.touched)"
															class="m-b-10 error">
															<div *ngIf="log.no_of_license.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.LICENCE' | translate}}
																{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															<div *ngIf="log.no_of_license.errors.pattern"
																style="color:red">
																{{'NEW_SUBSCRIPTION.LICENCE' | translate}}
																{{'NEW_SUBSCRIPTION.SHO' | translate}}</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.CONNAME' | translate}}
													</label>
													<div class="col-lg-8">
														<input type="text" formControlName="contact_name"
															class="form-control" name="cont_name" id="cont_name">
														<div *ngIf="log.contact_name.errors && (log.contact_name.dirty || log.contact_name.touched)"
															class="m-b-10 error">
															<div *ngIf="log.contact_name.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.CONNAME' | translate}}
																{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															<div *ngIf="log.contact_name.errors.pattern"
																style="color:red">
																{{'NEW_SUBSCRIPTION.VALID' | translate}}
																{{'NEW_SUBSCRIPTION.CONNAME' | translate}}</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}</label>
													<div class="col-lg-8">
														<input class="form-control" formControlName="contact_number"
															type="text" id="cont_num" name="cont_num">
														<div *ngIf="log.contact_number.errors && (log.contact_number.dirty || log.contact_number.touched)"
															class="m-b-10 error">
															<div *ngIf="log.contact_number.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
																{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															<div *ngIf="log.contact_number.errors.maxlength"
																style="color:red">
																{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
																{{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
															<div *ngIf="log.contact_number.errors.minlength"
																style="color:red">
																{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
																{{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
															<div *ngIf="log.contact_number.errors.pattern"
																style="color:red">
																{{'NEW_SUBSCRIPTION.VALID' | translate}}
																{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}</label>
													<div class="col-lg-8">
														<input class="form-control" formControlName="alt_number"
															type="text" id="alt_num" name="alt_num">
														<div *ngIf="log.alt_number.errors && (log.alt_number.dirty || log.alt_number.touched)"
															class="m-b-10 error">
															<div *ngIf="log.alt_number.errors.maxlength"
																style="color:red">
																{{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}
																{{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
															<div *ngIf="log.alt_number.errors.minlength"
																style="color:red">
																{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
																{{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
															<div *ngIf="log.alt_number.errors.pattern"
																style="color:red">
																{{'NEW_SUBSCRIPTION.VALID' | translate}}{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
															</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}</label>
													<div class="col-lg-8">
														<input class="form-control" formControlName="email_address"
															type="text" id="e_address" name="e_address">
														<div *ngIf="log.email_address.errors && (log.email_address.dirty || log.email_address.touched)"
															class="m-b-10 error">
															<div *ngIf="log.email_address.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.EMAIL' | translate}}
																{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															<div *ngIf="log.email_address.errors.email"
																style="color:red">
																{{'NEW_SUBSCRIPTION.VALID' | translate}}
																{{'NEW_SUBSCRIPTION.EMAIL' | translate}}</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.SUBPACK' | translate}}</label>
													<div class="col-lg-8">
														<!-- <div class="example-container form-control" > -->
														<mat-radio-group formControlName="subscription_package">
															<mat-radio-button value="free" checked>
																{{'NEW_SUBSCRIPTION.FRTR' | translate}}
															</mat-radio-button>
															<mat-radio-button value="silver">
																{{'NEW_SUBSCRIPTION.SILVER' | translate}}
															</mat-radio-button>
															<mat-radio-button value="gold">
																{{'NEW_SUBSCRIPTION.GOLD' | translate}}
															</mat-radio-button>
															<mat-radio-button value="platinum">
																{{'NEW_SUBSCRIPTION.PLATINUM' | translate}}
															</mat-radio-button>
														</mat-radio-group>
														<div *ngIf="log.subscription_package.errors && (log.subscription_package.dirty || log.subscription_package.touched)"
															class="m-b-10 error">
															<div *ngIf="log.subscription_package.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.SELECT' | translate}}
																{{'NEW_SUBSCRIPTION.SUBPACK' | translate}}</div>
														</div>
													</div>
												</div>


												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.SUBPLAN' | translate}}</label>
													<div class="col-lg-8">
														<select formControlName="subscription_plan"
															class="form-control">
															<option *ngFor="let list_package of list_package1"
																id="list_package" value="{{list_package}}">
																{{list_package}}</option>
														</select>
														<div *ngIf="log.subscription_plan.errors && (log.subscription_plan.dirty || log.subscription_plan.touched)"
															class="m-b-10 error">
															<div *ngIf="log.subscription_plan.errors.required"
																style="color:red">
																{{'NEW_SUBSCRIPTION.SELECT' | translate}}{{'NEW_SUBSCRIPTION.SUBPLAN' | translate}}
															</div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.PACKAMT' | translate}}</label>
													<div class="col-lg-8">
														<input class="form-control" formControlName="package_amount"
															type="text" id="pack_amount" value="565" name="pack_amount"
															readonly="">
													</div>
												</div>
												<br>
											</div>
										</div>
									</div>

									`
									<!--data wizard 1 new begin-->


									<!--data wizard 1 new end-->

									<!--begin: Form Wizard Step 2-->
									<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
										<div class="kt-heading kt-heading--md"> {{'NEW_SUBSCRIPTION.ADD' | translate}}
										</div>
										<div class="kt-form__section kt-form__section--first">
											<div class="kt-wizard-v4__form">
												<div class="row">
												
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.STR' | translate}}</label>
															<input type="text" class="form-control"
																formControlName="street"
																placeholder="{{'NEW_SUBSCRIPTION.STR' | translate}}">
															<div *ngIf="log.street.errors && (log.street.dirty || log.street.touched)"
																class="m-b-10 error">
																<div *ngIf="log.street.errors.required"
																	style="color:red">
																	{{'NEW_SUBSCRIPTION.STR' | translate}}
																	{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															</div>
															<br>
														</div>
													</div>
													<div class="col-xl-6">
														<div class="form-group">
															<label class="control-label">
																{{'NEW_SUBSCRIPTION.DOPLO' | translate}}</label>
															<input type="text" class="form-control"
																formControlName="door_no"
																placeholder="{{'NEW_SUBSCRIPTION.DOPLO' | translate}}"
																maxlength="4">
															<div *ngIf="log.door_no.errors && (log.door_no.dirty || log.door_no.touched)"
																class="m-b-10 error">
																<div *ngIf="log.door_no.errors.required"
																	style="color:red">
																	{{'NEW_SUBSCRIPTION.DOPLO' | translate}}
																	{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.TOWN' | translate}}</label>
															<input type="text" class="form-control"
																formControlName="town"
																placeholder="{{'NEW_SUBSCRIPTION.TOWN' | translate}}">
															<div *ngIf="log.town.errors && (log.town.dirty || log.town.touched)"
																class="m-b-10 error">
																<div *ngIf="log.town.errors.required" style="color:red">
																	{{'NEW_SUBSCRIPTION.TOWN' | translate}}
																	{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
															</div>
														</div>
													</div>
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.LAND' | translate}}</label>
															<input type="text" class="form-control"
																formControlName="land_mark"
																placeholder="{{'NEW_SUBSCRIPTION.LAND' | translate}}">

														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.CITY' | translate}}</label>
															<input type="text" class="form-control"
																formControlName="city"
																placeholder="{{'NEW_SUBSCRIPTION.CITY' | translate}}"
																value="VIC">
															<div *ngIf="log.city.errors && (log.city.dirty || log.city.touched)"
																class="m-b-10 error">
																<div *ngIf="log.city.errors.required" style="color:red">
																	{{'NEW_SUBSCRIPTION.CITY' | translate}}{{'NEW_SUBSCRIPTION.REQ' | translate}}
																</div>
																<div *ngIf="log.city.errors.pattern" style="color:red">
																	{{'NEW_SUBSCRIPTION.VALID' | translate}}
																	{{'NEW_SUBSCRIPTION.CITY' | translate}}</div>
															</div>
														</div>
													</div>
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.COUNTRY' | translate}}</label>
															<select formControlName="country" class="form-control"
																(change)="onChangeCountry($event.target.value)">
																<option *ngIf="countryInfo == ''" value="-1">--Select
																	Country--
																</option>
																<option
																	*ngFor="let country of countryInfo; let i = index"
																	value="{{i}}">{{country.CountryName}}</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.STATE' | translate}}</label>
															<select formControlName="state"
																(change)="onChangeState($event.target.value)"
																class="form-control">
																<option *ngIf="stateInfo == ''" value="-1">--Select
																	State--</option>
																<option *ngFor="let state of stateInfo; let j = index"
																	value="{{j}}">
																	{{state.StateName}}</option>
															</select>
															<div *ngIf="log.state.errors && (log.state.dirty || log.state.touched)"
																class="m-b-10 error">
																<div *ngIf="log.state.errors.required"
																	style="color:red">
																	{{'NEW_SUBSCRIPTION.STATE' | translate}}
																	{{'NEW_SUBSCRIPTION.REQ' | translate}}
																</div>
															</div>
														</div>
													</div>
													<div class="col-xl-6">
														<div class="form-group">
															<label
																class="control-label">{{'NEW_SUBSCRIPTION.POSCODE' | translate}}</label>
															<input type="text" class="form-control"
																placeholder="{{'NEW_SUBSCRIPTION.POSCODE' | translate}}"
																pattern=[0-9]{6}
																[class.is-invalid]="log.code.invalid && log.code.touched"
																formControlName="code">


															<div *ngIf="log.code.errors && (log.code.dirty || log.code.touched)"
																class="m-b-10 error">
																<div *ngIf="log.code.errors.required" style="color:red">
																	{{'NEW_SUBSCRIPTION.POSCODE' | translate}}
																	{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>

																<div *ngIf="log.code.errors.pattern" style="color:red">
																	{{'NEW_SUBSCRIPTION.POSCODE' | translate}}
																	{{'NEW_SUBSCRIPTION.MUST' | translate}}</div>

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>




									<!--begin: Form Wizard Step 3-->
									<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
										<div class="kt-heading kt-heading--md sound-cls">
											{{'NEW_SUBSCRIPTION.DET' | translate}}</div>
										<div class="kt-form__section kt-form__section--first">
											<div class="kt-wizard-v4__form">

												<div class="row">
													<label class="control-label col-md-4 ">
														{{'NEW_SUBSCRIPTION.NAME' | translate}}:</label>
													<div class="col-lg-8 ">
														<p>{{com_pany}}</p>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.LICENCE' | translate}}:</label>
													<div class="col-lg-8">
														<p> {{no_of_license}}</p>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}:</label>
													<div class="col-lg-8">
														<p> {{con_number}} </p>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
													<div class="col-lg-8">
														<p> {{email_add}} </p>
													</div>
												</div>


												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.ADD' | translate}}:</label>
													<div class="col-lg-8">
														<p> {{full_address}} </p>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.SUBPACK' | translate}}:</label>
													<div class="col-lg-8">
														<p> {{s_package}} </p>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.SUBPLAN' | translate}}:</label>
													<div class="col-lg-8">
														<p> {{s_plan}} </p>
													</div>
												</div>
												<br>
												<div class="row">
													<label
														class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.PACKAMT' | translate}}:</label>
													<div class="col-lg-8">
														<p>{{'NEW_SUBSCRIPTION.AMT' | translate}}</p>
													</div>
												</div>
												<br>


											</div>
										</div>
									</div>
									<!--begin: Form Actions -->
									<div class="kt-form__actions">
										<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
											data-ktwizard-type="action-prev">
											{{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
										</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

										<button mat-raised-button color="primary"
											class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
											[disabled]=!companydetailsform.valid
											data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button class="btn btn-brand btn-md  kt-font-bold kt-font-transform-u"
											data-ktwizard-type="action-next"
											(click)="next_step()">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
									</div>
									<!--end: Form Actions -->
								</form>
								<!--end: Form Wizard Form-->
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>