<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.SEG' | translate}}">
        <ng-container ktPortletTools>

            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold"
                (click)="openLarge(add)">{{'USER.ADDO' | translate}} </button>
        </ng-container>
    </kt-portlet-header>
    <br>
    <kt-portlet-body>


        <br>

        <table datatable="ng" *ngIf="showTables" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">

            <thead>

                <tr>
                    <th class="kt-footer kt-container datatable-center max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
                    <th style="width: 50%;" class="kt-footer kt-container" id="cusid">
                        {{'SEG.SEGNAME'| translate}}</th>
                    <th style="width: 50%;" class="kt-footer kt-container datatable-center">
                        {{'SERVICEGROUP.CHECK' | translate}} </th>
                    <th class="kt-footer kt-container  datatable-center max-tables">
                        {{'NEW_SUBSCRIPTION.ACTION'| translate}}
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of segment;let i=index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>{{item.segment_name}} </td>
                    <td class="datatable-center"><button style="padding: 0px;" class='btn btn-base'
                            (click)="editGroup(item);getcheck(checklist);">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>

                    </td>
                    <td width="100" class="datatable-center">
                        <button style="padding:0px;" class="btn btn-base" (click)="editsegmentmodal(item,edit);">
                            <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button style="padding:0px" class="btn btn-base" (click)="detele(item.segment_id)">
                            <i class="fa fa-trash trash"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </kt-portlet-body>
</kt-portlet>

<!--Modal box to add the segment-->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">{{'SEG.ADD' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="Addsegment" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
                <div class="row">
                    <label class="control-label col-lg-4">{{'SEG.SEGNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="segment_name" maxlength="32"
                            placeholder="Enter Segment Name">
                        <div *ngIf="log.segment_name.errors && (log.segment_name.dirty || log.segment_name.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.segment_name.errors.required" style="color:red">
                                {{'SEG.SEGNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="log.segment_name.errors.pattern" style="color:red">
                                {{'SEG.SEGNAME' | translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!Addsegment.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SEG.SEGNAME' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="addsegment()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!Addsegment.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>

<!--Modal box to edit the segment-->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">{{'SEG.EDITSEG' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="EditSegment" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
                <div class="row" style="display:none">
                    <label class="control-label col-lg-4"> Segment Id</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="hidden_segment_id" formControlName="segment_id"
                            placeholder="Enter segment Id" id="hidden_segment_id" readonly="">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-lg-4">{{'SEG.SEGNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="segment_name" maxlength="32"
                            placeholder="Enter Segment Name">
                        <div *ngIf="logedit.segment_name.errors && (logedit.segment_name.dirty || logedit.segment_name.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.segment_name.errors.required" style="color:red">
                                {{'SEG.SEGNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="logedit.segment_name.errors.pattern" style="color:red">
                                {{'SEG.SEGNAME' | translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!EditSegment.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SEG.SEGNAME' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p *ngIf="error" style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="editsegment()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!EditSegment.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <!-- <br> -->
        </div>
    </div>
</ng-template>
<!-- modal box for checklist-->
<ng-template #checklist let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'SERVICEGROUP.CHECK' | translate}}</h4>
        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill header-btn"
            (click)="openlarge(add_check)">{{'SERVICEGROUP.ADD_CHECK' | translate}}
        </button>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- To Display the table -->
        <div class="table-responsive">
            <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th style="width: 20%;" class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
                        <th style="width: 20%;" class="kt-footer kt-container">{{'SERVICEGROUP.DESC' | translate}} </th>
                        <th style="width: 20%;" class="kt-footer kt-container">{{'SERVICEGROUP.TYPE' | translate}} </th>
                        <!-- <th style="width: 20%;" class="kt-footer kt-container">{{'SERVICEGROUP.DATE' | translate}} </th> -->
                        <th style="width: 20%;" class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.ACTION' | translate}} </th>
                    </tr>
                </thead>

                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of check_list; let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.description}}</td>
                        <td *ngIf="item.cat_type == 1">TEXT</td>
                        <td *ngIf="item.cat_type == 2">YES/NO</td>
                        <td *ngIf="item.cat_type == 3">DD</td>
                        <td *ngIf="item.cat_type == 4"></td>
                        <td *ngIf="item.cat_type == 5">Numeric</td>
                        <td *ngIf="item.cat_type == 6">Date Field</td>
                        <!-- <td>{{item.create_date}}</td> -->
                        <td class="datatable-center">
                            <button class="btn btn-base" data-dismiss="edit_check" data-toggle="checklist" (click)="editchecklist(item,edit_check)">
                                <i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp;
                            <i class="fa fa-trash trash" aria-hidden="true"
                                (click)="trashchecklist(item,checklist)"></i>

                        </td>
                    </tr>

                </tbody>
            </table>
            <p style="color: red;">{{error}}</p>
        </div>
    </div>

    <!-- </div> -->
</ng-template>



<!-- Modal box for add check list -->
<ng-template #add_check let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'SERVICEGROUP.ADD_CHECK' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <!-- body begin -->
    <div class="modal-body">

        <!-- begin body for portlet-->

        <!-- Form group for renewal license -->
        <form id="form_body" [formGroup]="AddCheckForm" novalidate=""
            class="custom-forms ng-untouched ng-pristine ng-valid">
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> Segment Id</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="hidden_segment_id"
                        [ngClass]="{ 'is-invalid': submitted && fc.segment_id.errors }" formControlName="segment_id"
                        id="hidden_segment_id" readonly="">

                </div>
            </div>
            <!-- <br> -->

            <div class="row">
                <label class="control-label col-lg-4">{{'SERVICEGROUP.DESC' | translate}}:</label>
                <div class="col-lg-8">
                    <textarea rows="5" cols="50" type="text" placeholder="Enter Description"
                        formControlName="description" class="form-control" [(ngModel)]="role"
                        [maxlength]="maxChars"></textarea>
                    <span class="pull-right">{{role.length}}/{{maxChars}}</span>

                    <div *ngIf="fc.description.errors && (fc.description.dirty || fc.description.touched)"
                        class="m-b-10 error">
                        <div *ngIf="fc.description.errors.required" style="color:red">
                            {{'SERVICEGROUP.DESC' | translate}} {{'RAISETCKT.REQ' |translate}}
                        </div>
                        <div *ngIf="!AddCheckForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SERVICEGROUP.DESC' | translate}}
                        </div>
                        <!-- <div *ngIf="fc.description.errors.pattern" style="color:red">
                            1024 characters only.
                        </div> -->
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-lg-4">{{'SERVICEGROUP.TYPE' | translate}}:</label>
                <div class="col-lg-8">
                    <select formControlName="cat_type" class="form-control" [(ngModel)]="question_type">
                        <option [selected]="true" disabled value="">Select Category</option>
                        <option value='1'>TEXT</option>
                        <option value='2'>Yes/No</option>
                        <option value='3'>Drop Down</option>
                        <option value='6'>Date Field</option>
                        <option value='5'>Numeric</option>

                    </select>
                    <div *ngIf="fc.cat_type.errors && (fc.cat_type.dirty || fc.cat_type.touched)" class="m-b-10 error">
                        <div *ngIf="fc.cat_type.errors.required" style="color:red">
                            {{'SERVICEGROUP.WORKREQ' | translate}}
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="question_type == '3'">
                <div class="row">
                    <label class="control-label col-lg-4">{{'SERVICEGROUP.DISPVAL' | translate}}:</label>
                    <div class="col-lg-8">

                        <input type="text" class="form-control" formControlName="display" placeholder="Display Value" />

                        <div *ngIf="fc.display.errors && (fc.display.dirty || fc.display.touched)" class="m-b-10 error">
                            <div *ngIf="fc.display.errors.required" style="color:red">
                                {{'SERVICEGROUP.DISPVAL' | translate}} {{'RAISETCKT.REQ' |translate}}
                            </div>
                            <div *ngIf="!AddCheckForm.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SERVICEGROUP.DISPVAL' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <p *ngIf="error" style="color: red;">{{error}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <!-- button for submit -->
            <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                data-ktwizard-type="action-submit" (click)="addchecklist(checklist)"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingChecklist}"
                [disabled]="!AddCheckForm.valid">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
            <br>
        </div>
    </div>
</ng-template>





<!-- Modal box for edit check list -->
<ng-template #edit_check let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'SERVICEGROUP.EDIT_CHECK' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form id="form_body" [formGroup]="UpdateCheckForm" (ngSubmit)="onSubmitcheck()" novalidate=""
            class="custom-forms ng-untouched ng-pristine ng-valid">
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> Work type Id</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="hidden_segment_id"
                        [ngClass]="{ 'is-invalid': submitted && uc.segment_id.errors }" formControlName="segment_id"
                        id="hidden_segment_id" readonly="">
                </div>
            </div>
            <!-- <br> -->
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> Service Id</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="hidden_sc_id"
                        [ngClass]="{ 'is-invalid': submitted && uc.sc_id.errors }" formControlName="sc_id"
                        id="hidden_sc_id" readonly="">
                </div>
            </div>
            <!-- <br> -->
            <div class="row">
                <label class="control-label col-lg-4">{{'SERVICEGROUP.DESC' | translate}}:</label>
                <div class="col-lg-8">
                    <textarea rows="5" cols="50" type="text" formControlName="description"
                        class="form-control"></textarea>
                    <!-- <span class="pull-right">{{role.length}}/{{maxChars}}</span> -->
                    <div *ngIf="uc.description.errors && (uc.description.dirty || uc.description.touched)"
                        class="m-b-10 error">
                        <div *ngIf="uc.description.errors.required" style="color:red">
                            {{'SERVICEGROUP.DESC' | translate}} {{'RAISETCKT.REQ' |translate}}
                        </div>
                        <div *ngIf="uc.description.errors.pattern" style="color:red">
                            512 characters only.
                        </div>
                        <div *ngIf="!UpdateCheckForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SERVICEGROUP.DESC' | translate}}
                        </div>
                    </div>

                </div>
            </div>

            <br>
            <div class="row">
                <label class="control-label col-lg-4">{{'SERVICEGROUP.TYPE' | translate}}:</label>
                <div class="col-lg-8">
                    <select formControlName="cat_type" class="form-control" [(ngModel)]="question_type">
                        <option disabled value="">Select Category</option>
                        <option value='1'>TEXT</option>
                        <option value='2'>Yes/No</option>
                        <option value='3'>Drop Down</option>
                        <option value='6'>Date Field</option>
                        <option value='5'>Numeric</option>

                    </select>
                    <div *ngIf="uc.cat_type.errors && (uc.cat_type.dirty || uc.cat_type.touched)" class="m-b-10 error">
                        <div *ngIf="uc.cat_type.errors.required" style="color:red">
                            {{'SERVICEGROUP.WORKREQ' | translate}}
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <!-- <div *ngIf="isChecked || radiochange_value == 2 ; else elseBlock"> -->
            <div *ngIf="question_type == '3'||question_type == 3">
                <div class="row">
                    <label class="control-label col-lg-4">{{'SERVICEGROUP.DISPVAL' | translate}}:</label>
                    <div class="col-lg-8">

                        <input type="text" class="form-control" formControlName="display" placeholder="Display Value" />

                        <div *ngIf="uc.display.errors && (uc.display.dirty || ucfc.display.touched)" class="m-b-10 error">
                            <div *ngIf="!UpdateCheckFormAddCheckForm.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SERVICEGROUP.DISPVAL' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
        <p style="color: red;">{{error}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <!-- button for submit -->
            <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                [disabled]="!UpdateCheckForm.valid" data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSubmit}"
                (click)="updatechecklist(checklist)">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
            <br>
        </div>
    </div>
</ng-template>