<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.WAREHOUSE' | translate}}">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)="openLarge(add_warehouse)">Add Warehouse
            </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <!-- To Display the packages -->
        <div>
            <div class="table-responsive">
                <table id="table1" datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable" width="100%">

                    <thead>
                        <!-- columns for  table -->
                        <tr>
                            <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                            <th class="kt-footer kt-container tablewidth">{{'WAREHOUSE.NAME' | translate}}</th>
                            <th class="kt-footer kt-container tablewidth">{{'WAREHOUSE.TIME' | translate}}</th>
                            <th class="kt-footer kt-container tablewidth max-tables">
                                {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- values from the api.For loop to populate the datas -->
                        <tr *ngFor="let item of warehousedetails;let i=index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>{{item.warehouse_name}}</td>
                            <td> {{item.lead_time}}</td>
                            <td class="datatable-center">
                                <!-- icons for edit and delete -->
                                <button style="padding:0px;" class="btn btn-base"
                                    (click)="openLarge(edit_package);editpackage(item)">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <button style="padding: 0px;" class="btn btn-base" (click)="trashwarehouse(item)"><i
                                        class="fa fa-trash trash" aria-hidden="true"></i></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <p style="color: red;">{{error}}</p> -->
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>



<!--Modal box to add the servicegroup details-->
<ng-template #add_warehouse let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">Add Warehouse</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Add_warehouse_form">
            <div class="form-wizard">
                <div class="form-body">
                    <div class="row">
                        <!-- label for Company Name-->
                        <label class="control-label col-lg-5"> {{'WAREHOUSE.NAME' | translate}}:</label>
                        <div class="col-lg-7">
                            <input placeholder="Enter Warehouse" type="text" class="form-control" name="package_name"
                                formControlName="warehouse_name" id="warehouse_name">
                            <div *ngIf="f.warehouse_name.errors && (f.warehouse_name.dirty || f.warehouse_name.touched)"
                                class="m-b-10 error">
                                <div *ngIf="f.warehouse_name.errors.required" style="color:red">
                                    {{'WAREHOUSE.NAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                </div>
                                <div *ngIf="!Add_warehouse_form.hasError('whitespace')" style="color:red">
                                    {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                    {{'WAREHOUSE.NAME' | translate}}
                                  </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- label for Subscription-->
                        <label class="control-label col-lg-5">{{'WAREHOUSE.TIME' | translate}}:</label>
                        <div class="col-lg-7">
                            <input placeholder="Enter Leadtime" (keypress)="numberOnly($event)" maxlength="2" class="form-control" name="package_name"
                                formControlName="lead_time" id="lead_time">
                            <div *ngIf="f.lead_time.errors && (f.lead_time.dirty || f.lead_time.touched)"
                                class="m-b-10 error">
                                <div *ngIf="f.lead_time.errors.required" style="color:red">
                                    {{'WAREHOUSE.TIME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                </div>
                                <div *ngIf="f.lead_time.errors.pattern" style="color:red">
                                    {{'WAREHOUSE.TIME' | translate}} {{'AMC.AD_DURATIONPATTERNS' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <p style="color: red;">{{error}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" (click)="addwarehouse(warehousename,leadtime)"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
                class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                data-ktwizard-type="action-submit"
                [disabled]=!Add_warehouse_form.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>
    </div>
</ng-template>


<!--Modal box to edit the warehouse details-->
<ng-template #edit_package let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'WAREHOUSE.EDIT_WAREHOUSE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <kt-portlet-body>
            <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
                [formGroup]="Edit_warehouse_form">
                <div class="form-wizard">
                    <div class="form-body">
                        <!-- empty row -->
                        <div class="row" style="display:none">
                            <!-- label for CompanyID-->
                            <label class="control-label col-lg-4"> warehouse Id</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="hidden_companyid"
                                    formControlName="warehouse_id" id="hidden_companyid" readonly="">
                            </div>
                        </div>
                        <div class="row">
                            <!-- label for Company Name-->
                            <label class="control-label col-lg-5"> {{'WAREHOUSE.NAME' | translate}}:</label>
                            <div class="col-lg-7">
                                <input placeholder="Enter WareHouse" type="text" class="form-control"
                                    name="package_name" formControlName="warehouse_name" id="warehouse_name">
                                <div *ngIf="e.warehouse_name.errors && (e.warehouse_name.dirty || e.warehouse_name.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="e.warehouse_name.errors.required" style="color:red">
                                        {{'WAREHOUSE.NAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                    </div>
                                    <div *ngIf="!Edit_warehouse_form.hasError('whitespace')" style="color:red">
                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                        {{'WAREHOUSE.NAME' | translate}}
                                      </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!-- label for Subscription-->
                            <label class="control-label col-lg-5">{{'WAREHOUSE.TIME' | translate}}:</label>
                            <div class="col-lg-7">
                                <input placeholder="Enter Leadtime" (keypress)="numberOnly($event)" maxlength="2" class="form-control"
                                    name="package_name" formControlName="lead_time" id="lead_time">
                                <div *ngIf="e.lead_time.errors && (e.lead_time.dirty || e.lead_time.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="e.lead_time.errors.required" style="color:red">
                                        {{'WAREHOUSE.TIME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                    </div>
                                    <div *ngIf="e.lead_time.errors.pattern" style="color:red">
                                        {{'WAREHOUSE.TIME' | translate}} {{'AMC.AD_DURATIONPATTERNS' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p style="color: red;">{{error}}</p>
        </kt-portlet-body>
        <!-- end body for portlet-->
    </div>
    <div class="modal-footer">
        <!-- form actions begin -->
        <div class="form-actions" class="text-center">
            <div class="row">
                <!-- column for submit button -->
                <div class="col-md-12">
                    <button type="submit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
                        [disabled]="!Edit_warehouse_form.valid" (click)="editwarehouse(edit_data)"
                        class="btn btn-outline-success btn-pill custom-btn btn-sm disabledsubmit">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
                </div>
            </div>
        </div>
        <!-- form actions end -->
    </div>
</ng-template>