
<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header [title]="'Manage Spare Master'">
        <!--heading for portlet-->
     
    </kt-portlet-header>
    <!-- portlet body begins -->
    <kt-portlet-body>
        <div class="container" style="margin-top: 2%">
            <!-- begin form -->

            <div class="row">
            
                <!-- column for Add button -->
                <div class="col-md-5" style="display:none">
                   
                </div>
                <div class="col-md-2" >
                    <button class="btn btn-default btn-outline " (click)="openLarge(bulksparemaster)"><i class="fa fa-upload" aria-hidden="true"></i>Bulk
                        Upload</button>
                </div>
                   <!-- column for Add button -->
                <div class="col-md-5 ">
                    <!-- modal box for add -->
                    <button class="btn btn-info pull-right " (click)="openLarge(add_spare)">ADD Spare
                    </button>
                    <br>
                </div>
            </div>

        </div>

        <br>
        <!-- To Display the spares -->
        <div >
            <table class="table table-striped table-bordered table-sm row-border hover datatable" >
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Warehouse Location</th>
                    <th>Sub product</th>
                    <th>Quantity  Purchased</th>
                    <th>Quantity Used</th>
                    <th>Spare image </th>
                    <th>Spare Name</th>
                    <th>Purchase</th>
                    <th>Expire</th>
                    <th>Action</th>
                  </tr>
                    <!-- columns for  table -->
                   
                </thead>

                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of sparemasterdetails; let i=index">
                        <td style="width: 10%;">{{i+1}}</td>
                        <td style="width: 10%;">{{item.warehouse_location.warehouse_name}}</td>
                     
                        <td style="width: 10%;">{{item.sub_product.product_sub_name}} </td>
                        <td style="width: 10%;">{{item.quantity_purchased}}</td>
                        <td style="width: 10%;">{{item.quantity_used}}</td>
                     
                        <td style="width: 10%;">{{item.spare_image}}</td>
                        <td style="width: 10%;">{{item.spare_name}}</td>
                        <td style="width: 10%;">{{item.purchased_date}}</td>
                        <td style="width: 10%;">{{item.expiry_date}}</td>
                        <td >
                            <!-- icons for edit and delete -->
                            <button class="btn btn-base" (click)="openLarge(edit_spare);editspare(items)">
                                <i class="fa fa-edit" style="font-size:21px;color:#5d78ff;margin-left: -9px;"
                                    aria-hidden="true"></i></button>&nbsp;
                                    <button class="btn btn-base">
                                        <i class="fa fa-trash" (click)="editspare(items);trashspare(items)" style="font-size:21px;color:#5d78ff"
                                            aria-hidden="true"></i></button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>


<!--Modal box to add the spare details-->
<ng-template #add_spare let-c="close" let-d="dismiss">
    <div class="modal-header">
      <!-- title for renew -->
      <h4 class="modal-title">Add Spare</h4>
      <!-- icon for close -->
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    <!-- body begin -->
    <div class="modal-body">
      <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
        <!-- begin body for portlet-->
        <!-- <kt-portlet-body> -->
          <div class="kt-section">
            <!-- Form group for renewal license -->
            <form id="form_body" [formGroup]="Addsparemaster" (ngSubmit)="addsubmit()" novalidate=""
            class="ng-untouched ng-pristine ng-valid">

            <div class="row">
                <!-- label for package plan -->
                <label class="control-label col-lg-4"> Spare Code </label>
                <div class="col-lg-8">
                    <input placeholder="Enter Spare Code" type="text" class="form-control" formControlName="spare_code">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <!-- label for from range user -->
                <label class="control-label col-lg-4"> Spare Name </label>
                <div class="col-lg-8">
                    <!-- numbers only -->
                    <input placeholder="Enter Spare" type="text" class="form-control" formControlName="spare_name">
                </div>
            </div>
            <br>
            <div class="row">
                <!-- label for to range user -->
                <label class="control-label col-lg-4"> Description </label>
                <div class="col-lg-8">
                    <!-- numbers only -->
                    <textarea placeholder="Enter Description" type="text" class="form-control" formControlName="spare_desc"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- label for company logo -->
                <label class="control-label col-lg-4">Image</label>
                <div class="col-lg-8">
                  <!-- browse logo -->
                  <input  type="file" class="form-control" (change)="fileChangeEvent($event)"
                    formControlName="spare_image" name="spare_image" id="spare_image">
                  <!-- after select logo shown button -->
                  <div *ngIf="selectedfile==false">
                    <button mat-raised-button
                      (click)="upload_img()">{{'NEW_SUBSCRIPTION.OK' | translate}}</button>
                  </div>
              

                  <!-- image cropper -->
                  <!-- <image-cropper *ngIf="cropped_img==true" id="img_crop" [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [resizeToWidth]="128" format="png"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                  </image-cropper> -->
                  <!-- display image -->
                  <img [src]="croppedImage" />
                </div>
              </div>
              <br>
            <div class="row">
                <!-- label for license cost -->
                <label class="control-label col-lg-4"> Product </label>
                <div class="col-lg-8">
        
                    <select class="form-control"
                    formControlName="product_id"
                    name="product_id"
                    id="product_id">
                    <option value="" selected="empty"
                            disabled="">--Select 
                            Product--
                    </option>

                    <option *ngFor="let items of product_details"
                            [value]=items.product_id >
                            {{items.product_name}}
                    </option>
            </select>
                </div>
            </div>
            <br>

            <br>
            <div class="row">
                <div class="control-label col-lg-4">
                    <!-- label for discount percent -->
                    <label>Subproduct  :</label>
                </div>
                <div class="col-lg-8">
                    <div>
                        <select class="form-control"
                        formControlName="product_sub_id"
                        name="product_sub_id"
                        id="product_sub_id">
                        <option value="" selected="empty"
                                disabled="">--Select Subproduct--
                        </option>
    
                        <option *ngFor="let items of subproduct_details"
                                [value]=items.product_sub_id>
                                {{items.product_sub_name}}
                        </option>
                </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="control-label col-lg-4">
                    <!-- label for discount price -->
                    <label>Warehouse Location:</label>
                  
                </div>
                <div class="col-lg-8">
                    <div>
                        <select class="form-control"
                        formControlName="warehouse_id"
                        name="warehouse_id"
                        id="warehouse_id">
                        <option value="" selected="empty"
                                disabled="">--Select
                               Warehouse--
                        </option>
    
                        <option *ngFor="let items of warehousedetails"
                                [value]=items.warehouse_id>
                                {{items.warehouse_name}}
                        </option>
                </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="control-label col-lg-4">
                    <label>Purchased Quantity:</label>
                    <!--Label for totla price-->
                </div>
                <div class="col-lg-8">

                    <div>
                        <!-- readonly  based  discount percentage and also license -->
                        <input placeholder="Enter Purchased Quantity" type="text" formControlName="quantity_purchased" class="form-control"
                            numberOnly  name="quantity_purchased" id="quantity_purchased">
                    </div>



                </div>
            </div>
            <br>
            <div class="row">
                <div class="control-label col-lg-4">
                    <label>Used Quantity:</label>
                    <!--Label for totla price-->
                </div>
                <div class="col-lg-8">

                    <div>
                        <!-- readonly  based  discount percentage and also license -->
                        <input placeholder="Enter Used Quantity" type="text" formControlName="quantity_used" class="form-control"
                            numberOnly  name="quantity_used" id="quantity_used">
                    </div>



                </div>
            </div>
            <br>
            <div class="row" >
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4">Purchase Date:</label>
                <div class="col-lg-8">
                    <input  placeholder="Enter Purchase Date" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" formControlName="purchased_date" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="d.toggle()" type="button">
                        <i class="la la-calendar"></i>
                      </button>
                    </div>
                    <!-- <input type="text" class="form-control" name="hidden_purchased_date"  formControlName="purchased_date"
                        id="hidden_purchased_date" readonly=""> -->
                </div>
            </div>
            <br>
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> Expire Date </label>
                <div class="col-lg-8">
                    
                    <input type="text" placeholder="Enter Expire Date" class="form-control" name="hidden_expire_date" formControlName="expiry_date"
                        id="hidden_expire_date" readonly="">
                </div>
            </div>
            <br>
            <div class="text-center">
                <!-- button for submit -->
                <button mat-raised-button color="primary" type="button"
                    class="btn btn-success btn-md kt-font-bold kt-font-transform-u pull-right"
                    (click)="addsparemaster(myInput)"
                    data-ktwizard-type="action-submit">Submit</button>
                <br>
            </div>
          
        </form>
            <!-- end form group -->
          </div>
          <div class="kt-separator kt-separator--dashed"></div>
  
  
        <!-- </kt-portlet-body> -->
        <!-- end body for portlet-->
      <!-- </kt-portlet> -->
    </div>
  </ng-template>


<!-- modal box for edit the spare details -->
<ng-template #edit_spare let-c="close" let-d="dismiss">
    <div class="modal-header">
      <!-- title for renew -->
      <h4 class="modal-title">Add Spare</h4>
      <!-- icon for close -->
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    <!-- body begin -->
    <div class="modal-body">
      <kt-portlet [class]="'kt-portlet--height-fluid'">
        <!-- begin body for portlet-->
        <kt-portlet-body>
          <div class="kt-section">
            <!-- Form group for renewal license -->
          
            <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Editsparemaster" (ngSubmit)="editsubmit()">
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> Spare id </label>
                <div class="col-lg-8">
                    
                    <input type="text" class="form-control" name="hidden_spare_id" formControlName="spare_id"
                        id="hidden_spare_id" readonly="">
                </div>
            </div>
            <div class="row">
                <!-- label for package plan -->
                <label class="control-label col-lg-4"> Spare Code </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="spare_code">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <!-- label for from range user -->
                <label class="control-label col-lg-4"> Spare Name </label>
                <div class="col-lg-8">
                    <!-- numbers only -->
                    <input type="text" class="form-control" formControlName="spare_name">
                </div>
            </div>
            <br>
            <div class="row">
                <!-- label for to range user -->
                <label class="control-label col-lg-4"> Description </label>
                <div class="col-lg-8">
                    <!-- numbers only -->
                    <textarea type="text" class="form-control" formControlName="spare_desc"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- label for company logo -->
                <label class="control-label col-lg-4">Image</label>
                <div class="col-lg-8">
                  <!-- browse logo -->
                  <input type="file" class="form-control" (change)="fileChangeEvent($event)"
                    formControlName="spare_image" name="spare_image" id="spare_image">
                  <!-- after select logo shown button -->
                  <div *ngIf="selectedfile==false">
                    <button mat-raised-button
                      (click)="upload_img()">{{'NEW_SUBSCRIPTION.OK' | translate}}</button>
                  </div>
              

                  <!-- image cropper -->
                  <!-- <image-cropper *ngIf="cropped_img==true" id="img_crop" [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [resizeToWidth]="128" format="png"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                  </image-cropper> -->
                  <!-- display image -->
                  <img [src]="croppedImage" />
                </div>
              </div>
              <br>
            <div class="row">
                <!-- label for license cost -->
                <label class="control-label col-lg-4"> Product </label>
                <div class="col-lg-8">
        
                    <select class="form-control"
                    formControlName="product_id"
                    name="product_id"
                    id="product_id">
                    <option value="" selected="empty"
                            disabled="">Select your
                            product name
                    </option>

                    <option *ngFor="let items of product_details"
                            [value]=items.product_id >
                            {{items.product_name}}
                    </option>
            </select>
                </div>
            </div>
            <br>

            <br>
            <div class="row">
                <div class="control-label col-lg-4">
                    <!-- label for discount percent -->
                    <label>Subproduct  :</label>
                </div>
                <div class="col-lg-8">
                    <div>
                        <select class="form-control"
                        formControlName="product_sub_id"
                        name="product_sub_id"
                        id="product_sub_id">
                        <option value="" selected="empty"
                                disabled="">Select your
                                subproduct name
                        </option>
    
                        <option *ngFor="let items of subproduct_details"
                                [value]=items.product_sub_id>
                                {{items.product_sub_name}}
                        </option>
                </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="control-label col-lg-4">
                    <!-- label for discount price -->
                    <label>Warehouse Location:</label>
                  
                </div>
                <div class="col-lg-8">
                    <div>
                        <select class="form-control"
                        formControlName="warehouse_id"
                        name="warehouse_id"
                        id="warehouse_id">
                        <option value="" selected="empty"
                                disabled="">Select your
                               warehouse place
                        </option>
    
                        <option *ngFor="let items of warehousedetails"
                                [value]=items.warehouse_id>
                                {{items.warehouse_name}}
                        </option>
                </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="control-label col-lg-4">
                    <label>Purchased Quantity:</label>
                    <!--Label for totla price-->
                </div>
                <div class="col-lg-8">

                    <div>
                        <!-- readonly  based  discount percentage and also license -->
                        <input type="text" formControlName="quantity_purchased" class="form-control"
                            numberOnly  name="quantity_purchased" id="quantity_purchased">
                    </div>



                </div>
            </div>
            <br>
            <div class="row">
                <div class="control-label col-lg-4">
                    <label>Used Quantity:</label>
                    <!--Label for totla price-->
                </div>
                <div class="col-lg-8">

                    <div>
                        <!-- readonly  based  discount percentage and also license -->
                        <input type="text" formControlName="quantity_used" class="form-control"
                            numberOnly  name="quantity_used" id="quantity_used">
                    </div>



                </div>
            </div>
            <br>
            <div class="row" >
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> purchase date</label>
                <div class="col-lg-8">
                    <input class="form-control date-pickr" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" formControlName="purchased_date" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="d.toggle()" type="button">
                        <i class="la la-calendar"></i>
                      </button>
                    </div>
                    <!-- <input type="text" class="form-control" name="hidden_purchased_date"  formControlName="purchased_date"
                        id="hidden_purchased_date" readonly=""> -->
                </div>
            </div>
            <br>
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-4"> Expire date </label>
                <div class="col-lg-8">
                    
                    <input type="text" class="form-control" name="hidden_expire_date" formControlName="expiry_date"
                        id="hidden_expire_date" readonly="">
                </div>
            </div>
            <br>
            <div class="text-center">
                <!-- button for submit -->
                <button mat-raised-button color="primary" type="button"
                    class="btn btn-success btn-md kt-font-bold kt-font-transform-u"
                    (click)="editsparemaster(myInput)"
                    data-ktwizard-type="action-submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
            </div>
          
        </form>
            <!-- end form group -->
          </div>
          <div class="kt-separator kt-separator--dashed"></div>
  
  
        </kt-portlet-body>
        <!-- end body for portlet-->
      </kt-portlet>
    </div>
  </ng-template>

  <ng-template #bulksparemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Upload Product list</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            
        <div class="row">
            <div class="col-sm-3 text-center">
                <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
                    href="assets/sample_templates/ProductCategory.xlsx">Sample
                    Template</a>

            </div>
            <div class="col-sm-9">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="input-group input-large">
                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn default btn-file">
                            <span class="fileinput-new" id="span-button"> Select file </span>

                            <input type="hidden" value="" name="file-upload" >
                            <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)" > </span>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary"(click)="filesubmit(myInput)"><i class="fa fa-upload" aria-hidden="true"></i>Upload</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">cancel</button>

    </div>

</ng-template>