i.fa.fa-trash{
	display: inline-block;
    margin-left: 45px;
    margin-top: -28px !important;
    float: left !important;
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    /* border-collapse: separate; */
    border-spacing: 0;
}
i.fa.fa-edit{
	display: inline-block;
	margin-left:-9px;
}
.date-pickrs{
    display: inline-block;
    width: 88%;
}