<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MANAGECONT.TITLE' | translate}}">
        <!--heading for portlet-->
    </kt-portlet-header>
    <!-- begin body for portlet-->
    <kt-portlet-body>
        <div class="kt-section__content">
            <div>
                <table  datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <!-- columns for  table -->
                        <tr>
                            <th style="width: 10%;" class="kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                            </th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.CUSID'|translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.TCTID'|translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.PROCAT' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.PROMODEL' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.SERIALNO' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.CONTYPE' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.MODE' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'MANAGECONT.CONAMT' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of contract_data; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td><a class="button"
                                    (click)="customerDetails(items.customer_id,customer_details);" data-placement="bottom" ngbTooltip="View Details">
                                    {{items.customer_id}}</a> </td>

                                    <td > <p *ngIf="items.ticket_id == null||items.ticket_id == '';else">
                                        -
                                    </p>
                                    <a class="button" data-placement="bottom" ngbTooltip="View Details" (click)="ticketDetails(items.ticket_id,ticket_details)">
                                        {{items.ticket_id}}</a>
                                    </td>

                                    <!-- <td *ngIf="items.ticket_id == null||items.ticket_id == ''">-</td> -->
                            <!-- <td *ngIf="items.ticket_id != null||items.ticket_id != ''">
                                <a class="button" data-placement="bottom" ngbTooltip="View Details" (click)="ticketDetails(items.ticket_id,ticket_details)">
                                    {{items.ticket_id}}</a>
                            </td> -->
                            <td>{{items.product}}</td>
                            <td>{{items.model_no}}</td>
                            <td>{{items.serial_no}}</td>
                            <td>{{items.contract_type}}</td>                            
                            <td> <p *ngIf="items.mode_of_payment == null;else">
                                -
                            </p>
                            {{items.mode_of_payment}}
                            </td>
                            <!-- <td *ngIf="items.mode_of_payment !=null">{{items.mode_of_payment}}</td>
                            <td *ngIf="items.mode_of_payment == null">-</td> -->                          
                            <td> <p *ngIf="items.contract_ammount == null;else">
                                -
                            </p>
                            {{items.contract_ammount}}
                            </td>                           
                            <!-- <td>{{items.contract_ammount}}</td> -->
                            <td class="datatable-center">
                                <a data-placement="bottom" ngbTooltip="Accept Contract" (click)="contractApprove(items.contract_id)">
                                    <i class="far fa-check-circle icon-green" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #customer_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'MANAGECONT.DETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                            for="inputEmail3">{{'CUSTOMER.CUSID' | translate}}:</label>
                        <div class="col-sm-7 control-label" style="float: right;">{{customer_data.customer_code}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                            for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
                        <div class="col-sm-7 control-label" style="float: right;">{{customer_data.customer_name}}</div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label" for="inputEmail3">{{'CUSTOMER.CONNUM' | translate}}:</label>
                        <div class="col-sm-7 control-label" style="float: right;">{{customer_data.contact_number}}</div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label"
                            for="inputEmail3">{{'CUSTOMER.ALTCONNUMBER' | translate}}:</label>
                        <div class="col-sm-7 control-label" style="float: right;">{{customer_data.alternate_number}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                            for="inputPassword3">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
                        <div class="col-sm-7 control-label" style="float: right;">{{customer_data.email_id}}</div>
                    </div>
                </form>
            </div>
        </ng-template>
        <ng-template #ticket_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                            for="inputEmail3">{{'RAISETCKT.TICKET_ID' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.ticket_id}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                            for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.customer_code}}</div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label"
                            for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.customer_name}}</div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label"
                            for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.priority}}</div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label"
                            for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.contract_type}}</div>
                    </div>
                    <div class="form-group">
                        <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                            for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.model}}</div>
                    </div>
                    <div class="form-group">
                        <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                            for="inputPassword3">{{'CUSTOMER.SELNO' | translate}}:</label>
                        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.serial_number}}</div>
                    </div>

                </form>
            </div>
        </ng-template>
    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>