<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'TRAININGSCORE.CALLREPORT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>
        <form [formGroup]="filterCall">
            <!-- <div class="row"> -->

                <!-- <div class="col-md-7"></div> -->
                <!-- <div class="col-md-5 ml-auto align_right"> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col-lg-12 ml-2 pull-right"> -->
                            <div class="row">

                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-6">
                                    <div class="row pull-right">
                                        <div class="col-lg-6 ml-auto">
                                    <select formControlName="service_id" #myTech class="form-control">
                                        <option value="">ALL Services</option>
                                        <option *ngFor="let as_data of service_group" value="{{as_data.work_type_id}}">
                                            {{as_data.work_type}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 mt-1">
                                    <!-- <div class="col-md-3"> -->
                                    <button type="button" class="btn btn-outline-success   btn-pill custom-btn "
                                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingGo}"
                                        (click)="filterService()">{{'RAISETCKT.GO' | translate}}</button>
                
                                </div>
                                <div class="col-lg-2 p-0 mt-1">
                                        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill"
                                        (click)="exportAsXLSX()">
                                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                                </div>
                                </div>
                            </div>
                                <!-- <div class="col-lg-2"> -->

                                <!-- </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="col-md-6">
                    <div class="col-md-3">
                        <select formControlName="service_id" #myTech class="form-control">
                            <option value="">--ALL--</option>
                            <option *ngFor="let as_data of service_group" value="{{as_data.work_type_id}}">
                                {{as_data.work_type}}</option>

                        </select>
                        <button type="button" class="btn btn-primary"
                            (click)="filterService()">{{'RAISETCKT.GO' | translate}}</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right"
                            (click)="exportAsXLSX()">
                            {{'TRAININGSCORE.EXCEL' | translate}}</button>
                    </div>
                </div> -->
            <!-- </div> -->

        </form>
        <br>

        <div class="kt-section__content">
            <div>
                <table datatable [dtOptions]="dtOptions" *ngIf="ShowTable"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <!-- columns for  table -->
                        <tr>
                    
                            <th style="width: 10%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.SERVICEGROUP'|translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.CBO'|translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.BOC' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.CURRLOGCALL' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.CLOSECALL' | translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.BOPEN' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.COPEN' | translate}}</th>
                            <th style="width: 9%;" class="kt-footer kt-container ">
                                {{'TRAININGSCORE.CFCALL' | translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of call_report; let i = index">
                            <!-- <td class="datatable-center">{{i+1}}</td> -->
                            <td>{{items.service_group}}</td>
                            <td>{{items.Calls_bo_from_previous_week}}
                            </td>
                            <td>{{items.bo_calls_closed_this_week}} </td>
                            <td>{{items.current_week_call}}</td>
                            <td>
                                {{items.current_week_closed}}
                            </td>
                            <td>{{items.bo_calls_open_for_this_week}}</td>
                            <td>{{items.current_week_open_calls}}</td>
                            <td>{{items.calls_co}}</td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr style="color: darkseagreen;" *ngFor="let items of total; let i = index">
                            <!-- <th colspan="4" style="text-align:right">Total:</th> -->

                            <td>{{items.service_group}}</td>
                            <td>{{items.Calls_bo_from_previous_week}}
                            </td>
                            <td>{{items.bo_calls_closed_this_week}} </td>
                            <td>{{items.current_week_call}}</td>
                            <td>
                                {{items.current_week_closed}}
                            </td>
                            <td>{{items.bo_calls_open_for_this_week}}</td>
                            <td>{{items.current_week_open_calls}}</td>
                            <td>{{items.calls_co}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <ng-template #tech_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                            for="inputEmail3">{{'REIM.TECHID' | translate}}</label>
                        <div class="col-sm-6 control-label" style="float: right;">{{technician_details.technician_code}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                            for="inputPassword3">{{'IMPRESTSPARE.NAME' | translate}}</label>
                        <div class="col-sm-6 control-label" style="float: right;text-transform: capitalize;">
                            {{technician_details.full_name}}</div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label" for="inputPassword3">{{'USER.SKILL' | translate}}</label>
                        <div class="col-sm-6 control-label" style="float: right;">{{technician_details.skill_level}}
                        </div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label" for="inputEmail3">{{'RAISETCKT.CONNUMBER' |
                            translate}}</label>
                        <div class="col-sm-6 control-label" style="float: right;">{{technician_details.contact_number}}
                        </div>
                    </div>
                    <div class="form-group"><label style="text-align: right;font-weight: bold;"
                            class="col-sm-5 control-label" for="inputEmail3">{{'RAISETCKT.LOCATION' |
                            translate}}</label>
                        <div class="col-sm-6 control-label" style="float: right;">{{technician_details.location}}</div>
                    </div>
                    <div class="form-group">
                        <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                            for="inputPassword3">{{'RAISETCKT.PRODUCT' | translate}} </label>
                        <div class="col-sm-6 control-label" style="float: right;">{{technician_details.product}}</div>
                    </div>
                    <div class="form-group">
                        <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                            for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' | translate}}</label>
                        <div class="col-sm-6 control-label" style="float: right;">{{technician_details.sub_product}}
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>