<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.APP' | translate}}">
        <ng-container ktPortletTools>

            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold"
                (click)="openLarge(add)">{{'USER.ADDO' | translate}} </button>
        </ng-container>
    </kt-portlet-header>
    <br>
    <kt-portlet-body>


        <br>

        <table datatable="ng" *ngIf="showTables" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">

            <thead>

                <tr>
                    <th class="kt-footer kt-container datatable-center max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        {{'APP.APPNAME'| translate}}</th>
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        {{'SEG.SEGNAME'| translate}}</th>
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        {{'RAISETCKT.PRIORITY'| translate}}</th>
                    <th class="kt-footer kt-container  datatable-center max-tables">{{'NEW_SUBSCRIPTION.ACTION'|
                        translate}}
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of application;let i=index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>{{item.application_name}} </td>
                    <td>{{item.segment.segment_name}} </td>
                    <td>{{item.priority}} </td>
                    <td width="100" class="datatable-center">
                        <button style="padding:0px;" class="btn btn-base" (click)="editapplicationmodal(item,edit);">
                            <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button style="padding:0px" class="btn btn-base" (click)="detele(item.application_id)">
                            <i class="fa fa-trash trash"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </kt-portlet-body>
</kt-portlet>
<!--Modal box to add the segment-->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">{{'APP.ADDAPP' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="AddApplication" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="row">
                    <label class="control-label col-lg-4">{{'SEG.SEGNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="segment_id" name="segment_id" id="segment_id">
                            <option value="null">Select Segment</option>
                            <option *ngFor="let items of segment; let i=index" [value]=items.segment_id>
                                {{items.segment_name}}
                            </option>
                        </select>
                        <div *ngIf="log.segment_id.errors && (log.segment_id.dirty || log.segment_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.segment_id.errors.required" style="color:red">
                            {{'SEG.SEGNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                       
                    </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'APP.APPNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="application_name"  maxlength="32"
                            placeholder="Enter Application Name">
                        <div *ngIf="log.application_name.errors && (log.application_name.dirty || log.application_name.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.application_name.errors.required" style="color:red">
                                {{'APP.APPNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="log.application_name.errors.pattern" style="color:red">
                                {{'APP.APPNAME' | translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                               </div>
                            <div *ngIf="!AddApplication.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'APP.APPNAME' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row">
                        <label class="control-label col-lg-4">{{'RAISETCKT.PRIORITY' | translate}} :</label>

                        <div class="col-lg-8">
                            <select class="form-control" formControlName="priority" name="priority" id="priority">
                                <option value="null">Select Priority</option>
                                <option *ngFor="let items of prioritys " [value]=items.priority_id>
                                    {{items.priority_name}}</option>
                            </select>
                            <div *ngIf="log.priority.errors && (log.priority.dirty || log.priority.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.priority.errors.required" style="color:red">
                                {{'RAISETCKT.PRIORITY' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                           
                        </div>
                        </div>
                    </div>

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="addapplication()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!AddApplication.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>
<!--Modal box to edit the segment-->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
       
        <h4 class="modal-title">{{'APP.EDITAPP' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="EditApplication" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="row" style="display:none">
                    <label class="control-label col-lg-4"> Application Id</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="hidden_application_id" formControlName="application_id"
                            placeholder="Enter application_id" id="hidden_application_id" readonly="">
                    </div>
                </div>
              
                <div class="row">
                    <label class="control-label col-lg-4">{{'SEG.SEGNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="segment_id" name="segment_id" id="segment_id">
                            <option value="">Select Segment</option>
                            <option *ngFor="let items of segment; let i=index" [value]=items.segment_id>
                                {{items.segment_name}}
                            </option>
                        </select>
                        <div *ngIf="logedit.segment_id.errors && (logedit.segment_id.dirty || logedit.segment_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="logedit.segment_id.errors.required" style="color:red">
                            {{'SEG.SEGNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                       
                    </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'APP.APPNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="application_name" maxlength="32"
                            placeholder="Enter Application Name">
                        <div *ngIf="logedit.application_name.errors && (logedit.application_name.dirty || logedit.application_name.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.application_name.errors.required" style="color:red">
                                {{'APP.APPNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="logedit.application_name.errors.pattern" style="color:red">
                                {{'APP.APPNAME' | translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                               </div>
                            <div *ngIf="!EditApplication.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'APP.APPNAME' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row">
                        <label class="control-label col-lg-4">{{'RAISETCKT.PRIORITY' | translate}} :</label>

                        <div class="col-lg-8">
                            <select class="form-control" formControlName="priority" name="priority" id="priority">
                                <option value="">Select Priority</option>
                                <option *ngFor="let items of prioritys " [value]=items.priority_id>
                                    {{items.priority_name}}</option>
                            </select>
                            <div *ngIf="logedit.priority.errors && (logedit.priority.dirty || logedit.priority.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.priority.errors.required" style="color:red">
                                {{'RAISETCKT.PRIORITY' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                           
                        </div>
                        </div>
                    </div>

            </form>
         </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="editapplication()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!EditApplication.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>