.cust th .kt-footer .kt-container .sorting_asc{
    width: 25% !important;
}
a{
text-shadow: none;
    color: #337ab7;
}
// a:active, a:focus, a:hover {
//     outline: 0;
// }
a:hover {
    cursor: pointer;
    color: #23527c;
    text-decoration: underline;
    text-shadow: none;
    border-radius: 0!important;
    background-color: transparent;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .container{
    max-width: 984px;
    // margin-top: 5%;
  }
.cust th .kt-footer kt-container{
    width: 25% !important;
}
.kt-section__content {
    margin-top: -3%;
}

// ul.nav.nav-tabs.justify-content-start {
//     margin-top: 0px;
//     width: 102%;
//     margin-right: 0px;
//     margin-left: -10px;
// }
.kt-heading {
    margin-top: 0px;
    margin-left: 10px;
}
//.col-md-12{
  //  margin-top: -55px;
//}
.kt-separator {
    margin-top: 0px;
   
}

// button.btn.btn-brand.btn-md.kt-font-bold.kt-font-transform-u {
//     margin-top: 35px;
//     margin-bottom: 0px;
// }
// .buttons{
//     margin-top: 0px;
//     margin-left: 241px;
// }
.center{
    margin-bottom: 0px;
    margin-left: 10%;
    margin-top: 25px;
}
.add{
    background-color: #5d78ff;
    color: #FFFFFF;
    padding: 5px;
    border: 1px solid #5d78ff;
    border-radius: 2px;
}
.bulk{
    float: right;
    margin-top: -8px;
    background-color: #5d78ff;
    padding: 10px;
    border: #5d78ff;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 3%;
}
// .myCustomModalClass{
//     z-index:1502 !important;
//     overflow-y:scroll !important;
// }
//   .modal-footer{
//       justify-content: center;
//   }

// .modal-backdrop + .modal-backdrop {
//     z-index: 1040;
//   }
//   .modal + .modal {
//     z-index: 1050;
//   }


//   .session-modal-container{
//   z-index: 1051 !important;
// }
// .session-modal-container .session-dialog {
//   z-index: 1052;
// }
// .session-modal-container .modal-dialog {
//   margin: 30vh auto;
// }


//tabs design
// .nav-link:hover .nav-text{
//  color:#36c6d3;
// }
// a.nav-link.active{
//     border-bottom: 1px solid #36c6d3 !important;
// }
// a.nav-link:hover{
//     border-bottom: 1px solid #36c6d3 !important;
// }


// table {
//     table-layout:fixed
// }
// table .display-block {
// 	display: table-cell;
// } 
// .test th{
// 	display: block;
// }
// .dataTables_scroll{
//     overflow:auto;
// }

// ngx style
.ngx-org {
    &-horizontal {
      padding: 1em 0;
    }
  
    &-vertical {
      padding: 0 1em;
    }
  
    &-border {
      border: 1px solid #5d78ff;
    }
  
    &-box {
      padding: 0.5em 1em;
      border-radius: .2em;
      box-shadow: 0.05em 0.05em 0.2em 0.05em #5d78ff;
    }
  
    &-connector {
      &-horizontal {
        width: 1em;
      }
  
      &-vertical {
        height: 1em;
      }
    }
  }
  .ngx-org {
    &-image {
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      margin-right: 0.5em;
      background-color:#5d78ff;
      border-radius: 50%;
      padding: 0.25em;
    }
  
   
  }
  
 
  
  
  .ngx-org {
    &-horizontal {
      padding: 1em 0;
    }
  
    &-vertical {
      padding: 0 0.6em;
    }
  
    &-border {
      border: 1px solid #a9a9a9;
    }
  
    &-box {
      // padding: 0.5em 1em; old value of the tree
      padding: 0.5em 0.8em;
      border-radius: .2em;
      box-shadow: 0.05em 0.05em 0.2em 0.05em #ccc;
      // box-shadow: 0.05em 0.05em 0.2em 0.05em #5d78ff;
    }
  
    &-connector {
      &-horizontal {
        width: 1em;
      }
  
      &-vertical {
        height: 1em;
      }
    }
  }
  .ngx-org-box[_ngcontent-wqv-c16] {
    cursor: pointer;
    display: inline;
    align-items: center;
}

.ngx-org-name{
    color:#2F4F4F;
    text-transform:capitalize;
  }
  // .tooltip {
  //   position: relative;
  //   display: inline-block;
  //   border-bottom: 1px dotted black;
  // }
  
  // .tooltip .tooltiptext {
  //   visibility: hidden;
  //   width: 120px;
  //   background-color: black;
  //   color: #fff;
  //   text-align: center;
  //   border-radius: 6px;
  //   padding: 5px 0;
  
  //   /* Position the tooltip */
  //   position: absolute;
  //   z-index: 1;
  // }
  .images{
    width: 12%;
  }
  .userImage{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  // .profile_image{
  //   width:120px;
  //   height:120px;
  // }
  // .right-btn{
  //   margin-right: 1%;
  // }
  #node_id{
    background:red;
  }
.lab{
  font-weight: bold;
}
.disabledsubmit{
  cursor:not-allowed ;
  pointer-events:all ;
}
.cross_btn{
  border-radius: 2rem;
  border:1px solid ;
  // border-color: #0bba87;
}
.cross_btn1{
  border-radius: 2rem;
  border:1px solid ;
  background-color: #ffffff;
  padding-right: 2rem;
  text-align: center;
}
.org-overall{
  display: grid; 
}
.page_response{
  // width: 500px;
  overflow-y: scroll;
}
 //view popup text color
 .txt_clr{
  color: black;
}
.cross_btn:hover{
  background-color: #cccccc;
  border-color: #cccccc !important;
  color: #ffffff;
}
// .cross_btn1{
//   border-color: #0abb87;
//   background-color: #0abb87;
// }
.kt-spinner .kt-spinner--login{
  right:5px !important;
}
.login-btn-subforgot:hover{
	color:white;
	background-color:#0abb87;
	border:1px solid #0abb87;
}
.login-btn-subforgot{
  width: 86px !important;
  border-radius: 2rem;
}
.createproduct_btn:hover{
  background-color: #0abb87 !important;
  color:white;
  border:1px solid #0abb87;
}
.createproduct_btn{
  background-color:white !important;
}
// .edit2cross ul{
//   margin-top:2rem;
// }
.userpreviousbtn{
	background-color: #fff;
	color:#008892 !important;
	border-color:#008892;
  }
  .userpreviousbtn:hover {
	background-color: #008892 !important;
	color:#fff !important;
	border-color:#008892 !important;
  }
  .custom-forms select{
    color:#74788d;        
  }  
  .control-label{
    color: #63686e;
    font-weight: 500 !important;
  }