<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="Financial Replacement Report">


  </kt-portlet-header>
  <kt-portlet-body>


    <div>
      <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
    </div>
    <br>
    <div class="general-container">
      <div class="general-container-header">
        <h2>Grapical View</h2>
        <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
          (click)='export()'>Chart Export</button>
      </div>
      <br>
      <div class="general-container-body">

        <ejs-chart [title]='title' #chartid id="chart-container" [primaryXAxis]="primaryXAxis"
          [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'>
          <e-series-collection>

            <e-series [dataSource]="chartData1" type="Line" xName="Month" yName="PreTotal_Calls" name="Previous Year"
              fill='coral' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData1" type="Line" xName="Month" yName="CurTotal_Calls1" name="Selected Year"
              fill='green' [marker]='marker'>
            </e-series>


          </e-series-collection>
        </ejs-chart>
      </div>
    </div>

    <br>
    <br>
    <div class="general-container">
      <div class="general-container-header">
        <h2>Grid View</h2>
        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='exportToExcel()'>Table
          Export</button>
      </div>
      <br>
      <br>
      <div class="general-container-body">
        <div class="table-responsive" #epltable>
          <table id="datatables" class="table table-striped table-bordered table-sm row-border hover datatable">
            <thead>
              <tr>
                <th style="width: 20%;" class="tablewidth kt-footer kt-container">Year</th>

                <th style="width: 5%;" class="tablewidth kt-footer kt-container">APR</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">MAY</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">JUN</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">JUL</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">AUG</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">SEP</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">OCT</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">NOV</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">DEC</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">JAN</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">FEB</th>
                <th style="width: 5%;" class="tablewidth kt-footer kt-container">MAR</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">Total</th>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">YTD</th>
              </tr>
            </thead>
            <tbody>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>