
.i.fa.fa-edit{
    display: inline-block;
}
i.far.fa-check-circle{
    display: inline-block;    
    margin-top: -28px !important;
    float: left !important;
}
i.fas.fa-ban{
    display: inline-block;    
    margin-top: -27px !important;
    float: left !important;
}
button .btn{
    display:none;
}
.disabledsubmit{
    cursor: not-allowed;
}
.edit_icon{
    color: gray;
    // margin-right: 0;
    // margin-left: -4px;
      margin-left:35px;
}
.edit_icon i,.edit_icon1 i{
    font-size:14px;
}
.edit_icon1{
    color: red;
}
.edit_icon3{
    margin-top: 30px;
    color: gray;
    // margin-right: 0;
    // margin-left: -71px;
    margin-left: -29px;
}
.redicon{
    position: absolute;
    right: -20%;
    top: 59px;
}
.editicon button{
    position: relative;
    top:-38px;
}
.url-column{
    text-transform: none;
}
.bottomspacing{
    margin-bottom:19px;
}