<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="{{'MENU.SMS' | translate}}">
    <ng-container ktPortletTools>
      <button class="btn btn-outline-dark custom-btn btn-sm btn-pill  pull-right"
        (click)="openLarge(add_sms)">{{'SMS.ADDGATE' | translate}}
      </button>
    </ng-container>
    <!--heading for portlet-->

  </kt-portlet-header>
  <!-- portlet body begins -->
  <kt-portlet-body>
    <!-- <div class="" style="margin-top: 2%"> -->
    <!-- begin form -->
    <div class="kt-section">
      <!-- </div> -->
      <!-- To Display the packages -->
      <div class="row">
        <div class="table-responsive">
          <table datatable="ng" *ngIf="showmodelTable" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">

            <thead>
              <!-- columns for  table -->
              <tr>
                <th style="width: 20%;" class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                <th style="width: 20%;" class="kt-footer kt-container">{{'SMS.GATEWAY' | translate}}</th>
                <th style="width: 20%;" class="kt-footer kt-container">{{'SMS.URL' | translate}}</th>
                <th style="width: 20%;" class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.STATUS' |
                  translate}}</th>
                <th style="width: 20%;" class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' |
                  translate}}</th>
              </tr>
            </thead>

            <tbody>
              <!-- values from the api.For loop to populate the datas -->
              <tr *ngFor="let item of sms_details;let i=index">
                <td class="text-center">{{i+1}}</td>
                <td class="url-column">{{item.gateway}}</td>
                <td class="url-column">{{item.url}}</td>

                <td class="text-center">

                  <!-- icons for edit and delete -->
                  <button class="btn" (click)="block(item.sms_id)">

                    <a *ngIf='item.status == 1'><i class="fa fa-check-circle" aria-hidden="true"
                        style="font-size:22px; color:#0abb87"></i>

                    </a>
                    <a *ngIf='item.status == 0'><i class="fa fa-ban" aria-hidden="true"
                        style="font-size:21px; color:#dc3545"></i></a>

                  </button>



                </td>
                <td class="text-center">
                  <button class="btn btn-base" (click)="editsmssetting(item,edit_sms)">
                    <i class="fa fa-edit" style="font-size:21px;color:#5d78ff" aria-hidden="true"></i></button>&nbsp;
                  <button style="padding:0px;" class="btn btn-base ml-2" (click)="delete(item.sms_id)">
                    <i class="fa fa-trash" style="font-size:21px;color:red"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="color: red;">{{error}}</p>
        </div>
      </div>
    </div>
  </kt-portlet-body>
  <!-- ends portlet body -->
</kt-portlet>

<!--Modal box to add the sms settings-->
<ng-template #add_sms let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'SMS.ADD_SMS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->
    <kt-portlet-body>
      <div class="kt-section mb-0">
        <form id="form_body" [formGroup]="Addsmsplan" novalidate="" class="ng-untouched ng-pristine ng-valid">


          <div class="row">
            <!-- label for from range user -->
            <label class="control-label col-lg-3">{{'SMS.URL' | translate}} : </label>
            <div class="col-lg-9">
              <!-- numbers only -->
              <input type="url" class="form-control" formControlName="url" placeholder="Enter Url">
              <div *ngIf="log.url.errors && (log.url.dirty || log.url.touched)" class="m-b-10 error">
                <div *ngIf="log.url.errors.required" style="color:red">{{'SMS.URLR' | translate}} </div>
                <div *ngIf="log.url.errors.pattern" style="color:red">Give correct Url like ({{'SMS.URLRP' | translate}})  </div>

              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <!-- label for from range user -->
            <label class="control-label col-lg-3">{{'SMS.GATE' | translate}} : </label>
            <div class="col-lg-9">
              <!-- numbers only -->
              <input type="text" class="form-control" formControlName="gateway" placeholder="Enter Gateway Name">
              <div *ngIf="log.gateway.errors && (log.gateway.dirty || log.gateway.touched)" class="m-b-10 error">
                <div *ngIf="log.gateway.errors.required" style="color:red">{{'SMS.GATER' | translate}} </div>
              </div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="control-label col-lg-3">
              <label>{{'SMS.PARAM' | translate}} :</label>
            </div>
            <div class="row col-lg-9">
              <div class="col-lg-5">
                <div *ngFor="let label_name of getFormControls(); let i = index">
                  <input [formControl]="label_name" (change)="get_lable_name(i,$event.target.value)"
                    class="form-control" type="text" placeholder="Enter the Label">
                  <br>
                </div>

              </div>

              <div class="col-lg-5 values">
                <div class="d-flex bottomspacing" *ngFor="let value of getvalueFormControls(); let i = index">
                  <!-- <div class="col-lg-11"> -->
                  <input [formControl]="value" (change)="get_value_name(i,$event.target.value)"
                    class="form-control col-lg-12" placeholder="Enter the Value" type="text">

                  <div class="" *ngIf="getvalueFormControls().length > 1 && getFormControls()">
                    <button class=" btn btn-sm mt-1 edit_icon1 pull-right" style="color: red;"
                      (click)="removeSection(i)"> <i class="fa fa-times"></i>
                    </button>
                  </div>

                  <!-- </div> -->
                  <!-- <div  class="col-lg-1" > -->
                  <!-- <ng-template > -->

                  <!-- </ng-template> -->


                  <!-- </div> -->



                </div>
                <br>
              </div>

              <div class="">
                <button class="btn btn-sm edit_icon mt-2" [disabled]="Addsmsplan.invalid" (click)="add()">
                  <i class="fa fa-plus mt-2 pull-right"></i></button>

              </div>
              <!-- <div class="col-lg-1" *ngIf="getvalueFormControls().length > 1">
              <i class="fas fa-times-circle" style="font-size:24px;color: red;"></i>
            </div> -->

              <!-- <button class=" btn btn-outline-dark btn-sm btn-pill custom-btn" (click)="add()">Add
              </button> -->

            </div>
          </div>
          <p *ngIf="empty_error_msg" style="color:red">{{empty_error_msg}}</p>
          <p *ngIf="duplicateLabel" style="color: red;">{{duplicateLabel}}</p>



        </form>
        <!-- end form group -->
      </div>
      <!-- <div class="kt-separator kt-separator--dashed"></div> -->


    </kt-portlet-body>
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
  <div class="modal-footer">
    <p style="color: red;">{{error}}</p>
    <br>
    <div class="text-center">
      <!-- button for submit -->
      <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="addsmsplan()"
        data-ktwizard-type="action-submit"
        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
        [disabled]="!Addsmsplan.valid">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
      <br>
    </div>
  </div>
</ng-template>

<!--Modal box to edit the sms settings-->
<ng-template #edit_sms let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'SMS.EDIT_SMS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <kt-portlet-body>
      <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
        [formGroup]="Editsmsplan">


        <div class="row" style="display:none;">
          <div class="col-md-4">
            <label class="control-label">{{'SMS.SMS' | translate}}</label>
          </div>
          <div class=" form-group col-md-8">
            <input type="text" class="form-control" formControlName="sms_id">
          </div>
        </div>

        <div class="row ">
          <div class="control-label col-lg-5">
            <div class="col-lg-12" *ngFor="let labels of label ; let i = index">
              <label>{{'SMS.LABEL' | translate}}:</label>
              <input (change)="labelchange(i,$event)" class="form-control" type="text" placeholder="Enter the Label "
                value={{labels}}>
              <br>
            </div>

            <div class=" col-lg-12">
              <div *ngFor="let label_name of getcontrols(); let i = index">
                <label class="control-label">{{'SMS.LABEL' | translate}}: </label>
                <input [formControl]="label_name" class="form-control" type="text" placeholder="Enter the Label ">
                <br>
              </div>
            </div>
            <br>

            <br>
          </div>

          <div class="col-lg-6">
            <div *ngFor="let values of value;let i=index">
              <label class="control-label">{{'SMS.VALUE' | translate}}:</label>
              <input (change)="changevalue(i, $event)" class="form-control col-md-10" type="text"
                placeholder="Enter the Value " value={{values}}>
              <div class="editicon">
                <button class="col-lg-2 btn btn-sm mt-1 edit_icon1 pull-right" (click)="editremove(i)"
                  style="color: red;"> <i class="fa fa-times"></i>
                </button>
              </div>

              <br>
            </div>

            <div *ngFor="let value of getvalueControls(); let i = index">
              <label class="control-label">{{'SMS.VALUE' | translate}}: </label>
              <!-- <div class="row"> -->
              <input [formControl]="value" class="form-control col-md-10" type="text" placeholder="Enter the Value ">
              <div *ngIf="log1.value.errors && (log1.value.dirty || log1.value.touched)" class="m-b-10 error">

                <div *ngIf="!Editsmsplan.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                  {{'SMS.VALUE' | translate}}
                </div>
              </div>
              <div class="editicon" *ngIf="getvalueControls() && getcontrols()">
                <button class="col-lg-2 btn btn-sm mt-1 edit_icon1 pull-right" style="color: red;"
                  (click)="editremoveSection(i)"> <i class="fa fa-times"></i>
                </button>
              </div>
              <br>
              <!-- </div> -->
            </div>
          </div>
          <div class="col-lg-1">
            <button [disabled]=Editsmsplan.invalid class="col-lg-1 btn btn-sm  edit_icon3" (click)="addedit()"> <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <!-- <br> -->
        <p *ngIf="EditduplicateLabel" style="color: red;">{{EditduplicateValue}}</p>
       
        <div *ngIf="log1.label_name.errors && (log1.label_name.dirty || log1.label_name.touched)" class="m-b-10 error">

          <div *ngIf="!Editsmsplan.hasError('whitespace')" style="color:red">
            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
            {{'SMS.LABEL' | translate}}
          </div>
        </div>

        <p *ngIf="EditduplicateLabel" style="color: red;">{{EditduplicateLabel}}</p>

      </form>


    </kt-portlet-body>
  </div>
  <div class="modal-footer">
    <p style="color: red;">{{adderror}}</p>
    <br>
    <!-- button for submit -->
    <div class="text-center">
      <button [disabled]=Editsmsplan.invalid class="btn btn-outline-success custom-btn btn-sm btn-pill ml-2 disabledsubmit" (click)="editsmsplan()"
        data-ktwizard-type="action-submit"
        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpdate}">{{'NEW_SUBSCRIPTION.SUB'
        |
        translate}}</button>
    </div>
  </div>
</ng-template>