:host {
	.kt-aside {
		height: 100%;

		.kt-aside-menu {
			margin: 0;
		}
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		white-space: nowrap;
	}
	
}
//show and hide dropdown in sidebar css
.sub-dropdown{
	display:none;
}
.show{
	display:block !important;
}
.submenu-anchors{
	padding:9px 25px;
}
.submenu-icons{
	margin-right:10px !important;
}
.submenu-anchors:hover{
	background-color:#1b1b28 !important;
}
.submenu-anchors:hover .submenu-icons{
	color:white !important;
}
.submenu-anchors:hover .submenu-menus{
	color:white !important;
}
.submenu-menus{
	font-family: "Open Sans",sans-serif !important;
	font-size: 14px !important;
	color:#a2a3b7;
}
.sub-dropdown .kt-menu__nav{
	padding: 5px 0;
    border-bottom: 1px solid #1a2229;
}

