<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'PACKAGE_PLAN.TITLE' | translate}}">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width kt-font-bold"
                (click)="openLarge(AddPackagePlan)">{{'PACKAGE_PLAN.ADD_PACKAGE' | translate}}
            </button>
        </ng-container>
    </kt-portlet-header>
    <!-- portlet body begins -->
    <kt-portlet-body>


        <br>
        <!-- To Display the packages -->
        <div>
            <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover ">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th style="width: 16%;" class="kt-footer kt-container">{{'PACKAGE_PLAN.PACKAGE_PLAN' |
                            translate}}</th>
                        <th style="width: 16%;" class="kt-footer kt-container">{{'PACKAGE_PLAN.RANGE' | translate}}</th>
                        <th style="width: 16%;" class="kt-footer kt-container">{{'PACKAGE_PLAN.LICENSE_COST' |
                            translate}}</th>
                        <th style="width: 16%;" class="kt-footer kt-container">{{'NEW_SUBSCRIPTION.DISCOUNTPERCENT' |
                            translate}}</th>
                        <th style="width: 16%;" class="kt-footer kt-container">{{'PACKAGE_PLAN.DISC_AMT' | translate}}
                        </th>
                        <th style="width: 16%;" class="kt-footer kt-container">{{'PACKAGE_PLAN.NEWCOST' | translate}}
                        </th>
                        <th class="kt-footer kt-container max-tables">Status</th>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of package_details;let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.package_type.package_name}}</td>
                        <td>{{item.from_user_range}}-{{item.to_user_range}}</td>
                        <td>{{item.per_license_cost}} </td>
                        <td>{{item.discount_percentage}}</td>
                        <td>{{item.discount_amount}}</td>
                        <td>{{item.new_license_cost}}</td>
                        <td class="datatable-center">
                            <a class="pac-status" title="Active" *ngIf='item.status == 1'><i class="far fa-check-circle"
                                    style="font-size:20px; color:#0abb87" aria-hidden="true"></i></a>
                            <a class="pac-status" title="Block" *ngIf='item.status == 0'><i class="fas fa-ban"
                                    style="font-size:20px; color:#dc3545" aria-hidden="true"></i></a>
                        </td>
                        <td class="datatable-center" width="100">
                            <!-- icons for edit and delete -->
                            <button class="btn btn-base" (click)="openLarge(edit_package);editpackage(item)">
                                <i class="fa fa-edit" style="font-size:16px;color:#5d78ff"
                                    aria-hidden="true"></i></button>
                            <!-- active or block from master -->
                            <!-- <a *ngIf='item.status == 1' class="btn btn-sm btn-label-success">{{'PACKAGE_PLAN.ACTIVE' | translate}}</a>
                            <a *ngIf='item.status == 0' class="btn btn-sm btn-label-danger">{{'PACKAGE_PLAN.BLOCK' | translate}}</a> -->

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>



    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>


<!--Modal box to add the package details-->
<ng-template #AddPackagePlan let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'PACKAGE_PLAN.ADD_PACKAGE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- Form group for renewal license -->
        <form id="form_body" [formGroup]="Addpackageplan" novalidate="" class="ng-untouched ng-pristine ng-valid">
            <div class="row">
                <!-- label for package plan -->
                <label class="control-label col-lg-6">{{'PACKAGE_PLAN.PACKAGE_PLAN' | translate}} :</label>
                <div class="col-lg-6">
                    <!-- select dropdown from master using id -->
                    <select formControlName="package_type_id" class="form-control"
                        (change)="onchange_get_package_type($event.target.value)" name="package_type_id"
                        id="package_type_id">
                        <option value='null'>Select your package type</option>
                        <option *ngFor="let items of package_plan_details" [value]=items.package_id>
                            {{items.package_name}}</option>
                    </select>
                    <div *ngIf="log.package_type_id.errors && (log.package_type_id.dirty || log.package_type_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.package_type_id.errors.required" style="color:red">
                            {{'PACKAGE_PLAN.PACKAGE_PLAN' | translate}}
                            {{'RAISETCKT.REQ' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- <br> -->
            <div class="row">
                <!-- label for from range user -->
                <label class="control-label col-lg-6">{{'PACKAGE_PLAN.FROM' | translate}} :</label>
                <div class="col-lg-6">
                    <!-- numbers only -->
                    <input type="number" class="form-control" formControlName="from_user_range"
                        (change)="get_from_user_range($event.target.value)"
                        placeholder="{{'PACKAGE_PLAN.EFROM' | translate}}">
                    <div *ngIf="from_range" style="color:red">{{from_range}}
                    </div>
                    <div *ngIf="log.from_user_range.errors && (log.from_user_range.dirty|| log.from_user_range.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.from_user_range.errors.required" style="color:red">
                            {{'PACKAGE_PLAN.FROM' | translate}}
                            {{'RAISETCKT.REQ' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- label for to range user -->
                <label class="control-label col-lg-6">{{'PACKAGE_PLAN.TO' | translate}} :</label>
                <div class="col-lg-6">
                    <!-- numbers only -->
                    <input type="number" class="form-control" formControlName="to_user_range"
                        (change)="get_to_user_range($event.target.value)"
                        placeholder="{{'PACKAGE_PLAN.TFROM' | translate}}">
                    <div *ngIf="to_range" style="color:red">{{to_range}}
                    </div>
                    <div *ngIf="log.to_user_range.errors && (log.to_user_range.dirty || log.to_user_range.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.to_user_range.errors.required" style="color:red">
                            {{'PACKAGE_PLAN.TO' | translate}}
                            {{'RAISETCKT.REQ' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row" *ngIf="package_type_id !== '1'"> -->
            <div class="row" *ngIf="package_type_id == '1';else discount_fields">
            </div>
            <ng-template #discount_fields>
                <div class="row">
                    <!-- label for license cost -->
                    <label class="control-label col-lg-6">{{'PACKAGE_PLAN.LICENSE_COST' | translate}} : </label>
                    <div class="col-lg-6">
                        <!-- numbers only -->
                        <input type="number" class="form-control" formControlName="per_license_cost"
                            placeholder="{{'PACKAGE_PLAN.LICENSE_COST' | translate}}"
                            (input)="get_per_license_cost($event.target.value)">
                        <div *ngIf="log.per_license_cost.errors && (log.per_license_cost.dirty || log.per_license_cost.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.per_license_cost.errors.required" style="color:red">
                                {{'PACKAGE_PLAN.LICENSE_COST' | translate}}
                                {{'RAISETCKT.REQ' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="control-label col-lg-6">
                        <!-- label for discount percent -->
                        <label>{{'PACKAGE_PLAN.DISCOUNTPERCENT' | translate}} :</label>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <!-- numbers only with in  0 to 100 -->
                            <input type="number" formControlName="discount_percentage" class="form-control" numberOnly
                                name="discount_value" id="discount_value"
                                placeholder="{{'PACKAGE_PLAN.DISC_PERCENT' | translate}}"
                                (change)="discount_calculation($event.target.value)">
                            <a (click)="calculate_discounted_new_license_count()"
                                class="btn  btn-outline-success btn-sm btn-pill btn-sm mt-2">{{'NEW_SUBSCRIPTION.CALCULATE'
                                | translate}}</a>
                            <div *ngIf="log.discount_percentage.errors && (log.discount_percentage.dirty || log.discount_percentage.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log.discount_percentage.errors.required" style="color:red">
                                    {{'PACKAGE_PLAN.DISCOUNTPERCENT' | translate}}
                                    {{'RAISETCKT.REQ' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="control-label col-lg-6">
                        <!-- label for discount price -->
                        <label>{{'NEW_SUBSCRIPTION.DISCOUNT_PRICE' | translate}} :</label>

                    </div>
                    <div class="col-lg-6">
                        <div>
                            <!-- readonly based on discount percentage -->
                            <input type="text" formControlName="discount_amount" class="form-control" numberOnly
                                readonly name="discount_amount" id="discount_amount"
                                placeholder="{{'PACKAGE_PLAN.DISCOUNT_PRICE' | translate}}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="control-label col-lg-6">
                        <label>{{'PACKAGE_PLAN.TOT_PRICE' | translate}} :</label>
                        <!-- <label>:</label> -->
                        <!--Label for totla price-->
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <!-- readonly  based  discount percentage and also license -->
                            <input type="text" formControlName="new_license_cost" class="form-control" numberOnly
                                readonly name="new_license_cost" id="new_license_cost"
                                placeholder="{{'PACKAGE_PLAN.TOT_PRICE' | translate}}">
                        </div>
                    </div>
                </div>
                <br>
            </ng-template>
            <div *ngIf="error" style="color:red">{{error}}
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
                    (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                <!-- button for submit -->
                <button type="button"
                    class="btn  btn-outline-success btn-sm btn-pill btn-sm ml-2 custom-btn disabledsubmit"
                    (click)="addpackageplan()" [disabled]="!Addpackageplan.valid" data-ktwizard-type="action-submit"
                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}">{{'NEW_SUBSCRIPTION.SUB'
                    | translate}}</button>
                <br>
            </div>
        </form>
        <!-- end form group -->
        <!-- </div> -->
        <!-- <div class="kt-separator kt-separator--dashed"></div> -->


        <!-- </kt-portlet-body> -->
        <!-- end body for portlet-->
        <!-- </kt-portlet> -->
    </div>
</ng-template>

<!--Modal box to edit the package details-->
<ng-template #edit_package let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'PACKAGE_PLAN.EDIT_PACKAGE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
        <!-- begin body for portlet-->
        <!-- <kt-portlet-body> -->
        <!-- <div class="kt-section"> -->
            <!-- Form group for renewal license -->
            <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                [formGroup]="Edit_package_form">

                <div class="form-body">


                    <div class="row">
                        <!-- label for Company Name-->
                        <label class="control-label col-lg-6">{{'PACKAGE_PLAN.PLAN' | translate}} :</label>
                        <div class="col-lg-6">
                            <!-- select dropdown from master -->
                            <select formControlName="package_type_id" class="form-control" name="package_type_id"
                                id="package_type_id" (change)="check_package_type($event.target.value)">
                                <option value=''>Select your package type</option>
                                <option *ngFor="let items of package_plan_details" [value]=items.package_id>
                                    {{items.package_name}}</option>
                            </select>
                            <div *ngIf="log2.package_type_id.errors && (log2.package_type_id.dirty || log2.package_type_id.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log2.package_type_id.errors.required" style="color:red">
                                    {{'PACKAGE_PLAN.PACKAGE_PLAN' | translate}}
                                    {{'RAISETCKT.REQ' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <!-- label for from range user -->
                        <label class="control-label col-lg-6"> {{'PACKAGE_PLAN.FROM' | translate}} :</label>

                        <div class="col-lg-6">
                            <!-- numbers opnly -->
                            <input type="number" class="form-control" name="from_user_range"
                                formControlName="from_user_range" id="from_user_range"
                                placeholder="{{'PACKAGE_PLAN.EFROM' | translate}}"
                                (change)="get_from_user_range($event.target.value)">
                            <div *ngIf="log2.from_user_range.errors && (log2.from_user_range.dirty|| log2.from_user_range.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log2.from_user_range.errors.required" style="color:red">
                                    {{'PACKAGE_PLAN.FROM' | translate}}
                                    {{'RAISETCKT.REQ' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- label for to range user -->
                        <label class="control-label col-lg-6"> {{'PACKAGE_PLAN.TO' | translate}} :</label>
                        <div class="col-lg-6">
                            <!-- numbers only -->
                            <input type="number" class="form-control" name="to_user_range"
                                formControlName="to_user_range" id="to_user_range"
                                placeholder="{{'PACKAGE_PLAN.TFROM' | translate}}">
                            <div *ngIf="log2.to_user_range.errors && (log2.to_user_range.dirty|| log2.to_user_range.touched)"
                                class="m-b-10 error">
                                <div *ngIf="log2.to_user_range.errors.required" style="color:red">
                                    {{'PACKAGE_PLAN.TO' | translate}}
                                    {{'RAISETCKT.REQ' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="package_type_id == '1';else discount_fields">
                    </div>
                    <ng-template #discount_fields>
                        <div class="row">
                            <!-- label for license cost -->
                            <label class="control-label col-lg-6"> {{'PACKAGE_PLAN.LICENSE_COST' | translate}} :</label>
                            <div class="col-lg-6">
                                <input type="number" class="form-control" formControlName="per_license_cost"
                                    (input)="get_per_license_cost($event.target.value)" placeholder="Enter value">
                                <div *ngIf="log2.per_license_cost.errors && (log2.per_license_cost.dirty|| log2.per_license_cost.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="log2.per_license_cost.errors.required" style="color:red">
                                        {{'PACKAGE_PLAN.LICENSE_COST' | translate}}
                                        {{'RAISETCKT.REQ' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="control-label col-lg-6">
                                <!-- label for discount percent -->
                                <label> {{'PACKAGE_PLAN.DISCOUNTPERCENT' | translate}} :</label>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <!-- numbers only within 0 to 100 -->
                                    <input type="number" formControlName="discount_percentage" class="form-control"
                                        numberOnly name="discount_value" id="discount_value"
                                        placeholder="{{'PACKAGE_PLAN.DISC_PERCENT' | translate}} "
                                        (change)="discount_calculation($event.target.value)">
                                    <a (click)="calculate_discounted_new_license_count()"
                                        class="btn  btn-outline-success btn-sm btn-pill btn-sm mt-2">{{'NEW_SUBSCRIPTION.CALCULATE'
                                        | translate}}</a>
                                    <div *ngIf="log2.discount_percentage.errors && (log2.discount_percentage.dirty|| log2.discount_percentage.touched)"
                                        class="m-b-10 error">
                                        <div *ngIf="log2.discount_percentage.errors.required" style="color:red">
                                            {{'PACKAGE_PLAN.DISCOUNTPERCENT' | translate}}
                                            {{'RAISETCKT.REQ' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="control-label col-lg-6">
                                <!-- label for discount price -->
                                <label>{{'NEW_SUBSCRIPTION.DISCOUNT_PRICE' | translate}} :</label>

                            </div>
                            <div class="col-lg-6">

                                <div>
                                    <!-- readonly based on discount percent -->
                                    <input type="text" formControlName="discount_amount" class="form-control" numberOnly
                                        readonly name="discount_amount" id="discount_amount"
                                        placeholder="Enter Discount price">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!-- label for new license cost -->
                            <label class="control-label col-lg-6">{{'PACKAGE_PLAN.NEWLICENSE_COST' | translate}} :
                            </label>
                            <div class="col-lg-6">
                                <!-- readonly based on discount amount -->
                                <input type="number" class="form-control" formControlName="new_license_cost"
                                    placeholder="Enter New license Cost" readonly>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!-- label for Subscription-->
                            <label class="control-label col-lg-6">{{'NEW_SUBSCRIPTION.STATUS' | translate}} :</label>
                            <div class="col-lg-6">
                                <!-- dropdown for subscription plan -->
                                <select class="form-control" name="subsplan" id="subsplan" formControlName="status"
                                    data-placeholder="Choose a Category" tabindex="1">
                                    <option value="1">Active</option>
                                    <option value="0">Block</option>
                                </select>
                                <div *ngIf="log2.status.errors && (log2.status.dirty|| log2.status.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="log2.status.errors.required" style="color:red">
                                        {{'NEW_SUBSCRIPTION.STATUS' | translate}}
                                        {{'RAISETCKT.REQ' | translate}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                    </ng-template>

                </div>
                <div *ngIf="error" style="color:red">{{error}}
                </div>
                <!-- form actions begin -->
                <div class="form-actions" class="modal-footer">
                    <div class="row">
                        <!-- column for submit button -->
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <!-- button for close -->
                                <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
                                    (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                                <!-- button for update -->
                                <button type="button" (click)="edit_packageplan()" [disabled]="!Edit_package_form.valid"
                                    class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}">{{'PACKAGE_PLAN.UPDATE'
                                    | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form actions end -->
            </form>
            <!-- end form group -->
        <!-- </div> -->
        <!-- <div class="kt-separator kt-separator--dashed"></div> -->


        <!-- </kt-portlet-body> -->
        <!-- end body for portlet-->
        <!-- </kt-portlet> -->
    </div>
</ng-template>