.blinking{
    animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
    0%{     color: #3CB371   }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:#3CB371;  }
    100%{   color: #3CB371;    }
}

.blink{
    animation:blink 1s infinite;
}

@keyframes blink{
    0%{     color: #ff0000;   }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:#ff0000;  }
    100%{   color: #ff0000;    }
}
button.btn.btn-info.pull-right{
    // margin-top:-46px;
    margin-right: 3px;
    margin-bottom: 0px;
  }
.kt-portlet__body {
    margin-top: -29px;
}
.i.fa.fa-edit{
    display: inline-block;
}
// i.far.fa-check-circle{
//     // display: inline-block;
//     // margin-left: 65px;
//     // margin-top: -28px !important;
//     // float: left !important;
//     // margin-top:10px;
// }
// i.fas.fa-ban{
//     // display: inline-block;
//     // margin-left: 65px;
//     // margin-top: -27px !important;
//     // float: left !important;
//     // margin-top:10px;
// }
.pac-status{
    cursor:pointer;
}
.package-plan th{
    width:50px !important;
}
// table td{
//     text-align:center;
//     vertical-align: middle;
// }
thead tr th{
    text-transform: capitalize;
}
.disabledsubmit{
    cursor: not-allowed;
}