<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'COMTICK.TITLE' | translate}}">
    <!--heading for portlet-->
  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body>
    <div class="kt-section__content">
      <ngb-tabset [justify]="currentJustify" (tabChange)="findtab($event)" #tab>
        <!-- tab for Completed Tickets -->
        <ngb-tab title="Completed Tickets" id="tab-selectbyid1">
          <ng-template ngbTabContent>
            <kt-portlet-body class="portlet__body">
              <div class="kt-section__content">
                <!-- Filter for Completed Tickets : Begin -->
                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST"
                  novalidate="novalidate" [formGroup]="ProductLocation" style="margin-right: -8px;">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2 ml-auto">
                        <select formControlName="date_format" class="form-control" #date_format name="date_format"
                          (change)="filter_tickets($event.target.value)">
                          <option value="">ALL Tickets</option>
                          <option value="today">Today</option>
                          <option value="week">This Week</option>
                          <option value="month">This Month</option>
                          <option value="year">This Year</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select formControlName="product_id" class="form-control" #product
                          (change)="filter_tickets($event.target.value)">
                          <option value="">{{'SPARE.SLCTPRO'|translate}}</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select formControlName="location_id" class="form-control" #location name="location_id"
                          (change)="filter_tickets($event.target.value)">
                          <option value="">{{'SPARE.SLCTLOC'|translate}}</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Filter for Completed Tickets : End -->
                <br>
                <!-- Table for Completed Tickets : Begin -->
                <div class="table-responsive">
                  <table id="datatables" class="table table-striped table-bordered table-sm row-border hover datatable">

                    <thead>
                      <!-- columns for  table -->
                      <tr>
                        <th class="tablewidth kt-footer kt-container max-tables">
                          {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">
                          {{'COMTICK.TCKID' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">
                          {{'COMTICK.TECH_ID' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">
                          {{'COMTICK.PRODUCT_CATEGORY' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">
                          {{'COMTICK.SUB_CATEGORY' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">{{'USER.LOCATION' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">
                          {{'COMTICK.COM_TIME' | translate}}
                        </th>
                        <th class="kt-footer kt-container tablewidth max-tables">
                          Resolution Image</th>
                        <th class="kt-footer kt-container tablewidth max-tables">
                          {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                        <th class="tablewidth kt-footer kt-container max-tables">
                          {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="completed_tickets?.length != 0">
                      <tr *ngFor="let item of completed_tickets; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td><a class="button" (click)="get_ticket_details(item.ticket_id,view_tcktdetails)"
                            data-placement="right" ngbTooltip="View Details">{{item.ticket_id}}</a>
                        </td>
                        <td> <a class="button" data-placement="right" ngbTooltip="View Details"
                            (click)="get_technician_details(item.ticket_id,item.technican_id,view_techniciandetails)">{{item.technican_id}}</a>
                        </td>
                        <td>{{item.product.product_name}}</td>
                        <td>{{item.subproduct.product_sub_name}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.ticket_end_date_time}}</td>
                        <!-- <td *ngIf="item.image !=''" class="datatable-center">
                          <button class="btn btn-base" (click)="openmodal(ImageView,item.image)">
                            <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                          </button>
                        </td> -->
                        <td class="datatable-center">
                          <div *ngIf="item.image == '' || item.image == 'null'||item.image == undefined;else elseBlock">
                            -
                          </div>
                          <ng-template #elseBlock>
                            <button class="btn btn-base" (click)="openmodal(ImageView,item.image)">
                              <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                            </button>
                          </ng-template>
                        </td>

                        <!-- <td class="datatable-center"
                          *ngIf="item.image == '' || item.image == 'null' ||item.image == undefined ">
                          -
                          
                        </td> -->
                        <td class="datatable-center">
                          <a style="cursor: pointer;" (click)="downloadPdfs(item.ticket_id)"><i class="fas fa-file-pdf"
                              aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="datatable-center">
                          <button style="padding:0px;" class='btn   btn-base'
                            (click)="customer_feedback_modal(feedback,item)" data-placement="left"
                            ngbTooltip="Feedback"><i class="fas fa-comments forcomments"></i></button>
                        </td>

                      </tr>
                    </tbody>
                    <tbody *ngIf="completed_tickets?.length == 0">
                      <!-- <tr colspan="3" style="text-align: center;">No records found -->
                      <div colspan="3" style="text-align: end;">No records found</div>
                      <!-- </tr> -->
                    </tbody>
                  </table>
                </div>
                <!-- Table for Completed Tickets : End -->
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>

        <!-- tab for Closed Tickets -->
        <ngb-tab title="Closed Tickets" id="tab-selectbyid2">
          <ng-template ngbTabContent>
            <kt-portlet-body>
              <div class="kt-section__content">
                <!-- Filter for Closed Tickets : Begin -->
                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST"
                  novalidate="novalidate" [formGroup]="ProductLocation" style="margin-right: -8px;">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2 ml-auto">
                        <select formControlName="date_format" class="form-control" #date_format name="date_format"
                          (change)="filter_tickets($event.target.value)">
                          <option value="">ALL Tickets</option>
                          <option value="today">Today</option>
                          <option value="week">This Week</option>
                          <option value="month">This Month</option>
                          <option value="year">This Year</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select formControlName="product_id" class="form-control" #product
                          (change)="filter_tickets($event.target.value)">
                          <option value="">{{'SPARE.SLCTPRO'|translate}}</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select formControlName="location_id" class="form-control" #location name="location_id"
                          (change)="filter_tickets($event.target.value)">
                          <option value="">{{'SPARE.SLCTLOC'|translate}}</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Filter for Closed Tickets : End -->
                <br>
              </div>
              <!-- Table for Closed Tickets : Begin -->
              <!-- <div class="table-responsive"> -->
            
                <table id="closed_tickets" class="table table-striped table-bordered table-sm row-border hover datatable">

                <thead>
                  <!-- columns for  table -->
                  <tr>
                    <th style="width: 10%;" class="kt-footer kt-container max-tables">
                      {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                    <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.TCKID' | translate}}</th>
                    <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.TECH_ID' | translate}}</th>
                    <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.PRODUCT_CATEGORY' | translate}}</th>
                    <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.SUB_CATEGORY' | translate}}</th>
                    <th style="width: 10%;" class="kt-footer kt-container">{{'USER.LOCATION' | translate}}
                    </th>
                    <th style="width: 11%;" class="kt-footer kt-container">{{'NEWTCKT.ASIGN_TM' | translate}}
                    </th>
                    <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.CLOSE_TIME' | translate}}</th>
                    <!-- <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.CUST_FEED' | translate}}</th> -->
                    <!-- <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMTICK.CUST_RATE' | translate}}</th> -->
                    <th style="width: 10%;" class="kt-footer kt-container">
                      {{'COMPLETEDTICKETS.CUSTOMERRATING' | translate}}</th>
                    <th style="width: 10%;" class="kt-footer kt-container">
                      Resolution Image</th>
                    <th style="width: 10%;" class="kt-footer kt-container max-tables">
                      {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                    <th class="kt-footer kt-container  max-tables">
                      {{'COMTICK.DOWNLOADSERVICE' | translate}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="closed_tickets?.length != 0">

                  <tr *ngFor="let items of closed_tickets; let i = index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td><a class="button" (click)="get_ticket_details(items.ticket_id,view_tcktdetails)"
                        data-placement="right" ngbTooltip="View Details">{{items.ticket_id}}</a>
                    </td>
                    <td>
                      <a class="button" data-placement="right" ngbTooltip="View Details"
                        (click)="get_technician_details(items.ticket_id,items.technican_id,view_techniciandetails)">{{items.technican_id}}</a>
                    </td>
                    <td>{{items.product.product_name}}</td>
                    <td>{{items.subproduct.product_sub_name}}</td>
                    <td>{{items.location}}</td>
                    <td>{{items.assigned_date_time}}</td>
                    <td>{{items.ticket_closed_date_time}}</td>
                    <!-- <td>{{items.cust_feedback}}</td> -->
                    <td>{{items.cust_rating}}</td>
                    <td class="datatable-center">
                      <div *ngIf="items.image == '' || items.image == 'null'||items.image == undefined;else elseBlock">
                        -
                      </div>
                      <ng-template #elseBlock>
                        <button class="btn btn-base" (click)="openmodal(ImageView,items.image)">
                          <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                        </button>
                      </ng-template>
                    </td>
                    <!-- <td *ngIf="items.image !='' " class="datatable-center">
                      <button class="btn btn-base" (click)="openmodal(ImageView,item.image)">
                        <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="datatable-center"
                      *ngIf="items.image == '' || items.image == 'null'||items.image == undefined ">
                      -
                    </td> -->
                    <td class="datatable-center">
                      <a style="cursor: pointer;" (click)="downloadPdfs(items.ticket_id)"><i class="fas fa-file-pdf"
                          aria-hidden="true"></i>
                      </a>
                    </td>
                    <td class="datatable-center"> <a style="cursor: pointer;"
                        (click)="service_report_pdf(items.ticket_id)"><i class="fas fa-download"
                          style="color:#242fb7;cursor: pointer;" aria-hidden="true"></i></a>
                    </td>

                  </tr>
                </tbody>
                <tbody *ngIf="closed_tickets?.length == 0">
                  <!-- <tr colspan="3" style="text-align: center;">No records found -->
                  <div colspan="3" style="text-align: end;">No records found</div>
                  <!-- </tr> -->
                </tbody>
              </table>
              <!-- </div> -->
              <!-- Table for Closed Tickets : End -->
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>
<!-- Customer Feedback Form : Begin -->
<ng-template #CustomerFeedBack let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'COMTICK.CUST_FEED' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-section__content">
      <form id="AddCompany" [formGroup]="CustomerfeedbackForm" novalidate=""
        class="custom-forms ng-untouched ng-pristine ng-valid">
        <div class="row">
          <!-- label for organization name -->
          <label class="control-label col-lg-5" style="float: right;text-align: right;font-weight: bold;">
            {{'RAISETCKT.CUSID' | translate}}: </label>
          <div class="col-lg-7">
            <input type="text" class="form-control" formControlName="customer_code" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'USER.USERNAME' | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="customer_name" type="text" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'USER.CONNUMBER' | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="contact_number" type="text" readonly />
          </div>
        </div>
        <br>
        <div class="row" style="display: none;">
         
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'NEW_SUBSCRIPTION.EMAIL'
            | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="email_id" type="text" readonly />

          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for person name -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUST_FEED' | translate}}:</label>
          <div class="col-lg-7">
            <select formControlName="cust_feedback" class="form-control">
              <option value=''>Select Feedback</option>
              <option>
                No Customer Feedback
              </option>
              <option *ngFor="let items of cust_feedbacks " [value]=items.id>
                {{items.value}}</option>
            </select>
            <!-- error controls -->
            <div *ngIf="log.cust_feedback.errors && (log.cust_feedback.dirty || log.cust_feedback.touched)"
              class="m-b-10 error">
              <div *ngIf="log.cust_feedback.errors.required" style="color:red">{{'COMTICK.CUST_FEED' | translate}}
                {{'USER.REQ' | translate}} </div>

            </div>

          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for contact number -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUSRAT' | translate}} (1 to
            10):</label>
          <div class="col-lg-7">

            <select formControlName="cust_rating" class="form-control">
              <option value="null">Select Rating</option>
              <option *ngFor="let items of cus_ratings " [value]=items.id>
                {{items.value}}</option>
            </select>
            <!-- error controls -->
            <div *ngIf="log.cust_rating.errors && (log.cust_rating.dirty || log.cust_rating.touched)"
              class="m-b-10 error">
              <div *ngIf="log.cust_rating.errors.required" style="color:red">{{'COMTICK.CUSRAT' | translate}}
                {{'USER.REQ' | translate}} </div>
            </div>

          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for alternate contact number -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUSCOMNT' | translate}}:</label>
          <div class="col-lg-7">
            <!-- <div class="col-sm-4 col-md-6"> -->
            <textarea formControlName="cust_comments" class="form-control" placeholder="Enter Customer Comments"
              aria-required="true" rows="5" colms="20"
              [ngClass]="{ 'is-invalid': submitted && log.cust_comments.errors }">
                              </textarea>

            <div *ngIf="log.cust_comments.errors && (log.cust_comments.dirty || log.cust_comments.touched)"
              class="m-b-10 error">
              <div *ngIf="log.cust_comments.errors.required" style="color:red">

                {{'RAISETCKT.CUSTOMERPROBLEM' | translate}}
                {{'RAISETCKT.REQ' | translate}}

              </div>
              <div *ngIf="log.cust_comments.errors.maxlength" style="color:red">
                {{'RAISETCKT.PROBLEM' | translate}}
                {{'NEW_SUBSCRIPTION.PRBLMDESC' | translate}}</div>
            </div>
            <!-- </div> -->




          </div>
        </div>
        <br>

        <br>
        <!-- <div class="kt-form-actions"> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->

        <div class="text-center">
          <!-- buttn for next step -->
          <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [disabled]="!CustomerfeedbackForm.valid"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
            (click)="customer_feedback()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->

      </form>




    </div>
    <!--           </form>
 -->
    <!-- end form -->
    <!-- </div> -->
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->

    <!-- </kt-portlet-body> -->
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->

  </div>
</ng-template>
<!-- Customer Feedback Form : End -->


<!-- view_ticketdetails -->
<ng-template #view_tcktdetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ticket Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->
    <!-- <kt-portlet-body> -->
    <!-- <div class="kt-section"> -->
    <!-- Form group for renewal license -->
    <form class="form-horizontal" role="form">
      <div class="row">
        <div class="col-lg-6">
          <div class="row form-group">
            <label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TCKID' | translate}}:</label>
            <div class="col-lg-6 txt_clr">{{ticket_details.ticket_id}}</div>
          </div>
          <div class="row form-group">
            <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.CUS_NAME' |
              translate}}:</label>
            <div class="col-lg-6 txt_clr">
              {{ticket_details.customer_name}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputPassword3">
              {{'NEWTCKT.CONNUMBER' | translate}}:</label>
            <div class="col-lg-6 txt_clr">{{ticket_details.contact_number}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputPassword3">
              {{'USER.LOCATION' | translate}}:</label>
            <div class="col-lg-6 txt_clr overflow-details">{{ticket_details.location}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
              for="inputEmail3">{{'NEWTCKT.PRODUCT'
              | translate}}:</label>
            <div class="col-lg-6 txt_clr"> {{ticket_details.product_category}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
              {{'NEWTCKT.CALLCAT' | translate}}:</label>
            <div class="col-lg-6 txt_clr"> {{ticket_details.call_category}}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
              for="inputEmail3">{{'NEWTCKT.SERVCAT'
              | translate}}:</label>
            <div class="col-lg-6 txt_clr"> {{ticket_details.contract_type}}</div>
          </div>

          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
              {{'NEWTCKT.PROB' | translate}}:</label>
            <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.problem}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRI'
              |
              translate}}:</label>
            <div class="col-lg-6 txt_clr">{{ticket_details.priority}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
              {{'NEWTCKT.WRKTYP' | translate}}:</label>
            <div class="col-lg-6 txt_clr"> {{ticket_details.work_type}}</div>
          </div>
          <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
              {{'MANAGECONT.SERIALNO' | translate}}:</label>
            <div class="col-lg-6 txt_clr"> {{ticket_details.serial_no}}</div>
          </div>
        </div>
      </div>
    </form>
    <!-- end form group -->
    <!-- </div> -->
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->

    <!-- </kt-portlet-body> -->
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
</ng-template>

<!-- view_techniciandetails -->
<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.technician_code}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'REIM.TECHN' | translate}}:</label>
        <div class="col-lg-6 txt_clr">
          {{technicians_details.full_name}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputPassword3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.contact_number}}</div>
      </div>
      <!-- <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.LOC' |
          translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{technicians_details.location}}</div>
      </div> -->
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SK_LVL'
          | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.skill_level}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TSK_CNT'
          | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.task_count}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-6 control-label popupcolor"
          for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
        <!-- <div class="col-sm-6 control-label overflow-details">{{technicians_details.technician_type}}</div> -->
        <div class="col-lg-6 txt_clr" *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
        <div class="col-lg-6 txt_clr" *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div>
      </div>

    </form>
  </div>
</ng-template>

<ng-template #feedback let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">Customer Satisfication Index</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <div class="card" > -->
    <form class="kt-form" [formGroup]="Feedback" novalidate="" class="ng-untouched ng-pristine ng-valid">
      <!-- <h3 style="text-align: center;">Customer Satisfication Index</h3>
        <br> -->
      <div class="row">
        <div class="col-lg-6">
          <label class="control-label"> Customer Name:</label>
          <input type="text" class="form-control" formControlName="customer_name" placeholder="Enter Customer name"
            onKeyPress="if(this.value.length==48) return false;" readonly />
          <!-- <div *ngIf="log.customer_name.errors && (log.customer_name.dirty || log.customer_name.touched)"
            class="m-b-10 error">
            <div *ngIf="log.customer_name.errors.required" style="color:red">{{'USER.FULLNAME' | translate}}
              {{'USER.REQ' | translate}} </div>
            <div *ngIf="log.customer_name.errors.pattern" style="color:red">
              {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'USER.FULLNAME' | translate}}</div>
            <div *ngIf="!Feedback.hasError('whitespace')" style="color:red">
              {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
              {{'USER.FULLNAME' | translate}}
            </div>
          </div> -->
        </div>
        <div class="col-lg-6">
          <label class="col-md 3 pl-0 control-label"> Customer Number:</label>
          <input class="col-md 3" type="text" class="form-control" placeholder="Enter Customer Number"
            formControlName="customer_number" readonly />
          <!-- <div *ngIf="log.customer_number.errors && (log.customer_number.dirty || log.customer_number.touched)"
            class="m-b-10 error">
            <div *ngIf="log.customer_number.errors.required" style="color:red">{{'USER.CONNUMBER' | translate}}
              {{'USER.REQ' | translate}} </div>
            <div *ngIf="log.customer_number.errors.maxlength" style="color:red">
              {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
            <div *ngIf="log.customer_number.errors.minlength" style="color:red">
              {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
            <div *ngIf="log.customer_number.errors.pattern" style="color:red">
              {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}</div>

          </div> -->
        </div>

      </div>
      <br>
      <div class="row" style="display: none;">
        <div class="col-lg-6">
          <label class="col-md 3 pl-0 control-label"> Email Id:</label>
          <input class="col-md 3" type="text" class="form-control" placeholder="Enter Customer Email_id"
            formControlName="email_id" readonly />
          <div *ngIf="log.email_id.errors && (log.email_id.dirty || log.email_id.touched)" class="m-b-10 error">
            <div *ngIf="log.email_id.errors.required" style="color:red">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}
              {{'USER.REQ' | translate}} </div>
            <div *ngIf="log.email_id.errors.pattern" style="color:red">
              {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.EMAIL' | translate}}</div>

          </div>
        </div>
        <!-- <div class="col-lg-6">
            <label class="col-md 3"> Referrence Number:</label>
            <input class="col-md 3" type="text" class="form-control"  placeholder="Enter Referrence Number" formControlName="referrence_number" readonly/>
            <div *ngIf="log.referrence_number.errors && (log.referrence_number.dirty || log.referrence_number.touched)" class="m-b-10 error">
                <div *ngIf="log.referrence_number.errors.required" style="color:red">Referrence Number
                  {{'USER.REQ' | translate}} </div>
        
              </div>
        </div> -->
      </div>
      <br>
      <!-- <h5>Product Performance (Quality)</h5>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with  product performance?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating1" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating1.errors && (log.rating1.dirty || log.rating1.touched)" class="m-b-10 error">
                <div *ngIf="log.rating1.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with  the product look and feel?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating2" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating2.errors && (log.rating2.dirty || log.rating2.touched)" class="m-b-10 error">
                <div *ngIf="log.rating2.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with  the life of the product?
        </div>
        <div class="col-lg-4">
            <select  formControlName="rating3" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating3.errors && (log.rating3.dirty || log.rating3.touched)" class="m-b-10 error">
                <div *ngIf="log.rating3.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            How do rate our  product compare to our competitior?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating4" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating4.errors && (log.rating4.dirty || log.rating4.touched)" class="m-b-10 error">
                <div *ngIf="log.rating4.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
      <h5>After Sale Service</h5>
      <br>
      <div class="row">
        <div class="col-lg-6 control-label">
          Are you satisfied with the response given by the technician?
        </div>
        <div class="col-lg-4">
          <select formControlName="rating5" class="form-control">
            <option value="null" disabled>Select Rating</option>
            <option value="4">Excellent</option>
            <option value="3">Very Good</option>
            <option value="2">Good</option>
            <option value="1">Average</option>

          </select>
          <div *ngIf="log.rating5.errors && (log.rating5.dirty || log.rating5.touched)" class="m-b-10 error">
            <div *ngIf="log.rating5.errors.required" style="color:red">Rating
              {{'USER.REQ' | translate}} </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 control-label">
          Has the technician attended the site within a reasonable time as committed?
        </div>
        <div class="col-lg-4">
          <select formControlName="rating6" class="form-control">
            <option value="null" disabled>Select Rating</option>
            <option value="4">Excellent</option>
            <option value="3">Very Good</option>
            <option value="2">Good</option>
            <option value="1">Average</option>

          </select>
          <div *ngIf="log.rating6.errors && (log.rating6.dirty || log.rating6.touched)" class="m-b-10 error">
            <div *ngIf="log.rating6.errors.required" style="color:red">Rating
              {{'USER.REQ' | translate}} </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 control-label">
          Are you satisfied with the professional conduct of the Service Personnel?
        </div>
        <div class="col-lg-4">
          <select formControlName="rating7" class="form-control">
            <option value="null" disabled>Select Rating</option>
            <option value="4">Excellent</option>
            <option value="3">Very Good</option>
            <option value="2">Good</option>
            <option value="1">Average</option>

          </select>
          <div *ngIf="log.rating7.errors && (log.rating7.dirty || log.rating7.touched)" class="m-b-10 error">
            <div *ngIf="log.rating7.errors.required" style="color:red">Rating
              {{'USER.REQ' | translate}} </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 control-label">
          Did you find the technician competent enough to resolve the problem?
        </div>
        <div class="col-lg-4">
          <select formControlName="rating8" class="form-control">
            <option value="null" disabled>Select Rating</option>
            <option value="4">Excellent</option>
            <option value="3">Very Good</option>
            <option value="2">Good</option>
            <option value="1">Average</option>

          </select>
          <div *ngIf="log.rating8.errors && (log.rating8.dirty || log.rating8.touched)" class="m-b-10 error">
            <div *ngIf="log.rating8.errors.required" style="color:red">Rating
              {{'USER.REQ' | translate}} </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 control-label">
          Are you satisfied with the resolution Provided?
        </div>
        <div class="col-lg-4">
          <select formControlName="rating9" class="form-control">
            <option value="null" disabled>Select Rating</option>
            <option value="4">Excellent</option>
            <option value="3">Very Good</option>
            <option value="2">Good</option>
            <option value="1">Average</option>

          </select>
          <div *ngIf="log.rating9.errors && (log.rating9.dirty || log.rating9.touched)" class="m-b-10 error">
            <div *ngIf="log.rating9.errors.required" style="color:red">Rating
              {{'USER.REQ' | translate}} </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 control-label">
          Have you read & understood the safety precautions pasted on cell/battery?
        </div>
        <div class="col-lg-4">
          <select formControlName="rating12" class="form-control">
            <option value="null" disabled>Select Rating</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <div *ngIf="log.rating12.errors && (log.rating12.dirty || log.rating12.touched)" class="m-b-10 error">
            <div *ngIf="log.rating12.errors.required" style="color:red">Rating
              {{'USER.REQ' | translate}} </div>

          </div>
        </div>
      </div>
      <!-- <h5>Safety</h5>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Is the training given by manufacturer helping you in handling the battery safely and accetent free
        </div>
        <div class="col-lg-4">
            <select formControlName="rating10" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating10.errors && (log.rating10.dirty || log.rating10.touched)" class="m-b-10 error">
                <div *ngIf="log.rating10.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Can you able to excecute the installation and commissioningof VRLA batteries easily in your opinion on all the above factors who is your nearest choice (competitor)?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating11" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating11.errors && (log.rating11.dirty || log.rating11.touched)" class="m-b-10 error">
                <div *ngIf="log.rating11.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>-->
      <br>
      <h5>Remarks</h5>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <textarea rows="6" resize="none" cols="50" class="form-control  feedback-textares" formControlName="remarks">

        </textarea>
        </div>
      </div>
      <br>


    </form>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
      <button class="btn btn-outline-success  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSubmit}"
        [disabled]="!Feedback.valid" (click)="customer_feedback()">{{'NEW_SUBSCRIPTION.SUB' |
        translate}}</button>

    </div>
  </div>
</ng-template>

<ng-template #ImageView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Resolution Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body datatable-center">
    <img class="image_size" src={{httplink}}{{image_or_video}}>
    <div class="mt-3">
      <a class="btn btn-outline-success btn-sm btn-pill custom-btn imageviewbtn" href="{{httplink}}{{image_or_video}}"
        target="blank">View Image</a>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
  </div> -->
</ng-template>