.kt-heading.kt-heading--md.product-head {
    margin-top: -13px;
    margin-left: 9px;
}
button.btn.btn-info.pull-right {
    margin-top: -53px;
    margin-right: 11px;
}
.kt-separator {
    height: 0;
    margin: 0px;
    margin-top: -7px;
}
.form-control{
    width: 18%;
    display: inline-block;
    float: right;
    // margin-top: 2px;
}

.portlet__body{
    padding: 8px;
}
.form-control{
    width: 100%;
}
.text-color{
    color: #5867dd;
}
.color_text{
    color: #646c9a;
}
.text-color:hover{
    color: #ffffff;
}
.disabledsubmit{
    cursor: not-allowed;
}
.tablewidth{
    width:13%;
}
.tablewidthtwenty{
    width:20%;
}
.forcomments{
    font-size:16px !important;
}
.feedback-textares{
    resize:none;
}
.txt_clr{
    color:black;
}
.image_size{
    max-width: 50%;
    height:250px;
}