<kt-portlet [class]="'kt-portlet--height-fluid'">
    <div class="row">
        <button (click)=open(addcustomername)>addcustomername</button>
        <button (click)=open(addcustomerid)>addcustomerid</button>
        <button (click)=open(addsiteid)>addsiteid</button>
        <button (click)=open(addproductdetails)>addproductdetails</button>
        <button (click)=open(raisecall)>Raisecall</button>
        <button (click)=open(addcustomernumber)>addcustomernumber</button>
        <button (click)=open(newadd)>newadd</button>
    </div>

</kt-portlet>


<ng-template #addcustomername let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Warranty Registration </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <h2>Customer info</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Type: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Type--</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Important">Important</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Name: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                    id="customer_name" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONNUMBER' | translate}} </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" placeholder="Enter Contact Number"
                                    [(ngModel)]='con_number' name="contact_number"
                                    (change)="addContactValidation();addacontact()" (keypress)="numberOnly($event)"
                                    onKeyPress="if(this.value.length==10) return false;" />


                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="alternate_number"
                                    placeholder="Enter Alternate Number" name="alternate_number"
                                    (change)="addacontact()" onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="numberOnly($event)" />


                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'NEW_SUBSCRIPTION.EMAIL' |
                                translate}}:</label>
                            <div class="col-sm-7 col-md-7">
                                <input class="form-control" type="text" id="email_id" name="email_id"
                                    (change)="addEmailValidation()" placeholder="Enter Email Address" />



                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

                <h2>Site Address Info</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact person Name: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                    id="customer_name" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact person Number: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="alternate_number"
                                    placeholder="Enter Contact Number" name="alternate_number" (change)="addacontact()"
                                    onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="numberOnly($event)" />


                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Plot Number:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STRS' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- label for Landmark -->
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.LAND' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for Country -->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.COUNTRY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeCountry($event.target.value)">
                                    <option value="null">--Select Country--</option>
                                    <option *ngFor="let items of country" [value]=items.country_id>
                                        {{items.country_name}}</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- label for State-->
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STATE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeState($event.target.value)">
                                    <option value="null">--Select State-- </option>
                                    <option *ngFor="let items of states" [value]=items.state_id>
                                        {{items.state_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for City-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.CITY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangecity($event.target.value)">
                                    <option value="null">--Select District-- </option>
                                    <option *ngFor="let items of cities" [value]=items.city_id>
                                        {{items.city_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <!-- label for Location-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.LOCATION' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Location-- </option>
                                    <option *ngFor="let items of locations" [value]=items.location_id>
                                        {{items.location_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.POSCODE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">

                                <input type="text" class="form-control" name="post_code" id="post_code"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                                    onKeyPress="if(this.value.length==6) return false;"
                                    (keypress)="numberOnly($event)" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">{{'USER.NEXT_STEP' |
                        translate}}</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>

<ng-template #addcustomerid let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Warranty Registration </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <h2>Customer info</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Type: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Type--</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Important">Important</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Id: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="customer_id" placeholder="Enter Id"
                                    id="customer_id" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONNUMBER' | translate}} </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" placeholder="Enter Contact Number"
                                    [(ngModel)]='con_number' name="contact_number"
                                    (change)="addContactValidation();addacontact()" (keypress)="numberOnly($event)"
                                    onKeyPress="if(this.value.length==10) return false;" />


                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="alternate_number"
                                    placeholder="Enter Alternate Number" name="alternate_number"
                                    (change)="addacontact()" onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="numberOnly($event)" />


                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'NEW_SUBSCRIPTION.EMAIL' |
                                translate}}:</label>
                            <div class="col-sm-7 col-md-7">
                                <input class="form-control" type="text" id="email_id" name="email_id"
                                    (change)="addEmailValidation()" placeholder="Enter Email Address" />



                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

                <h2>Site Address Info</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact person Name: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                    id="customer_name" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact person Number: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="alternate_number"
                                    placeholder="Enter Contact Number" name="alternate_number" (change)="addacontact()"
                                    onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="numberOnly($event)" />


                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Plot Number:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STRS' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- label for Landmark -->
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.LAND' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for Country -->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.COUNTRY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeCountry($event.target.value)">
                                    <option value="null">--Select Country--</option>
                                    <option *ngFor="let items of country" [value]=items.country_id>
                                        {{items.country_name}}</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- label for State-->
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STATE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeState($event.target.value)">
                                    <option value="null">--Select State-- </option>
                                    <option *ngFor="let items of states" [value]=items.state_id>
                                        {{items.state_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for City-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.CITY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangecity($event.target.value)">
                                    <option value="null">--Select District-- </option>
                                    <option *ngFor="let items of cities" [value]=items.city_id>
                                        {{items.city_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <!-- label for Location-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.LOCATION' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Location-- </option>
                                    <option *ngFor="let items of locations" [value]=items.location_id>
                                        {{items.location_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.POSCODE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">

                                <input type="text" class="form-control" name="post_code" id="post_code"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                                    onKeyPress="if(this.value.length==6) return false;"
                                    (keypress)="numberOnly($event)" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">{{'USER.NEXT_STEP' |
                        translate}}</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<ng-template #addsiteid let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Customer Id And Site Details </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">
                +
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Id: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Customer Id--</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact Person Name: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="contact_name"
                                    placeholder="Enter Contact person Name" id="contact_name" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONNUMBER' | translate}} </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" placeholder="Enter Contact Number"
                                    [(ngModel)]='con_number' name="contact_number"
                                    (change)="addContactValidation();addacontact()" (keypress)="numberOnly($event)"
                                    onKeyPress="if(this.value.length==10) return false;" />


                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Plot Number:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STRS' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.LAND' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">

                            </div>
                        </div>
                    </div>
                </div>


                <br>

                <div class="row">

                    <div class="col-md-6">
                        <!-- label for Country -->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.COUNTRY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeCountry($event.target.value)">
                                    <option value="null">--Select Country--</option>
                                    <option *ngFor="let items of country" [value]=items.country_id>
                                        {{items.country_name}}</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STATE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeState($event.target.value)">
                                    <option value="null">--Select State-- </option>
                                    <option *ngFor="let items of states" [value]=items.state_id>
                                        {{items.state_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <!-- label for City-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.CITY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangecity($event.target.value)">
                                    <option value="null">--Select District-- </option>
                                    <option *ngFor="let items of cities" [value]=items.city_id>
                                        {{items.city_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for Location-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.LOCATION' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Location-- </option>
                                    <option *ngFor="let items of locations" [value]=items.location_id>
                                        {{items.location_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.POSCODE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">

                                <input type="text" class="form-control" name="post_code" id="post_code"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                                    onKeyPress="if(this.value.length==6) return false;"
                                    (keypress)="numberOnly($event)" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<ng-template #addproductdetails let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Adding Site Id & Customer Id </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Product Category: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select product--</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                SubProduct Category: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select subproduct--</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Model </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select model--</option>

                                </select>


                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Sys AH:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select System AH--</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">Serial Number:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" placeholder="Enter serial number" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Warranty type:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Warranty type--</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <br>

                <div class="row">

                    <div class="col-md-6">
                        <!-- label for Country -->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">Segment:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Segment--</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">Application:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Application--</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <!-- label for City-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">Sales channel:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Sales channel--</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for Location-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">Invoice Number:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="invoice_number" id="invoice_number"
                                    placeholder="Enter Invoice Number" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Invoice Date:
                            </label>
                            <div class="col-sm-7 col-md-7">

                                <div class="input-group date">
                                    <input type="text" class="form-control" placeholder="Enter Invoice Date"
                                        ngbDatepicker #d="ngbDatepicker" required>
                                    <div class="input-group-append">

                                        <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                            <i class="la la-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<ng-template #raisecall let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Raise call </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Call Category: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Call category--</option>


                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Priority: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Priority--</option>


                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Preferred Date:</label>
                            <div class="col-sm-7 col-md-7">

                                <div class="input-group date">
                                    <input type="text" class="form-control" placeholder="Enter Preferred  Date"
                                        ngbDatepicker #d="ngbDatepicker" required>
                                    <div class="input-group-append">

                                        <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                            <i class="la la-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Upload Image: </label>
                            <div class="col-sm-7 col-md-7">
                                <div class="custom-file mb-3">
                                    <input type="hidden" value="" name="file-upload">
                                    <input type="file" name="file" accept="image/*" class="fileInputProfile" />
                                    <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose
                                        file</label>
                                    <label *ngIf="ByDefault" class="custom-file-label"
                                        for="customFile">{{Filename}}</label>
                                </div>
                                <!-- <p style="color: red">{{message}}</p>
                            <p style="color: red;">{{load}}</p>
                            <p style="color: red">{{imageError}}</p> -->
                                <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                                    <div class="img-space">
                                           <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                                    </div>
                            </ng-container>
                  
                            <a class="btn btn-danger" (click)="removeImages()"
                                    *ngIf="isImageSaved">{{'SITE.REMOVE' | translate}}</a>
                    -->


                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">Problem Description:</label>
                            <div class="col-sm-7 col-md-7">
                                <input class="form-control" type="text" id="problem_desc" name="problem_desc"
                                    placeholder="Enter Description" />



                            </div>
                        </div>
                    </div>
                </div>
                <br>




            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">{{'USER.NEXT_STEP' |
                        translate}}</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<ng-template #addcustomernumber let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">Warranty Registration </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <h2>Customer info</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Type: </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Type--</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Important">Important</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Customer Name: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                    id="customer_name" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONNUMBER' | translate}} </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" placeholder="Enter Contact Number"
                                    [(ngModel)]='con_number' name="contact_number"
                                    (change)="addContactValidation();addacontact()" (keypress)="numberOnly($event)"
                                    onKeyPress="if(this.value.length==10) return false;" />


                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="alternate_number"
                                    placeholder="Enter Alternate Number" name="alternate_number"
                                    (change)="addacontact()" onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="numberOnly($event)" />


                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'NEW_SUBSCRIPTION.EMAIL' |
                                translate}}:</label>
                            <div class="col-sm-7 col-md-7">
                                <input class="form-control" type="text" id="email_id" name="email_id"
                                    (change)="addEmailValidation()" placeholder="Enter Email Address" />



                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

                <h2>Site Address Info</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact person Name: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                    id="customer_name" maxlength="48" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Contact person Number: </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="alternate_number"
                                    placeholder="Enter Contact Number" name="alternate_number" (change)="addacontact()"
                                    onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="numberOnly($event)" />


                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                Plot Number:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STRS' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- label for Landmark -->
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.LAND' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" class="form-control"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for Country -->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.COUNTRY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeCountry($event.target.value)">
                                    <option value="null">--Select Country--</option>
                                    <option *ngFor="let items of country" [value]=items.country_id>
                                        {{items.country_name}}</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- label for State-->
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STATE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangeState($event.target.value)">
                                    <option value="null">--Select State-- </option>
                                    <option *ngFor="let items of states" [value]=items.state_id>
                                        {{items.state_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!-- label for City-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.CITY' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control" (change)="onChangecity($event.target.value)">
                                    <option value="null">--Select District-- </option>
                                    <option *ngFor="let items of cities" [value]=items.city_id>
                                        {{items.city_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <!-- label for Location-->
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.LOCATION' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <select class="form-control">
                                    <option value="null">--Select Location-- </option>
                                    <option *ngFor="let items of locations" [value]=items.location_id>
                                        {{items.location_name}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5 col-sm-5">
                                {{'RAISETCKT.POSCODE' | translate}}:
                            </label>
                            <div class="col-sm-7 col-md-7">

                                <input type="text" class="form-control" name="post_code" id="post_code"
                                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                                    onKeyPress="if(this.value.length==6) return false;"
                                    (keypress)="numberOnly($event)" />

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <!-- <mat-divider></mat-divider> -->

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">{{'USER.NEXT_STEP' |
                        translate}}</button>
                </div>
            </div>

        </div>
    </div>
</ng-template>

<ng-template #newadd let-c="close" let-d="dismiss">
    <div class="modal-header ">
      <h4 class="modal-title">Adding Customer Id</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="kt-section">
        <ngb-tabset [justify]="currentJustify" activeId="{{activeId}}" (tabChange)="fetchNews($event)" #tab>
         
          <ngb-tab id="tab-selectbyida" title="Customer Details" >
            <ng-template ngbTabContent>
                <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <h2>Customer info</h2>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Customer Type: </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select Type--</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Important">Important</option>
    
                                    </select>
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Customer Name: </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                        id="customer_name" maxlength="48" />
    
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    {{'RAISETCKT.CONNUMBER' | translate}} </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" placeholder="Enter Contact Number"
                                        [(ngModel)]='con_number' name="contact_number"
                                        (change)="addContactValidation();addacontact()" (keypress)="numberOnly($event)"
                                        onKeyPress="if(this.value.length==10) return false;" />
    
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    {{'RAISETCKT.CONALTNUMBER' | translate}}: </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" id="alternate_number"
                                        placeholder="Enter Alternate Number" name="alternate_number"
                                        (change)="addacontact()" onKeyPress="if(this.value.length==10) return false;"
                                        (keypress)="numberOnly($event)" />
    
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
    
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">{{'NEW_SUBSCRIPTION.EMAIL' |
                                    translate}}:</label>
                                <div class="col-sm-7 col-md-7">
                                    <input class="form-control" type="text" id="email_id" name="email_id"
                                        (change)="addEmailValidation()" placeholder="Enter Email Address" />
    
    
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- <mat-divider></mat-divider> -->
    
                    <h2>Site Address Info</h2>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Contact person Name: </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" name="customer_name" placeholder="Enter Name"
                                        id="customer_name" maxlength="48" />
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Contact person Number: </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" id="alternate_number"
                                        placeholder="Enter Contact Number" name="alternate_number" (change)="addacontact()"
                                        onKeyPress="if(this.value.length==10) return false;"
                                        (keypress)="numberOnly($event)" />
    
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Plot Number:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control"
                                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STRS' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control"
                                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- label for Landmark -->
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    {{'RAISETCKT.LAND' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control"
                                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <!-- label for Country -->
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.COUNTRY' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control" (change)="onChangeCountry($event.target.value)">
                                        <option value="null">--Select Country--</option>
                                        <option *ngFor="let items of country" [value]=items.country_id>
                                            {{items.country_name}}</option>
    
                                    </select>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- label for State-->
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STATE' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control" (change)="onChangeState($event.target.value)">
                                        <option value="null">--Select State-- </option>
                                        <option *ngFor="let items of states" [value]=items.state_id>
                                            {{items.state_name}}</option>
                                    </select>
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <!-- label for City-->
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.CITY' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control" (change)="onChangecity($event.target.value)">
                                        <option value="null">--Select District-- </option>
                                        <option *ngFor="let items of cities" [value]=items.city_id>
                                            {{items.city_name}}</option>
                                    </select>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- label for Location-->
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.LOCATION' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select Location-- </option>
                                        <option *ngFor="let items of locations" [value]=items.location_id>
                                            {{items.location_name}}</option>
                                    </select>
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    {{'RAISETCKT.POSCODE' | translate}}:
                                </label>
                                <div class="col-sm-7 col-md-7">
    
                                    <input type="text" class="form-control" name="post_code" id="post_code"
                                        placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                                        onKeyPress="if(this.value.length==6) return false;"
                                        (keypress)="numberOnly($event)" />
    
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <!-- <mat-divider></mat-divider> -->
    
                </form>
                <div class="modal-footer">
                    <div class="text-center">
                        <div class="row">
                            <div class="">
                                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                                    (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                                <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">{{'USER.NEXT_STEP' |
                                    translate}}</button>
                            </div>
                        </div>
            
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyidb" title="Product Details" class="tabnocursor">
            <ng-template ngbTabContent>
                <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Product Category: </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select product--</option>
    
                                    </select>
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    SubProduct Category: </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select subproduct--</option>
    
                                    </select>
    
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Model </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select model--</option>
    
                                    </select>
    
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Sys AH:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select System AH--</option>
    
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
    
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">Serial Number:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" placeholder="Enter serial number" />
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Warranty type:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select Warranty type--</option>
    
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <br>
    
                    <div class="row">
    
                        <div class="col-md-6">
                            <!-- label for Country -->
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">Segment:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select Segment--</option>
    
                                    </select>
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">Application:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select Application--</option>
    
                                    </select>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
    
                        <div class="col-md-6">
                            <!-- label for City-->
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">Sales channel:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <select class="form-control">
                                        <option value="null">--Select Sales channel--</option>
    
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <!-- label for Location-->
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">Invoice Number:
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" class="form-control" name="invoice_number" id="invoice_number"
                                        placeholder="Enter Invoice Number" />
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5">
                                    Invoice Date:
                                </label>
                                <div class="col-sm-7 col-md-7">
    
                                    <div class="input-group date">
                                        <input type="text" class="form-control" placeholder="Enter Invoice Date"
                                            ngbDatepicker #d="ngbDatepicker" required>
                                        <div class="input-group-append">
    
                                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                                <i class="la la-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <!-- <mat-divider></mat-divider> -->
    
                </form>
                <div class="modal-footer">
                    <div class="text-center">
                        <div class="row">
                            <div class="">
                                <button class="btn btn-outline-info  btn-pill btn-sm custom-btn" data-ktwizard-type="action-prev"
                                (click)="tab.select('tab-selectbyida')">
                                {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                              </button>
                                <button class="btn btn-outline-red btn-sm btn-pill custom-btn"
                                    (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                                <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">Save and Continue</button>
                                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn ">Confirm</button>
                            </div>
                        </div>
            
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
  
       
        </ngb-tabset>
      </div>
    </div>
  </ng-template>