<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'TRAININGSCORE.ATTENTANCER' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>
        <form [formGroup]="filterAttendance">
            <div class="row">

                <div class="col-md-12"></div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="from_date"
                            placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" [(ngModel)]="from" ngbDatepicker
                            #d="ngbDatepicker" required>
                        <div class="input-group-append">

                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="to_date"
                            placeholder="{{'TRAININGSCORE.TODATE' | translate}}" [(ngModel)]="to" ngbDatepicker
                            #e="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-2">
                    <!--                 <div><strong>Technician:</strong></div>
 -->
                    <select formControlName="technician_code" class="form-control" #location name="technician_code">
                        <option value="">ALL Technicians</option>
                        <option *ngFor="let tech of alltech" value="{{tech.employee_code}}">
                            {{tech.full_name}}</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                        (click)="filterAttendanceF()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2"
                        (click)="exportAsXLSX()">
                        {{'TRAININGSCORE.EXCEL' | translate}}</button>
                </div>
            </div>



        </form>
        <br>

        <div class="kt-section__content">
            <div class="table-responsive">

                <table *ngIf="showTable" datatable="ng" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <!-- columns for  table -->
                        <tr>
                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>

                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'REIM.TECHID' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'IMPRESTSPARE.NAME' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'RAISETCKT.LOCATION' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.AVAIL' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.DATE' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.INTIME' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.OUTTIME' | translate}}</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of attendance_report; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>
                                <a class="button" (click)="customerDetails(items.technician_id,tech_details);"
                                    data-placement="bottom" ngbTooltip="View Details">{{items.technician_id}}
                                </a>
                            </td>
                            <td>{{items.technician_name}}
                            </td>
                            <td>{{items.location}} </td>
                            <td>{{items.availability}}</td>
                            <td>
                                {{items.created_date}}
                            </td>
                            <td>{{items.in_time}}</td>
                            <td>{{items.out_time}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <ng-template #tech_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' |
                            translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.technician_code}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.TCH_NAME' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">
                            {{technician_details.full_name}}</div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.skill_level}}
                        </div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.contact_number}}
                        </div>
                    </div>
                    <!-- <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                        <div class="col-sm-7 control-label  overflow-details " rows="5" cols="50" readonly>
                            {{technician_details.location}}</div>
                    </div> -->
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                        for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
                    <div class="col-sm-7 txt_clr  overflow-details " rows="5" cols="50" readonly>
                        <!-- {{technician_details.technician_type}} -->
                        <div *ngIf="technician_details.technician_type ==  1">Inhouse Technician</div>
                        <div *ngIf="technician_details.technician_type ==  2">Partner Service Engineer</div> 
                    
                    
                    </div>
                </div>
                    <!-- <div class="form-group">
                    <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label" for="inputPassword3">{{'RAISETCKT.PRODUCT' | translate}}:</label>
                    <div class="col-sm-7 control-label" style="float: right;">{{technician_details.product}}</div>
                </div>
                <div class="form-group">
                    <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label" for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' | translate}}:</label>
                    <div class="col-sm-7 control-label" style="float: right;">{{technician_details.sub_product}}</div>
                </div> -->
                </form>
            </div>
        </ng-template>
    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>