<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title=" {{'NEWTCKT.REVENUEREPORT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>

        <form [formGroup]="filterSpare">
            <div class="row">


                <div class="col-md-3">
                    <!-- <div class="col-md-12"> -->
                    <!-- <div class="pull-right"> -->
                    <select class="form-control" formControlName="contract_type">
                        <option value="">ALL</option>
                        <option value="AMC Contract" selected="AMC Contract">AMC Contract</option>
                        <option value="Service billing">Service billing</option>
                        <option value="Spare billing">Spare billing</option>
                        <!-- <option value="year">This Year</option> -->
                    </select>

                    <!-- </div> -->
                </div>
                <!-- </div> -->
                <!-- <br> -->

                <div class="col-md-3">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="from_date" [(ngModel)]="from"
                            placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="input-group date">
                        <input type="text" class="form-control" formControlName="to_date" [(ngModel)]="to"
                            placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    <select formControlName="product_id" class="form-control" #product>
                        <option value="">ALL Products</option>
                        <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">

                <div class="col-md-3">
                    <select formControlName="location_id" class="form-control" #location>
                        <option value="">ALL Towns</option>
                        <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <!--                 <div><strong>Technician:</strong></div>
 -->
                    <select formControlName="technician_code" class="form-control" #location name="technician_code">
                        <option value="">ALL Technicians</option>
                        <option *ngFor="let tech of alltech" value="{{tech.employee_code}}">
                            {{tech.full_name}}</option>
                    </select>

                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn mt-2"
                        style="margin-left:10px;margin-top: 0px;" (click)="filterSpareF()">{{'NEW_SUBSCRIPTION.SUB' |
                        translate}}</button>
                    <!-- <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right" (click)="exportAsXLSX()">
                     {{'TRAININGSCORE.EXCEL' | translate}}</button> -->
                </div>

            </div>



        </form>
        <br>


        <div *ngIf="type=='AMC Contract'">
            <div class="kt-section__content">
                <div>
                    <table datatable="ng" [dtOptions]="dtOptions"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <!-- columns for  table -->
                            <tr>


                                <th style="width: 10%;" class="kt-footer kt-container max-tables">
                                    {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'RAISETCKT.TICKET_ID' | translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'NEWTCKT.TCH_ID' | translate}}
                                </th>

                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'SPARE.CONTRACT' | translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                    {{'SPARE.AMT' | translate}}
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of spare_amc; let i = index">
                                <td class="datatable-center">{{i+1}}</td>
                                <td><a style="cursor: pointer;" class="button"
                                        (click)="ticketDetails(item.ticket_id,ticket_details)" data-placement="bottom"
                                        ngbTooltip="View Details">
                                        {{item.ticket_id}}</a>

                                </td>
                                <td> <a class="button" (click)="customerDetails(item.technician_id,tech_details);"
                                        data-placement="bottom" ngbTooltip="View Details">{{item.technician_id}}
                                    </a>
                                </td>

                                <td>{{item.amc_type}}
                                </td>

                                <td class="datatable-center">{{item.ammount}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="type=='Service billing'">
            <div class="kt-section__content">
                <div>
                    <table datatable="ng" [dtOptions]="dtOptions"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <!-- columns for  table -->
                            <tr>

                                <th style="width: 10%;" class="kt-footer kt-container max-tables">
                                    {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}
                                </th>

                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'RAISETCKT.TICKET_ID' | translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'NEWTCKT.TCH_ID' | translate}}
                                </th>


                                <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                    {{'SPARE.AMT' | translate}}
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of spare_service; let i = index">
                                <td class="datatable-center">{{i+1}}</td>
                                <td><a style="cursor: pointer;" class="button"
                                        (click)="ticketDetails(item.ticket_id,ticket_details)" data-placement="bottom"
                                        ngbTooltip="View Details">
                                        {{item.ticket_id}}</a>
                                </td>
                                <td> <a style="cursor: pointer;" class="button"
                                        (click)="customerDetails(item.technician_id,tech_details);"
                                        data-placement="bottom" ngbTooltip="View Details">{{item.technician_id}}
                                    </a>
                                </td>



                                <td class="datatable-center">{{item.ammount}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="type=='Spare billing'">
            <div class="kt-section__content">
                <div>
                    <table datatable="ng" [dtOptions]="dtOptions"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <!-- columns for  table -->
                            <tr>

                                <th style="width: 10%;" class="kt-footer kt-container max-tables">
                                    {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                </th>

                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'RAISETCKT.TICKET_ID' | translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container">
                                    {{'NEWTCKT.TCH_ID' | translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                    {{'ONGO.REQUEST_SPARE' | translate}}
                                </th>

                                <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                    {{'SPARE.AMT' | translate}}
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of spare_revenue; let i = index">
                                <td class="datatable-center">{{i+1}}</td>
                                <td><a style="cursor: pointer;" class="button"
                                        (click)="ticketDetails(item.ticket_id,ticket_details)" data-placement="bottom"
                                        ngbTooltip="View Details">
                                        {{item.ticket_id}}</a>
                                </td>
                                <td> <a style="cursor: pointer;" class="button"
                                        (click)="customerDetails(item.technician_id,tech_details);"
                                        data-placement="bottom" ngbTooltip="View Details">{{item.technician_id}}
                                    </a>
                                </td>

                                <td class="datatable-center"> <button style="padding:0px;" class="btn btn-base"
                                        (click)="getspare(item.ticket_id,spare)">
                                        <i class="fa fa-eye icon-green" aria-hidden="true"></i></button></td>


                                <td class="datatable-center">{{item.ammount}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>

<ng-template #spare let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table *ngIf="SpareTable" datatable [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover">
            <thead>
                <tr>
                    <th style="width: 33%;" class="kt-footer kt-container">
                        {{'SPAREMASTER.SPARE_CODE' | translate}}
                    </th>
                    <th style="width: 33%;" class="kt-footer kt-container">
                        {{'IMPRESTSPARE.SPARE' | translate}}
                    </th>
                    <th style="width: 33%;" class="kt-footer kt-container">
                        {{'SPARE.SPARELOCATION' | translate}}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of spare_details; let i = index">
                    <td>{{item.spare_code}}</td>
                    <td>{{item.spare_quantity}}</td>
                    <td>{{item.spare_location.spare_location}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
            (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>

    </div> -->

</ng-template>

<ng-template #ticket_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'RAISETCKT.TICKET_ID' | translate}}</label>
                <div class="col-sm-6 control-label" style="float: right;">{{ticket_data.ticket_id}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}</label>
                <div class="col-sm-6 control-label" style="float: right;">{{ticket_data.customer_code}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}</label>
                <div class="col-sm-6 control-label" style="float: right;text-transform: capitalize;">
                    {{ticket_data.customer_name}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'NEWTCKT.LOC' | translate}}:</label>
                <div class="col-sm-6 control-label" style="float: right;"> {{ticket_data.location}}</div>
            </div>

            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}</label>
                <div class="col-sm-6 control-label" style="float: right;">{{ticket_data.priority}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}</label>
                <div class="col-sm-6 control-label" style="float: right;">{{ticket_data.contract_type}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'SPARE.MODEL' | translate}}</label>
                <div class="col-sm-6 control-label" style="float: right;">{{ticket_data.model}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'MANAGECONT.SERIALNO' | translate}}:</label>
                <div class="col-sm-6 control-label" style="float: right;">{{ticket_data.serial_no}}</div>
            </div>

        </form>
    </div>
</ng-template>
<!-- view for technician details -->
<ng-template #tech_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technician_details.technician_code}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputPassword3">{{'NEWTCKT.CUS_NAME' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;text-transform: capitalize;">
                    {{technician_details.full_name}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technician_details.skill_level}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technician_details.contact_number}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technician_details.location}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'RAISETCKT.PRODUCT' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technician_details.product}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technician_details.sub_product}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'COMTICK.TECH_TYP' | translate}}:</label>
                <!-- <div class="col-sm-7 control-label" style="float: right;">{{technician_details.technician_type}}</div> -->
                <div *ngIf="technician_details.technician_type ==  1">Inhouse Technician</div>
                <div *ngIf="technician_details.technician_type ==  2">Partner Service Engineer</div>
            </div>
        </form>
    </div>
</ng-template>