<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'COMTICK.TITLE' | translate}}">
    <!--heading for portlet-->

  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body style="padding-top: 0;">

    <!-- <div class="row">
      <div class="kt-heading kt-heading--md product-head">{{'COMPLETEDTICKETS.TITLE' | translate}}</div>

      <div class="col-md-12"> -->
    <!-- <button type="button" class="btn btn-info pull-right" (click)="openmodal(adduser);"><i class="fa fa-plus"
              aria-hidden="true"></i>{{'NEWTCKT.ADD' | translate}}</button> -->
    <!-- <button class="btn btn-info pull-right " (click)="openmodal(bulkupload)"><i class="fa fa-upload"
            aria-hidden="true"></i>Bulk Upload </button> -->
    <!-- </div>
      <div class="col-md-0" style="display:none">
      </div>
    </div> -->
    <!-- <div class="kt-separator kt-separator"></div>

    
      <br> -->
    <br>
    <div>
      <div class="kt-section__content">

        <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab>
          <!-- tab for Unassigned Tickets -->
          <ngb-tab title="Completed Tickets" id="tab-selectbyid1">
            <ng-template ngbTabContent>
              <kt-portlet-body class="portlet__body">
                <!-- <div class="container" style="margin-top: 2%"> -->
                <!-- <div class="kt-section__content"> -->

                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                  [formGroup]="ProductLocation">
                  <!-- (ngSubmit)="editform(data)" -->
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2 ml-auto pr-0">
                        <select formControlName="date_format" class="form-control" #date_format name="date_format"
                          (change)="onChangeSearch($event.target.value)">
                          <option value="">ALL Periods</option>
                          <option value="today">Today</option>
                          <option value="week">This Week</option>
                          <option value="month">This Month</option>
                          <option value="year">This Year</option>
                        </select>
                      </div>

                      <div class="col-md-2 pr-0">
                        <select formControlName="product_id" class="form-control ml-2" #product
                          (change)="onChangeSearch($event.target.value)">
                          <option selected="" value="">ALL Products</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>
                      </div>

                      <div class="col-md-2 pr-0">
                        <select formControlName="location_id" class="form-control ml-2" #location name="location_id"
                          (change)="onChangeSearch($event.target.value)">
                          <option selected="" value="">ALL Towns</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </form>
                <br>
                <div class="kt-section__content" style="padding: 9px;">
                  <!-- <div class="table-responsive"> -->
                    <table id="datatables" class="table table-striped table-bordered table-sm row-border hover datatable">

                    <thead>
                      <!-- columns for  table -->
                      <tr>
                        <th class="tablewidth kt-footer kt-container max-tables">
                          {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">{{'NEWTCKT.TCKID' | translate}}</th>
                        <th class="tablewidth kt-footer kt-container">{{'NEWTCKT.CUS_NAME' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">{{'NEWTCKT.PRODUCT' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container">{{'NEWTCKT.SUBPRODUCT' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container"> {{'CUSTOMER.MONUM' | translate}}</th>
                        <th class="tablewidth kt-footer kt-container ">{{'COMPLETEDTICKETS.SLNO' | translate}}
                        </th>
                        <th class="tablewidth kt-footer kt-container ">Resolution Image
                        </th>
                        <th class="tablewidth kt-footer kt-container max-tables"> {{'COMTICK.DOWNLOADSCTR' | translate}}</th>

                      </tr>
                    </thead>
                    <tbody *ngIf="completed_ticket_data?.length != 0">
                      <tr *ngFor="let items of completed_ticket_data; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td><a class="button" (click)="get_ticket_details(items.ticket_id,view_tcktdetails)"
                            style="color: #242fb7" data-placement="bottom"
                            ngbTooltip="View Details">{{items.ticket_id}}</a>
                        </td>
                        <td>{{items.customer_name}}</td>
                        <td>{{items.product.product_name}}</td>
                        <td>{{items.subproduct.product_sub_name}}</td>
                        <td>{{items.model_no}}</td>
                        <td>{{items.serial_no}}</td>
                        <td class="datatable-center" >
                          <div *ngIf="items.image == '' || items.image == 'null'||items.image == undefined;else elseBlock">
                            -
                            </div>
                            <ng-template #elseBlock> 
                                <button class="btn btn-base"
                                (click)="openmodalview(ImageView,items.image)">
                                <i class="fas fa-image" style="font-size:21px;color:gray;"
                                    aria-hidden="true"></i>
                            </button>
                            </ng-template>
                        </td>
                        <!-- <td class="datatable-center">
                          <button class="btn btn-base" (click)="openmodalview(ImageView,items.image)">
                            <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                          </button>
                        </td> -->
                        <!-- <td *ngIf="items.image !=''  " class="datatable-center">
                          <button class="btn btn-base" (click)="openmodalview(ImageView,items.image)">
                            <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                          </button>
                        </td>
                        <td class="datatable-center"
                          *ngIf="items.image == '' || items.image == null ||items.image == undefined ">
                          -
                        </td> -->
                        <td class="datatable-center">
                          <a style="cursor: pointer;" (click)="downloadPdfs(items.ticket_id)"><i class="fas fa-file-pdf"
                              aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="completed_tickets?.length == 0">
                      <!-- <tr colspan="3" style="text-align: center;">No records found -->
                      <div colspan="3" style="text-align: end;">No records found</div>
                      <!-- </tr> -->
                    </tbody>
                  </table>
                  <!-- </div> -->
                </div>
                <!-- </div> -->
                <!-- </div> -->
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>

          <!-- tab for Assigned Tickets -->
          <ngb-tab title="Closed Tickets" id="tab-selectbyid2" (tabChange)="fetchNews($event)" #tab>
            <ng-template ngbTabContent>
              <kt-portlet-body class="portlet__body">
                <!-- <div class="kt-section__content"> -->

                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                  [formGroup]="ProductLocation">
                  <!-- (ngSubmit)="editform(data)" -->
                  <div class="col-md-12">
                    <div class="row">

                      <div class="col-md-2  ml-auto pr-0">
                        <select formControlName="date_format" class="form-control" #date_format name="date_format"
                          (change)="onChangeSearch($event.target.value)">
                          <option value="">ALL Periods</option>
                          <option value="today">Today</option>
                          <option value="week">This Week</option>
                          <option value="month">This Month</option>
                          <option value="year">This Year</option>
                        </select>
                      </div>

                      <div class="col-md-2 pr-0">
                        <select formControlName="product_id" class="form-control ml-2" #product
                          (change)="onChangeSearch($event.target.value)">
                          <option value="">ALL Products</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>
                      </div>

                      <div class="col-md-2 pr-0">
                        <select formControlName="location_id" class="form-control ml-2" #location name="location_id"
                          (change)="onChangeSearch($event.target.value)">
                          <option value="">ALL Towns</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </form>

                <br>
                <div class="kt-section__content" style="padding: 9px;">
                  <!-- <div class="table-responsive"> -->
                    <table id="closed_tickets" class="table table-striped table-bordered table-sm row-border hover datatable">

                    <thead>
                      <!-- columns for  table -->
                      <tr>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                        </th>
                        <th style="width: 8%;" class="kt-footer kt-container">{{'NEWTCKT.TCKID' | translate}}</th>
                        <th style="width: 8%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_ID' | translate}}</th>
                        <th style="width: 11%;" class="kt-footer kt-container">{{'NEWTCKT.CUS_NAME' | translate}}
                        </th>
                       
                        <th style="width: 11%;" class="kt-footer kt-container">{{'NEWTCKT.PRODUCT' | translate}}
                        </th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'NEWTCKT.SUBPRODUCT' | translate}}
                        </th>
                        <th style="width: 11%;" class="kt-footer kt-container">{{'NEWTCKT.ASIGN_TM' | translate}}
                        </th>
                        <th style="width: 11%;" class="kt-footer kt-container">
                          {{'COMPLETEDTICKETS.CLOSEDTIME' | translate}}</th>
                        <!-- <th style="width: 13%;" class="kt-footer kt-container">
                          {{'COMPLETEDTICKETS.CUSTOMERFEEDBACK' | translate}}</th> -->
                        <th style="width: 13%;" class="kt-footer kt-container">
                          {{'COMPLETEDTICKETS.CUSTOMERRATING' | translate}}</th>
                          <th class="kt-footer kt-container max-tables">Resolution Image</th>
                        <th class="kt-footer kt-container max-tables">{{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                        <th class="kt-footer kt-container max-tables">{{'COMTICK.DOWNLOADSERVICE' | translate}}
                        </th>
                      </tr>
                    </thead>
                      <tbody *ngIf="closed_ticket_data?.length != 0">

                      <tr *ngFor="let items of closed_ticket_data; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>
                          <a class="button" (click)="get_ticket_details(items.ticket_id,view_tcktdetails)"
                            data-placement="bottom" ngbTooltip="View Details"
                            style="color: #242fb7">{{items.ticket_id}}</a>
                        </td>
                        <td>
                            <a class="button"
                              (click)="get_technician_details(items.ticket_id,items.technican_id,tech_details);"
                              style="color: #242fb7">{{items.technican_id}}</a>
                          </td>
                        <td>{{items.customer_name}} </td>
                    
                        <td>{{items.product.product_name}}</td>
                        <td>{{items.subproduct.product_sub_name}}</td>
                        <td>{{items.assigned_date_time}}</td>
                        <td>{{items.ticket_closed_date_time}}</td>
                        <!-- <td>{{items.cust_feedback}}</td> -->
                        <td>{{items.cust_rating}}</td>
                        <td class="datatable-center" >
                          <div *ngIf="items.image == '' || items.image == 'null'||items.image == undefined;else elseBlock">
                            -
                            </div>
                            <ng-template #elseBlock> 
                                <button class="btn btn-base"
                                (click)="openmodalview(ImageView,items.image)">
                                <i class="fas fa-image" style="font-size:21px;color:gray;"
                                    aria-hidden="true"></i>
                            </button>
                            </ng-template>
                        </td>
                        <!-- <td class="datatable-center">
                          <button class="btn btn-base" (click)="openmodalview(ImageView,items.image)">
                            <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                          </button>
                        </td> -->
                        <!-- <td *ngIf="items.image !=''" class="datatable-center">
                          <button class="btn btn-base" (click)="openmodalview(ImageView,item.image)">
                            <i class="fas fa-image" style="font-size:21px;color:gray;" aria-hidden="true"></i>
                          </button>
                        </td>
                        <td class="datatable-center"
                          *ngIf="items.image == '' || items.image == 'null'||items.image == undefined ">
                          -
                        </td> -->
                        <td class="datatable-center">
                          <a style="cursor: pointer;" (click)="downloadPdfs(items.ticket_id)"><i class="fas fa-file-pdf"
                              aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="datatable-center"> <a style="cursor: pointer;"
                            (click)="service_report_pdf(items.ticket_id)"><i class="fas fa-download"
                              style="color: #242fb7;cursor: pointer;" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="completed_tickets?.length == 0">
                      <!-- <tr colspan="3" style="text-align: center;">No records found -->
                      <div colspan="3" style="text-align: end;">No records found</div>
                      <!-- </tr> -->
                    </tbody>
                  </table>
                  <!-- </div> -->
                </div>
                <!-- </div> -->
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>

          <!-- tab for Accepted Tickets -->


          <!-- tab for Differed Tickets -->

        </ngb-tabset>
      </div>
    </div>

  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>

<ng-template #tech_details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.technician_code}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.TCH_NAME' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.full_name}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
          for="inputPassword3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.contact_number}}</div>
      </div>

      <!-- <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.LOC' |
          translate}}:</label>
        <div class="col-lg-7 control-label overflow-details">{{technicians_details.location}}</div>
      </div> -->

      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SK_LVL'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.skill_level}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TSK_CNT'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.task_count}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
          for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">
          <!-- {{technicians_details.technician_type}} -->
          <div *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
          <div *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div>
        </div>
      </div>

    </form>
  </div>
</ng-template>

<ng-template #TechnicianTable let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'NEWTCKT.TCH_DET' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-body>
        <div>
          <div class="kt-section__content">
            <div class="table-responsive">

              <table class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                  <!-- columns for  table -->
                  <tr>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                    </th>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_ID' | translate}}</th>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_NAME' | translate}}</th>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.SK_LVL' | translate}}</th>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TA_PR' | translate}}</th>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.CUR_LOC' | translate}}</th>
                    <th style="width: 14%;" class="kt-footer kt-container">{{'NEW_SUBSCRIPTION.ACTION' | translate}}
                    </th>
                  </tr>
                </thead>
                <tr *ngFor="let item of avilable_technicians_details; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.technician_id}}</td>
                  <td>{{item.technician_name}}</td>
                  <td>{{item.skill_level}}</td>
                  <td>{{item.task_count}}</td>
                  <td>{{item.current_location}}</td>
                  <!-- openmodal(Assign_tickt_table) -->
                  <td> <button class='"fa fa-edit"' (click)="technician_assign(item)">
                      {{'NEWTCKT.REASSIGN' | translate}}
                    </button>
                  </td>
                </tr>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'NEWTCKT.CANCEL'| translate}}</button>
  </div>
</ng-template>



<!-- view_ticketdetails -->
<ng-template #view_tcktdetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ticket Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->
    <!-- <kt-portlet-body> -->
    <!-- <div class="kt-section"> -->
    <!-- Form group for renewal license -->
    <form class="form-horizontal" role="form">
      <div class="row">
      <div class="col-lg-6">
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TCKID' | translate}}:</label>
        <div class="col-sm-7 txt_clr">{{ticket_details.ticket_id}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.CUS_NAME' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.customer_name}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputPassword3">
          {{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.contact_number}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputPassword3">
          {{'USER.LOCATION' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.location}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRODUCT'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.product_category}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">
          {{'NEWTCKT.CALLCAT' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.call_category}}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SERVCAT'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.contract_type}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3"> {{'NEWTCKT.PROB' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.problem}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRI' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.priority}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3"> {{'NEWTCKT.WRKTYP'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.work_type}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3"> {{'MANAGECONT.SERIALNO'
        | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.serial_no}}</div>
      </div>
    </div>
  </div>
    </form>
    <!-- end form group -->
    <!-- </div> -->
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->

    <!-- </kt-portlet-body> -->
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
</ng-template>

<ng-template #ImageView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Resolution Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body datatable-center">
    <img class="image_size" src={{httplink}}{{image_or_video}}>
    <div class="mt-3">
 <a class="btn btn-outline-success btn-sm btn-pill custom-btn imageviewbtn" href="{{httplink}}{{image_or_video}}" target="blank">View Image</a>
  </div>
  </div>

  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
  </div> -->
</ng-template>