// // .form-control{
// //     width: 35%;
// // }
// .kt-heading.kt-heading--md.product-head {
//     margin-top: -13px;
//     margin-left: 9px;
// }
// button.btn.btn-info.pull-right {
//     margin-top: -53px;
//     margin-right: 11px;
// }
// .kt-separator {
//     height: 0;
//     margin: 0px;
//     margin-top: -7px;
// }
// // .form-control{
// //     width: 18%;
// //     display: inline-block;
// //     float: right;
// //     // margin-top: 2px;
// // }
// button {
//     // background: #5d78ff;
//     color: #fff;
//     // border: 1px solid;
//     // border-radius: 4px;
// }
// .portlet__body{
//     padding: 9px;
// }
.colortext-area{
    color:#646c9a;
}
.tablewidth{
    width:20%;
}
.tablewidththird{
    width:30%;
}
.tablewidthtwenty{
    width:20%;
}
.image_size{
    max-width: 50%;
    height:250px;
}
.txt_clr{
    color:black;
}