<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'ONGO.TITLE' | translate}}">


  </kt-portlet-header>
  <kt-portlet-body>


    <div>
      <div class="kt-section__content">

        <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab>
          <!-- tab for Work-in-progress Tickets -->
          <ngb-tab title="Work-in-Progress Tickets" id="tab-selectbyid1">
            <ng-template ngbTabContent>
              <kt-portlet-body class="portlet__body">

                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                  [formGroup]="ProductLocation">
                  <!-- (ngSubmit)="editform(data)" -->
                  <!-- <div class="row"> -->
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2 ml-auto pr-0">
                        <select formControlName="product_id" class="form-control" #product
                          (change)="onChangeLocation($event.target.value)">
                          <option value="" selected="selected">ALL Products</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2 pr-0">
                        <select formControlName="location_id" class="form-control ml-2" #location name="location_id"
                          (change)="onChangeLocation($event.target.value)">
                          <option value="" selected="selected">ALL Towns</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->

                </form>
                <br>
                <div>
                  <div class="kt-section__content">
                    <!-- <div class="table-responsive"> -->

                    <table id="working_in_progress_table" datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                      class="table table-striped table-bordered table-sm row-border hover ">

                      <thead>
                        <!-- columns for  table -->
                        <tr>
                          <th class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                          </th>
                          <th style="width: 11%;" class="kt-footer kt-container">
                            {{'ONGO.TCKID' | translate}}
                          </th>
                          <th style="width: 12%;" class="kt-footer kt-container">
                              {{'ONGO.TECH_ID' | translate}}
                            </th>
                          <th style="width: 15%;" class="kt-footer kt-container">
                            {{'ONGO.CUS_NAME' | translate}}
                          </th>
                          <th style="width: 14%;" class="kt-footer kt-container">
                              {{'ONGO.START_TIME' | translate}}</th>
                              <th style="width: 13%;" class="kt-footer kt-container">
                                  {{'ONGO.REASON' | translate}}
                                </th>
                                <th style="width: 13%;" class="kt-footer kt-container">
                                    {{'ONGO.ACTION' | translate}}
                                  </th>
                          <th style="width: 15%;" class="kt-footer kt-container">
                            {{'ONGO.VISIT' | translate}}
                          </th>
                          <th class="tablewidth kt-footer kt-container max-tables">
                              {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                         
                          <th style="width: 7%;" class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                          
                          <!-- <th class="kt-footer kt-container tablewidth">
                            Download</th> -->

                        </tr>
                      </thead>
                      <tbody *ngIf="working_in_progress_tckts != null">
                        <tr *ngFor="let item of working_in_progress_tckts; let i = index">
                          <td class="datatable-center">{{i+1}}</td>
                          <td>
                            <a class="button" (click)="get_ticket_details(item.ticket_id,view_tcktdetails)"
                              data-placement="bottom" ngbTooltip="View Details">
                              {{item.ticket_id}}</a>
                          </td>
                          <td> <a class="button"
                            (click)="get_technician_details(item.ticket_id,item.technican_id,view_techniciandetails)"
                            data-placement="bottom" ngbTooltip="View Details">{{item.technican_id}}</a>
                        </td>
                          <td>{{item.customer_name}}</td>
                   
                          <td>{{item.ticket_start_date_time}}</td>
                          <td>{{item.inprogress_reason}}</td>                   
                          <td>{{item.plan_of_action}}</td>
                          <td>{{item.schedule_next}}</td>
                          <td class="datatable-center">                            
                              <a style="cursor: pointer;" 
                              (click)="downloadPdf(item.ticket_id)"><i class="fas fa-file-pdf"
                                aria-hidden="true"></i>
                                <!-- <a [download]="item.ticket_id" [href]="downloadPdf(item.ticket_id)">Download</a> -->
                            </a>
                            </td>                    
                          <!-- <td>{{item.ticket_start_date_time}}</td> -->
                          <td class="datatable-center" *ngIf="item.inprogress_reason == 'OTP not received from customer'">
                            <a  data-placement="bottom" ngbTooltip="Force Complete" (click)="customer_feedback_modal(CustomerFeedBack,item)"
                              class="button">Update</a>
                          </td>
                          <td class="datatable-center" *ngIf="item.inprogress_reason != 'OTP not received from customer'">
                            <a >--</a>
                          </td>
                        
                        </tr>
                      </tbody>
                      <tbody *ngIf="working_in_progress_tckts == null">
                        <tr> No Data Available</tr>
                      </tbody>
                    </table>
                    <!-- </div> -->
                  </div>
                </div>
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>

          <!-- tab for Assigned Tickets -->
          <ngb-tab title="Escalated Tickets" id="tab-selectbyid2">
            <ng-template ngbTabContent>
              <kt-portlet-body class="portlet__body">
                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                  [formGroup]="ProductLocation">
                  <!-- (ngSubmit)="editform(data)" -->
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2 ml-auto pr-0">

                        <select formControlName="product_id" class="form-control" #product
                          (change)="onChangeLocation($event.target.value)" name="product_id">
                          <option value="" selected="selected">ALL Products</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>

                      </div>
                      <div class="col-md-2 pr-0">


                        <select formControlName="location_id" class="form-control ml-2" #location name="location_id"
                          (change)="onChangeLocation($event.target.value)">
                          <option value="" selected="selected">ALL Towns</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </form>
                <br>
                <div class="kt-section__content" style="padding: 9px;">
                  <div>
                  </div>
                  <!-- <div class="table-responsive"> -->
                  <table id="escalated_table" datatable="ng" *ngIf="showTableEscalated" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover">
                    <thead>
                      <!-- columns for  table -->
                      <tr>
                        <th class="kt-footer kt-container max-tables">
                          {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                        <th style="width: 10%;" class="kt-footer kt-container">
                          {{'ONGO.TCKID' | translate}}</th>
                        <th style="width: 14%;" class="kt-footer kt-container">
                          {{'ONGO.CUS_NAME' | translate}}</th>
                          <th style="width: 17%;" class="kt-footer kt-container">
                              {{'ONGO.PRE_TECH' | translate}}</th>
                        <th style="width: 17%;" class="kt-footer kt-container">
                          {{'ONGO.ESCALATE' | translate}}</th>         
                        <th style="width: 15%;" class="kt-footer kt-container">
                          {{'ONGO.PRODUCT_CATEGORY' | translate}}</th>
                        <th style="width: 13%;" class="kt-footer kt-container">
                          {{'ONGO.SUB_CATEGORY' | translate}}</th>
                        <th style="width: 7%;" class="kt-footer kt-container max-tables">
                          {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of esclated_tickets; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>
                          <a class="button" data-placement="bottom" ngbTooltip="View Details"
                            (click)="get_ticket_details(items.ticket_id,view_tcktdetails)">
                            {{items.ticket_id}}</a>
                        </td>
                        <td>{{items.customer_name}} </td>
                        <td>{{items.prev_technician_id}}</td>
                        <td> <a class="button" data-placement="bottom" ngbTooltip="View Technician Details"
                            (click)="get_technician_details(items.ticket_id,items.esclated_technican_id,view_techniciandetails)">{{items.esclated_technican_id}}</a>
                        </td>

                        

                        <td>{{items.product.product_name}}</td>
                        <td>{{items.subproduct.product_sub_name}}</td>
                        <td class="datatable-center">
                          <a style="cursor: pointer;"
                          (click)="downloadPdf(items.ticket_id)"><i class="fas fa-file-pdf"
                            aria-hidden="true"></i>
                        </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- </div> -->
                </div>
              </kt-portlet-body>
            </ng-template>
          </ngb-tab>

          <!-- tab for Accepted Tickets -->
          <ngb-tab title="Spare Requested Tickets" id="tab-selectbyid3">
            <ng-template ngbTabContent>
              <kt-portlet-body class="portlet__body">
                <!-- <div class="container" style="margin-top: 2%"> -->

                <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                  [formGroup]="ProductLocation">
                  <!-- (ngSubmit)="editform(data)" -->
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2 ml-auto pr-0">
                        <select formControlName="product_id" class="form-control" #product
                          (change)="onChangeLocation($event.target.value)">
                          <option value="" selected="selected">ALL Products</option>
                          <option *ngFor="let product of products" value="{{product.product_id}}">
                            {{product.product_name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2 pr-0">
                        <select formControlName="location_id" class="form-control ml-2" #location name="location_id"
                          (change)="onChangeLocation($event.target.value)">
                          <option value="" selected="selected">ALL Towns</option>
                          <option *ngFor="let location of locations" value="{{location.location_id}}">
                            {{location.location_name}}</option>
                        </select>
                      </div>
                    </div>




                  </div>

                </form>
                <br>
                <div class="kt-section__content" style="padding: 9px;">
                  <div class="table-responsive">
                    <table id="requested_spare_table" datatable="ng" *ngIf="showTableSpare" [dtOptions]="dtOptions"
                      class="table table-striped table-bordered table-sm row-border hover">
                      <thead>
                        <!-- <table
                                                class="table table-striped table-bordered table-sm row-border hover datatable"> -->

                        <!-- columns for  table -->
                        <tr>
                          <th class="kt-footer kt-container max-tables">
                            {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                          <th style="width: 20%;" class="kt-footer kt-container">
                            {{'ONGO.TCKID' | translate}}</th>
                          <th style="width: 20%;" class="kt-footer kt-container">
                            {{'ONGO.CUS_NAME' | translate}}</th>
                          <th style="width: 13%;" class="kt-footer kt-container">
                            {{'ONGO.TECH_ID' | translate}}</th>
                          <th style="width: 20%;" class="kt-footer kt-container datatable-center">
                            {{'ONGO.SPARE_REQUEST' | translate}}</th>
                          <th style="width: 20%;" class="kt-footer kt-container">
                            {{'ONGO.LEAD' | translate}}</th>
                          <th   style="width: 20%;;text-align:center" class="kt-footer kt-container">
                            {{'NEW_SUBSCRIPTION.STATUS' | translate}}</th>
                            <th class="tablewidth kt-footer kt-container max-tables">
                              {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of spare_requested_ticket; let i = index">
                          <td class="datatable-center">{{i+1}}</td>
                          <td>
                            <a class="button" data-placement="bottom" ngbTooltip="View Details"
                              (click)="get_ticket_details(item.ticket_id,view_tcktdetails)">
                              {{item.ticket_id}}</a>
                          </td>
                          <td>{{item.customer_name}}</td>
                          <td> <a class="button" data-placement="bottom" ngbTooltip="View Details"
                              (click)="get_technician_details(item.ticket_id,item.technican_id,view_techniciandetails)">{{item.technican_id}}</a>
                          </td>
                          <td class="datatable-center"> <a class="button" data-placement="bottom"
                              ngbTooltip="View Details"
                              (click)="get_spare_details(item.ticket_id,view_requested_spare)">
                              View
                              <!-- <i class="fa fa-eye"
                                style="color:#0abb87;cursor: pointer;" aria-hidden="true"></i> -->
                               </a>
                          </td>
                          <td>{{item.lead_time}}</td>
                          <td class="datatable-center">
                            <span class="managerstatus">{{item.spare_status_name}}</span></td>
                          <td class="datatable-center">
                            <a style="cursor: pointer;"
                            (click)="downloadPdf(item.ticket_id)"><i class="fas fa-file-pdf"
                              aria-hidden="true"></i>
                          </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </kt-portlet-body>
            </ng-template>

          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>




    <!--  </form> -->

  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>

<!-- Dialog for bulk upload -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'CUSTOMER.BULK' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-3 text-center">
        <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
          href="assets/sample_templates/customer.xlsx">{{'CUSTOMER.SAMPLE'| translate}}</a>

      </div>
      <div class="col-sm-9">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new" id="span-button">
                <!-- {{'CUSTOMER.SELECT'| translate}} -->
              </span>

              <input type="hidden" value="" name="file-upload">
              <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)"> </span>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="filesubmit(myInput)"><i class="fa fa-upload"
        aria-hidden="true"></i>{{'CUSTOMER.UPLOAD'| translate}}</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'|
      translate}}</button>

  </div>

</ng-template>
<!-- view_ticketdetails -->
<ng-template #view_tcktdetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ticket Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->
    <!-- <kt-portlet-body> -->
    <!-- <div class="kt-section"> -->
    <!-- Form group for renewal license -->
    <form class="form-horizontal" role="form">
      <div class="row">
      <div class="col-lg-6">
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TCKID' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.ticket_id}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.CUS_NAME' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.customer_name}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputPassword3">
          {{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.contact_number}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputPassword3">
          {{'USER.LOCATION' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.location}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRODUCT'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.product_category}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">
          {{'NEWTCKT.CALLCAT' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.call_category}}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SERVCAT'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.contract_type}}</div>
      </div>

      <div class="row form-group">
        <label class="col-lg-5 control-label popupcolor" for="inputEmail3"> {{'NEWTCKT.PROB' | translate}}:</label>
        <!-- <div class="col-sm-7 control-label" style="float: right;">   -->
        <div class="col-lg-7 txt_clr overflow-details"> {{ticket_details.problem}}</div>
        <!-- </div> -->
      </div>

      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRI' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_details.priority}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3"> {{'NEWTCKT.WRKTYP'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.work_type}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3"> {{'MANAGECONT.SERIALNO'|translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_details.serial_no}}</div>
      </div>
    </div>
  </div>
    </form>
    <!-- end form group -->
    <!-- </div> -->
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->

    <!-- </kt-portlet-body> -->
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
</ng-template>

<!-- view_techniciandetails -->
<!-- <ng-template #view_techniciandetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ticket Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
          <form class="custom-forms" novalidate="novalidate" [formGroup]="ViewTechnicianDetails">
            <div class="form-body">
              <div class="row">
                <div class="col-lg-4">
                  <label> {{'NEWTCKT.TCH_ID' | translate}}:</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="technician_id" formControlName="technician_id"
                    id="technician_id" readonly="">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4">
                  <label> {{'NEWTCKT.TCH_NAME' | translate}}:</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="technician_name" formControlName="technician_name"
                    id="technician_name" readonly="">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4">
                  <label> {{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="email" formControlName="email" id="email" readonly>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4">
                  <label> {{'NEWTCKT.CONNUMBER' | translate}}:</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="contact_number" formControlName="contact_number"
                    id="contact_number" readonly> </div>
              </div> <br>
              <div class="row">
                <div class="col-lg-4"> <label>
                    {{'NEWTCKT.LOC' | translate}}:</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="location" formControlName="location" id="location"
                    readonly>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4">
                  <label>
                    {{'NEWTCKT.SK_LVL' | translate}}:</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="skill_level" formControlName="skill_level"
                    id="skill_level" readonly>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4"> <label>
                    {{'NEWTCKT.TSK_CNT' | translate}}:</label> </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="task_count" formControlName="task_count"
                    id="call_category" readonly>
                </div>
              </div>
            </div>
          </form>

  </div>
</ng-template> -->
<!-- view_techniciandetails -->

<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.technician_code}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.TCH_NAME' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.full_name}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.CONNUMBER' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.contact_number}}</div>
      </div>
      <!-- <div class="row form-group"><label class="col-lg-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.LOC' |
          translate}}:</label>
        <div class="col-lg-7 control-label overflow-details">{{technicians_details.location}}</div>
      </div> -->
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SK_LVL'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.skill_level}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TSK_CNT'
          | translate}}:</label>
        <div class="col-sm-7 txt_clrl overflow-details">{{technicians_details.task_count}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
      <!-- <div class="col-sm-7 control-label overflow-details">{{technicians_details.technician_type}}</div> -->
      <div class="txt_clr" *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
      <div  class="txt_clr" *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div>
    </div>

    </form>
  </div>
</ng-template>


<ng-template #view_requested_spare let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">

    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- <kt-portlet-body> -->
    <div class="">
      <div class="kt-section__content">
        <div class="table-responsive">

          <table *ngIf="SpareTable" datatable [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover">
            <thead>
              <tr>
                <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>

                <th class="kt-footer kt-container tablewidthModal">{{'SPARE.SPARECODE' | translate}}</th>
                <th class="kt-footer kt-container tablewidthModal">{{'SPARE.MODEL' | translate}}</th>
                <th class="kt-footer kt-container tablewidthModal">{{'SPARE.PRODUCT' | translate}}</th>
                <th class="kt-footer kt-container tablewidthModal">{{'SPARE.SUBPRODUCT' | translate}}</th>
                <th class="kt-footer kt-container tablewidthModal">{{'TRANSFERSPARE.SPAREQUANTITY' | translate}}</th>
                <th class="kt-footer kt-container tablewidthModal">{{'SPARE.SPARELOCATION' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of spare_requested_tickets; let i=index">
                <td class="datatable-center">{{i+1}}</td>
                <td>{{item.spare_code}}</td>
                <td>{{item.model}}</td>
                <td>{{item.product}}</td>
                <td>{{item.sub_product}}</td>
                <td>{{item.spare_quantity}}</td>
                <td>{{item.spare_location.spare_location}}</td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- </kt-portlet-body> -->
    <!-- </kt-portlet> -->


  </div>
</ng-template>

<ng-template #TechnicianTable let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'NEWTCKT.TCH_DET' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm row-border hover">
        <thead>
          <tr>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_ID' | translate}}</th>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_NAME' | translate}}</th>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.SK_LVL' | translate}}</th>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TA_PR' | translate}}</th>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.CUR_LOC' | translate}}</th>
            <th style="width: 14%;" class="kt-footer kt-container">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
          </tr>
        </thead>
        <tr *ngFor="let item of reassigned_technician; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.technician_id}}</td>
          <td>{{item.technician_name}}</td>
          <td>{{item.skill_level}}</td>
          <td>{{item.task_count}}</td>
          <td>{{item.current_location}}</td>
          <td> <button class='"fa fa-edit"' (click)="technician_assign(item)">
              {{'NEWTCKT.ASSIGN' | translate}}
            </button>
          </td>
        </tr>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEWTCKT.CANCEL'| translate}}</button>
  </div>
</ng-template>

<!-- Customer Feedback Form : Begin -->
<ng-template #CustomerFeedBack let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'COMTICK.CUST_FEED' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-section__content">
      <form id="AddCompany" [formGroup]="CustomerfeedbackForm" novalidate=""
        class="custom-forms ng-untouched ng-pristine ng-valid">
        <div class="row">
          <!-- label for organization name -->
          <label class="control-label col-lg-5" style="float: right;text-align: right;font-weight: bold;">
            {{'RAISETCKT.CUSID' | translate}}: </label>
          <div class="col-lg-7">
            <input type="text" class="form-control" formControlName="customer_code" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'USER.USERNAME' | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="customer_name" type="text" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'USER.CONNUMBER' | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="contact_number" type="text" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'NEW_SUBSCRIPTION.EMAIL'
            | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="email_id" type="text" readonly />

          </div>
        </div>

        <br>
        <!-- <div class="row">
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUST_FEED' | translate}}:</label>
          <div class="col-lg-7">
            <select formControlName="cust_feedback" class="form-control">
              <option value=''>--Select Feedback--</option>
              <option>
                No Customer Feedback
              </option>
              <option *ngFor="let items of cust_feedbacks " [value]=items.id>
                {{items.value}}</option>
            </select>
            <div *ngIf="feed.cust_feedback.errors && (feed.cust_feedback.dirty || feed.cust_feedback.touched)"
              class="m-b-10 error">
              <div *ngIf="feed.cust_feedback.errors.required" style="color:red">{{'COMTICK.CUST_FEED' | translate}}
                {{'USER.REQ' | translate}} </div>

            </div>

          </div>
        </div> -->
        <!-- <br>
        <div class="row">
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUSRAT' | translate}} (1 to
            10):</label>
          <div class="col-lg-7">

            <select formControlName="cust_rating" class="form-control">
              <option value=''>--Select Rating--</option>
              <option *ngFor="let items of cus_ratings " [value]=items.id>
                {{items.value}}</option>
            </select>
            <div *ngIf="feed.cust_rating.errors && (feed.cust_rating.dirty || feed.cust_rating.touched)"
              class="m-b-10 error">
              <div *ngIf="feed.cust_rating.errors.required" style="color:red">{{'COMTICK.CUSRAT' | translate}}
                {{'USER.REQ' | translate}} </div>
            </div>

          </div>
        </div> -->
        <br>
        <div class="row">
          <!-- label for alternate contact number -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUSCOMNT' | translate}}:</label>
          <div class="col-lg-7">
            <!-- <div class="col-sm-4 col-md-6"> -->
            <textarea formControlName="cust_comments" class="form-control" placeholder="Enter Customer Comments"
              aria-required="true" rows="5" colms="20">
                              </textarea>

            <div *ngIf="feed.cust_comments.errors && (feed.cust_comments.dirty || feed.cust_comments.touched)"
              class="m-b-10 error">
              <div *ngIf="feed.cust_comments.errors.required" style="color:red">

                {{'COMTICK.CUSCOMNT' | translate}}
                {{'RAISETCKT.REQ' | translate}}

              </div>
              <div *ngIf="feed.cust_comments.errors.maxlength" style="color:red">
                {{'COMTICK.CUSCOMNT' | translate}}
                {{'NEW_SUBSCRIPTION.PRBLMDESC' | translate}}</div>
            </div>




          </div>
        </div>
        <br>

        <br>


        <div class="text-center">
          <!-- buttn for next step -->
          <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [disabled]=CustomerfeedbackForm.invalid [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
            (click)="customer_feedback()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>


      </form>




    </div>


  </div>
</ng-template>
<!-- Customer Feedback Form : End -->