<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'TRAININGSCORE.TITLE' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>
        <form class="custom-forms" [formGroup]="filterTraining">
            <div class="row">

                <div class="col-md-6"></div>
                <div class="col-md-2 pr-0 ml-auto">
                    <div><strong>Technician:</strong></div>
                    <select formControlName="employee_code" #myTech class="form-control"
                        (change)="filterAssesment(myTech.value)">
                        <option value="">ALL Technicians</option>
                        <option *ngFor="let as_data of technician_data" value="{{as_data.employee_code}}">
                            {{as_data.full_name}}</option>

                    </select>
                </div>
                <div class="col-md-2 pr-0">
                    <div><strong>Assessment:</strong></div>
                    <select formControlName="assessment_id" #mySelect class="form-control"
                        (change)="filterAssesment(mySelect.value)">
                        <option value="">ALL Assessments</option>
                        <option *ngFor="let as_data of assesment_data" value="{{as_data.assessment_id}}">
                            {{as_data.assessment_name}}</option>

                    </select>

                </div>
            </div>
        </form>
        <br>

        <div class="kt-section__content">
            <div>
                <table datatable [dtOptions]="dtOptions" *ngIf="showTable"
                    class="table table-striped table-bordered table-sm row-border hover">
                    <thead>

                        <!-- <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead> -->
                        <!-- columns for  table -->
                        <tr>
                            <th style="width: 13%;" class="kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.EMPID'|translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.TECHN' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.PRO' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.SUBPRO' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.TYPE' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container">
                                {{'TRAININGSCORE.ASSESSMENT' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container  datatable-center">
                                {{'TRAININGSCORE.SCORE' | translate}}</th>
                                <th style="width: 13%;" class="kt-footer kt-container">
                                        {{'TRAININGSCORE.DATE' | translate}}</th>
                            <th style="width: 13%;" class="kt-footer kt-container datatable-center">
                                {{'TRAININGSCORE.STATUS' | translate}}</th>

                         

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of trainingscore_data; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>
                                <a class="button" data-placement="bottom" ngbTooltip="View Details"
                                    (click)="techDetails(items.employee_id,tech_details)">
                                    {{items.employee_id}}</a>
                            </td>
                            <td>{{items.technician_name}} </td>
                            <!-- <td *ngIf="items.product == null">-</td>
                            <td *ngIf="items.product == ''">{{items.product}}</td> -->
                            <td>
                                <p *ngIf="items.product == null;else">-</p>{{items.product}}
                            </td>
                            <td>
                                <p *ngIf="items.sub_product == null;else">-</p>{{items.sub_product}}
                            </td>

                            <!-- <td *ngIf="items.sub_product == null">-</td>
                            <td *ngIf="items.sub_product == ''">{{items.sub_product}}</td> -->
                            <!-- <td *ngIf="">{{items.product}}</td>
                            <td>
                               {{items.sub_product}}
                            </td> -->
                            <td>{{items.assessment_type}}</td>
                            <td>{{items.assessment}}</td>
                            <td class="datatable-center">{{items.score}}</td>
                            <td>{{items.created_date}}</td>

                            <td class="datatable-center">
                                <button style="padding:0px" class="btn btn-base">
                                    <a *ngIf='items.status == 1'>
                                        <i class="far fa-check-circle" style="color:#0abb87;"
                                            aria-hidden="true"></i>
                                    </a>
                                </button>
                                <button style="padding:0px" class="btn btn-base">
                                    <a *ngIf='items.status == 0'>
                                        <i class="fas fa-ban" style="color:#dc3545;"
                                            aria-hidden="true"></i>
                                        </a>
                                </button>
                            </td>
                            <!-- <td>{{items.status}}</td> -->
                         
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <ng-template #tech_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.technician_code}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'IMPRESTSPARE.NAME' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">
                            {{technician_details.full_name}}</div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details" style>{{technician_details.skill_level}}
                        </div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.contact_number}}
                        </div>
                    </div>
                    <!-- <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                        <div class="col-sm-7 control-label overflow-details">{{technician_details.location}}</div>
                    </div> -->
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'RAISETCKT.PRODUCT' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.product}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_details.sub_product}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'COMTICK.TECH_TYP' | translate}}:</label>
                        <!-- <div class="col-sm-7 control-label overflow-details">{{technician_details.technician_type}} -->
                            <div class="txt_clr" *ngIf="technician_details.technician_type ==  1">Inhouse Technician</div>
                            <div class="txt_clr" *ngIf="technician_details.technician_type ==  2">Partner Service Engineer</div> 
                        <!-- </div> -->
                    </div>
                </form>
            </div>
        </ng-template>
    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>