<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'LEAD.TITLE' | translate}}">
    <!--heading for portlet-->
    </kt-portlet-header>
    <!-- begin body for portlet-->               
    <kt-portlet-body>
    	<div class="portlet-body">
	        <div class="mt-element-step">
	           <div class="row step-default" id="count_rank">
	              <div class="mt-step-desc">
	                 <br>
	              </div>
	                <div class="col-md-3 bg-grey mt-step-col col-md-offset-1" *ngFor="let items of leaderboard; let i = index" >
	                 <div id="for_image">
	                 	<img src="{{items.profile_pic}}" style="width:68px; height:68px; border-radius:50%!important" class="mt-step-title font-silver">
	                 </div>
	                 <div class="mt-step-title uppercase font-grey-cascade" id="tech_name">{{items.technician_name}} </div>
	                 <div class="mt-step-content font-grey-cascade">
	                    <div id="credit_point">{{items.score}}</div>
	                  </div>
	              </div>
	            
	              </div>
	        </div>
	     </div>
		<!-- <div class="kt-separator kt-separator"></div> -->

		<form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
		  [formGroup]="SearchLevel">
		  <!-- (ngSubmit)="editform(data)" -->
		  <div class="col-md-12 pr-0">
		  	 <div class="col-md-2 ml-auto pr-0">
                    <select formControlName="level" class="form-control" #date_format name="level"
                    (change)="onChangeLevel()">
                    <option value="">ALL Levels</option>
                    <option value="l1">Level 1</option>
                    <option value="l2">Level 2</option>
                    <option value="l3">Level 3</option>
                    <option value="l4">Level 4</option>
                  </select>
               </div>
		  </div>
		</form>
		  <br>
        <div class="kt-section__content">
            <div>
                <!-- <div class="table-responsive"> -->

       
                <table  *ngIf="showTable"
                datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover">
                    <thead>
                        <!-- columns for  table -->
                        <tr>
                            
                            <th  class="tablewidth kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                            </th>
                            <th class="tablewidth kt-footer kt-container max-tables">
                                {{'LEAD.RANK' | translate}}
                            </th>
                            
                            <th  class="tablewidth kt-footer kt-container">
                                {{'REIM.TECHID'|translate}}</th>
                            <th  class="tablewidth kt-footer kt-container">
                                {{'LEAD.TCH_NAME' | translate}}</th>
                            <th  class="tablewidth kt-footer kt-container">
                                {{'LEAD.SCORE' | translate}}</th>
                            <th  class="tablewidth kt-footer kt-container max-tables">
                                {{'LEAD.LEVEL' | translate}}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of leaderboard_all_data; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td class="datatable-center">
                                    {{items.rank}}</td>
                            <td>
                              <a   class="button" (click)="get_tech(items.tech_id,view_techniciandetails)" data-placement="bottom" ngbTooltip="View Details">
                                 {{items.tech_id}}</a>
                                
                                   
                            </td>
                            <td>{{items.technician_name}}</td>
                            <td>{{items.score}}</td>
                            <td class="datatable-center">{{items.level}}</td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="!dataTables_empty"></tr>
                    </tfoot>
                </table>

                <!-- </div> -->
            </div>
        </div>
    </kt-portlet-body>
                         

    <!-- end body for portlet-->
</kt-portlet>

<!-- view_techniciandetails -->

<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
        <div class="modal-header">
          <!-- title for renew -->
          <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
          <!-- icon for close -->
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- body begin -->
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="row form-group">
              <label class="col-sm-5 control-label popupcolor"  
                for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
              <div class="col-sm-7 control-label">{{technicians_details.technician_code}}</div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 control-label popupcolor" style="text-align: right;font-weight: bold;"
                for="inputPassword3">{{'NEWTCKT.TCH_NAME' | translate}}:</label>
              <div class="col-sm-7 control-label">{{technicians_details.full_name}}</div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 control-label popupcolor"
                for="inputPassword3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
              <div class="col-sm-7 control-label">{{technicians_details.contact_number}}</div>
            </div>
            <div class="row form-group"><label  class="col-lg-5 control-label popupcolor"
                for="inputEmail3">{{'NEWTCKT.LOC' | translate}}:</label>
              <div class="col-lg-7 control-label overflow-details">{{technicians_details.location}}</div>
            </div>
            <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                for="inputEmail3">{{'NEWTCKT.SK_LVL' | translate}}:</label>
              <div class="col-sm-7 control-label">{{technicians_details.skill_level}}</div>
            </div>
            <div class="row form-group"><label  class="col-sm-5 control-label popupcolor"
                for="inputEmail3">{{'NEWTCKT.TSK_CNT' | translate}}:</label>
              <div class="col-sm-7 control-label">{{technicians_details.task_count}}</div>
            </div>
            <div class="row form-group"><label  class="col-sm-5 control-label popupcolor"
              for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
            <!-- <div class="col-sm-7 control-label">{{technicians_details.model_no}}</div> -->
            <div *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
          <div *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div>
          </div>
      
          </form>
        </div>
      </ng-template>