// .form-control{
//     width: 35%;
// }
// .kt-heading.kt-heading--md.product-head {
//     margin-top: -13px;
//     margin-left: 9px;
// }
// .kt-portlet__body{
//     padding-top: 0;
// }
// button.btn.btn-info.pull-right {
//     margin-top: -53px;
//     margin-right: 11px;
// }
// .kt-separator {
//     height: 0;
//     margin: 0px;
//     margin-top: -7px;
// }
// .form-control{
//     width: 18%;
//     display: inline-block;    
//     float: right;
//     margin-right: -10px;
// }
// button {
//     background: #5d78ff;
//     color: #fff;
//     border: 1px solid;
//     border-radius: 4px;
// }
// .portlet.light.portlet-fit>.portlet-body {
//     padding: 10px 20px 20px;
// }
// div#for_image {
//     text-align: center;
// }
// div#tech_name,div#credit_point {
//     text-align: center;
// }
.form-group > div{
   text-transform: capitalize !important;
}
.tablewidth{
   width:20%;
}