#kt_login{
    
    display:none;
    background-image:none;
}

.kt-grid .kt-grid--hor .kt-grid--root .kt-login .kt-login--v1 .bg-img{
    display:none !important;
}
.kt-grid__item{
    display: none !important;
    opacity:0 !important;
    visibility: hidden !important;

}
.kt-grid .kt-grid--hor .kt-grid--root .kt-login .kt-login--v1 .bg-img{
    display: none;
}
.kt-login__logo{
display: none;
}

.dfs{
    background-color: white;
    background-image: none;
    display: none;
}
.kt-login__form{
    display: none;
}

.kt-grid__item{
    display: none;
}

.disabledsubmit{
    cursor:not-allowed;
    pointer-events:all;
}
.card {
    margin: auto;
    width: 50%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    border: 0;
    margin-top:50px;
    padding-top:2%;
}
.kt-grid__item .kt-grid__item--order-tablet-and-mobile-2 .kt-grid .kt-grid--hor .kt-login__aside{
    background-image: none  !important;
    display: none !important;
}
.div #kt_login{
    background-image: none  !important;
    display: contents !important;
}
.feedback-textarea{
   resize:none !important;
}
.kt-grid__item .kt-grid__item--order-tablet-and-mobile-2 .kt-grid .kt-grid--hor .kt-login__aside{
    padding-left:0px !important;
}


@media screen and (max-width:480px){
    .card{
        width:95%;
        padding-left:4%;
        padding-right:4%;
        padding-top:4%;
        position: relative;
    }
}