
<div class="card" >
    <form  class="kt-form" [formGroup]="Feedback" novalidate="" class="ng-untouched ng-pristine ng-valid">
        <h3 style="text-align: center;">Customer Satisfication Index</h3>
        <br>
    <div class="row">
    <div class="col-lg-6">
        <label class="control-label"> Customer Name:</label>
        <input   type="text" class="form-control" formControlName="customer_name" placeholder="Enter Customer name" onKeyPress="if(this.value.length==48) return false;" readonly/>
        <div *ngIf="log.customer_name.errors && (log.customer_name.dirty || log.customer_name.touched)"
        class="m-b-10 error">
        <div *ngIf="log.customer_name.errors.required" style="color:red">{{'USER.FULLNAME' | translate}}
          {{'USER.REQ' | translate}} </div>
        <div *ngIf="log.customer_name.errors.pattern" style="color:red">
          {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'USER.FULLNAME' | translate}}</div>
        <div *ngIf="!Feedback.hasError('whitespace')" style="color:red">
          {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
          {{'USER.FULLNAME' | translate}}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
        <label class="col-md 3"> Customer Number:</label>
        <input class="col-md 3" type="text" class="form-control" placeholder="Enter Customer Number" formControlName="customer_number" maxlength="10"
        (keypress)="numberOnly($event)" readonly/>
        <div *ngIf="log.customer_number.errors && (log.customer_number.dirty || log.customer_number.touched)"
        class="m-b-10 error">
        <div *ngIf="log.customer_number.errors.required" style="color:red">{{'USER.CONNUMBER' | translate}}
          {{'USER.REQ' | translate}} </div>
        <div *ngIf="log.customer_number.errors.maxlength" style="color:red">
          {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
        <div *ngIf="log.customer_number.errors.minlength" style="color:red">
          {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}</div>
        <div *ngIf="log.customer_number.errors.pattern" style="color:red">
          {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}</div>
    
      </div>
    </div>
    
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <label class="col-md 3"> Email Id:</label>
            <input  class="col-md 3" type="text" class="form-control" placeholder="Enter Customer Email_id" formControlName="email_id" readonly/>
            <div *ngIf="log.email_id.errors && (log.email_id.dirty || log.email_id.touched)" class="m-b-10 error">
                <div *ngIf="log.email_id.errors.required" style="color:red">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                  {{'USER.REQ' | translate}} </div>
                <div *ngIf="log.email_id.errors.pattern" style="color:red">
                  {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.EMAIL' | translate}}</div>
        
              </div>
        </div>
        <!-- <div class="col-lg-6">
            <label class="col-md 3"> Referrence Number:</label>
            <input class="col-md 3" type="text" class="form-control"  placeholder="Enter Referrence Number" formControlName="referrence_number" readonly/>
            <div *ngIf="log.referrence_number.errors && (log.referrence_number.dirty || log.referrence_number.touched)" class="m-b-10 error">
                <div *ngIf="log.referrence_number.errors.required" style="color:red">Referrence Number
                  {{'USER.REQ' | translate}} </div>
        

              </div>
        </div> -->
     </div>
    <br>
    <!-- <h5>Product Performance (Quality)</h5>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with  product performance?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating1" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating1.errors && (log.rating1.dirty || log.rating1.touched)" class="m-b-10 error">
                <div *ngIf="log.rating1.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
    <!-- <div class="row">
        <div class="col-lg-6">
            Are you satisfied with  the product look and feel?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating2" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating2.errors && (log.rating2.dirty || log.rating2.touched)" class="m-b-10 error">
                <div *ngIf="log.rating2.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
    <!-- <div class="row">
        <div class="col-lg-6">
            Are you satisfied with  the life of the product?
        </div>
        <div class="col-lg-4">
            <select  formControlName="rating3" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating3.errors && (log.rating3.dirty || log.rating3.touched)" class="m-b-10 error">
                <div *ngIf="log.rating3.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
    <!-- <div class="row">
        <div class="col-lg-6">
            How do rate our  product compare to our competitior?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating4" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating4.errors && (log.rating4.dirty || log.rating4.touched)" class="m-b-10 error">
                <div *ngIf="log.rating4.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
    <h5>After Sale Service</h5>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with the response given by the technician?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating5"  class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating5.errors && (log.rating5.dirty || log.rating5.touched)" class="m-b-10 error">
                <div *ngIf="log.rating5.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Has the technician attended the site within a reasonable time as committed?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating6" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating6.errors && (log.rating6.dirty || log.rating6.touched)" class="m-b-10 error">
                <div *ngIf="log.rating6.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with the professional conduct of the Service Personnel?
                </div>
        <div class="col-lg-4">
            <select formControlName="rating7"  class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating7.errors && (log.rating7.dirty || log.rating7.touched)" class="m-b-10 error">
                <div *ngIf="log.rating7.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Did you find the technician competent enough to resolve the problem?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating8"  class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating8.errors && (log.rating8.dirty || log.rating8.touched)" class="m-b-10 error">
                <div *ngIf="log.rating8.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Are you satisfied with the resolution Provided?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating9"class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating9.errors && (log.rating9.dirty || log.rating9.touched)" class="m-b-10 error">
                <div *ngIf="log.rating9.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>  
    <br>
    <div class="row">
        <div class="col-lg-6">
            Have you read & understood the safety precautions pasted on cell/battery?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating12"class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Yes</option>
                <option value="3">No</option>              
            </select>
            <div *ngIf="log.rating9.errors && (log.rating9.dirty || log.rating9.touched)" class="m-b-10 error">
                <div *ngIf="log.rating9.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>  
    <br>

    <!-- <h5>Safety</h5>
    <br>
    <div class="row">
        <div class="col-lg-6">
            Is the training given by manufacturer helping you in handling the battery safely and accetent free
        </div>
        <div class="col-lg-4">
            <select formControlName="rating10" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating10.errors && (log.rating10.dirty || log.rating10.touched)" class="m-b-10 error">
                <div *ngIf="log.rating10.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
    <!-- <div class="row">
        <div class="col-lg-6">
            Can you able to excecute the installation and commissioningof VRLA batteries easily in your opinion on all the above factors who is your nearest choice (competitor)?
        </div>
        <div class="col-lg-4">
            <select formControlName="rating11" class="form-control" >
                <option value="null">--Select Rating-- </option>
                <option value="4">Excellent</option>
                <option value="3">Very Good</option>
                <option value="2">Good</option>
                <option value="1">Average</option>
    
            </select>
            <div *ngIf="log.rating11.errors && (log.rating11.dirty || log.rating11.touched)" class="m-b-10 error">
                <div *ngIf="log.rating11.errors.required" style="color:red">Rating
                  {{'USER.REQ' | translate}} </div>
    
              </div>
        </div>
    </div>
    <br> -->
    <h5>Remarks</h5>
    <br>
    <div class="row">
        <textarea rows="6" resize="none" cols="50" class="form-control col-lg-12 feedback-textares" formControlName="remarks">
    
        </textarea>
        
    </div>
    <br>
    
    <div class="text-center">
        <button class="btn btn-outline-success  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSubmit}"
        [disabled]="!Feedback.valid" (click)="customer_feedback()">{{'NEW_SUBSCRIPTION.SUB' |
        translate}}</button>
    </div>
    </form>
    </div>
    
    
    
    
    
    
    <!-- <div class="kt-grid__item d-none" >
        <div class="kt-login__info">
            <div class="kt-login__copyright">
                Copyright&nbsp;<a href="http://kaspontech.com" target="_blank" class="kt-link"><b class="footer-kaspon">
                        Kaspon Techworks Private
                        Limited </b></a>&nbsp;&copy;&nbsp;{{today | date:'yyyy'}}.&nbsp;
                All rights reserved.
            </div>
        </div>
    </div> -->
    
    
    
    