<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'PRODUCTMASTER.PROMODALNO'| translate}}">
        <ng-container ktPortletTools>
            <button class="btn  btn-outline-dark btn-sm custom-btn pull-right btn-pill"
            (click)="openLarge(model_bulk_upload)">{{'USER.BULKUP' | translate}}
        </button>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2"
                (click)="openLarge(add)">{{'USER.ADDO' | translate}} </button>
           
        </ng-container>
    </kt-portlet-header>
    <br>
    <kt-portlet-body>


        <br>

        <table datatable="ng" *ngIf="showTables" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">

            <thead>

                <tr>
                    <th class="kt-footer kt-container datatable-center max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
                        <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                            {{'PRODUCTMASTER.PROMODALNO'| translate}}</th>
                            <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                                {{'PRODUCTMASTER.CODE'|translate}}</th>
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        {{'PRODUCTMASTER.PRO'| translate}}</th>
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        {{'PRODUCTMASTER.SUBPRO'| translate}}</th>
                   
                     
                    <th style="width: 20%;" class="kt-footer kt-container " id="cusid">
                        {{'PRODUCTMASTER.WARRENTY' | translate}}</th>

                    <th class="kt-footer kt-container  datatable-center max-tables">{{'NEW_SUBSCRIPTION.ACTION'|
                        translate}}
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of modal;let i=index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>{{item.model}} </td>
                    <td>{{item.product_code}} </td>
                    <td>{{item.product.product_name}} </td>
                    <td>{{item.product_sub.product_sub_name}} </td>
                   
                   
                    <td>{{item.warranty_type.warranty_type}} </td>
                    <td width="100" class="datatable-center">
                        <button style="padding:0px;" class="btn btn-base" (click)="editmodalmodal(item,edit);">
                            <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button style="padding:0px" class="btn btn-base" (click)="detele(item.model_id)">
                            <i class="fa fa-trash trash"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </kt-portlet-body>
</kt-portlet>

<!--Modal box to add the modal-->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">{{'PRODUCTMASTER.ADDMODEL' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="AddModal" novalidate="" class="custom-forms  ng-untouched ng-pristine ng-valid">
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.PRO'| translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="product_id" name="product_id"
                            (change)="onChangeProduct($event.target.value)" id="product_id">
                            <option value="null">Select Product</option>
                            <option *ngFor="let items of product_details; let i=index" [value]=items.product_id>
                                {{items.product_name}}
                            </option>
                        </select>
                        <div *ngIf="log.product_id.errors && (log.product_id.dirty || log.product_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.product_id.errors.required" style="color:red">
                                {{'PRODUCTMASTER.PRO'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.SUBPRO'| translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="product_sub_id" name="product_sub_id"
                            id="product_sub_id">
                            <option value="null">Select Subproduct</option>
                            <option *ngFor="let items of subproduct; let i=index" [value]=items.product_sub_id>
                                {{items.product_sub_name}}
                            </option>
                        </select>
                        <div *ngIf="log.product_sub_id.errors && (log.product_sub_id.dirty || log.product_sub_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.product_sub_id.errors.required" style="color:red">
                                {{'PRODUCTMASTER.SUBPRO'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.PROMODALNO'| translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="model" maxlength="32"
                            placeholder="Enter Item Code">
                        <div *ngIf="log.model.errors && (log.model.dirty || log.model.touched)" class="m-b-10 error">
                            <div *ngIf="log.model.errors.required" style="color:red">
                                {{'SPARE.MODEL'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="log.model.errors.pattern" style="color:red">
                                {{'SPARE.MODEL'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!AddModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SPARE.MODEL'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'RAISETCKT.SYSAH'| translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="sys_ah" 
                            placeholder="Enter System AH">
                        <div *ngIf="log.sys_ah.errors && (log.sys_ah.dirty || log.sys_ah.touched)" class="m-b-10 error">
                            <div *ngIf="log.sys_ah.errors.required" style="color:red">
                                {{'RAISETCKT.SYSAH'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="log.sys_ah.errors.pattern" style="color:red">
                                {{'RAISETCKT.SYSAH'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!AddModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'RAISETCKT.SYSAH'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'RAISETCKT.VOLTAGE'| translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="voltage" name="voltage" id="voltage" >
                            <option value="null" >Select voltage</option>
                            <option value="2v">2v</option>
                            <option value="12v">12v</option>
                        </select>
                        <!-- <input type="text" class="form-control" formControlName="voltage" 
                            placeholder="Enter Voltage"> -->
                        <div *ngIf="log.voltage.errors && (log.voltage.dirty || log.voltage.touched)" class="m-b-10 error">
                            <div *ngIf="log.voltage.errors.required" style="color:red">
                                {{'RAISETCKT.VOLTAGE'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="log.voltage.errors.pattern" style="color:red">
                                {{'RAISETCKT.VOLTAGE'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!AddModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'RAISETCKT.VOLTAGE'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.CODE'| translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="product_code" minlength="2" maxlength="32"
                            placeholder="Enter product code">
                        <div *ngIf="log.product_code.errors && (log.product_code.dirty || log.product_code.touched)" class="m-b-10 error">
                            <div *ngIf="log.product_code.errors.required" style="color:red">
                                {{'PRODUCTMASTER.CODE'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="log.product_code.errors.pattern" style="color:red">
                                {{'PRODUCTMASTER.CODE'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!AddModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'PRODUCTMASTER.CODE'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.WARRENTY' | translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="warranty_id" name="warranty_id" id="warranty_id">
                            <option value="null">Select Warranty</option>
                            <option *ngFor="let items of amc_details " [value]=items.amc_id>
                                {{items.amc_type}}</option>
                        </select>
                        <div *ngIf="log.warranty_id.errors && (log.warranty_id.dirty || log.warranty_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.warranty_id.errors.required" style="color:red">
                                {{'PRODUCTMASTER.WARRENTY' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
   
           

            

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="addmodal()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!AddModal.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>

<!--Modal box to add the modal-->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">{{'PRODUCTMASTER.EDITMODEL' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="EditModal" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
                <div class="row" style="display:none">
                    <label class="control-label col-lg-4"> Application Id</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="hidden_model_id" formControlName="model_id"
                            placeholder="Enter model_id" id="hidden_model_id" readonly="">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.PRO'| translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="product_id" name="product_id"
                            (change)="onChangeProductEdit($event.target.value)" id="product_id">
                            <option value="null">Select Product</option>
                            <option *ngFor="let items of product_details; let i=index" [value]=items.product_id>
                                {{items.product_name}}
                            </option>
                        </select>
                        <div *ngIf="logedit.product_id.errors && (logedit.product_id.dirty || logedit.product_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.product_id.errors.required" style="color:red">
                                {{'PRODUCTMASTER.PRO'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.SUBPRO'| translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="product_sub_id" name="product_sub_id"
                            id="product_sub_id">
                            <option value="null">Select Subproduct</option>
                            <option *ngFor="let items of subproduct; let i=index" [value]=items.product_sub_id>
                                {{items.product_sub_name}}
                            </option>
                        </select>
                        <div *ngIf="logedit.product_sub_id.errors && (logedit.product_sub_id.dirty || logedit.product_sub_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.product_sub_id.errors.required" style="color:red">
                                {{'PRODUCTMASTER.SUBPRO'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.PROMODALNO'| translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="model" maxlength="32"
                            placeholder="Enter Item Code">
                        <div *ngIf="logedit.model.errors && (logedit.model.dirty || logedit.model.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.model.errors.required" style="color:red">
                                {{'SPARE.MODEL'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="logedit.model.errors.pattern" style="color:red">
                                {{'SPARE.MODEL'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!EditModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SPARE.MODEL'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'RAISETCKT.SYSAH'| translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="sys_ah" 
                            placeholder="Enter System AH">
                        <div *ngIf="logedit.sys_ah.errors && (logedit.sys_ah.dirty || logedit.sys_ah.touched)" class="m-b-10 error">
                            <div *ngIf="log.sys_ah.errors.required" style="color:red">
                                {{'RAISETCKT.SYSAH'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="logedit.sys_ah.errors.pattern" style="color:red">
                                {{'RAISETCKT.SYSAH'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!EditModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'RAISETCKT.SYSAH'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'RAISETCKT.VOLTAGE'| translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="voltage" name="voltage" id="voltage" >
                            <option value="null" >Select voltage</option>
                            <option value="2v">2v</option>
                            <option value="12v">12v</option>
                        </select>
                        <!-- <input type="text" class="form-control" formControlName="voltage"
                            placeholder="Enter Voltage"> -->
                        <div *ngIf="logedit.voltage.errors && (logedit.voltage.dirty || logedit.voltage.touched)" class="m-b-10 error">
                            <div *ngIf="logedit.voltage.errors.required" style="color:red">
                                {{'RAISETCKT.VOLTAGE'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="logedit.voltage.errors.pattern" style="color:red">
                                {{'RAISETCKT.VOLTAGE'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!EditModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'RAISETCKT.VOLTAGE'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.CODE'| translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="product_code" maxlength="32" minlength="2"
                            placeholder="Enter Product Code">
                        <div *ngIf="logedit.product_code.errors && (logedit.product_code.dirty || logedit.product_code.touched)" class="m-b-10 error">
                            <div *ngIf="logedit.product_code.errors.required" style="color:red">
                                {{'PRODUCTMASTER.CODE'| translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                            <div *ngIf="logedit.product_code.errors.pattern" style="color:red">
                                {{'PRODUCTMASTER.CODE'| translate}} {{'NEW_SUBSCRIPTION.SHO' | translate}}
                            </div>
                            <div *ngIf="!EditModal.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'PRODUCTMASTER.CODE'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'PRODUCTMASTER.WARRENTY' | translate}} :</label>

                    <div class="col-lg-8">
                        <select class="form-control" formControlName="warranty_id" name="warranty_id" id="warranty_id">
                            <option value="null">Select Warranty</option>
                            <option *ngFor="let items of amc_details " [value]=items.amc_id>
                                {{items.amc_type}}</option>
                        </select>
                        <div *ngIf="logedit.warranty_id.errors && (logedit.warranty_id.dirty || logedit.warranty_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="logedit.warranty_id.errors.required" style="color:red">
                                {{'PRODUCTMASTER.WARRENTY' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
               

         

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="editmodel()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}"
                [disabled]=!EditModal.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>


<!-- Dialog for bulk upload for quiz-->
<ng-template #model_bulk_upload let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modal Bulkupload</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-5 nopadding">
                <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
                    href="assets/sample_templates/model.xlsx">{{'PRODUCTMASTER.SAMPLE' |
          translate}}
                </a>

            </div>
            <div class="col-sm-7 nopadding">
                <div class="custom-file mb-3">
                    <input type="hidden" value="" name="file-upload">
                    <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)"
                        name="filename" />
                    <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                    <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                    <p style="color: red;">{{error_type}}</p>
                </div>
            </div>
            <div style="color: red;" *ngFor="let number of bulk;  let i=index">
                {{i+1}}. {{number}}

            </div>
            <div class="col-sm-9" style="display:none;">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="input-group input-large">
                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn default btn-file">
                            <span class="fileinput-new" id="span-button">{{'PRODUCTMASTER.SELECT' | translate}} </span>
                            <input type="hidden" value="" name="file-upload">
                            <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)" /> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-red  btn-pill btn-sm custom-btn"
            (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-outline-success  btn-pill btn-sm custom-btn disabledsubmit"
        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
            (click)="filesubmit(myInput)">{{'USER.UPLOAD' | translate}}</button>
    </div>
</ng-template>