<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'SPARE.TITLE' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->
    <kt-portlet-body>

        <!-- <div class="kt-separator kt-separator"></div> -->
        <div>
            <div class="kt-section__content">

                <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" #tab>
                    <!-- tab for New sparres -->
                    <ngb-tab title="{{'SPARE.NEW' | translate}}" id="tab-selectbyid1">
                        <ng-template ngbTabContent>
                            <kt-portlet-body>
                                <!--  class="row-border hover" -->
                                <table datatable [dtOptions]="dtOptions" *ngIf="showTableNew"
                                    class="table table-striped table-bordered table-sm row-border hover">
                                    <thead>
                                        <!-- columns for  table -->
                                        <tr>


                                            <th class="kt-footer kt-container max-tables">
                                                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container">
                                                {{'SPARE.TCTID' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container">
                                                {{'SPARE.TECHID' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container datatable-center">
                                                {{'SPARE.SPAREREQ' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container">
                                                {{'SPARE.CONTRACT' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container">
                                                {{'SPARE.AMT' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container">
                                                {{'SPARE.CUSTAPP' | translate}}
                                            </th>
                                            <th style="width: 15%;" class="kt-footer kt-container max-tables">
                                               Image
                                            </th>
                                            <th class="kt-footer kt-container max-tables">
                                                {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                                            <th class="kt-footer kt-container max-tables">
                                                {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of spare_request; let i = index">
                                            <td class="datatable-center">{{i+1}}</td>
                                            <td><a style="cursor: pointer;" class="button" data-placement="bottom"
                                                    ngbTooltip="View Details"
                                                    (click)="ticketDetails(item.ticket_id,ticket_details)">{{item.ticket_id}}</a>
                                            </td>
                                            <td><a style="cursor: pointer;" class="button" data-placement="bottom"
                                                    ngbTooltip="View Details"
                                                    (click)="techDetails(item.technican_id,tech_details)">{{item.technican_id}}</a>
                                            </td>
                                            <td class="datatable-center">
                                                <a style="cursor: pointer;" class="button" data-placement="bottom"
                                                    ngbTooltip="View Spare"
                                                    (click)="spareDetails(item,spare_required);">
                                                    {{'RAISETCKT.VIEW' | translate}}
                                                    <!-- <i class="fa fa-eye"
                                                        style="color:#0abb87;cursor: pointer;"
                                                        aria-hidden="true"></i> -->
                                                </a>
                                            </td>                                            
                                            <td>{{item.contract_type}}
                                            </td>

                                            <td>{{item.ammount}}
                                            </td>
                                            <td *ngIf="item.cust_acceptance == 1">Yes
                                            </td>
                                            <td *ngIf="item.cust_acceptance == 0">No
                                            </td>
                                            <td *ngIf="item.cust_acceptance == null">--
                                            </td>
                                         
                                            <td class="datatable-center" >
                                            <div *ngIf="item.resolution_image == '' || item.resolution_image == 'null'||item.resolution_image == undefined;else elseBlock">
                                            -
                                            </div>
                                            <ng-template #elseBlock> 
                                                <button class="btn btn-base"
                                                (click)="openmodal(ImageView,item.resolution_image)">
                                                <i class="fas fa-image" style="font-size:21px;color:gray;"
                                                    aria-hidden="true"></i>
                                            </button>
                                            </ng-template>
                                        </td>
                                        <!-- <td *ngIf="item.resolution_image !=''" class="datatable-center">
                                            <button class="btn btn-base"
                                                (click)="openmodal(ImageView,item.resolution_image)">
                                                <i class="fas fa-image" style="font-size:21px;color:gray;"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </td> -->
                                           
                                            <td class="datatable-center"> <a style="cursor: pointer;"
                                                    (click)="downloadPdf(item.ticket_id)"><i class="fas fa-file-pdf"
                                                        aria-hidden="true"></i>
                                                </a></td>
                                                <td class="datatable-center">
                                                    <a (click)="spareApprove(item.ticket_id,spare_reject_reason,$event)"
                                                        data-placement="bottom" ngbTooltip="Accept Spare"><i
                                                            class="far fa-check-circle"
                                                            style="font-size:22px;cursor: pointer; color:#0abb87;padding-right: 10px;"
                                                            aria-hidden="true"></i></a>
                                                    <a (click)="spareReject(item.ticket_id,spare_reject_reason)"
                                                        data-placement="bottom" ngbTooltip="Reject Spare"><i
                                                            class="fas fa-ban"
                                                            style="font-size:21px; cursor: pointer;color:#dc3545"
                                                            aria-hidden="true"></i></a>
                                                    <!--  <button
                                                                    (click)="openmodal(UnAssign_tickt_table);available_technicians(item.ticket_id)">{{'NEWTCKT.ASSIGN' | translate}}
                                                                </button> -->
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>

                    <!-- tab for approved sparres -->
                    <ngb-tab title="{{'SPARE.APPROVED' | translate}}" (click)="getAcceptedSpareRequest()"
                        id="tab-selectbyid2">
                        <ng-template ngbTabContent>
                            <kt-portlet-body>
                                <div class="kt-section__content">
                                    <div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTableApproved"
                                            class="table table-striped table-bordered table-sm row-border hover datatable">
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>


                                                    <th class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.TCTID' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.TECHID' | translate}}
                                                    </th>
                                                    <th style="width: 20%;"
                                                        class="kt-footer kt-container datatable-center">
                                                        {{'SPARE.SPAREREQ' | translate}}
                                                    </th>

                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.AMT' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.CUSTAPP' | translate}}
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of accepted_spare_request; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a style="cursor: pointer;" class="button"
                                                            (click)="ticketDetails(item.ticket_id,ticket_details)"
                                                            data-placement="bottom"
                                                            ngbTooltip="View Details">{{item.ticket_id}}</a>
                                                    </td>
                                                    <td><a style="cursor: pointer;" class="button"
                                                            (click)="techDetails(item.technican_id,tech_details)"
                                                            data-placement="bottom"
                                                            ngbTooltip="View Details">{{item.technican_id}}</a>
                                                    </td>
                                                    <td class="datatable-center"><a class="button"
                                                            style="cursor: pointer;"
                                                            (click)="spareDetails(item,spare_required);"
                                                            data-placement="bottom" ngbTooltip="View Spare">
                                                            {{'RAISETCKT.VIEW' | translate}}
                                                            <!-- <i
                                                                class="fa fa-eye" style="color:#0abb87;cursor: pointer;"
                                                                aria-hidden="true"></i> -->
                                                        </a></td>


                                                    <td>{{item.ammount}}
                                                    </td>
                                                    <td *ngIf="item.cust_acceptance == 1">Yes
                                                    </td>
                                                    <td
                                                        *ngIf="item.cust_acceptance == 0 || item.cust_acceptance == null">
                                                        No
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>

                    <!-- tab for rejected spares -->
                    <ngb-tab title="{{'SPARE.REJECT' | translate}}" id="tab-selectbyid3">
                        <ng-template ngbTabContent>
                            <kt-portlet-body class="portlet__body">
                                <div>
                                    <div class="kt-section__content">
                                        <div>
                                        </div>
                                        <table datatable [dtOptions]="dtOptions" *ngIf="showTableRejected"
                                            class="table table-striped table-bordered table-sm row-border hover datatable">
                                            <thead>
                                                <!-- columns for  table -->
                                                <tr>


                                                    <th class="kt-footer kt-container max-tables">
                                                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.TCTID' | translate}}
                                                    </th>
                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.TECHID' | translate}}
                                                    </th>
                                                    <th style="width: 20%;"
                                                        class="kt-footer kt-container datatable-center">
                                                        {{'SPARE.SPAREREQ' | translate}}
                                                    </th>

                                                    <th style="width: 20%;" class="kt-footer kt-container">
                                                        {{'SPARE.AMT' | translate}}
                                                    </th>
                                                    <th style="width: 20%;"
                                                        class="kt-footer kt-container datatable-center">
                                                        {{'SPARE.CUSTAPP' | translate}}
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of rejected_spare_request; let i = index">
                                                    <td class="datatable-center">{{i+1}}</td>
                                                    <td><a style="cursor: pointer;" class="button"
                                                            data-placement="bottom" ngbTooltip="View Details"
                                                            (click)="ticketDetails(item.ticket_id,ticket_details)">{{item.ticket_id}}</a>
                                                    </td>
                                                    <td><a style="cursor: pointer;" class="button"
                                                            (click)="techDetails(item.technican_id,tech_details)"
                                                            data-placement="bottom"
                                                            ngbTooltip="View Details">{{item.technican_id}}</a>
                                                    </td>
                                                    <td class="datatable-center"><a class="button"
                                                            style="cursor: pointer;"
                                                            (click)="spareDetails(item,spare_required);"
                                                            data-placement="bottom" ngbTooltip="View Spare">
                                                            {{'RAISETCKT.VIEW' | translate}}
                                                            <!-- <i
                                                                class="fa fa-eye" style="color:#0abb87;cursor: pointer;"
                                                                aria-hidden="true"></i> -->
                                                        </a></td>
                                                    <td>{{item.ammount}}
                                                    </td>
                                                    <td class="datatable-center" *ngIf="item.cust_acceptance == 1">Yes
                                                    </td>
                                                    <td class="datatable-center" *ngIf="item.cust_acceptance == 0">No
                                                    </td>
                                                    <td class="datatable-center" *ngIf="item.cust_acceptance == null">No
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </kt-portlet-body>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>

        <ng-template #spare_reject_reason let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{title}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="kt-form" [formGroup]="sapreRejectReason" novalidate=""
                    class="ng-untouched ng-pristine ng-valid">
                    <div class="kt-section__content">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">

                                    <label class="control-label">
                                        {{title}}:</label>
                                    <input type="text" class="form-control" formControlName="reject_reason"
                                        placeholder="Reason" maxlength="256">

                                    <!-- <select formControlName="reject_reason" class="form-control">
                                        <option value="">--Select Reason-- </option>                                     
                                        <option value="Good Will">Good Will</option>
                                        <option value="Warranty Expiry">Warranty Expiry</option>                                  
                                    </select> -->


                                    <div *ngIf="log.reject_reason.errors && (log.reject_reason.dirty || log.reject_reason.touched)"
                                        class="m-b-10 error">
                                        <div *ngIf="log.reject_reason.errors.required" style="color:red">
                                            Reason
                                            {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                                    </div>

                                    <!-- <br> -->
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button [disabled]=!sapreRejectReason.valid
                class="btn btn-outline-success btn-sm btn-pill custom-btn " (click)="sparePopApp()"
                data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' |
                translate}}</button>
            </div>
        </ng-template>

        <ng-template #spare_required let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <div class="kt-section__content">
                    <div>
                    </div>
                    <table *ngIf="showTableSpare" datatable [dtOptions]="dtOptions"
                        class="table table-striped table-bordered table-sm row-border hover ">
                        <thead>
                            <tr>
                                <th style="width: 10%;" class="max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                </th>
                                <th style="width: 12%;">{{'SPARE.SPARECODE' | translate}}</th>
                                <th style="width: 10%;">{{'SPARE.MODEL' | translate}}</th>
                                <th style="width: 10%;">{{'SPARE.PRODUCT' | translate}}</th>
                                <th style="width: 15%;">{{'SPARE.SUBPRODUCT' | translate}}</th>
                                <th style="width: 15%;">{{'SPARE.SPAREREQUIRED' | translate}}</th>
                                <th style="width: 15%;">{{'SPARE.SPARELOCATION' | translate}}</th>
                                <th style="width: 12%;">{{'SPARE.CHARGABLE' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let spare of spare_request_details;let i=index">
                                <td class="datatable-center">{{i+1}}</td>
                                <td>{{spare.spare_code}}</td>
                                <td>{{spare.model}}</td>
                                <td>{{spare.product}}</td>
                                <td>{{spare.sub_product}}</td>
                                <td>{{spare.spare_quantity}}</td>
                                <td>{{spare.spare_location.spare_location}}</td>
                                <td *ngIf="spare.chargeable == 1">Yes</td>
                                <td *ngIf="spare.chargeable == 0">No</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
        <ng-template #tech_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' |
                            translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_data.technician_code}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.TCH_NAME' |
                            translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">
                            {{technician_data.full_name}}</div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputPassword3">{{'USER.SKILL' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_data.skill_level}}</div>
                    </div>
                    <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.CONNUMBER' | translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_data.contact_number}}
                        </div>
                    </div>
                    <!-- <div class="row form-group"><label class="col-lg-5 control-label popupcolor"
                            for="inputEmail3">{{'RAISETCKT.LOCATION' | translate}}:</label>
                        <div class="col-lg-7 control-label overflow-details">{{technician_data.location}}</div>
                    </div> -->
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'RAISETCKT.PRODUCT' |
                            translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_data.product}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'RAISETCKT.SUBPRODUCT' |
                            translate}}:</label>
                        <div class="col-sm-7 txt_clr overflow-details">{{technician_data.sub_product}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'COMTICK.TECH_TYP' |
                            translate}}:</label>
                        <div class="txt_clr" *ngIf="technician_data.technician_type ==  1">Inhouse Technician</div>
                        <div class="txt_clr" *ngIf="technician_data.technician_type ==  2">Partner Service Engineer</div>
                    </div>
                </form>
            </div>
        </ng-template>
        <ng-template #ticket_details let-c="close" let-d="dismiss">
            <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- body begin -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row form-group">
                                <label class="col-lg-5 control-label popupcolor"
                                    for="inputEmail3">{{'RAISETCKT.TICKET_ID' |
                                    translate}}:</label>
                                <div class="col-lg-7 txt_clr">{{ticket_data.ticket_id}}</div>
                            </div>
                            <div class="row form-group">
                                <label class="col-lg-5 control-label popupcolor" for="inputPassword3">{{'CUSTOMER.CUSID'
                                    |
                                    translate}}:</label>
                                <div class="col-lg-7 txt_clr">{{ticket_data.customer_code}}</div>
                            </div>
                            <div class="row form-group"><label class="col-lg-5 control-label popupcolor"
                                    for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
                                <div class="col-lg-7 txt_clr">
                                    {{ticket_data.customer_name}}</div>
                            </div>
                            <div class="row form-group"><label class="col-lg-5 control-label popupcolor"
                                    for="inputPassword3">{{'NEWTCKT.LOC' | translate}}:</label>
                                <div class="col-lg-7 txt_clr overflow-details"> {{ticket_data.location}}</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row form-group"><label class="col-lg-5 control-label popupcolor"
                                    for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
                                <div class="col-lg-7 txt_clr overflow-details">{{ticket_data.priority}}</div>
                            </div>
                            <div class="row form-group"><label class="col-lg-5 control-label popupcolor"
                                    for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
                                <div class="col-lg-7 txt_clr">{{ticket_data.contract_type}}</div>
                            </div>
                            <div class="row form-group">
                                <label class="col-lg-5 control-label popupcolor" for="inputPassword3">{{'SPARE.MODEL' |
                                    translate}}:</label>
                                <div class="col-lg-7 txt_clr">{{ticket_data.model}}</div>
                            </div>
                            <div class="row form-group">
                                <label class="col-lg-5 control-label popupcolor"
                                    for="inputPassword3">{{'MANAGECONT.SERIALNO' |
                                    translate}}:</label>
                                <div class="col-lg-7 txt_clr">{{ticket_data.serial_no}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </kt-portlet-body>
    <!-- end body for portlet-->
</kt-portlet>
<ng-template #ImageView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'KNBS.IMVW' | translate}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body datatable-center">
        <img style="width: 634px;" class="image_size" src={{httplink}}{{image_or_video}}>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
            (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    </div>
</ng-template>