<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.SMTP' | translate}}">
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill  pull-right"
                (click)="openLarge(add_smtp)">{{'SMTP.ADD_SMTP' | translate}}
            </button>
        </ng-container>
        <!--heading for portlet-->
    </kt-portlet-header>
    <!-- portlet body begins -->
    <kt-portlet-body>
        <div class="kt-section">
            <!-- To Display the packages -->
            <div class="row">
                <div class="table-responsive">
                    <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <!-- columns for  table -->
                            <tr>
                                <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                    {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                                </th>
                                <th style="width: 12%;" class="kt-footer kt-container">{{'SMTP.HOSTNAME' | translate}}
                                </th>
                                <th style="width: 25%;" class="kt-footer kt-container">{{'SMTP.USER' | translate}}</th>
                                <!-- <th style="width: 12%;" class="kt-footer kt-container">{{'SMTP.PASS' | translate}}</th> -->
                                <th style="width: 10%;" class="kt-footer kt-container">{{'SMTP.SECTYPE' | translate}}
                                </th>
                                <th style="width: 10%;" class="kt-footer kt-container">{{'SMTP.PORT' | translate}}</th>
                                <th style="width: 12%;" class="kt-footer kt-container max-tables">Status</th>
                                <th style="width: 12%;" class="kt-footer kt-container max-tables">
                                    {{'NEW_SUBSCRIPTION.ACTION' | translate}}
                                </th>
                              

                            </tr>
                        </thead>

                        <tbody>
                            <!-- values from the api.For loop to populate the datas -->
                            <tr *ngFor="let item of smtpsetting_details;let i=index">
                                <td class="text-center">{{i+1}}</td>
                                <td>{{item.smtp_hostname}}</td>
                                <td class="smtpemail">{{item.smtp_username}}</td>
                                <!-- <td>{{item.smtp_password}} </td> -->
                                <td>{{item.smtp_security_type}} </td>
                                <td>{{item.smtp_port}} </td>

                                <td class="text-center" *ngIf='item.default == "1"'><i class="far fa-check-circle"
                                    style="font-size:22px; color:#0abb87" aria-hidden="true"></i></td>

                                <td class="text-center" *ngIf='item.default == "0"'><i class="fa fa-ban"
                                    style="font-size:21px; color:#dc3545" aria-hidden="true"></i></td>
                                <td class="text-center">
                                    <!-- icons for edit and delete -->
                                    <button class="btn btn-base" (click)="openLarge(edit_smtp);editsmtpsetting(item)">
                                        <i class="fa fa-edit" style="font-size:21px;color:#5d78ff"
                                            aria-hidden="true"></i></button>&nbsp;
                                  

                                </td>

                             

                            </tr>
                        </tbody>
                    </table>
                    <p style="color: red;">{{error}}</p>
                </div>
            </div>
        </div>
    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>


<!--Modal box to add the site settings-->
<ng-template #add_smtp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'SMTP.ADD_SMTP' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <kt-portlet-body>
            <form id="form_body" [formGroup]="Addsmtpplan" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.HOSTNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="smtp_hostname"
                            placeholder="Enter Host Name">
                        <div *ngIf="log.smtp_hostname.errors && (log.smtp_hostname.dirty || log.smtp_hostname.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.smtp_hostname.errors.required" style="color:red">
                                 {{'SMTP.HOSTNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                </div>
                                <div *ngIf="!Addsmtpplan.hasError('whitespace')" style="color:red">
                                    {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                    {{'SMTP.HOSTNAME' | translate}}
                                  </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4 pr-0">{{'SMTP.USEREmail' | translate}}:</label>
                    <div class="col-lg-8">
                        <input type="email" class="form-control" formControlName="smtp_username"
                            placeholder="User Name">
                        <div *ngIf="log.smtp_username.errors && (log.smtp_username.dirty || log.smtp_username.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.smtp_username.errors.required" style="color:red">{{'SMTP.USEREmail' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                            <div *ngIf="log.smtp_username.errors.pattern" style="color:red">{{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'SMTP.USEREmail' | translate}}</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.PASS' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="password" class="form-control" formControlName="smtp_password"
                            placeholder="Enter Password">
                        <div *ngIf="log.smtp_password.errors && (log.smtp_password.dirty || log.smtp_password.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.smtp_password.errors.required" style="color:red"> {{'SMTP.PASS' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                </div>
                            <div *ngIf="log.smtp_password.errors.minlength" style="color:red">{{'SMTP.PASS' | translate}} {{'SMTP.MIN' | translate}} </div>
                            <!-- <div *ngIf="log.smtp_password.errors.maxlength" style="color:red">{{'SMTP.USEREmail' | translate}} maximum
                                length is 100</div>
                            <div *ngIf="log.smtp_password.errors.password" style="color:red">{{'SMTP.SPACE_VALID' | translate}} {{'SMTP.USEREmail' | translate}}</div> -->

                        </div>

                    </div>
                </div>
                <br>

                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.SECTYPE' | translate}} :</label>
                    <div class="col-lg-8">
                        <select class="form-control" formControlName="smtp_security_type" tabindex="1"
                            placeholder="choose">
                            <option value="" [selected]="true" disabled>{{'SMTP.TYPE' | translate}}</option>
                            <option value="ssl">SSL</option>
                            <option value="tls">TLS</option>
                        </select>
                        <div *ngIf="log.smtp_security_type.errors && (log.smtp_security_type.dirty || log.smtp_security_type.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.smtp_security_type.errors.required" style="color:red">
                                {{'SMTP.SECTYPE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}} </div>

                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.PORT' | translate}} :</label>

                    <div class="col-lg-8">
                        <!--saranya17-12-2020 keypress maxlength added-->
                        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="smtp_port"
                            placeholder="Enter Port Number" maxlength="4">
                        <div *ngIf="log.smtp_port.errors && (log.smtp_port.dirty || log.smtp_port.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.smtp_port.errors.required" style="color:red">{{'SMTP.PORT' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}} </div>
                            <div *ngIf="log.smtp_port.errors.pattern" style="color:red">
                                {{'SMTP.PORT' | translate}} {{'SMTP.DIGI' | translate}}
                                
                            </div>
                            <div *ngIf="log.smtp_port.errors.minlength" style="color:red">
                                {{'SMTP.PORT' | translate}}  {{'SMTP.MINI' | translate}}</div>
                            <div *ngIf="log.smtp_port.errors.maxlength" style="color:red">
                                {{'SMTP.PORT' | translate}} {{'SMTP.MAX' | translate}} </div>

                        </div>
                    </div>
                </div>
                <br>
            </form>
            <!-- end form group -->
            <!-- </div> -->
            <!-- <div class="kt-separator kt-separator--dashed"></div> -->
        </kt-portlet-body>
        <!-- end body for portlet-->
        <!-- </kt-portlet> -->
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <!-- button for submit -->
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit" (click)="addsiteplan()"
                data-ktwizard-type="action-submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!Addsmtpplan.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>&nbsp;
            <br>
        </div>
    </div>
</ng-template>
<!--Modal box to edit the site settings-->
<ng-template #edit_smtp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SMTP.EDIT_SMTP' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <kt-portlet-body>
            <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                [formGroup]="Editsmtpplan">
                <div class="row" style="display:none">
                    <label class="control-label col-lg-4"> SMTP Id</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="hidden_smtp_id" formControlName="smtp_id"
                            placeholder="Enter SMTP Id" id="hidden_smtp_id" readonly="">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.HOSTNAME' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="smtp_hostname"
                            placeholder="Enter Host Name">
                        <div *ngIf="log1.smtp_hostname.errors && (log1.smtp_hostname.dirty || log1.smtp_hostname.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.smtp_hostname.errors.required" style="color:red">
                                {{'SMTP.HOSTNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                                </div>
                                <div *ngIf="!Editsmtpplan.hasError('whitespace')" style="color:red">
                                    {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                    {{'SMTP.HOSTNAME' | translate}}
                                  </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4 pr-0">{{'SMTP.USEREmail' | translate}}:</label>
                    <div class="col-lg-8">
                        <input type="email" class="form-control" formControlName="smtp_username"
                            placeholder="Enter User Name">
                        <div *ngIf="log1.smtp_username.errors && (log1.smtp_username.dirty || log1.smtp_username.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.smtp_username.errors.required" style="color:red">
                                {{'SMTP.USEREmail' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                            <div *ngIf="log1.smtp_username.errors.pattern" style="color:red">{{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SMTP.USEREmail' | translate}}</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.PASS' | translate}} :</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" formControlName="smtp_password"
                            placeholder="Enter Password">
                        <div *ngIf="log1.smtp_password.errors && (log1.smtp_password.dirty || log1.smtp_password.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.smtp_password.errors.required" style="color:red"> 
                                {{'SMTP.PASS' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                            <div *ngIf="log1.smtp_password.errors.minlength" style="color:red">{{'SMTP.PASS' | translate}} {{'SMTP.MIN' | translate}} </div>
                            <!-- <div *ngIf="log1.smtp_password.errors.maxlength" style="color:red">{{'SMTP.PASS' | translate}} maximum
                                length is 100</div> -->
                            <!-- <div *ngIf="log1.smtp_password.errors.password" style="color:red">Please enter a
                                valid password</div> -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.SECTYPE' | translate}} :</label>
                    <div class="col-lg-8">
                        <select class="form-control" formControlName="smtp_security_type"
                            data-placeholder="Choose the security type" tabindex="1">
                            <option value="ssl">SSL</option>
                            <option value="tls">TLS</option>
                        </select>
                        <div *ngIf="log1.smtp_security_type.errors && (log1.smtp_security_type.dirty || log1.smtp_security_type.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.smtp_security_type.errors.required" style="color:red"> 
                                {{'SMTP.SECTYPE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                             </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <label class="control-label col-lg-4">{{'SMTP.PORT' | translate}} :</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control"  (keypress)="numberOnly($event)" formControlName="smtp_port"
                            placeholder="Enter Port Number" maxlength="4">
                        <div *ngIf="log1.smtp_port.errors && (log1.smtp_port.dirty || log1.smtp_port.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.smtp_port.errors.required" style="color:red"> 
                                {{'SMTP.PORT' | translate}}  {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                            <div *ngIf="log1.smtp_port.errors.pattern" style="color:red">{{'SMTP.PORT' | translate}}  {{'SMTP.DIGI' | translate}}
                            </div>
                            <div *ngIf="log1.smtp_port.errors.minlength" style="color:red">{{'SMTP.PORT' | translate}} {{'SMTP.MINI' | translate}} </div>
                            <!-- <div *ngIf="log1.smtp_port.errors.maxlength" style="color:red">port number maximum
                                length is 4 </div> -->
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.STATUS' | translate}} :</label>
                    <div class="col-lg-8">
                        <select class="form-control" formControlName="default" data-placeholder="Choose a Category"
                            tabindex="1">
                            <option value="1">Active</option>
                            <option value="0">Block</option>
                        </select>
                    </div>
                </div>

                <br>

            </form>
        </kt-portlet-body>
    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit"
                (click)="editsmtp(myInput)" [disabled]="!Editsmtpplan.valid"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpdate}"
                data-ktwizard-type="action-submit">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
        </div>
    </div>
</ng-template>