<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="{{'NEWTCKT.FRMREPORT' | translate}}">
    <!--heading for portlet-->

  </kt-portlet-header>
  <!-- begin body for portlet-->


  <kt-portlet-body>
    <form [formGroup]="filterFRM">
      <div class="row">

        <!-- <div class="col-md-12"></div> -->
        <div class="col-md-2">
          <div class="input-group date">
            <input type="text" class="form-control" formControlName="from_date" [(ngModel)]="from"
              placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker" required>
            <div class="input-group-append">

              <button class="btn btn-primary" (click)="d.toggle()" type="button">
                <i class="la la-calendar"></i>
              </button>
            </div>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>

          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group date">
            <input type="text" class="form-control" formControlName="to_date" [(ngModel)]="to"
              placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker" required>
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="e.toggle()" type="button">
                <i class="la la-calendar"></i>
              </button>
            </div>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>


        </div>
        <div class="col-md-2">

          <select formControlName="technician_code" class="form-control" #location name="technician_code">
            <option value="">ALL Technicians</option>
            <option *ngFor="let tech of alltech" value="{{tech.employee_code}}">
              {{tech.full_name}}</option>
          </select>

        </div>
        <div class="">
          <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 "
            style="margin-top: 0px;" (click)="filterFRMF()"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}">{{'NEW_SUBSCRIPTION.SUB'
            | translate}}</button>
          <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2 pull-right"
            (click)="getdataFRM();exportAsXLSX()">
            {{'TRAININGSCORE.EXCEL' | translate}}</button>
        </div>
      </div>



    </form>
    <br>

    <div class="kt-section__content">
      <div>
        <table *ngIf="showTable" datatable="ng" [dtOptions]="dtOptions"
          class="table table-striped table-bordered table-sm row-border hover datatable">
          <thead>
            <!-- columns for  table -->
            <tr>
              <th class="kt-footer kt-container max-tables">
                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container">
                {{'NEWTCKT.TCKID' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container">
                {{'NEWTCKT.TCH_NAME' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container">
                {{'NEWTCKT.TCH_ID' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container text-center">
                {{'NEWTCKT.FRMDETAIL' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container">
                {{'NEWTCKT.DOFRM' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container">
                {{'NEWTCKT.TAMT' | translate}}</th>
              <th style="width: 13%;" class="kt-footer kt-container">
                {{'NEW_SUBSCRIPTION.STATUS' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of frm_reports; let i = index">
              <td class="datatable-center">{{i+1}}</td>
              <td> <a class="button" data-placement="bottom" ngbTooltip="View Details"
                  (click)="ticketDetails(items.ticket_id,ticket_details)">{{items.ticket_id}}</a>
              </td>
              <td>
                {{items.technician_name}}
              </td>
              <td><a class="button" data-placement="bottom" ngbTooltip="View Details"
                  (click)="get_technician_details(items.ticket_id,items.technician_id,view_techniciandetails)"
                  style="color: #242fb7">{{items.technician_id}}</a>

              </td>
              <td class="datatable-center"><a class="button"  (click)="FRMDetails(items,frm_required);" data-placement="bottom"
                  ngbTooltip="View Frm">
                  {{'RAISETCKT.VIEW' | translate}}
                  <!-- <i class="fa fa-eye" style="cursor: pointer;" aria-hidden="true"></i> -->
                </a></td>

              <td *ngIf="items.date_of_frm == null">-</td>
              <td *ngIf="items.date_of_frm == ''">{{items.date_of_frm}}</td>
              <!-- <td>
                {{items.date_of_frm}}
              </td> -->
              <td>
                {{items.ticket_ammount}}
              </td>
              <td>{{items.frm_status_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </kt-portlet-body>


  <!-- end body for portlet-->
</kt-portlet>
<ng-template #frm_required let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'NEWTCKT.FRMDETAIL' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <div class="table-responsive"> -->
    <table datatable [dtOptions]="dtOptions" *ngIf="ShowService"
      class="table table-striped table-bordered table-sm row-border hover ">

      <thead>
        <tr>
          <th style="width: 25%;">
            {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
          <th style="width: 25%;">{{'SPARE.SPARECODE' | translate}}</th>
          <th style="width: 25%;">{{'NEWTCKT.QRETURN' | translate}}</th>
          <th style="width: 25%;">{{'SPARE.SPARELOCATION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of frm_details;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.spare_code}}</td>
          <td>{{item.quantity_return}}</td>
          <td>{{item.spare_location}}</td>

        </tr>

      </tbody>
    </table>
    <!-- </div> -->
  </div>
</ng-template>
<!-- view ticket details -->
<ng-template #ticket_details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'RAISETCKT.TICKET_ID' |
          translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_data.ticket_id}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_data.customer_code}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
          for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_data.customer_name}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.LOC'
          | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details"> {{ticket_data.location}}:</div>
      </div>

      <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
          for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_data.priority}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-5 control-label popupcolor"
          for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_data.contract_type}}</div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{ticket_data.model}}</div>
      </div>
      <div class="form-group">
        <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
            for="inputPassword3">{{'MANAGECONT.SERIALNO' | translate}}:</label>
        <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.serial_no}}</div>
    </div>

    </form>
  </div>
</ng-template>
<!-- view_ticketdetails -->
<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <!-- <div class="row">
          <div class="col-lg-6">
          <label>{{'REIM.TECHID' | translate}}:</label></div>
          <div class="col-lg-6">{{technicians_details.technician_id}}</div>
        </div>
        <br> -->


      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TCH_NAME' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">
          {{technicians_details.full_name}}</div>
      </div>

      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.contact_number}}</div>
      </div>
      <!-- <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.LOC' | translate}}:</label>
        <div class="col-sm-7 control-label overflow-details">{{technicians_details.location}}</div>
      </div> -->

      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SK_LVL' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.skill_level}}</div>
      </div>

      <div class="row form-group">
        <label class="col-sm-5 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TSK_CNT' | translate}}:</label>
        <div class="col-sm-7 txt_clr overflow-details">{{technicians_details.task_count}}</div>
      </div>

      <!--Old code-->
      <!-- 
      <div class="row">
        <div class="col-lg-6">
          <label>{{'NEWTCKT.TCH_NAME' | translate}}:</label></div>
        <div class="col-lg-6">{{technicians_details.full_name}}</div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <label>{{'NEWTCKT.CONNUMBER' | translate}}:</label></div>
        <div class="col-lg-6">{{technicians_details.contact_number}}</div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <label>{{'NEWTCKT.LOC' | translate}}:</label></div>
        <div class="col-lg-6">{{technicians_details.location}}</div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <label>{{'NEWTCKT.SK_LVL' | translate}}:</label></div>
        <div class="col-lg-6">{{technicians_details.skill_level}}</div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <label>{{'NEWTCKT.TSK_CNT' | translate}}:</label></div>
        <div class="col-lg-6">{{technicians_details.task_count}}</div>
      </div> -->

    </form>
  </div>
</ng-template>