@import "sass/pages/wizard/wizard-2";

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .parent-left {
    background: #eaeaea;
    padding-top: 10px;
}
.tab-sla-page {
  border: 1px solid #1f9cab;
}

.col-sm-3 {
    width: 31%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 6px;
    padding-right: 3px;
}  
.col-sm-9 {
  // width: 25%;
  // float: left;
  // position: relative;
  // min-height: 1px;
  // padding-left: 15px;
  // padding-right: 15px;
  // width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  // padding-left: 37px;
  padding-right: 0px;
}  
.col-md-offset-8 {
  margin-left: 66.66667%;
}
.col-md-4 {
  // width: 33.33333%;
  float: left;
}
.col-sm-12, .col-md-4 {
  
  position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-circle {
  border-radius: 25px!important;
  overflow: hidden;
}
// .btn {
//   outline: 0!important;
//   box-shadow: none!important;
//   display: inline-block;
//   margin-bottom: 0;
//   font-weight: 400;
//   text-align: center;
//   vertical-align: middle;
//   touch-action: manipulation;
//   cursor: pointer;
//   border: 1px solid transparent;
//   white-space: nowrap;
//   padding: 6px 12px;
//   font-size: 14px;
//   user-select: none;
// }
 .btn-group>.btn {
  position: relative;
  float: left;
 }
 .btn-group>.btn:first-child {
  margin-left: 0;
}
.btn:not(.btn-sm):not(.btn-lg) {
  line-height: 1.44;
}
.btn.btn-outline.green-haze {
  border-color: #44b6ae;
  color: #44b6ae;
  background: 0 0;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.nav>li, .nav>li>a {
  display: block;
  position: relative;
}
li {
  border-radius: 0!important;
  text-align: -webkit-match-parent;
}
.nav {

  list-style: none;
}
input[type=radio] {
  margin: 4px 0 0;
  box-sizing: border-box;
  padding: 0;
  background-color: initial;
  cursor: default;
  -webkit-appearance: radio;

  border: initial;
  line-height: normal;
}
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font: inherit;
  border-radius: 0!important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
 -webkit-rtl-ordering: logical;
}
.catg-title2 {
   background: #09bbff;
    text-align: center;
    width: 189px;
    margin-left: 0px;
    color: #ffffff;
}
.newclass{
  padding-left: 0px;
  margin-left: 9px;
}
// .caption.catg-title3 {
//   width: 95%;
//   margin-left: 5%;
//   text-align: center;
//   color: #ffffff;
// }

.portlet.box.blue-hoki>.portlet-title{
  background-color:blueviolet;
}
.portlet.box>.portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}
.portlet>.portlet-title {
  min-height: 41px;
}
.table-toolbar {
  margin-bottom: 20px;
}
.table-toolbar:after, .table-toolbar:before {
  content: " ";
  display: table;
}
// .tab-pane {
//   padding-top: 10px;
// }

// .tab-content>.tab-pane {
//   display: none;
// }
// .tab-content>.active {
//   display: block;
// }
.tab-height {
  min-height: 351px;
  overflow: hidden;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
    margin-left: auto;
}
.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  display: table;
  content: " ";
}
*, :after, :before {
  box-sizing: border-box;
}
.portlet.box.blue-hoki {
  border: 1px solid #869ab3;
  background-color: #67809F;
}
.portlet.box {
  padding: 0!important;
}
.portlet {
  margin-top: 0;
  margin-bottom: 25px;
}
.table-toolbar {
  margin-bottom: 20px;
}
.kt-wizard-v2[_ngcontent-kiu-c17] .kt-wizard-v2__aside[_ngcontent-kiu-c17] {
  flex: -1 0 400px;
  display: flex;
  width: 400px;
  border-right: 1px solid #eeeef4;
  padding: 4.5rem 2.5rem 4.5rem 1.5rem;
}
.kt-wizard-v2[_ngcontent-kiu-c17] .kt-wizard-v2__wrapper[_ngcontent-kiu-c17] {

  width: 116%;
}
// .col-sm-4 {
//   width: 33.33333%;
//   float: left;
//   position: relative;
//   min-height: 1px;
//   padding-left: 15px;
//   padding-right: 15px;
// }
a {
  text-shadow: none;
  color: #337ab7;
  border-radius: 0!important;
  text-decoration: none;
  background-color: transparent;
}
.kt-wizard-v2[_ngcontent-gsf-c17] .kt-wizard-v2__aside[_ngcontent-gsf-c17] {
  flex: 0 0 400px;
  display: flex;
  width: 400px;
  border-right: 1px solid #eeeef4;
  padding: 1.5rem -1.5rem 1.5rem -2.5rem;
  padding-right: 28px;
}
.tab-pane img {
  border: 1px solid #1d8fc5 !important;
  width: 187px;
  object-fit: cover;  
  height: 112px;
}
.tab-height img {
  object-fit: cover;
}
.img-responsive {
  max-width: 100%;
  display: block;
}
.col-lg-2, .col-lg-4{
  position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}
.disabledsubmit{
  cursor: not-allowed;
}

.reimg{
  text-align: center;
  padding: 10px !important;
}
@media screen and (min-width : 300px) and (max-width: 767px){
  .name_size{
    margin-top: 5rem;
    margin-left: 5rem;
  }
  .sub_size{
    margin-left: 4rem;
  }
  .msg_size{
    margin-left: 5rem;
  }
  .img_view{
    padding-top: 0rem;
    padding-right: 2.5rem;
    padding-bottom: 4rem;
    padding-left: 2.5rem;
  }
}
.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}