<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'CONFIG.TITLE' | translate}}">
    <!--heading for portlet-->

  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body>

    <!-- <div class="container" style="margin-top: 2%"> -->
    <div class="kt-section__content">

      <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)"  #tab>
        <!-- tab for user -->

        <!-- tab for technician -->
        <ngb-tab title="Tax" id="tab-selectbyid2">
          <ng-template ngbTabContent>
            <kt-portlet-body>
              <div class="kt-section__content">
                <div>

                  <div class="kt-wizard-v4__form">
                    <form id="form_body" [formGroup]="TaxGroup" novalidate=""
                      class="custom-forms ng-untouched ng-pristine ng-valid col-lg-6">
                      <div class="row">
                        <label class="control-label col-lg-5">{{'CONFIG.PGST' | translate}} in % :</label>
                        <div class="col-lg-5">
                          <input type="text" formControlName="product_gst" class="form-control" placeholder="Enter GST">
                          <div *ngIf="log1.product_gst.errors && (log1.product_gst.dirty || log1.product_gst.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.product_gst.errors.required" style="color:red">
                              {{'CONFIG.PGST' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <br>
                      <div class="row">
                        <label class="control-label col-lg-5">{{'CONFIG.SGST' | translate}} in % :</label>
                        <div class="col-lg-5">
                          <input type="text" formControlName="service_gst" class="form-control" placeholder="Enter GST">
                          <div *ngIf="log1.service_gst.errors && (log1.service_gst.dirty || log1.service_gst.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log1.service_gst.errors.required" style="color:red">
                              {{'CONFIG.SGST' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="text-center col-lg-8 ml-auto">
                        <button type="submit" class="btn btn-outline-success btn-pill btn-sm custom-btn disabledsubmit"
                          data-ktwizard-type="action-submit" [disabled]="!TaxGroup.valid"
                          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingTax}"
                          (click)="update_tax()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                        <br>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Call catogery" id="tab-selectbyid3">
          <ng-template ngbTabContent>
            <kt-portlet-body>
              <div class="kt-section__content">
                <div>
                  <form id="form_body" [formGroup]="CallCategory" (ngSubmit)="add_callcategory(Input)" novalidate=""
                    class="custom-forms  ng-untouched ng-pristine ng-valid col-lg-6">
                    <div class="kt-wizard-v4__form">
                      <div class="row">
                        <label class="control-label col-sm-5">Voltage:</label>
                        <div class="col-sm-5">
                          <select class="form-control" formControlName="voltage" name="voltage" id="voltage"
                            (change)="onChangevoltageEdit($event.target.value)">
                            <option value="null">Select Voltage</option>
                            <option value="2v">2v</option>
                            <option value="12v">12v</option>
                          </select>
                          <div *ngIf="log2.voltage.errors && (log2.voltage.dirty || log2.voltage.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log2.voltage.errors.required" style="color:red">
                              Voltage {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          </div>

                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <label class="control-label col-sm-5">{{'CONFIG.LOCTYPE' | translate}} :</label>
                        <div class="col-sm-5">
                          <select class="form-control" formControlName="location_type_id" name="location_type_id"
                            id="location_type_id">
                            <option value="null">Select Location Type</option>
                            <option *ngFor="let items of locationData; let i=index" [value]=items.location_type_id>
                              {{items.location_type}}
                            </option>
                          </select>
                          <div
                            *ngIf="log2.location_type_id.errors && (log2.location_type_id.dirty || log2.location_type_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log2.location_type_id.errors.required" style="color:red">
                              Location Type{{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          </div>

                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <label class="control-label col-sm-5">{{'CONFIG.CALLCAT' | translate}} :</label>
                        <div class="col-sm-5">
                          <input type="text" formControlName="call_category" class="form-control"
                            placeholder="Enter CallCategory">
                          <div
                            *ngIf="log2.call_category.errors && (log2.call_category.dirty || log2.call_category.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log2.call_category.errors.required" style="color:red">
                              {{'CONFIG.CALLCAT' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <label class="control-label col-sm-5">{{'CONFIG.MTREPAIR' | translate}} :</label>
                        <div class="col-sm-5">
                          <input type="time" formControlName="mttr" class="form-control">
                          <div *ngIf="log2.mttr.errors && (log2.mttr.dirty || log2.mttr.touched)" class="m-b-10 error">
                            <div *ngIf="log2.mttr.errors.required" style="color:red">{{'CONFIG.MTREPAIR' | translate}}
                              {{'NEW_SUBSCRIPTION.REQ' | translate}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="text-center col-lg-8 ml-auto">
                        <button type="submit" class="btn btn-outline-success btn-pill btn-sm custom-btn disabledsubmit"
                          data-ktwizard-type="action-submit"
                          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingCon}"
                          [disabled]="!CallCategory.valid">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                      </div>
                      <br>
                    </div>
                  </form>
                </div>
              </div>

              <!-- <mat-divider></mat-divider> -->
              <div class="table-responsive">
                <table *ngIf="showTable" datatable="ng" [dtOptions]="dtOptions"
                  class="table table-striped table-bordered table-sm row-border hover datatable">

                  <thead>
                    <!-- columns for  table -->
                    <tr>
                      <th  class="kt-footer kt-container  max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                      <th style="width: 25%;" class="kt-footer kt-container">{{'CONFIG.CALLCAT' | translate}}</th>
                      <th style="width: 25%;" class="kt-footer kt-container">{{'CONFIG.MTREPAIR' | translate}}</th>
                      <th style="width: 25%;" class="kt-footer kt-container">Voltage</th>
                      <th style="width: 25%;" class="kt-footer kt-container">Location Type</th>
                      <th  class="kt-footer kt-container max-tables">
                        {{'NEW_SUBSCRIPTION.ACTION' | translate}}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of callcategorydetails;let i=index">
                      <td class="datatable-center">{{i+1}}</td>
                      <td>{{item.call_category}}</td>
                      <td> {{item.mttr}}</td>
                      <td> {{item.voltage}}</td>
                      <td> {{item.location_type.location_type}}</td>
                      <td class="datatable-center">
                        <!-- icons for edit and delete -->
                        <button class="btn btn-base" (click)="openLarge(edit_call_category);show_callcategory(item);">
                          <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button class="btn btn-base" (click)="delete_callcategory(item.call_category_id)">
                          <i class="fa fa-trash trash" aria-hidden="true"></i>
                        </button>
                        <!-- <button class="btn pull-right "
                                            (click)="trashspare(item)">
                                            <i class="fa fa-trash"></i></button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

    <!-- </div> -->
    <br>


  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>

<ng-template #edit_call_category let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'CONFIG.EDIT' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-section__content">
      <div>

        <div class="kt-wizard-v4__form">
          <form id="form_body" [formGroup]="EditCallCategory" (ngSubmit)="edit_callcategory(Input)" novalidate=""
            class="ng-untouched ng-pristine ng-valid">
            <div class="row">
              <!-- <div class="col-lg-6"> -->
              <label class="control-label col-sm-5">Voltage:</label>
              <div class="col-sm-7">

                <select class="form-control" formControlName="voltage" name="voltage" id="voltage"
                  (change)="onChangevoltageEdit($event.target.value)">
                  <option value="" disabled>Select Voltage</option>
                  <option value="2v">2v</option>
                  <option value="12v">12v</option>
                </select>
                <div *ngIf="log3.voltage.errors && (log3.voltage.dirty || log3.voltage.touched)" class="m-b-10 error">
                  <div *ngIf="log3.voltage.errors.required" style="color:red">
                    Voltage {{'NEW_SUBSCRIPTION.REQ' | translate}}
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <br>
            <div class="row">
              <!-- <div class="col-lg-6"> -->
              <label class="control-label col-sm-5">{{'CONFIG.LOCTYPE' | translate}}:</label>
              <div class="col-sm-7">
                <select class="form-control" formControlName="location_type_id" name="location_type_id"
                  id="location_type_id">
                  <option value="null" disabled>Select Location Type</option>
                  <option *ngFor="let items of locationData; let i=index" [value]=items.location_type_id>
                    {{items.location_type}}
                  </option>
                </select>
                <div
                  *ngIf="log3.location_type_id.errors && (log3.location_type_id.dirty || log3.location_type_id.touched)"
                  class="m-b-10 error">
                  <div *ngIf="log3.location_type_id.errors.required" style="color:red">Location
                    type{{'NEW_SUBSCRIPTION.REQ' | translate}}
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <br>
            <div class="row">
              <!-- <div class="col-lg-6"> -->
              <label class="control-label col-sm-5">{{'CONFIG.CALLCAT' | translate}}:</label>
              <div class="col-sm-7">
                <input type="text" formControlName="call_category" class="form-control">
                <div *ngIf="log3.call_category.errors && (log3.call_category.dirty || log3.call_category.touched)"
                  class="m-b-10 error">
                  <div *ngIf="log3.call_category.errors.required" style="color:red">{{'CONFIG.CALLCAT' | translate}}
                    {{'NEW_SUBSCRIPTION.REQ' | translate}}
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <br>
            <div class="row">
              <label class="control-label col-sm-5">{{'CONFIG.MTREPAIR' | translate}}:</label>
              <div class="col-sm-7">
                <input type="time" formControlName="mttr" class="form-control">
                <div *ngIf="log3.mttr.errors && (log3.mttr.dirty || log3.mttr.touched)" class="m-b-10 error">
                  <div *ngIf="log3.mttr.errors.required" style="color:red">{{'CONFIG.MTREPAIR' | translate}}
                    {{'NEW_SUBSCRIPTION.REQ' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <br>

         
            <!-- <br> -->
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
      <div class="text-center">
          <button type="submit" class="btn btn-outline-success btn-pill btn-sm custom-btn disabledsubmit"
            data-ktwizard-type="action-submit"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSubmit}"
            [disabled]=!EditCallCategory.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>

        </div>
  </div>
</ng-template>