<kt-portlet [class]="'kt-portlet--height-fluid'">
        <kt-portlet-header title="{{'MENU.PRODUCT_MASTER' | translate}}">
                <!--heading for portlet-->
                <ng-container ktPortletTools>
                        <button class="btn btn-outline-dark  btn-sm btn-pill custom-btn"
                                (click)="openLarge(bulkproduct)">{{'PRODUCTMASTER.BULKPRO' | translate}} </button>
                        <button type="button" class="btn btn-outline-dark  ml-2  btn-sm btn-pill custom-btn"
                                (click)="openProduct(Addproduct)">{{'LOCATE.ADD' | translate}}
                                {{'PRODUCTMASTER.CATEGORY' | translate}}</button>
    
                </ng-container>
        </kt-portlet-header>
    
        <kt-portlet-body>
    
                <div class="container">
                        <div class="row">
                                <div class="col-md-4 proudts-items" *ngFor="let items of product_details;let i = index">
                                        <mat-card class="example-card" (click)="editpackage(items)">
    
                                                <mat-card-header>
                                                        <mat-card-title>{{items.product_name}}</mat-card-title>
                                                </mat-card-header>
                                                <img *ngIf="items.product_image" mat-card-image width="300" height="200"
                                                src={{httplink}}{{items.product_image}} alt="Product Image">
                                                <!--If there is no image-->
                                                <img *ngIf="items.product_image==null" width="300" height="200"
                                                        src="/assets/images/NoImage.jpg" alt="No image">
    
                                                <mat-card-content>
                                                        <p id="myproduct{{i}}" class="producttrun"
                                                                [ngClass]="{ 'show': show }">
                                                                {{items.product_description}}
    
                                                        </p>
    
                                                        <!-- Restricted max length of content by view more button -->
                                                        <span *ngIf="items.product_description.length<=50">
    
                                                        </span>
                                                        <span *ngIf="items.product_description.length>=50">
                                                                <a class="viewmore"
                                                                        (click)="openLarge(View_more);viewmore(items)">View
                                                                        More</a>

                                                                        <!--  before  view btn change
                                                                                <button class="btn btn-pill btn-outline-success btn-sm custom-btn "
                                                                        (click)="openLarge(View_more);viewmore(items)">View
                                                                        More</button> -->
                                                        </span>
                                                </mat-card-content>
    
                                                <div align="end">
                                                        <button class="btn btn-pill btn-outline-success btn-sm custom-btn sub_product"
                                                                (click)="openLarge(content2);editpackage(items)">SubProduct</button>
                                                        <button class='btn btn-base'
                                                                (click)="openmodal(productedit);editpackage(items)">
                                                                <i class="fa fa-edit mar_rig" aria-hidden="true"></i>
                                                        </button>
    
    
                                                        <!--Delete Product icon-->
                                                        <button class="btn btn-base" (click)="trashproduct(items)"><i
                                                                        class="fa fa-trash trash"
                                                                        aria-hidden="true"></i></button>
                                                </div>
                                        </mat-card>
                                </div>
                        </div>
                </div>
    
        </kt-portlet-body>
    </kt-portlet>
    
    <!-- Dialouge box-->
    <!--Add Product Modal-->
    <ng-template #Addproduct let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title">{{'PRODUCTMASTER.ADD_PROCAT' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <form id="form_body" [formGroup]="AddProduct" novalidate=""
                        class="custom-forms ng-untouched ng-pristine ng-valid">
                        <div class="row">
                                <div class="col-lg-5">
                                        <label class="control-label">{{'PRODUCTMASTER.PROCAT' | translate}}:
                                        </label>
                                </div>
                                <div class="col-lg-7">
                                        <input placeholder="Enter Product Category" type="text"
                                                formControlName="product_name" class="form-control" id="product_name"
                                                name="product_name">
                                        <div *ngIf="log.product_name.errors && (log.product_name.dirty || log.product_name.touched)"
                                                class="m-b-10 error">
                                                <div *ngIf="log.product_name.errors.required" style="color:red">Product
                                                        category is
                                                        required
                                                </div>
                                                <div *ngIf="!AddProduct.hasError('whitespace')" style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'PRODUCTMASTER.PROCAT' | translate}}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-lg-5">
                                        <label class="control-label">{{'PRODUCTMASTER.PROMODALNO' | translate}}:</label>
                                </div>
                                <div class="col-lg-7">
                                        <input placeholder="Enter Item Code" type="text" class="form-control"
                                                formControlName="product_model" id="product_model" (change)="onchangemodel($event)" name="product_model">
                                        <div *ngIf="log.product_model.errors && (log.product_model.dirty || log.product_model.touched)"
                                                class="m-b-10 error">
                                                <div *ngIf="log.product_model.errors.required" style="color:red">Model
                                                        number is
                                                        required</div>
                                                <div *ngIf="!AddProduct.hasError('whitespace')" style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'PRODUCTMASTER.PROMODALNO' | translate}}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-lg-5">
                                        <label class="control-label" style="text-align:left">{{'PRODUCTMASTER.PRODESC' |
                                                translate}}:</label>
                                </div>
                                <div class="col-lg-7">
                                        <textarea placeholder="Enter Description" type="text" class="form-control"
                                                rows="5" id="product_description" formControlName="product_description"
                                                name="product_description" style="resize:none"></textarea>
    
                                        <div *ngIf="log.product_description.errors && (log.product_description.dirty || log.product_description.touched)"
                                                class="m-b-10 error">
                                                <div *ngIf="log.product_description.errors.required" style="color:red">
                                                        Product description is
                                                        required</div>
                                                <div *ngIf="!AddProduct.hasError('whitespace')" style="color:red">
                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                        {{'PRODUCTMASTER.PRODESC' | translate}}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-lg-5">
                                        <label class="control-label">{{'PRODUCTMASTER.LOGO' | translate}}:</label>
                                </div>
    
                                <div class="form-group col-lg-7 mb-0">
                                        <div class="custom-file  mb-3">
                                                <input type="hidden" value="" name="file-upload">
                                                <input type="file" name="file" accept="image/*"
                                                        formControlName="product_image"
                                                        (change)="fileChangeEvents($event)" class="fileInputProfile" />
                                                <label *ngIf="!ByDefault" class="custom-file-label"
                                                        for="customFile">Choose file</label>
                                                <label *ngIf="ByDefault" class="custom-file-label"
                                                        for="customFile">{{Filename}}</label>
                                        </div>
                                        <p *ngIf="load" style="color: red;">{{load}}</p>
                                        <p *ngIf="message" style="color: red">{{message}}</p>
                                        <p *ngIf="imageError" style="color: red">{{imageError}}</p>
                                        <!-- display image -->
    
                                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                        <a class="RemoveColor pull-right" (click)="removeImage()"
                                                        *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                                <div class="img-space">
                                                        <img [src]="cardImageBase64" />
                                                </div>
                                        </ng-container>
    
                                        <!-- <a class="btn btn-danger" >Remove</a> -->
    
                                </div>
                        </div>
                </form>
        </div>
        <div class="modal-footer">
                <p style="color: red;">{{ errors}}</p>
                <div class="kt-form-actions">
                        <div class="row">
    
                                <div class="text-center">
                                        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                                                (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' |
                                                translate}}</button>
                                        <button (click)="addpackageplan(myInput)"
                                                class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                                                data-ktwizard-type="action-submit"
                                                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                                                [disabled]=!AddProduct.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}
                                        </button>
                                </div>
                        </div>
                </div>
        </div>
    
    </ng-template>
    
    
    
    <!--modal of the product-->
    <ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
                <!-- title for modal -->
                <h4 class="modal-title">Sub Product</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <!--modal-body begin  -->
        <div class="modal-body text-center">
                <div class="row">
                        <!--Edit Subproduct icon-->
                        <ngb-carousel class="subproduct-carousel">
                                <ng-template *ngFor="let items of subproduct_details" ngbSlide>
                                                <button class="btn pull-right mr-3 p-0" (click)="trashsubproduct(items,content2)"><i
                                                        class="fa fa-trash trash" aria-hidden="true"></i></button>
                                        <button class="btn pull-right p-0"
                                                (click)="editsubproducts(items,updatesubproduct)">
                                                <i class="fa fa-edit"></i></button>


                                             
                                    
    
                                        <h3> {{items.product_sub_name}}</h3>
                                        <div class="">
                                                <!-- {{items.product_sub_image}} -->
                                                <div class="picsum-img-wrapper">
                                                        <img src={{httplink}}{{items.product_sub_image}}
                                                                alt="Product Images" style="width:220px;height:220px">
                                                </div>
    
                                        </div>
                                        <br>
    
                                        <div class="text-summary">
                                                <p>{{items.product_sub_description}}</p>
                                        </div>
                                </ng-template>
                        </ngb-carousel>
                </div>
                <div class="modal-footer">
                        <p style="color: red;">{{errors}}</p>
                        <!--Add Subproduct button in bulkupload-->
                        <!-- <button type="button" class="btn btn-outline-info btn-pill btn-sm ml-3"
                                (click)="openLarge(bulksubproduct)">{{'PRODUCTMASTER.BULKPRO' | translate}}</button> -->
                        <!--Add Subproduct button-->
                        <button type="button" class="btn btn-outline-success btn-sm btn-pill"
                                (click)="openProduct(AddSubproduct);Subproduct(items)">{{'PRODUCTMASTER.ADDSUB_PROCAT' |
                                translate}}
                        </button>
                </div>
        </div>
    
    </ng-template>
    
    
    <!--Add subproduct modal-->
    <ng-template #AddSubproduct let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title">{{'PRODUCTMASTER.ADDSUB_PROCAT' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <form id="form_body1" [formGroup]="subproduct" (ngSubmit)="submitaddsubproduct()" novalidate=""
                        class="custom-forms ng-untouched ng-pristine ng-valid">
                        <div class="form-wizard">
                                <div class="form-body">
    
                                        <div class="row">
                                                <div class="col-lg-5">
                                                        <label class="control-label">{{'PRODUCTMASTER.PRO' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-lg-7">
                                                        <select class="form-control" formControlName="product"
                                                                name="product_id" id="product_id" disabled>
                                                                <option value="" selected="empty" disabled="">
                                                                        {{productname}}
                                                                </option>
    
                                                                <option *ngFor="let items of product_details"
                                                                        [value]=items.product_id>
                                                                        {{items.product_name}}</option>
                                                        </select>
                                                        <div *ngIf="log1.product.errors && (log1.product.dirty || log1.product.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="log1.product.errors.required"
                                                                        style="color:red">Product image is required
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
    
                                        <div class="row">
                                                <div class="col-lg-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.SUBPRONAME' |
                                                                translate}}:
                                                        </label>
                                                </div>
                                                <div class=" form-group col-lg-7">
                                                        <input placeholder="Enter Sub Product" type="text"
                                                                class="form-control" formControlName="product_sub_name"
                                                                id="product_sub_name" name="product_sub_name">
                                                        <div *ngIf="log1.product_sub_name.errors && (log1.product_sub_name.dirty || log1.product_sub_name.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="log1.product_sub_name.errors.required"
                                                                        style="color:red">Subproduct name is required
                                                                </div>
                                                                <div *ngIf="!subproduct.hasError('whitespace')"
                                                                        style="color:red">
                                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                        {{'PRODUCTMASTER.SUBPRONAME' | translate}}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
    
                                        <div class="row">
                                                <div class="col-lg-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.PRODESC' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-lg-7">
                                                        <textarea placeholder="Enter Description" type="text"
                                                                class="form-control"
                                                                formControlName="product_sub_description" rows="5"
                                                                id="product_sub_description"
                                                                name="product_sub_description"
                                                                style="resize:none"></textarea>
                                                        <div *ngIf="log1.product_sub_description.errors && (log1.product_sub_description.dirty || log1.product_sub_description.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="log1.product_sub_description.errors.required"
                                                                        style="color:red">Subproduct description is
                                                                        required
                                                                </div>
                                                                <div *ngIf="!subproduct.hasError('whitespace')"
                                                                        style="color:red">
                                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                        {{'PRODUCTMASTER.PRODESC' | translate}}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <!-- <div class="row">
                                                <div class="col-lg-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.PROMODALNO' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-lg-7">
                                                        <input placeholder="Enter Model Number" ype="text"
                                                                class="form-control" formControlName="product_sub_model"
                                                                id="product_sub_model" name="product_sub_model">
                                                        <div *ngIf="log1.product_sub_model.errors && (log1.product_sub_model.dirty || log1.product_sub_model.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="log1.product_sub_model.errors.required"
                                                                        style="color:red">Subproduct model is required
                                                                </div>
                                                                <div *ngIf="!subproduct.hasError('whitespace')"
                                                                        style="color:red">
                                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                        {{'PRODUCTMASTER.PROMODALNO' | translate}}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div> -->
    
                                        <!-- <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.IMAGE' |
                                                                translate}}</label>
                                                </div>
                                                <div class=" form-group col-lg-7">
                                                        <div class="custom-file mb-3">
                                                                <input type="hidden" value="" name="file-upload">
                                                                <input type="file" name="file" accept="image/*"
                                                                        formControlName="product_sub_image"
                                                                        (change)="fileChangeEvents($event)"
                                                                        class="fileInputProfile" />
    
                                                                <label *ngIf="!ByDefault" class="custom-file-label"
                                                                        for="customFile">Choose file</label>
                                                                <label *ngIf="ByDefault" class="custom-file-label"
                                                                        for="customFile">{{Filename}}</label>
                                                              
                                                                <div *ngIf="log1.product_sub_image.errors && (log1.product_sub_image.dirty || log1.product_sub_image.touched)"
                                                                        class="m-b-10 error">
                                                                        <div *ngIf="log1.product_sub_image.errors.required"
                                                                                style="color:red">Subproduct image is
                                                                                required</div>
                                                                </div>
                                                              
                                                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                                                <a class="RemoveColor pull-right" (click)="removeImage()"
                                                                                *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                                                        <div class="img-space">
                                                                                <img [src]="cardImageBase64" />
                                                                        </div>
                                                                </ng-container>
    
                                                            
    
    
                                                                        <p style="color: red;">{{load}}</p>
                                                                        <p style="color: red">{{imageError}}</p>
                                                        </div>
                                                </div>
                                        </div> -->
    
                                        <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.IMAGE' |
                                                                translate}}</label>
                                                </div>
                                                <div class=" form-group col-lg-7 mb-0">
                                                        <div class="custom-file mb-3">
                                                                <input type="hidden" value="" name="file-upload">
                                                                <input type="file" name="file" accept="image/*"
                                                                        formControlName="product_sub_image"
                                                                        (change)="fileChangeEvents($event)"
                                                                        class="fileInputProfile" />
    
                                                                <label *ngIf="!ByDefault" class="custom-file-label"
                                                                        for="customFile">Choose file</label>
                                                                <label *ngIf="ByDefault" class="custom-file-label"
                                                                        for="customFile">{{Filename}}</label>
                                                              
                                                                <div *ngIf="log1.product_sub_image.errors && (log1.product_sub_image.dirty || log1.product_sub_image.touched)"
                                                                        class="m-b-10 error">
                                                                        <div *ngIf="log1.product_sub_image.errors.required"
                                                                                style="color:red">Subproduct image is
                                                                                required</div>
                                                                </div>
                                                              
                                                                <!-- display image -->
    
                                                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                                                <div class="overalluploadimage">
                                                                                <a class="RemoveColor pull-right" (click)="removeimageedit()"
                                                                                *ngIf="isImageSaved"><i class="fa fa-minus-circle"
                                                                                    aria-hidden="true"></i></a>
                                                                        <div class="img-space overflowinimage">
                                                                                <img [src]="cardImageBase64" />
                                                                        </div>
                                                                        </div>
                                                                </ng-container>
    
                                                                <!-- <a class="btn btn-danger" (click)="removeimageedit()"
                                                                        *ngIf="isImageSaved">Remove</a> -->
    
    
                                                                        <p *ngIf="load" style="color: red;">{{load}}</p>
                                                                        <p *ngIf="imageError" style="color: red">{{imageError}}</p>
                                                        </div>
                                                </div>
                                        </div>
    
                                </div>
    
                        </div>
                </form>
    
    
        </div>
        <div class="modal-footer">
                <p style="color: red;">{{ errors}}</p>
                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                        [disabled]=subproduct.invalid [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpd}"
                        (click)="addsubproduct(content2)">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
    
    
        </div>
    </ng-template>
    
    
    <!--product modal for edit icon-->
    <ng-template #productedit let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title">{{'PRODUCTMASTER.UPDATEPROCAT' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
    
                <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                        [formGroup]="Addproductedit">
                        <div class="form-body">
                                <div class="row" style="display:none;">
                                        <div class="col-md-3">
                                                <label class="control-label">product</label>
                                        </div>
                                        <div class=" form-group col-md-5">
                                                <select class="form-control" formControlName="product_id"
                                                        name="product_id" id="product_id">
                                                        <option value="" selected="empty" disabled="">Select
                                                                your product name
                                                        </option>
    
                                                        <option *ngFor="let items of product_details"
                                                                [value]=items.product_id>
                                                                {{items.product_name}}</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-5">
                                                <label class="control-label"
                                                        style="text-align:left">{{'PRODUCTMASTER.PROCAT' | translate}}:
                                                </label>
                                        </div>
                                        <div class="col-lg-7">
                                                <input placeholder="Enter Product Category" type="text"
                                                        formControlName="product_name" class="form-control"
                                                        id="product_name" name="product_name">
                                                <div *ngIf="editpro.product_name.errors && (editpro.product_name.dirty || editpro.product_name.touched)"
                                                        class="m-b-10 error">
                                                        <div *ngIf="editpro.product_name.errors.required"
                                                                style="color:red">Product name is
                                                                required</div>
                                                        <div *ngIf="!Addproductedit.hasError('whitespace')"
                                                                style="color:red">
                                                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                {{'PRODUCTMASTER.PROCAT' | translate}}
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <br>
                                <div class="row">
                                        <div class="col-lg-5">
                                                <label class="control-label"
                                                        style="text-align:left">{{'PRODUCTMASTER.PROMODALNO' |
                                                        translate}}:</label>
                                        </div>
                                        <div class="col-lg-7">
                                                <input placeholder="Enter Item Code" type="text"
                                                        formControlName="product_model" class="form-control" (change)="onchangemodel($event)"
                                                        id="product_model" name="product_model" >
                                                <div *ngIf="editpro.product_model.errors && (editpro.product_model.dirty || editpro.product_model.touched)"
                                                        class="m-b-10 error">
                                                        <div *ngIf="editpro.product_model.errors.required"
                                                                style="color:red">Product model is
                                                                required</div>
                                                        <div *ngIf="!Addproductedit.hasError('whitespace')"
                                                                style="color:red">
                                                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                {{'PRODUCTMASTER.PROMODALNO' | translate}}
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col-lg-5">
                                                <label class="control-label"
                                                        style="text-align:left">{{'PRODUCTMASTER.PRODESC' |
                                                        translate}}:</label>
                                        </div>
                                        <div class="col-lg-7">
                                                <textarea placeholder="Enter Description" type="text"
                                                        class="form-control" formControlName="product_description"
                                                        rows="5" cols="50" id="product_description"
                                                        name="product_description" style="resize:none"></textarea>
                                                <div *ngIf="editpro.product_description.errors && (editpro.product_description.dirty || editpro.product_description.touched)"
                                                        class="m-b-10 error">
                                                        <div *ngIf="editpro.product_description.errors.required"
                                                                style="color:red">Product Description is
                                                                required</div>
                                                        <div *ngIf="!Addproductedit.hasError('whitespace')"
                                                                style="color:red">
                                                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                {{'PRODUCTMASTER.PRODESC' | translate}}
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <!-- label for company logo  -->
                                        <label class="control-label col-lg-5">{{'PRODUCTMASTER.LOGO' |
                                                translate}}:</label>
                                        <div class="col-lg-7 ">
                                                <div class="custom-file mb-3">
                                                        <input type="hidden" value="" name="file-upload">
                                                        <input type="file" name="file" accept="image/*"
                                                                formControlName="product_image"
                                                                (change)="fileChangeEvents($event)"
                                                                class="fileInputProfile" />
                                                        <label *ngIf="!ByDefault" class="custom-file-label"
                                                                for="customFile">Choose file</label>
                                                        <label *ngIf="ByDefault" class="custom-file-label"
                                                                for="customFile">{{Filename}}</label>
                                                </div>
                                                <p *ngIf="message" style="color: red">{{message}}</p>
                                                <p *ngIf="load" style="color: red;">{{load}}</p>
                                                <p *ngIf="imageError" style="color: red">{{imageError}}</p>
                                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                                <a class="RemoveColor pull-right" (click)="removeImage()"
                                                                *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                                        <div class="img-space">
                                                                <img *ngIf="showimage" [src]="showimage" />
                                                                <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                                                        </div>
                                                </ng-container>
<!--     
                                                <a class="btn btn-danger" (click)="removeImage()"
                                                        *ngIf="isImageSaved">Remove</a> -->
                                        </div>
                                </div>
                        </div>
                </form>
        </div>
        <div class="modal-footer">
                <p style="color: red;">{{ errors}}</p>
                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn disabledsubmit"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                <button type="button" data-ktwizard-type="action-submit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpp}"
                        class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                        [disabled]="Addproductedit.invalid" (click)="editproduct(edit_data)">{{'PACKAGE_PLAN.UPDATE' |
                        translate}}</button>
        </div>
    </ng-template>
    
    
    
    <!--update subproduct modal-->
    <ng-template #updatesubproduct let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title">{{'PRODUCTMASTER.UPDATESUBPROCAT' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <form class="custom-form" [formGroup]="Editsubproduct" action="#" id="cust_data" method="POST" novalidate="novalidate"
                        >
                        <div class="form-wizard">
                                <div class="form-body">
                                        <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label">{{'PRODUCTMASTER.PRO' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-md-7">
                                                        <select class="form-control" formControlName="product_id"
                                                                name="product_id" id="product_id" disabled>
                                                                <option value="" selected="empty" disabled="">
                                                                        {{subproductname}}
                                                                </option>
    
                                                                <option *ngFor="let items of product_details"
                                                                        [value]=items.product_id>
                                                                        {{items.product_name}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="row" style="display:none;">
                                                <div class="col-md-3">
                                                        <label class="control-label">{{'PRODUCTMASTER.SUBPRO' |
                                                                translate}}</label>
                                                </div>
                                                <div class=" form-group col-md-5">
                                                        <select class="form-control" formControlName="product_sub_id"
                                                                name="product_sub_id" id="product_sub_id" disabled>
                                                                <option value="" selected="empty" disabled="">
                                                                        {{subproductname}}
                                                                </option>
    
                                                                <option *ngFor="let items of subproduct_details"
                                                                        [value]=items.product_sub_id>
                                                                        {{items.product_sub_name}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.SUBPRONAME' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-md-7">
                                                        <input placeholder="Enter Sub Product" type="text"
                                                                class="form-control" formControlName="product_sub_name"
                                                                id="product_sub_name" name="product_sub_name"
                                                                placeholder={{subproductname}}>
                                                        <div *ngIf="editsubpro.product_sub_name.errors && (editsubpro.product_sub_name.dirty || editsubpro.product_sub_name.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="editsubpro.product_sub_name.errors.required"
                                                                        style="color:red">SubProduct Name is
                                                                        required</div>
                                                                <div *ngIf="!Editsubproduct.hasError('whitespace')"
                                                                        style="color:red">
                                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                        {{'PRODUCTMASTER.SUBPRONAME' | translate}}
                                                                </div>
                                                        </div>
    
                                                </div>
                                        </div>
    
                                        <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.PRODESC' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-md-7">
                                                        <textarea placeholder="Enter Description" type="text"
                                                                class="form-control"
                                                                formControlName="product_sub_description" rows="5"
                                                                cols="50" id="product_sub_description"
                                                                name="product_sub_description"
                                                                style="resize:none"></textarea>
                                                        <div *ngIf="editsubpro.product_sub_description.errors && (editsubpro.product_sub_description.dirty || editsubpro.product_sub_description.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="editsubpro.product_sub_description.errors.required"
                                                                        style="color:red">SubProduct Description is
                                                                        required</div>
                                                                <div *ngIf="!Editsubproduct.hasError('whitespace')"
                                                                        style="color:red">
                                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                        {{'PRODUCTMASTER.PRBLMDESC' | translate}}
                                                                </div>
                                                        </div>
    
                                                </div>
                                        </div>
                                        <!-- <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.PROMODALNO' |
                                                                translate}}:</label>
                                                </div>
                                                <div class=" form-group col-md-7">
                                                        <input placeholder="Enter Model Number" type="text"
                                                                class="form-control" formControlName="product_sub_model"
                                                                id="product_sub_model" name="product_sub_model">
                                                        <div *ngIf="editsubpro.product_sub_model.errors && (editsubpro.product_sub_model.dirty || editsubpro.product_sub_model.touched)"
                                                                class="m-b-10 error">
                                                                <div *ngIf="editsubpro.product_sub_model.errors.required"
                                                                        style="color:red">SubProduct Model is
                                                                        required</div>
                                                                <div *ngIf="!Editsubproduct.hasError('whitespace')"
                                                                        style="color:red">
                                                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                                        {{'PRODUCTMASTER.PROMODALNO' | translate}}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div> -->
                                        <div class="row">
                                                <div class="col-md-5">
                                                        <label class="control-label"
                                                                style="text-align:left">{{'PRODUCTMASTER.IMAGE' |
                                                                translate}}:</label>
                                                </div>
                                                <div class="form-group col-lg-7 ">
                                                        <div class="custom-file mb-3">
                                                                <input type="hidden" value="" name="file-upload">
                                                                <input type="file" name="file" accept="image/*"
                                                                        formControlName="product_sub_image"
                                                                        (change)="fileChangeEvents($event)"
                                                                        class="fileInputProfile" />
                                                                <label *ngIf="!ByDefault" class="custom-file-label"
                                                                        for="customFile">Choose file</label>
                                                                <label *ngIf="ByDefault" class="custom-file-label"
                                                                        for="customFile">{{Filename}}</label>
                                                        </div>
                                                        <!-- <p style="color: red">{{message}}</p> -->
                                                        <p style="color: red;">{{load}}</p>
                                                        <p style="color: red">{{imageError}}</p>
                                                       
                                                              
                                                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                                        <a class="RemoveColor pull-right" *ngIf="isImageSaved" (click)="removeImage()"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                                                 <div class="img-space">
                                                                               
                                                                <img *ngIf="showimage"
                                                                [src]="showimage" />
                                                                        <img *ngIf="cardImageBase64"
                                                                                [src]="cardImageBase64" />
                                                                        </div>
                                                        </ng-container>
                                                                                                           
                                                        <!-- <a *ngIf="isImageSaved" class="btn btn-danger" (click)="removeImage()"
                                                                >Remove</a> -->
                                                </div>
                                        </div>
    
    
                                </div>
    
                        </div>
                </form>
        </div>
        <div class="modal-footer">
                <p style="color: red;">{{ errors}}</p>
                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                <button class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
                        [disabled]="!Editsubproduct.valid"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpdate}"
                        (click)="editsubproduct(edit_data,content2)">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
    
    
        </div>
    </ng-template>
    <!--End Update Subproduct-->
    
    
    <!-- Dialog for bulk upload for product-->
    <ng-template #bulkproduct let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title">{{'PRODUCTMASTER.UPLOADPROLIST' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-sm-5 nopadding">
                                <a class="btn purple-sharp btn-circle btn-outline sample-temp"
                                        style="margin-left: -10px !important;"
                                        href="assets/sample_templates/Product.xlsx">{{'PRODUCTMASTER.SAMPLE' |
                                        translate}}
                                </a>
                        </div>
                        <div class="col-sm-7 nopadding">
                                <div class="custom-file mb-3">
                                        <input type="hidden" value="" name="file-upload">
                                        <input type="file" class="custom-file-input" id="file-upload"
                                                (change)="fileUpload($event)" name="filename" />
                                        <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose
                                                file</label>
                                        <label *ngIf="ByDefault" class="custom-file-label"
                                                for="customFile">{{Filename}}</label>
                                        <p style="color: red;">{{error}}</p>
                                </div>
    
    
                        </div>
                </div>
        </div>
        <div style="color: red;" *ngFor="let number of Bulkerrors;  let i=index">
                {{i+1}}. {{number}}
    
        </div>
        <div class="modal-footer">
    
                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
                        (click)="filesubmit(myInput)">{{'PRODUCTMASTER.UPLOAD' | translate}}</button>
        </div>
    </ng-template>
    
    
    <!-- Dialog for bulk upload for subproduct-->
    <ng-template #bulksubproduct let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title">{{'PRODUCTMASTER.UPLOADSUBPROLIST' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-sm-5 nopadding">
                                <a class="btn purple-sharp btn-circle btn-outline sample-temp"
                                        style="margin-left: -10px !important;"
                                        href="assets/sample_templates/Sub_product.xlsx">{{'PRODUCTMASTER.SAMPLE' |
                                        translate}}</a>
                        </div>
                        <div class="col-sm-7 nopadding">
                                <div class="custom-file mb-3">
                                        <input type="hidden" value="" name="file-upload">
                                        <input type="file" class="custom-file-input" id="file-upload"
                                                (change)="fileUpload($event)" name="filename">
                                        <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose
                                                file</label>
                                        <label *ngIf="ByDefault" class="custom-file-label"
                                                for="customFile">{{Filename}}</label>
                                        <p style="color: red;">{{error}}</p>
                                </div>
                        </div>
    
                        <div class="col-sm-9" style="display:none">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="input-group input-large">
                                                <div class="form-control uneditable-input input-fixed input-medium"
                                                        data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                        <span class="fileinput-filename"></span>
                                                </div>
                                                <span class="input-group-addon btn default btn-file">
                                                        <span class="fileinput-new"
                                                                id="span-button">{{'PRODUCTMASTER.SELECT' | translate}}
                                                        </span>
    
                                                        <input type="hidden" value="" name="file-upload">
                                                        <input #file type="file" name="" id="file-upload"
                                                                (change)="fileUpload($event)" /> </span>
                                        </div>
                                </div>
                        </div>
                        <p class="error-color">{{ errorsb}}</p>
                        <div class="error-color" *ngFor="let number of bulkevalue; let i=index">
                                {{i+1}}.{{number}}
                        </div>
                </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
    
                <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingupload}"
                        (click)="subfilesubmit(content2)">{{'PRODUCTMASTER.UPLOAD' | translate}}</button>
        </div>
    </ng-template>
    
    
    <!--Modal box to add the sview more description-->
    <ng-template #View_more let-c="close" let-d="dismiss">
        <div class="modal-header">
                <!-- title for renew -->
                <h4 class="modal-title">{{'PRODUCTMASTER.VIEW_MORE' | translate}}</h4>
                <!-- icon for close -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <!-- body begin -->
        <div class="modal-body">
                <h5 class="center">{{product_data.product_name}}</h5>
                <br>
                <div class="row">
                        <p class="para px-3">{{product_data.product_description}}</p>
                </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
        </div>
    </ng-template>