.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
   display:none;
  }
  mat-card-title{
      text-transform:capitalize;
  }
  .proudts-items{
      margin-bottom:30px;
  }
  .producttrun{
    // overflow: visible;
    // height: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:200px;
    float:left;
    font-size:13px;
    font-weight:400;
  }
  .products-description{
      height:30px;
  }
  .show {
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }
.product-tab{
    font-size : 25px;
}
.card-name{
    font-size : 20px;

}
.add-product{
    padding: 10px 8px;

}
.exp-pannel{
    height : 30%;
}
.pannel-title{
    font-size : 17px;
    font-weight: bold;
}
.exp-style {
    height: 120px;
}
.product-head{
    font-size : 25px;
    margin-top: 1px;
    margin-left: 1%;
    display:inline-block;
}
.pannel-title-sub{
    font-size : 15px;
}
.exp-style {
    height: 120px !important;
}
.btn.btn-default{
        max-height: 38px;
}
 .offset-md-2{
     margin-left: 22%;
 }
 
.btn-click{
    color: white;
    background-color: #6068F0;
}
.edit1{
    color: gray;
}
.front{
    padding-left: 13%;
}
.para{
    text-align: justify;
}
.col-md-12 .btn.btn-info.pull-right {
    margin-top: -50px;
    margin-bottom: 30px;
}
.product-tab {
    padding-left: 0px;
    margin-left: -23px;
}
.kt-portlet__body .row{
    padding-bottom: 0px;
}
.col-md-12 button {
    margin-left: 10px;
}
.productmaster-overall{
    margin:20px 0px;
}
mat-expansion-indicator{
    margin:20px 0 0 5px;
}
.modal-footer{
  justify-content: center;
  
}
.carousel-caption{
   color: #2F4F4F;
//    bottom:45px;
}
.subproduct-carousel{
   width: 350px;
    // height: 350px;
    height:auto;
     padding-left: 16px;
      padding-right: 16px;
      margin:0 auto;
}
.carousel-caption p{
    padding-top:10px;
}
.carousel-caption h3{
    padding-top:20px;
}
.subproduct-carousel h3{
    text-align:left;
}
// Add category
@media screen and (max-width: 1296px) {
    .offset-md-2{
        margin-left: 18%;
        width: 20%;
    }
}
@media screen and (max-width: 1216px) {
    .offset-md-2{
        margin-left: 15%;
    }
}
@media screen and (max-width: 1166px) {
    .offset-md-2{
        margin-left: 13%;
    }
}
@media screen and (max-width: 1136px) {
    .offset-md-2{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1092px) {
    .offset-md-2{
        margin-left: 7%;
    }
}
@media screen and (max-width: 1054px) {
    .offset-md-2{
        margin-left: 4%;
    }
}
@media screen and (max-width: 766px) {
    .offset-md-2{
        margin-left: 0%;
        max-width: 27%;
        float: left;
    }
    .btn .btn-default{
        width: 10%;
        font-size: 10px;
    }
}
@media screen and (min-width: 350px) and (max-width: 598px) {
    .btn .btn-default{
        width: 8%;
        font-size: 10px;
    }
}
@media screen and (min-width: 350px) and (max-width: 562px) {
   
    .btn .btn-default{
        width: 5%;
        font-size: 8px;  
    }
}
@media screen and (max-width: 548px) {
    .offset-md-2{
       width: 30%;
    }
}
@media screen and (max-width: 488px) {
    .offset-md-2{
       width: 40%;
    }
    
}

// Categories
@media screen and (max-width: 1214px) {
    .exp-style {
        height: 140px !important;
    }
}
@media screen and (max-width: 1186px) {
    .exp-style {
        height: 180px !important;
    }
}
@media screen and (max-width: 1140px) {
    .exp-style {
        height: 180px !important;
    }
}
@media screen and (max-width: 1106px) {
    .exp-style {
        height: 200px !important;
    }
}
@media screen and (max-width: 776px) {
    .exp-style {
        height: 220px !important;
    }
}
@media screen and (max-width: 724px) {
    .exp-style {
        height: 240px !important;
    }
}
@media screen and (max-width: 560px) {
    .exp-style {
        height: auto !important;
    }
}
@media screen and (max-width: 536px) {
    .exp-style {
        height: auto !important; 
    }
.mat-content {
    flex-direction: column !important;
   }
}
.kt-separator {
    margin-bottom: 2%;
    margin-top: -25px;
}
//saranya css changes
// .subproduct-carousel .carousel-indicators{
//     display:none !important;
// }
//  .text-summary{
//     display:flex;
// }
// .carousel-indicators li { 
//     visibility: hidden !important; 
//     display:none !important;
// }    
// .carousel-indicators li .active{
//     visibility: hidden !important; 
//     display:none !important;
//     opacity: 0 !important;
// }
// .carousel-indicators li {
//     background-color: #ccc !important;
//   }
//   .carousel-indicators .active {
//     background-color: #000 !important;
//   }
//   .subproduct-carousel ol{
//       display:none;
//       visibility: hidden;
//       opacity:0;

//   }
// .sub_product{
    
//     float: left;
// }

.mar_rig{
    margin-right: -1.75rem;
}
#disabledsubmit{
    cursor: not-allowed;
}
.disabledsubmit{
    cursor: not-allowed;
}
.mat-card-content{
    font-size: 12px;
}
.para{
    font-size: 14px;
    color: gray;
}
.center{
    text-align: center;
}

.img_size{
    width: 220px;
    height: 110px;
}

//saranya09-12-2020 for close button 
.closecolor{
   color:#e7505a;
   opacity:1;
}
.error-color{
    color:red;
}
.viewmore:hover{
    cursor:pointer;
    text-decoration:underline !important;
}
.carousel-control-prev-icon{
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
    height:20px;
 }
 .carousel-control-next-icon{
   background-image: url('https://apufpel.com.br/assets/img/seta_ult.png') !important;
   height:20px;
 }
 .subproduct-carousel:focus{
   outline:none !important;
 }
 .oneImage{
     margin:0 auto;
 }
 .carousel-indicators li {
    background-color: #999 !important;
    background-color: rgba(70,70,70,.25) !important;
  }
  
  .carousel-indicators .active {
    background-color: #444 !important;
  }
  .NoImage{
      margin:0 auto;
  }
//   .text-summary p{
//     position: absolute;
//     right: 15%;
//     bottom: 20px;
//     left: 15%;
//     z-index: 10;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     color: #fff;
//     text-align: center;
//   }
.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 50%;
    width: 50%;
    padding: 10px;
    min-height:175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}

.RemoveColor{
    color: #dc3545;
    width: 50%;
    position: relative;
    top: -10px;
    right: 8px;
}
.text-summary p{
    text-align: justify;
 }
 .carousel-control-prev{
     height:290px !important;
 }
 .mat-card-title{
     font-size:17px;
 }
 .viewmorebtn:hover{
     text-decoration:underline !important;
     cursor:pointer !important;
 }
 .overflowinimage{
     overflow: hidden;
 }
 .overalluploadimage{
     margin-top:25%;
 }