<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'NEW_SUBSCRIPTION.MANAGE' | translate}}">
    <!--heading for portlet-->
    <ng-container ktPortletTools>
      <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold"
        (click)="Opento(CreateSubscription)">{{'NEW_SUBSCRIPTION.CREATE' | translate}}
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body>
    <div class="container" style="margin-top: 2%">
      <div class="row">
        <!-- empty column -->
        <div class="col-md-0" style="display:none;">
          <div class="form-group">
          </div>
        </div>
        <!-- column for Add button -->
        <div class="col-md-12 ">
          <!-- modal box for add -->
          <br>
        </div>
      </div>
    </div>
    <br>
    <!-- second table begin -->
    <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
      class="table table-striped table-bordered table-sm row-border hover datatable_pack">
      <thead>
        <tr>
          <th class="max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
          <th>{{'NEW_SUBSCRIPTION.ORGNAME' | translate}}</th>
          <th>{{'NEW_SUBSCRIPTION.ORG_TYPE' | translate}} </th>
          <th>{{'NEW_SUBSCRIPTION.PACKAGE_TYPE' | translate}}</th>
          <th>{{'NEW_SUBSCRIPTION.TOT_LICENSE' | translate}}</th>
          <th>{{'NEW_SUBSCRIPTION.USED_lICENSE' | translate}}</th>
          <th>{{'SPAREMASTER.DATE_EXP' | translate}}</th>
          <th class="max-tables">Status</th>
          <th class="max-tables">Renew</th>
          <th class="max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of subscription_details; let i = index">
          <td class="datatable-center">{{i+1}}</td>
          <td> <a class="org_name" data-placement="bottom" ngbTooltip="View Details"
              (click)="Opento(Organization_details);editpackage(item)" data-toggle="tooltip"
              title="Please click to view">{{item.organization_name}}</a></td>
          <td *ngIf="item.organization_type==1 ;else falsetemplate">Single Organization</td>
          <ng-template #falsetemplate>
            <td>Multiple Organization</td>
          </ng-template>
          <td>{{item.package_type.package_type_name}}</td>
          <td>{{item.number_of_license}}</td>
          <td>{{item.no_of_used_license}}</td>
          <td>{{item.end_date}}</td>
          <td class="datatable-center">
            <button class="btn btn-sm  btn-icon sub-status" *ngIf='item.status == 1' title="Active"><i
                class="far fa-check-circle" style="font-size:20px; color:#0abb87" aria-hidden="true"></i></button>
            <button class="btn btn-sm  btn-icon  sub-status" *ngIf='item.status == 0' title="Block"><i
                class="fas fa-ban" style="font-size:20px; color:#dc3545" aria-hidden="true"></i></button>
          </td>
          <!-- <td> 
                <div class="dropdown">
                <button (click)="myFunction(i)"
                  class="btn btn-outline-info btn-pill btn-sm renew-btn">{{'NEW_SUBSCRIPTION.RENEW' | translate}}</button>
                <div id="myDropdown{{i}}" class="dropdown-content">
                  <a
                    (click)="Opento(renew); viewpackage(item);editpackage(item)">{{'NEW_SUBSCRIPTION.EXTENT_DURATION' | translate}}</a>
                  <a (click)="Opento(buy); viewpackage(item)">{{'NEW_SUBSCRIPTION.MORE' | translate}}</a>
                  <a (click)="Opento(remove); viewpackage(item)">{{'NEW_SUBSCRIPTION.REMOVE' | translate}}</a>
                </div>
              </div>
            </td> -->
          <td class="datatable-center">
            <!-- <div ngbDropdownMenu class="btn-group dropleft"> -->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary custom-btn  btn-pill btn-sm renew-btn p-1" id="dropdownMenuButton"
                ngbDropdownToggle>Renew</button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <button ngbDropdownItem> <a
                    (click)="Opento(ExtentDuration); viewpackage(item);">{{'NEW_SUBSCRIPTION.EXTENT_DURATION' |
                    translate}}</a></button>
                <button ngbDropdownItem><a (click)="Opento(BuyMore); viewpackage(item)">{{'NEW_SUBSCRIPTION.MORE' |
                    translate}}</a></button>
                <button ngbDropdownItem> <a
                    (click)="Opento(RemoveLicensemodal); viewpackage(item)">{{'NEW_SUBSCRIPTION.REMOVE' |
                    translate}}</a></button>
              </div>
            </div>
            <!-- </div> -->
          </td>
          <td class="datatable-center">

            <!-- button for view -->
            <!-- <button class='btn   btn-icon' (click)="Opento(edit);editpackage(item)">
                  <i class="fa fa-eye" style="font-size:18px;color:gray" aria-hidden="true"></i>
                </button> -->
            <!-- button for edit -->
            <button class="btn btn-sm  btn-icon" (click)="Opento(Edit_Organization_details);editpackage(item)">
              <i class="fa fa-edit" style="font-size:16px;color:#5d78ff" aria-hidden="true"></i>
            </button>
            <!-- check the status -->
            <!-- <a *ngIf='item.status == 1' class="btn btn-sm btn-label-success">{{'NEW_SUBSCRIPTION.ACTIVE' | translate}}</a>
              <a *ngIf='item.status == 0' class="btn btn-sm btn-label-danger">{{'NEW_SUBSCRIPTION.BLOCK' | translate}}</a> -->

          </td>
        </tr>
      </tbody>
    </table>


    <!-- </div> -->

  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>
<!-- Add subscription modal -->
<ng-template #CreateSubscription let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for modal -->
    <h4 class="modal-title">{{'NEW_SUBSCRIPTION.ADD_NEW' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--modal-body begin  -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->

    <!-- <div class="kt-section"> -->
    <!-- form group for create subscription -->

    <div class="kt-section__content">
      <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
        <!-- tab for company information -->
        <ngb-tab title="	{{'NEW_SUBSCRIPTION.COMPANY_INFO' | translate}}" id="tab-selectbyid1"  [disabled]="true">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="AddSubscriptionCompanyInfo" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <div class="row">
                <!-- label for organization name -->
                <label class="control-label col-lg-5"> {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}: </label>
                <div class="col-lg-7">
                  <input type="text" formControlName="organization_name" class="form-control" name="organization_name"
                    (change)="addOrgNameValidation($event.target.value)" id="organization_name" maxlength="48"
                    [ngClass]="{ 'is-invalid': submitted && log.organization_name.errors }"
                    placeholder="{{'NEW_SUBSCRIPTION.ORG' | translate}}" />
                  <!-- error controls -->
                  <!-- <div *ngIf="submitted && log.organization_name.errors" class="invalid-feedback d-block"> -->
                  <div *ngIf="orgname_error" style="color:red">{{orgname_error}}
                  </div>
                  <div
                    *ngIf="log.organization_name.errors && (log.organization_name.dirty || log.organization_name.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log.organization_name.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.ORGNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                    <div *ngIf="!AddSubscriptionCompanyInfo.hasError('whitespace')" style="color:red">
                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                      {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}
                    </div>
                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for email address -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
                <div class="col-lg-7">
                  <input class="form-control" formControlName="email" type="text" id="e_address" name="e_address"
                    (change)="addEmailValidation($event.target.value)"
                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_EMAIL' | translate}}"
                    [ngClass]="{ 'is-invalid': submitted && log.email.errors }" />
                  <!-- error controls -->
                  <div *ngIf="email_error" style="color:red">{{email_error}}
                  </div>

                  <div *ngIf="log.email.errors && (log.email.dirty || log.email.touched)" class="m-b-10 error">
                    <div *ngIf="log.email.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                      {{'USER.REQ' | translate}} </div>
                    <div *ngIf="log.email.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for person name -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONNAME' | translate}}:</label>
                <div class="col-lg-7">
                  <input type="text" formControlName="contact_person_name" maxlength="48" class="form-control"
                    name="cont_name" id="cont_name" placeholder="{{'NEW_SUBSCRIPTION.ENTER_CONTACT_NAME' | translate}}"
                    [ngClass]="{ 'is-invalid': submitted && log.contact_person_name.errors }" />
                  <!-- error controls -->
                  <div
                    *ngIf="log.contact_person_name.errors && (log.contact_person_name.dirty || log.contact_person_name.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log.contact_person_name.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.CONNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}
                    </div>
                    <div *ngIf="log.contact_person_name.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.CONNAME' | translate}}</div>

                    <div *ngIf="!AddSubscriptionCompanyInfo.hasError('whitespace')" style="color:red">
                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                      {{'NEW_SUBSCRIPTION.CONNAME' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for contact number -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} :</label>
                <div class="col-lg-7">
                  <input class="form-control" formControlName="contact_number" type="text" id="cont_num" name="cont_num"
                    [ngClass]="{ 'is-invalid': submitted && log.contact_number.errors }"
                    (change)="addContactValidation($event.target.value);addacontact()"
                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_CONTACT' | translate}}"
                    onKeyPress="if(this.value.length==10) return false;" />
                  <!-- error controls -->
                  <div *ngIf="contactnum_error" style="color:red">{{contactnum_error}}
                  </div>
                  <div *ngIf="log.contact_number.errors && (log.contact_number.dirty || log.contact_number.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log.contact_number.errors.required" style="color:red">
                      {{'RAISETCKT.CONNUMBER' | translate}}
                      {{'RAISETCKT.REQ' | translate}} </div>
                    <div *ngIf="log.contact_number.errors.maxlength" style="color:red">
                      {{'RAISETCKT.CONNUMBER' | translate}}
                      {{'RAISETCKT.DIGI' | translate}}</div>
                    <div *ngIf="log.contact_number.errors.minlength" style="color:red">
                      {{'RAISETCKT.CONNUMBER' | translate}}
                      {{'RAISETCKT.DIGI' | translate}}</div>
                    <div *ngIf="log.contact_number.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.VALID' | translate}}
                      {{'RAISETCKT.CONNUMBER' | translate}}</div>
                  </div>
                  <div *ngIf="contact_error" style="color:red">{{contact_error}}
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for alternate contact number -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}:</label>
                <div class="col-lg-7">
                  <input class="form-control" formControlName="alternate_contact_number" type="text" id="alt_number"
                    name="alt_number" (change)="addalternatecontact()"
                    onKeyPress="if(this.value.length==10) return false;"
                    placeholder="{{'NEW_SUBSCRIPTION.CONALT_NUMBER' | translate}}" />
                  <!-- error controls -->
                  <div
                    *ngIf="log.alternate_contact_number.errors && (log.alternate_contact_number.dirty || log.alternate_contact_number.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log.alternate_contact_number.errors.required" style="color:red">
                      {{'RAISETCKT.CONALTNUMBER' | translate}}
                      {{'RAISETCKT.REQ' | translate}} </div>
                    <div *ngIf="log.alternate_contact_number.errors.maxlength" style="color:red">
                      {{'RAISETCKT.CONALTNUMBER' | translate}}
                      {{'RAISETCKT.DIGI' | translate}}</div>
                    <div *ngIf="log.alternate_contact_number.errors.minlength" style="color:red">
                      {{'RAISETCKT.CONALTNUMBER' | translate}}
                      {{'RAISETCKT.DIGI' | translate}}</div>
                    <div *ngIf="log.alternate_contact_number.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.VALID' | translate}}
                      {{'RAISETCKT.CONALTNUMBER' | translate}}</div>
                  </div>
                  <div *ngIf="alternate_error" style="color:red">{{alternate_error}}
                  </div>
                </div>
              </div>
              <br>
              <!-- <div class="row">
                  <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.LOGO' | translate}}:</label>
                  <div class="form-group col-lg-7">
                    <div class="custom-file mb-3">
                      <input type="hidden" value="" name="file-upload">
                      <input type="file" class="custom-file-input" id="file-upload" (change)="fileChangeEvent($event)"
                        name="filename">
                      <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                      <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                    </div>
                    <p style="color: red;">{{image_validation}}</p>
                    <image-cropper *ngIf="cropped_img==true" id="img_crop" [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [resizeToWidth]="128" format="png"
                      (imageCropped)="imageCropped($event)" 
                      (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                    <img *ngIf="selectedfile == true" [src]="croppedImage" />
                  </div>
                </div> -->
              <div class="row">
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.LOG' | translate}}:</label>
                <div class="form-group col-lg-7">
                  <div class="custom-file mb-3">
                    <input type="hidden" value="" name="file-upload">
                    <input type="file" name="file" accept="image/*" formControlName="logo"
                      (change)="fileChangeEvents($event)" class="fileInputProfile" />
                    <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                    <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                  </div>
                  <p style="color: red">{{message}}</p>
                  <p style="color: red;">{{load}}</p>
                  <p style="color: red">{{imageError}}</p>
                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <div class="img-space">

                      <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                    </div>
                  </ng-container>

                  <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                </div>
                <!-- <div class="form-group col-lg-7">
                    <div class="custom-file mb-3">
                      <input type="hidden" value="" name="file-upload">
                   
                      <input type="file" class="custom-file-input" id="file-upload" (change)="fileChangeEvent($event)"
                        name="filename" formControlName="logo">
                      <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                      <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                    
                    </div>
                    <div *ngIf="selectedfile==false">
                      <button mat-raised-button (click)="upload_img()">{{'NEW_SUBSCRIPTION.OK' | translate}}</button>
                    </div>
                    <div *ngIf="log.logo.errors && (log.logo.dirty || log.logo.touched)" class="m-b-10 error">
                      <div *ngIf="log.logo.errors.required" style="color:red">
                        {{'NEW_SUBSCRIPTION.LOGO' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                    </div>
                    <p style="color: red;">{{image_validation}}</p>
                    <image-cropper *ngIf="cropped_img==true" id="img_crop" [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [resizeToWidth]="128" format="png"
                      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                      (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                  
                    <img *ngIf="selectedfile == true" [src]="imageChangedEvent" />
                  </div> -->
              </div>

              <br>
              <div class="kt-form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <button [disabled]=AddSubscriptionCompanyInfo.invalid (click)="checkvalidation()"
                        class="btn btn-sm btn-outline-dark btn-pill custom-btn disabledsubmit"
                        data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </ng-template>
        </ngb-tab>
        <!-- tab for company address -->
        <ngb-tab title="	{{'NEW_SUBSCRIPTION.ADD' | translate}}" id="tab-selectbyid2"  [disabled]="true">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="AddSubscriptionAddressInfo" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for plot number -->
                  <label class="control-label"> {{'NEW_SUBSCRIPTION.DOPLO' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <input type="text" class="form-control" formControlName="plot_number"
                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" maxlength="32" />
                  <!-- error controls -->
                  <div *ngIf="log2.plot_number.errors && (log2.plot_number.dirty || log2.plot_number.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log2.plot_number.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.DOPLO' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                    <div *ngIf="log2.plot_number.errors.pattern" style="color:red">{{'USER.PLONO' | translate}}
                      {{'NEW_SUBSCRIPTION.SHO' | translate}} </div>
                    <div *ngIf="!AddSubscriptionAddressInfo.hasError('whitespace')" style="color:red">
                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.DOPLO' | translate}}
                    </div>
                  </div>
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- lael for street -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.STR' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <input type="text" class="form-control" formControlName="street"
                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />
                  <!-- error controls -->
                  <div *ngIf="log2.street.errors && (log2.street.dirty || log2.street.touched)" class="m-b-10 error">
                    <div *ngIf="log2.street.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.STR' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                    <div *ngIf="!AddSubscriptionAddressInfo.hasError('whitespace')" style="color:red">
                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'NEW_SUBSCRIPTION.STR' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for land mark -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.LAND' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <input type="text" class="form-control" formControlName="landmark"
                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}" />
                  <!-- error controls -->
                  <div *ngIf="log2.landmark.errors && (log2.landmark.dirty || log2.landmark.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log2.landmark.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.LAND' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for country -->
                  <label>{{'NEW_SUBSCRIPTION.COUNTRY' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- select dropdown from master -->
                  <select formControlName="country_id" class="form-control"
                    (change)="onChangeCountry($event.target.value)">
                    <option value='null'>--Select Country--</option>
                    <option *ngFor="let items of country" [value]=items.country_id>
                      {{items.country_name}}</option>
                  </select>
                  <!-- error controls -->
                  <div *ngIf="log2.country_id.errors && (log2.country_id.dirty || log2.country_id.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log2.country_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.COUNTRY' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- labekl for state -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.STATE' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- select dropdown from master based on country id -->
                  <select formControlName="state_id" class="form-control" (change)="onChangeState($event.target.value)">
                    <option value='null'>--Select State-- </option>
                    <option *ngFor="let items of states" [value]=items.state_id>
                      {{items.state_name}}</option>
                  </select>
                  <!-- error controls -->
                  <div *ngIf="log2.state_id.errors && (log2.state_id.dirty || log2.state_id.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log2.state_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.STATE' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for city -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.CITY' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- select dropdown from master based on state id -->
                  <select formControlName="city_id" class="form-control">
                    <option value='null'>--Select District-- </option>
                    <option *ngFor="let items of cities" [value]=items.city_id>
                      {{items.city_name}}</option>
                  </select>
                  <!-- error controls -->
                  <div *ngIf="log2.city_id.errors && (log2.city_id.dirty || log2.city_id.touched)" class="m-b-10 error">
                    <div *ngIf="log2.city_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.CITY' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for postal code -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.POSCODE' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- input numbers within 6 digits -->
                  <input type="text" class="form-control" placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                    formControlName="post_code" onKeyPress="if(this.value.length==6) return false;" />
                  <!-- error controls -->
                  <div *ngIf="log2.post_code.errors && (log2.post_code.dirty || log2.post_code.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log2.post_code.errors.required" style="color:red">
                      {{'RAISETCKT.POSCODE' | translate}}
                      {{'RAISETCKT.REQ' | translate}} </div>
                    <div *ngIf="log2.post_code.errors.maxlength" style="color:red">
                      {{'RAISETCKT.POSCODE' | translate}}
                      {{'RAISETCKT.MUST' | translate}}</div>
                    <div *ngIf="log2.post_code.errors.minlength" style="color:red">
                      {{'RAISETCKT.POSCODE' | translate}}
                      {{'RAISETCKT.MUST' | translate}}</div>
                    <div *ngIf="log2.post_code.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.VALID' | translate}}
                      {{'RAISETCKT.POSCODE' | translate}}</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="kt-form__actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- button for previous -->
                      <button class="btn btn-sm btn-outline-info btn-pill custom-btn" data-ktwizard-type="action-prev"
                        (click)="tab.select('tab-selectbyid1')">
                        {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                      </button>
                      <button class="btn btn-sm btn-outline-dark btn-pill ml-2 custom-btn disabledsubmit"
                        [disabled]="!AddSubscriptionAddressInfo.valid"
                        (click)="checkcompanyvalidation()">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <!-- tab for package details -->
        <ngb-tab title="{{'NEW_SUBSCRIPTION.PACKAGE_DETAILS' | translate}}" id="tab-selectbyid3"  [disabled]="true">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="AddSubscriptionPackageInfo" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <div class="row">
                <div class="control-label col-lg-5">
                  <label>{{'NEW_SUBSCRIPTION.ORG_TYPE' | translate}}:</label>
                  <!--label for type-->
                </div>
                <div class="col-lg-7">
                  <!-- dropdownlist for type -->
                  <select formControlName="organization_type" class="form-control" name="organization_type"
                    id="organization_type" (change)="getorganizationtype($event.target.value)">
                    <option value="null">Select your org type</option>
                    <option value="1">Single</option>
                    <option value="2"> Multiple</option>
                  </select>
                  <div
                    *ngIf="log3.organization_type.errors && (log3.organization_type.dirty || log3.organization_type.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log3.organization_type.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.ORG_TYPE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="control-label col-lg-5">
                  <label>{{'NEW_SUBSCRIPTION.PACKAGE_TYPE' | translate}}:</label>
                  <!--label for type-->
                </div>
                <div class="col-lg-7">
                  <!-- dropdownlist for type -->
                  <select formControlName="package_type_id" class="form-control" name="package_type_id"
                    id="package_type_id" (change)="get_package_type($event.target.value)">
                    <option value="null">Select your Package type</option>
                    <option value="1">Free</option>
                    <option value="2"> Paid</option>
                  </select>
                  <div
                    *ngIf="log3.package_type_id.errors && (log3.package_type_id.dirty || log3.package_type_id.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log3.package_type_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.PACKAGE_TYPE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="control-label col-lg-5">
                  <!-- label for license -->
                  <label class="control-label"> {{'NEW_SUBSCRIPTION.LICENCE' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- number base for all calculation -->
                  <input type="text" class="form-control" formControlName="number_of_license"
                    placeholder="{{'NEW_SUBSCRIPTION.ENTER_LICENCE' | translate}}" maxlength="4"
                    (change)="get_noOof_license($event.target.value)">
                  <!-- onlicenseChange($event.target.value) -->
                  <div *ngIf="Calculate_button">
                    <a (click)="calculate_createsub_total_amount()"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingCalculate}"
                      class="btn btn-sm btn-outline-success custom-btn btn-pill ng-star-inserted mt-2">{{'NEW_SUBSCRIPTION.CALCULATE'
                      | translate}}</a>
                  </div>
                  <div *ngIf="noOflicenseerror" style="color:red">{{noOflicenseerror}}
                  </div>
                  <div
                    *ngIf="log3.number_of_license.errors && (log3.number_of_license.dirty || log3.number_of_license.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log3.number_of_license.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.LICENCE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                  </div>
                </div>
              </div>
              <br>
              <!-- <br> -->
              <div class="row" *ngIf="package_type_id == '1';else discount_fields">
              </div>
              <ng-template #discount_fields>
                <div class="row">
                  <div class="control-label col-lg-5">
                    <!-- label for discount percentage -->
                    <label class="control-label"> {{'NEW_SUBSCRIPTION.DISCOUNTPERCENT' | translate}}:</label>
                  </div>
                  <div class="col-lg-7">
                    <!-- number base for discount c]amoun calculate -->
                    <input type="number" class="form-control" formControlName="discount_percentage"
                      placeholder="Enter Discount percent" (change)="get_discount_percentage($event.target.value)">
                    <!-- calculate discount amount after click calculate -->
                    <a (click)="calculate_createsub_discounted_amount()"
                      class="btn btn-sm btn-outline-success btn-pill ng-star-inserted mt-2">{{'NEW_SUBSCRIPTION.CALCULATE'
                      | translate}}</a>
                    <div *ngIf="discount_error" style="color:red">{{discount_error}}
                    </div>
                    <div
                      *ngIf="log3.discount_percentage.errors && (log3.discount_percentage.dirty || log3.discount_percentage.touched)"
                      class="m-b-10 error">
                      <div *ngIf="log3.discount_percentage.errors.required" style="color:red">
                        {{'NEW_SUBSCRIPTION.DISCOUNTPERCENT' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                    </div>
                  </div>
                </div>
                <br>
                <!-- <div class="row" *ngIf="package_type_id != '2'"> -->
                <div class="row">
                  <div class="control-label col-lg-5">
                    <!-- label for discount amount -->
                    <label>{{'NEW_SUBSCRIPTION.DISCOUNTAMT' | translate}}:</label>
                  </div>
                  <div class="col-lg-7">
                    <div>
                      <!-- readonly from discount percentage -->
                      <input type="number" formControlName="discount_amount" class="form-control" numberOnly readonly
                        name="discount_amount" id="discount_amount" placeholder="Enter Discount Amount">
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="control-label col-lg-5">
                    <!-- label for total price -->
                    <label>Total price :</label>
                  </div>
                  <div class="col-lg-7">
                    <!-- readonly based on license and also diascount percent -->
                    <input type="text" formControlName="total_price" class="form-control" numberOnly readonly
                      name="total_price" id="total_price"
                      placeholder="{{'NEW_SUBSCRIPTION.ENTER_PRICE' | translate}}" />
                    <div *ngIf="log3.total_price.errors && (log3.total_price.dirty || log3.total_price.touched)"
                      class="m-b-10 error">
                      <div *ngIf="log3.total_price.errors.required" style="color:red">
                        {{'NEW_SUBSCRIPTION.CALCULATE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <br>

              <!-- <div class="row" *ngIf="package_type_id != '53'">
                  <div class="control-label col-lg-4">
                    <label>{{'NEW_SUBSCRIPTION.NEW_PER_LICENSECOST' | translate}}</label>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      <input type="text" formControlName="new_license_cost" class="form-control" readonly
                        name="new_license_cost" id="new_license_cost">
                    </div>
                  </div>
                </div> -->
              <!-- <div class="row">
                  <div class="control-label col-lg-5">
                    <label>Total price :</label>
                  </div>
                  <div class="col-lg-7">
                    <input type="text" formControlName="total_price" class="form-control" numberOnly readonly
                      name="total_price" id="total_price" placeholder="{{'NEW_SUBSCRIPTION.ENTER_PRICE' | translate}}"
                     />
                    <div *ngIf="log3.total_price.errors && (log3.total_price.dirty || log3.total_price.touched)"
                      class="m-b-10 error">
                      <div *ngIf="log3.total_price.errors.required" style="color:red">
                        {{'NEW_SUBSCRIPTION.CALCULATE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                    </div>
                              </div>
                </div> -->
              <div *ngIf="error" style="color:red">{{error}}
              </div>
              <br>
              <div class="kt-form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- button for previous -->
                      <button class="btn btn-sm btn-outline-info btn-pill  custom-btn" data-ktwizard-type="action-prev"
                        (click)="tab.select('tab-selectbyid2')">
                        {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                      </button>
                      <!-- [disabled]="!AddSubscriptionPackageInfo.valid"             -->
                      <button class="btn btn-sm btn-outline-success btn-pill custom-btn ml-2 disabledsubmit"
                        (click)="create_organization()"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingNew}">{{'NEW_SUBSCRIPTION.SUB'
                        | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

    <!-- end form -->
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
  <!-- modal-body end -->
  <!-- <div class="modal-footer">
      <p>*{{'NEW_SUBSCRIPTION.MANDATORY' | translate}}</p>
      <br>
    </div> -->
</ng-template>


<!-- view subscription modal -->
<ng-template #Organization_details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for modal -->
    <h4 class="modal-title">{{'NEW_SUBSCRIPTION.VIEW_SUBSCRPTION' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->
    <!-- <div class="kt-section"> -->
    <!-- form group for view subscription -->

    <div class="kt-section__content">
      <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>
        <!-- tab for compay info -->
        <ngb-tab title="	{{'NEW_SUBSCRIPTION.COMPANY_INFO' | translate}}" id="tab-selectbyid1">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="EditOrgInfo" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <div class="row">
                <!-- label for organization name -->
                <label class="control-label col-lg-5"> {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}: </label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" formControlName="organization_name" class="form-control" name="organization_name"
                    id="organization_name" readonly maxlength="48" placeholder="Enter Organization Name">
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for email address -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input class="form-control" formControlName="email" type="text" id="e_address" readonly
                    placeholder="Enter Email" name="e_address">
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for contact name -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONNAME' | translate}}:</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" formControlName="contact_person_name" maxlength="48" class="form-control" readonly
                    placeholder="Enter Contact Name" name="cont_name" id="cont_name">
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for contact number -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} :</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input class="form-control" formControlName="contact_number" type="text" id="cont_num" name="cont_num"
                    placeholder="Enter Contact Number" readonly>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for alternate contact number -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}:</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input class="form-control" formControlName="alternate_contact_number" type="text" readonly
                    placeholder="Enter Anternate Number">
                </div>
              </div>
              <br>
              <div class="row">

                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.ORG_TYPE' | translate}}:</label>
                <div class="col-lg-7">
                  <select formControlName="organization_type" class="form-control" name="organization_type" disabled
                    id="organization_type" (change)="getorganizationtype($event.target.value)">
                    <option value="" selected disabled="">Select your org type</option>
                    <option value="1">Single</option>
                    <option value="2"> Multiple</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.LOG' | translate}}:</label>
                <div class="form-group col-lg-7">

                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <div class="img-space">
                      <img [src]="spare_image" />
                    </div>
                  </ng-container>
                </div>
              </div>
              <br>
              <div class="kt-form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- button for next page -->
                      <button class="btn btn-sm btn-outline-dark btn-pill custom-btn " data-ktwizard-type="action-next"
                        (click)="tab.select('tab-selectbyid2')">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <!-- tab for company address -->
        <ngb-tab title="	{{'NEW_SUBSCRIPTION.ADD' | translate}}" id="tab-selectbyid2">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="EditOrgAddressInfo" novalidate=""
              class="ng-untouched ng-pristine ng-valid">
              <div class="row">
                <!-- label for door number -->
                <label class="control-label col-lg-4"> {{'NEW_SUBSCRIPTION.DOPLO' | translate}}:</label>
                <div class="col-lg-8">
                  <!-- readonly -->
                  <input type="text" class="form-control" formControlName="plot_number" readonly
                    placeholder="{{'NEW_SUBSCRIPTION.DOPLO' | translate}}" maxlength="4">
                </div>
              </div>
              <br>
              <div class="row">

                <!-- label for street -->
                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.STR' | translate}}:</label>

                <div class="col-lg-8">
                  <!-- readonly -->
                  <input type="text" class="form-control" formControlName="street" readonly
                    placeholder="{{'NEW_SUBSCRIPTION.STR' | translate}}">
                </div>
                <!-- <br> -->
              </div>
              <br>
              <div class="row">

                <!-- label for landmark -->
                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.LAND' | translate}}:</label>

                <div class="col-lg-8">
                  <!-- readonly -->
                  <input type="text" class="form-control" formControlName="landmark" readonly
                    placeholder="{{'NEW_SUBSCRIPTION.LAND' | translate}}">
                </div>
              </div>
              <br>
              <div class="row">

                <!-- label for country -->
                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.COUNTRY' | translate}}:</label>

                <div class="col-lg-8">
                  <!-- select dropdown readonly -->
                  <select formControlName="country_id" class="form-control" disabled
                    (change)="onChangeCountry($event.target.value)">
                    <option value="">--Select Country--</option>
                    <option *ngFor="let items of country" [value]=items.country_id>
                      {{items.country_name}}</option>
                  </select>


                </div>
              </div>
              <br>
              <div class="row">

                <!-- label for state -->
                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.STATE' | translate}}:</label>

                <div class="col-lg-8">
                  <!-- select dropdown readonly -->
                  <select formControlName="state_id" class="form-control" disabled
                    (change)="onChangeState($event.target.value)">
                    <option value="">--Select State-- </option>
                    <option *ngFor="let items of states" [value]=items.state_id>
                      {{items.state_name}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for city -->
                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.CITY' | translate}}:</label>

                <div class="col-lg-8">
                  <!-- select dropdown readonly -->
                  <select formControlName="city_id" class="form-control" disabled>
                    <option value="">--Select District-- </option>
                    <option *ngFor="let items of cities" [value]=items.city_id>
                      {{items.city_name}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">

                <!-- label for postal code -->
                <label class="control-label col-lg-4">{{'NEW_SUBSCRIPTION.POSCODE' | translate}}:</label>

                <div class="col-lg-8">
                  <!-- readonly with 6 digits -->
                  <input type="text" readonly class="form-control"
                    placeholder="{{'NEW_SUBSCRIPTION.POSCODE' | translate}}" formControlName="post_code">
                </div>
              </div>
              <br>
              <div class="kt-form__actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- button for previous -->

                      <!-- button for submit -->
                      <!-- <button class="btn btn-outline-brand btn-md  kt-font-bold kt-font-transform-u pull-right"
                                data-ktwizard-type="action-next"
                                (click)="tab.select('tab-selectbyid3')">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button> -->
                      <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                      <button class="btn btn-outline-info btn-sm btn-pill custom-btn ml-2"
                        data-ktwizard-type="action-prev" (click)="tab.select('tab-selectbyid1')">
                        {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}

                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

    <!-- end form group -->
    <!-- </div> -->




    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
  <!-- end body -->
</ng-template>


<!-- edit subscription modal -->
<ng-template #Edit_Organization_details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for view -->
    <h4 class="modal-title">{{'NEW_SUBSCRIPTION.EDIT_SUBSCRIPTION' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->

    <!-- <div class="kt-section"> -->
    <!-- form group for view subscription -->

    <div class="kt-section__content">
      <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeId" #tab>

        <!-- tab for compay info -->
        <ngb-tab title="	{{'NEW_SUBSCRIPTION.COMPANY_INFO' | translate}}" id="tab-selectbyid1">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="EditOrgInfo" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <div class="row">
                <!-- label for organization name -->
                <label class="control-label col-lg-5"> {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}: </label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" formControlName="organization_name" class="form-control" readonly
                    placeholder="Enter Organization Name">
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for email address -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input class="form-control" formControlName="email" type="text" readonly placeholder="Enter Email">
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for contact name -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONNAME' | translate}}:</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" formControlName="contact_person_name" class="form-control"
                    placeholder="Enter Contact name">
                  <div
                    *ngIf="log5.contact_person_name.errors && (log5.contact_person_name.dirty || log5.contact_person_name.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log5.contact_person_name.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.CONNAME' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for contact number -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} :</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input class="form-control" formControlName="contact_number" type="text" readonly
                    placeholder="Enter Contact Number">
                </div>
              </div>
              <br>
              <div class="row">
                <!-- label for alternate contact number -->
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}:</label>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input class="form-control" formControlName="alternate_contact_number" type="text"
                    placeholder="Enter Alternate Number" onKeyPress="if(this.value.length==10) return false;">
                  <div *ngIf="contactnum_error" style="color:red">{{contactnum_error}}
                  </div>
                  <div
                    *ngIf="log5.alternate_contact_number.errors && (log5.alternate_contact_number.dirty || log5.contact_number.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log5.alternate_contact_number.errors.maxlength" style="color:red">
                      {{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}
                      {{'RAISETCKT.DIGI' | translate}}</div>
                    <div *ngIf="log5.alternate_contact_number.errors.minlength" style="color:red">
                      {{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}
                      {{'RAISETCKT.DIGI' | translate}}</div>
                    <div *ngIf="log5.alternate_contact_number.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.CONALTNUMBER' | translate}}
                      {{'RAISETCKT.CONNUMBER' | translate}}</div>
                  </div>
                </div>
              </div>
             
              <div class="row" style="display: none;">

                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.ORG_TYPE' | translate}}:</label>
                <div class="col-lg-7">
                  <select formControlName="organization_type" class="form-control" name="organization_type" disabled
                    id="organization_type" (change)="getorganizationtype($event.target.value)">
                    <option value="" selected disabled="">Select your org type</option>
                    <option value="1">Single</option>
                    <option value="2"> Multiple</option>
                  </select>
                </div>
              </div>

              <br>
              <div class="row">
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.LOGO' | translate}}:</label>
                <div class="form-group col-lg-7">
                  <div class="custom-file mb-3">
                    <input type="hidden" value="" name="file-upload">
                    <input type="file" name="file" accept="image/*" formControlName="logo"
                      (change)="fileChangeEvents($event)" class="fileInputProfile" />
                    <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                    <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                  </div>
                  <p style="color: red">{{message}}</p>
                  <p style="color: red;">{{load}}</p>
                  <p style="color: red">{{imageError}}</p>
                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <div class="img-space">
                      <img *ngIf="spare_image" [src]="spare_image" />
                      <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                    </div>
                  </ng-container>

                  <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                </div>
                <!-- <div class="form-group col-lg-7">
                    <div class="custom-file mb-3">
                      {{Filename}}
                      <input type="hidden" value="" name="file-upload">
  
                      <input type="file" class="custom-file-input" id="file-upload" (change)="fileChangeEvent($event)"
                        name="filename">
                      <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                      <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                  </div>
  
  
                    <p style="color: red;">{{image_validation}}</p>
                    <image-cropper *ngIf="cropped_img==true" id="img_crop" [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [resizeToWidth]="128" format="png"
                      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                      (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                    <div *ngIf="croppedImage">
                      <img [src]="croppedImage" />
                    </div>
                    <img [src]="imageChangedEvent" />
                  </div> -->
              </div>
              <br>
              <div class="kt-form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- button for next page -->
                      <!-- <button class="btn btn-outline-info btn-pill btn-sm  kt-font-bold"
                          data-ktwizard-type="action-next"
                          (click)="tab.select('tab-selectbyid2')">{{'NEW_SUBSCRIPTION.NEXT_STEP' | translate}}</button>  -->
                      <button class="btn btn-sm btn-outline-dark btn-pill custom-btn disabledsubmit"
                        [disabled]="EditOrgInfo.invalid" (click)="checkeditvalidation()">{{'NEW_SUBSCRIPTION.NEXT_STEP'
                        |
                        translate}}</button>

                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <!-- tab for company address -->
        <ngb-tab title="{{'NEW_SUBSCRIPTION.ADD' | translate}}" id="tab-selectbyid2">
          <ng-template ngbTabContent>
            <form id="form_body" [formGroup]="EditOrgAddressInfo" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for door number -->
                  <label class="control-label"> {{'NEW_SUBSCRIPTION.DOPLO' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" class="form-control" formControlName="plot_number"
                    placeholder="Enter Do/Pl Number">
                  <div *ngIf="log6.plot_number.errors && (log6.plot_number.dirty || log6.plot_number.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log6.plot_number.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.DOPLO' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                    <div *ngIf="log6.plot_number.errors.pattern" style="color:red">{{'USER.PLONO' | translate}}
                      {{'NEW_SUBSCRIPTION.SHO' | translate}} </div>
                    <div *ngIf="!EditOrgAddressInfo.hasError('whitespace')" style="color:red">
                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.DOPLO' | translate}}
                    </div>
                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for street -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.STR' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" class="form-control" formControlName="street"
                    placeholder="{{'NEW_SUBSCRIPTION.STR' | translate}}">
                  <div *ngIf="log6.street.errors && (log6.street.dirty || log6.street.touched)" class="m-b-10 error">
                    <div *ngIf="log6.street.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.STR' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
                <!-- <br> -->
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for landmark -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.LAND' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- readonly -->
                  <input type="text" class="form-control" formControlName="landmark" placeholder="Enter Landmark">
                  <div *ngIf="log6.landmark.errors && (log6.landmark.dirty || log6.landmark.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log6.landmark.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.LAND' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for country -->
                  <label>{{'NEW_SUBSCRIPTION.COUNTRY' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- select dropdown readonly -->
                  <select formControlName="country_id" class="form-control"
                    (change)="onChangeCountry($event.target.value)">
                    <option value="">--Select Country--</option>
                    <option *ngFor="let items of country" [value]=items.country_id>
                      {{items.country_name}}</option>
                  </select>
                  <div *ngIf="log6.country_id.errors && (log6.country_id.dirty || log6.country_id.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log6.country_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.COUNTRY' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for state -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.STATE' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- select dropdown readonly -->
                  <select formControlName="state_id" class="form-control" (change)="onChangeState($event.target.value)">
                    <option value="">--Select State-- </option>
                    <option *ngFor="let items of states" [value]=items.state_id>
                      {{items.state_name}}</option>
                  </select>
                  <div *ngIf="log6.state_id.errors && (log6.state_id.dirty || log6.state_id.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log6.state_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.STATE' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for city -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.CITY' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- select dropdown readonly -->
                  <select formControlName="city_id" class="form-control">
                    <option value="">--Select District-- </option>
                    <option *ngFor="let items of cities" [value]=items.city_id>
                      {{items.city_name}}</option>
                  </select>

                  <div *ngIf="log6.city_id.errors && (log6.city_id.dirty || log6.city_id.touched)" class="m-b-10 error">
                    <div *ngIf="log6.city_id.errors.required" style="color:red">
                      {{'NEW_SUBSCRIPTION.CITY' | translate}}
                      {{'RAISETCKT.REQ' | translate}}
                    </div>
                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <!-- label for postal code -->
                  <label class="control-label">{{'NEW_SUBSCRIPTION.POSCODE' | translate}}:</label>
                </div>
                <div class="col-lg-7">
                  <!-- readonly with 6 digits -->
                  <input type="text" class="form-control" formControlName="post_code" placeholder="Enter Postal Code"
                    onKeyPress="if(this.value.length==6) return false;">
                  <div *ngIf="log6.post_code.errors && (log6.post_code.dirty || log6.post_code.touched)"
                    class="m-b-10 error">
                    <div *ngIf="log6.post_code.errors.required" style="color:red">
                      {{'RAISETCKT.POSCODE' | translate}}
                      {{'RAISETCKT.REQ' | translate}} </div>
                    <div *ngIf="log6.post_code.errors.maxlength" style="color:red">
                      {{'RAISETCKT.POSCODE' | translate}}
                      {{'RAISETCKT.MUST' | translate}}</div>
                    <div *ngIf="log6.post_code.errors.minlength" style="color:red">
                      {{'RAISETCKT.POSCODE' | translate}}
                      {{'RAISETCKT.MUST' | translate}}</div>
                    <div *ngIf="log6.post_code.errors.pattern" style="color:red">
                      {{'NEW_SUBSCRIPTION.VALID' | translate}}
                      {{'RAISETCKT.POSCODE' | translate}}</div>
                  </div>
                </div>
              </div>
              <br>
              <!-- <br> -->
              <div class="row">
                <div class="control-label col-lg-5">
                  <label> {{'NEW_SUBSCRIPTION.STATUS' | translate}} :</label>
                </div>
                <div class="col-lg-7">

                  <select formControlName="status" class="form-control">
                    <option value="" selected="empty" disabled="">select</option>
                    <option value="1">Active</option>
                    <option value="0">Block</option>

                  </select>
                </div>
              </div>
              <br>
              <div class="kt-form__actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- button for previous -->
                      <button class="btn btn-outline-info btn-pill btn-sm custom-btn" data-ktwizard-type="action-prev"
                        (click)="tab.select('tab-selectbyid1')">
                        {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                      </button>
                      <!-- button for submit -->
                      <!-- button for submit -->
                      <!-- [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" -->

                      <button class="btn btn-outline-success custom-btn btn-pill ml-2 btn-sm disabledsubmit"
                        [disabled]="!EditOrgAddressInfo.valid" (click)="edit_organization()"
                        data-ktwizard-type="action-submit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}">{{'NEW_SUBSCRIPTION.SUB'
                        | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>
    <!-- end form group -->
    <!-- </div> -->




    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
  <!-- end body -->
</ng-template>



<!-- buy more license modal -->
<ng-template #BuyMore let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for add more license -->
    <h4 class="modal-title">{{'NEW_SUBSCRIPTION.MORE_SUBSCRIPTION' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->

    <!-- <div class="kt-section"> -->
    <!-- form group for add more license -->
    <form id="form_body" [formGroup]="AddmoreSubscription" novalidate=""
      class="custom-forms ng-untouched ng-pristine ng-valid">

      <!-- empty row -->
      <div class="row" style="display:none">
        <!-- label for CompanyID-->
        <label class="control-label col-lg-5"> packageid</label>
        <div class="col-lg-7">
          <!-- readonly -->
          <input type="text" class="form-control" name="hidden_companyid" formControlName="organization_id"
            id="hidden_companyid" readonly="" placeholder="Enter Package Id">
        </div>
      </div>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for number of license -->
          <label class="control-label"> {{'NEW_SUBSCRIPTION.LICENCE' | translate}}:</label>
        </div>
        <div class="col-lg-7">
          <!-- readonly -->
          <input type="number" class="form-control" formControlName="number_of_license_required" readonly
            placeholder="Enter No of Licence">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for add license -->
          <label class="control-label"> {{'NEW_SUBSCRIPTION.ADD_NOLICENSE' | translate}}:</label>
        </div>
        <div class="col-lg-7">
          <!-- input  -->
          <input type="text" [(ngModel)]="new_noof_license" class="form-control" placeholder="Enter No of Licence"
            formControlName="number_of_license_added" (change)="add_license()">
          <!-- (change)="license_adding($event.target.value)" -->
          <!-- <div *ngIf="number_button"> -->
          <a (click)="calculate_buymore_total_amount(new_noof_license)"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingCal}"
            class="btn btn-sm btn-outline-success btn-pill custom-btn mt-2 ng-star-inserted disabledsubmit">{{'NEW_SUBSCRIPTION.CALCULATE'
            | translate}}</a>
          <!-- </div> -->

          <div *ngIf="license_removed_error" style="color:red">{{license_removed_error}}
          </div>
        </div>
        <!-- calculate after click -->

      </div>
      <br>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for new license -->
          <label class="control-label">{{'NEW_SUBSCRIPTION.NEW_NOLICENSE' | translate}}:</label>
        </div>
        <div class="col-lg-7">
          <!-- readonly -->
          <input type="text" class="form-control" formControlName="number_of_license" readonly
            placeholder="Enter No of license">

        </div>
      </div>
      <br>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for amount -->
          <label class="control-label"> {{'NEW_SUBSCRIPTION.AMT' | translate}}:</label>
        </div>
        <div class="col-lg-7">
          <!-- readonly calculate based on license  -->
          <input type="text" class="form-control" formControlName="amount" readonly placeholder="Enter Amount">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for discount percent -->
          <label>{{'NEW_SUBSCRIPTION.DISCOUNTPERCENT' | translate}} :</label>
        </div>
        <div class="col-lg-7">
          <div>
            <!-- input only percent -->
            <input type="number" formControlName="discount_percentage" class="form-control" numberOnly
              name="discount_value" id="discount_value" [(ngModel)]="myInput" placeholder="Enter Discount percentage"
              (change)="get_discount_percentage($event.target.value)">
          </div>
          <div *ngIf="discount_error" style="color:red">{{discount_error}}
          </div>
          <!-- (change)="onrenewdiscountChange($event.target.value)" -->
          <!-- calculate after click -->
          <a (click)="calculate_buymore_discounted_amount()"
            class="btn btn-sm btn-outline-success custom-btn btn-pill ng-star-inserted mt-2">{{'NEW_SUBSCRIPTION.CALCULATE'
            | translate}}</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for discount price -->
          <label>{{'NEW_SUBSCRIPTION.DISCOUNT_PRICE' | translate}}:</label>

        </div>
        <div class="col-lg-7">

          <div>
            <!-- readonly calculate based on discount percent -->
            <input type="text" formControlName="discount_amount" class="form-control" readonly name="discount_amount"
              placeholder="Enter Discount Price" id="discount_amount" [(ngModel)]="text_discountamount">
          </div>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="control-label col-lg-5">
          <!-- label for total price -->
          <label>{{'NEW_SUBSCRIPTION.TOT_PRICE' | translate}}:</label>

        </div>
        <div class="col-lg-7">

          <div>
            <!-- readonly price based on license and also discount percent -->
            <input type="text" formControlName="total_price" class="form-control" readonly name="new_license_cost"
              placeholder="Enter Total Price" id="new_license_cost" [(ngModel)]="text_licensecost">
          </div>

        </div>
      </div>
    </form>
    <!-- <br> -->
  </div>

  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
              (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <!-- submit button -->
            <button [disabled]="!AddmoreSubscription.valid"
              class="btn btn-outline-success btn-pill btn-sm custom-btn ml-2 disabledsubmit"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSubmit}"
              (click)="add_more_license()">{{'NEW_SUBSCRIPTION.SUB' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



</ng-template>


<!-- renewal for required license modal -->
<ng-template #ExtentDuration let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'NEW_SUBSCRIPTION.RENEW_SUBSCRIPTION' | translate}}</h4>
    <!-- icon for close -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->

    <!-- begin body for portlet-->
    <!-- <div class="kt-section"> -->
    <!-- Form group for renewal license -->
    <form id="form_body" [formGroup]="RenewSubscription" novalidate=""
      class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="kt-section__content">
        <!-- empty row -->
        <div class="row" style="display:none">
          <!-- label for CompanyID-->
          <label class="control-label col-lg-4"> packageid</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="hidden_companyid" formControlName="organization_id"
              placeholder="Enter Package id" id="hidden_companyid" readonly="">
          </div>
        </div>
        <div class="row">
          <div class="control-label col-lg-5">
            <!-- label for license -->
            <label class="control-label"> {{'NEW_SUBSCRIPTION.LICENCE' | translate}}:</label>
          </div>
          <div class="col-lg-7">
            <!-- readonly -->
            <input type="number" class="form-control" formControlName="number_of_license" readonly maxlength="4"
              placeholder="Enter No of license">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="control-label col-lg-5">
            <!-- label for total price -->
            <label>{{'NEW_SUBSCRIPTION.AMTP' | translate}}:</label>
          </div>
          <div class="col-lg-7">
            <div>
              <!-- readonly from calculate discopunt -->
              <input type="text" formControlName="total_price" class="form-control" readonly
                placeholder="Enter Total price">
              <!-- [(ngModel)]="text_licensecost"  -->
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="control-label col-lg-5">
            <!-- label for discount price -->
            <label>{{'NEW_SUBSCRIPTION.END_DATE' | translate}}:</label>
          </div>
          <div class="col-lg-7 input-group">
            <input type="text" ngbDatepicker [minDate]="minDate" #d="ngbDatepicker" formControlName="end_date"
              class="form-control" placeholder="dd-mm-yyyy">
            <div class="input-group-append">
              <button class="btn btn-primary py-0" (click)="d.toggle()" type="button">
                <i class="la la-calendar"></i>
              </button>
            </div>

            <!-- <input class="form-control" ngbDatepicker [minDate]="minDate" (click)="datePicker.toggle()" formControlName="end_date"#datePicker="ngbDatepicker" formControlName="date" placeholder="yyyy-mm-dd"> -->
            <!-- <input type="text" class="form-control"  name="end_date"
                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" formControlName="end_date"
                    id="end_date">
                <div class="input-group-append sub-date">
                    <button class="btn btn-primary" (click)="d.toggle()" type="button">
                        <i class="la la-calendar"></i>
                    </button>
                </div> -->

          </div>
          <div class="col-lg-5">
          </div>
          <div *ngIf="log7.end_date.errors && (log7.end_date.dirty || log7.end_date.touched)" class="col-lg-7 error">
            <div *ngIf="log7.end_date.errors.required" style="color:red">
              {{'NEW_SUBSCRIPTION.END_DATE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
          </div>
        </div>

      </div>
    </form>
    <!-- end form group -->
    <!-- </div> -->
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->



    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>

  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
              (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <!-- button for submit -->
            <button color="primary" (click)="extend_duration()"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
              class="btn btn-sm btn-outline-success custom-btn ml-2 btn-pill btn-md kt-font-bold"
              data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!--  remove from the required license modal -->
<ng-template #RemoveLicensemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title -->
    <h4 class="modal-title">{{'NEW_SUBSCRIPTION.REMOVE_SUBSCRIPTION' | translate}}</h4>
    <!-- close icon -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- begin modal body -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->

    <!-- <div class="kt-section"> -->
    <!-- form group for remove license -->
    <form id="form_body" [formGroup]="RemoveLicense" novalidate=""
      class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="kt-section__content">
        <!-- empty row -->
        <!-- <div class="row" style="display:none">
    
                  <label class="control-label col-lg-4"> packageid</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" name="hidden_companyid" formControlName="organization_id"
                      id="hidden_companyid" readonly="">
                  </div>
                </div> -->
        <div class="row">
          <div class="control-label col-lg-6">
            <!-- label for required license -->
            <label class="control-label"> {{'NEW_SUBSCRIPTION.LICENCE' | translate}}:</label>
          </div>
          <div class="col-lg-6">
            <!-- readonly -->
            <input type="text" class="form-control" formControlName="number_of_license_required" readonly maxlength="4"
              placeholder="Enter No of license">

          </div>
        </div>
        <br>
        <div class="row">
          <div class="control-label col-lg-6">
            <!-- label for remove license -->
            <label class="control-label"> {{'NEW_SUBSCRIPTION.REMOVELICENE' | translate}}:</label>
          </div>
          <div class="col-lg-6">
            <input type="number" class="form-control" formControlName="number_of_license_reduced"
              placeholder="Enter No of license" (change)="get_noOf_license_removal($event.target.value)">
            <!-- <div *ngIf="number_buttons"> -->
            <a (click)="calculate_licenseRemoval_total_amount()"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingCalc}"
              class="btn btn-sm btn-outline-success custom-btn btn-pill mt-2 ng-star-inserted disabledsubmit">{{'NEW_SUBSCRIPTION.CALCULATE'
              | translate}}</a>
            <!-- </div> -->
            <div *ngIf="license_removed_error" style="color:red">{{license_removed_error}}
            </div>
            <div
              *ngIf="log4.number_of_license_reduced.errors && (log4.number_of_license_reduced.dirty || log4.number_of_license_reduced.touched)"
              class="m-b-10 error">
              <div *ngIf="log4.number_of_license_reduced.errors.required" style="color:red">
                {{'NEW_SUBSCRIPTION.REMOVELICENE' | translate}} {{'NEW_SUBSCRIPTION.REQ' | translate}}</div>
            </div>
          </div>
          <!-- calculate after click -->

        </div>
        <br>
        <div class="row">
          <div class="control-label col-lg-6">
            <!-- label for new license -->
            <label class="control-label">{{'NEW_SUBSCRIPTION.NEW_NOLICENSE' | translate}} :</label>
          </div>
          <div class="col-lg-6">
            <!-- readonly -->
            <input type="number" class="form-control" formControlName="number_of_license" readonly maxlength="4"
              placeholder="Enter No of license">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="control-label col-lg-6">
            <!-- label for aqmount -->
            <label class="control-label"> {{'NEW_SUBSCRIPTION.AMTP' | translate}}:</label>
          </div>
          <div class="col-lg-6">
            <!-- required amount -->
            <input type="text" class="form-control" formControlName="amount" readonly placeholder="Enter Amount">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="control-label col-lg-6">
            <!-- label for days -->
            <label class="control-label"> {{'NEW_SUBSCRIPTION.EXTEND_DAYS' | translate}}:</label>
          </div>
          <div class="col-lg-6">
            <!-- extended days based amount -->
            <input type="text" class="form-control" formControlName="days_to_extended" readonly
              placeholder="Enter No of Days">
          </div>
        </div>

        <!-- <br> -->

      </div>
    </form>
    <!-- end form group -->
    <!-- </div> -->
    <!-- <div class="kt-separator kt-separator--dashed"></div> -->



    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
  </div>
  <!-- end modal body -->
  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
              (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <!-- button for submit -->
            <button class="btn btn-outline-success custom-btn btn-pill btn-sm kt-font-bold ml-2 disabledsubmit"
              [disabled]="!RemoveLicense.valid" (click)="remove_license()" data-ktwizard-type="action-submit"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}">{{'NEW_SUBSCRIPTION.SUB'
              | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>