.width{
    width : 263px;
  }
  table {
  width: 100%;
  }
  /* Dropdown Button */
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  // button.btn.btn-info.pull-right{
    // margin-top:-78px;
    // margin-right: -24px;
  // }
  .container .row {
    margin: -11px;
  }
  .card-block.table-responsive {
  margin-top: -28px;
  }
  .i.fa.fa-edit{
  display: inline-block;
  }
  // i.far.fa-check-circle{
  // display: inline-block;
  // margin-left: 75px;
  // margin-top: -30px !important;
  // float: left !important;
  // margin-top:10px;
  // }
  // i.fas.fa-ban{
  // display: inline-block;
  // margin-left: 75px;
  // margin-top: -30px !important;
  // float: left !important;
  // margin-top:10px;
  // }
  .dropdown-menu{
    left:-170px !important;
  }
  button.btn-info.btn-sm {
  margin-left: 19px;
  }
  .org_name{
    color:blue;
    cursor: pointer;
    text-transform:capitalize;
  }
  thead th{
    text-transform:capitalize;
  }
  .dropdown-item:active{
    background-color:#a9a9a9 !important;
  }
  .renew-btn{
    padding:5px;
  }
  .dropdown-content a{
    cursor:pointer;
  }
  // .sub-date{
  //   padding: 0px;
  //   position: absolute;
  //   top: 0px;
  //   right:0px;
  // }
  .sub-status{
    cursor:pointer;
  }
  
  
  
  // Media queries
  // @media only screen and (min-width: 1200px) and (max-width: 1320px)  {
  // button.btn.btn-info.pull-right{
  //   margin-right: -9px;
  // }
  // }
  // @media only screen and (min-width: 1022px) and (max-width: 1200px) {
  // button.btn.btn-info.pull-right{
  //   margin-right: -9px;
  // }
  // } 
  // @media (min-width: 860px) and (max-width: 1022px) {
  // kt-portlet-header.kt-portlet__head {
  //   margin-top: -47px !important;
  //   margin-right: -24px;
  // }
  // } 
  
  
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .disabledsubmit{
    cursor: not-allowed;
  }
  .tab_align{
    float: right;
  }
  .image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  height: 50%;
  width: 50%;
  padding: 10px;
  min-height:175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}