<!-- <div class="card fogot-pw" *ngIf="forgot">
	
		<div class="kt-login__form">
			<div class="kt-login__title">
				<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
			</div>

			<kt-auth-notice></kt-auth-notice>
			<div class="para">
				<p>Enter your e-mail address below to reset your password.</p>
			</div>
			<form class="kt-form fp-forgot-pw" [formGroup]="forgotPasswordForm" autocomplete="off">
				<div class="form-group">
					<mat-form-field>
						<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>

						<input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}"
							formControlName="email" autocomplete="off">
						<mat-error *ngIf="isControlHasError('email','required')">
							<strong>{{ 'AUTH.VALIDATION.ENTER_EMAIL' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('email','email')">
							<strong>{{ 'AUTH.VALIDATION.INVALID_EMAIL' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('email','minLength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('email','maxLength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<p style="color: red;"> {{error_msgs}}</p>
			
				<div class="kt-login__actions">
					<button routerLink="/login" id="kt_login_signup_cancel" style="border-color: gray;"
						class="btn btn-outline btn-pill btn-elevate kt-login__btn-secondary login-btn">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
					<button (click)="submit()" id="kt_login_signin_submit"
						class="btn btn-outline-brand btn-pill btn-elevate kt-login__btn-primary login-btn">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="kt-grid__item">
	<div class="kt-login__info">
		<div class="kt-login__copyright">
			Copyright © {{today|date:'yyyy'}} <a href="https://www.kaspontech.com/" target="new"
				style="color: #000000;">Kaspon
				Techworks Pvt. Ltd.,</a> All rights reserved.
		</div>
	</div>
</div> -->