// button, input {   
//     margin-right: 209px;
//     margin-block-start: 7px;
//     max-width: 128px;
//     // cursor: pointer;
// }
.portlet__body{
    padding: 8px;
}
// .fa fa-edit{
//     border-style: none;
// }
.disabledsubmit{
    cursor: not-allowed;
}
.color_text{
    color: #646c9a;
}
.table_width{
    width: 20%;
}