<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title=" {{'SPARE.SPAREREQT' | translate}}">
    <!--heading for portlet-->

  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body> 
    <div class="kt-section__content">
     <ngb-tabset [justify]="currentJustify" (tabChange)="findtab($event)" #tab>
        <!--  <ngb-tab title="{{'SPARE.SPAREREQT' | translate}}" id="tab-selectbyid1">
          <ng-template ngbTabContent>
            <kt-portlet-body class="portlet__body">
              <div class="kt-section__content">         
                  <form style="margin-right: -8px;" class="custom-forms form-horizontal" action="#" id="cust_data" method="POST"
                    novalidate="novalidate" [formGroup]="ProductLocation">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-2 pull-right">
                          <select formControlName="location_id" class="form-control" #location name="location_id"
                            (change)="onChangeLocation()">

                            <option value="">{{'SPARE.SLCTLOC' | translate}}</option>
                            <option *ngFor="let location of locations" value="{{location.location_id}}">
                              {{location.location_name}}</option>
                          </select>

                        </div>
                        <div class="col-md-2 pull-right">
                          <select formControlName="product_id" class="form-control" #product
                            (change)="onChangeLocation()">
                            <option value="">{{'SPARE.SLCTPRO' | translate}}</option>
                            <option *ngFor="let product of products" value="{{product.product_id}}">
                              {{product.product_name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </form>
                  <br>            
                <div class="table-responsive">
                  <table id="spare_request" datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                      <tr>
                        <th style="width: 12%;" class="kt-footer kt-container max-tables">
                          {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                        </th>
                        <th style="width: 12%;" class="kt-footer kt-container max-tables">{{'NEWTCKT.TCKID' | translate}}</th>
                        <th style="width: 12%;" class="kt-footer kt-container">{{'NEWTCKT.CUS_NAME' | translate}}
                        </th>
                        <th style="width: 12%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_ID' | translate}}</th>

                        <th style="width: 12%;" class="kt-footer kt-container">{{'NEWTCKT.PRODUCT' | translate}}
                        </th>
                        <th style="width: 12%;" class="kt-footer kt-container">{{'NEWTCKT.SUBPRODUCT' | translate}}
                        </th>
                        <th style="width: 12%;" class="kt-footer kt-container">{{'USER.LOCATION' | translate}}
                        </th>
                        <th style="width: 15%;" class="kt-footer kt-container max-tables">
                          Image
                       </th>
                      
                      <th style="width: 12%;" class="kt-footer kt-container max-tables">
                        {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                        <th style="width: 12%;" class="kt-footer kt-container">
                          {{'SPAREMASTER.UP_SPARE_QUAN' | translate}}</th>
                    
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of sparerequests; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td><a style="cursor: pointer;" class="button" data-placement="right" ngbTooltip="View Details"
                            (click)="ticketDetails(items.ticket_id,ticket_details)">{{items.ticket_id}}</a>
                        </td>
                        <td>{{items.customer_name}}</td>
                        <td><a style="cursor: pointer;color: #242fb7" class="button" data-placement="right" ngbTooltip="View Details"
                            (click)="get_technician_details(items.technican_id,view_techniciandetails)">{{items.technican_id}}</a>

                        </td>
                        <td>{{items.product.product_name}}</td>
                        <td>{{items.subproduct.product_sub_name}}</td>
                        <td>{{items.location}}</td>
                        <td class="datatable-center" >
                          <div *ngIf="items.image == '' || items.image == 'null'||items.image == undefined;else elseBlock">
                          -
                          </div>
                          <ng-template #elseBlock> 
                              <button class="btn btn-base"
                              (click)="openimage(ImageView,items.image)">
                              <i class="fas fa-image" style="font-size:21px;color:gray;"
                                  aria-hidden="true"></i>
                          </button>
                          </ng-template>
                      </td>
                      <td class="datatable-center">  <a  style="cursor: pointer;"
                        (click)="downloadPdf(items.ticket_id)"><i class="fas fa-file-pdf"
                          aria-hidden="true"></i>
                      </a></td>
                        <td class="datatable-center">
                          <i (click)="get_spare_details(items.ticket_id,UpdateSpareQuan)" class="fa fa-edit"
                            aria-hidden="true"></i>

                        </td>
                   
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>-->

        <ngb-tab title="{{'IMPRESTSPARE.TITLE' | translate}}" id="tab-selectbyid2">
          <ng-template ngbTabContent> 
            <kt-portlet-body class="portlet__body">
              <div class="kt-section__content">
                <br>
                <div>
                  <table id="imprest_spare" datatable="ng" *ngIf="showTableImprest" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                      <!-- columns for  table -->
                      <tr>
                        <th style="width: 11%;" class="kt-footer kt-container max-tables">
                          {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                        </th>
                        <th style="width: 11%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_ID' | translate}}</th>
                        <th style="width: 14%;" class="kt-footer kt-container">{{'NEWTCKT.TCH_NAME' | translate}}
                        </th>
                        <th style="width: 11%;" class="kt-footer kt-container datatable-center">
                          {{'SPAREMASTER.UP_IMPRASE_QUAN' | translate}}</th>
                          <!-- <th style="width: 12%;" class="kt-footer kt-container datatable-center">
                            {{'COMTICK.DOWNLOADSCTR' | translate}}</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of imprest_sparerequests; let i = index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td><a style="cursor: pointer;color: #242fb7" class="button" data-placement="right" ngbTooltip="View Details"
                            (click)="get_technician_details(items.technician_id,view_techniciandetails)">{{items.technician_id}}</a>
                        </td>
                        <td>{{items.technician_name}} </td>
                        <td class="datatable-center">
                          <i (click)="get_imprest_spare(items.imprest_spare_id,UpdateImprestSpareQuan)"
                            class="fa fa-edit" aria-hidden="true"></i>
                        </td>
                        <!-- <td class="datatable-center">  <a  style="cursor: pointer;"
                          (click)="downloadPdf(items.ticket_id)"><i class="fas fa-file-pdf"
                            aria-hidden="true"></i>
                        </a></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>

<!-- update spare request -->
<ng-template #UpdateSpareQuan let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'SPAREMASTER.UP_SPARE_QUAN' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
      [formGroup]="UpdateSpareQuantity">
      <div class="table-responsive">
        <table id="" datatable="ng" *ngIf="showTableQuan" [dtOptions]="dtOptions"
          class="table table-striped table-bordered table-md row-border hover datatable">
          <thead>
            <tr>
              <th class="kt-footer kt-container max-tables table_width">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
              <th class="kt-footer kt-container table_width">{{'SPAREMASTER.SPARE_CODE'|translate}}</th>
              <th class="kt-footer kt-container text-center table_width">{{'SPAREMASTER.REQ_QUAN'|translate}}</th>
              <th class="kt-footer kt-container table_width">{{'SPARE.SPARELOCATION'|translate}}</th>
              <th class="kt-footer kt-container table_width ">{{'SPAREMASTER.STOCQUAN'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of spare_details; let i = index">
              <td class="datatable-center">{{i+1}}</td>
              <td>{{items.spare_code}}</td>
              <td class="datatable-center">{{items.spare_quantity}}</td>
              <td>{{items.spare_location.spare_location}}</td>
              <td>   
                <input class="form-control" type="number" formControlName="spare_quantity"
                  (input)=onchangequantity(items,$event.target.value) onkeydown="return event.keyCode !== 69"
                  placeholder="{{'TRANSFERSPARE.REQUESTQUANTITY' | translate}}" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      <br>
      <p *ngIf="error" style="color: red;">{{error}}</p>
      <div *ngIf="approve_error" style="color:red">{{approve_error}}
      </div> 
      <div class="text-center">
        <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit"
          [disabled]="!UpdateSpareQuantity.valid"
          (click)="update_spare_quantity(items)">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- imprest spare request -->
<ng-template #UpdateImprestSpareQuan let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'SPAREMASTER.UP_IMPRASE_QUAN' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <!-- body begin -->
  <div class="modal-body">
    <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
    <!-- begin body for portlet-->
    <kt-portlet-body>
      <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
        [formGroup]="UpdateImprestSpareQuantity">
        <!-- {{imprest_sparerequest|json}} -->
        <div class="table-responsive">
          <table id="" datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
            class="table table-striped table-bordered table-sm row-border hover datatable">
            <thead>
              <tr>
                <th class="kt-footer kt-container max-tables table_width">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                </th>
                <th class="kt-footer kt-container table_width">{{'SPAREMASTER.SPARE_CODE'|translate}}</th>
                <th class="kt-footer kt-container datatable-center table_width">{{'SPAREMASTER.REQ_QUAN'|translate}}
                </th>
                <th class="kt-footer kt-container table_width">{{'SPARE.SPARELOCATION'|translate}}</th>
                <th class="kt-footer kt-container table_width">{{'SPAREMASTER.STOCQUAN'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let items of imprest_sparerequest; let i = index">
                <td class="datatable-center">{{i+1}}</td>
                <td>{{items.spare_code}}</td>
                <td class="datatable-center">{{items.request_quantity}}</td>
                <td>{{items.spare_location.spare_location}}</td>
                <td>
                  <input class="form-control" type="number" formControlName="spare_quantity"
                    (input)=onchangeimprestquantity(items,$event.target.value) onkeydown="return event.keyCode !== 69"
                     placeholder="{{'TRANSFERSPARE.REQUESTQUANTITY' | translate}}" />
                </td>
            </tbody>
          </table>
        </div>
              <br>
        <p style="color:red">{{error}}</p>
        <div *ngIf="approve_error" style="color:red">{{approve_error}}
        </div>
        <div class="text-center">
          <button class="btn btn-outline-success custom-btn btn-sm btn-pill disabledsubmit "
            [disabled]="!UpdateImprestSpareQuantity.valid" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
            (click)="update_imprest_spare_quantity(items)">{{'NEW_SUBSCRIPTION.SUB' | translate}}
          </button>
        </div>
      </form>
    </kt-portlet-body>
  </div>
</ng-template>

<!-- view ticket details -->
<ng-template #ticket_details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row">
      <div class="col-lg-6">
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor"
          for="inputEmail3">{{'RAISETCKT.TICKET_ID' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{ticket_data.ticket_id}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{ticket_data.customer_code}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">
          {{ticket_data.customer_name}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputPassword3">{{'NEWTCKT.LOC' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details"> {{ticket_data.location}}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{ticket_data.priority}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{ticket_data.contract_type}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{ticket_data.model}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3"> {{'MANAGECONT.SERIALNO' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{ticket_data.serial_no}}</div>
      </div>
    </div>
    </div>
    </form>
  </div>
</ng-template>
<!-- view the details of technician -->

<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{technicians_details.technician_code}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'REIM.TECHN' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">
          {{technicians_details.full_name}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputPassword3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-lg-6 control-label  overflow-details">{{technicians_details.contact_number}}</div>
      </div>
      <!-- <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputEmail3">{{'NEWTCKT.LOC' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{technicians_details.location}}</div>
      </div> -->
      <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-lg-6 control-label"
          for="inputEmail3">{{'NEWTCKT.SK_LVL' | translate}}:</label>
        <div class="col-lg-6 control-label" style="float: right;">{{technicians_details.skill_level}}</div>
      </div>
    
      <!-- <div class="form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputEmail3">{{'NEWTCKT.TSK_CNT' | translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{technicians_details.task_count}}</div>
      </div> -->
      <!-- <div class="form-group"><label class="col-lg-6 control-label popupcolor"
        for="inputEmail3">{{'CUSTOMER.MONUM' | translate}}:</label>
      <div class="col-lg-6 control-label overflow-details">{{technicians_details.model_no}}</div>
    </div> -->

    </form>
  </div>
</ng-template>
<ng-template #ImageView let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">{{'KNBS.IMVW' | translate}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body datatable-center">
      <img style="width: 634px;" class="image_size" src={{httplink}}{{image_or_video}}>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
          (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
  </div>
</ng-template>