
<kt-portlet [class]="'kt-portlet--height-fluid'">
        <kt-portlet-header [title]="'Package Management'">
            <!--heading for portlet-->
        </kt-portlet-header>
        <!-- begin body for portlet-->
        <kt-portlet-body>
            <div class="" style="margin-top: 2%">
                <!-- begin form -->
              
                    <div class="row">
                        <!-- empty column -->
                
                        <!-- column for Add button -->
                        <div class="col-md-12 ">
    
                            <!-- modal box for add -->
                            <button class="btn btn-info pull-right width" (click)="open2(content2)">ADD Package 
                            </button>
    
    
                        </div>
                    </div>
                
            </div>
                <!-- end form -->
                    <br>
                    <!-- <div formArrayName="selling_points"> -->
                    <div>
                        <!-- table for view datas -->
                        <!-- shows after submit add button -->
                        <table class="table table-striped table-bordered table-sm row-border hover datatable"> 
                            <thead>
                                <!-- columns of the table -->
                                <tr>
                                    <th> S.No</th>
                                    <th>Package type</th>
                                    <th>Package plan</th>
                                    <th>Per license cost</th>
    
                                    <th width="100">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--ngfor using the push array  -->          
                                <tr *ngFor="let item of package_management_details; let i = index">
                                    <!-- values from Addcont -->
                                    <td> {{i+1}}</td>
                                    <td>{{item.package_type.package_name}}</td>
                                    <td>{{item.package_plan.name}}</td>
                                    <td>{{item.per_license_cost}}</td>
                                    <td><!-- icon for edit -->
                                        <i class="fa fa-edit" style="font-size:21px;color:#5d78ff" aria-hidden="true"
                                            (click)="Open1(content1);editpackage(item)"></i> &nbsp;
                                            <a *ngIf='item.status == 1' class="btn btn-sm btn-label-success">Active</a>
                                            <a *ngIf='item.status == 0' class="btn btn-sm btn-label-danger">Blocked</a>
                                    </td>    
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                    <!-- </div> -->   
        </kt-portlet-body>
        <!-- end body for portlet-->
    </kt-portlet>  
    <!-- Add package modal -->
    <ng-template #content2 let-c="close" let-d="dismiss">
        
       
            <!-- Title -->
            <div class="modal-header">
                <h4 class="modal-title">Add Package Management</h4>
                <!-- close icon -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <!-- space before content -->
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- form group [Addcont] begin -->
            <form class="form-horizontal" [formGroup]="Addcont" (ngSubmit)="submitform();addpackage(addcont)" action="#"
                id="cust_data" method="POST" novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-6">
                            <label>Package Type:</label>
                             <!--Label for package type-->
                        </div>
                        <div class="col-lg-6">
                          <!-- dropdown for  package type-->
                          <select formControlName="package_type_id" class="form-control" name="package_type_id"
                          id="package_type_id">
                          <option value="" selected="empty" disabled="">Select your package type</option>
                          <option *ngFor="let items of package_details" [value]=items.package_id>
                                {{items.package_name}}</option>
                      </select>
                        
                        </div>
                        <br>
  
                      </div>
                      <br>
                      <div class="row">

                        <div class="col-lg-6">
                            <label>Package Plan:</label>
                            <!--Label for package plan-->
                        </div>
                        <div class="col-lg-6">
                        <!-- dropdown for  package plan-->
                        <select formControlName="package_plan_type_id" class="form-control" name="package_plan"
                        id="package_plan">
                        <option value="" selected="empty" disabled="">Select your package type</option>
                     
                            <option *ngFor="let items of package_plan_details" [value]=items.package_plan_type_id>
                                    {{items.name}}</option>
                    </select>
                        
                        </div>
                        <br>
  
                      </div>
                      <br>
                      <div class="row">

                        <div class="col-lg-6">
                            <label>Organization Plan:</label>
                            <!--Label for organization plan-->
                        </div>
                        <div class="col-lg-6">
                      <!-- dropdown for  Organization plan-->
                      <select formControlName="organization_type" class="form-control" name="organization_type"
                      id="organization_type">
                      <option value="" selected="empty" disabled="">Select your package type</option>
                      <option value="1">Single</option>
                      <option value="2">Multiple</option>
                  </select>
                        
                        </div>
                        <br>
  
                      </div>
                      <br>
                      <div class="row">

                        <div class="col-lg-6">
                            <label class="control-label">Minimum lisence:</label>
                            <!--Label for minimum license-->
                        </div>
                        <div class="col-lg-6">
                         <!-- validate numbers only -->
                         <input type="decimal" class="form-control" numberOnly formControlName="minimum_license"
                         maxlength="4" name="minimum_license" id="minimum_license" placeholder="Digits Only">
  
                      </div>
                      </div>
                      <br>
                      <div class="row">

                        <div class="col-lg-6">
                            <label class="control-label">Per license Cost:</label>
                            <!--Label for per license cost-->
                        </div>
                        <div class="col-lg-6">
                        <!-- validate numbers only with float-->
                        <input type="float" class="form-control" formControlName="per_license_cost" numberOnly
                        maxlength="4" name="per_license_cost" id="per_license_cost" placeholder="Digits Only" (input)="onlicenseChange($event.target.value)">
  
                      </div>
                      </div>
                      <br>
                      <div class="row">

                        <div class="col-lg-6">
                            <label>Package Discount :</label>
                            <!--Label for package discount-->
                        </div>
                        <div class="col-lg-6">
                          <!-- dropdown for  package discount-->
                          <select formControlName="discount_type" class="form-control"
                          (change)="onChangeofOptions($event.target.value)">
                          <option value="0">no</option>
                          <option value="1">in Value</option>
                          <option value="2">in %</option>
                      </select>
                      <br>
                      <!-- by use onchange get text box -->

                  </div>
                      </div>
                      <br>
                      <div class="row" *ngIf="discount != '0'">

                        <div class="col-lg-6">
                            <label>Discount Amount :</label>
                        </div>
                        <div class="col-lg-6">
                            <div >
                                <input type="number" formControlName="discount_value" class="form-control" numberOnly
                                    name="discount_value" id="discount_value" (input)="onSearchChange($event.target.value)">
                            </div>

                  </div>
                      </div>
                      <br>
                      <div class="row" *ngIf="discount != '0'">

                        <div class="col-lg-6">
                            <label>New cost per license :</label>
                        </div>
                        <div class="col-lg-6">
                            <div >
                                <input type="number" formControlName="discount_amount" class="form-control" numberOnly
                                    name="discount_ammount" id="discount_amount" readonly>
                            </div>

                  </div>
                      </div>
                      <br>
                    <!-- <div class="row" *ngIf="discount != '0'">
                        <div class="control-label col-lg-4">
                            <label>New cost per license :</label>
                            
                        </div>
                        <div class="col-lg-8">
                           
                            <div >
                                <input type="number" formControlName="discount_amount" class="form-control" numberOnly
                                    name="discount_ammount" id="discount_amount" readonly>
                            </div>
                            <br>
                        
                        </div>
                    </div>
                    <br> -->
    
                    <!-- <div class="row">
                        <div class="control-label col-lg-4">
                            <label> Status :</label>
                           
                        </div>
                        <div class="col-lg-8">

                            <select formControlName="status" class="form-control">
                                <option value="" selected="empty" disabled="">select</option>
                                <option value="0">Active</option>
                                <option value="1">Block</option>
    
                            </select>
                        </div>
                    </div> -->
                    <br>
                </div>
    
    
                <div class="modal-footer">
                    <!-- form action begin -->
                    <div class="form-actions">
                        <!-- buttons -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <!--submit also valid-->
                                    <button mat-raised-button color="primary"
                                        class="btn btn-success btn-md kt-font-bold kt-font-transform-u"
                                        [disabled]=!Addcont.valid
                                        data-ktwizard-type="action-submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!--cancel-->
                                    <button type="button" class="btn btn-secondary"
                                        (click)="c('Close click')">Cancel</button>
    
    
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- form action end -->
    
                </div>
            </form>
            <!-- form group end -->
       
    </ng-template>
    
    
    <!-- Edit package modal -->
    <ng-template #content1 let-c="close" let-d="dismiss">
       
            <!-- Title -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Package</h4>
                <!-- close icon -->
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <!-- space for content -->
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- form group [Edcont] begin -->
            <form class="form-horizontal" [formGroup]="Edcont" (ngSubmit)="editform(edit_data)" action="#" id="cust_data"
                method="POST" novalidate="novalidate">
                <div class="modal-body">
    
                    <div class="row">
                        <label class="control-label col-lg-4">Package Type: </label>
                    
                            <!--label for type-->
                      
                        <div class="col-lg-8">
                            <!-- dropdownlist for type -->
                            <select formControlName="package_type_id" class="form-control" name="package_type_id"
                                id="package_type_id">
                                <option *ngFor="let items of package_details" [value]=items.package_id>
                                    {{items.package_name}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="control-label col-lg-4">
                            <!-- label for plan -->
                            <label>Package Plan:</label>
                        </div>
                        <div class="col-lg-8">
                            <!-- dropdown for plan -->
                            <select formControlName="package_plan" class="form-control" name="package_plan"
                                id="package_plan">
                                <option value="" selected="empty" disabled="">Select your package type</option>
                                <option value="Quaterly">Quaterly</option>
                                <option value="Half-yearly">Half-yearly</option>
                                <option value="Annualy"> Annualy</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="control-label col-lg-4">
                            <!-- label for  Organization plan-->
                            <label>Organization Plan:</label>
                        </div>
                        <div class="col-lg-8">
                            <!-- dropdownlist for Organization plan -->
                            <select formControlName="organization_type" class="form-control" name="organization_type"
                                id="organization_type">
                                <option value="" selected="empty" disabled="">Select your package type</option>
                                <option value="1">Single</option>
                                <option value="2">Multiple</option>
    
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="control-label col-lg-4">
                            <!-- label for minimum license -->
                            <label class="control-label">Minimum license:</label>
                        </div>
                        <div class="col-lg-8">
                            <!-- validate numbers only -->
                            <input type="decimal" class="form-control" formControlName="minimum_license" maxlength="4"
                                name="minimum_license" id="minimum_license" placeholder="Digits Only">
    
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="control-label col-lg-4">
                            <!-- label for license cost -->
                            <label class="control-label">Per license Cost:</label>
                        </div>
                        <div class="col-lg-8">
                            <!-- validate numbers only also float-->
                            <input type="float" class="form-control" formControlName="per_license_cost" maxlength="4"
                                name="per_license_cost" id="per_license_cost" placeholder="Digits Only">
    
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="control-label col-lg-4">
                            <label>Package Discount :</label>
                            <!--Label for package discount-->
                        </div>
                        <div class="col-lg-8">
                            <!-- dropdown for  package discount-->
                            <select formControlName="discount_type" class="form-control"
                                (change)="onChangeofOptions($event.target.value)">
                                <option value="0">no</option>
                                <option value="1">in Value</option>
                                <option value="2">in %</option>
                            </select>
                            <br>
                            <!-- by use onchange get text box -->
    
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="discount != '0'">
                        <div class="control-label col-lg-4">
                            <label>Discount Amount :</label>
                        </div>
                        <div class="col-lg-8">
                            <div >
                                <input type="number" formControlName="discount_value" class="form-control" numberOnly
                                    name="discount_value" id="discount_value" (input)="onSearchChange($event.target.value)">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="discount != '0'">
                        <div class="control-label col-lg-4">
                            <label>New cost per license :</label>
                            <!--Label for package discount-->
                        </div>
                        <div class="col-lg-8">
                            <!-- dropdown for  package discount-->
                            <div >
                                <input type="number" formControlName="discount_amount" class="form-control" numberOnly readonly
                                    name="discount_amount" id="discount_amount">
                            </div>
                            <br>
                            <!-- by use onchange get text box -->
    
                        </div>
                    </div>
                    <br>
    
                    <div class="row">
                        <div class="control-label col-lg-4">
                            <!-- label for status -->
                            <label> Status :</label>
                        </div>
                        <div class="col-lg-8">
                            <!-- dropdownlist for status -->
                            <select formControlName="status" class="form-control">
                                <option value="" selected="empty" disabled="">select</option>
                                <option value="1">Active</option>
                                <option value="0">Block</option>
    
                            </select>
                        </div>
                    </div>
                    <br>
                </div>
    
    
                <div class="modal-footer">
                    <!-- form actions begin -->
                    <div class="form-actions">
                        <div class="row">
                            <!-- buttons -->
                            <div class="col-md-12">
                              
                                    <!-- update button for formgroup  -->
                                    <button mat-raised-button color="primary"
                                        class="btn btn-success btn-md kt-font-bold kt-font-transform-u"
                                        [disabled]=!Edcont.valid
                                        data-ktwizard-type="action-submit">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 
                                    
                            </div>
                        </div>
                    </div>
    
                    <!-- form actions end -->
                </div>
            </form>
            <!-- form group end -->
        
    </ng-template>