.width{
    width : 263px;
};
.div {
    border: 1px ;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
   
  }
  // Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when there should be a fixed height on `.modal-dialog`.
    flex: 1 1 auto;
    // padding: $modal-inner-padding;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
          padding-right: 6rem;
  }
