.fa-file-pdf{
    font-size:15px !important;
}
.fa-times-circle{
    font-size:14px;
    color:red;
}
// .close-image{
//     float:right;
//     position:absolute;
//     right: 25px;
//     top: -10px;
// }
// .imagecloses{
//     position:relative;
// }
.image-cropperadd{
    padding:0px;
}
.text-red{
    color:red;
}
.disabledsubmit{
    cursor:not-allowed;
    pointer-events: all !important;
}
#my_video_1{
    //with:640px;
    //height:280px;
    width: 350px;
    height: 180px;
}
#my_video_1:focus{
    outline:none !important;
}
.editImage{
  max-width: 100%;
}
.refereditinline{
    display:inline !important;
}
.table-width{
    width:20%;
}
.table-width3{
    width:30%;
}
.edit_quiz{
    height: 10px;
}
//saranya 15-12-2020 for close button 
.closecolor{
    color:#e7505a;
    opacity:1;
 }
 .image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 50%;
    width: 100%;
    padding: 10px;
    min-height:175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}
.tabnocursor{
    pointer-events: none ;
    opacity: 0.5;
    background: #CCC;
}

.RemoveColor{
    color:#dc3545;
    width:auto;
    position: relative;
    // top: -185px;
    top:-10px;
    right:-5px;
}