<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'MENU.CONTENT' | translate}}">
    <!--heading for portlet-->
  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body>
    <div class="kt-section">
      <div class="kt-section__content">
        <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)">
          <ngb-tab id="tab-preventchange1" title="Upload Content">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-outline-dark custom-btn btn-sm btn-pill  pull-right"
                    (click)="openLarge(add_content)">{{'CONTENT.ADDTRAINING' | translate}}</button>

                </div>
                <div class="col-md-0" style="display:none">

                </div>
              </div>
              <br>
              <div class="row">
                <div class="table-responsive">
                  <table datatable="ng" *ngIf="showTableContent" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">

                    <thead>
                      <!-- columns for  table -->
                      <tr>
                        <th class="table-width kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th style="width:25%;" class="table-width  kt-footer kt-container">{{'CONTENT.TRAINNAME' | translate}}</th>
                        <th style="width:25%;" class="table-width kt-footer kt-container">{{'CONTENT.TRAINTYPE' | translate}}</th>
                        <th style="width:25%;" class="table-width kt-footer kt-container">{{'PRODUCTMASTER.PRO' | translate}}</th>
                        <th style="width:25%;" class="table-width kt-footer kt-container">{{'PRODUCTMASTER.SUBPRO' | translate}}</th>
                        <!-- <th  class="table-width3 kt-footer kt-container max-tables">Content Type</th> -->
                        <th class="table-width kt-footer kt-container max-tables">{{'CONTENT.CONTENT' | translate}}</th>
                        <th class="table-width kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      <!-- values from the api.For loop to populate the datas -->
                      <tr *ngFor="let item of content_details;let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.training_title}} </td>
                        <td>{{item.training_type}} </td>
                        <td>{{item.product.product_name}} </td>
                        <td> {{item.subproduct.product_sub_name}}</td>
                        <!-- <td class="datatable-center"> {{item.training_content_type}}</td> -->
                        <td *ngIf="item.training_content_type == 'Pdf' || item.training_content_type == 'pdf'"
                          class="datatable-center">

                           <a style="cursor: pointer;"
                            (click)="downloadPdf(item.training_title,item.training_content)"><i class="fas fa-file-pdf"
                              aria-hidden="true"></i>
                          </a>
                        </td>
                        <td *ngIf="item.training_content_type == 'word' || item.training_content_type == 'word'"
                        class="datatable-center">

                        <a style="cursor: pointer;"
                          (click)="downloadPdf(item.training_title,item.training_content)"><i class="fas fa-file-word"
                            aria-hidden="true"></i>
                        </a>
                      </td>
                        <td class="datatable-center"
                          *ngIf="item.training_content_type == 'Video' || item.training_content_type == 'video'">
                          <!-- <a (click)="openmodal(VideoView,item.training_content)"> <i class="fas fa-video"
                              aria-hidden="true"></i>
                          </a> -->
                          <a (click)="downloadPdf(item.training_title,item.training_content)"> <i class="fas fa-video"
                              aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="datatable-center">
                          <!-- icons for edit and delete -->
                          <button style="padding:0px" class="btn btn-base" (click)="content_data(item,edit_content)">
                            <i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp;
                          <button style="padding:0px" class="btn btn-base" (click)="detele_trainning(item.training_id)">
                            <i class="fa fa-trash trash"></i></button>

                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange2" title="Assessment Quiz">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-outline-dark custom-btn btn-sm btn-pill  pull-right"
                    (click)="openLarge(add_assessment)">{{'CONTENT.ADDASSESSMENT' | translate}}</button>
                </div>
                <div class="col-md-0" style="display:none">

                </div>
              </div>
              <br>
              <div class="table-responsive">
                <table datatable="ng" [dtOptions]="dtOptions" *ngIf="showtableassessment"
                  class="table table-striped table-bordered table-sm row-border hover datatable">

                  <thead>
                    <!-- columns for  table -->
                    <tr>
                      <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container">{{'CONTENT.ASSESSNAME' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container">{{'CONTENT.ASSESSTYPE' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container">{{'PRODUCTMASTER.PRO' | translate}}</th>
                      <th style="width: 20%;" class="kt -footer kt-container">{{'PRODUCTMASTER.SUBPRO' | translate}}</th>
                      <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                    </tr>
                  </thead>

                  <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of assesment_details;let i=index">
                      <td class="datatable-center">{{i+1}}</td>
                      <td>{{item.assessment_name}} </td>
                      <td>{{item.assessment_type}} </td>
                      <td>{{item.product.product_name}} </td>
                      <td> {{item.subproduct.product_sub_name}}</td>

                      <td class="datatable-center">
                        <!-- icons for edit and delete -->
                        <button style="padding: 0px;" class="btn btn-base"
                          (click)="openeditLarge(edit_assessment,item.assessment_id);getquestions(item.assessment_id);assessment_data(item);">
                          <i class="fas fa-tasks" aria-hidden="true"></i></button>&nbsp;
                        <button style="padding: 0px;" class="btn btn-base"
                          (click)="delete_assessment(item.assessment_id)">
                          <i class="fa fa-trash trash"></i></button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>


  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>

<!--Add content management -->
<ng-template #add_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">	{{'CONTENT.CREATECONTENT' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_body" [formGroup]="Addcontent" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> {{'CONTENT.TITLE' | translate}}: </label>
        </div>
        <div class="col-lg-7">
          <input placeholder="Enter Title" type="text" formControlName="training_title" class="form-control"
            name="training_title" id="training_title" maxlength="48" />
          <div *ngIf="log.training_title.errors && (log.training_title.dirty || log.training_title.touched)"
            class="m-b-10 error">
            <div *ngIf="log.training_title.errors.required" style="color:red">
              {{'CONTENT.TITLE' | translate}}&nbsp;{{'NEW_SUBSCRIPTION.REQ' | translate}}
            </div>
              <div *ngIf="!Addcontent.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Title
              </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> {{'CONTENT.TRAINTYPE' | translate}}: </label>
        </div>

        <div class="col-lg-7">

          <select formControlName="training_type" class="form-control" [(ngModel)]="type">
            <option value="" [selected]="true">{{'CONTENT.SELECTTYPE' | translate}}</option>
            <option value="Generic Training">Generic Training</option>
            <option value="Technology Training">Technology Training</option>
            <option value="Product Training"> Product Training</option>
          </select>
          <!-- error controls -->
          <div *ngIf="log.training_type.errors && (log.training_type.dirty || log.training_type.touched)"
            class="m-b-10 error">
            <div *ngIf="log.training_type.errors.required" style="color:red"> {{'CONTENT.TRAINTYPE' | translate}}&nbsp;{{'NEW_SUBSCRIPTION.REQ' | translate}}</div>


          </div>
        </div>
      </div>
      <br>

      <div *ngIf="type == 'Product Training'">
        <div class="row">
          <div class="col-lg-5">
            <label class="control-label">{{'PRODUCTMASTER.PRO' | translate}}:</label>
          </div>
          <!-- label for country -->

          <div class="col-lg-7">
            <!-- select dropdown from master -->
            <select formControlName="product_id" class="form-control" (change)="onChangeProduct($event.target.value)">
              <option value="null">{{'CONTENT.SELETPRO' | translate}}</option>
              <option *ngFor="let items of product" [value]=items.product_id>
                {{items.product_name}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for country -->
          <div class="col-lg-5">
            <label class="control-label">{{'PRODUCTMASTER.SUBPRO' | translate}}:</label>
          </div>
          <div class="col-lg-7">
            <!-- select dropdown from master -->
            <select formControlName="product_sub_id" class="form-control">
              <option value="null">{{'CONTENT.SELECTSUBPRO' | translate}}</option>
              <option *ngFor="let items of subproduct" [value]=items.product_sub_id>
                {{items.product_sub_name}}</option>
            </select>
          </div>
        </div>
        <br>
      </div>
      <!-- <br> -->
      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label">{{'CONTENT.THUMBIMAGE' | translate}}: </label>
        </div>

        <!-- <div class="col-lg-7"> -->
          <div class="form-group  mb-0 col-lg-7">
            <div class="custom-file mb-3">
                    <input type="hidden" value="" name="file-upload">
                    <input type="file" name="file" accept="image/*"
                            formControlName="training_thumb_image"
                            (change)="fileChangeEvents($event)"
                            class="fileInputProfile" />
                    <label *ngIf="!ByDefault" class="custom-file-label"
                            for="customFile">Choose file</label>
                    <label *ngIf="ByDefault" class="custom-file-label"
                            for="customFile">{{Filename}}</label>
            </div>
            <p style="color: red" *ngIf="message">{{message}}</p>
            <p style="color: red;" *ngIf="load">{{load}}</p>
            <p style="color: red" *ngIf="imageError">{{imageError}}</p>
            <ng-container *ngIf="isImageSaved; else elseTemplate">
                <a class="RemoveColor pull-right"  (click)="removeImages()"
                *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                    <div class="img-space">
                           <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                    </div>
            </ng-container>
  
            <!-- <a class="btn btn-danger">{{'SITE.REMOVE' | translate}}</a> -->
    </div>
      
      </div>
      <br>
      <div class="row">
        <!-- label for organization name -->
        <div class=" col-lg-5">
          <label class="control-label"> {{'CONTENT.TRAINTYPE' | translate}}: </label>
        </div>

        <div class="col-lg-7">
          <select formControlName="training_content_type" class="form-control" (change)="changetype($event)">
            <option value="null">{{'CONTENT.SELECTCONTYPE' | translate}}</option>
            <option value="pdf"> PDF</option>
            <option value="word"> WORD</option>
            <option value="video"> VIDEO</option>
          </select>
          <!-- error controls -->
          <div
            *ngIf="log.training_content_type.errors && (log.training_content_type.dirty || log.training_content_type.touched)"
            class="m-b-10 error">
            <div *ngIf="log.training_content_type.errors.required" style="color:red">
              {{'CONTENT.TRAINTYPE' | translate}}  {{'NEW_SUBSCRIPTION.REQ' | translate}}
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> {{'CONTENT.UPLOADCONTENT' | translate}} : </label>
        </div>
        <div class="col-lg-7">
          <div class="custom-file mb-3">
            <!-- browse logo -->
            <input type="file" class="custom-file-input" (change)="videofileUpload($event)"
              formControlName="training_content" name="com_logo" id="com_logo" />
            <label *ngIf="!ByDefault1" class="custom-file-label" for="customFile">Choose file</label>
            <label *ngIf="ByDefault1" class="custom-file-label" for="customFile">{{videopdf}}</label>
          </div>
          <p style="color: red;">{{error_type}}</p>
          <!-- error controls -->
          <div *ngIf="log.training_content.errors && (log.training_content.dirty || log.training_content.touched)"
            class="m-b-10 error">
            <div *ngIf="log.training_content.errors.required" style="color:red">
              {{'CONTENT.UPLOADCONTENT' | translate}}{{'NEW_SUBSCRIPTION.REQ' | translate}}
            </div>
          </div>
        </div>
      </div>
    </form>
    {{trainning_error}}
  </div>
  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <button (click)="add_content_data(myInput)" [disabled]=!Addcontent.valid
            class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
            data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}
          </button>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--Edit content management -->
<ng-template #edit_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Upload Content</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_body" [formGroup]="EditContent" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> Title: </label>
        </div>
        <div class="col-lg-7">
          <input type="hidden" formControlName="training_id" name="training_id" id="training_id" />
          <input type="hidden" formControlName="training_details_id" name="training_details_id"
            id="training_details_id" />

          <input placeholder="Enter Title" type="text" formControlName="training_title" class="form-control"
            name="training_title" id="training_title" maxlength="48" />
          <!-- error controls -->
          <div *ngIf="logse.training_title.errors && (logse.training_title.dirty || logse.training_title.touched)"
            class="m-b-10 error">
            <div *ngIf="logse.training_title.errors.required" style="color:red">Training Title is
              required</div>
              <div *ngIf="!EditContent.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Title
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> Training Type: </label>
        </div>

        <div class="col-lg-7">
          <select formControlName="training_type" class="form-control" (change)="training_change($event)" >
            <option value="null">Select Training Type</option>
            <option value="Generic Training">Generic Training</option>
            <option value="Technology Training">Technology Training</option>
            <option value="Product Training"> Product Training</option>
          </select>
          <!-- error controls -->
          <div *ngIf="submitted && logse.training_type.errors" class="invalid-feedback">
            <div *ngIf="logse.training_type.errors.required" style="color:red">Training Type is required</div>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="type =='Product Training'">
        <div class="row">
          <div class="col-lg-5">
            <!-- label for country -->
            <label class="control-label">{{'CUSTOMER.PRODUCT' | translate}}:</label>
          </div>
          <div class="col-lg-7">
            <!-- select dropdown from master -->
            <select formControlName="product_id" class="form-control" (change)="onChangeProduct($event.target.value)">
              <option value="null">Select Product</option>
              <option *ngFor="let items of product" [value]=items.product_id>
                {{items.product_name}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for country -->
          <label class="control-label col-lg-5">{{'CUSTOMER.SUBPRODUCT' | translate}}:</label>
          <div class="col-lg-7">
            <!-- select dropdown from master -->
            <select formControlName="product_sub_id" class="form-control">
              <option value="null">Select Sub Product</option>
              <option *ngFor="let items of subproduct" [value]=items.product_sub_id>
                {{items.product_sub_name}}</option>
            </select>
          </div>
        </div>
        <br>
      </div>

      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label">Training Thumb Image: </label>
        </div>
        <div class="form-group col-lg-7">
          <div class="custom-file mb-3">
                  <input type="hidden" value="" name="file-upload">
                  <input type="file" name="file" accept="image/*"
                          formControlName="training_thumb_image"
                          (change)="fileChangeEvents($event)"
                          class="fileInputProfile" />
                  <label *ngIf="!ByDefault" class="custom-file-label"
                          for="customFile">Choose file</label>
                  <label *ngIf="ByDefault" class="custom-file-label"
                          for="customFile">{{Filename}}</label>
          </div>
          <p style="color: red">{{message}}</p>
          <p style="color: red;">{{load}}</p>
          <p style="color: red">{{imageError}}</p>
          <ng-container *ngIf="isImageSaved; else elseTemplate">
              <a class="RemoveColor pull-right"  (click)="removeImages()"
              *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                  <div class="img-space">
                          <img *ngIf="spare_image" [src]="spare_image" />
                          <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                  </div>
          </ng-container>

          <!-- <a class="btn btn-danger">Remove</a> -->
  </div>
        <!-- <div class="col-lg-7">
          <div class="custom-file">
         
            <input type="file" class="custom-file-input" id="file-upload" (change)="imagefileUpload($event)"
              formControlName="training_thumb_image" name="com_logo" id="com_logo" />
            <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
            <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
          </div>
          <p style="color: red;">{{message}}</p>
          <p class="mb-0" style="color: red;">{{load}}</p>
       
          <image-cropper class="image-cropperadd" *ngIf="cropped_img==true" id="img_crop"
            [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2 / 1"
            [resizeToWidth]="220" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
          </image-cropper>
       
          <div>
            <button *ngIf="buttonmainedit" type="submit" class="close closecolor danger" (click)="imageClear()">
              <span>&times;</span>
            </button>
            <img class="editImage" [src]="imageChangedEvent" />
          </div>

          <div
            *ngIf="logse.training_thumb_image.errors && (logse.training_thumb_image.dirty || logse.training_thumb_image.touched)"
            class="m-b-10 error">
            <div *ngIf="logse.training_thumb_image.errors.required" style="color:red"> Thumb image is
              required</div>
          </div>

        </div> -->
      </div>
      <br>
      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> Content Type: </label>
        </div>

        <div class="col-lg-7">
          <select formControlName="training_content_type" class="form-control" (change)="changetype_edit($event)">
            <option value="" selected="empty" disabled="">Select Content Type</option>
            <option value="pdf"> PDF</option>
            <option value="word"> WORD</option>
            <option value="video"> VIDEO</option>
          </select>
          <div
            *ngIf="logse.training_content_type.errors && (logse.training_content_type.dirty || logse.training_content_type.touched)"
            class="m-b-10 error">
            <div *ngIf="logse.training_content_type.errors.required" style="color:red">Content type is
              required</div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <!-- label for organization name -->
        <div class="col-lg-5">
          <label class="control-label"> Upload Content: </label>
        </div>
        <div class="col-lg-7">
          <div class="custom-file mb-3">
       
            <input type="file" class="custom-file-input" id="file-upload1" (change)="videofileUpload($event)"
              formControlName="training_content" name="com_logo1" id="com_logo1" />
            <label *ngIf="!ByDefault1" class="custom-file-label" for="customFile">Choose file</label>
            <label *ngIf="ByDefault1" class="custom-file-label" for="customFile">{{videopdf}}</label>
          </div>
          <p style="color: blue;">{{correct}}</p>
          <p style="color: red;">{{error_types}}</p>
        
          <div *ngIf="submitted && logse.training_content.errors" class="invalid-feedback">
            <div *ngIf="logse.training_content.errors.required" style="color:red">Content is required</div>
          </div>
        </div>
     
      </div>
    </form>
    {{trainning_error}}
  </div>
  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit" (click)="editcontent()"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}"
            [disabled]="EditContent.invalid"  data-ktwizard-type="action-submit">Submit
          </button>

        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--Add assessment management -->
<ng-template #add_assessment let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Assessment Quiz</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_body" [formGroup]="AddAsessment" novalidate=""
      class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="row">
        <div class="col-lg-5">
          <label class="control-label"> Assessment Name: </label>
        </div>
        <div class="col-lg-7">
          <input placeholder="Enter Assessment" type="text" formControlName="assessment_name" class="form-control"
            maxlength="48" />
          <!-- error controls -->
          <div *ngIf="logs.assessment_name.errors && (logs.assessment_name.dirty || logs.assessment_name.touched)"
            class="m-b-10 error">
            <div *ngIf="logs.assessment_name.errors.required" style="color:red">Assessment Name is
              required</div>
              <div *ngIf="!AddAsessment.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Assessment Name
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-5">
          <label class="control-label"> Assessment Type: </label>
        </div>
        <div class="col-lg-7">
          <select formControlName="assessment_type" class="form-control" [(ngModel)]="add_assess">
            <option value="" [selected]="true" disabled="">Select Training Type</option>
            <option value="Generic Assessment">Generic Assessment</option>
            <option value="Technology Assessment">Technology Assessment</option>
            <option value="Product Assessment"> Product Assessment</option>
          </select>

          <!-- error controls -->
          <div *ngIf="logs.assessment_type.errors && (logs.assessment_type.dirty || logs.assessment_type.touched)"
            class="m-b-10 error">
            <div *ngIf="logs.assessment_type.errors.required" style="color:red">Assessment Type is
              required</div>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="add_assess=='Product Assessment'">
        <div class="row ">
          <label class="control-label col-lg-5">{{'CUSTOMER.PRODUCT' | translate}}:</label>
          <div class="col-lg-7">
            <select formControlName="product_id" class="form-control " (change)="onChangeProduct($event.target.value)">
              <option value="null">Select Product</option>
              <option *ngFor="let items of product" [value]=items.product_id>
                {{items.product_name}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-5">
            <label class="control-label">{{'CUSTOMER.SUBPRODUCT' | translate}}:</label>
          </div>
          <div class="col-lg-7">
            <!-- select dropdown from master -->
            <select formControlName="product_sub_id" class="form-control">
              <option value="null">Select Product</option>
              <option *ngFor="let items of subproduct" [value]=items.product_sub_id>
                {{items.product_sub_name}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <button (click)="create_asessment()" [disabled]="!AddAsessment.valid"
            class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingCrt}"
            data-ktwizard-type="action-submit">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #edit_assessment let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <h4 class="modal-title">Edit Assessment Quiz</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-section mb-0">
      <ngb-tabset [justify]="currentJustify" activeId="{{activeId}}"  #tab>
       
        <ngb-tab id="tab-selectbyida" title="Quiz" [disabled]="cursor=='false'">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-12 mb-3" style="padding-right: 21px">
                <button class="btn ml-2 btn-outline-dark btn-sm custom-btn pull-right btn-pill"
                  (click)="openLarge(add_quiz)">Add Quiz</button>
                <button class="btn  btn-outline-dark btn-sm custom-btn pull-right btn-pill"
                  (click)="openLarge(bulkassessment)">{{'USER.BULKUP' | translate}}
                </button>

              </div>
              <div class="col-md-0" style="display:none">

              </div>
            </div>
            <div class="table-responsive">
              <table *ngIf="showquestion" datatable="ng" [dtOptions]="dtOptions1"
                class="table table-striped table-bordered table-sm row-border dt-responsive hover datatable">

                <thead>
                  <!-- columns for  table -->
                  <tr>
                    <th class="kt-footer kt-container max-tables">S.No</th>
                    <th style="width: 33%;" class="kt-footer kt-container ">Question</th>
                    <th style="width: 13%;" class="kt-footer kt-container ">Option A</th>
                    <th style="width: 13%;" class="kt-footer kt-container ">Option B</th>
                    <th style="width: 13%;" class="kt-footer kt-container ">Option C</th>
                    <th style="width: 13%;" class="kt-footer kt-container ">Option D</th>
                    <th style="width: 16%;" class="kt-footer kt-container ">Correct Ans</th>
                    <th class="kt-footer kt-container max-tables">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <!-- values from the api.For loop to populate the datas -->
                  <tr *ngFor="let item of questions;let i=index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>{{item.quation}} </td>
                    <td>{{item.option_a}} </td>
                    <td> {{item.option_b}}</td>
                    <td> {{item.option_c}}</td>
                    <td> {{item.option_d}}</td>
                    <td> {{item.correct_answer}}</td>
                    <td width="100" class="datatable-center">
                      <!-- icons for edit and delete -->
                      <button style="padding:0px;" class='btn   btn-base'
                        (click)="openLarge(edit_quiz);editquestion(item)">
                        <i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp;
                      <button style="padding:0px;" class='btn   btn-base' (click)="delete_question(item.quation_id)">
                        <i class="fa fa-trash trash"></i></button>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <br>
            <p style="color: red;" *ngIf="warning">{{warning}}</p>
            <div class="text-center">
              <button type="button" [disabled]="!blocknext"
                class="btn btn-outline-info btn-sm btn-pill custom-btn disabledsubmit" data-ktwizard-type="action-next"
                (click)="tab.select('tab-selectbyidb')">{{'NEW_SUBSCRIPTION.NEXT_STEP' |
                translate}}</button>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyidb" title="Assessment Edit" class="tabnocursor">
          <ng-template ngbTabContent>
            <!-- form group for user -->
            <form id="form_body" [formGroup]="Editassessment" novalidate=""
              class="custom-forms ng-untouched ng-pristine ng-valid">
              <!--  -->
              <div class="row">
                <!-- label for organization name -->
                <div class="col-md-6">
                  <div class="row">
                    <label class="control-label col-md-5 col-sm-5"> Assessment Name: </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" formControlName="assessment_name" class="form-control" maxlength="48"
                        readonly />
                      <!-- error controls -->
                      <div
                        *ngIf="edit.assessment_name.errors && (edit.assessment_name.dirty || edit.assessment_name.touched)"
                        class="m-b-10 error">
                        <div *ngIf="edit.assessment_name.errors.required" style="color:red">Assessment Name is required
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <!-- label for organization name -->
                    <label class="control-label col-md-5 col-sm-5 "> Assessment Type: </label>
                    <div class="col-sm-5 col-md-7">
                      <input type="text" formControlName="assessment_type" class="form-control" readonly />
                      <!-- error controls -->
                      <div
                        *ngIf="edit.assessment_type.errors && (edit.assessment_type.dirty || edit.assessment_type.touched)"
                        class="m-b-10 error">

                        <div *ngIf="edit.assessment_type.errors.required" style="color:red">Assessment Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div *ngIf="are == 'Product Assessment'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <!-- label for country -->
                      <label class="control-label col-md-5 col-sm-5">{{'CUSTOMER.PRODUCT' | translate}}:</label>
                      <div class="col-sm-5 col-md-7">
                        <select formControlName="product_id" class="form-control"
                          (change)="onChangeProduct($event.target.value)" (click)="onmousedown();onblur()"
                          (change)="onchange()">
                          <option value="" selected="empty" disabled="">Select Product</option>
                          <option *ngFor="let items of product" [value]=items.product_id>
                            {{items.product_name}}
                          </option>
                        </select>

                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-6">
                    <div class="row">
                      <!-- label for country -->
                      <label class="control-label col-md-5 col-sm-5">{{'CUSTOMER.SUBPRODUCT' | translate}}:</label>
                      <div class="col-sm-5 col-md-7">
                        <!-- select dropdown from master -->
                        <select formControlName="product_sub_id" class="form-control">
                          <option value="" selected="empty" disabled="">Select Subproduct</option>
                          <option *ngFor="let items of subproduct" [value]=items.product_sub_id>
                            {{items.product_sub_name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <!-- label for organization name -->
                    <label class="control-label col-md-5 col-sm-5"> Questions to Assessment: </label>
                    <div class="col-sm-5 col-md-7">
                      <select class="form-control" formControlName="quation_to_assessment" name="quation_to_assessment"
                        id="quation_to_assessment" (change)="getThreshold()">
                        <option value="">Select Question to Assessment</option>
                        <option *ngFor="let items of question_assessment; let i=index" value={{i+1}}>{{i+1}}
                        </option>
                      </select>
                      <div
                        *ngIf="edit.quation_to_assessment.errors && (edit.quation_to_assessment.dirty || edit.quation_to_assessment.touched)"
                        class="m-b-10 error">
                        <div *ngIf="edit.quation_to_assessment.errors.required" style="color:red">Assessment is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <!-- label for organization name -->
                    <label class="control-label col-md-5 col-sm-5"> Threshold: </label>
                    <div class="col-sm-5 col-md-7">
                      <select class="form-control" formControlName="threshold" name="threshold" id="threshold">
                        <option value="">Select Threshold</option>
                        <option *ngFor="let items of threshold; let i=index" value={{i+1}}>{{i+1}}
                        </option>
                      </select>
                      <div *ngIf="edit.threshold.errors && (edit.threshold.dirty || edit.threshold.touched)"
                        class="m-b-10 error">
                        <div *ngIf="edit.threshold.errors.required" style="color:red">Threshold is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{response_message}}
              <br>

              <div class="kt-form-actions">
                <div class="row">
                  <div class="col-md-12">

                    <div class="text-center">
                      <button class="btn btn-outline-info  btn-pill btn-sm custom-btn" data-ktwizard-type="action-prev"
                        (click)="tab.select('tab-selectbyida')">
                        {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                      </button>
                      <button class="btn btn-outline-success  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
                        data-ktwizard-type="action-submit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSave}"
                        (click)="editassessment(myInput);tab.select('tab-selectbyidc')"
                        [disabled]="!Editassessment.valid">{{'NEW_SUBSCRIPTION.SNEXT_STEP' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Refer Assessment" id="tab-selectbyidc" class="tabnocursor"> 
          <ng-template ngbTabContent>
            <form [formGroup]="ReferAssess" novalidate>
              <div class="row">
                <div *ngFor="let items of reference; let i=index" class="col-md-4">
                  <label>
                    <div class="refereditinline "
                      *ngIf="checkboxFunction(items.training_details_id)!=items.training_details_id">
                      <input name="training_details_id" type="checkbox" [value]="items.training_details_id"
                        [checked]="false" (change)="onCheckboxChange($event,$event.target.checked)" />
                    </div>
                    <div class="refereditinline "
                      *ngIf="checkboxFunction(items.training_details_id)==items.training_details_id">
                      <input name="training_details_id" type="checkbox" [value]="items.training_details_id"
                        [checked]="true" (change)="onCheckboxChange($event,$event.target.checked)" />
                    </div>
                    <span class="ml-2">{{items.training_title}}</span>
                  </label>
                </div>
              </div>

              <div class="text-center ">
                <button class="btn btn-outline-info  btn-pill btn-sm custom-btn" data-ktwizard-type="action-prev"
                  (click)="tab.select('tab-selectbyidb')">
                  {{'NEW_SUBSCRIPTION.PREVIOUS' | translate}}
                </button>
                <button class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
                  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingRef}"
                  [disabled]="!ReferAssess.valid" (click)="submitForm()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                <!-- <input class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
                  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingRef}"
                  [disabled]="!ReferAssess.valid" (click)="submitForm()" > -->
              </div>
            </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</ng-template>

<!-- Dialog for bulk upload for quiz-->
<ng-template #bulkassessment let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'USER.BULKUP' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-5 nopadding">
        <a class="btn purple-sharp btn-circle btn-outline sample-temp"
        style="margin-left: -10px !important;"
        href="assets/sample_templates/Assesment_questions.xlsx">{{'PRODUCTMASTER.SAMPLE' |
        translate}}
</a>
        
      </div>
      <div class="col-sm-7 nopadding">
        <div class="custom-file mb-3">
          <input type="hidden" value="" name="file-upload">
          <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)" name="filename" />
          <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
          <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
          <p style="color: red;">{{error}}</p>
        </div>
      </div>
      <div style="color: red;" *ngFor="let number of bulk;  let i=index">
        {{i+1}}. {{number}}

    </div>
      <div class="col-sm-9" style="display:none;">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new" id="span-button">{{'PRODUCTMASTER.SELECT' | translate}} </span>
              <input type="hidden" value="" name="file-upload">
              <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)" /> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red  btn-pill btn-sm custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-outline-success  btn-pill btn-sm custom-btn disabledsubmit"
      (click)="filesubmit(myInput)">{{'USER.UPLOAD' | translate}}</button>
  </div>
</ng-template>

<!--Add  quiz -->
<ng-template #add_quiz let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Quiz</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_body" [formGroup]="AddQuiz" (ngSubmit)="create_quiz(myInput)" novalidate=""
      class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="row" style="display:none">
        <input type="text" class="form-control" name="hidden_assessment_id" formControlName="assessment_id"
          id="hidden_assessment_id">
      </div>
      <div class="row">
        <!-- <label class="control-label col-lg-4"> Question : </label> -->
        <div class="col-lg-6">
          <input placeholder="Enter Question" type="text" formControlName="quation" class="form-control">
          <div *ngIf="logq.quation.errors && (logq.quation.dirty || logq.quation.touched)" class="m-b-10 error mt-3">
            <div *ngIf="logq.quation.errors.required" style="color:red">Question is
              required</div>
              <div *ngIf="!AddQuiz.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Question
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <input placeholder="Enter Option A" type="text" formControlName="option_a" class="form-control"
            (change)="matchValidators($event.target.value)">
          <p style="color:red" *ngIf="fieldMatch3== true">These fields match</p>
          <p style="color:red">{{fieldMatch3}}</p>
          <div *ngIf="logq.option_a.errors && (logq.option_a.dirty || logq.option_a.touched)" class="m-b-10 error">
            <div *ngIf="logq.option_a.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!AddQuiz.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option A
              </div>
          </div>
        </div>
      </div>
      <br>
      <!-- <br> -->
      <div class="row">
        <!-- <label class="control-label col-lg-4"> Option B : </label> -->
        <div class="col-lg-6">
          <input placeholder="Enter Option B" type="text" formControlName="option_b" class="form-control"
            (change)="matchValidator($event.target.value)">
          <p style="color:red" *ngIf="fieldMatch== true">These fields match</p>
          <p style="color:red">{{fieldMatch}}</p>
          <div *ngIf="logq.option_b.errors && (logq.option_b.dirty || logq.option_b.touched)" class="m-b-10 error">
            <div *ngIf="logq.option_b.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!AddQuiz.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option B
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <input placeholder="Enter Option C" type="text" formControlName="option_c" class="form-control"
            (change)="matchValidator1($event.target.value)">
          <p style="color:red" *ngIf="fieldMatch1== true">These fields match</p>
          <p style="color:red">{{fieldMatch1}}</p>
          <div *ngIf="logq.option_c.errors && (logq.option_c.dirty || logq.option_c.touched)" class="m-b-10 error">
            <div *ngIf="logq.option_c.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!AddQuiz.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option C
              </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <!-- <label class="control-label col-lg-4"> Option D : </label> -->
        <div class="col-lg-6">
          <input placeholder="Enter Option D" type="text" formControlName="option_d" class="form-control"
            (change)="matchValidator2($event.target.value)">
          <p style="color:red" *ngIf="fieldMatch2== true">These fields match</p>
          <p style="color:red">{{fieldMatch2}}</p>
          <div *ngIf="logq.option_d.errors && (logq.option_d.dirty || logq.option_d.touched)" class="m-b-10 error">
            <div *ngIf="logq.option_d.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!AddQuiz.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option D
              </div>
          </div>
        </div>
        <div class="col-lg-6">

          <select class="form-control" formControlName="correct_answer">
            <option value="" [selected]="true">Select Option</option>
            <option value="{{AddQuiz.value.option_a}}">{{AddQuiz.value.option_a}}</option>
            <option value="{{AddQuiz.value.option_b}}">{{AddQuiz.value.option_b}}</option>
            <option value="{{AddQuiz.value.option_c}}">{{AddQuiz.value.option_c}}</option>
            <option value="{{AddQuiz.value.option_d}}">{{AddQuiz.value.option_d}}</option>
          </select>
          <div *ngIf="logq.correct_answer.errors && (logq.correct_answer.dirty || logq.correct_answer.touched)"
            class="m-b-10 error mt-3">
            <div *ngIf="logq.correct_answer.errors.required" style="color:red">Answer is
              required</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <button (click)="create_quiz(myInput)" [disabled]="!AddQuiz.valid"
              class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
              data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #edit_quiz let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Quiz</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_body" [formGroup]="EditQuestion" novalidate=""
      class="custom-forms ng-untouched ng-pristine ng-valid">
      <div class="col-lg-8" style="display:none;">
        <input type="text" formControlName="assessment_id" class="form-control">
      </div>
      <div class="row">
        <!-- <label class="control-label col-lg-4"> Question: </label> -->
        <div class="col-lg-6">
          <input type="text" formControlName="quation" class="form-control" placeholder="Enter the Question">
          <div *ngIf="editq.quation.errors && (editq.quation.dirty || editq.quation.touched)" class="m-b-10 error mt-3">
            <div *ngIf="editq.quation.errors.required" style="color:red">Question is
              required</div>
              <div *ngIf="!EditQuestion.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Question
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <input type="text" formControlName="option_a" class="form-control" placeholder="Option A"
            (change)="matchValidators($event.target.value)">
          <p style="color:red" *ngIf="fieldMatch3== true">These fields match</p>
          <p style="color:red">{{fieldMatch3}}</p>
          <div *ngIf="editq.option_a.errors && (editq.option_a.dirty || editq.option_a.touched)" class="m-b-10 error">
            <div *ngIf="editq.option_a.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!EditQuestion.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option A
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <!-- <label class="control-label col-lg-4"> Option B: </label> -->
        <div class="col-lg-6">
          <input type="text" formControlName="option_b" class="form-control" placeholder="Option B"
            (change)="matchValidator($event.target.value)">

          <p style="color:red" *ngIf="fieldMatch== true">These fields match</p>
          <p style="color:red">{{fieldMatch}}</p>
          <div *ngIf="editq.option_b.errors && (editq.option_b.dirty || editq.option_b.touched)" class="m-b-10 error">
            <div *ngIf="editq.option_b.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!EditQuestion.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option B
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <input type="text" formControlName="option_c" class="form-control" placeholder="Option C"
            (change)="matchValidator1($event.target.value)">
          <p style="color:red" *ngIf="fieldMatch1== true">These fields match</p>
          <p style="color:red">{{fieldMatch1}}</p>
          <div *ngIf="editq.option_c.errors && (editq.option_c.dirty || editq.option_c.touched)" class="m-b-10 error">
            <div *ngIf="editq.option_c.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!EditQuestion.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option C
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <!-- <label class="control-label col-lg-4"> Option D: </label> -->
        <div class="col-lg-6">
          <input type="text" formControlName="option_d" class="form-control" placeholder="Option D"
            (change)="matchValidator2($event.target.value)">

          <p style="color:red" *ngIf="fieldMatch2== true">These fields match</p>
          <p style="color:red">{{fieldMatch2}}</p>
          <div *ngIf="editq.option_d.errors && (editq.option_d.dirty || editq.option_d.touched)" class="m-b-10 error">
            <div *ngIf="editq.option_d.errors.required" style="color:red">Option is
              required</div>
              <div *ngIf="!EditQuestion.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                Option D
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <select class="form-control" formControlName="correct_answer">
            <option value="">Select Option</option>
            <option value="{{EditQuestion.value.option_a}}">{{EditQuestion.value.option_a}}</option>
            <option value="{{EditQuestion.value.option_b}}">{{EditQuestion.value.option_b}}</option>
            <option value="{{EditQuestion.value.option_c}}">{{EditQuestion.value.option_c}}</option>
            <option value="{{EditQuestion.value.option_d}}">{{EditQuestion.value.option_d}}</option>
          </select>
          <div *ngIf="editq.correct_answer.errors && (editq.correct_answer.dirty || editq.correct_answer.touched)"
            class="m-b-10 error mt-3">
            <div *ngIf="editq.correct_answer.errors.required" style="color:red">Answer is
              required</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="kt-form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <!-- button for cancel -->
            <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
              (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <!-- button for submit -->
            <button class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
              [disabled]="!EditQuestion.valid" data-ktwizard-type="action-submit" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
              (click)="edit_question(edit_assessment)">{{'NEW_SUBSCRIPTION.SUB' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>
<ng-template #VideoView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'KNBS.VIVW' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <video id="my_video_1" loop muted autoplay oncanplay="this.play()" class="video-js vjs-default-skin" controls
        preload="none" data-setup='{"playbackRates": [1, 1.5, 2] }'>
        <source src={{httplink}}{{image_or_video}} type='video/mp4' />


      </video>
    </div>
  </div>
</ng-template>