td{
    text-align: center;
}
.average{
    width: 47%;
    float: left;
    margin-top: 0 !important;
}
.para{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.para_1{
    font-weight: 600;
    font-size: 15px;
}
.para_2{
    font-weight: 600;
    font-size: 15px;
    margin-left: -17%;
    text-align: center;
}
.left_move{
    float: left;
    color: red;
}
.right_move{
    float: right;
    color: red;
}
.disabledsubmit{
    cursor: not-allowed;
}