<kt-portlet [class]="'kt-portlet--height-fluid'">
	<kt-portlet-header title="{{'PERFOM.TITLE' | translate}}">
		<!--heading for portlet-->

	</kt-portlet-header>
	<!-- begin body for portlet-->
	<kt-portlet-body>


		<!-- <div class="kt-separator kt-separator"></div> -->
		<!-- <div class="container" style="margin-top: 2%"> -->
		<div class="kt-section__content">
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">

						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
				<div class="table-responsive">

					<table *ngIf="showTable" class="table table-striped table-bordered table-sm row-border hover">
						<thead>
							<tr style="text-align:center">
								<th style="text-align:center" colspan="4">{{'PERFOM.TECHL'| translate}}</th>
								<th style="text-align:center" colspan="4">{{'PERFOM.LEV1' | translate}}</th>
								<th style="text-align:center" colspan="4">{{'PERFOM.LEV2' | translate}}</th>
								<th style="text-align:center" colspan="4">{{'PERFOM.LEV3' | translate}}</th>
								<th style="text-align:center" colspan="4">{{'PERFOM.LEV4' | translate}}</th>

							</tr>
							<tr>
								<th style="text-align:center" colspan="4">{{'PERFOM.TERMS' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.TARGET' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.REWARD' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.TARGET' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.REWARD' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.TARGET' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.REWARD' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.TARGET' | translate}}</th>
								<th style="text-align:center" colspan="2">{{'PERFOM.REWARD' | translate}}</th>
							</tr>
						</thead>
						<tr>
							<th colspan="4">{{'PERFOM.AVGCALL' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2">{{item.average_calls_target}}</td>
								<td colspan="2">{{item.average_calls_reward}}</td>
							</ng-container>

						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.FIRST' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2"> {{item.first_time_target}}</td>
								<td colspan="2">{{item.first_time_reward}}</td>
							</ng-container>

						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.SERVICE' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2"> {{item.contract_revenue_target}}</td>
								<td colspan="2"> {{item.contract_revenue_reward}} </td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.CUSTOMER' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2">{{item.customer_rating_target}} </td>
								<td colspan="2"> {{item.customer_rating_reward}} </td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.CONTRIBUTION' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2">{{item.contribution_to_kb_target}} </td>
								<td colspan="2"> {{item.contribution_to_kb_reward}}</td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.TRAINING' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2"> {{item.training_certification_target}} </td>
								<td colspan="2">{{item.training_certification_target}}</td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.SLAADHERE' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2">{{item.sla_adher_target}}</td>
								<td colspan="2">{{item.sla_adher_reward}}</td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.CUSTOMERFEED' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2">{{item.cust_feed_target}} </td>
								<td colspan="2">{{item.cust_feed_reward}}</td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'PERFOM.MTTR' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="2">{{item.mttr_target}} </td>
								<td colspan="2">{{item.mttr_reward}} </td>
							</ng-container>
						</tr>
						<tr>
							<th colspan="4">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
							<ng-container *ngFor="let item of performance_matrix_data; let i = index">
								<td colspan="4">
									<span>
										<button class="btn btn-circle blue btn-outline btn-icon-only" id="L1"
											(click)="openLarge(editConfig);getPerformanceConfig(item.technician_level)"><i
												class="fa fa-edit"></i>
										</button>
									</span>
								</td>

							</ng-container>
						</tr>
						<!-- <tr>
												  <td colspan="7">one</td>
												  <td>two</td>
												</tr>
												<tr>
												  <td rowspan="3">dffffffffg</td>
												  <td>child1</td>
												  <td colspan="3">child2</td>
												  <td>child3</td>
												  <td colspan="2">child4</td>
												</tr>
												<tr>
												  <td rowspan="2">ffffff</td>
												  <td rowspan="2">f</td>
												  <td>dfdfg</td>
												  <td>dfgdfg</td>
												  <td>dfgdfg</td>
												  <td colspan="2">test2</td>
												</tr>
												<tr>
												  <td>test2</td>
												  <td>test2</td>
												  <td>test25</td>
												  <td colspan="2">zsgfgdfg</td>
												</tr> -->
					</table>


					<!--sumitha table for performance matrix-->
					<!-- <table class="table table-hover table-bordered sample_2">
                                        <thead>
											<tr style="text-align:center">
												<th style="text-align:center">{{'PERFOM.TECHL' | translate}}</th>
												<th style="text-align:center" colspan="2">{{'PERFOM.LEV1' | translate}}</th>
												<th style="text-align:center" colspan="2">{{'PERFOM.LEV2' | translate}}</th>
												<th style="text-align:center" colspan="2">{{'PERFOM.LEV3' | translate}}</th>
												<th style="text-align:center" colspan="2">{{'PERFOM.LEV4' | translate}}</th>
												
											</tr>
											<tr>
											<th style="text-align:center">{{'PERFOM.TERMS' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.TARGET' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.REWARD' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.TARGET' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.REWARD' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.TARGET' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.REWARD' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.TARGET' | translate}}</th>
											<th style="text-align:center">{{'PERFOM.REWARD' | translate}}</th>
											</tr>
                                        </thead>
                                        <tbody >	
                                        	<tr>
												<th>{{'PERFOM.AVGCALL' | translate}}</th>
												<div style="width: 1000px;float:left;">
												<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.average_calls_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.average_calls_reward}}										
													</td>
												</div>
												</div>
												</tr>
                                           <tr>
												<th>{{'PERFOM.FIRST' | translate}}</th>
													<div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
														<td style="width: 138px;text-align:center;height: 55px;">
														{{item.first_time_target}}										
														</td>
														<td style="width: 138px;text-align:center;height: 55px;">
														{{item.first_time_reward}}										
														</td>
													</div>
													</div>
                                            </tr>
                                             <tr>
												<th>{{'PERFOM.SERVICE' | translate}}</th>
												<div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 95px;">
													{{item.contract_revenue_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 95px;">
													{{item.contract_revenue_reward}}										
													</td>
												</div>
												</div>
																					
                                             </tr>
                                             <tr>
												<th>{{'PERFOM.CUSTOMER' | translate}}</th>
												<div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.customer_rating_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.customer_rating_reward}}										
													</td>
												</div>
												</div>
																							
                                           </tr>
										   <tr>
											 <th>{{'PERFOM.CONTRIBUTION' | translate}}</th>
											 <div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.contribution_to_kb_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.contribution_to_kb_reward}}										
													</td>
												</div>
												</div>

                                             </tr>
                                             <tr>
                                                <th>{{'PERFOM.TRAINING' | translate}}</th>
                                                <div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 75px;">
													{{item.training_certification_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 75px;">
													{{item.training_certification_target}}										
													</td>
												</div>
												</div>
																							
                                             </tr>
                                             <tr>
												<th>{{'PERFOM.SLAADHERE' | translate}}</th>
												 <div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 75px;">
													{{item.sla_adher_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 75px;">
													{{item.sla_adher_reward}}										
													</td>
												</div>
												</div>																									
										  </tr>
										    <tr>
												<th>{{'PERFOM.CUSTOMERFEED' | translate}}</th>
												 <div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.cust_feed_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 55px;">
													{{item.cust_feed_reward}}										
													</td>
												</div>
												</div>														
										  </tr>
											 <tr>
												<th>{{'PERFOM.MTTR' | translate}}</th>
												 <div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 138px;text-align:center;height: 75px;">
													{{item.mttr_target}}										
													</td>
													<td style="width: 138px;text-align:center;height: 75px;">
													{{item.mttr_reward}}										
													</td>
												</div>
												</div>												
										  </tr>
										   <tr>
											<th>{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
											 <div style="width: 1000px;float:left;">
													<div *ngFor="let item of performance_matrix_data; let i = index" style="float: left;  width: 248px;height: 55px;">
													<td style="width: 400px;text-align:center;height: 55px;">
											 		 <span>
												 		<button class="btn btn-circle blue btn-outline btn-icon-only" id="L1" (click)="openLarge(editConfig);getPerformanceConfig(item.technician_level)"><i class="fa fa-edit"></i></button>  
                            						</span>
										    		</td>									
												</div>
												</div>	
											
											
											</tr>
								     </tbody>
								   </table> -->
				</div>
			</div>
		</div>
		<!-- </div> -->
		<ng-template #editConfig let-c="close" let-d="dismiss">
			<div class="modal-header">
				<!-- title for renew -->
				<h4 class="modal-title">{{'PERFOM.EDIT_TARGET' | translate}}</h4>
				<!-- icon for close -->
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" [formGroup]="performanceMatrix">
					<div class="form-group col-md-6 col-sm-12" style="display:none;">
						<label class="control-label col-md-5">id
							<span class="required" aria-required="true"> * </span>
						</label>
						<div class="col-md-7">
							<input type="text" class="form-control form-control1" id="id1">
						</div>
					</div>
					<!-- Row created for Title -->
					<div class="form-group row mb-0">
						<div class="col-lg-6 ">
							<p class=" para_1 ">Performance Matrix</p>
						</div>
						<div class="col-lg-3 ">
							<p class="para text-left">Target</p>
						</div>
						<div class="col-lg-3 ">
							<p class=" para_2 text-left">Reward</p>
						</div>
					</div>
					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.AVGCALL' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control average" formControlName="average_calls_target" type="number"
								min="0">
							<input class="form-control ml-2 average" type="number" min="0"
								formControlName="average_calls_reward">
							<div *ngIf="log.average_calls_target.errors && (log.average_calls_target.dirty || log.average_calls_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.average_calls_target.errors.required">
									{{'PERFOM.TARGET' | translate}} {{'USER.REQ' | translate}}
								</div>
							</div>
							<div *ngIf="log.average_calls_reward.errors && (log.average_calls_reward.dirty || log.average_calls_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.average_calls_target.errors.required">
									{{'PERFOM.REWARD' | translate}} {{'USER.REQ' | translate}}</div>
							</div>
							<input class="form-control" type="hidden" min="0" formControlName="technician_level">
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.FIRST' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0" max="2"
								formControlName="first_time_target">
							<input class="form-control ml-2 average" type="number" min="0" max="2"
								formControlName="first_time_reward">
							<div *ngIf="log.first_time_target.errors && (log.first_time_target.dirty || log.first_time_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.first_time_target.errors.required">
									{{'PERFOM.TARGET' | translate}} {{'USER.REQ' | translate}}</div>
								<div *ngIf="log.first_time_target.errors.maxlength">Target
									Upto 100%</div>
							</div>
							<div *ngIf="log.first_time_reward.errors && (log.first_time_reward.dirty || log.first_time_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.first_time_target.errors.required">
									{{'PERFOM.REWARD' | translate}} {{'USER.REQ' | translate}}</div>
								<div *ngIf="log.first_time_target.errors.maxlength">Reward
									Upto 100%
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1" style="display:none;">
						<label class="col-md-6 control-label">{{'PERFOM.CUSTOMERFEED' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0"
								formControlName="cust_feed_target">
							<input class="form-control ml-2 average" type="number" min="0"
								formControlName="cust_feed_reward">
							<div *ngIf="log.cust_feed_target.errors && (log.cust_feed_target.dirty || log.cust_feed_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.cust_feed_target.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.cust_feed_reward.errors && (log.cust_feed_reward.dirty || log.cust_feed_reward.touched)"
								class="m-b-10 error mr-2 left_move">
								<div *ngIf="log.cust_feed_reward.errors.required">Reward
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.SERVICE' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0"
								formControlName="contract_revenue_target">
							<input class="form-control ml-2 average" type="number" min="0"
								formControlName="contract_revenue_reward">
							<div *ngIf="log.contract_revenue_target.errors && (log.contract_revenue_target.dirty || log.contract_revenue_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.contract_revenue_target.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.contract_revenue_reward.errors && (log.contract_revenue_reward.dirty || log.contract_revenue_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.contract_revenue_reward.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.CUSTOMER' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0"
								formControlName="customer_rating_target">
							<input class="form-control ml-2 average" min="1" max="10" type="number"
								formControlName="customer_rating_reward">
							<div *ngIf="log.customer_rating_target.errors && (log.customer_rating_target.dirty || log.customer_rating_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.contract_revenue_reward.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.customer_rating_reward.errors && (log.customer_rating_reward.dirty || log.customer_rating_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.contract_revenue_reward.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.CONTRIBUTION' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0"
								formControlName="contribution_to_kb_target">
							<input class="form-control ml-2 average" min="0" type="number"
								formControlName="contribution_to_kb_reward">
							<div *ngIf="log.contribution_to_kb_target.errors && (log.contribution_to_kb_target.dirty || log.contribution_to_kb_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.contribution_to_kb_target.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.contribution_to_kb_reward.errors && (log.contribution_to_kb_reward.dirty || log.contribution_to_kb_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.contribution_to_kb_reward.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.TRAINING' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0"
								formControlName="training_certification_target">
							<input class="form-control ml-2 average" type="number" min="0"
								formControlName="training_certification_reward">
							<div *ngIf="log.training_certification_target.errors && (log.training_certification_target.dirty || log.training_certification_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.training_certification_target.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.training_certification_reward.errors && (log.training_certification_reward.dirty || log.training_certification_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.training_certification_reward.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.SLAADHERE' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0"
								formControlName="sla_adher_target">
							<input class="form-control ml-2 average" type="number" min="0"
								formControlName="sla_adher_reward">
							<div *ngIf="log.sla_adher_target.errors && (log.sla_adher_target.dirty || log.sla_adher_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.sla_adher_target.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.sla_adher_reward.errors && (log.sla_adher_reward.dirty || log.sla_adher_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.sla_adher_reward.errors.required">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.CUSTOMERFEED' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0" max="2"
								formControlName="cust_feed_target">
							<input class="form-control ml-2 average" type="number" min="0" max="2"
								formControlName="cust_feed_reward">
							<div *ngIf="log.cust_feed_target.errors && (log.cust_feed_target.dirty || log.cust_feed_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.cust_feed_target.errors.required" style="color:red">Target
									Upto 100%</div>
							</div>
							<div *ngIf="log.cust_feed_reward.errors && (log.cust_feed_reward.dirty || log.cust_feed_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.cust_feed_reward.errors.required" style="color:red">Reward
									Upto 100%</div>
							</div>
						</div>
					</div>
					<div class="form-group row mb-1">
						<label class="col-md-6 control-label">{{'PERFOM.MTTR' | translate}} :</label>
						<div class="col-md-6">
							<input class="form-control  average" type="number" min="0" formControlName="mttr_target">

							<input class="form-control ml-2 average" type="number" min="0"
								formControlName="mttr_reward">
							<div *ngIf="log.mttr_target.errors && (log.mttr_target.dirty || log.mttr_target.touched)"
								class="m-b-10 error left_move">
								<div *ngIf="log.mttr_target.errors.required" style="color:red">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
							<div *ngIf="log.mttr_reward.errors && (log.mttr_reward.dirty || log.mttr_reward.touched)"
								class="m-b-10 error mr-2 right_move">
								<div *ngIf="log.mttr_reward.errors.required" style="color:red">
									{{'PERFOM.FIELDS' | translate}}
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="form-group row"> -->
		
					<!-- </div>
				</div> -->
					<!-- </div> -->

				</form>

			</div>

			<div class="modal-footer">
					<!-- <div class="row">
				<div class="col-md-12"> -->
					<div class="text-center">
						<button (click)="updateConfig()" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
						[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
							[disabled]=!performanceMatrix.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
					</div>

				</div>
		</ng-template>

	</kt-portlet-body>
	<!-- end body for portlet-->
</kt-portlet>