.btn-profile {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    // padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}
.para{
  color: gray;
  font-weight: 600;
  font-size: 14px;
  // margin-left: 4px;
  margin: 0px;
  text-align: center;
  text-transform:capitalize;
  }
.disabledsubmit{
    cursor: not-allowed;
  }
  .display_hide{
    display:none;
  }
  .userImage{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .profile_image{
    width:120px;
    height:120px;
  }
  //view popup text color
 .txt_clr{
  color: black;
}