<!-- <form id="form_body" [formGroup]="AddUser" (ngSubmit)="submit()" novalidate=""
            class="ng-untouched ng-pristine ng-valid">
            <div class="kt-section__content"> -->
<!-- <ngb-tabset [justify]="currentJustify" (tabChange)="fetchNews($event)" [activeId]="activeIdString" #tab> -->
<!-- tab for company information -->
<!-- <ngb-tab title="	{{'NEW_SUBSCRIPTION.COMPANY_INFO' | translate}}" id="tab-selectbyid1">
                  <ng-template ngbTabContent> -->

<!-- <div class="row"> -->
<!-- label for organization name -->
<!-- <label class="control-label col-lg-4"> {{'USER.EMPCODE' | translate}}: </label>
                      <div class="col-lg-8">
                        <input type="text" formControlName="employee_code" class="form-control" name="employee_code"
                          id="employee_code" maxlength="48" />
                        <! error controls -->
<!-- <div *ngIf="log.employee_code.errors && (log.employee_code.dirty || log.employee_code.touched)"
                          class="m-b-10 error">
                          <div *ngIf="log.employee_code.errors.required" style="color:red">
                            {{'USER.EMPCODE' | translate}} {{'USER.REQ' | translate}} </div>


                        </div>
                      </div>
                    </div>
                    </ng-template>
                    </ngb-tab>
                    </ngb-tabset>
                    </div>
                    </form> -->
<!-- <form [formGroup]="AddUser"> -->
<!-- <div class="row">
                            <label class="control-label col-lg-3"> {{'USER.EMPCODE' | translate}}: </label>
                            <div class="col-lg-8">
                            <input type="text" formControlName="employee_code" class="form-control" name="employee_code"
                              id="employee_code" maxlength="48" />
                        </div>
                        </div> -->
<!-- <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname"><br><br> -->
                        <div class="modal-body">
                          <kt-portlet [class]="'kt-portlet--height-fluid'">
                            <!-- begin body for portlet-->
                            <kt-portlet-header class="col-lg-12" title="{{'USER.TITLE_PRO' | translate}}">
                        
                            </kt-portlet-header>
                            <kt-portlet-body>
                              <div class="kt-section">
                                <!-- profile image added -->
                                <div class="row">
                                  <div class="col-lg-3 userImage">
                                    <img src="./assets/images/userimg.png" class="img-responsive profile_image" alt="">
                                    <!-- <br> -->
                                    <!-- Name aligned center by Sowndarya -->
                                    <div class="col-lg-6">
                                      <p class="para  mt-3">{{name}}</p>
                                    </div>
                                  </div>
                                  <div class="col-lg-9">
                                    <form id="form_body" [formGroup]="AddUser" class="ng-untouched ng-pristine ng-valid">
                        
                                      <div class="row">
                                        <div class="col-lg-1">
                                        </div>
                                        <div class="col-lg-3">
                                          <label class="control-label ">{{'USER.EMPCODE' | translate}} :</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <input type="text" formControlName="employee_id" class="form-control" name="employee_code"
                                            placeholder="Enter Employee Code" id="employee_code" maxlength="48" disabled />
                                          <!-- error controls -->
                                          <div *ngIf="log.employee_id.errors && (log.employee_id.dirty || log.employee_id.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.employee_id.errors.required" style="color:red">{{'USER.EMPCODE' | translate}}
                                              {{'USER.REQ' | translate}} </div>
                                          </div>
                        
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                        <div class="col-lg-1">
                        
                                        </div>
                                        <div class="col-lg-3">
                                          <label class="control-label ">{{'USER.FULLNAME' | translate}} :</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <input type="text" formControlName="full_name" class="form-control" name="full_name" id="full_name"
                                            maxlength="48" placeholder="Enter Full Name" />
                                          <!-- error controls -->
                                          <div *ngIf="log.full_name.errors && (log.full_name.dirty || log.full_name.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.full_name.errors.required" style="color:red">{{'USER.FULLNAME' | translate}}
                                              {{'USER.REQ' | translate}} </div>
                                              <div *ngIf="!AddUser.hasError('whitespace')" style="color:red">
                                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                                {{'USER.FULLNAME' | translate}}
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                        <div class="col-lg-1">
                        
                                        </div>
                                        <div class="col-lg-3">
                                          <label class="control-label ">{{'USER.ROLE' | translate}} :</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <input type="text"  class="form-control" name="role_name" id="role_name"
                                        disabled value={{rode_name}} />
                                       
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                        <div class="col-lg-1">
                        
                                        </div>
                                        <div class="col-lg-3">
                                          <label class="control-label ">{{'USER.CONNUMBER' | translate}} :</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <input type="text" (keypress)="numberOnly($event)"
                                            placeholder="Enter Contact Number" formControlName="contact_number" class="form-control"
                                            name="cont_num" id="cont_num" maxlength="10" />
                                          <!-- error controls -->
                                          <div *ngIf="log.contact_number.errors && (log.contact_number.dirty || log.contact_number.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.contact_number.errors.required" style="color:red">{{'USER.CONNUMBER' | translate}}
                                              {{'USER.REQ' | translate}} </div>
                                            <div *ngIf="log.contact_number.errors.pattern" style="color:red">{{'USER.CONNUMBER' | translate}}
                                              {{'USER.ACPT_NO' | translate}} </div>
                                          </div>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                        <div class="col-lg-1">
                        
                                        </div>
                                        <div class="col-lg-3">
                                          <label class="control-label ">{{'USER.CONALTNUMBER' | translate}} :</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <input type="text" (keypress)="numberOnly($event)"
                                            placeholder="Enter Alternate Number" formControlName="alternate_contact_number" class="form-control"
                                            name="alt_number" id="alt_number" maxlength="10" />
                                          <!-- error controls -->
                                          <div
                                            *ngIf="log.alternate_contact_number.errors && (log.alternate_contact_number.dirty || log.alternate_contact_number.touched)"
                                            class="m-b-10 error">
                                            <div *ngIf="log.alternate_contact_number.errors.required" style="color:red">
                                              {{'USER.CONALTNUMBER' | translate}}
                                              {{'USER.REQ' | translate}} </div>
                                            <div *ngIf="log.alternate_contact_number.errors.pattern" style="color:red">
                                              {{'USER.CONALTNUMBER' | translate}}
                                              {{'USER.ACPT_NO' | translate}} </div>
                                          </div>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                        <div class="col-lg-1">
                        
                                        </div>
                                        <div class="col-lg-3">
                                          <label class="control-label ">{{'NEW_SUBSCRIPTION.EMAIL' | translate}} :</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <input type="text" formControlName="email_id" class="form-control" name="email_id" id="email_id"
                                            maxlength="48" placeholder="Enter Email" />
                                          <!-- error controls -->
                                          <div *ngIf="log.email_id.errors && (log.email_id.dirty || log.email_id.touched)" class="m-b-10 error">
                                            <div *ngIf="log.email_id.errors.required" style="color:red">{{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                                              {{'USER.REQ' | translate}} </div>
                                              <div *ngIf="log.email_id.errors.pattern" style="color:red">{{ 'AUTH.VALIDATION.VALID_ADDRESS' | translate }}
                                              </div>
                                              
                                          </div>
                                          <p style="color: red;">{{profile}}</p>
                                        </div>
                                      </div>
                        <br>
                        <div class="row" *ngIf="servicedesk_view=='true'">
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-3">
                            <label class="control-label ">Service Desk Type</label>
                          </div>
                          <div class="col-lg-8">
                           
                            <input type="text" class="form-control" name="country"
                            placeholder= {{servicedesk_type}} disabled />
                            
          
                          </div>
                          <br>
                        </div>
                        <br>
                        <div class="row" *ngIf="segment_view=='true'">
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-3">
                            <label class="control-label ">Allocated Segment :</label>
                          </div>
                          <div class="col-lg-8 txt_clr">
                            <textarea class="form-control" rows="6" resize="none" cols="50" readonly>
                              {{segment}}
                            </textarea>
                          </div>
                        </div>
                        <br>
                        <div class="row" *ngIf="country_view=='true'">
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-3">
                            <label class="control-label ">Assign Country :</label>
                          </div>
                          <div class="col-lg-8">
                            <input type="text" class="form-control" name="country"
                              placeholder={{country}} disabled />
                            
          
                          </div>
                        </div>
                        <br>
                     
                        <div class="row" *ngIf="state_view=='true'">
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-3">
                            <label class="control-label ">Assign State :</label>
                          </div>
                          <div class="col-lg-8 txt_clr">
                            <textarea class="form-control" rows="6" resize="none" cols="50" readonly>
                              {{state}}
                            </textarea>
                            <!-- {{state}} -->
                          </div>
                        </div>
                        <br>
                        <div class="row" *ngIf="city_view=='true'">
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-3">
                            <label class="control-label ">Assign City :</label>
                          </div>
                          <div class="col-lg-8 txt_clr">
                            <textarea class="form-control" rows="6" resize="none" cols="50" readonly>
                              {{city}}
                            </textarea></div>
                        </div>
                        <br>
                        <div class="row" *ngIf="town_view=='true'">
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-3">
                            <label class="control-label ">Assign Town :</label>
                          </div>
                          <div  class="col-lg-8 txt_clr">
                            <textarea class="form-control" rows="6" resize="none" cols="50" readonly>
                              {{town}}
                            </textarea>
                            </div>
                        </div>
                                      <!-- <div *ngIf="show">
                                      <div *ngFor="let item of user">
                                         <a (click)="onchangeuser(item.profile_pic)">
                                            <div class="col-lg-8"> -->
                                      <!-- display logo -->
                                      <!-- <img [src]="'http://'+item.profile_pic"
                                                  height="150px" (click)="show"> -->
                                      <!-- <img [src]="croppedImage" /> -->
                                      <!-- </div>
                                         </a></div></div> -->
                                      <!-- <div class="kt-notification__item-details">
                                  <div class="kt-notification__item-title kt-font-bold">
                                  <span class="kt-nav__link-text" (click)=editprofile()>savechanges</span>
                                  </div>
                                </div> -->
                     
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <br>
                              <div class="text-center">
                                <!-- Change password Button  -->
                                <button (click)="openModal(changepasswords);getpass()" (click)="onReset()"
                                  class="btn btn-outline-primary  btn-pill btn-sm custom-btn">Change
                                  Password</button>
                                <button class="btn btn-outline-success btn-pill btn-sm custom-btn ml-2 disabledsubmit"
                                  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSave}"
                                  [disabled]="!AddUser.valid" (click)="editprofile()">Save
                                  Changes</button>
                                <!-- <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSave}"
                                  [disabled]="!AddUser.valid" class="btn btn-outline-success  btn-pill btn-sm custom-btn ml-2 disabledsubmit"
                                  (click)="editprofile()">Save Changes</button> -->
                              </div>
                            </kt-portlet-body>
                          </kt-portlet>
                        </div>
                        <!-- change password -->
                        <ng-template #changepasswords let-c="close" let-d="dismiss">
                          <div class="modal-header">
                            <!-- title for modal -->
                            <h4 class="modal-title">Change Password</h4>
                            <!-- icon for close -->
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <!--modal-body begin  -->
                        
                        
                          <div class="modal-body">
                        
                            <form [formGroup]="changepassword" class="ng-untouched ng-pristine ng-valid">
                        
                              <div class="row display_hide">
                                <label class="control-label col-lg-5 ">{{'NEW_SUBSCRIPTION.EMAIL' | translate}} :</label>
                                <div class="col-lg-7">
                                  <input type="text" formControlName="email" value="email" class="form-control " id="email" name="email"
                                    readonly />
                        
                                </div>
                              </div>
                              <!-- <br> -->
                              <div class="row display_hide ">
                                <label class="control-label col-lg-5">{{'USER.ROLE' | translate}} :</label>
                                <div class="col-lg-7">
                                  <input type="text" formControlName="role_name" value="roleid" class="form-control" name="role_name"
                                    readonly />
                        
                                </div>
                              </div>
                              <!-- <br> -->
                              <div class="row">
                                <div class="control-label col-lg-5">
                                  <label>Old Password :</label>
                                </div>
                                <div class="input-group col-lg-7">
                                  <input [type]="fieldOldPassword ? 'text' : 'password'" id="password-field" type="password"
                                    placeholder="Enter Old password" formControlName="old_password" type="password" class="form-control"
                                    name="old_password" value="">
                        
                                  <!-- password Toggle added-->
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldOldPassword,
                                        'fa-eye': fieldOldPassword
                                      }" class="fa fa-eye-slash" (click)="toggleFieldOldPassword()"></i>
                                    </span>
                        
                                  </div>
                                  <p style="color: red;">{{web_error}}</p>
                                  <!-- error controls -->
                                  <div *ngIf="change.old_password.errors && (change.old_password.dirty || change.old_password.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="change.old_password.errors.required" style="color:red">Old Password
                                      {{'USER.REQ' | translate}} </div>
                                      <div class="w-100" *ngIf="change.old_password.errors.minlength" style="color:red">{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 6</div>
                                      <div *ngIf="!changepassword.hasError('whitespace')" style="color:red">
                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                        Old Password
                                      </div>
                                    </div>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="control-label col-lg-5">
                                  <label>New Password :</label>
                                </div>
                                <div class="input-group col-lg-7">
                                  <input [type]="fieldNewPassword ? 'text' : 'password'" id="password-field" type="password"
                                    placeholder="Enter New password" formControlName="new_password" type="password" class="form-control"
                                    name="new_password" value="">
                                  <!-- password Toggle added-->
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldNewPassword,
                                        'fa-eye': fieldNewPassword
                                      }" class="fa fa-eye-slash" (click)="toggleFieldNewPassword()"></i>
                                    </span>
                                  </div>
                              
                                  <!-- error controls -->
                                  <div *ngIf="change.new_password.errors && (change.new_password.dirty || change.new_password.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="change.new_password.errors.required" style="color:red">New Password
                                      {{'USER.REQ' | translate}} </div>
                                    <div  class="w-100" *ngIf="change.new_password.errors.minlength" style="color:red">{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 6</div>
                                    <div *ngIf="!changepassword.hasError('whitespace')" style="color:red">
                                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                      New Password
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="control-label col-lg-5">
                                  <label>Confirm Password :</label>
                                </div>
                                <div class="input-group col-lg-7">
                                  <input [type]="fieldTextType ? 'text' : 'password'" id="password-field" type="password"
                                    placeholder="Enter Confirm password" formControlName="confirm_password" type="password" class="form-control"
                                    name="confirm_password" value="" (keyup)="passwordValidation();">
                        
                                  <!-- password Toggle added-->
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }" class="fa fa-eye-slash" (click)="toggleFieldTextType()"></i>
                                    </span>
                                    <!-- error controls -->
                        
                                  </div>
                                  <p style="color:red">{{PassMessage}}</p>
                                  <div
                                    *ngIf="change.confirm_password.errors && (change.confirm_password.dirty || change.confirm_password.touched)"
                                    class="m-b-10 error">
                                    <div *ngIf="change.confirm_password.errors.required" style="color:red">Confirm Password
                                      {{'USER.REQ' | translate}} </div>
                                      <div *ngIf="!changepassword.hasError('whitespace')" style="color:red">
                                        {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                        Confirm Password
                                      </div>
                                  </div>
                                </div>
                                </div>
                              <br>
                              <div class="modal-footer ">
                                <button class="btn btn-outline-success btn-pill btn-sm custom-btn pull-right disabledsubmit " type="button"
                                  [disabled]="changepassword.invalid"
                                  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
                                  (click)="change_password()">Submit</button>
                              </div>
                            </form>
                          </div>
                        </ng-template>