.modal-content {
    border: solid;
}

.multiselect-dropdown[_ngcontent-gah-c13] {
    width: 300px !important;
}

.second {
    margin-left: 7%;
}

h2 {
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #ddd !important;
}

.radio {
    margin-left: 5px;
}

.btn btn-base {
    text-align: center;
}

.center {
    text-align: center;
}

.inputerrormsg {
    margin-left: 0px;
    width: 50%;
    margin-right: 0px;
}

.ContractExpired {
    color: red !important;
    font-weight: bold;
}

.disabledsubmit {
    cursor: not-allowed;
    pointer-events: all !important;
}

.tablewidth {
    width: 15%;
}

.right_side {
    float: right !important;
}

.rightt_side {
    margin-left: 53rem !important;
}

.closecolor {
    color: #e7505a;
    opacity: 1;
}

.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 50%;
    width: 50%;
    padding: 10px;
    min-height: 175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}

.fileInputProfile[disabled]+.img-space {
    pointer-events: none;
    cursor: not-allowed!important;
}

.btnmagrintop {
    margin-top: -3px;
}

.single_line {
    float: left;
}

.centericon {
    display: flex;
    align-items: center;
}

.twentywidth {
    width: 20%;
}

.RemoveColor {
    color: #dc3545;
    width: 50%;
    position: relative;
    top: -185px;
}

.selectwidth {
    text-align: center;
    width: 150px !important;
}

.addmodalcenter .control-label {
    display: flex;
    align-items: center;
}

.centeredlabel {
    display: flex;
    align-items: center;
}

#problem_desc {
    resize: none;
}

.mat-radio-button {
    color: black;
}

.loading-area {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loading-area .spinner-border {
    // left: 48% !important;
    position: relative;
}

.example-month-picker .mat-calendar-period-button {
    display: none;
      // pointer-events: none;
    }  
  .example-month-picker .mat-calendar-arrow {
      display: none;
    }
  .disabledsubmit{
      cursor: not-allowed;
  }
  // .mat-calendar-controls .mat-calendar-period-button {
  //   display: none;
  // }
  
  mat-year-view .mat-calendar-body-label{
    display: none !important;
  }
  .main-filter{
      width: calc(100% + 46px);
      background: #f7f7f7;
      margin: -23px 0 0 -23px;
      padding: 10px 20px;
      position: relative;
      .filter-icon{
        position: absolute;
        z-index: 99;
        top: -35px;
        right: 11px;}
    .col-md-4{margin-bottom: 0px;
      .control-label{width:30%;float: left;line-height:35px;}
      .filter-input-area{width:70%;float: left;}
      .multiselect-dropdown{background: #fff;color: red !important;
    }
    }
    .col-md-2{margin-bottom: 20px;
      .control-label{width:100%;margin-bottom:5px;display: block;}
      .multiselect-dropdown{background: #fff;}
      .filter-input-area{width:70%;float: left;}
    }
    
   
  }
 
  .tckt_msg{
    margin-left: 29%;
   font-size: 15px;
   color:#000000;
    }