.align_left{
    text-align:left;
}
.align_right{
    text-align:right;
}
.body_part{
    border:1px solid #3598dc;
    background-color:#3598dc;
    color: #fff;
}
.body_port{
    background-color: #e7505a;
    border: 1px solid #e7505a;
    color: #fff;
}
.txt_clr{
    color:black;
}