<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title=" {{'MENU.CSAT' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <kt-portlet-body>

        <div class="tab-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12 body_part p-4">

                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="text-center">
                                <h4><u>TARGET</u></h4>
                            </div>

                            <div class="desc" id="sla_complaince">
                                <div class="row">
                                    <div class="col-lg-8"> SLA Compliance % :</div>
                                    <div data-counter="counterup" class="col-lg-4" data-value="slatarget">
                                        {{target}}
                                    </div>
                                </div>
                            </div>
                            <div class="desc " id="cust_feed">
                                <div class="row">
                                    <div class="col-lg-8"> Average C-SAT Feedback
                                        Obtained % :
                                    </div>
                                    <div data-counter="counterup" class="col-lg-4" data-value="0">
                                        0
                                    </div>
                                </div>
                            </div>
                            <div class="desc " id="cust_rate">
                                <div class="row">
                                    <div class="col-lg-8"> Average C-SAT Rating % :</div>
                                    <div class="col-lg-4" data-counter="counterup" data-value="0">
                                        0
                                    </div>
                                </div>
                            </div>
                            <div class="desc " style="text-align:left" id=""></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6" ml-2>
                    <div class="col-lg-12 body_port p-4">

                        <div class="visual">
                        </div>
                        <div class="details">
                            <div class="text-center">
                                <h4><u>ACTUAL</u></h4>
                            </div>
                            <div class="desc" id="sla_complaince1">
                                <div class="row">
                                    <div class="col-lg-8"> SLA Compliance % :</div>
                                    <div data-counter="counterup" class="col-lg-4" data-value="actual">
                                        {{actual}}
                                    </div>
                                </div>
                            </div>
                            <div class="desc " id="cust_feed1">
                                <div class="row">
                                    <div class="col-lg-8"> Average C-SAT Feedback Obtained % :
                                    </div>
                                    <div class="col-lg-4" data-counter="counterup" data-value="0">
                                        0
                                    </div>
                                </div>
                            </div>
                            <div class="desc " id="cust_rate1">
                                <div class="row">
                                    <div class="col-lg-8"> Average C-SAT Rating % :</div>
                                    <div class="col-lg-4" data-counter="counterup" data-value="0">
                                        0
                                    </div>
                                </div>
                            </div>
                            <div class="desc " style="text-align:left" id=""></div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                [formGroup]="Location">
                <div class="row">

                    <div class="col-md-2">
                        <div class="input-group date">
                            <input type="text" class="form-control" formControlName="from_date" [(ngModel)]="from"
                                placeholder="{{'TRAININGSCORE.FROMDATE' | translate}}" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                    <i class="la la-calendar"></i>
                                </button>
                            </div>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group date">
                            <input type="text" class="form-control" formControlName="to_date" [(ngModel)]="to"
                                placeholder="{{'TRAININGSCORE.TODATE' | translate}}" ngbDatepicker #e="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                    <i class="la la-calendar"></i>
                                </button>
                            </div>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <select formControlName="product_id" class="form-control" #product>
                            <option selected="empty" value="">ALL Products</option>
                            <option *ngFor="let product of products" value="{{product.product_id}}">
                                {{product.product_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select formControlName="location_id" class="form-control" name="location_id">
                            <option selected="empty" value="">ALL Towns</option>
                            <option *ngFor="let location of locations" value="{{location.location_id}}">
                                {{location.location_name}}</option>
                        </select>

                    </div>
                    <div class="col-md-2">
                        <button color="primary" (click)="date()"
                            class="btn btn-sm btn-outline-success ml-2 btn-pill btn-md custom-btn"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                            data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}

                        </button>
                    </div>
                </div>
            </form>

            <br>
            <div class="kt-section__content">
                <div></div>
                <!-- <div class="table-responsive"> -->
                <table *ngIf="showTableSat" datatable="ng" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <!-- columns for  table -->
                        <tr>


                            <th style="width: 15%;" class="kt-footer kt-container max-tables">
                                {{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}
                            </th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'MANAGECONT.CUSID' | translate}}
                            </th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'RAISETCKT.TICKET_ID'|translate}}</th>
                            <th style="width: 15%;" class="kt-footer kt-container">
                                {{'NEWTCKT.TCH_ID' | translate}}
                            </th>

                            <!-- <th style="width: 17%;" class="kt-footer kt-container">
                                {{'COMPLETEDTICKETS.CUSTOMERFEEDBACK' | translate}}
                            </th> -->
                            <th style="width: 17%;" class="kt-footer kt-container datatable-center">
                                {{'PERFOM.CUSTOMER' | translate}}
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sla_feed; let i = index">
                            <td class="datatable-center">{{i+1}}</td>
                            <td>{{item.customer_code}}</td>
                            <td>
                                <a class="button" data-placement="bottom" ngbTooltip="View Details"
                                    (click)="ticketDetails(item.ticket_id,ticket_details)">
                                    {{item.ticket_id}}
                                </a>

                            </td>
                            <td> <a class="button" data-placement="bottom" ngbTooltip="View Details"
                                    (click)="get_technician_details(item.ticket_id,item.technician_id,view_techniciandetails)">{{item.technician_id}}</a>
                            </td>
                            <!-- <td *ngIf="item.cust_feedback == null">null</td>
                            <td *ngIf="item.cust_feedback == ''">{{item.cust_feedback}}</td> -->


                            <td class="datatable-center">{{item.cust_rating}}
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
        </div>

    </kt-portlet-body>
</kt-portlet>
<ng-template #ticket_details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.TICKETDETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'RAISETCKT.TICKET_ID' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.ticket_id}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputPassword3">{{'CUSTOMER.CUSID' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.customer_code}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'CUSTOMER.CONNAME' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;text-transform: capitalize;">
                    {{ticket_data.customer_name}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'NEWTCKT.LOC' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;"> {{ticket_data.location}}</div>
            </div>

            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'RAISETCKT.PRIORITY' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.priority}}</div>
            </div>
            <div class="form-group"><label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputEmail3">{{'RAISETCKT.CONTRACT_TYPE' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.contract_type}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'SPARE.MODEL' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.model}}</div>
            </div>
            <div class="form-group">
                <label style="text-align: right;font-weight: bold;" class="col-sm-5 control-label"
                    for="inputPassword3">{{'MANAGECONT.SERIALNO' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{ticket_data.serial_no}}</div>
            </div>

        </form>
    </div>
</ng-template>
<!-- view_ticketdetails -->
<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <!-- <div class="row">
          <div class="col-lg-6">
          <label>{{'REIM.TECHID' | translate}}:</label></div>
          <div class="col-lg-6">{{technicians_details.technician_id}}</div>
        </div>
        <br> -->


            <div class="row form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'NEWTCKT.TCH_NAME' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.full_name}}</div>
            </div>


            <div class="row form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.contact_number}}</div>
            </div>

            <!-- <div class="row form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'NEWTCKT.LOC' | translate}}:</label>
                <div class="col-sm-7 control-label" style="float: right;">{{technicians_details.location}}</div>
            </div> -->

            <div class="row form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'NEWTCKT.SK_LVL' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.skill_level}}</div>
            </div>

            <div class="row form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'NEWTCKT.TSK_CNT' | translate}}:</label>
                <div class="col-sm-7 txt_clr" style="float: right;">{{technicians_details.task_count}}</div>
            </div>

            <div class="row form-group">
                <label class="col-sm-5 control-label" style="text-align: right;font-weight: bold;"
                    for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
                <!-- <div class="col-sm-7 control-label" style="float: right;"> -->
                    <div class="txt_clr" *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
                        <div class="txt_clr" *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div>   
            
            <!-- </div> -->
            </div>
        </form>
    </div>
</ng-template>