<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="Complaints Age wise Report">


    </kt-portlet-header>
    <kt-portlet-body>


        <div>

            <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
        </div>
      <br>
      <div class="general-container">
        <div class="general-container-header">
            <h2>Grapical View</h2>
            <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)='export()'>Chart Export</button>
        </div>
        <!-- <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
          (click)='export()'>Export</button> -->
        <br>
        <div  class="general-container-body">
        <ejs-chart [title]='title' #chartid id="chart-container" [primaryXAxis]="primaryXAxis"
          [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'>
          <e-series-collection>
            <e-series [dataSource]="chartData1" type="Column" xName="State" yName="0-2" name="0-2"
            fill='coral' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData1" type="Column" xName="State" yName="4-6" name="4-6"
            fill='yellow' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData1" type="Column" xName="State" yName="6-8" name="6-8"
            fill='red' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData1" type="Column" xName="State" yName="8-15" name="8-15"
            fill='blue' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData1" type="Column" xName="State" yName="Above15" name="Above 15"
            fill='cornflowerblue' [marker]='marker'>
            </e-series>
            <!-- <e-series [dataSource]="chartData1" type="Line" xName="Month" yName="PreTotal_Calls" name="Selected Year"
              fill='coral' [marker]='marker'>
            </e-series>
            <e-series [dataSource]="chartData1" type="Line" xName="Month" yName="CurTotal_Calls1" name="Previous Year"
            fill='green' [marker]='marker'>
            </e-series> -->
  
  
          </e-series-collection>
        </ejs-chart>
      </div>
      </div>
    <br>
    <br>
	<!-- <div> -->
	<!-- <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"  (click)='export_table()'>Table Export</button> -->
	<div class="general-container">
    <div class="general-container-header">
        <h2>Grid View</h2>
        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='exportToExcel()'>Table Export</button>
        <!-- <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)="openLarge(viewtable)">Modal</button> -->
    </div>
<br>

  <br>
	<!-- </div> -->
       
        <br>
        <div class="general-container-body">
      <div class="table-responsive" #epltable>
      	 <table id="datatables"  class="table table-striped table-bordered table-sm row-border hover datatable">
            <thead>
            	<tr>
            		<th style="width: 20%;" class="tablewidth kt-footer kt-container"> State</th>
            		<th style="width: 10%;" class="tablewidth kt-footer kt-container"> 0 To 2 (Days)</th>
            		<th style="width: 10%;" class="tablewidth kt-footer kt-container"> 4 To 6 (Days)</th>
            		<th style="width: 10%;" class="tablewidth kt-footer kt-container"> 6 To 8 (Days)</th>
            		<th style="width: 10%;" class="tablewidth kt-footer kt-container"> 8 To 15 (Days)</th>
            		<th style="width: 10%;" class="tablewidth kt-footer kt-container"> Above 15 Days</th>
            		<th style="width: 10%;" class="tablewidth kt-footer kt-container"> Grand Total  </th>
            		

            		</tr>

            </thead>    
        </table>
      </div>
    </div>
  </div>
  </kt-portlet-body>
</kt-portlet>