<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="PERFORMANCE REPORT">
        </kt-portlet-header>
        <kt-portlet-body>
            <div>
                <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
            </div>
            <br>
            <div class="general-container">
                <div class="general-container-header">
                    <h2>Grid View</h2>
                    <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='exportToExcel()'>Table Export</button>
                    <!-- <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)="openLarge(viewtable)">Modal</button> -->
                </div>
            <br>
            <br>
            <div  class="general-container-body">
                <div class="table-responsive" >
                    <table id="datatables" datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <tr>
                            <th style="width: 130px;" class="tablewidth kt-footer kt-container">S.No</th>
                            <th style="width: 140px;"class="tablewidth kt-footer kt-container">Customer ID</th>
                            <th style="width: 150px;" class="tablewidth kt-footer kt-container">Customer Name</th>
                            <th style="width: 140px;" class="tablewidth kt-footer kt-container">Site ID</th>
                            <th style="width: 160px;" class="tablewidth kt-footer kt-container">Email ID</th>
                            <th style="width: 140px;" class="tablewidth kt-footer kt-container">Phone</th>
                            <th style="width: 170px;" class="tablewidth kt-footer kt-container">Customer Contract Details</th>
                            <th style="width: 170px;" class="tablewidth kt-footer kt-container">Performance Certificate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of performance_data; let i = index">
                        
                            <td class="datatable-center">{{i+1}}

                            </td>
                            <td>
                                {{items.CustomerCode}}
                            </td>
                            <td>
                                {{items.Customername}}
                            </td>
                            <td>
                                {{items.SiteId}}
                            </td>
                            <td>
                                {{items.EmailId}}
                            </td>
                            <td>
                                {{items.Customernumber}}
                            </td>
                            <td class="datatable-center"> 
                                <a class="button" (click)="openLarge(viewtable,items.CustomerCode,items.SiteId)">View</a> 
                               
                                
                            </td>
                            <td class="datatable-center">
                                <!-- {{items.PerformCertificate}} -->
                                <!-- <a *ngIf="items.PerformCertificate!=''|| items.PerformCertificate!='Null' || items.PerformCertificate!=None  || items.PerformCertificate!=undefined || items.PerformCertificate!='null'; else elseBlock" class="button"  (click)="downloadimage(items.PerformCertificate)">Download
                                </a> 
                                <ng-template #elseBlock> -
                                </ng-template> -->
                                <a *ngIf="items.PerformCertificate==''|| items.PerformCertificate=='Null' || items.PerformCertificate==None  || items.PerformCertificate==undefined || items.PerformCertificate=='null'; else elseBlock" class="button">-
                                </a> 
                                <ng-template #elseBlock> 
                                    <a  class="button"  (click)="downloadimage(items.PerformCertificate)">Download
                                    </a> 
                                </ng-template>
                              </td>
                        </tr>    
                    </tbody>
                </table>
                </div>
            </div>
        </div>

            <!-- modal pop-up for the view table  -->
    <ng-template #viewtable let-c="close" let-d="dismiss">
        <div class="modal-header">
            <!-- <div class="general-container"> -->
                <h4>Customer Contract Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            <!-- </div> -->
        </div>
        <br>  
        <div class="modal-body">
            <div  class="general-container-body">
                <div class="table-responsive" >
                    <table id="datatablesshort" datatable="ng" *ngIf="showTable_contract" [dtOptions]="dtOptions"
                    class="table table-striped table-bordered table-sm row-border hover datatable">
                    <thead>
                        <tr>
                           
                            <th style="width: 80px;"class="tablewidth kt-footer kt-container">Site ID</th>
                            <th style="width: 120px;" class="tablewidth kt-footer kt-container">Battery Bank ID</th>
                            <th style="width: 90px;" class="tablewidth kt-footer kt-container">Product</th>
                            <th style="width: 90px;" class="tablewidth kt-footer kt-container">Subproduct</th>
                            <th style="width: 120px;" class="tablewidth kt-footer kt-container">Modal</th>
                            <th style="width: 70px;" class="tablewidth kt-footer kt-container">Voltage</th>
                            <th style="width: 70px;" class="tablewidth kt-footer kt-container">sys AH</th>
                            <th style="width: 120px;" class="tablewidth kt-footer kt-container">Serial.No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let items of contract_details; let i = index">
                                <td>{{items.SiteId}}</td>
                                <td>{{items.BBID}}</td>
                                <td>{{items.product}}</td>
                                <td>{{items.subproduct}}</td>
                                <td>{{items.modelid}}</td>
                                <td>{{items.voltage}}</td>
                                <td>{{items.sysah}}</td>
                                <td>{{items.SerialNo}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </ng-template>
            </kt-portlet-body>
</kt-portlet>
