.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: #3CB371   }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:#3CB371;  }
    100%{   color: #3CB371;    }
}

.blink{
    animation:blink 1s infinite;
}
@keyframes blink{
    0%{     color: #ff0000;   }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:#ff0000;  }
    100%{   color: #ff0000;    }
}
// .kt-portlet__body {
//     margin-top: -92px;
// }
// i.fa.fa-edit {
//     margin-top: -9px;
// }
// i.fa.fa-trash{
//     display: inline-block;
//     margin-left: 0px;
//     margin-top: 0px !important;
//     // float: left !important;
// }
button.btn.btn-info.pull-right.width {
    margin-top: -55px;
}
button.btn.btn-primary {
    margin-right: 1%;
}
.tablewidth{
    width:20%;
}
.disabledsubmit{
    cursor:not-allowed;
    pointer-events: all !important;
}