<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.SERVICE' | translate}}">
        <!--heading for portlet-->

        <!-- begin form -->
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)="openLarge(add_servicegroup)">{{'SERVICEGROUP.ADD_SERVICE' | translate}}
            </button>

        </ng-container>





    </kt-portlet-header>
    <!-- portlet body begins -->
    <kt-portlet-body>

        <!-- To Display the packages -->
        <div class="table-responsive">

            <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th class="kt-footer kt-container tablewidth">{{'SERVICEGROUP.SERVICE' | translate}} </th>
                       <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}} </th>
                    </tr>
                </thead>

                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of service_group; let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.work_type}}</td>
                      
                        <td class="datatable-center">
                            <button style="padding: 0px;" class="btn btn-base"
                                (click)="openLarge(edit_service_group);editServiceGroup(item)">
                                <i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button style="padding: 0px;" class="btn btn-base" (click)="trashservicegroup(item)"><i
                                    class="fa fa-trash trash" aria-hidden="true"></i></button>

                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- <p style="color: red;">{{errors}}</p> -->
        </div>
    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>

<!--Modal box to add the servicegroup details-->
<ng-template #add_servicegroup let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'SERVICEGROUP.ADD_SERVICE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
        <!-- begin body for portlet-->
        <!-- <kt-portlet-body> -->
        <!-- <div class="kt-section"> -->
        <!-- Form group for renewal license -->
        <form id="form_body" [formGroup]="addServiceGroupForm" (ngSubmit)="onSubmit()" novalidate=""
            class="custom-forms ng-untouched ng-pristine ng-valid">


            <div class="row">
                <label class="control-label col-lg-4">{{'SERVICEGROUP.SERVICE' | translate}}:</label>
                <div class="col-lg-8">
                    <input type="text" placeholder="Enter Service group" formControlName="work_type" class="form-control" />
                    <div *ngIf="f.work_type.errors && (f.work_type.dirty || f.work_type.touched)" class="m-b-10 error">
                        <div *ngIf="f.work_type.errors.required" style="color:red">
                            {{'SERVICEGROUP.WORKREQ' | translate}}
                        </div>
                        <div *ngIf="f.work_type.errors.pattern" style="color:red">
                            {{'SERVICEGROUP.WORKPATTERN' | translate}}
                        </div>
                        <div *ngIf="f.work_type.errors.maxlength" style="color:red">
                            {{'SERVICEGROUP.WORKLIMIT' | translate}}
                        </div>
                        <div *ngIf="!addServiceGroupForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'SERVICEGROUP.SERVICE' | translate}}
                          </div>
                    </div>
                    <!-- <div *ngIf="submitted && f.work_type.errors" class="invalid-feedback">
                                    <div *ngIf="f.work_type.errors.required">{{'SERVICEGROUP.WORKREQ' | translate}}
                                    </div>
                                    <div *ngIf="f.work_type.errors.pattern" style="color:red">
                                        {{'SERVICEGROUP.WORKPATTERN' | translate}}
                                    </div>
                                    <div *ngIf="f.work_type.errors.maxlength" style="color:red">
                                        {{'SERVICEGROUP.WORKLIMIT' | translate}}
                                    </div>
                                </div> -->
                </div>
            </div>

            <!-- <br> -->


        </form>
        <!-- <br> -->
        <p style="color: red;">{{errors}}</p>
        <!-- end form group -->

    </div>

    <div class="modal-footer">
        <div class="text-center">
            <!-- button for submit -->
            <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                data-ktwizard-type="action-submit" (click)="addservicegroup(myInput)"
                [disabled]=!addServiceGroupForm.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
            <br>
        </div>

    </div>

    <!-- </kt-portlet-body> -->
    <!-- end body for portlet-->
    <!-- </kt-portlet> -->
    <!-- </div> -->
</ng-template>


<!--Modal box to Edit the Service group-->

<ng-template #edit_service_group let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'SERVICEGROUP.EDIT_SERVICE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
        <!-- begin body for portlet-->
        <!-- <kt-portlet-body> -->
        <!-- <div class="kt-section"> -->
        <!-- Form group for renewal license -->
        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="editServiceGroupForm">
            <div class="form-body">

                <div class="row" style="display:none">
                    <!-- label for CompanyID-->
                    <label class="control-label col-lg-4"> Work type Id</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="hidden_work_type_id"
                            formControlName="work_type_id" id="hidden_work_type_id" readonly="">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-lg-4">{{'SERVICEGROUP.SERVICE' | translate}}:</label>
                    <div class="col-lg-8">
                        <input placeholder="Enter Service group" type="text" formControlName="work_type"
                            class="form-control" maxlength="30" />
                        <div *ngIf="fe.work_type.errors && (fe.work_type.dirty || fe.work_type.touched)"
                            class="m-b-10 error">
                            <div *ngIf="fe.work_type.errors.required" style="color:red">
                                {{'SERVICEGROUP.WORKREQ' | translate}}
                            </div>
                            <div *ngIf="fe.work_type.errors.maxlength" style="color:red">
                                {{'SERVICEGROUP.WORKLIMIT' | translate}}
                            </div>
                            <div *ngIf="!editServiceGroupForm.hasError('whitespace')" style="color:red">
                                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                                {{'SERVICEGROUP.SERVICE' | translate}}
                              </div>
                        </div>
                        <!-- <div *ngIf="submitted && fe.work_type.errors" class="invalid-feedback">
                                    <div *ngIf="fe.work_type.errors.required">{{'SERVICEGROUP.WORKREQ' | translate}}
                                    </div>
                                  
                                    <div *ngIf="fe.work_type.errors.maxlength" style="color:red">
                                        {{'SERVICEGROUP.WORKLIMIT' | translate}}
                                    </div>
                                </div> -->
                    </div>
                </div>
                <!-- <br> -->


            </div>

        </form>
        <!-- end form group -->

        <p style="color: red;">{{errors}}</p>



        <!-- end body for portlet-->

    </div>
    <div class="modal-footer">
        <!-- form actions begin -->
        <div class="form-actions">
            <div class="row">
                <!-- column for submit button -->
                <!-- <div class="col-md-12"> -->
                <div class="col-md-12">
                    <!-- button for close -->
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <!-- button for update -->
                    <button type="submit" (click)="serviceGroup(service_data)" [disabled]=!editServiceGroupForm.valid
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpd}"
                        class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit">{{'PACKAGE_PLAN.UPDATE'
                        | translate}}</button>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <!-- form actions end -->
    </div>
</ng-template>



