<!-- <form class="container"> -->
<!-- mat tab for from date -->
<div class="main-filter">
  <div class="filter-icon">
    <button (click)="toggle()" id="bt">
      <i class="fas fa-filter"></i>
    </button>
  </div>
  <div class="main-filter-container" *ngIf="Filtershow">
    <div class="row">
      <div class="col-md-4">
        <label class="control-label"> Select Period:</label>
        <div class="filter-input-area">
          <select [(ngModel)]="selectdrop" class="form-control" (change)="onChangereporttype($event.target.value)">
            <option value="null" disabled>--Select Period--</option>
            <option value="3" *ngIf="last_months=='yes'" selected> Current Month </option>
            <option value="1" *ngIf="last_months=='yes'"> Last 3 Months </option>
            <option value="4" *ngIf="last_months=='yes'"> Current Year </option>
            <option value="2" *ngIf="last_months=='no'" selected> Financial Year </option>

          </select>
        </div>

      </div>
      <div class="col-md-4" *ngIf="finanace_year=='Yes'">
        <label class="control-label">
          <!-- From Year - To Year: -->
          Select Year:
        </label>
        <div class="filter-input-area">
          <select class="form-control" [(ngModel)]="selectyear" [formControl]="finance_year">
            <option value="null" disabled selected> Select Year</option>
            <!-- <option value="2022-2024">2023-2024</option> -->
            <option value="2021-2022">2021-2022</option>
            <option value="2022-2023">2022-2023</option>

          </select>
        </div>
      </div>
      <div class="col-md-4" *ngIf="date_month=='No'">
        <label class="control-label"> From Month:</label>
        <div class="filter-input-area" *ngIf="date_time=='No'">
          <mat-form-field>
            <input matInput [matDatepicker]="dpr" [min]="minDate" [max]="maxDate" placeholder="From Year"
              [formControl]="fromdates" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="dpr"></mat-datepicker-toggle>
            <mat-datepicker #dpr startView="multi-year" (yearSelected)="fromchosenYearHandler($event)"
              (monthSelected)="fromchosenMonthHandler($event,dpr)" panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="filter-input-area" *ngIf="date_time=='Yes'">
          <mat-form-field>
            <input matInput [matDatepicker]="dp" [min]="minDate" [max]="maxDate" placeholder="From Year"
              [formControl]="fromdates" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="year" (monthSelected)="fromchosenMonthHandler($event,dp)"
              panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4" *ngIf="date_month=='No'">
        <label class="control-label"> To Month:</label>

        <div class="filter-input-area" *ngIf="date_time=='No'">
          <mat-form-field>
            <input matInput [matDatepicker]="dp1" [min]="minDate" [max]="maxDates" placeholder="To Year"
              [formControl]="todates">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1 startView="multi-year" (yearSelected)="tochosenYearHandler($event)"
              (monthSelected)="tochosenMonthHandler($event, dp1)" panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="filter-input-area" *ngIf="date_time=='Yes'">
          <mat-form-field>
            <input matInput [matDatepicker]="dp1" [min]="minDate" [max]="maxDate" placeholder="To Year"
              [formControl]="todates">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1 startView="year" (monthSelected)="tochosenMonthHandler($event, dp1)"
              panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4" *ngIf="date_month=='Yes'">
        <label class="control-label"> From Date:</label>
        <div class="filter-input-area" *ngIf="date_time=='No'">
          <mat-form-field>
            <input matInput [matDatepicker]="dpf" [min]="minDate" [max]="maxDate" placeholder="Month and Year"
              [formControl]="fromdates" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="dpf"></mat-datepicker-toggle>
            <mat-datepicker #dpf startView="multi-year" (yearSelected)="fromchosenYearHandlerfinance($event,dpf)"
              panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
        <!-- <div class="filter-input-area" *ngIf="date_time=='Yes'">
        <mat-form-field>
          <input matInput [matDatepicker]="dp" [min]="minDate" [max]="maxDate" placeholder="Month and Year"
            [formControl]="fromdates" class="form-control">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="year" (monthSelected)="fromchosenMonthHandler($event,dp)"
            panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div> -->
      </div>
      <div class="col-md-4" *ngIf="date_month=='Yes'">
        <label class="control-label"> To Date:</label>
        <!-- mat tab for to date -->
        <div class="filter-input-area" *ngIf="date_time=='No'">
          <mat-form-field>
            <input matInput [matDatepicker]="dpf1" [min]="minDate" [max]="maxDates" placeholder="Month and Year"
              [formControl]="todates" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="dpf1"></mat-datepicker-toggle>
            <mat-datepicker #dpf1 startView="multi-year" (yearSelected)="tochosenYearHandlerfin($event,dpf1)"
              panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
          <p style="color: red;">{{message}}</p>
        </div>

      </div>

    </div>
    <!-- form group for filters -->
    <form id="FilterData" [formGroup]="FilterData" novalidate="" class="custom-forms ng-untouched ng-pristine ng-valid">
      <!-- multi select dropdown all the field have a particular function in select , deselect, select all, deselect all -->
      <div class="row">
        <div class="col-md-3"
          *ngIf="complaint_service=='enable'|| state_service=='enable' || product_service=='enable' ||ftr_service=='enable'|| reject_reason=='enable' || location_wise=='enable' || performance_service=='enable'">
          <label class="control-label">State</label>
          <div class="filter-input-area">
            <ng-multiselect-dropdown (keydown.enter)="$event.preventDefault()" name="states"
              [placeholder]="'Select State'" [data]="assignstates" formControlName="state" [settings]="dropdownSettings"
              (onSelect)="onItemSelectState($event)" (onSelectAll)="onSelectAllState($event)"
              (onDeSelect)="onItemDeSelectState($event)" (onDeSelectAll)="onItemDeSelectAllState($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="reject_reason_service=='enable' || product_service=='enable' || ftr_service=='enable' || competitor_service=='enable'|| reject_reason=='enable'"
          style="display: none;">
          <label class="control-label">Region</label>
          <div class="filter-input-area">
            <select formControlName="region" class="form-control">
              <option value="null">--Select Region--</option>
              <option value="3"> North </option>
              <option value="2"> South </option>
              <option value="4"> East </option>
              <option value="5"> West </option>
            </select>
          </div>
        </div>
        <div class="col-md-3" *ngIf="state_service=='enable' || ftr_service=='enable'">
          <label class="control-label">Service Desk</label>
          <div class="filter-input-area">
            <ng-multiselect-dropdown (keydown.enter)="$event.preventDefault()" name="service_desk"
              [placeholder]="'Select Service Desk'" [data]="avilable_service_details" formControlName="service_desk"
              [settings]="dropdownSettingsservice" [(ngModel)]="select_service" (onSelect)="onItemSelectService($event)"
              (onSelectAll)="onSelectAllService($event)" (onDeSelect)="onItemDeSelectService($event)"
              (onDeSelectAll)="onItemDeSelectAllService($event)"
              *ngIf="state_service=='enable'|| ftr_service=='enable'">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="state_service=='enable' || ftr_service=='enable'||ftr_service_filter=='enable'||tat_report_service=='enable'">
          <label class="control-label">Technician</label>
          <div class="filter-input-area">
            <ng-multiselect-dropdown (keydown.enter)="$event.preventDefault()" name="technician"
              [placeholder]="'Select Technician'" [data]="avilable_technician_details" formControlName="technician"
              [settings]="dropdownSettingstechnician" [(ngModel)]="select_technician"
              (onSelect)="onItemSelectTechnician($event)" (onSelectAll)="onSelectAllTechnician($event)"
              (onDeSelect)="onItemDeSelectTechnician($event)" (onDeSelectAll)="onItemDeSelectAllTechnician($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="state_service=='enable' || product_service=='enable'||tat_report_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable'|| location_wise=='enable' || performance_service=='enable'">
          <label class="control-label">Customer Type</label>
          <div class="filter-input-area">
            <select class="form-control" formControlName="customer_type" [(ngModel)]="selecttype"
              (change)="get_customer_type($event.target.value)">
              <option value="6">Select Customer Type</option>
              <option *ngFor="let items of customer_type" [value]=items.customer_type_id>
                {{items.customer_type}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="state_service=='enable' || product_service=='enable'||tat_report_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable'|| location_wise=='enable' || performance_service=='enable'">
          <label class="control-label">Customer</label>
          <div class="filter-input-area">

            <ng-multiselect-dropdown (keydown.enter)="$event.preventDefault()" name="customer"
              [placeholder]="'Select Customer'" [data]="CustomerName" formControlName="customer"
              [settings]="dropdownSettingscustomer" [(ngModel)]="select_customer"
              (onSelect)="onItemSelectCustomer($event)" (onSelectAll)="onSelectAllCustomer($event)"
              (onDeSelect)="onItemDeSelectCustomer($event)" (onDeSelectAll)="onItemDeSelectAllCustomer($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="product_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable'">
          <label class="control-label">Nature Of Complaints</label>
          <div class="filter-input-area">
            <select formControlName="call_catgory" class="form-control">
              <option value="null">--Select Complaint type--</option>
              <option value="null">All</option>
              <option *ngFor="let items of callcategorydetails; let i=index" [value]=items.call_category_id>
                {{items.call_category}}
              </option>
            </select>

          </div>
        </div>
        <div class="col-md-3"
          *ngIf="finance_service=='enable'|| ticket_service=='enable'||reject_reason_service=='enable' || replace_service=='enable' || ftr_service_filter=='enable'||battery_service=='enable'||competitor_service=='enable'||tat_report_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable' || segment_service=='enable' || reject_reason=='enable'">
          <label class="control-label">Segment</label>
          <div class="filter-input-area">
            <ng-multiselect-dropdown (keydown.enter)="$event.preventDefault()" name="segment"
              [placeholder]="'Select Segment'" [data]="segment" formControlName="segment"
              [settings]="dropdownSettingssegment" [(ngModel)]="select_segment" (onSelect)="onItemSelectSegment($event)"
              (onSelectAll)="onSelectAllSegment($event)" (onDeSelect)="onItemDeSelectSegment($event)"
              (onDeSelectAll)="onItemDeSelectAllSegment($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="complaint_service_desk=='enable'|| complaint_service=='enable'||ticket_service=='enable'|| product_service=='enable' || battery_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable'">
          <label class="control-label">{{'PRODUCTMASTER.PRO'| translate}}</label>
          <div class="filter-input-area">
            <select class="form-control" formControlName="product" name="product"
              (change)="onChangeProduct($event.target.value)" id="product">
              <option value="null">Select Product</option>
              <option *ngFor="let items of product; let i=index" [value]=items.product_id>
                {{items.product_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="complaint_service_desk=='enable'||complaint_service=='enable'||ticket_service=='enable'|| product_service=='enable'||battery_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable'">
          <label class="control-label">{{'PRODUCTMASTER.SUBPRO'| translate}}</label>
          <div class="filter-input-area">
            <select class="form-control" formControlName="product_sub_id" name="product_sub_id" id="product_sub_id"
              (change)="getmodel($event.target.value)">
              <option value="null">Select Subproduct</option>
              <option *ngFor="let items of subproduct; let i=index" [value]=items.product_sub_id>
                {{items.product_sub_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="complaint_service_desk=='enable'||complaint_service=='enable'|| ticket_service=='enable'|| product_service=='enable'||battery_service=='enable'||finreplace_report_service=='enable'||fin_report_service=='enable'">
          <label class="control-label">Item Code</label>
          <div class="filter-input-area">
            <select formControlName="model_no" class="form-control">
              <option value="null">--Select Item Code--</option>
              <option *ngFor="let items of model_id; let i=index" [value]=items.model>
                {{items.model}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="reject_reason_service=='enable' || replace_service=='enable' || replace_service_analyse == 'enable'||battery_service=='enable' || competitor_service=='enable'|| reject_reason=='enable'||finreplace_report_service=='enable'">
          <label class="control-label">Application</label>
          <div class="filter-input-area">
            <select formControlName="application" class="form-control">
              <option value="null">--Select Application--</option>
              <option *ngFor="let items of application; let i=index" [value]=items.application_id>
                {{items.application_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3" *ngIf="replace_service=='enable'||finreplace_report_service=='enable'">
          <label class="control-label">Voltage</label>
          <div class="filter-input-area">
            <select formControlName="voltage" class="form-control">
              <option value="null">--Select voltage--</option>
              <option value='2V'>
                2V
              </option>
              <option value='12V'>
                12V
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3" *ngIf="finance_service=='enable'">
          <label class="control-label">Manufacturing Date</label>
          <div class="filter-input-area">
            <mat-form-field>
              <input matInput [matDatepicker]="dp2" placeholder="Month and Year" [formControl]="mfg_date" 
                class="form-control" placeholder="select Month">
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 startView="multi-year" (yearSelected)="mfgchosenYearHandler($event)"
                (monthSelected)="mfgchosenMonthHandler($event,dp2)" panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>

        </div>
        <div class="col-md-3">
          <label class="control-label">&nbsp;</label>
          <button class="btn btn-outline-dark custom-btn btn-sm btn-pill  width disabledsubmit"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpd}"
            (click)="report()">Submit</button>
          <!-- <button class="btn btn-outline-dark custom-btn btn-sm btn-pill  width disabledsubmit"
          [disabled]=FilterData.invalid
          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingUpd}"
          (click)="report()">Submit</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
<!--<div class="col-lg-6" *ngIf=" location_wise=='enable'">
      <div class="col-md-4">
        <label class="control-label">Customer Id & site Id</label>
      </div>
      <ng-multiselect-dropdown (keydown.enter)="$event.preventDefault()" name="customer"
      [placeholder]="'Select Customer ID/Site ID'" [data]="CustomerName" formControlName="customer"
      [settings]="dropdownSettingscustomer" [(ngModel)]="select_customer" (onSelect)="onItemSelectCustomer($event)">
    </ng-multiselect-dropdown>
    </div> -->