.example-month-picker .mat-calendar-period-button {
  display: none;
    // pointer-events: none;
  }  
.example-month-picker .mat-calendar-arrow {
    display: none;
  }
.disabledsubmit{
    cursor: not-allowed;
}
// .mat-calendar-controls .mat-calendar-period-button {
//   display: none;
// }

mat-year-view .mat-calendar-body-label{
  display: none !important;
}
.main-filter{
    width: calc(100% + 46px);
    background: #f7f7f7;
    margin: -23px 0 0 -23px;
    padding: 10px 20px;
    position: relative;
    .filter-icon{
      position: absolute;
      z-index: 99;
      top: -35px;
      right: 11px;}
  .col-md-4{margin-bottom: 0px;
    .control-label{width:30%;float: left;line-height:35px;}
    .filter-input-area{width:70%;float: left;}
    .multiselect-dropdown{background: #fff;}
  }
  .col-md-3{margin-bottom: 20px;
    .control-label{width:100%;margin-bottom:5px;display: block;}
    .multiselect-dropdown{background: #fff;}
  }
 
}