<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="Reject Reason Report">


  </kt-portlet-header>
  <kt-portlet-body>


    <div>

      <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
    </div>
    <br>
    <div class="general-container">
      <div class="general-container-header">
        <h2>Grid View</h2>
        <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width" (click)='exportToExcel()'>Table
          Export</button>
      </div>
      <br>


      <br>
      <div class="general-container-body">
        <div class="table-responsive" #epltable>
          <table id="datatables" class="table table-striped table-bordered table-sm row-border hover datatable">
            <thead>
              <tr>
                <th style="width: 10%;" class="tablewidth kt-footer kt-container">S.No</th>
                <th style="width: 50%;" class="tablewidth kt-footer kt-container">Reject Reason</th>
                <th style="width: 40%;" class="tablewidth kt-footer kt-container"> Number of Rejections</th>

              </tr>

            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- <th style="width: 50%;" class="tablewidth kt-footer kt-container">Reject Reason</th>
            		<th style="width: 50%;" class="tablewidth kt-footer kt-container"> Number of Rejections</th> -->



  </kt-portlet-body>
</kt-portlet>