.fade.in {
    opacity: 1;
}
.tab-content>.active {
    display: block;
}
.call-closed{
    background:#3598dc;
    border:1px solid #3598dc;
}
.call-closed2{
    background:#e7505a;
    border:1px solid #e7505a;
}
.call-closed3{
    background:#32c5d2;
    border:1px solid #32c5d2;
}
.call-closed4{
    background:#1abc9c;
    border:1px solid#1abc9c;
}
.number{
    font-size:32px;
    color:white;
    text-align:right;
}
.details:hover{
    text-decoration: underline;
    cursor:pointer;
    color:#23527c;
}
.desc{
    font-size:15px;
    color:white;
    text-align: right;
    letter-spacing: 0;
    font-weight: 300;
}
.disabledsubmit{
    cursor: not-allowed;
}