<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title=" {{'MENU.PRODUCTIVITY' | translate}}">
        <!--heading for portlet-->

    </kt-portlet-header>
    <!-- begin body for portlet-->


    <kt-portlet-body>

        <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Date">
            <!-- <p style="color: red;">{{select}}</p>    -->
            <div class="row">
                <div class="col-lg-2 col-sm-2">
                    <select class="form-control" formControlName="month" name="month">
                        <option selected="empty" value="" disabled>Select The Month</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

                <div class="col-lg-2 col-sm-2">
                    <select class="form-control" formControlName="year" name="year">
                        <option selected="empty" value="" disabled>Select The Year</option>
                        <option *ngFor="let j of years;let j = index" [value]=j>{{j}}</option>
                    </select>
                </div>

                <div class="col-lg-2 col-sm-3">
                    <button color="primary" (click)="date()"
                        class="btn btn-sm btn-outline-success btn-pill btn-md kt-font-bold disabledsubmit "
                        data-ktwizard-type="action-submit" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
                        [disabled]="!Date.valid">{{'NEW_SUBSCRIPTION.SUB' | translate}}
                    </button>
                </div>
                <div class="col-lg-4">
                </div>
            </div>

        </form>

        <br>

        <div class="tab-pane fade active in">



            <div class="row gutter-10">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <div class="call-closed">
                        <p class="number mb-0 pr-3" data-counter="counterup" data-value="call">{{call}}</p>
                        <p class="desc pr-4 pb-0 pt-4"> Call Closed </p>
                    </div>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <div class="call-closed2">
                        <p class="number mb-0 pr-3" data-counter="counterup" data-value="sla">{{sla}}<span
                                *ngIf="sla">%</span></p>
                        <p class="desc pr-4 pb-0 pt-4"> % SLA Compliance </p>
                    </div>

                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <div class="call-closed3">
                        <p class="number mb-0 pr-3" data-counter="counterup" data-value="esclated_data">
                            {{esclated_data}}<span *ngIf="sla">%</span></p>
                        <p class="desc pr-4 pb-0 pt-4">% of calls Escalated </p>
                    </div>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <div class="call-closed4">
                        <p class="number mb-0 pr-3" data-counter="counterup" data-value="callclosure">
                            {{callclosure}}<span *ngIf="sla">%</span></p>
                        <p class="desc pr-4 pb-0 pt-4">% of First Call Closure</p>
                    </div>
                </div>
            </div>



            <!--OLd produvicity code-->
            <!-- <div class="row" style="text-align: right;">
                                    <div class="col-lg-3">
                                    <div class="call-closed">
                                            <div class="visual">
                                       
                                            </div>
                                            <div class="details pl-5 pr-5">
                                                <div class="number pt-5">
                                                    <span data-counter="counterup" data-value="call">{{call}}</span>
                                                </div>
                                                <div class="desc"> Call Closed </div>
                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="call-closed2">
                                            <div class="visual">
                                             
                                            </div>
                                            <div class="details pl-4 pr-4">
                                                <div   class="number pt-5">
                                                    <span data-counter="counterup"
                                                        data-value="sla">{{sla}}<span *ngIf="sla">%</span></span>
                                                    </div>
                                                <div class="desc"> % SLA Compliance </div>
                
                                            </div>
                                            </div>
                                    </div>
                                    <div class="visibility-sm clearfix"></div>
                                    <div class="col-lg-3">
                                        <div class="call-closed3">
                                            <div class="visual">
                                               
                                            </div>
                                            <div class="details pl-4 pr-4">
                                                <div class="number pt-5">
                                                    <span data-counter="counterup" data-value="esclated_data">{{esclated_data}}<span *ngIf="sla">%</span></span>
                                                </div>
                                                <div class="desc">% of calls Escalated </div>
                
                                            </div>
                                            </div>
                                    </div>
                                    <div class="visibility-sm clearfix"></div>
                                    <div class="col-lg-3 call-closed4">
                                        <div class="call-closed4">
                                            <div class="visual">
                                               
                                            </div>
                                            <div class="details pl-4 pr-4">
                                                <div class="number pt-5">
                                                    <span data-counter="counterup" data-value="callclosure">{{callclosure}}<span *ngIf="sla">%</span></span>
                                                </div>
                                                <div class="desc">% of First Call Closure </div>
                
                                            </div>
                                        </div>
                                    </div>
                                </div> -->



        </div>

    </kt-portlet-body>


    <!-- end body for portlet-->
</kt-portlet>