<kt-portlet [class]="'kt-portlet--height-fluid'">

    <!-- begin body for portlet-->


    <kt-portlet-header title="{{'LOCATE.TITLE' | translate}}">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <button class="btn btn-circle btn-sm btn-outline-dark btn-pill custom-btn"
            (click)="openLarge(bulkupload)">{{'USER.BULKUP' | translate}} </button>
            <button class="btn btn-circle btn-sm btn-outline-dark btn-pill custom-btn ml-2" (click)="onReset()"
                (click)="open(add_location)">{{'LOCATE.ADD_LOCATE' | translate}}
            </button>
        </ng-container>
    </kt-portlet-header>
    <br>
    <kt-portlet-body>
        <!-- To Display the packages -->
        <div class="locationtable">
            <!-- <div class="table-responsive"> -->
                <!-- *ngIf="showTable"  -->
            <table id="datatables" class="table table-striped table-bordered table-sm  hover">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th class="max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th style="width: 20%;">{{'LOCATE.COUNTRY' | translate}}</th>
                        <th style="width: 20%;">{{'LOCATE.STATE' | translate}}</th>
                        <th style="width: 20%;">{{'LOCATE.CITY' | translate}}</th>
                        <th style="width: 20%;">{{'LOCATE.LOCAL' | translate}}</th>
                        <th style="width: 20%;"> {{'LOCATE.HILL' | translate}}</th>
                        <th class="max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                    </tr>
                </thead>
                
                <tbody *ngIf="location?.length != 0">
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of location;let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td>{{item.country.country_name}}</td>
                        <td>{{item.state.state_name}}</td>
                        <td>{{item.city.city_name}} </td>
                        <td>{{item.location_name}} </td>
                        <td *ngIf="item.hill_area == 1">
                            Yes

                        </td>
                        <td *ngIf="item.hill_area == 0">
                            No

                        </td>
                        <td width="100" class="datatable-center">
                            <!-- icons for edit and delete -->
                            <button style="padding:0px;" class="btn btn-base"
                                (click)="get_location_data(item.location_id,edit_location)">
                                <i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button style="padding: 0px;" class="btn btn-base" (click)="trashlocation(item)"><i
                                    class="fa fa-trash trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="location?.length == 0">
                    <div colspan="3" style="text-align: end;">No records found</div>
                </tbody>
            </table>
            <!-- <p style="color: red;">{{error}}</p> -->
            <!-- </div> -->
        </div>
    </kt-portlet-body>
</kt-portlet>

<!--Modal box to add the site settings-->
<ng-template #add_location let-c="close" let-d="dismiss">

    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'LOCATE.ADD_LOCATE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form id="form_body" [formGroup]="LocationAdd" (ngSubmit)="locaion_add()" novalidate="" class=" custom-forms ng-untouched 
                        ng-pristine ng-valid">

            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.COUNTRY' | translate}} :</label>
                <div class="col-lg-8">
                    <input placeholder="India" type="text" class="form-control" formControlName="country_id" readonly>
                    <!-- <select formControlName="country_id" class="form-control"
                        (change)="onChangeCountry($event.target.value)">
                        <option value="null">--{{'LOCATE.SELECTCOUNT' | translate}}--</option>
                        <option *ngFor="let items of country" [value]=items.country_id>
                            {{items.country_name}}</option>
                   

                    </select>
                    <div *ngIf="log.country_id.errors && (log.country_id.dirty || log.country_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.country_id.errors.required" style="color:red">
                            {{'LOCATE.COUNTRY' | translate}}{{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div> -->

                </div>
            </div>
            <br>

            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.STATE' | translate}} :</label>
                <div class="col-lg-8">
                    <select name="items" formControlName="state_id" class="form-control"
                        (change)="onChangeState($event.target.value)" placeholder="--Select State--">
                        <option value="null">{{'LOCATE.SELECTSTATE' | translate}}</option>
                        <option *ngFor="let items of states" [value]=items.state_id>
                            {{items.state_name}}</option>
                        <!-- [ngClass]="{ 'is-invalid': submitted && log.state_id.errors }" -->

                    </select>
                    <div *ngIf="log.state_id.errors && (log.state_id.dirty || log.state_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.state_id.errors.required" style="color:red">{{'LOCATE.STATE' | translate}}
                            {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div>

                </div>
            </div>
            <br>



            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.CITY' | translate}} :</label>
                <div class="col-lg-8">
                    <!-- select dropdown from master based on state id -->
                    <select formControlName="city_id" class="form-control">
                        <option value="null">{{'LOCATE.SELECTCITY' | translate}}</option>
                        <option *ngFor="let items of cities" [value]=items.city_id>
                            {{items.city_name}}</option>
                        <!-- [ngClass]="{ 'is-invalid': submitted && log.city_id.errors }" -->

                    </select>
                    <div *ngIf="log.city_id.errors && (log.city_id.dirty || log.city_id.touched)" class="m-b-10 error">
                        <div *ngIf="log.city_id.errors.required" style="color:red">{{'LOCATE.CITY' |
                            translate}}{{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div>

                </div>
            </div>
            <br>

            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.LOCAL' | translate}} :</label>
                <div class="col-lg-8">
                    <input placeholder="Enter Town" type="text" class="form-control" formControlName="location">
                    <!-- error controls -->
                    <div *ngIf="log.location.errors && (log.location.dirty || log.location.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.location.errors.required" style="color:red">{{'LOCATE.LOCAL' | translate}}
                            {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                        <div *ngIf="!LocationAdd.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'LOCATE.LOCAL' | translate}}
                        </div>
                        <!-- [ngClass]="{ 'is-invalid': submitted && log.location.errors }" -->
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-check hill-check">
                    <input class="" type="checkbox" formControlName="hill_area" (change)="areabased($event)">               
                    <label class="hillimage">Is it hill area!</label>
                </div>

            </div>
        </form>
        <br>


    </div>

    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
                (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <!-- <button class="btn btn-primary">Submit</button> -->
            <button class="btn btn-outline-success btn-pill btn-sm ml-2 custom-btn disabledsubmit"
                data-ktwizard-type="action-submit" (click)="submitloc(myInput)"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                [disabled]=!LocationAdd.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>

        </div>
    </div>
</ng-template>

<!--Modal box to edit the site settings-->
<ng-template #edit_location let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'LOCATE.Edit_LOCATE' | translate}}</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">


        <form id="form_body" [formGroup]="LocationEdit" novalidate="" (ngSubmit)="locaion_add()"
            class="custom-forms ng-untouched ng-pristine ng-valid">
            <div class="row" style="display: none;">
                <label class="control-label col-lg-4">{{'LOCATE.LOCALID' | translate}} :</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="location_id" disabled
                        placeholder="Enter Location Id">
                </div>


            </div>

            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.COUNTRY' | translate}} :</label>
                <div class="col-lg-8">
                    <input placeholder="India" type="text" class="form-control" formControlName="country_id" readonly>
                    <!-- <select formControlName="country_id" class="form-control"
                        (change)="onchangecountryEdit($event.target.value)" disabled>
                        <option value="" selected="empty" disabled="">--{{'LOCATE.SELECTCOUNT' | translate}}--</option>
                        <option *ngFor="let items of country" [value]=items.country_id>
                            {{items.country_name}}</option>

                    </select>
                  <div *ngIf="log1.country_id.errors && (log1.country_id.dirty || log1.country_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log1.country_id.errors.required" style="color:red"> {{'LOCATE.COUNTRY' |
                            translate}}{{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div> -->

                </div>
            </div>
            <br>

            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.STATE' | translate}} :</label>
                <div class="col-lg-8">
                    <select formControlName="state_id" class="form-control"
                        (change)="onChangeStateEdit($event.target.value)">
                        <option value="null" selected="empty" disabled="">{{'LOCATE.SELECTSTATE' | translate}}</option>
                        <option *ngFor="let items of states" [value]=items.state_id>
                            {{items.state_name}}</option>

                    </select>
                    <!-- error controls -->
                    <div *ngIf="log1.state_id.errors && (log1.state_id.dirty || log1.state_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log1.state_id.errors.required" style="color:red">{{'LOCATE.STATE' | translate}}
                            {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div>

                </div>
            </div>
            <br>

            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.CITY' | translate}} :</label>
                <div class="col-lg-8">
                    <!-- select dropdown from master based on state id -->
                    <select formControlName="city_id" class="form-control">
                        <option value="null" selected="empty" disabled="">{{'LOCATE.SELECTCITY' | translate}}</option>
                        <option *ngFor="let items of cities" [value]=items.city_id>
                            {{items.city_name}}</option>
                    </select>
                    <!-- error controls -->
                    <div *ngIf="log1.city_id.errors && (log1.city_id.dirty || log1.city_id.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log1.city_id.errors.required" style="color:red">
                            {{'LOCATE.CITY' | translate}}{{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-lg-4">{{'LOCATE.LOCAL' | translate}} :</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="location" placeholder="Enter Town">
                    <!-- error controls -->
                    <div *ngIf="log1.location.errors && (log1.location.dirty || log1.location.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log1.location.errors.required" style="color:red">{{'LOCATE.LOCAL' | translate}}
                            {{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                        <div *ngIf="!LocationEdit.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'LOCATE.LOCAL' | translate}}
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-check hill-check">
                    <!-- <div *ngIf="locate_hill==true">
                        <input type="checkbox" formControlName="hill_area" (change)="areabased($event)" checked>
                    </div> -->
                    <!-- <div *ngIf="locate_hill==false"> -->
                    <input type="checkbox" formControlName="hill_area" (change)="areabased($event)">
                    <label class="hillimage">Is it hill area!</label>
                    <!-- </div> -->
                </div>

                

            </div>
        </form>


    </div>
    <div class="modal-footer">
        <p style="color: red;">{{error}}</p>
        <div class="text-center">
            <button type="button" class="btn btn-pill btn-sm btn-outline-red custom-btn"
                (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <button (click)="locaion_edit(MyInput)" [disabled]=LocationEdit.invalid
                class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}"
                data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>

        </div>
    </div>
</ng-template>

<!-- Dialog for bulk upload for location-->
<ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{'USER.UPLOAD' | translate}} {{'LOCATE.TITLE' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-5 nopadding">
          <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
            href="assets/sample_templates/location.xlsx">{{'USER.SAMPLE' | translate}}</a>
  
        </div>
        <div class="col-sm-7 nopadding">
          <div class="custom-file mb-3">
            <input type="hidden" value="" name="file-upload">
            <input type="file" class="custom-file-input" id="fileUploader" (change)="fileUpload($event)"
              name="fileUploader" #fileUploader />
            <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
            <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
            <p style="color: red;">{{error}}</p>
          </div>
          <p style="color:red">{{errors}}</p>
  
        </div>
      </div>
    </div>
    <div *ngIf="bulks != []">
        <h6 style="color: green;">Success :</h6>
        <div *ngFor="let bulk_success of bulks;let i=index">
    
          <span style="color: green;"> {{i+1}}: {{bulk_success}}</span>
    
        </div>
      </div>
      <div *ngIf="bulk != []">
        <h5 style="color: red;"> Error :</h5>
    
        <div *ngFor="let bulk_errors of bulk;let i=index">
          <h6 style="color: red;"> {{i+1}}: {{bulk_errors}}</h6>
        </div>
      </div>
    <!-- <div style="color: red;" *ngFor="let number of bulk;  let i=index">
      {{i+1}}. {{number}}
  
    </div> -->
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-red  btn-pill btn-sm custom-btn"
        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-outline-success  btn-pill btn-sm custom-btn"
      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
        (click)="bulkfilesubmit(myInput)">{{'USER.UPLOAD' | translate}}</button>
    </div>
  </ng-template>