
.kt-heading {
    margin: 0px;
    margin-top: -15px;
    margin-left: 10px;
    font-size: 1.5rem;
}
 
button.btn.btn-info.pull-right.width {
    margin-top: -20px;
}
.kt-separator {
    height: 0;
    margin: 0px;
    border-bottom: 1px solid #ebedf2;
    margin-top: 9px;
}
.kt-portlet--height-fluid{
    border:1px solid #ccc;
}

  .locationtable{
      padding:0px !important
  }
.disabledsubmit{
    cursor: not-allowed;
}
.hillimage{
    padding-left: 15px;
    position: relative;
    top: -11px;
}
.hill-check{
    padding-left:0.9rem !important;
}
//   table.dataTable thead .sorting_asc {
//     background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
//   }
//   table.dataTable thead .sorting_desc {
//     background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
//   }
//   table.dataTable thead .sorting {
//     background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
//   }
// .dataTables_empty {
//     display: none;
//     }
    // .table-responsive {
    //     display: table !important;
    // }  
    // @media screen and (max-width:1024px) {
    //     .table-responsive {
    //         display: block !important;
    //     }   
    // }

// .dataTables_empty 
// {
//     display: none !important;  

// }
// table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty{
//     display: none !important;  

// }