/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}
// .center-modal.modal {
// 	text-align: center;
//   }
  
//   @media screen and (min-width: 768px) { 
// 	.center-modal.modal:before {
// 	  display: inline-block;
// 	  vertical-align: middle;
// 	  content: " ";
// 	  height: 100%;
// 	}
//   }
  
  .center-modal .modal-dialog {
	// display: inline-block;
	// text-align: left;
	// vertical-align: middle;
	max-width: 565px;
	// max-width:420px;
  }
  .btn-outline-dark.custom-btn {
	// color: #A9A9A9 !important;
    border-color: #A9A9A9 !important;
}
.btn-outline-dark.custom-btn:hover{
	background-color: #A9A9A9 !important;
    border-color: #A9A9A9 !important;
}
  
.position-static {
	position: static;
}
.line{
	width: 86%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 536px) {
    .exp-style {
        height: auto !important; 
    }
.mat-content {
    flex-direction: column !important;
   }
   .img{
	   position: relative;
	left: 22%;
   }
   .edit1{
	   float: left;
   }
}

/* New Styles */
.kt-login__copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem; 
	text-align: center;
	// color: gray;
	color:#282b2d;
}
.footer-kaspon{
	color:#282b2d;
}

.kt-form.signin .mat-form-field-infix {
    padding: 0 !important;
}
.fp-forgot-pw .mat-form-field-wrapper, .card.login .mat-form-field-wrapper {
    width: 380px !important;
}
.fp-forgot-pw .mat-form-field-infix, .signin .mat-form-field-infix {

    border-top: none !important;
    
    }
.login-btn {
	width:50%;
	// border-radius:25px;
	// height: 45px !important;
	color:#14a4cc !important;
	background-color:white !important;
	border:1px solid #14a4cc !important;
	padding-top:5px;
	padding-bottom:5px;
}
.login-btn-back{
	// width:40%;
	// border-radius:25px;
	// height: 45px !important;
	color:#6f7174 !important;
	background-color:white !important;
	border:1px solid #6f7174 !important;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 1.5;
	font-size:13px !important;
	font-family: "Open Sans",sans-serif !important;
	border-radius:2rem;
	width:68px;
}
.login-btn-back:hover{
	color:white !important;
	background-color:#6f7174 !important;
	border:1px solid #6f7174 !important;
}

.login-btn-submit{
	width:50%;
	// border-radius:25px;
	// height: 45px !important;
	color:#0abb87 !important;
	background-color:white !important;
	border:1px solid #0abb87 !important;
	padding-top:5px;
	padding-bottom:5px;
	padding:8.450px 13px;
	border-radius:2rem;
	cursor:not-allowed;
}
.login-btn-submit:hover{
	color:white !important;
	background-color:#0abb87 !important;
	border:1px solid #0abb87 !important;
}
.login-btn-subforgot{
	// width:40%;
	// border-radius:25px;
	// height: 45px !important;
	color:#0abb87 !important;
	background-color:white !important;
	border:1px solid #0abb87 !important;
	// padding:8.450px 13px;
	border-radius:2rem;
	cursor:not-allowed;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 1.5;
	font-size:13px !important;
	font-family: "Open Sans",sans-serif !important;
	width:68px;
}
.login-btn-subforgot:hover{
	color:white !important;
	background-color:#0abb87 !important;
	border:1px solid #0abb87 !important;
}
.licence-top {
	margin-top: -12px;
}
/* @media screen and (min-width:760px) {
.subscription-width {
	width: 600px;
}
} */
.subscription-fullwidth {
    display: block !important;
}
.subscription-portlet {
	box-shadow: none !important;
}
.kt-footer .kt-container {
	justify-content: center !important;
}
@media screen and (min-width:1025px) {
.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
	padding-top: 50px !important;
}
}

/* Theme color changes */
.kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon, 
.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state=current] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title,
.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number,
.kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon
 {
	 color:white !important;
    // color: #009dc7 !important;
}
.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state=current] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number
{
	background-color: #009dc7 !important;
	color: #fff !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #009dc7 !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .kt-scrolltop
{
	background-color: #009dc7 !important;	
}
.kt-header-base-light .kt-header .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon svg g [fill] {
    fill: #009dc7 !important;
}
.btn-outline-brand {
    color: #009dc7 !important;
    border-color: #009dc7 !important;
}
.btn-outline-brand:hover {
	color: #fff !important;
    background-color: #009dc7 !important;
    border-color: #009dc7 !important;
}
.signin-btn:hover{
	color:#a12a2a !important;
}
.forgot_color{
	color:#14a4cc !important;
	font-size: 12px;
	font-weight: 500;
}
.forgot_color:hover{
	text-decoration: underline !important;
}
.title_name{
	font-size: 15px;
	font-family: Poppins, Helvetica, sans-serif;
	color: gray;
}
.textinc{
	font-size: 14px !important;
}
.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}
// #form-size{
// 	height: 20px;
// 	padding-left: 0px !important;
// }
.eye-fa{
	background-color: rgb(232, 240, 254) !important;
}
.eyes-fa{
	margin-top: 10px;
}

// .checkbox-fade 5
// 	display: inline-block;
// 	margin-right: 15px;
//   }
  
//   .checkbox-fade label {
// 	line-height: 20px;
//   }
  
//   .checkbox-fade label input[type="checkbox"],
//   .checkbox-fade label input[type="radio"] {
// 	display: none;
//   }
  
//   .checkbox-fade label input[type="checkbox"]:checked + .cr > .cr-icon,
//   .checkbox-fade label input[type="radio"]:checked + .cr > .cr-icon {
// 	transform: scale(1) rotateZ(0deg);
// 	opacity: 1;
//   }
  
//   .checkbox-fade label input[type="checkbox"] + .cr > .cr-icon,
//   .checkbox-fade label input[type="radio"] + .cr > .cr-icon {
// 	transform: scale(3) rotateZ(-20deg);
// 	opacity: 0;
// 	transition: all 0.3s ease-in;
//   }
  
//   .checkbox-fade label:after {
// 	content: '';
// 	display: table;
// 	clear: both;
//   }
  
//   .checkbox-fade.fade-in-disable label,
//   .checkbox-fade.fade-in-disable .cr {
// 	color: #ccc;
// 	cursor: no-drop;
//   }
  
//   .checkbox-fade .cr {
// 	border-radius: 0px;
// 	border: 2px solid #1abc9c;
// 	cursor: pointer;
// 	display: inline-block;
// 	float: left;
// 	height: 20px;
// 	margin-right: 0.5em;
// 	position: relative;
// 	width: 20px;
//   }
  
//   .checkbox-fade .cr .cr-icon {
// 	color: #1abc9c;
// 	font-size: 0.8em;
// 	left: 0;
// 	line-height: 0;
// 	position: absolute;
// 	right: 0;
// 	text-align: center;
// 	top: 50%;
//   }
  
//   .checkbox-fade.fade-in-primary .cr {
// 	border: 2px solid #009dc7;
//   }
  
//   .checkbox-color label::after {
// 	display: inline-block;
// 	position: absolute;
// 	width: 16px;
// 	height: 16px;
// 	left: -1px;
// 	top: 0px;
// 	margin-left: -17px;
// 	padding-left: 3px;
// 	padding-top: 1px;
// 	font-size: 11px;
// 	color: rgb(228, 9, 9);
//   }
//   .checkmark:after {
// 	content: "";
// 	position: absolute;
	
//   }
//   .container {
//     min-height: 100%;
// }
// input[type="checkbox"]{
//     -webkit-appearance: initial;
//     appearance: initial;
//     background: #fff;
//     width: 20px;
//     height: 20px;
//     border: double;
//     position: relative;
// }
// input[type="checkbox"]:checked {
//     background: #009dc7;
// }
// input[type="checkbox"]:checked:after {
//     /* Heres your symbol replacement */
//     content: "✔";
//     /* The following positions my tick in the center, 
//      * but you could just overlay the entire box
//      * with a full after element with a background if you want to */
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     -webkit-transform: translate(-50%,-50%);
//     -moz-transform: translate(-50%,-50%);
//     -ms-transform: translate(-50%,-50%);
//     transform: translate(-50%,-50%);
//     /*
//      * If you want to fully change the check appearance, use the following:
//      * content: " ";
//      * width: 100%;
//      * height: 100%;
//      * background: blue;
//      * top: 0;
//      * left: 0;
//      */
// }
li{
	list-style-type: none;
}
.modal-footer {
    justify-content: center !important;
}


//sidebar

.kt-aside{
	background:#22313F !important;
	// background:url("../src/assets/images/cover-sidebar-user.jpg");
	// background-size:cover;
	// background-position:center;
	// min-height:500px;
	// background-repeat: no-repeat;
}
.kt-aside-dark .kt-aside-menu{
	background:#22313F !important;
	// background:url("../src/assets/images/newshatter.jpg");
	// background-size:cover;
	// background-position:center;
	// min-height:500px;
	// background-repeat: no-repeat;
}
.kt-menu__link-text{
	color:rgba(255,255,255,.6);
	font-size:.88rem !important;
}
.kt-menu__item--active > .kt-menu__link{
	background:#22313F !important;
	
}

.kt-menu__item > .kt-menu__link{
  min-height:42px !important;
}

.kt-menu__link .kt-menu__link-icon{
	color:rgba(255,255,255,.6) !important;
	font-size:14px !important;
	flex: 0 0 25px !important;
}
.menu-cover{
	background-image:url("../src/assets/images/cover-sidebar-user.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	// height:135px;
	height:95px;
	box-shadow: 0 2px 40px 0 rgba(0,0,0,.1)!important;
	position: relative;
	cursor: pointer;
}
// .menu-cover:hover{
// 	// background: 0 0;
// }
.menu-cover:before{
	content:"";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	// background: rgba(26,34,41,.75);
		background: rgba(26,34,41,0.6);

}
.menu-cover .menu-profile{
	color:rgba(255,255,255,.75);
	position:relative;
	font-size:14px;
	font-weight:600;
	// top:70px;
	top:45px;
	left:25px;
	text-transform: capitalize;
}
.submenu-anchors:active{
	background:#242b30 !important;
}
.submenu-anchors:focus{
	background:#242b30 !important;
}
// .menu-cover:hover .menu-profile{
// 	color:white;
// }

// .menu-cover:hover:before{
// 	background:red;
// } 
.menu-profile .kt-header__topbar-welcome{
	display:none;
}
.menu-cover .menu-profile  .dropdown-menu{
	display: none !important;
	opacity:0 !important;
}
.dropdown-menu .dropdown-menu-fit .dropdown-menu-right .dropdown-menu-anim{
	display: none !important;
} 
.dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-top-unround.dropdown-menu-lg.show{
	transform: translate(-247px, 39px) !important;
}
.kt-aside{
	width:245px !important;
}
.kt-header.kt-header--fixed{
	left:245px !important;
	// background: #f3f3f4;
	background:white;
	// border-bottom: 1px solid #eee;
}
.kt-subheader{
	left:245px !important;
	background-color: #ecedf3 !important;
	top:50px !important;
}
.kt-aside--fixed .kt-wrapper{
	// left:245px !important;
	padding-left:245px !important;
}
.kt-aside__brand-aside-toggler{
	display:none !important;
}
.kt-header{
	height:40px !important;
}
.kt-menu__link-text{
	font-family:"Open Sans",sans-serif !important;
  font-size:14px !important;
}
.kt-aside__brand{
	height:40px !important;
}
.kt-brand-dark .kt-aside__brand{
	background-color:white !important;
	display: none;
}
.kt-content{
	padding:10px 0 !important;
}
.sub-profiles{
	position: relative;
	top:30px;
	// top: 60px;
	left: 25px;
	color: rgba(255,255,255,.75);
	font-size: 12px !important;
	font-weight:400;
}
.profile-arrow{
	color: rgba(255,255,255,.75);
	position: absolute;
	right: 40px;
	font-size: 14px;
	// top: 78px;
	top:50px;
}
.logout-icon{
	margin-top:10px;
}
.logout-profile{
	 background:transparent;
	 border:none;
	 color: #434349;
}
.kt-portlet .kt-portlet__head{
  min-height:40px !important;
}
.custom-btn{
	// padding: 4px 10px !important;
    font-size: 13px !important;
	line-height: 1.5 !important;
	font-family:"Open Sans",sans-serif !important;
	padding-top:4px !important;
	padding-bottom:4px !important;
}
.dataTables_filter .form-control-sm{
	height:25px !important;
}
.custom-select-sm{
	height:30px !important;
}
// bread crumb
kt-portlet-header{
    //   background:#DEDBDA;
    background:#DBD9DE;
  }
  //modal box width for sm
  .center-modalsm .modal-dialog{
    	max-width:420px;
	 }
	 .center-modalextralg .modal-dialog{
		max-width:1100px;
 }
	 .center-modalheight .modal-dialog {
		   max-width:420px !important;
		}
	 .center-modalheight .modal-content {
			 max-height:500px;
			 overflow-y:scroll;
		 }
   // global table changes css
   td i {
	font-size:14px !important;
	//old table icon color
    //  color:#5d78ff;
	// color:#3598dc;
	color:grey;
}
table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse !important;
    table-layout: fixed; 
    word-wrap:break-word; 
  }
  td button{
	  padding:0px !important;
  }
  thead th {
	// font-size: 0.6em;
	padding: 5px !important;
	height: 15px;
  }
  //button cancel color change
  .btn-outline-red{
	border-color: #e7505a !important;
    color: #e7505a !important;
    background-color: #fff !important;
  }
  .btn-outline-red:hover{
	border-color: #e7505a !important;
    color: #fff !important;
    background-color: #e7505a !important;
  }
  //form select size change
  .custom-forms input{
		// padding:0px !important;
		padding-bottom:2px !important;
		padding-top:2px !important;
	  height:31px !important;
	}
	.custom-forms select{
		// padding:0px !important;
		padding-bottom:2px !important;
		padding-top:2px !important;
	  height:31px !important;
  }
  // .custom-forms .control-label{
	//     display:flex !important;
  //     align-items: center !important;
  // }
  // table column size reduce and center align 
  .max-tables{
	width:70px !important; 
	text-align:center;
   }
   .modal-title{
	   font-size:1.2rem !important;
	 }
	 //delete btn color 
	 .trash{
	  color: #e7505a;
	 }
	 //modal openinga t bottom first and then center issue
	// 	 body.modal-open {
	// 		overflow: hidden !important;
	// 		position: fixed !important;
	// }

	.modal-open {
		overflow-y: scroll;
	}
  .datatable-center{
		text-align:center;
	}
	//sample template hover color
	#file-upload:focus{
		outline:none !important;
	}
	.sample-temp:hover{
		text-decoration: underline;
		cursor:pointer;
		color:#3498db;
	}
	.dropdown-item:active{
		background:#ccc !important;
	}
	//capitalize the table
	table td{
		text-transform: capitalize;
	}
	.dropdown-menu a{
		padding: 0.7rem 0.8rem!important;
	}
   
//tabs design 
.nav-link.active, .nav-pills .show > .nav-link {
    // background-color: #ccc !important;
    color: purple !important;
    border-radius: 0;
		// border-bottom: 2px solid #CD853F !important; 
		border-bottom: 2px solid purple !important; 
    padding-bottom: 2px;   
    border-top: none !important;   
    border-right: none !important;   
    border-left: none !important;     
  }
  .nav-link {
    color: gray !important;
		border-top: none !important;   
		border-right: none !important;   
    border-left: none !important;     
		padding-top:5px !important;
		padding-bottom: 5px !important;
  }
  .nav-tabs{
    border-bottom: 0 !important;
    justify-content:flex-end !important;
    margin-bottom:20px !important;
    // background: #eee;
    // border:1px solid #000;
  }
  .nav-item{
    margin-right:5px;
  }
  .tst{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  button[data-ktwizard-type="action-next"] {
	background-color: #fff;
	color:#0abb87 !important;
	border-color:#0abb87;
	}
	// button[data-ktwizard-type="action-next"]:disabled{
	// 	background-color: #fff;
	// 	}
  button[data-ktwizard-type="action-next"]:hover {
	background-color: #0abb87 !important;
	color:#fff !important;
	border-color:#0abb87 !important;
  }
  button[data-ktwizard-type="action-next"].active {
	background-color: #0abb87 !important;
	color:#fff !important;
	border-color:#0abb87 !important;
  }
  button[data-ktwizard-type="action-prev"] {
	background-color: #fff;
	color:#008892 !important;
	border-color:#008892;
  }
  button[data-ktwizard-type="action-prev"]:hover {
	background-color: #008892 !important;
	color:#fff !important;
	border-color:#008892 !important;
  }
  button[data-ktwizard-type="action-prev"].active {
	background-color: #008892 !important;
	color:#fff !important;
	border-color:#008892 !important;
	}
	//edit color gray
	.fa-edit{
		color:gray !important;
	}
	.la-calendar{
    color:white !important;
	}
	// disabled button
	.disabled{
		cursor:no-drop !important;
	}
	// bulk upload 
	.nopadding{
		padding:0px !important;
	}
	.sample-temp:hover{
		text-decoration: underline !important;
		cursor:pointer !important;
		color:#3498db !important;
	}
	//camel case in input tag
	/*.form-control{
		text-transform:capitalize;
	}*/
	thead th{
		text-transform: capitalize;
	}
	.header-btn{
		position:absolute;
		right:50px;
	}
	.modal-title{
		text-transform:capitalize;
	}
	.custom-forms textarea{
		height:auto !important;
	} 
	//css for status icon
	.status-btn{
		pointer-events:none !important;
	}
	//common css for circle button
	.icon-green{
		color:#0abb87;
	}
	//menu with dots on submenu remove css
.kt-menu__item  .kt-menu__link-bullet--dot{
	display:none !important;	 
}
// .kt-menu__item{
//    height:35px;
// }
  // .ps__thumb-y{
  //  	height:400px !important;
	// }
	.table td a{
		cursor:pointer;
	}
	.table td button{
		cursor:pointer !important;
	}
	.table td i{
		cursor:pointer;
	}
	.logout-overall i{
		cursor:pointer;
	}
	//service grioup modal popup
	.center-modalchecklist .modal-content{
		height:500px;
	}
	//button disabled added drop cur sor
	.disabledsubmit{
    cursor:not-allowed;
    pointer-events: all !important;
}
//sweet alert button change
.swal2-confirm{
	border:1px solid rgb(48, 133, 214) !important;
	border-radius:2em !important;
	background:white !important;
	color:rgb(48, 133, 214) !important;
	order:2;
}
.swal2-confirm:hover{
	border:1px solid rgb(48, 133, 214) !important;
	border-radius:2em !important;
	background:rgb(48, 133, 214) !important;
	color:white!important;
}
.swal2-cancel{
	border:1px solid rgb(221, 51, 51) !important;
	border-radius:2em !important;
	background:white !important;
	color:rgb(221, 51, 51) !important;
}
.swal2-cancel:hover{
	border:1px solid rgb(221, 51, 51) !important;
	border-radius:2em !important;
	background:rgb(221, 51, 51) !important;
	color:white!important;
}
//second menu in responsive hide
#kt_header_mobile_toggler{
	display:none !important;
}
@media screen and (max-width: 1024px){
	#kt_wrapper{
		padding-left:0px !important
	 }
}
//Table responsive in large screen
.tablewidth{
	width:20%;
}
//text-area color
.colortext-area{
	color:#646c9a !important;
}

.disablesubmit{
	cursor: not-allowed;
}
//popup bold and weight
.popupcolor{
	font-weight:bold !important;
	text-align:right;
}
//location and description text overflow
.overflow-details{
   overflow-wrap:break-word !important;
}
//table with manager status highlight
.managerstatus{
	background-color: #659be0;
	color:white;
}
//label with browser
.custom-file-label{
	overflow: hidden;
  white-space:nowrap;
}
.kt-spinner.kt-spinner--info:before {
	border: 3px solid #777777 !important;
	border-right: 2px solid transparent !important;
}
.kt-spinner.kt-spinner--login:before {
	border: 3px solid #16a085 !important;
	border-right: 2px solid transparent !important;
	right:5px !important;
}

.kt-header-mobile__toolbar{
	float: right;
}
// .kt-login__aside{
// 	background:url('../src/assets/images/loginbg.jpg');
// 	height:400px;
// }

//login design css
.login-email{
	height: 40px;
	border-radius: 5px;
	// width: 80%;
	outline: none !important;
	border: 1px solid #e4e7ec;
	padding-left:10px;
}
.password-login{
	width: 70% !important;
}
.signinheader{
	font-size:22px !important;
	color:#7c7c7c !important;
}
// .bggif{
// 	background-image: url('http://i.stack.imgur.com/kx8MT.gif');
// 	background-size: cover;
// 	height: 100vh;
// 	padding:0;
// 	margin:0;
// }
.login-eye{
	margin-left: -25px;
	position: relative;
	margin-top:20px;
}
.ftrlgntext{
	font-size:11px;
	position:absolute;
	bottom:0px;
	color: black;
}
.para p{
	color:black;
	font-weight:400;
}
.mat-datetimepicker-content{
	z-index:2000 !important;
	}
	.cdk-overlay-container{
	z-index:2000 !important;
	}
	.mat-datetimepicker-calendar-header{
	background:blue !important;
	}
	.closecolor{
		color:#e7505a;
		opacity:1;
 }

@media only screen and (max-width: 1024px) {
	.ftrlgntext{
		position:relative;
		margin-top:20px;
	}
}
.myCustomModalClass .modal-dialog{
	max-width:55% !important;
	}
.carousel-control-prev-icon{
	background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;

 }
 .carousel-control-prev{
	height:304px !important;
 }
 .carousel-control-next{
	height:304px !important;
 }
 .carousel-control-next-icon{
		background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
 }
 .carousel-indicators li {
	 display:none !important;
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
	display:none !important;
  background-color: #444 !important;
}
.hide_allowance .nav-tabs .nav-item:nth-of-type(1){
	display:none !important;
	opacity:0 !important;
}

.multiselect-dropdown .dropdown-btn{
	border:1px solid #e2e5ec !important;
}
.multiselect-dropdown .dropdown-btn span{
	color:#74788d !important;
}
.multiselect-dropdown .dropdown-btn .selected-item{
	color:white !important;
}
.control-label{
	color: #63686e;
	font-weight: 500 !important;
}
.dataTables_empty 
{
    display: none !important;  
}
.filter-input-area .multiselect-dropdown{background: #fff;}
.filter-input-area{
	.mat-form-field-wrapper{
		.mat-form-field-flex{
			background:#fff;padding:3px 5px;border:1px solid #ddd;border-radius:3px;
			.mat-form-field-infix {
				padding:0;
				input{height:21px}
			}
		} 
	}
} 
.general-container{
	width:100%;
	border:1px solid #ddd;
	.general-container-header{background: #f7f7f7;padding:5px 10px;border-bottom:1px solid #ddd;float:left;width:100%;
		h2{float:left;color:#333;font-size: 18px;line-height:30px;margin:0;}
	}
	.general-container-body{padding:10px;width: 100%;float: left;}
}