
<script src="assets/js/maps_tracking.js"></script>  

 <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-sm-4" id="toplogo">
                <img id="halimage" src="https://kaspontech.com/fieldpro_v2/assets/upload/WhirlpoolBRAND-R-2017Logo_2C_B.jpg">
            </div> -->
            <div class="col-sm-8" id="messages"></div>
        </div>
            <!--<div class="row page-details">
        		<div class="col-md-3 col-sm-6">
            		<div class="tickets-data blue">
                		<div class="text-data"> Total Open Tickets </div>
                		<div class="data-count1"> 7 </div>
            		</div>
        		</div>
    		<div class="col-md-3 col-sm-6">
        		<div class="tickets-data red">
            		  <div class="text-data"> Total Delayed Tickets </div>
        		      <div class="data-count1"> 3 </div>
        		</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
        		<div class="tickets-data green">
                		<div class="text-data"> Total Completed Tickets</div>
                		<div class="data-count1"> 10 </div>
        		</div>
    		</div>
    		<div class="col-md-3 col-sm-6">
        		<div class="tickets-data purple">
                		<div class="text-data"> SLA </div>
                		<div class="data-count1"> 30% </div>
        		</div>
    		</div>
    		</div> -->
		<span class="clearfix"></span>
        <div class="row">
            <div class="col-sm-12" id="mapdiv">
                <div id="map-canvas"  tabindex="0" style="position: relative;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="selectdiv">
                <select id="routeSelect" tabindex="1"></select>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3 deletediv">
                <input type="button" id="delete" value="Delete" tabindex="2" class="btn btn-primary">
            </div> 
            <div class="col-sm-4 autorefreshdiv">
                <input type="button" id="autorefresh" value="Auto Refresh Off" tabindex="3" class="btn btn-primary">
            </div>
            <div class="col-sm-4 refreshdiv">
                <input type="button" id="refresh" value="Refresh" tabindex="4" class="btn btn-primary">
            </div>-->
            <div class="col-sm-4 viewalldiv">
                <input type="button" id="viewall" value="View All" tabindex="5" class="btn btn-primary">
            </div>
        </div>
    </div>     
    


