<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header [title]="'Create Package'">
        <!--heading for portlet-->
        Create
    </kt-portlet-header>
    <kt-portlet-body>
        <!-- To Add New Package -->
        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper subscription-fullwidth">
            <div class="kt-wizard-v4__content subscription-width" data-ktwizard-type="step-content"
                data-ktwizard-state="current">
             
                <div class="kt-form__section kt-form__section--first" align="center">
                    <div class="kt-wizard-v4__form">
                        <div class="row">
                            <label class="control-label col-sm-4"> Package Name </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" [(ngModel)]="myInput">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="text-center">
                            <button mat-raised-button color="primary" type="button" (click)="addpackage(myInput)"
                                class="btn btn-success btn-md kt-font-bold kt-font-transform-u"
                                data-ktwizard-type="action-submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <br>
         <!-- To Display the packages -->
         <div>
            
        <table class="table table-striped table-bordered table-sm row-border hover datatable"  >
           
            <thead>
                <!-- columns for  table -->
                <tr>
                    <th class="kt-footer kt-container">S.no</th>
                    <th class="kt-footer kt-container">Package</th>
                    <th class="kt-footer kt-container">Status</th>
                    <th class="kt-footer kt-container">Action</th>
                </tr>
            </thead>
         
            <tbody>
                <!-- values from the api.For loop to populate the datas -->
                <tr *ngFor="let item of package_details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.package_name}}</td>
                    <td> <span *ngIf='item.status == 1'>Active</span>
                        <span *ngIf='item.status == 0'>Block</span></td>
                    <td >
                        <!-- icons for edit and delete -->
                        <button class="btn btn-base" (click)="openLarge(edit_package);editpackage(item)">
                            <i class="fa fa-edit" style="font-size:21px;color:#5d78ff"
                                aria-hidden="true"></i></button>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
</div>
    </kt-portlet-body>
</kt-portlet>
    <!--Modal box to edit the package details-->            
                <ng-template #edit_package let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <!-- title for renew -->
                      <h4 class="modal-title">Edit Package</h4>
                      <!-- icon for close -->
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- body begin -->
                    <div class="modal-body">
                      <kt-portlet [class]="'kt-portlet--height-fluid'">
                        <!-- begin body for portlet-->
                        <kt-portlet-body>
                          <div class="kt-section">
                            <!-- Form group for renewal license -->
                            <form class="form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate" [formGroup]="Edit_package_form"  (ngSubmit)="editform(edit_data)">
                                <div class="form-wizard">
                                    <div class="form-body">
                                        <!-- empty row -->
                                        <div class="row" style="display:none">
                                            <!-- label for CompanyID-->
                                            <label class="control-label col-lg-4"> packageid</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" name="hidden_companyid" formControlName="package_id"
                                                    id="hidden_companyid" readonly="">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <!-- label for Company Name-->
                                            <label class="control-label col-lg-4"> Package Name </label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" name="package_name" formControlName="package_name"
                                                    id="package_name" >
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <!-- label for Subscription-->
                                            <label class="control-label col-lg-4">Status</label>
                                            <div class="col-lg-8">
                                                <!-- dropdown for subscription plan -->
                                                <select class="form-control" name="subsplan" id="subsplan" formControlName="status"
                                                    data-placeholder="Choose a Category" tabindex="1">
                                                    <option value="1">Active</option>
                                                    <option value="0">Block</option>
                                                </select>
    
                                            </div>
                                        </div>
                                        <br>
                                      
                                    </div>
                                    <!-- form actions begin -->
                                    <div class="form-actions" class="text-center">
                                        <div class="row">
                                            <!-- column for submit button -->
                                           
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                    <!--c('Close click') used for close the model box  -->
                                                    <!-- <button type="button" class="btn btn-secondary"
                                                        (click)="c('Close click')">cancel</button> -->
                                                </div>
                                           
                                        </div>
                                    </div>
                                    <!-- form actions end -->
                                </div>
                            </form>
                            <!-- end form group -->
                          </div>
                          <div class="kt-separator kt-separator--dashed"></div>
                  
                  
                        </kt-portlet-body>
                        <!-- end body for portlet-->
                      </kt-portlet>
                    </div>
                  </ng-template>
                  