<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'AMC.TITLE' | translate}}">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)="openLarge(add_amc)">{{'AMC.ADD_AMC' | translate}}
            </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>

        <!-- To Display the packages -->
        <div class="table-responsive">
            <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <!-- columns for  table -->
                    <tr>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th class="kt-footer kt-container tablewidth amctablecenter">{{'AMC.AMC' | translate}} </th>
                        <th class="kt-footer kt-container tablewidth amctablecenter">{{'AMC.DURATION' | translate}}</th>
                        <!-- <th class="kt-footer kt-container tablewidth">{{'AMC.COST' | translate}}</th> -->
                        <th class="kt-footer kt-container tablewidth max-tables">{{'NEW_SUBSCRIPTION.STATUS' | translate}}</th>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>

                    </tr>
                </thead>

                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of amc_details;let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td class="datatable-center">{{item.amc_type}}</td>
                        <td class="datatable-center">{{item.duration}}</td>
                        <!-- <td>{{item.cost}}.00 </td> -->
                        <td class="datatable-center status-cursor">
                            <button style="padding:0px" class="btn btn-base status-btn">
                                <a *ngIf='item.status == 1'><i class="far fa-check-circle" style="color:#0abb87;"
                                        aria-hidden="true"></i></a>
                            </button>
                            <button style="padding:0px" class="btn btn-base">
                                <a *ngIf='item.status == 0'><i class="fas fa-ban" style="color:#dc3545;"
                                        aria-hidden="true"></i></a>
                            </button></td>

                        <td class="datatable-center">
                            <button style="padding:0px" class="btn btn-base"
                                (click)="openLarge(edit_amc);editAmc(item) ">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>

                            <button style="padding:0px" class="btn btn-base" (click)="trashamc(item)">
                                <i class="fa fa-trash trash" aria-hidden="true"></i>
                            </button>


                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="color: red;">{{error}}</p>
        </div>
    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>


<!--Modal box to add the amc details-->
<ng-template #add_amc let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for Amc -->
        <h4 class="modal-title"> {{'AMC.ADD_AMC' | translate}}:</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- begin body for portlet-->
        <!-- Form group for renewal license -->
        <form id="form_body" [formGroup]="addAmcForm" novalidate=""
            class="custom-forms ng-untouched ng-pristine ng-valid">
            <div class="row">
                <label class="control-label col-lg-5"> {{'AMC.AMC' | translate}}:</label>
                <div class="col-lg-7">
                    <input placeholder="Enter Contract" type="text" formControlName="amc_type" class="form-control" />
                    <div *ngIf="f.amc_type.errors && (f.amc_type.dirty || f.amc_type.touched)" class="m-b-10 error">
                        <div *ngIf="f.amc_type.errors.required" style="color:red">{{'AMC.AD_AMCREQUIRED' | translate}}
                        </div>
                        <div *ngIf="!addAmcForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'AMC.AMC' | translate}}
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-lg-5"> {{'AMC.DURATION' | translate}}:</label>

                <div class="col-lg-7">
                    <input maxlength="3" (keypress)="numberOnly($event)" placeholder="Enter Duration" formControlName="duration" class="form-control" />
                    <div *ngIf="f.duration.errors && (f.duration.dirty || f.duration.touched)" class="m-b-10 error">
                        <div *ngIf="f.duration.errors.required" style="color:red">
                            {{'AMC.AD_DURATIONREQUIRED' | translate}}
                        </div>
                        <div *ngIf="f.duration.errors.pattern" style="color:red">
                            {{'AMC.AD_DURATIONPATTERNS' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <div class="row" style="display: none;">
                <label class="control-label col-lg-5"> {{'AMC.COST' | translate}}:</label>
                <div class="col-lg-7">
                    <input   placeholder="Enter Cost" (keypress)="numberOnly($event)" maxlength="8" formControlName="cost" class="form-control" />
                    <div *ngIf="f.cost.errors && (f.cost.dirty || f.cost.touched)" class="m-b-10 error">
                        <div *ngIf="f.cost.errors.required" style="color:red">{{'AMC.AD_COSTRQUIRED' | translate}}
                        </div>
                        <div *ngIf="f.cost.errors.pattern" style="color:red"> {{'AMC.COST' | translate}}{{'NEW_SUBSCRIPTION.DIGI'
                        |translate}}
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!-- end form group -->
        <!-- <br> -->
        <p style="color: red;">{{error}}</p>
        <!-- end body for portlet-->
    </div>
    <div class="modal-footer">
        <div class="form-actions" class="text-center">
            <div class="row">
                <div class="">
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                        (click)="onSubmit()" [disabled]=!addAmcForm.valid>{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
                </div>
            </div>
        </div>

    </div>
</ng-template>


<!-- Modal box for edit amc type -->
<ng-template #edit_amc let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- title for renew -->
        <h4 class="modal-title">{{'AMC.EDIT_AMCDETAILS' | translate}}:</h4>
        <!-- icon for close -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- begin body for portlet-->
        <!-- Form group for renewal license -->
        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="editAmcForm">
            <div class="row">
                <label class="control-label col-lg-5">{{'AMC.AMC' | translate}}:</label>
                <div class="col-lg-7">
                    <input placeholder="Enter Contract" type="text" formControlName="amc_type" class="form-control" />
                    <div *ngIf="e.amc_type.errors && (e.amc_type.dirty || e.amc_type.touched)" class="m-b-10 error">
                        <div *ngIf="e.amc_type.errors.required" style="color:red">{{'AMC.AD_AMCREQUIRED' | translate}}
                        </div>
                        <div *ngIf="!editAmcForm.hasError('whitespace')" style="color:red">
                            {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                            {{'AMC.AMC' | translate}}
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-lg-5">{{'AMC.DURATION' | translate}}:</label>
                <div class="col-lg-7">
                    <input placeholder="Enter Duration"  (keypress)="numberOnly($event)" maxlength="3" type="text" formControlName="duration"  class="form-control" />
                    <div *ngIf="e.duration.errors && (e.duration.dirty || e.duration.touched)" class="m-b-10 error">
                        <div *ngIf="e.duration.errors.required" style="color:red">
                            {{'AMC.AD_DURATIONREQUIRED' | translate}}
                        </div>
                        <div *ngIf="e.duration.errors.pattern" style="color:red">
                            {{'AMC.AD_DURATIONPATTERNS' | translate}}
                        </div>


                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="display: none;">
                <label class="control-label col-lg-5">{{'AMC.COST' | translate}}:</label>
                <div class="col-lg-7">
                    <input placeholder="Enter Cost"  (keypress)="numberOnly($event)" maxlength="8" formControlName="cost" class="form-control" />
                    <div *ngIf="e.cost.errors && (e.cost.dirty || e.cost.touched)" class="m-b-10 error">
                        <div *ngIf="e.cost.errors.required" style="color:red">{{'AMC.AD_COSTRQUIRED' | translate}}
                        </div>
                        <div *ngIf="e.cost.errors.pattern" style="color:red"> {{'AMC.COST' | translate}}{{'NEW_SUBSCRIPTION.DIGI'
                        |translate}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <label class="control-label col-lg-5">{{'NEW_SUBSCRIPTION.STATUS' | translate}}:</label>
                <div class="col-lg-7">
                    <select class="form-control" name="subsplan" id="subsplan" formControlName="status"
                        data-placeholder="Choose a Category">

                        <option value="1">Active</option>
                        <option value="0">Block</option>
                    </select>
                    <div *ngIf="e.status.errors && (e.status.dirty || e.status.touched)" class="m-b-10 error">
                        <div *ngIf="e.status.errors.required" style="color:red">{{'NEW_SUBSCRIPTION.REQ' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
        </form>

        <p style="color: red;">{{error}}</p>
        <!-- end body for portlet-->
    </div>

    <!-- end form group -->
    <div class="modal-footer">
        <!-- form actions begin -->
        <div class="form-actions">
            <div class="row">
                <!-- column for submit button -->
                <div class="">
                    <!-- button for close -->
                    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
                        (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
                    <!-- button for update -->
                    <button type="submit" class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn disabledsubmit"
                        (click)="updateAmc(edit_data)" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}"
                        [disabled]="!editAmcForm.valid">{{'PACKAGE_PLAN.UPDATE' | translate}}</button>

                </div>
            </div>
        </div>
        <!-- form actions end -->
    </div>
</ng-template>