.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: #3CB371   }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:#3CB371;  }
    100%{   color: #3CB371;    }
}

.blink{
    animation:blink 1s infinite;
}
@keyframes blink{
    0%{     color: #ff0000;   }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:#ff0000;  }
    100%{   color: #ff0000;    }
}
// .kt-portlet__body {
//     margin-top: -92px;
// }
// .i.fa.fa-edit{
//     // display: inline-block;
//     // margin-top: -10px;
// }
// i.far.fa-check-circle{
//     display: inline-block;
//     // margin-left: -12px;
//     // margin-top: 0px !important;
//     // float: left !important;
// }
// i.fas.fa-ban{
//     display: inline-block;
//     margin-left: -12px;
//     margin-top: 0px !important;
//     // float: left !important;
// }
// i.fa.fa-trash{
//     // display: inline-block;
//     // margin-left: 19px;
//     // margin-top: -50px !important;
//     // float: left !important;
// }
.form-body {
    margin-top: 0px;
}
button.btn.btn-primary {
    margin-right: 1%;
}
// .title{
//     padding: 2%;
// }
.kt-section {
    margin-top: 11%;
}
.kt-heading{
    margin-top: 65px;
    margin-left: 10px;
}
// button.btn.btn-info.pull-right.width {
//     margin-top: -55px;
// }
.kt-separator {
    margin:0px;
}
.status-cursor{
    cursor:pointer; 
}
.disabledsubmit{
    cursor:not-allowed;
    pointer-events:all;
}
.tablewidth{
    width:20%;
}
.amctablecenter{
    text-align:center;
}