<kt-portlet [class]="'kt-portlet--height-fluid'">
  <kt-portlet-header title="	{{'ONGO.TITLE' | translate}}">
    <!--heading for portlet-->
  </kt-portlet-header>
  <!-- begin body for portlet-->
  <kt-portlet-body>
    <div class="kt-section__content">
      <ngb-tabset [justify]="currentJustify" (tabChange)="findtab($event)" #tab>
        <!-- tab for Work-in-progress Tickets -->
        <ngb-tab title="Work-in-Progress Tickets" id="tab-selectbyid1">
          <ng-template ngbTabContent>
            <kt-portlet-body class="portlet__body">
              <!-- Filter for Work in Progress : Begin -->
              <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                [formGroup]="ProductLocation">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-lg-2 pull-right">
                      <select formControlName="location_id" class="form-control" #location name="location_id"
                        (change)="filter_tickets()">
                        <option value="">{{'SPARE.SLCTLOC'|translate}}</option>
                        <option *ngFor="let location of locations" value="{{location.location_id}}">
                          {{location.location_name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-2 pull-right">
                      <select formControlName="product_id" class="form-control" #product (change)="filter_tickets()">
                        <option value="">{{'SPARE.SLCTPRO'|translate}}</option>
                        <option *ngFor="let product of products" value="{{product.product_id}}">
                          {{product.product_name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
              <br>
              <!-- Filter for Work in Progress : End -->
              <!-- Table for work in Progress : Begin -->
              <div class="table-responsive">
              <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                  <!-- columns for  table -->
                  <tr>
                    <th class="kt-footer kt-container max-tables">
                      {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.TCKID' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.CUS_NAME' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.TECH_ID' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.VISIT' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'USER.LOCATION' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.ACTION' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.REASON' | translate}}
                    </th>
                    <th class="kt-footer kt-container tablewidth">
                      {{'ONGO.START_TIME' | translate}}</th>
                      <th class="kt-footer kt-container tablewidth max-tables">
                        {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                        <th class="kt-footer kt-container tablewidth max-tables">
                          ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of working_in_progress_tckts; let i = index">
                    <td class="datatable-center">{{i+1}}</td>
                    <td>
                      <a class="button" (click)="get_ticket_details(item.ticket_id,view_tcktdetails)"
                        data-placement="right" ngbTooltip="View Details">
                        {{item.ticket_id}}</a>
                    </td>
                    <td>{{item.customer_name}}</td>
                    <td> <a class="button" data-placement="right" ngbTooltip="View Details"
                        (click)="get_technician_details(item.ticket_id,item.technican_id,view_techniciandetails)">{{item.technican_id}}</a>
                    </td>
                    <td>{{item.schedule_next}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.plan_of_action}}</td>
                    <td>{{item.inprogress_reason}}</td>
                    <td>{{item.ticket_start_date_time}}</td>
                    <td class="datatable-center">  <a  style="cursor: pointer;"
                      (click)="downloadPdf(item.ticket_id)"><i class="fas fa-file-pdf"
                        aria-hidden="true"></i>
                    </a></td>
                    <td class="datatable-center" *ngIf="item.inprogress_reason == 'OTP not received from customer'">--
                      <!-- <a  data-placement="bottom" ngbTooltip="Ticket Complete" (click)="customer_feedback_modal(CustomerFeedBack,item)"
                        class="button">Force Complete</a> -->
                    </td>
                    <td class="datatable-center" *ngIf="item.inprogress_reason != 'OTP not received from customer'">
                      <button style="padding:0px;" class='btn   btn-base' data-placement="left"
                      ngbTooltip="Reassign"  (click)="re_assign_technician(item.ticket_id,TechnicianTable)">
                    
                      <img src="assets/images/ressignadded.png">
                    </button>
                    
                    </td>
                  </tr>
                </tbody> 
              </table>
              </div>
              <!-- Table for work in Progress : End -->

            </kt-portlet-body>
          </ng-template>
        </ngb-tab>

        <!-- tab for Escalated Tickets -->
        <ngb-tab title="Escalated Tickets" id="tab-selectbyid2">
          <ng-template ngbTabContent>
            <kt-portlet-body class="portlet__body">
              <!-- Filter for Escalted: Begin -->
              <form class="custom-forms form-horizontal" action="#" id="cust_data" method="POST" novalidate="novalidate"
                [formGroup]="ProductLocation">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-lg-2 pull-right">
                      <select formControlName="location_id" class="form-control" #location name="location_id"
                        (change)="filter_tickets()">
                        <option value="">{{'SPARE.SLCTLOC'|translate}}</option>
                        <option *ngFor="let location of locations" value="{{location.location_id}}">
                          {{location.location_name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-2 pull-right">
                      <select formControlName="product_id" class="form-control" #product (change)="filter_tickets()">
                        <option value="">{{'SPARE.SLCTPRO'|translate}}</option>
                        <option *ngFor="let product of products" value="{{product.product_id}}">
                          {{product.product_name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
              <br>
              <!-- Filter for Escalted: End -->
              <div class="kt-section__content" style="padding: 8px;">
                <!-- Table for Escalated : Begin -->
                <div class="table-responsive">
                <table *ngIf="showTableEscalate" datatable="ng" [dtOptions]="dtOptions"
                  class="table table-striped table-bordered table-sm row-border hover datatable">
                  <thead>
                    <!-- columns for  table -->
                    <tr>
                      <th class="kt-footer kt-container  max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">
                        {{'ONGO.TCKID' | translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">
                        {{'ONGO.CUS_NAME' | translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">
                        {{'ONGO.ESCALATE' | translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">
                        {{'ONGO.PRE_TECH' | translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">
                        {{'ONGO.PRODUCT_CATEGORY' | translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">
                        {{'ONGO.SUB_CATEGORY' | translate}}</th>
                      <th style="width: 15%;" class="kt-footer kt-container ">{{'USER.LOCATION' | translate}}
                      </th>
                    
                        <th class="kt-footer kt-container tablewidth max-tables">
                          {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                          <th class="kt-footer kt-container max-tables ">
                            {{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let items of esclated_tickets; let i = index">
                      <td class="datatable-center">{{i+1}}</td>
                      <td>
                        <a class="button" (click)="get_ticket_details(items.ticket_id,view_tcktdetails)"
                          data-placement="right" ngbTooltip="View Details">
                          {{items.ticket_id}}</a>
                      </td>
                      <td>{{items.customer_name}} </td>
                      <td> <a class="button" data-placement="right" ngbTooltip="View Details"
                          (click)="get_technician_details(items.ticket_id,items.esclated_technican_id,view_techniciandetails)">{{items.esclated_technican_id}}</a>
                      </td>
                      <td>{{items.prev_technician_id}}</td>
                      <td>{{items.product.product_name}}</td>
                      <td>{{items.subproduct.product_sub_name}}</td>
                      <td>{{items.location}}</td>
                      <td class="datatable-center">
                        <a  style="cursor: pointer;"
                        (click)="downloadPdf(items.ticket_id)"><i class="fas fa-file-pdf"
                          aria-hidden="true"></i>
                      </a>
                      </td>
                      <td class="datatable-center">
                        <button style="padding:0px;" class='btn   btn-base'  data-placement="left" ngbTooltip="Assign"
                          (click)="re_assign_technician(items.ticket_id,TechnicianTable)">
                          <!-- <i class="fas fa-user-check"></i> -->
                          <img src="assets/images/assignIcon18.png" class="assignImage">
                      </button>
                      </td>                     
                    </tr>
                  </tbody>
                </table>
              </div>
                <!-- Table for Escalated : End -->
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>

        <!-- tab for Spare Requested Tickets -->
        <ngb-tab title="Spare Requested Tickets" id="tab-selectbyid3">
          <ng-template ngbTabContent>
            <kt-portlet-body class="portlet__body">
              <div class="kt-section__content">
                <!-- Table for Spare Requested Ticket: Begin -->
                <div class="table-responsive">
                <table *ngIf="showTableRequestSpare" datatable="ng" [dtOptions]="dtOptions"
                  class="table table-striped table-bordered table-sm row-border hover ">
                  <thead>
                    <tr>
                      <th class="kt-footer kt-container  max-tables">
                        {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container ">
                        {{'ONGO.TCKID' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container ">
                        {{'ONGO.CUS_NAME' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container ">
                        {{'ONGO.TECH_ID' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container  datatable-center">
                        {{'ONGO.SPARE_REQUEST' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container ">
                        {{'ONGO.LEAD' | translate}}</th>
                      <th style="width: 20%;" class="kt-footer kt-container">
                        {{'NEW_SUBSCRIPTION.STATUS' | translate}}</th>
                        <th class="kt-footer kt-container  max-tables">
                          {{'COMTICK.DOWNLOADSCTR' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of spare_requested_ticket; let i = index">
                      <td class="datatable-center">{{i+1}}</td>
                      <td>
                        <a class="button" (click)="get_ticket_details(item.ticket_id,view_tcktdetails)"
                          data-placement="right" ngbTooltip="View Details">
                          {{item.ticket_id}}</a>
                      </td>
                      <td>{{item.customer_name}}</td>
                      <td> <a class="button" data-placement="right" ngbTooltip="View Details"
                          (click)="get_technician_details(item.ticket_id,item.technican_id,view_techniciandetails)">{{item.technican_id}}</a>
                      </td>
                      <td class="datatable-center"> 
                        <a class="button" data-placement="right" ngbTooltip="View Spare"
                          (click)="get_spare_details(item.ticket_id,view_requested_spare)">
                          {{'RAISETCKT.VIEW' | translate}} 
                          <!-- <i class="fa fa-eye" style="color:#0abb87;cursor: pointer;" aria-hidden="true"></i> -->
                        </a>
                      </td>
                      <td>{{item.lead_time}}</td>
                      <td>
                        <span class="managerstatus">{{item.spare_status_name}}</span>
                      </td>
                      <td class="datatable-center">
                        <a style="cursor: pointer;"
                        (click)="downloadPdf(item.ticket_id)"><i class="fas fa-file-pdf"
                          aria-hidden="true"></i>
                      </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <!-- Table for Spare Requested Ticket: End -->
              </div>
            </kt-portlet-body>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </kt-portlet-body>
  <!-- end body for portlet-->
</kt-portlet>

<!--Customer Bulk upload : Begin-->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'CUSTOMER.BULK' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-3 text-center">
        <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
          href="assets/sample_templates/customer.xlsx">{{'CUSTOMER.SAMPLE'| translate}}</a>
      </div>
      <div class="col-sm-9">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new" id="span-button">
              </span>
              <input type="hidden" value="" name="file-upload">
              <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="filesubmit(myInput)"><i class="fa fa-upload"
        aria-hidden="true"></i>{{'CUSTOMER.UPLOAD'| translate}}</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
  </div>
</ng-template>
<!--Customer Bulk upload : End-->

<!--Ticket details View : Begin-->
<ng-template #view_tcktdetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ticket Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row">
      <div class="col-lg-6">
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TCKID' | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details">{{ticket_details.ticket_id}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'NEWTCKT.CUS_NAME' |
          translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details">
          {{ticket_details.customer_name}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputPassword3">
          {{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details">{{ticket_details.contact_number}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputPassword3">
          {{'USER.LOCATION' | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details overflow-details">{{ticket_details.location}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRODUCT'
          | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.product_category}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
          {{'NEWTCKT.CALLCAT' | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.call_category}}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SERVCAT'
          | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.contract_type}}</div>
      </div>

      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
          {{'NEWTCKT.PROB' | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.problem}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.PRI' |
          translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details">{{ticket_details.priority}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
          {{'NEWTCKT.WRKTYP' | translate}}:</label>
        <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.work_type}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">
        {{'MANAGECONT.SERIALNO' | translate}}:</label>
      <div class="col-lg-6 txt_clr overflow-details"> {{ticket_details.serial_no}}</div>
    </div> 
  </div>
</div>
    </form>
  </div>
</ng-template>
<!--Ticket details View : End-->

<!--Technician details View : Begin-->
<ng-template #view_techniciandetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'TRANSFERSPARE.DETAILS' | translate}}:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'REIM.TECHID' | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.technician_code}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-6 control-label popupcolor" for="inputPassword3">{{'REIM.TECHN' | translate}}:</label>
        <div class="col-lg-6 txt_clr">
          {{technicians_details.full_name}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor"
          for="inputPassword3">{{'NEWTCKT.CONNUMBER' | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.contact_number}}</div>
      </div>
      <!-- <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.LOC' |
          translate}}:</label>
        <div class="col-lg-6 control-label overflow-details">{{technicians_details.location}}</div>
      </div> -->
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.SK_LVL'
          | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.skill_level}}</div>
      </div>
      <div class="row form-group"><label class="col-lg-6 control-label popupcolor" for="inputEmail3">{{'NEWTCKT.TSK_CNT'
          | translate}}:</label>
        <div class="col-lg-6 txt_clr">{{technicians_details.task_count}}</div>
      </div>
      <div class="row form-group"><label class="col-sm-6 control-label popupcolor"
        for="inputEmail3">{{'COMTICK.TECH_TYP' | translate}}:</label>
      <!-- <div class="col-sm-6 control-label overflow-details">{{technicians_details.technician_type}}</div> -->
      <div class="txt_clr" *ngIf="technicians_details.technician_type ==  1">Inhouse Technician</div>
      <div class="txt_clr" *ngIf="technicians_details.technician_type ==  2">Partner Service Engineer</div> 
    </div>

    </form>
  </div>
</ng-template>
<!--Technician details View : End-->


<!--Spare details View : Begin-->
<ng-template #view_requested_spare let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'TRANSFERSPARE.SPAREDETAILS' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- Spare details Table : Begin -->
    <div class="table-responsive">
      <table datatable=" ng" *ngIf="showTablespareDetails" [dtOptions]="dtOptions"
        class="table table-striped table-bordered table-sm row-border hover datatable">
        <thead>
          <tr>
            <th style="width: 20%;" class="kt-footer kt-container max-tables">
              {{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'SPARE.SPARECODE' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'SPARE.MODEL' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'SPARE.PRODUCT' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'SPARE.SUBPRODUCT' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'TRANSFERSPARE.SPAREQUANTITY' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'SPARE.SPARELOCATION' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of spare_details;let i=index">
            <td class="datatable-center">{{i+1}}</td>
            <td>{{item.spare_code}}</td>
            <td>{{item.model}}</td>
            <td>{{item.product}}</td>
            <td>{{item.sub_product}}</td>
            <td>{{item.spare_quantity}}</td>
            <td>{{item.spare_location.spare_location}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Spare details Table : End -->
  </div>
</ng-template>
<!--Spare details View : End-->

<!--Reassign Technician : Begin-->
<ng-template #TechnicianTable let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'NEWTCKT.TCH_DET' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Available technician Table for reassign : Begin-->
    <div class="table-responsive">
      <table datatable=" ng" *ngIf="showTechTable" [dtOptions]="dtOptions"
        class="table table-striped table-bordered table-sm row-border hover datatable">
        <thead>
          <tr>
            <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO'|translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container ">{{'NEWTCKT.TCH_ID' | translate}}</th>
            <th style="width: 25%;" class="kt-footer kt-container ">{{'NEWTCKT.TCH_NAME' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container ">{{'NEWTCKT.SK_LVL' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container ">{{'NEWTCKT.TA_PR' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container ">{{'NEWTCKT.CURRENT_LOC' | translate}}</th>
            <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of reassigned_technician; let i = index">
            <td class="datatable-center">{{i+1}}</td>
            <td>{{item.technician_id}}</td>
            <td>{{item.technician_name}}</td>
            <td>{{item.skill_level}}</td>
            <td>{{item.task_count}}</td>
            <td>{{item.current_location}}</td>
            <td class="datatable-center"> <button style="padding:0px;" class='btn   btn-base' 
                (click)="technician_assign(item)">
                <img src="assets/images/assignIcon18.png" class="assignImage">
                <!-- {{'NEWTCKT.ASSIGN' | translate}} -->
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Available technician Table for reassign : End-->
  </div>
</ng-template>
<!--Reassign Technician : Begin-->

<!-- Customer Feedback Form : Begin -->
<ng-template #CustomerFeedBack let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'COMTICK.CUST_FEED' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-section__content">
      <form id="AddCompany" [formGroup]="CustomerfeedbackForm" novalidate=""
        class="custom-forms ng-untouched ng-pristine ng-valid">
        <div class="row">
          <!-- label for organization name -->
          <label class="control-label col-lg-5" style="float: right;text-align: right;font-weight: bold;">
            {{'RAISETCKT.CUSID' | translate}}: </label>
          <div class="col-lg-7">
            <input type="text" class="form-control" formControlName="customer_code" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'USER.USERNAME' | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="customer_name" type="text" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'USER.CONNUMBER' | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="contact_number" type="text" readonly />
          </div>
        </div>
        <br>
        <div class="row">
          <!-- label for email address -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'NEW_SUBSCRIPTION.EMAIL'
            | translate}}:</label>
          <div class="col-lg-7">
            <input class="form-control" formControlName="email_id" type="text" readonly />

          </div>
        </div>

        <br>
        <!-- <div class="row">
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUST_FEED' | translate}}:</label>
          <div class="col-lg-7">
            <select formControlName="cust_feedback" class="form-control">
              <option value=''>--Select Feedback--</option>
              <option>
                No Customer Feedback
              </option>
              <option *ngFor="let items of cust_feedbacks " [value]=items.id>
                {{items.value}}</option>
            </select>
            <div *ngIf="feed.cust_feedback.errors && (feed.cust_feedback.dirty || feed.cust_feedback.touched)"
              class="m-b-10 error">
              <div *ngIf="feed.cust_feedback.errors.required" style="color:red">{{'COMTICK.CUST_FEED' | translate}}
                {{'USER.REQ' | translate}} </div>

            </div>

          </div>
        </div> -->
        <!-- <br>
        <div class="row">
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUSRAT' | translate}} (1 to
            10):</label>
          <div class="col-lg-7">

            <select formControlName="cust_rating" class="form-control">
              <option value=''>--Select Rating--</option>
              <option *ngFor="let items of cus_ratings " [value]=items.id>
                {{items.value}}</option>
            </select>
            <div *ngIf="feed.cust_rating.errors && (feed.cust_rating.dirty || feed.cust_rating.touched)"
              class="m-b-10 error">
              <div *ngIf="feed.cust_rating.errors.required" style="color:red">{{'COMTICK.CUSRAT' | translate}}
                {{'USER.REQ' | translate}} </div>
            </div>

          </div>
        </div> -->
        <br>
        <div class="row">
          <!-- label for alternate contact number -->
          <label class="control-label col-lg-5"
            style="float: right;text-align: right;font-weight: bold;">{{'COMTICK.CUSCOMNT' | translate}}:</label>
          <div class="col-lg-7">
            <!-- <div class="col-sm-4 col-md-6"> -->
            <textarea formControlName="cust_comments" class="form-control" placeholder="Enter Customer Comments"
              aria-required="true" rows="5" colms="20">
                              </textarea>

            <div *ngIf="feed.cust_comments.errors && (feed.cust_comments.dirty || feed.cust_comments.touched)"
              class="m-b-10 error">
              <div *ngIf="feed.cust_comments.errors.required" style="color:red">

                {{'COMTICK.CUSCOMNT' | translate}}
                {{'RAISETCKT.REQ' | translate}}

              </div>
              <div *ngIf="feed.cust_comments.errors.maxlength" style="color:red">
                {{'COMTICK.CUSCOMNT' | translate}}
                {{'NEW_SUBSCRIPTION.PRBLMDESC' | translate}}</div>
            </div>




          </div>
        </div>
        <br>

        <br>


        <div class="text-center">
          <!-- buttn for next step -->
          <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [disabled]=CustomerfeedbackForm.invalid [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingSub}"
            (click)="customer_feedback()">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>


      </form>




    </div>


  </div>
</ng-template>
<!-- Customer Feedback Form : End -->