.kt-heading.kt-heading--md.product-head {
    margin-top: -13px;
    margin-left: 9px;
}
button.btn.btn-info.pull-right {
    margin-top: -53px;
    margin-right: 11px;
}
.kt-separator {
    height: 0;
    margin: 0px;
    margin-top: -7px;
}
// .form-control{
//     width: 18%;
//     display: inline-block;
//     float: right;
//     // margin-top: 2px;
// }
// button {
    // background: #5d78ff;
    // color: #fff;
    // border: 1px solid;
    // border-radius: 4px;
// }
.portlet__body{
    padding: 8px;
}
.button{
    cursor: pointer;
}
.text-color{
    color: #5867dd;
}
.text-color:hover{
    color: white;
}
.move{
    width: 15%;
}
.color_text{
    color: #646c9a;
}
.tablewidth{
    width: 12%;
}
// .table100{
//     width:100px;
// }
.txt_clr{
    color:black;
}