<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="TAT TREND">


    </kt-portlet-header>
    <kt-portlet-body>


        <div>
            <kt-filters (updateDataRequest)="updateDataMain($event)"></kt-filters>
        </div>
        <br>
        <div class="general-container">
            <div class="general-container-header">
                <h2>Grapical View</h2>
                <button ej-button id='print' class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                    (click)='export()'>Chart Export</button>
            </div>
        
            <br>
            <div class="general-container-body">
                <ejs-chart [title]='title' #chart id="chart-container" [primaryXAxis]="primaryXAxis"
                    [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'  >
                    <e-series-collection>
                        <e-series [dataSource]="chartData" type="Column" xName="Month" yName="TAT_1per" [name]='chartdata_TAT1'
                            fill='cornflowerblue' [marker]='marker'>
                        </e-series>
                        <e-series [dataSource]="chartData" type="Column" xName="Month" yName="Previous_TAT_1per"
                        [name]='chartdata_preTAT1' fill='coral' [marker]='marker'>
                        </e-series>
                        <e-series [dataSource]="chartData" type="Column" xName="Month" yName="TAT_2per" [name]='chartdata_TAT2'
                        fill='green' [marker]='marker'>
                        </e-series>
                        <e-series [dataSource]="chartData" type="Column" xName="Month" yName="Previous_TAT_2per"
                        [name]='chartdata_preTAT2' fill='yellow' [marker]='marker'>
                        </e-series>
                        <e-series [dataSource]="chartData" type="Line" dashArray='5' xName="Month" yName="Target_TAT_1per"
                            [name]='targettat1' fill='red' [marker]='marker'>
                        </e-series>
                        <e-series [dataSource]="chartData" type="Line" dashArray='10' xName="Month"
                            yName="Target_TAT_2per" [name]='targettat2' fill='red' [marker]='marker'>
                        </e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>

        <br>

        <div class="general-container">
            <div class="general-container-header">
                <h2>Grid View</h2>
                <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right width"
                (click)="exportToExcel()">Table Export</button>
            </div>
            <br>
            <br>
            <div class="general-container-body">

                <div class="table-responsive" #epltable>

                    <table id="datatable"
                        class="table table-striped table-bordered table-sm row-border hover datatable">
                        <thead>
                            <tr>
                                <th style="width: 180px;" class="tablewidth kt-footer kt-container" class="no-sort">Description</th>
                                <th style="width: 180px;" class="tablewidth kt-footer kt-container" class="no-sort">Year </th>

                                <th style="width: 50px;" class="tablewidth kt-footer kt-container" class="no-sort">Apr </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">May </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Jun </th>
                                <th style="width: 50px;" class="tablewidth kt-footer kt-container" class="no-sort">Jul </th>
                                <!-- <th *ngFor="let items of TATHeaders; let i=index">{{items}} </th> -->
                                <th style="width:50px;" class="tablewidth kt-footer kt-container" class="no-sort">Aug </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Sep </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Oct </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Nov </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Dec </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container " class="no-sort"> Jan </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Feb </th>
                                <th style="width:  50px;" class="tablewidth kt-footer kt-container" class="no-sort">Mar </th>
                                <th style="width:  70px;" class="tablewidth kt-footer kt-container" class="no-sort">Average </th>
                                <th style="width: 50px;" class="tablewidth kt-footer kt-container" class="no-sort">Total </th>
                                <th style="width: 50px;" class="kt-footer kt-container max-tables" class="no-sort">YTD </th>
                            </tr>
                        </thead>

                        <!-- <tbody>
                <tr *ngFor="let item of chartData1; let i=index ">
      <td >{{Description[i]}}</td>

                    <td>{{item.Year}}</td>
 
                    
                    <td>{{TAT_1[i][i]}}</td>
                    <td>{{TAT_1[1][i]}}</td>
                    <td>{{TAT_1[2][i]}}</td>
                     <td>{{TAT_1[3][i]}}</td>
                      <td>{{TAT_1[4][i]}}</td>
                       <td>{{TAT_1[5][i]}}</td>
                        <td>{{TAT_1[6][i]}}</td>
                        <td>{{TAT_1[7][i]}}</td>
                        <td>{{TAT_1[8][i]}}</td>
                  
                    <td>{{item.Average}}</td>
                    <td>{{Total_total[i]}}</td>
 <td>{{item.YTD}}</td>
                   
                </tr>

            </tbody> -->
                    </table>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>