// .kt-portlet__body{
//     margin-top:-92px;
// }
// .container{
//     margin-right: -1%;
// }
// .col-md-12 button {
//     margin-left: 10px;
// }
// .i.fa.fa-edit{
//     display: inline-block;
// }
// i.fa.fa-trash{
//     display: inline-block;
//     margin-left: 65px;
//     margin-top: -28px !important;
//     float: left !important;
// }
// form#cust_data {
//     margin-top: 13%;
// }
// table.dataTable.no-footer {
//     margin-left: -2%;

// }
// input.form-control.ng-untouched.ng-pristine.ng-invalid {
//     width: 88.5%;
//     display: inline-block;
//     float: left;
//     border-bottom-right-radius: 0px;
//     border-top-right-radius: 0px;
// }
.kt-heading{
    margin-left: -31px;
    margin-top: 65px;
}
.kt-separator{
    margin: 0px;
    width: 105%;
    margin-left: -45px;
}
.col-md-12 {
    margin-top: -55px;
}
.modal-footer{
    justify-content:center;
}
.disabledsubmit{
    cursor:not-allowed;
}
.viewimage img{
    width:220px;
    height:110px;
}
.input-group-append{
    height:31px;
}
.input-group-append i {
    display: flex;
    align-items: center;
}
//saranya15-12-2020 for close button 
.closecolor{
    color:#e7505a;
    opacity:1;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: 223px;
 }
 
 .image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 50%;
    width: 50%;
    padding: 10px;
    min-height:175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}
.RemoveColor{
    color:#dc3545;
    width:50%;
    position: relative;
    // top: -185px;
    top:-10px;
    right:8px;
}