<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header title="{{'MENU.INVENT' | translate}}">
        <!--heading for portlet-->
        <ng-container ktPortletTools>
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right"
                (click)="openBulk(bulksparemaster)">{{'SPAREMASTER.BULK_SPARE' | translate}}
            </button>

            <!-- modal box for add -->
            <button class="btn btn-outline-dark custom-btn btn-sm btn-pill pull-right ml-2"
                (click)="openLarge(addsparemaster)">{{'SPAREMASTER.ADD_SPARE' | translate}}
            </button>
        </ng-container>
    </kt-portlet-header>
    <!-- portlet body begins -->
    <kt-portlet-body>


        <br>
        <!-- To Display the spares -->
        <div class="card-block table-responsive">
            <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions"
                class="table table-striped table-bordered table-sm row-border hover datatable">
                <thead>
                    <tr>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.SERIAL_NO' | translate}}</th>
                        <th style="width: 10%;" class="kt-footer kt-container"> {{'SPAREMASTER.SPARE_CODE' | translate}}
                        </th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.PRO' | translate}}</th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.SUB_PRO' | translate}}
                        </th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.WARE_LOCATION' |
                            translate}} </th>
                        <!-- <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.PRICE' | translate}} </th> -->
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.QUANTITY_PURCHASE' |
                            translate}} </th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.DATE_PUR' | translate}}
                        </th>
                        <th style="width: 10%;" class="kt-footer kt-container">{{'SPAREMASTER.DATE_EXP' | translate}}
                        </th>
                        <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>

                    </tr>
                    <!-- columns for  table -->

                </thead>
                <tbody>
                    <!-- values from the api.For loop to populate the datas -->
                    <tr *ngFor="let item of sparedetails; let i=index">
                        <td class="datatable-center">{{i+1}}</td>
                        <td><a class="button" (click)="editspare(item);openLarge(view_spare);" data-placement="bottom"
                                ngbTooltip="View Details">{{item.spare_code}}</a></td>
                        <td>{{item.product_name}} </td>
                        <td>{{item.subproduct_name}} </td>
                        <td>{{item.warehouse.warehouse_name}}</td>
                        <!-- <td>{{item.price}} </td> -->
                        <td>{{item.quantity_purchased}}</td>
                        <td>{{item.purchase_date}}</td>
                        <td>{{item.expiry_date}}</td>

                        <td class="datatable-center">
                            <!-- icons for edit and delete -->
                            <button style="padding:0px;" class="btn btn-base">
                                <i class="fa fa-edit" aria-hidden="true"
                                    (click)="editspare(item);openLarge(edit_spare)"></i>
                            </button>
                            <button style="padding:0px;" class='btn   btn-base' (click)="trashspare(item)">
                                <i class="fa fa-trash trash" aria-hidden="true"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="color: red;">{{errors}}</p>
        </div>
    </kt-portlet-body>
    <!-- ends portlet body -->
</kt-portlet>

<!--Modal box to add the spare details-->
<ng-template #addsparemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.ADD_SPARE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="form_body" [formGroup]="Addsparemaster" novalidate=""
            class="custom-forms ng-untouched ng-pristine ng-valid">

            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_CODE' | translate}}: </label>


                    <!-- <input placeholder="Enter Spare Code" type="text" class="form-control" formControlName="spare_code"> -->
                    <select class="form-control" formControlName="spare_code"
                        (change)="onChangespare($event.target.value)">
                        <option value="null">Select Spare Code</option>
                        <option *ngFor="let items of sparemasterdetails" [value]=items.spare_code>
                            {{items.spare_code}}
                        </option>
                    </select>

                </div>
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_NAME' | translate}}: </label>
                    <input placeholder="Enter Spare" type="text" class="form-control" formControlName="spare_name"
                        readonly>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.SPAREMODEL' | translate}}: </label>
                    <input placeholder="Enter Spare Model" type="text" class="form-control"
                        formControlName="spare_model" readonly>

                </div>
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.PRO' | translate}}: </label>
                    <input placeholder="Enter Product" type="text" class="form-control"
                        formControlName="product_name" readonly>


                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.SUB_PRO' | translate}}: </label>
                    <div>
                        <input placeholder="Enter Sub product" type="text" class="form-control"
                            formControlName="subproduct_name" readonly>

                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.WARE_LOCATION' | translate}}: </label>
                    <div>
                        <select class="form-control" formControlName="warehouse_id" name="warehouse_id"
                            id="warehouse_id">
                            <option value="null">Select Warehouse</option>

                            <option *ngFor="let items of warehousedetails" [value]=items.warehouse_id>
                                {{items.warehouse_name}}
                            </option>
                        </select>
                        <div *ngIf="add.warehouse_id.errors && (add.warehouse_id.dirty || add.warehouse_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="add.warehouse_id.errors.required" style="color:red">
                                {{'SPAREMASTER.WARE_LOCATION' | translate}}
                                {{'USER.REQ' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <!-- label for spar image -->
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.IMAGE' | translate}}: </label>

                    <div class="form-group mb-0">
                        <div class="custom-file mb-3">
                            <input type="hidden" value="" name="file-upload">
                            <input type="file" name="file" accept="image/*" formControlName="image"
                                (change)="fileChangeEvents($event)" class="fileInputProfile" />
                            <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                            <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                        </div>
                        <p *ngIf="message" style="color: red">{{message}}</p>
                        <p *ngIf="load" style="color: red;">{{load}}</p>
                        <p *ngIf="imageError" style="color: red">{{imageError}}</p>
                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                <a class="RemoveColor pull-right" (click)="removeImage()" *ngIf="isImageSaved"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                            <div class="img-space">
                                <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                            </div>
                        </ng-container>

                       
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.QUANTITY_PURCHASE' | translate}}: </label>

                    <div>
                        <!-- readonly  based  discount percentage and also license -->
                        <input placeholder="Enter Quantity Purchased" (keypress)="numberOnly($event)" type="float"
                            formControlName="quantity_purchased" maxlength="8" class="form-control" numberOnly
                            name="quantity_purchased" min="1" id="quantity_purchased">
                        <div *ngIf="add.quantity_purchased.errors && (add.quantity_purchased.dirty || add.quantity_purchased.touched)"
                            class="m-b-10 error">
                            <div *ngIf="add.quantity_purchased.errors.required" style="color:red">
                                {{'SPAREMASTER.AD_PURQUANTITY' | translate}}

                            </div>
                            <div *ngIf="add.quantity_purchased.errors.pattern" style="color:red">
                                {{'AMC.AD_DURATIONPATTERNS' | translate}}

                            </div>
                            <div *ngIf="add.quantity_purchased.errors.min" style="color:red">
                                {{'SPAREMASTER.QUANTITY_PURCHASE' | translate}} {{'SPAREMASTER.DIGI' | translate}}</div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- <br> -->

            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.PRICE' | translate}}: </label>
                    <div>
                        <!-- readonly  based  discount percentage and also license -->
                        <input maxlength="8" numeric decimals="2" placeholder="Enter Price" formControlName="price"
                            class="form-control" (keypress)="numberOnly($event)" name="price" id="price" min="1">
                        <div *ngIf="add.price.errors && (add.price.dirty || add.price.touched)" class="m-b-10 error">
                            <div *ngIf="add.price.errors.required" style="color:red">{{'SPAREMASTER.PRICE' | translate}}
                                {{'USER.REQ' | translate}}
                            </div>
                            <div *ngIf="add.price.errors.pattern" style="color:red">
                                {{'AMC.AD_DURATIONPATTERNS' | translate}}

                            </div>
                            <div *ngIf="add.price.errors.min" style="color:red">
                                {{'SPAREMASTER.PRICE' | translate}} {{'SPAREMASTER.DIGI' | translate}}</div>

                        </div>
                    </div>
                </div>

                <br>

                <div class="col-lg-6">
                    <label class="control-label col-lg-5">{{'SPAREMASTER.DATE_PUR' | translate}}:</label>
                    <div>
                        <div class="input-group ">
                            <input type="text" class="form-control" formControlName="purchase_date" [(ngModel)]="from"
                                ngbDatepicker #d="ngbDatepicker" placeholder="YY-MM-DD">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                    <i class="la la-calendar"></i>
                                </button>
                            </div>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>

                        </div>
                        <div *ngIf="add.purchase_date.errors && (add.purchase_date.dirty || add.purchase_date.touched)"
                            class="m-b-10 error w-100">
                            <div *ngIf="add.purchase_date.errors.required" style="color:red">
                                {{'SPAREMASTER.DATE_PUR' | translate}}
                                {{'USER.REQ' | translate}}
                            </div>


                        </div>
                        <p style="color: red">{{purch_error}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- label for CompanyID-->
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.DATE_EXP' | translate}}: </label>
                    <div>
                        <div class="input-group ">
                            <input type="text" class="form-control" formControlName="expiry_date" [(ngModel)]="to"
                                ngbDatepicker #e="ngbDatepicker" placeholder="YY-MM-DD">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                    <i class="la la-calendar"></i>
                                </button>
                            </div>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <div *ngIf="add.expiry_date.errors && (add.expiry_date.dirty || add.expiry_date.touched)"
                            class="m-b-10 error w-100">
                            <div *ngIf="add.expiry_date.errors.required" style="color:red">
                                {{'SPAREMASTER.DATE_EXP' | translate}}
                                {{'USER.REQ' | translate}}
                            </div>


                        </div>
                        <p style="color: red">{{exp_error_add}}</p>
                    </div>
                </div>

                <div class="col-lg-6">

                </div>
            </div>
            <!-- <br> -->



        </form>
        <p *ngIf="errors" style="color: red;">{{errors}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <!-- button for submit -->
            <button type="button"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit" (click)="addspare(myInput)"
                data-ktwizard-type="action-submit" [disabled]="!Addsparemaster.valid">{{'NEW_SUBSCRIPTION.SUB' |
                translate}}</button>
                <!-- <button type="button"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingAdd}"
                class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit" (click)="addspare(myInput)"
                data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' |
                translate}}</button> -->
            <br>
        </div>
    </div>
</ng-template>


<!-- modal box for bulk upload -->
<ng-template #bulksparemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.UPLOAD_SPARELIST' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-5 nopadding">
                <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
                    href="assets/sample_templates/Inventory_management.xlsx">{{'SPAREMASTER.SAMPLE' | translate}}</a>

            </div>
            <div class="col-sm-7 nopadding">
                <div class="custom-file mb-3">
                    <input type="hidden" value="" name="file-upload">
                    <!-- <span>{{Filename}}</span> -->
                    <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)"
                        name="filename">
                    <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
                    <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
                    <p style="color: red;">{{error}}</p>
                </div>

            </div>
            <div *ngIf="bulks != []">
                <h6 style="color: green;">Success :</h6>
                <div *ngFor="let bulk_success of bulks;let i=index">
            
                  <span style="color: green;"> {{i+1}}: {{bulk_success}}</span>
            
                </div>
              </div>
            <div style="color: red;" *ngFor="let number of bulk;  let i=index">
                {{i+1}}. {{number}}

            </div>

        </div>
    </div>


    <div class="modal-footer">
        <!-- {{disabled}} -->
        <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
            {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
            [disabled]=disabled
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
            (click)="filesubmit(myInput)">{{'SPAREMASTER.UPLOAD' | translate}}</button>


    </div>

</ng-template>


<!-- modal box for spaer image -->
<ng-template #spareimagemaster let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Spare Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <p>showing spare image</p> -->
        <div class="text-center">
            <img src={{httplink}}{{spareImage}} />
        </div>
    </div>

</ng-template>
<!-- modal box for edit the spare details -->
<ng-template #edit_spare let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.EDIT_SPARE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Editsparemaster">
            <div class="row" style="display:none">
                <!-- label for Stock id-->
                <label class="control-label col-lg-5"> Stock id </label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" formControlName="stock_id" readonly="">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_CODE' | translate}}: </label>
                    <select class="form-control" formControlName="spare_code"
                        (change)="onChangeSpareEdit($event.target.value)">
                        <option value="null">Select Spare Code</option>
                        <option *ngFor="let items of sparemasterdetails" [value]=items.spare_code>
                            {{items.spare_code}}
                        </option>
                    </select>
                    <div *ngIf="log.spare_code.errors && (log.spare_code.dirty || log.spare_code.touched)"
                        class="m-b-10 error">
                        <div *ngIf="log.spare_code.errors.required" style="color:red">
                            {{'SPAREMASTER.SPARE_CODE' | translate}}
                            {{'USER.REQ' | translate}} </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.SPARE_NAME' | translate}}: </label>
                    <input placeholder="Enter Spare" type="text" class="form-control" formControlName="spare_name"
                        readonly="">


                </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.SPAREMODEL' | translate}}: </label>
                    <input placeholder="Enter Spare Model" rows="5" cols="50" type="text" class="form-control"
                        formControlName="spare_model" readonly="">

                </div>
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.PRO' | translate}}: </label>
                    <input type="text" class="form-control" formControlName="product_name" readonly="">


                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-lg-6">
                    <div class="control-label">
                        <label>{{'SPAREMASTER.SUB_PRO' | translate}} :</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" formControlName="subproduct_name" readonly="">

                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="control-label">
                        <label>{{'SPAREMASTER.WARE_LOCATION' | translate}}:</label>

                    </div>
                    <div>
                        <select class="form-control" formControlName="warehouse_id" name="warehouse_id"
                            id="warehouse_id">
                            <option disabled="">Select your Warehouse
                            </option>

                            <option *ngFor="let items of warehousedetails" [value]=items.warehouse_id>
                                {{items.warehouse_name}}
                            </option>
                        </select>
                        <div *ngIf="log.warehouse_id.errors && (log.warehouse_id.dirty || log.warehouse_id.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.warehouse_id.errors.required" style="color:red">
                                {{'SPAREMASTER.WARE_LOCATION' | translate}}
                                {{'USER.REQ' | translate}} </div>


                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.IMAGE' | translate}}:</label>
                    <div class="form-group mb-0">
                        <div class="custom-file mb-3">
                            <input type="hidden" value="" name="file-upload">
                            <input type="file" name="file" accept="image/*" formControlName="image"
                                (change)="fileChangeEvents($event)" class="fileInputProfile" />
                            <label *ngIf="!ByDefaults" class="custom-file-label" for="customFile">Choose file</label>
                            <label *ngIf="ByDefaults" class="custom-file-label" for="customFile">{{dash}}</label>
                        </div>
                        <p *ngIf="message" style="color: red">{{message}}</p>
                        <p *ngIf="load" style="color: red;">{{load}}</p>
                        <p *ngIf="imageError" style="color: red">{{imageError}}</p>
                        <ng-container *ngIf="isImageSaveds">
                                <a class="RemoveColor pull-right" (click)="removeImage()" *ngIf="isImageSaveds"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                            <div class="img-space">
                                <img *ngIf="spare_image" [src]="spare_image" />
                                <img *ngIf="cardImageBase64" [src]="cardImageBase64" />
                            </div>
                        </ng-container>

                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="control-label">
                        <label>{{'SPAREMASTER.QUANTITY_PURCHASE' | translate}}:</label>
                    </div>

                    <div>
                        <input placeholder="Enter Quantity Purchased" min="1" maxlength="8"
                            formControlName="quantity_purchased" class="form-control" numberOnly>
                        <div *ngIf="log.quantity_purchased.errors && (log.quantity_purchased.dirty || log.quantity_purchased.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.quantity_purchased.errors.required" style="color:red">
                                {{'SPAREMASTER.QUANTITY_PURCHASE' | translate}}
                                {{'USER.REQ' | translate}} </div>
                            <div *ngIf="log.quantity_purchased.errors.pattern" style="color:red">
                                {{'AMC.AD_DURATIONPATTERNS' | translate}}

                            </div>
                            <div *ngIf="log.quantity_purchased.errors.min" style="color:red">
                                {{'SPAREMASTER.QUANTITY_PURCHASE' | translate}} {{'SPAREMASTER.DIGI' | translate}}</div>


                        </div>
                    </div>



                </div>
                <div class="col-lg-6" style="display: none;">
                    <label class="control-label"> {{'SPAREMASTER.DESC' | translate}}: </label>
                    <textarea placeholder="Enter Description" rows="5" cols="50" type="text"
                        class="form-control"></textarea>

                </div>

            </div>
            <br>

            <div class="row">
             

                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.PRICE' | translate}}: </label>
                    <div>

                        <input maxlength="8" placeholder="Enter Price" numeric decimals="2" min="1"
                            formControlName="price" class="form-control" (keypress)="numberOnly($event)" name="price"
                            name="price" id="price">

                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.DATE_PUR' | translate}}:</label>
                    <div class="input-group ">
                        <input type="text" class="form-control" formControlName="purchase_date" ngbDatepicker
                            #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                <i class="la la-calendar"></i>
                            </button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>

                    </div>
                    <div *ngIf="log.purchase_date.errors && (log.purchase_date.dirty || log.purchase_date.touched)"
                        class="m-b-10 error w-100">
                        <div *ngIf="log.purchase_date.errors.required" style="color:red">
                            {{'SPAREMASTER.DATE_PUR' | translate}}
                            {{'USER.REQ' | translate}}
                        </div>


                    </div>
                    <p style="color: red">{{purch_error}}</p>
                </div>
            </div>
            <br>
            <div class="row">
               
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.DATE_EXP' | translate}}:</label>
                    <div>

                        <div class="input-group ">
                            <input type="text" class="form-control" formControlName="expiry_date" ngbDatepicker
                                #e="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="e.toggle()" type="button">
                                    <i class="la la-calendar"></i>
                                </button>
                            </div>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <p style="color: red" class="w-100">{{exp_error_add}}</p>
                        <div *ngIf="log.expiry_date.errors && (log.expiry_date.dirty || log.expiry_date.touched)"
                            class="m-b-10 error">
                            <div *ngIf="log.expiry_date.errors.required" style="color:red">
                                {{'SPAREMASTER.DATE_EXP' | translate}}
                                {{'USER.REQ' | translate}} </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->


        </form>
        <p style="color: red;">{{errors}}</p>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
                {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>
            <!-- button for submit -->
            <!-- <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loading}"
                [disabled]="!Editsparemaster.valid" (click)="editsparemaster()"
                data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button> -->
            <button type="button" class="btn btn-outline-success btn-sm btn-pill custom-btn ml-2 disabledsubmit"
                [disabled]="Editsparemaster.invalid" (click)="editsparemaster()"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingEdit}"
                data-ktwizard-type="action-submit">{{'NEW_SUBSCRIPTION.SUB' | translate}}</button>
        </div>
    </div>
</ng-template>
<!-- modal box for view the spare details -->
<ng-template #view_spare let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'SPAREMASTER.VIEW_SPARE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- body begin -->
    <div class="modal-body">
        <!-- <kt-portlet [class]="'kt-portlet--height-fluid'"> -->
        <!-- begin body for portlet-->
        <!-- <kt-portlet-body> -->
        <!-- <div class="kt-section"> -->
        <!-- Form group for view -->

        <form class="custom-forms" action="#" id="cust_data" method="POST" novalidate="novalidate"
            [formGroup]="Editsparemaster">
            <div class="row" style="display:none">
                <!-- label for CompanyID-->
                <label class="control-label col-lg-5"> Spare id </label>
                <div class="col-lg-7">

                    <input type="text" class="form-control" formControlName="stock_id" readonly=""
                        placeholder="Enter Spare Id">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!-- label for package plan -->
                    <label class="control-label"> {{'SPAREMASTER.SPARE_CODE' | translate}}: </label>
                    <!-- <div class="col-lg-7"> -->
                    <input type="text" class="form-control" formControlName="spare_code" readonly
                        placeholder="Enter Spare Code">

                    <!-- </div> -->
                </div>
                <!-- </div>
            <br> -->
                <!-- <div class="row"> -->
                <div class="col-lg-6">
                    <!-- label for from range user -->
                    <label class="control-label"> {{'SPAREMASTER.SPARE_NAME' | translate}}: </label>
                    <!-- <div class="col-lg-7"> -->
                    <!-- numbers only -->
                    <input placeholder="Enter Spare Name" type="text" class="form-control" formControlName="spare_name"
                        readonly>

                    <!-- </div> -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <!-- label for from range user -->
                    <label class="control-label"> {{'SPAREMASTER.SPAREMODEL' | translate}}: </label>
                    <div>
                        <!-- numbers only -->
                        <input placeholder="Enter Spare Model" type="text" class="form-control"
                            formControlName="spare_model" readonly>

                    </div>
                </div>
                <!-- </div>
            <br>
            <div class="row"> -->
                <!-- label for to range user -->


                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.PRO' | translate}}: </label>
                    <div>
                        <input placeholder="Enter Spare Model" type="text" class="form-control"
                            formControlName="product_name" readonly>


                    </div>
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-lg-6">
                    <div class="control-label">
                        <!-- label for discount percent -->
                        <label>{{'SPAREMASTER.SUB_PRO' | translate}} :</label>
                    </div>
                    <div>
                        <div>
                            <input placeholder="Enter Spare Model" type="text" class="form-control"
                                formControlName="subproduct_name" readonly>



                        </div>
                    </div>
                </div>
                <!-- </div>
            <br>
            <div class="row"> -->
                <div class="col-lg-6">
                    <div class="control-label">
                        <!-- label for discount price -->
                        <label>{{'SPAREMASTER.WARE_LOCATION' | translate}}:</label>

                    </div>
                    <div>
                        <div>
                            <select class="form-control" formControlName="warehouse_id" name="warehouse_id"
                                id="warehouse_id" disabled>
                                <option value="null">Select your Warehouse
                                </option>

                                <option *ngFor="let items of warehousedetails" [value]=items.warehouse_id>
                                    {{items.warehouse_name}}
                                </option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label mb-3">{{'SPAREMASTER.IMAGE' | translate}}: </label>
                    <div class="viewimage">
                        <div class="img-space">
                            <img [src]="spare_image" />
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="control-label">
                        <label class="control-label">{{'SPAREMASTER.QUANTITY_PURCHASE' | translate}}:</label>
                    </div>
                    <input placeholder="Enter Quantity Purchased" type="text" formControlName="quantity_purchased"
                        class="form-control" numberOnly readonly>
                </div>

            </div>
            <br>


            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label">{{'SPAREMASTER.PRICE' | translate}}: </label>
                    <!--Label for totla price-->
                    <div>
                        <div>
                            <input placeholder="Enter Price" type="text" class="form-control" formControlName="price"
                                numberOnly name="price" id="price" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- label for CompanyID-->
                    <label class="control-label">{{'SPAREMASTER.DATE_PUR' | translate}}:</label>
                    <div>
                        <input class="form-control" type="text" formControlName="purchase_date" value={{epurchase}}
                            readonly="">

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label"> {{'SPAREMASTER.DATE_EXP' | translate}}:</label>
                    <div>

                        <input type="text" class="form-control" formControlName="expiry_date" readonly=""
                            placeholder="Enter Expire Date" value={{expiry}}>

                    </div>
                </div>

                <!-- label for CompanyID-->
                <div class="col-lg-6">

                </div>
            </div>
            <br>


        </form>
        <!-- end form group -->

    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn" (click)="c('Close click')">
                {{'NEW_SUBSCRIPTION.CANCEL' | translate}}</button>

        </div>
    </div>
</ng-template>