// import login css
@import "sass/pages/login/login-1";

kt-auth, .kt-login {
	height: 100%;
  background-color:white;
	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	} 
	
}
.kt-grid__item.kt-grid__item--fluid.kt-grid__item--order-tablet-and-mobile-1.kt-login__wrapper{
	display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.kt-grid__item.kt-grid__item--fluid.kt-grid__item--order-tablet-and-mobile-1.kt-login__wrapper kt-login{
	display: table-cell;
  vertical-align: middle;
}
.card.login, .card.fogot-pw {
	margin-left: auto;
    margin-right: auto;
    width: 380px;
	box-shadow: 0px 1px 10px #4d4b4b;
	//old background color
	// background-color: #f5f8ff;
	background-color:white;
	// right:5%;
	// top:0%;	
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;
	border-top-right-radius:25px;
	border-top-left-radius:25px;
	// height:75vh;
	// top:-7%;
	// width: 26% !important;
	// height: 65% !important;
	  // width: 26%;
    // height: 65%;

}
.card {
	margin: auto;
	// width: 30%;
	// height: 58%;
	// height: calc(100% - 100px);
	height:450px;
	// width:450px;
	// position: fixed;
	padding-left: 3%;
	padding-right: 3%;
	border:0;
	// position: absolute;
	// top: 15%;
	// right: 5%;
	
}
.disabledsubmit{
	cursor:not-allowed; 
}

@media screen and (max-width:1200px){
.kt-login__aside{
	display: none !important;
}
}
 @media screen and (max-width: 480px) {
 	 .card{
		top: 0% !important;
		position: absolute;
		// right:0px !important;
	  }
	}


@media screen and (max-width: 1328px){
	.pass-form{
		width: 350px !important;
	}
}
@media screen and (max-width: 1184px){
	.pass-form{
		width: 350px !important;
		margin-top: 2%;
	}
}
@media screen and (max-width: 496px){
	.pass-form{
		width: 300px !important;
	}
	.rights{
		font-size: 12px;
		> a{
			font-size: 12px;
		}
	}
}
@media screen and (max-width: 380px){
	.pass-form{
		width: 250px !important;
		padding: 2%;
	}
	.rights{
		font-size: 10px;
		> a{
			font-size: 10px;
		}
	}
}


