.kt-portlet__body {
    margin-top: -48px;    
}

select[readonly] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}
.form-body {
    margin-top: 0px;
}
.col-md-12 {
    margin-top: -55px;
}
.kt-heading{
  margin-top: 43px;
  margin-left: 10px;
}
.kt-separator {
 margin: 0px;
}
.kt-section {
  padding: 0;
  margin: 0 0 0 0;
  margin-top: 44px;
}
#cusid{
  width: 65%;
}
#conname{
  width: 75%;
}
#email{
  width: 100%;
}
#connum{
  width: 65%;
}
#prodet{
  width: 65%;
}
.disabledsubmit{
  cursor:not-allowed;
  pointer-events:all;
}
.txt_clr{
  color: black;
}
.url-column{
  text-transform: none;
}

.certificateicon{
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
  width: 22.25px;
}

.control-label{
  color: #63686e;
  font-weight: 500 !important;
}