<kt-portlet [class]="'kt-portlet--height-fluid'">
  <!--heading for portlet-->
  <!-- Create -->
  <!-- </kt-portlet-header> -->

  <kt-portlet-header title="{{'CUSTOMER.TITLE' | translate}}">
    <!--heading for portlet-->
    <ng-container ktPortletTools>

      <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold"
        (click)="openLarge(upload)">{{'CUSTOMER.BULK' | translate}} </button>
      <button class="btn btn-outline-dark custom-btn btn-sm btn-pill kt-font-bold ml-2" (click)="exportAsXLSX()">
        {{'CUSTOMER.BULKDON' | translate}}</button>
    </ng-container>
  </kt-portlet-header>
  <br>
  <kt-portlet-body>


    <br>
    <!-- To Display the packages -->
    <!-- <div class="table-responsive"> -->

    <table id="datatables"  class="table table-striped table-bordered table-sm  hover">

      <thead>
        <!-- columns for  table -->
        <tr>
          <th class="kt-footer kt-container datatable-center max-tables">
            {{'NEW_SUBSCRIPTION.SERIAL_NO'| translate}}</th>
          <th style="width: 15%;" class="kt-footer kt-container " id="cusid">
            {{'CUSTOMER.CUSID'| translate}}</th>
          <th style="width: 20%;" class="kt-footer kt-container " id="conname">
            {{'CUSTOMER.CONNAME'| translate}}</th>
          <!-- <th style="width: 20%;" class="kt-footer kt-container" id="email">
            {{'NEW_SUBSCRIPTION.EMAIL'| translate}}</th> -->
          <th style="width: 20%;" class="kt-footer kt-container " id="connum">
            {{'CUSTOMER.CONNUM'| translate}}</th>
          <th style="width: 20%;" class="kt-footer kt-container datatable-center " id="prodet">
            {{'USER.PD'| translate}}</th>
          <th style="width: 20%;" class="kt-footer kt-container datatable-center " id="prodet">
            Login creation </th>
          <!-- <th style="width: 25%;" class="kt-footer kt-container datatable-center " id="prodet">
            performance certificate</th> -->
          <th class="kt-footer kt-container  datatable-center max-tables">
            {{'NEW_SUBSCRIPTION.ACTION'| translate}}
          </th>

        </tr>
      </thead>

      <tbody *ngIf="customer_details?.length != 0">
        <!-- values from the api.For loop to populate the datas -->
        <tr *ngFor="let item of customer_details;let i=index">
          <td class="datatable-center">{{i+1}}</td>
          <!-- (click)="openLarge(view_customer,row);showcustomer_detail(item,view_customer)" -->
          <td><a class="button" (click)="showcustomer_detail(item,view_customer)" data-placement="bottom"
              ngbTooltip="View Details">{{item.customer_code}}</a></td>
          <td>{{item.customer_name}}</td>
          <!-- <td class="url-column">{{item.email_id}}</td> -->
          <td>{{item.contact_number}} </td>
          <td width="100" class="datatable-center">
            <!-- icons for edit and delete -->
            <!--  (click)="getcontractdata();openviewLarge(contract_table,item.customer_code);" -->
            <button style="padding:0px;" class="btn btn-base"
              (click)="getcontractdata(contract_table,item.customer_code);">
              <i class="fa fa-eye" aria-hidden="true"></i></button>
          </td>
          <td width="100" class="datatable-center">
            <button style="padding:0px;" class="btn btn-base"
              (click)="generate_login(item);open_email_update(email_modal,item.login_flag)">
              <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
          </td>
          <!-- <td class="datatable-center">
            <button *ngIf="item.performance_certificate == null" style="padding:0px;" class="btn btn-base"
              (click)="view_performance(perf_certi_upload,item.customer_code);">
              <i  class="fas fa-upload" aria-hidden="true"></i>           
            </button>

            <button style="padding:0px;" class="btn btn-base" *ngIf="item.performance_certificate != null;else elseBlock">
              <a (click)="downloadPdf(item.customer_name,item.performance_certificate)"> <i class="fas fa-download"
                  aria-hidden="true"></i>
              </a>
            </button>
            <ng-template #elseBlock>
            </ng-template>
          </td> -->
          <td width="100" class="datatable-center">
            <!--  (click)="openLarge(edit_customer,row);showcustomer_detail(item,edit_customer);" -->
            <button style="padding:0px;" class="btn btn-base" (click)="showcustomer_detail(item,edit_customer);">
              <i class="fa fa-edit" aria-hidden="true"></i></button> <!-- active or block from master -->

          </td>
        </tr>
      </tbody>
      <tbody *ngIf="customer_details?.length == 0">
        <!-- <tr colspan="3" style="text-align: center;">No records found -->
         <div colspan="3" style="text-align: end;">No records found</div>
        <!-- </tr> -->
     </tbody>
    </table>
    <!-- </div> -->
  </kt-portlet-body>
</kt-portlet>

<!-- Dialog for bulk upload -->
<ng-template #upload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'CUSTOMER.BULKCUS' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-5 nopadding">
        <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
          href="assets/sample_templates/custicket.xlsx">{{'CUSTOMER.SAMPLE'| translate}}</a>
          <a class="btn purple-sharp btn-circle btn-outline sample-temp" style="margin-left: -10px !important;"
          href="{{httplink}}{{customerexcel}}" target="blank">Usermanual Bulk upload
        </a>
      </div>
      <div class="col-sm-7 nopadding">
        <div class="custom-file mb-3">
          <input type="hidden" value="" name="file-upload">
          <input type="file" class="custom-file-input" id="file-upload" (change)="fileUpload($event)" name="filename">
          <label *ngIf="!ByDefault" class="custom-file-label" for="customFile">Choose file</label>
          <label *ngIf="ByDefault" class="custom-file-label" for="customFile">{{Filename}}</label>
          <p style="color: red;">{{error}}</p>
          
        </div>
      </div>
      <!-- <div style="color: red;" *ngFor="let number of bulk;let i=index;">
                {{i+1}}.{{number}}

            </div> -->
      <div class="col-sm-9" style="display:none">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new" id="span-button">
                <!-- {{'CUSTOMER.SELECT'| translate}} -->
              </span>

              <input type="hidden" value="" name="file-upload">
              <input #file type="file" name="" id="file-upload" (change)="fileUpload($event)"> </span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="bulks != []">
    <h6 style="color: green;">Success :</h6>
    <div *ngFor="let bulk_success of bulks;let i=index">

      <span style="color: green;"> {{i+1}}: {{bulk_success}}</span>

    </div>
  </div>
  <div *ngIf="bulk != []">
    <h5 style="color: red;"> Error :</h5>

    <div *ngFor="let bulk_errors of bulk;let i=index">
      <h6 style="color: red;"> {{i+1}}: {{bulk_errors}}</h6>
    </div>
  </div>
  <!-- <div style="color: red;" *ngFor="let number of bulk;  let i=index">
    {{i+1}}. {{number}}

  </div>
  <div style="color: green;" *ngFor="let number of bulks;  let i=index">
    {{i+1}}. {{number}}

  </div> -->


  <div class="modal-footer">

    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
      class="btn btn-outline-success btn-sm btn-pill custom-btn"
      (click)="filesubmit(myInput)">{{'CUSTOMER.UPLOAD'| translate}}</button>
  </div>

</ng-template>

<!--Modal box to edit the customer details-->
<ng-template #edit_customer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'CUSTOMER.EDITC' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">

    <form class="custom-forms ng-untouched ng-pristine ng-valid" action="#" id="cust_data" method="POST"
      novalidate="novalidate" [formGroup]="Edit_customer">

      <div class="form-body">

        <div class="row">
          <div class="col-lg-5">
            <label class="control-label"> {{'CUSTOMER.NAME' | translate}}:</label>
          </div>
          <div class="col-lg-7">

            <input type="text" class="form-control" name="customer_name" formControlName="customer_name"
              id="customer_name" placeholder="Enter Name">
            <div *ngIf="edit.customer_name.errors && (edit.customer_name.dirty || edit.customer_name.touched)"
              class="m-b-10 error">
              <div *ngIf="edit.customer_name.errors.required" style="color:red">
                {{'USER.NAME' | translate}}
                {{'USER.REQ' | translate}}
              </div>
              <div *ngIf="edit.customer_name.errors.maxLength" style="color:red">
                {{'USER.NAME' | translate}} is too large
              </div>
              <div *ngIf="!Edit_customer.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                {{'NEW_SUBSCRIPTION.CONNAME' | translate}}
              </div>
            </div>

          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-5">
            <label class="control-label"> {{'NEW_SUBSCRIPTION.EMAIL' | translate}}:</label>
          </div>
          <div class="col-lg-7">

            <input type="email_id" class="form-control" name="email_id" formControlName="email_id" id="email_id"
              (change)="onvalidate()" placeholder="Enter Email">
            <p style="color: red;">{{validation_data}}</p>
            <div *ngIf="edit.email_id.errors && (edit.email_id.dirty || edit.email_id.touched)" class="m-b-10 error">
              <div *ngIf="edit.email_id.errors.required" style="color:red">
                {{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                {{'USER.REQ' | translate}}
              </div>
              <div *ngIf="edit.email_id.errors.pattern" style="color:red">
                {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.EMAIL' | translate}}</div>
            </div>
          </div>

        </div>
        <!-- </div> -->
        <br>

        <div class="row">
          <div class="col-lg-5">
            <label class="control-label">
              {{'CUSTOMER.CONNUMBER' | translate}}:</label>
          </div>
          <div class="col-lg-7">

            <input class="form-control" formControlName="contact_number" type="text" id="contact_number"
              name="contact_number" maxlength="10" (keypress)="numberOnly($event)"
              (change)="oncontactvalidate();editalternatecontact()" placeholder="Enter Contact Number"/>
            <p style="color: red;">{{validation_data_contact}}</p>
            <div *ngIf="edit.contact_number.errors && (edit.contact_number.dirty || edit.contact_number.touched)"
              class="m-b-10 error">
              <div *ngIf="edit.contact_number.errors.required" style="color:red">
                {{'USER.CONNUMBER' | translate}}
                {{'USER.REQ' | translate}}</div>
              <div *ngIf="edit.contact_number.errors.maxlength" style="color:red">
                {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}
              </div>
              <div *ngIf="edit.contact_number.errors.minlength" style="color:red">
                {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}
              </div>
              <div *ngIf="edit.contact_number.errors.pattern" style="color:red">
                {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
              </div>
            </div>



          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-5">
            <label class="control-label">
              {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}:</label>
          </div>
          <div class="col-lg-7">
            <!-- (change)="editalternatecontact()" -->
            <input class="form-control" name="org_name"     formControlName="alternate_number" id="alternate_number" placeholder="Enter Organization Name">
            <!-- <p style="color: red;">{{alternate}}</p> -->
            <div *ngIf="edit.alternate_number.errors && (edit.alternate_number.dirty || edit.alternate_number.touched)"
              class="m-b-10 error">

              <div *ngIf="edit.alternate_number.errors.maxlength" style="color:red">
                {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}
              </div>
              <div *ngIf="edit.alternate_number.errors.minlength" style="color:red">
                {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}} {{'NEW_SUBSCRIPTION.DIGI' | translate}}
              </div>
              <div *ngIf="edit.alternate_number.errors.pattern" style="color:red">
                {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.CONNUMBER' | translate}}
              </div>
              <div *ngIf="!Edit_customer.hasError('whitespace')" style="color:red">
                {{'AUTH.VALIDATION.SPACE_VALID' | translate}}
                {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}
              </div>
            </div>

          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="edit_customer_details(edit_data,row)"
      class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
      >{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
      <!-- [disabled]=!Edit_customer.valid -->
    <!-- button for close -->

  </div>
</ng-template>



<!--Modal box to view the customer details-->
<ng-template #contract_table let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">Battery Bank Details</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">

    <div class="table-responsive">

      <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions1"
        class="table table-striped table-bordered table-sm row-border hover datatable">

        <thead>
          <!-- columns for  table -->
          <tr>
            <th class="kt-footer kt-container max-tables">{{'CUSTOMER.ID' | translate}}
            </th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.CONTYPE' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.PROC' | translate}}</th>
            <th style="width: 20%;" class="kt-footer kt-container">{{'CUSTOMER.SUBC' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.MONUM' | translate}}</th>
            <!-- <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.SELNO' | translate}}</th> -->
            <!-- <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.END' | translate}}</th> -->
            
            <th style="width: 10%;" class="kt-footer kt-container">{{'RAISETCKT.VOLTAGE' | translate}}/{{'RAISETCKT.SYSAH' | translate}}</th>
            <!-- <th style="width: 10%;" class="kt-footer kt-container">{{'RAISETCKT.SYSAH' | translate}}</th> -->
            <th style="width: 10%;" class="kt-footer kt-container">{{'MENU.SEG' | translate}}</th>

            <th style="width: 10%;" class="kt-footer kt-container">{{'RAISETCKT.SITE_ID' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'RAISETCKT.BBID' | translate}}</th>
            <th style="width: 25%;" class="kt-footer kt-container datatable-center " id="prodet">
              performance certificate</th>
            <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>

          </tr>
        </thead>

        <tbody>
          <!-- values from the api.For loop to populate the datas -->
          <tr *ngFor="let item of contract_details;let i=index">

            <td class="datatable-center">{{i+1}}</td>
            <td class="datatable-center" >
              <div *ngIf="item.contract == null ;else elseBlock1">
              -
              </div>
              <ng-template #elseBlock1> 
                {{item.contract.amc_type}}
              </ng-template>
          </td>
            <td class="datatable-center" >
              <div *ngIf="item.product == null ;else elseBlock2">
              -
              </div>
              <ng-template #elseBlock2> 
               {{item.product.product_name}}
              </ng-template>
          </td>
          <td class="datatable-center" >
            <div *ngIf="item.sub_product == null ;else elseBlock3">
            -
            </div>
            <ng-template #elseBlock3> 
             {{item.sub_product.product_sub_name}} 
            </ng-template>
        </td>
            <td>{{item.model_no}}</td>
            <td>{{item.voltage}}/{{item.sys_ah}}</td>
            <!-- <td>{{item.sys_ah}}</td> -->
            <td>{{item.segment}}</td>
            <!-- <td>{{item.serial_no}}</td> -->
            <!-- <td>{{item.expiry_day}}</td> -->
            <td>{{item.site_id}}</td>
            <td>{{item.battery_bank_id}}</td>
            <td class="datatable-center">
              <button *ngIf="item.performance_certificate == null|| item.performance_certificate == undefined" style="padding:0px;" class="btn btn-base"
                (click)="view_performance_site(perf_certi_upload_site,item.customer_code,item.site_id);">
                <i  class="fas fa-upload" aria-hidden="true"></i>           
                <!-- <img class="certificateicon" src="assets/images/certificate1.png"> -->
              </button>
  
              <button style="padding:0px;" class="btn btn-base" *ngIf="item.performance_certificate != null;else elseBlock">
                <a (click)="downloadPdf(item.customer_name,item.performance_certificate)"> <i class="fas fa-download"
                    aria-hidden="true"></i>
                </a>
              </button>
              <ng-template #elseBlock>
              </ng-template>
            </td>
            <td class="datatable-center">
              <!-- icons for view contract-->
              <!-- <button class="btn btn-base" style="padding:0px;"
                (click)="showcontract_detail(item.contract_id,view_contract);"> -->
              <button class="btn btn-base" style="padding:0px;"
                (click)="show_serial_list(item.contract_id,serialList);">
                <i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="btn btn-base" style="padding:0px;"
                (click)="show_serial_details(item.contract_id,edit_site,1)">
                <i class="fa fa-edit" aria-hidden="true"></i></button>
            </td>
          </tr>

        </tbody>
        <tfoot>

          <tr>
            <p style="color:red">{{contract_message}}</p>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-template>

<!--Modal box to edit the contract details-->
<ng-template #edit_site let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">Edit Site Details</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <!-- <ngb-tabset [justify]="currentJustify" activeId="{{activeId}}" (tabChange)="fetchNews($event)" #tab> -->

    <!-- <ngb-tab id="tab-selectbyida" title="Customer Details">
      <ng-template ngbTabContent> -->
    <form id="form_body" [formGroup]="AddressDetails" novalidate="" class="ng-untouched ng-pristine ng-valid">

      <h2>Customer info</h2>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Customer Name: </label>
            <div class="col-sm-7 col-md-7">
              <input type="text" formControlName="customer_name" class="form-control" name="customer_name"
                placeholder="Enter name" id="customer_name" maxlength="48" [disabled]="isReadonly" />
              <!-- <input type="hidden" formControlName="customer_code" class="form-control" name="customer_id"
                    placeholder="Enter name" id="customer_id" maxlength="48" /> -->
              <div
                *ngIf="add_log.customer_name.errors && (add_log.customer_name.dirty || add_log.customer_name.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.customer_name.errors.required" style="color:red">
                  Customer name {{'RAISETCKT.REQ' | translate}}
                </div>
                <div *ngIf="!AddressDetails.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}} Customer name
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              {{'RAISETCKT.CONNUMBER' | translate}}:</label>
            <div class="col-sm-7 col-md-7">
              <input type="text" formControlName="contact_number" class="form-control"
                placeholder="Enter Contact Number" name="contact_number" (change)="addContactValidation();addacontact()"
                (keypress)="numberOnly($event)" onKeyPress="if(this.value.length==10) return false;"  readonly/>
              <div
                *ngIf="add_log.contact_number.errors && (add_log.contact_number.dirty || add_log.contact_number.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.contact_number.errors.required" style="color:red">
                  {{'RAISETCKT.CONNUMBER' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
                <div *ngIf="add_log.contact_number.errors.maxlength" style="color:red">
                  {{'RAISETCKT.CONNUMBER' | translate}}
                  {{'RAISETCKT.DIGI' | translate}}</div>
                <div *ngIf="add_log.contact_number.errors.minlength" style="color:red">
                  {{'RAISETCKT.CONNUMBER' | translate}}
                  {{'RAISETCKT.DIGI' | translate}}</div>
                <div *ngIf="add_log.contact_number.errors.pattern" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.CONNUMBER' | translate}}
                </div>
              </div>
              <p style="color: red;">{{contactnum_error}}</p>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              {{'NEW_SUBSCRIPTION.ORGNAME' | translate}}: </label>
            <div class="col-sm-7 col-md-7">
              <input type="text" formControlName="alternate_number" class="form-control" id="alternate_number"
                placeholder="Enter  Organization name"   readonly/>
            </div>
            <!-- <div *ngIf="!AddressDetails.hasError('whitespace')" style="color:red">  
              {{'AUTH.VALIDATION.SPACE_VALID' | translate}}   {{'NEW_SUBSCRIPTION.ORGNAME'| translate}} 
          </div> -->
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">{{'NEW_SUBSCRIPTION.EMAIL' |
                  translate}}:</label>
            <div class="col-sm-7 col-md-7">
              <input class="form-control" formControlName="email_id" type="text" id="email_id" name="email_id"
                placeholder="Enter Email Address" (change)="addEmailValidation()" readonly/>


              <div *ngIf="add_log.email_id.errors && (add_log.email_id.dirty || add_log.email_id.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.email_id.errors.required" style="color:red">
                  {{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                  {{'USER.REQ' | translate}} </div>
                <div *ngIf="add_log.email_id.errors.pattern" style="color:red">
                  {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.EMAIL' | translate}}
                </div>

              </div>
              <p style="color: red;">{{email_error}}</p>

            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Sap Reference Number:</label>
            <div class="col-sm-7 col-md-7">
              <input class="form-control" formControlName="sap_reference_number" type="text" id="sap_reference_number"
                name="sap_reference_number" placeholder="Enter SAP Address" (change)="addareference($event)" readonly />
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- <mat-divider></mat-divider> -->

      <h2>Site Address Info</h2>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Site Id: </label>
            <div class="col-sm-7 col-md-7">
              <input type="text" class="form-control" name="site_id" placeholder="Enter Site Id"
                formControlName="site_id" id="site_id" maxlength="48" (change)="addasite($event)" readonly/>
              <!-- <div
                    *ngIf="add_log.site_id.errors && (add_log.site_id.dirty || add_log.site_id.touched)"
                    class="m-b-10 error">
                    <div *ngIf="!AddressDetails.hasError('whitespace')" style="color:red">  
                      {{'AUTH.VALIDATION.SPACE_VALID' | translate}}  Site id
                  </div>
                  </div> -->
            </div>
          </div>
        </div>
        <br>

        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Contact person Name: </label>
            <div class="col-sm-7 col-md-7">
              <input type="text" class="form-control" name="contact_person_name" placeholder="Enter Name"
                formControlName="contact_person_name" id="contact_person_name" maxlength="48" />
              <div
                *ngIf="add_log.contact_person_name.errors && (add_log.contact_person_name.dirty || add_log.contact_person_name.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.contact_person_name.errors.required" style="color:red">
                  {{'RAISETCKT.CONPERNUM' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
                <div *ngIf="!AddressDetails.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.CONPERNUM' | translate}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Contact person Number: </label>
            <div class="col-sm-7 col-md-7">
              <input type="text" formControlName="contact_person_number" class="form-control" id="contact_person_number"
                placeholder="Enter Contact Number" name="contact_person_number" (change)="addacontact()"
                onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)" />

              <div
                *ngIf="add_log.contact_person_number.errors && (add_log.contact_person_number.dirty || add_log.contact_person_number.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.contact_person_number.errors.required" style="color:red">
                  Contact person Number {{'RAISETCKT.REQ' | translate}}
                </div>
                <div *ngIf="add_log.contact_person_number.errors.maxlength" style="color:red">
                  Contact person Number
                  {{'RAISETCKT.DIGI' | translate}}</div>
                <div *ngIf="add_log.contact_person_number.errors.minlength" style="color:red">
                  Contact person Number
                  {{'RAISETCKT.DIGI' | translate}}</div>
                <div *ngIf="add_log.contact_person_number.errors.pattern" style="color:red">
                  {{'VALIDATION.SPACE_VALID' | translate}} Contact person Number
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Plot Number:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="plot_number" type="text" class="form-control"
                placeholder="{{'NEW_SUBSCRIPTION.ENTER_DOPLO' | translate}}" />
              <div *ngIf="add_log.plot_number.errors && (add_log.plot_number.dirty || add_log.plot_number.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.plot_number.errors.required" style="color:red">{{'USER.PLONO' | translate}}
                  {{'USER.REQ' | translate}} </div>
                <div *ngIf="add_log.plot_number.errors.pattern" style="color:red">{{'USER.PLONO' | translate}}
                  {{'NEW_SUBSCRIPTION.SHO' | translate}} </div>
                <div *ngIf="!AddressDetails.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'USER.PLONO' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STRS' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="street" type="text" class="form-control"
                placeholder="{{'NEW_SUBSCRIPTION.ENTER_STR' | translate}}" />
              <div *ngIf="add_log.street.errors && (add_log.street.dirty || add_log.street.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.street.errors.required" style="color:red">
                  {{'NEW_SUBSCRIPTION.ENTER_STR' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
                <div *ngIf="!AddressDetails.hasError('whitespace')" style="color:red">
                  {{'AUTH.VALIDATION.SPACE_VALID' | translate}} {{'RAISETCKT.STRS' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!-- label for Landmark -->
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              {{'RAISETCKT.LAND' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="landmark" type="text" class="form-control"
                placeholder="{{'NEW_SUBSCRIPTION.ENTER_LAND' | translate}}">
              <div *ngIf="add_log.landmark.errors && (add_log.landmark.dirty || add_log.landmark.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.landmark.errors.required" style="color:red">
                  {{'RAISETCKT.LAND' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <!-- label for Country -->
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.COUNTRY' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">
              <input type="text" class="form-control" 
              value="India"   readonly/>
              <select formControlName="country_id" class="form-control" (change)="onChangeCountry($event.target.value)"
                disabled style="display: none;">
                <option value="null">--Select Country--</option>
                <option *ngFor="let items of country" [value]=items.country_id>
                  {{items.country_name}}</option>

              </select>
              <div *ngIf="add_log.country_id.errors && (add_log.country_id.dirty || add_log.country_id.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.country_id.errors.required" style="color:red">
                  {{'RAISETCKT.COUNTRY' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!-- label for State-->
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.STATE' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="state_id" class="form-control" (change)="onChangeState($event.target.value)">
                <option value="null">--Select State-- </option>
                <option *ngFor="let items of states" [value]=items.state_id>
                  {{items.state_name}}</option>
              </select>

              <div *ngIf="add_log.state_id.errors && (add_log.state_id.dirty || add_log.state_id.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.state_id.errors.required" style="color:red">
                  {{'RAISETCKT.STATE' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <!-- label for City-->
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.CITY' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="city_id" class="form-control" (change)="onChangecity($event.target.value)">
                <option value="null">--Select District-- </option>
                <option *ngFor="let items of cities" [value]=items.city_id>
                  {{items.city_name}}</option>
              </select>
              <div *ngIf="add_log.city_id.errors && (add_log.city_id.dirty || add_log.city_id.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.city_id.errors.required" style="color:red">
                  {{'RAISETCKT.CITY' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <!-- label for Location-->
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">{{'RAISETCKT.LOCATION' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="location_id" class="form-control">
                <option value="null">--Select Location-- </option>
                <option *ngFor="let items of locations" [value]=items.location_id>
                  {{items.location_name}}</option>
              </select>
              <div *ngIf="add_log.location_id.errors && (add_log.location_id.dirty || add_log.location_id.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.location_id.errors.required" style="color:red">
                  {{'RAISETCKT.LOCATION' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              {{'RAISETCKT.POSCODE' | translate}}:
            </label>
            <div class="col-sm-7 col-md-7">

              <input formControlName="post_code" type="text" class="form-control" name="post_code" id="post_code"
                placeholder="{{'NEW_SUBSCRIPTION.ENTER_POSCODE' | translate}}"
                onKeyPress="if(this.value.length==6) return false;" (keypress)="numberOnly($event)" />
              <div *ngIf="add_log.post_code.errors && (add_log.post_code.dirty || add_log.post_code.touched)"
                class="m-b-10 error">
                <div *ngIf="add_log.post_code.errors.required" style="color:red">
                  {{'RAISETCKT.POSCODE' | translate}}
                  {{'RAISETCKT.REQ' | translate}} </div>
                <div *ngIf="add_log.post_code.errors.maxlength" style="color:red">
                  {{'RAISETCKT.POSCODE' | translate}}
                  {{'RAISETCKT.MUST' | translate}}</div>
                <div *ngIf="add_log.post_code.errors.minlength" style="color:red">
                  {{'RAISETCKT.POSCODE' | translate}}
                  {{'RAISETCKT.MUST' | translate}}</div>
                <div *ngIf="add_log.post_code.errors.pattern" style="color:red">
                  {{'NEW_SUBSCRIPTION.VALID' | translate}}
                  {{'RAISETCKT.POSCODE' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="submit" (click)="edit_contract_details(contract_table)"
          class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
          >{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
          <!-- [disabled]=!AddressDetails.valid -->
        <!-- button for close -->
      </div>
    </form>
    <!-- </ng-template>
    </ngb-tab>
  </ngb-tabset> -->

  </div>

  <!-- <div class="modal-footer">
    <button type="submit" (click)="edit_contract_details(view_contract);d('Close click')"
      class="btn btn-outline-success btn-sm btn-pill custom-btn disabledsubmit"
      [disabled]=!AddressDetails.valid>{{'PACKAGE_PLAN.UPDATE' | translate}}</button>
  </div> -->
</ng-template>

<!--Modal box to edit the contract details-->
<ng-template #view_contract let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'CUSTOMER.VIEWCO' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">

    <!-- <ngb-tabset [justify]="currentJustify" #t="ngbTabset" activeId="{{activeId}}" (tabChange)="fetchNews($event)"> -->
      <!-- <ngb-tab title="{{'CUSTOMER.COND' | translate}}" id="tab-selectbyida">

        <ng-template ngbTabContent> -->
<!-- {{contract_details_view.alternate_number}} -->
          <!-- <div class="row">

            <div class="col-lg-5">
              <label>{{'CUSTOMER.CONTRACT' | translate}}:</label>

            </div>
            <div class="col-lg-7">
              {{contract_detail.contract.contract_type}}

            </div>

          </div>
          <br> -->

          <!-- <div class="row">
            <div class="col-lg-5">
              <label class="control-label">
                {{'CUSTOMER.DURATION' | translate}}:</label>
            </div>
            <div class="col-lg-7">
              {{contract_detail.contract_duration}}
            </div>
          </div>
          <br> -->

          <!-- <div class="row">
            <div class="col-lg-5">
              <label class="control-label"> {{'CUSTOMER.MONUM' | translate}}:</label>
            </div>
            <div class="col-lg-7">
              {{contract_detail.model_no}}
            </div>
          </div>
          <br> -->
<!-- 
          <div class="row">
            <div class="col-lg-5">
              <label class="control-label"> {{'CUSTOMER.SELNO' | translate}}:</label>
            </div>
            <div class="col-lg-7">
              {{contract_detail.serial_no}}
            </div>
          </div>
          <br> -->
          <!-- <div class="row">
            <div class="col-lg-5">
            
              <label>{{'CUSTOMER.PRODUCT' | translate}}:</label>
            </div>
            <div class="col-lg-7">
              {{contract_detail.product.product_name}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
              
              <label>{{'CUSTOMER.SUBPRODUCT' | translate}}:</label>
            </div>
            <div class="col-lg-7">
              {{contract_detail.sub_product.product_sub_name}}

            </div>
          </div>
          <br> -->
          <!-- <div class="kt-form-actions">
          
            <div class="text-center">
              <button class="btn btn-outline-info  btn-pill btn-sm custom-btn" data-ktwizard-type="action-next"
                (click)="previous1()">{{'NEW_SUBSCRIPTION.NEXT_STEP' |
                                translate}}</button>



            </div>
          </div>
        </ng-template>
      </ngb-tab> -->
      <!-- <ngb-tab title="{{'CUSTOMER.CONL' | translate}}" id="tab-selectbyidb">
        <ng-template ngbTabContent> -->

          <div class="row">
            <div class="col-lg-6">
                <div class="row">
                <div class="col-lg-5">
                    <label class="control-label"> {{'USER.PLONO' | translate}}:</label>
                  </div>
                  <div class="col-lg-7 txt_clr">
                    {{contract_details_view.plot_number}}
                  </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                <div class="col-lg-5">

                    <label class="control-label"> {{'NEW_SUBSCRIPTION.STR' | translate}}:</label>
                  </div>
      
                  <div class="col-lg-7 txt_clr">
      
                    {{contract_details_view.street}}
                  </div>
                  </div>
              </div>
        
          </div>
          <br>

          <!-- <div class="row">
           
          </div>
          <br> -->

          <div class="row">
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-lg-5">
                          <label class="control-label"> {{'CUSTOMER.LAND' | translate}}:</label>
                        </div>
                        <div class="col-lg-7 txt_clr">
                          {{contract_details_view.landmark}}
                        </div>
                    </div>
              </div>
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-lg-5">

                          <label class="control-label"> {{'CUSTOMER.POSCODE' | translate}}:</label>
                        </div>
                        <div class="col-lg-7 txt_clr">
            
                          {{contract_details_view.post_code}}
                        </div>
                    </div>
              </div>
          
          </div>
          <br>          

          <div class="row">
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-lg-5">
                          <!-- label for country -->
                          <label class="control-label">{{'CUSTOMER.COUNTRY' | translate}}:</label>
                        </div>
                        <div class="col-lg-7 txt_clr">
                          {{contract_details_view.country.country_name}}
                        </div>
                    </div>
              </div>
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-lg-5">
                          <!-- labekl for state -->
                          <label class="control-label">{{'CUSTOMER.STATE' | translate}}:</label>
                        </div>
                        <div class="col-lg-7 txt_clr">
                          {{contract_details_view.state.state_name}}
                        </div>
                    </div>
              </div>
      
          </div>
          <br>        
          <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-5">
                        <!-- label for city -->
                        <label class="control-label">{{'CUSTOMER.CITY' | translate}}:</label>
                      </div>
                      <div class="col-lg-7 txt_clr">
                        {{contract_details_view.city.city_name}}
                      </div>
                </div>
            </div>
           
          </div>
          <br>
          <div class="modal-footer">


            <div class="text-center">
              <!-- buttn for next step -->
              <button  (click)="d('Close click')"
              class="btn btn-outline-red btn-sm btn-pill custom-btn disabledsubmit">Cancel</button>
              <!-- <button class="btn btn-outline-info  btn-pill btn-sm custom-btn disabledsubmit"
                data-ktwizard-type="action-next" (click)="previous()">{{'NEW_SUBSCRIPTION.PREVIOUS' |
                                translate}}</button> -->



            </div>

          </div>

        <!-- </ng-template>
      </ngb-tab>
    </ngb-tabset> -->

  </div>
</ng-template>
<!--Modal box to view the customer details-->
<ng-template #view_customer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'CUSTOMER.VIEWC' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="form-group ">
        <label class="col-sm-5 control-label" for="inputEmail3">{{'CUSTOMER.NAME' | translate}}:</label>
        <div class="col-sm-7 txt_clr" style="float: right;">{{customer_detail.customer_name}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label" for="inputEmail3">{{'NEW_SUBSCRIPTION.EMAIL' |
                    translate}}:</label>
        <div class="col-sm-7 txt_clr" style="float: right;">{{customer_detail.email_id}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label" for="inputEmail3">{{'CUSTOMER.CONNUMBER' |
                    translate}}:</label>
        <div class="col-sm-7  txt_clr" style="float: right;">{{customer_detail.contact_number}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label" for="inputEmail3">{{'NEW_SUBSCRIPTION.ORGNAME' |
                    translate}}:</label>
        <div class="col-sm-7  txt_clr" style="float: right;">{{customer_detail.alternate_number}}
        </div>
      </div>


    </form>


  </div>

</ng-template>

<!-- Dialog for bulk upload -->
<ng-template #email_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'CUSTOMER.CUSLOG' | translate}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

      <form class="custom-forms ng-untouched ng-pristine ng-valid" action="#" id="cust_data" method="POST"
        novalidate="novalidate" [formGroup]="EmailGroup">
        <div class="col-lg-10 mx-auto">
        <input type="email_id" class="form-control" name="email_id" formControlName="email_id"
          [readonly]="!value_disabled">
        <div *ngIf="emaillog.email_id.errors && (emaillog.email_id.dirty || emaillog.email_id.touched)"
          class="m-b-10 error">
          <div *ngIf="emaillog.email_id.errors.required" style="color:red">
            {{'NEW_SUBSCRIPTION.EMAIL' | translate}}
            {{'USER.REQ' | translate}}
          </div>
          <div *ngIf="emaillog.email_id.errors.pattern" style="color:red">
            {{'NEW_SUBSCRIPTION.VALID' | translate}} {{'NEW_SUBSCRIPTION.EMAIL' | translate}}</div>
        </div>
      </div>
      </form>
    

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    <div *ngIf="login_flag == 0;else elseBlock">
      <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
        class="btn btn-outline-success btn-sm btn-pill custom-btn" [disabled]=!EmailGroup.valid
        (click)="generate_customer_login()">{{'AUTH.GENERAL.SUBMIT_BUTTON'| translate}}</button>
    </div>
    <ng-template #elseBlock>
      <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
        class="btn btn-outline-success btn-sm btn-pill custom-btn" [disabled]=!EmailGroup.valid
        (click)="generate_customer_login()">Reset Password</button>
    </ng-template>
  </div>
</ng-template>





<!-- Dialog for bulk upload -->
<ng-template #perf_certi_upload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload performance certificate </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- <form class="custom-forms ng-untouched ng-pristine ng-valid" action="#" id="cust_data" method="POST"
            novalidate="novalidate" [formGroup]="UploadCertificate"> -->
    <div class="custom-file mb-3">
      <!-- browse logo -->
      <!-- <input type="file" class="custom-file-input" (change)="certificateUpload($event)"
                    formControlName="performance_certificate" name="com_logo" id="com_logo" /> -->
      <input type="file" class="custom-file-input" (change)="certificateUpload($event)" name="com_logo" id="com_logo" />
      <label *ngIf="!ByDefault1" class="custom-file-label" for="customFile">Choose file</label>
      <label *ngIf="ByDefault1" class="custom-file-label" for="customFile">{{video_word_name}}</label>
    </div>
    <p style="color: red;">{{error_type}}</p>
    <!-- </form> -->
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
      class="btn btn-outline-success btn-sm btn-pill custom-btn" [disabled]="!upload_disable"
      (click)="perfr_cert_upload(myInput)">{{'CUSTOMER.UPLOAD'| translate}}</button>



  </div>

</ng-template>
<!-- Dialog for bulk upload -->
<ng-template #perf_certi_upload_site let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload performance certificate </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- <form class="custom-forms ng-untouched ng-pristine ng-valid" action="#" id="cust_data" method="POST"
            novalidate="novalidate" [formGroup]="UploadCertificate"> -->
    <div class="custom-file mb-3">
      <!-- browse logo -->
      <!-- <input type="file" class="custom-file-input" (change)="certificateUpload($event)"
                    formControlName="performance_certificate" name="com_logo" id="com_logo" /> -->
      <input type="file" class="custom-file-input" (change)="certificateUpload($event)" name="com_logo" id="com_logo" />
      <label *ngIf="!ByDefault1" class="custom-file-label" for="customFile">Choose file</label>
      <label *ngIf="ByDefault1" class="custom-file-label" for="customFile">{{video_word_name}}</label>
    </div>
    <p style="color: red;">{{error_type}}</p>
    <!-- </form> -->
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red btn-sm btn-pill custom-btn"
      (click)="c('Close click')">{{'NEW_SUBSCRIPTION.CANCEL'| translate}}</button>
    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--info': loadingBulk}"
      class="btn btn-outline-success btn-sm btn-pill custom-btn" [disabled]="!upload_disable"
      (click)="perfr_cert_upload_site(myInput)">{{'CUSTOMER.UPLOAD'| translate}}</button>



  </div>

</ng-template>

<!--Modal box to view the customer details-->
<ng-template #serialList let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">Warranty Details</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">

    <div class="table-responsive">

      <table datatable="ng" *ngIf="showTable" [dtOptions]="dtOptions1"
        class="table table-striped table-bordered table-sm row-border hover datatable">

        <thead>
          <!-- columns for  table -->
          <tr>
            <th class="kt-footer kt-container max-tables">{{'CUSTOMER.ID' | translate}}</th>
            <!-- <th style="width: 15%;" class="kt-footer kt-container">{{'RAISETCKT.BBID' | translate}}</th> -->
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.PROC' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.SUBC' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.MONUM' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.SELNO' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.CONTYPE' | translate}}</th>
            <th style="width: 10%;" class="kt-footer kt-container">{{'RAISETCKT.VOLTAGE' | translate}}/{{'RAISETCKT.SYSAH' | translate}}</th>
            <!-- <th style="width: 10%;" class="kt-footer kt-container">{{'RAISETCKT.SYSAH' | translate}}</th> -->
            <th style="width: 10%;" class="kt-footer kt-container">{{'MENU.SEG' | translate}}</th>
            <th style="width: 15%;" class="kt-footer kt-container">{{'CUSTOMER.END' | translate}}</th>
            <th class="kt-footer kt-container max-tables">{{'NEW_SUBSCRIPTION.ACTION' | translate}}</th>
          </tr>
        </thead>

        <tbody>
          <!-- values from the api.For loop to populate the datas -->
          <tr *ngFor="let item of battery_bank_details;let i=index">

            <td class="datatable-center">{{i+1}}</td>
            <!-- <td>{{item.battery_bank_id}}</td> -->
            <td>{{item.product.product_name}} </td>
            <td>{{item.subproduct.product_sub_name}} </td>
            <td>{{item.model.model}}</td>
            <td>{{item.serial_no}}</td>
            <td>{{item.warranty.warranty_type}}</td>
            <td>{{item.voltage}}/{{item.sys_ah}}</td>
            <!-- <td>{{item.sys_ah}}</td> -->
            <td>{{item.segment}}</td>
            <td>{{item.expiry_date}}</td>
            <td class="datatable-center">
              <!-- icons for view contract-->
              <!-- <button class="btn btn-base" style="padding:0px;"
                (click)="showcontract_detail(item,view_contract);">
                <i class="fa fa-eye" aria-hidden="true"></i></button> -->
              <button class="btn btn-base" style="padding:0px;" (click)="edit_serial_details(item,edit_serial,2,i+1)">
                <i class="fa fa-edit" aria-hidden="true"></i></button>
            </td>
          </tr>
 
        </tbody>
        <tfoot>

          <tr>
            <p style="color:red">{{contract_message}}</p>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #edit_serial let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- title for renew -->
    <h4 class="modal-title">{{'CUSTOMER.EDITSERIAL' | translate}}</h4>
    <!-- icon for close -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- body begin -->
  <div class="modal-body">
    <form id="form_body" [formGroup]="SerialDetails" novalidate="" class="ng-untouched ng-pristine ng-valid">

      <!-- <form id="form_body" novalidate="" class="ng-untouched ng-pristine ng-valid"> -->
      <div class="row" *ngIf="type=='Enable'">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Battery Bank Id:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="battery_bank_id" type="text" class="form-control" placeholder="Enter Battery Bank Id"
                readonly />
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Serial Number:
            </label>
            <div class="col-sm-7 col-md-7">
              <div class="input-group">
                <input formControlName="serial_no" type="text" class="form-control" placeholder="Enter serial number" />

                <button type="button" class="btn btn-primary input-group-append" (click)="extractSerialnumber(serial_no)">{{'RAISETCKT.GO' |
                                translate}}</button>
              </div>
              <div
                *ngIf="serial_log.serial_no.errors && (serial_log.serial_no.dirty || serial_log.serial_no.touched)"
                class="m-b-10 error">
                <div *ngIf="serial_log.serial_no.errors.required" style="color:red">
                  {{'RAISETCKT.P_SERIAL' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
                <p style="color: red;">{{serial_error}}</p>
               
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Manufacturing Date:
            </label>
            <div class="col-sm-7 col-md-7">

              <div class="input-group date">
                <input formControlName="mfg_date" [readonly]="true" class="form-control"
                  placeholder="Select Manufacturing Date" ngbDatepicker #td="ngbDatepicker"
                  (ngModelChange)='onChangeMFGSite($event)'>
                <div class="input-group-append">

                  <button class="btn btn-primary" (click)="td.toggle();onchangeMdate($event.target.value)"
                    type="button">
                    <i class="la la-calendar"></i>
                  </button>
                </div>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
              <!-- <div class="input-group date">
                <input formControlName="mfg_date" type="text" class="form-control" placeholder="Select Manufacturing Date">


              </div> -->
            </div>
          </div>
         
        </div>
        <br>

      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Product Category: </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="product_id" (change)="onChangeProduct($event.target.value)" class="form-control">
                <option value="null">--Select product--</option>
                <option *ngFor="let items of product; let i=index" [value]=items.product_id>
                  {{items.product_name}}
                </option>
              </select>
              <div *ngIf="serial_log.product_id.errors && (serial_log.product_id.dirty || serial_log.product_id.touched)"
                class="m-b-10 error">
                <div *ngIf="serial_log.product_id.errors.required" style="color:red">
                  {{'RAISETCKT.PRODUCT' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
      
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              SubProduct Category: </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="product_sub_id" (change)="getmodel($event.target.value)" class="form-control">
                <option value="null">--Select subproduct--</option>
                <option *ngFor="let items of subproducts_data; let i=index" [value]=items.product_sub_id>
                  {{items.product_sub_name}}
                </option>
              </select>
              <div
                *ngIf="serial_log.product_sub_id.errors && (serial_log.product_sub_id.dirty || serial_log.product_sub_id.touched)"
                class="m-b-10 error">
                <div *ngIf="serial_log.product_sub_id.errors.required" style="color:red">
                  {{'RAISETCKT.SUBPRODUCT' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <br>

      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
        <div class="row">
          <label class="control-label col-md-5 col-sm-5">
            Item Code </label>
          <div class="col-sm-7 col-md-7">
            <select formControlName="model_no" class="form-control" (change)="getwarrantyproduct($event.target.value,2)">
              <option value="null">--Select Item Code--</option>
              <option *ngFor="let items of model_id; let i=index" [value]=items.model_id>
                {{items.model}}
              </option>
            </select>
            <div *ngIf="serial_log.model_no.errors && (serial_log.model_no.dirty || serial_log.model_no.touched)"
              class="m-b-10 error">
              <div *ngIf="serial_log.model_no.errors.required" style="color:red">
                {{'RAISETCKT.MODEL_NO' | translate}} {{'RAISETCKT.REQ' | translate}}
              </div>
            
            </div>

          </div>
        </div>
        </div>
        <br>

        <div class="col-md-6">
          <!-- <div class="col-md-6"> -->
            <div class="row">
              <label class="control-label col-md-5 col-sm-5">
                Sys AH:
              </label>
              <div class="col-sm-7 col-md-7">
                <input formControlName="sys_ah" type="text" class="form-control" placeholder="Enter System AH" />
                <div *ngIf="serial_log.sys_ah.errors && (serial_log.sys_ah.dirty || serial_log.sys_ah.touched)"
                  class="m-b-10 error">
                  <div *ngIf="serial_log.sys_ah.errors.required" style="color:red">
                    {{'RAISETCKT.SYSAH' | translate}} {{'RAISETCKT.REQ' | translate}}
                  </div>
                
                </div>
              </div>
            </div>
          <!-- </div> -->
         
        </div>
      </div>


      <br>

      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Warranty type:
            </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="warranty_type_id" (change)="duration($event.target.value)" class="form-control">
                <option value="null">--Select Warranty type--</option>
                <option *ngFor="let items of warranty_type; let i=index" [value]=items.warranty_id>
                  {{items.warranty_type}}
                </option>
              </select>
              <div
                *ngIf="serial_log.warranty_type_id.errors && (serial_log.warranty_type_id.dirty || serial_log.warranty_type_id.touched)"
                class="m-b-10 error">
                <div *ngIf="serial_log.warranty_type_id.errors.required" style="color:red">
                  {{'PRODUCTMASTER.WARRENTY' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Segment:
            </label>
            <div class="col-sm-7 col-md-7">
              <select (change)="getapplication($event.target.value)" formControlName="segment_id" class="form-control">
                <option value="null">--Select Segment--</option>
                <option *ngFor="let items of segment; let i=index" [value]=items.segment_id>
                  {{items.segment_name}}
                </option>
              </select>
              <div *ngIf="serial_log.segment_id.errors && (serial_log.segment_id.dirty || serial_log.segment_id.touched)"
                class="m-b-10 error">
                <div *ngIf="serial_log.segment_id.errors.required" style="color:red">
                  {{'SEG.SEGNAME' | translate}} {{'RAISETCKT.REQ' | translate}}
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <br>
      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Application:
            </label>
            <div class="col-sm-7 col-md-7">
              <select formControlName="application_id" class="form-control">
                <option value="null">--Select Application--</option>
                <option *ngFor="let items of application; let i=index" [value]=items.application_id>
                  {{items.application_name}}
                </option>
              </select>
          
            </div>
          </div>
        
        </div>
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Organization Name:
            </label>
            <div class="col-sm-7 col-md-7">
             
              <input formControlName="organization_name" type="text" class="form-control" name="organization_name"
                id="organization_name" placeholder="Enter  Organization name" />
             
            </div>
          </div>
         
        </div>
      </div>
      <br>
      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Invoice Number:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="invoice_number" type="text" class="form-control" name="invoice_number"
                id="invoice_number" placeholder="Enter Invoice Number" />
            
            </div>
          </div>
        </div>
        <br>

        <div class="col-md-6">
          <div class="row ">
            <label class="control-label col-md-5 col-sm-5">Warranty Duration :
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="contract_duration" type="text" class="form-control" placeholder={{labelwarranty}}
                readonly />

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <br>
        <!-- <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Invoice Date:
            </label>
            <div class="col-sm-7 col-md-7">

              <div class="input-group date">
                <input formControlName="invoice_date" type="text" class="form-control" 
                  placeholder="Select Invoice Date" ngbDatepicker #df="ngbDatepicker">
                <div class="input-group-append">

                  <button class="btn btn-primary" (click)="df.toggle()" type="button">
                    <i class="la la-calendar"></i>
                  </button>
                </div>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>

              </div>
            </div>
          </div>
        </div> -->
        <br>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">
              Expire Date:
            </label>
            <div class="col-sm-7 col-md-7">
              <!-- <input formControlName="expiry_day" type="text" class="form-control" placeholder="Select Expire Date"> -->
              <div class="input-group date">
                <input formControlName="expiry_day" type="text" class="form-control" 
                  placeholder="Select Expiry Date" ngbDatepicker #dfe="ngbDatepicker">
                <div class="input-group-append">

                  <button class="btn btn-primary" (click)="dfe.toggle()" type="button">
                    <i class="la la-calendar"></i>
                  </button>
                </div>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Voltage:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="voltage" type="text" class="form-control" placeholder="Enter voltage" />

            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="control-label col-md-5 col-sm-5">Voltage:
            </label>
            <div class="col-sm-7 col-md-7">
              <input formControlName="voltage" type="text" class="form-control" placeholder="Enter voltage" />

            </div>
          </div>
        </div>
      </div> -->

      <br>

 
    </form>
  </div>
  <div class="modal-footer">
    <div class="text-center">
      <div class="row">
        <div class="">
          <button class="btn btn-outline-success btn-sm btn-pill ml-2 custom-btn"
          [disabled]="!SerialDetails.valid"  (click)=update_serial(serialList)>Update</button>
        </div>
      </div>

    </div>
  </div>
  </ng-template>