// .form-control{
//     width: 35%;
// }
.kt-heading.kt-heading--md.product-head {
    margin-top: -13px;
    margin-left: 9px;
}
button.btn.btn-info.pull-right {
    margin-top: -53px;
    margin-right: 11px;
}
.tablewidth{
    width:13%;
}
.kt-separator {
    height: 0;
    margin: 0px;
    margin-top: -7px;
}
// .form-control{
//     width: 18%;
//     display: inline-block;
//     float: right;
//     // margin-top: 2px;
// }
// button {
//     // background: #5d78ff;
//     color: #fff;
//     // border: 1px solid;
//     // border-radius: 4px;
// }
 .portlet__body{
     padding: 11px;
 }
 .refereditinline{
    display:inline !important;
}
.textleft{
    text-align: left !important;
}
.checkedtable{
    text-align:center;
    width:2%;
}
.textcentercheckbox{
    text-align:center;
}
.labelaligncenter{
    display:flex;
    align-items: center;
}
#problem_desc{
     resize:none;
}
.txt_clr{
    color:black;
}