body {
   /* background-color: #ccc; */
}
.container-fluid {
    border: 1px solid #aaa;
    margin: 10px;
}
.routeSelectDark {
   background-color: #ccc;
}
.col-sm-2 {
    height: 50px;           
}
.col-sm-3 {  
    height: 50px;        
}
.col-sm-6 { 
    height: 50px;          
}
.col-sm-8 {  
    height: 50px;          
}
.col-sm-10 {
    height: 50px;           
}
#toplogo {
    padding-top: 10px;
}
#messages {
    padding-top: 19px;
    text-align: right;
    margin: 0px 0px 10px 0px;     
}
#routeSelect {
    width: 100%;
    color: #000;
    margin-bottom:5px;
    /* background-color: #ccc; */
}
#autorefresh {
    width: 100%;  
    margin-bottom:5px;
}
#delete {
    width: 100%;                
    margin-bottom:5px;
}
#refresh {
    width: 100%;   
    margin-bottom:5px;
}
#viewall {
    width: 100%;   
    margin-bottom:5px;
}
.deletediv {
    text-align: center;
}
.autorefreshdiv {
    text-align: center;
}
.refreshdiv {
    text-align: center;
}
.viewalldiv {
    text-align: center;
}
@media only screen and (min-width : 768px) {
    .container {
        margin-top: 25px;
    }

    .deletediv {
        text-align: left;
    }
    .autorefreshdiv {
        text-align: center;
    }

    .refreshdiv {
        text-align: center;
    }
    
    .viewalldiv {
        text-align: right;
    }    
}      
#map-canvas {
    border: 1px solid #000;
    width: 100%;
    height: 460px;    
}
#mapdiv { 
    height: 475px;
}
#selectdiv {
       margin-bottom: 10px;
}
#halimage {
    vertical-align:middle;
    width: 184px;
    height: 37px;
    margin-bottom: 5px;
}

/*New page styles */  
.tickets-data {
min-height: 110px;
text-align: right;
color:#fff;
padding-top: 26px;
}
.page-details {
margin-bottom:85px;
}
.text-data {
    margin-right: 10px;
    font-size: 16px;
}
.data-count1 {
    font-size: 27px;
    margin-right: 10px;
    font-weight: bold;
}
.blue { background-color:#3598dc; }
.red { background-color:#e7505a; }
.green { background-color:#32c5d2; }
.purple { background-color:#8E44AD }











